﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<AgencyLocation>" %>
<%= Html.Hidden("Id", Model.Id, new { @id = "Edit_AgencyInfo_Id" })%>
<fieldset>
    <legend>Location</legend>
    <div class="column">
        <div class="row"><label for="Edit_AgencyInfo_Name" class="float-left">Name</label><div class="fr"><%=Html.TextBox("Name", Model.Name, new { @id = "Edit_AgencyInfo_Name", @class = "required", @maxlength = "50" })%></div></div>
        <div class="row"><label for="Edit_AgencyInfo_AddressLine1" class="float-left">Address Line 1</label><div class="fr"><%= Html.TextBox("AddressLine1", Model.AddressLine1.IsNotNullOrEmpty() ? Model.AddressLine1 : string.Empty, new { @id = "Edit_AgencyInfo_AddressLine1", @maxlength = "75" }) %></div></div>
        <div class="row"><label for="Edit_AgencyInfo_AddressLine2" class="float-left">Address Line 2</label><div class="fr"><%= Html.TextBox("AddressLine2", Model.AddressLine2.IsNotNullOrEmpty() ? Model.AddressLine2 : string.Empty, new { @id = "Edit_AgencyInfo_AddressLine2", @maxlength = "75" })%></div></div>
        <div class="row"><label for="Edit_AgencyInfo_AddressCity" class="float-left">City</label><div class="fr"><%= Html.TextBox("AddressCity", Model.AddressCity.IsNotNullOrEmpty() ? Model.AddressCity : string.Empty, new { @id = "Edit_AgencyInfo_AddressCity", @maxlength = "75" })%></div></div>
        <div class="row"><label for="Edit_AgencyInfo_AddressStateCode" class="float-left">State, Zip</label><div class="fr"><%= Html.LookupSelectList(SelectListTypes.States, "AddressStateCode", Model.AddressStateCode.IsNotNullOrEmpty() ? Model.AddressStateCode : string.Empty, new { @id = "Edit_AgencyInfo_AddressStateCode", @class = "state" })%><%= Html.TextBox("AddressZipCode", Model.AddressZipCode.IsNotNullOrEmpty() ? Model.AddressZipCode : string.Empty, new { @id = "Edit_AgencyInfo_AddressZipCode", @class = "text numeric input_wrapper zip", @maxlength = "9" })%></div></div>
    </div><div class="column">
        <div class="row"><label for="Edit_Location_PhoneArray1" class="float-left">Primary Phone</label><div class="fr"><%=Html.TextBox("PhoneArray", Model.PhoneWork.IsNotNullOrEmpty()&& Model.PhoneWork.Length>=3 ? Model.PhoneWork.Substring(0, 3) : "", new { @id = "Edit_Location_PhoneArray1", @class = "numeric required phone-short", @maxlength = "3" })%>&nbsp;-&nbsp;<%=Html.TextBox("PhoneArray", Model.PhoneWork.IsNotNullOrEmpty() && Model.PhoneWork.Length >= 6 ? Model.PhoneWork.Substring(3, 3) : "", new { @id = "Edit_Location_PhoneArray2", @class = "numeric required phone-short", @maxlength = "3" })%>&nbsp;-&nbsp;<%=Html.TextBox("PhoneArray", Model.PhoneWork.IsNotNullOrEmpty() && Model.PhoneWork.Length >= 10 ? Model.PhoneWork.Substring(6, 4) : "", new { @id = "Edit_Location_PhoneArray3", @class = "numeric required phone-long", @maxlength = "4" })%></div></div>
        <div class="row"><label for="Edit_Location_FaxNumberArray1" class="float-left">Fax Number</label><div class="fr"><%=Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() && Model.FaxNumber.Length >= 3 ? Model.FaxNumber.Substring(0, 3) : "", new { @id = "Edit_Location_FaxNumberArray1", @class = "numeric phone-short", @maxlength = "3" })%>&nbsp;-&nbsp;<%=Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() && Model.FaxNumber.Length >= 6 ? Model.FaxNumber.Substring(3, 3) : "", new { @id = "Edit_Location_FaxNumberArray2", @class = "numeric phone-short", @maxlength = "3" })%>&nbsp;-&nbsp;<%=Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() && Model.FaxNumber.Length >= 10 ? Model.FaxNumber.Substring(6, 4) : "", new { @id = "Edit_Location_FaxNumberArray3", @class = "numeric phone-long", @maxlength = "4" })%></div></div>
    </div>
</fieldset>