﻿#messagingContainer{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.clear{clear:both;float:none;height:0;}
.bold,.false{font-weight:bold;}
.normal,.true,div.messageBodyContainer span{font-weight:normal;}
.inboxSubHeader{padding:1px 5px;background:url(/Images/gradients.png) repeat-x 0 -200px;height:28px;}
.inboxSubHeader span{font-size:14px;line-height:24px;font-weight:bold;color:#10428c;}
.recipientPanel div.recipient{border-bottom:solid 1px #ccc;overflow:hidden;padding:3px;}
/* NEW SYSTEM MESSAGE CONTENT */
.newMessageContent{background-color:#d6e5f3;height: 125px;vertical-align:top;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.newMessageContentPanel{margin-left:100px;}
.send{position:absolute;}
div.newMessageRow{margin-bottom:5px;}
div.newMessageRow label{width:100px;text-align:left;float:left;display:inline-block;}
div.newMessageRow input,div.newMessageRow select{width:80%;overflow:auto;height:22px;border:solid 1px #8496ba;cursor:text;font-size:12px;font-family:Verdana;min-height:1px;display:inline-block;vertical-align:middle;max-height:53px;}
#newMessageBodyDiv{position:absolute;top:125px;right:1px;bottom:2px;left:-1px;margin:0;padding:0;}
#newMessageBodyDiv textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:16px;}
#New_SystemMessage_Body{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana;}
.messageHeaderButtons{margin:10px 0;}
.messageHeaderButtons span{margin-right:10px;}
#newMessageRecipientIds,.message-id{display:none;}
/* NEW DASHBOARD MESSAGE CONTENT */
#dashboardMessageContainer{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.newDashboardContent{background-color:#d6e5f3;height: 125px;vertical-align:top;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.newDashboardContentPanel{margin-left:100px;}
#newDashboardMessageBodyDiv{position:absolute;top:125px;right:1px;bottom:2px;left:-1px;margin:0;padding:0;}
#newDashboardMessageBodyDiv textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:16px;}
#New_DashboardMessage_Body{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana;}

/* WYSIWYG */
td.cke_contents{display:block;position:absolute;top:29px;right:0;bottom:0;left:0;}