﻿.page{background:#fff url(/Images/Print/Patient/physface2face.jpeg) no-repeat center center}
.content{top:280px;right:50px;bottom:100px;left:50px;overflow-y:auto;line-height:1.5;font-size:10.5pt}
.content table{border-bottom:0 none}
.patient{top:135px;right:415px;bottom:835px;left:50px;font-size:10pt}
.patientname{top:113px;right:415px;bottom:920px;left:105px;font-size:12pt;font-weight:bold}
.physicianname{top:113px;right:50px;bottom:920px;left:494px;font-size:12pt;font-weight:bold}
.physician{top:135px;right:50px;bottom:835px;left:415px;font-size:10pt}
.mr{top:224px;right:412px;bottom:810px;left:82px}
.order{top:224px;right:37px;bottom:810px;left:468px}
.socdate{top:249px;right:265px;bottom:785px;left:440px}
.dob{top:249px;right:412px;bottom:785px;left:150px}
.episode{top:249px;right:37px;bottom:785px;left:615px}
.physsign{top:990px;right:210px;bottom:45px;left:50px}
.physsigndate{top:990px;right:50px;bottom:45px;left:610px}