﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<AgencyPharmacy>" %>
<span class="wintitle">Edit Pharmacy | <%= Model.Name %></span>
<%  using (Html.BeginForm("Update", "Pharmacy", FormMethod.Post, new { @id = "editPharmacyForm" })) { %>
<%= Html.Hidden("Id", Model.Id, new { @id = "Edit_Pharmacy_Id" })%>
<div class="wrapper main">
    <fieldset>
        <legend>Pharmacy Information</legend>
        <div class="column">
            <div class="row"><label for="Edit_Pharmacy_Name" class="float-left">Pharmacy Name:</label><div class="float-right"> <%= Html.TextBox("Name", Model.Name, new { @id = "Edit_Pharmacy_Name", @class = "text input_wrapper required", @maxlength = "100" })%></div></div>
            <div class="row"><label for="Edit_Pharmacy_AddressLine1" class="float-left">Address Line 1:</label><div class="float-right"> <%= Html.TextBox("AddressLine1", Model.AddressLine1, new { @id = "Edit_Pharmacy_AddressLine1", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Pharmacy_AddressLine2" class="float-left">Address Line 2:</label><div class="float-right"> <%= Html.TextBox("AddressLine2", Model.AddressLine2, new { @id = "Edit_Pharmacy_AddressLine2", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Pharmacy_AddressCity" class="float-left">City:</label><div class="float-right"> <%= Html.TextBox("AddressCity", Model.AddressCity, new { @id = "Edit_Pharmacy_AddressCity", @class = "text input_wrapper ", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Pharmacy_AddressStateCode" class="float-left"> State, Zip:</label><div class="float-right"><%= Html.LookupSelectList(SelectListTypes.States, "AddressStateCode", Model.AddressStateCode, new { @id = "Edit_Pharmacy_AddressStateCode", @class = "AddressStateCode  valid" })%><%= Html.TextBox("AddressZipCode", Model.AddressZipCode, new { @id = "Edit_Pharmacy_AddressZipCode", @class = "text  digits isValidUSZip zip", @maxlength = "9" })%></div></div>
         </div>   
        <div class="column"> 
            <div class="row"><label for="Edit_Pharmacy_PhoneArray1" class="float-left">Primary Phone:</label><div class="float-right"> <%= Html.TextBox("PhoneArray", Model.Phone.IsNotNullOrEmpty() ? (Model.Phone.Length >= 3 ? Model.Phone.Substring(0, 3) : "") : "", new { @id = "Edit_Pharmacy_PhoneArray1", @class = "input_wrappermultible autotext required digits phone_short", @maxlength = "3", @size = "4" })%> - <%= Html.TextBox("PhoneArray", Model.Phone.IsNotNullOrEmpty() ? (Model.Phone.Length >= 6 ? Model.Phone.Substring(3, 3) : "") : "", new { @id = "Edit_Pharmacy_PhoneArray2", @class = "input_wrappermultible autotext required digits phone_short", @maxlength = "3", @size = "3" })%> - <%= Html.TextBox("PhoneArray", Model.Phone.IsNotNullOrEmpty() ? (Model.Phone.Length >= 10 ? Model.Phone.Substring(6, 4) : "") : "", new { @id = "Edit_Pharmacy_PhoneArray3", @class = "input_wrappermultible autotext required digits phone_long", @maxlength = "4", @size = "5" })%></div></div>  
            <div class="row"><label for="Edit_Pharmacy_ContactPersonFirstName" class="float-left">Contact First Name:</label><div class="float-right"><%= Html.TextBox("ContactPersonFirstName", Model.ContactPersonFirstName, new { @id = "Edit_Pharmacy_ContactPersonFirstName", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Pharmacy_ContactPersonLastName" class="float-left">Contact Last Name:</label><div class="float-right"><%= Html.TextBox("ContactPersonLastName", Model.ContactPersonLastName, new { @id = "Edit_Pharmacy_ContactPersonLastName", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Pharmacy_EmailAddress" class="float-left">Email :</label><div class="float-right"><%= Html.TextBox("EmailAddress", Model.EmailAddress, new { @id = "Edit_Pharmacy_EmailAddress", @class = "text email input_wrapper", @maxlength = "50" })%></div></div>
            <div class="row"><label for="Edit_Pharmacy_FaxNumberArray1" class="float-left">Fax Number:</label><div class="float-right"> <%= Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() ? (Model.FaxNumber.Length >= 3 ? Model.FaxNumber.Substring(0, 3) : ""): "", new { @id = "Edit_Pharmacy_FaxNumberArray1", @class = "input_wrappermultible autotext digits phone_short", @maxlength = "3", @size = "4" })%> - <%= Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() ? (Model.FaxNumber.Length >= 6 ? Model.FaxNumber.Substring(3, 3) : "") : "", new { @id = "Edit_Pharmacy_FaxNumberArray2", @class = "input_wrappermultible autotext digits phone_short", @maxlength = "3", @size = "3" })%> - <%= Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() ? (Model.FaxNumber.Length >= 10 ? Model.FaxNumber.Substring(6, 4) : "") : "", new { @id = "Edit_Pharmacy_FaxNumberArray3", @class = "input_wrappermultible autotext digits phone_long", @maxlength = "4", @size = "5" })%></div></div> 
        </div>
        <table class="form"><tbody><tr class="line-seperated vert"><td><label for="Edit_Pharmacy_Comments">Comment:</label><div><%= Html.TextArea("Comment", Model.Comment, new { @id = "Edit_Pharmacy_Comments" })%></div></td></tr></tbody></table>
    </fieldset>
    <div class="activity-log"><% = string.Format("<a href=\"javascript:void(0);\" onclick=\"Log.LoadPharmacyLog('{0}');\" >Activity Logs</a>", Model.Id)%></div>
    <div class="buttons"><ul><li><a href="javascript:void(0);" onclick="$(this).closest('form').submit();">Save</a></li><li><a href="javascript:void(0);" onclick="UserInterface.CloseWindow('editpharmacy');">Exit</a></li></ul></div>
</div>
<%} %>


