﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <%= Html.Telerik().StyleSheetRegistrar()
                      .DefaultGroup(group => group
                          .Add("jquery-ui-1.7.1.custom.css")
                          .Add("splitter.css")
                          .Add("forms.css")
                          .Add("desktop.css")
                          .Add("html.css")
                          .Add("oasis.css")
                          .Add("tabs.css")
                          .Add("submenu.css")
                          .Add("telerik.common.css")
                          .Add("telerik.office2007.css")
                          .Add("ui.dropdownchecklist.css")
                          .Add("vertical-tabs.css")
                          .Add("filemenu.css")
                          .Add("jcal.css")
                          .Add("core.css")
                          .Add("inbox.css")
                          .Add("jquery.autocomplete.css")
                          .Add("token-input-facebook.css")                          
                          .Combined(true)
                          .Compress(true))
    %>
    <!--[if gte IE 7]>
        <link rel="stylesheet" href="/Content/ie.css" />
    <![endif]-->
</head>
<body>

    <script type="text/javascript" src="/Scripts/jquery-1.4.2.min.js"></script>

    <script type="text/javascript" src="/Scripts/Plugins/jquery.blockUI.js"></script>

    <script type="text/javascript">
        $.blockUI.defaults.css = {};
        $.blockUI({
            message: 'Setting up your desktop...',
            css: {
                color: '#fff',
                opacity: .6,
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                top: ($(window).height() - 40) / 2 + 'px',
                left: ($(window).width() - 200) / 2 + 'px'
            }
        });
    </script>

    <div class="abs" id="desktop">
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </div>
    <div id="SessionDialog" style="display: none; background: #fff; border: 1px solid #9d9d9d;
        margin-bottom: 15px; padding: 15px; text-align: center;">
        <p>
            You will be logged off in <span id="dialog-countdown" style="font-weight: bold">
            </span>&nbsp; seconds.
        </p>
        <br />
        <p>
            Do you wish to continue your session?</p>
        <input type="button" id="ContinueSession" value="Yes" />&nbsp;
        <input type="button" id="EndSession" value="No" />
    </div>
    <% Html.RenderPartial("FileMenuNavigation"); %>
    <% Html.RenderPartial("Footer"); %>
    <% Html.Telerik().ScriptRegistrar().jQuery(false)
         .DefaultGroup(group => group
             .Add("jquery-ui-1.7.2.custom.min.js")
             .Add("/Plugins/jquery.validate.js")
             .Add("/Plugins/jquery.form.js")
             .Add("telerik.common.js")
             .Add("telerik.grid.js")
             .Add("telerik.calendar.js")
             .Add("telerik.datepicker.js")
             .Add("telerik.grid.filtering.js")
             .Add("telerik.tabstrip.js")
             .Add("/Plugins/x.js")
             .Add("/Plugins/xenabledrag.js")
             .Add("/Plugins/xfirstchild.js")
             .Add("/Plugins/xnextsib.js")
             .Add("/Plugins/xsplitter.js")
             .Add("/Plugins/xsplitter_app.js")            
             .Add("jquery.desktop.js")
             .Add("/Plugins/jquery.maskedinput-1.2.2.js")
             .Add("/Plugins/jquery.alphanumeric.js")
             .Add("/Plugins/jquery.autotab.js")
             .Add("/Plugins/ui.dropdownchecklist-min.js")
             .Add("/Plugins/jquery.autocomplete.js")
             .Add("/Plugins/jMonthCalendar.js")
             .Add("/Plugins/jquery.dateFormat-1.0.js")
             .Add("/Plugins/jquery.idletimer.js")
             .Add("/Plugins/jquery.idletimeout.js")
             .Add("/Plugins/jquery.tokeninput.js")
             .Add("/Models/Session.js")
             .Add("/Models/OasisValidation.js")
             .Add("/Models/Oasis.js")
             .Add("/Models/Patient.js")
             .Add("/Models/Billing.js")                    
             .Add("/Models/Utility.js")
             .Add("/Models/Lookup.js")
             .Add("/Models/Referral.js")
             .Add("/Models/SOC.js")
             .Add("/Models/Recertification.js")      

             .Compress(true))
        .OnDocumentReady(() =>
        { 
    %>
    Session.Init(); JQD.init_desktop();  setTimeout(function()
    { $.unblockUI(); }, 500); setTimeout('$.unblockUI()', 500);
    <% 
        }).Render(); %>
    <%-- <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAlzE4kMuVDuncgkI9W42EoRQFnNRYEcjfd63IZsPC7Uq-e7qt9RQLJQVeiSlNXeEhixZ0Q25RYR4W4Q" type="text/javascript"></script>
        <script src="http://www.mayzes.org/js/jquery.googlemaps1.01.js" type="text/javascript"></script>--%>
</body>
</html>
