﻿
.xSplitter {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: 0;
  padding: 0;
  background: #FFF;
  border: none;
}
.xsp-pane {
  position: absolute;
  overflow: auto;
  visibility: visible;
  margin: 0;
  padding: 0;
 
  border: none;
}
.xsp-dragbar {
  position: absolute;
  overflow: hidden;
  visibility: visible;
  margin: 0;
  padding: 0;
  border: none;
}
/* Cool images! Thanks very much to http://gnuzoo.org/rssreader/test.htm */
.xsp-dragbar-vframe {
  width: 6px;
  height: 8px;
  background-image: url(/Images/splitter/vframe.png);
  background-repeat: repeat-y;
}
.xsp-dragbar-hframe {
  width: 8px;
  height: 6px;
  background-image: url(/Images/splitter/hframe.png);
  background-repeat: repeat-x;
}

/* Application Styles */

h3, p {
  padding: 0 0 0 6px;
  border: none;
}

#xBody {
  margin: 10px 60px 20px 60px;
  padding: 10px 10px 10px 10px;
  overflow: visible;
  background-color: #FFF;
}

.temp-container { /* replace this with something like xFenster */
  position: relative;
  overflow: visible;
  visibility: visible;
  height:100.0%;
  margin: 0px;
  padding: 0px;
  background: transparent;
  display:block;
  
}


#xsp1, #xsp2, #xsp3, #xsp4, #xsp6, #xsp7, #xsp8,#Div1 {
  border: 2px solid #999;
}

/* iframe support */

.xsp-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#xsp1-pane1,
#xsp1-pane2,
#xsp2-pane2 {
  overflow: hidden;
  background-color: #fff;
}


.splitterContainer{
width: 100%; 
height: 100%;
padding: 0px;

}


