﻿/* Newer Design */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-image: url(/Images/Login/debut_light.png);
  background-repeat: repeat;
}

a {
  color: #2287B9;
  text-decoration: none;
}

#login {  }

#login:before, #login:after {
  content: " ";
  display: table;
}
#login:after {
  clear: both;
}
#login .login-left 
{ 
  display: block;
  float: left;
  width: 66.66667%;
  text-align: center;
  overflow-x: hidden;
}
#login .login-left:last-child {
  margin-right: 0;
}
#login .login-left 
{
    padding-top: 5em;
}
#login .login-left .logo {
  margin-bottom: 2em;
}
#login .login-left .alert {
  width: 550px;
  margin: auto;
}
#login .login-left .login-form-wrapper {
  width: 500px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 3px #888;
  margin: 1em auto;
  position: relative;
}
#login .login-left .login-form-wrapper table {
  width: 100%;
}
#login .login-left .login-form-wrapper table td {
  text-align: right;
}
#login .login-left .login-form-wrapper table td.label {
  text-align: left;
  font-size: 1.5em;
  font-weight: 300;
}
#login .login-left .login-form-wrapper p {
  margin: 1em 0;
}
#login .login-left .login-form-wrapper input#Login_UserName, 
#login .login-left .login-form-wrapper input#Login_Password {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #ddd;
  outline: none;
  padding: .5em;
  font-size: 1.7em;
  font-weight: 100;
  width: 100%;
  margin:0;
}
#login .login-left .login-form-wrapper input#Login_UserName { font-family: inherit; }
#login .login-left .login-form-wrapper input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: block;
  background: #af1e2d;
  color: white;
  font-size: 1.3em;
  border: none;
  width: 100%;
  margin: 0;
  padding: 1em;
  border-top: 1px solid #580f17;
  border-radius: 0px 0px 4px 4px;
}
#login .login-left .login-form-wrapper input[type="submit"]:hover {
  background: #831722;
  cursor: pointer;
}
#login .login-left .login-loading {
  display: none;
  width: 500px;
  margin: auto;
  line-height: 3em;
  color: #af1e2d;
  background: white;
  box-shadow: 0px 0px 3px #888;
  border-radius: 4px;
  padding: 1em;
}
#login .login-left .login-loading i {
  vertical-align: middle;
}
#login .login-left .login-message,
#login .login-left .login-agency-selection {
  display: none;
  width: 500px;
  margin: 1em auto;
  text-align: left;
  padding: 1em;
  background: white;
  box-shadow: 0px 0px 3px #888;
  border-radius: 4px;
}
#login .login-left .login-message h3,
#login .login-left .login-message p { margin: 0 0 1em 0; }
#login .login-left .login-message .countdown {
  font-size: 2em; 
  line-height:1em; 
  text-align:center;
  margin: 1em 0;
  font-weight: 700;
}
#login .login-left .login-message  .btn-custom {
  min-width: 100px;
  margin-right: 1em;
  box-shadow: none;
}
#login .login-left .login-message .btn-wrapper {
  margin-top: 2em;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-cancel {
  background: #f2dede;
  color: #b94a48;
  border-color: #eed3d7;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-cancel:hover {
  background: #f9f0f0;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-ok {
  background: #dff0d8;
  color: #468847;
  border-color: #d6e9c6;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-ok:hover {
  background: #eef7ea;
}

#login .ad {
    margin: 1em 0;
}

#login .ad img { box-shadow: 0 0 2px #333; }

#login .login-left footer {
  padding: 1em;
}
#login .login-left footer .referral {
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1em 2em 1em 200px;
    margin: 0 auto;
    position: relative;
    font-size: 1.2em;
    display: inline-block;
    background: #333;
    color: White;
}
#login .login-left footer .referral h3 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #af1e2d;
    padding: 1em 2em;
    font-weight: 100;
    color: White;
    border-radius: 2px 0 0 2px;
    border-right: 1px solid #812;
}
#login .login-left footer .rights {
  font-size: .8em;
  color: #555;
  margin-bottom: 0;
}
#login .login-right {
  display: block;
  float: left;
  width: 33.33333%;
  padding:2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#login .login-right:last-child {
  margin-right: 0;
}

.didyouknow {
  margin: 2em 0;
}
.didyouknow h2 {
  font-weight: 300;
  margin-bottom: .5em;
}
.didyouknow h2 b {
  font-weight: 800;
}
.didyouknow > div {
  height: 2em;
  position: relative;
}
.didyouknow p {
  height: 2em;
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:0;
  display:none;
}
.didyouknow p strong {
  color: #af1e2d;
  font-size: 1.5em;
  vertical-align: middle;
}

.upcoming-events {
  padding: 0;
  background: #f8f8f8;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  position: relative;
}

.upcoming-events h1 {
  margin: 0 0 .5em 0;
  padding: .3em .5em;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2em;
  background: #7c7cad;
  color: White;
  text-shadow: 0 -1px #558;
  text-align: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: #558;
}
.upcoming-events h1 i {
  font-size: 2em;
  float: right;
}
.upcoming-events .series {
  padding: .5em 1em;
}
.upcoming-events .series:nth-child(n+3) {
  border-top: 1px solid #eee;
}
.upcoming-events .series h4 {
  margin: .5em 0;
}
.upcoming-events .series h4 a {
  text-decoration: none;
  color: black;
}
.upcoming-events .series ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
}
.upcoming-events .series ul a {
  display: block;
  padding: .2em;
  text-decoration: none;
  color: #333;
  border-radius: 1px;
}
.upcoming-events .series ul a:hover {
  background: #af1e2d;
  color: white;
}
.upcoming-events .series .date {
  float: right;
}

.btn-wrapper {
  text-align: center;
  margin: 1em 0;
}
.btn-wrapper .btn-custom {
  text-shadow: none;
  /* 0 -1px 0 #777 */
  -webkit-font-smoothing: antialiased;
  background: #b8223b;
  color: #fff;
  padding: .5em 2em;
  border: 1px solid #640000;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #aaa;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}
.btn-wrapper .btn-custom:hover {
  background: #a8122b;
  color: white;
}
.btn-wrapper .btn-custom:active {
  box-shadow: none;
}

@media (max-width: 800px) {
  #login .login-left {
    width: 100%;
  }
  #login .login-left {
    margin-right: 0;
  }
  #login .login-right {
    display: none;
  }
}

@media (max-width: 630px) {
    .ad img { width: 100%; }
}

/* New Design */
img{border:0}
h1,h2,h3,h4,h5{margin:0}
ul{list-style-type:square;padding:0 0 0 1.5em}
input[type=text],input[type=password]{width:15em;margin:.25em 0}
#Login_Button{width:0;height:0;border:0}
input[type=checkbox]{height:1.5em;vertical-align:middle}
label{line-height:2em}
.upper{text-transform:uppercase}
.hidden{display:none}
.sm{font-size:.9em}
.xs{font-size:.75em}
.xl{font-size:1.4em}
.clr{clear:both}
.fl{float:left}
.fr{float:right}
.no-text{font-size:0}
.wrapper{width:1020px;background:#fff url(/Images/loginback.png) repeat-y;box-shadow:0 .1em .5em #333;position:relative;margin:0 auto;min-height:100%}
.main{width:40em;padding:2em 1em}
.right{width:19.6em;padding:2em 1em}
.more-button{background-color:#b8b8b8;padding:.1em 1em .3em;font-size:.75em}
.title{padding:1em 5em;border:.1em solid #e0e0e0;width:275px;margin:0 auto}
.title legend{background:url(/Images/loginsprite.png) no-repeat -10px 0;margin-left:55px;width:157px;height:25px}
.title h1{background:url(/Images/loginsprite.png) no-repeat -10px -25px;width:268px;height:31px}
.row{clear:both}
.footer{background-color:#2d2d2d;color:#fff;font-size:.625em;line-height:2;position:absolute;bottom:0;width:100%;letter-spacing:1px}
#bXStyle{margin: 0 auto}
#axxessEventsBox .sws{width:19.6em !important}
#bxHdr div{left:0 !important;top:4px !important}
.blockUI{font-size:.75em}
/* Page Blocks */
.box{background:#fff;border:1px solid #9d9d9d;margin-bottom:15px;padding:15px;border-top:0; min-height: 160px;}
.box a{color:#1f92ff;text-decoration:none}
.box a:hover{color:#1f92ff;text-decoration:underline}
.box-header{background:url(/Images/gradients.png) repeat-x 0 -80px;padding:0 10px;height:25px;overflow:hidden;font-weight:bold;line-height:22px;text-align:center;color:#fff;text-shadow:#000 0 1px 1px}
.box-header .img{float:left;margin:2px 0 0 0}
.box-header .fr a{color:#333;text-decoration:none;font-size:12px;padding:0 5px}
.box-header .fr a:hover{color:#1f92ff}
.img.icon{width:22px;height:22px;display:inline-block;background:url(/Images/sprite.png) no-repeat 0 -86px}
.img.icon.axxess{width:28px;background-position:-219px -12px}
.img.axxesslogo{width:156px;height:141px;display:inline-block;background:url(/Images/logos.png) no-repeat 0 -119px;position:absolute;right:20px}
/* Notifications */
.notification span{display:block;margin-left:45px;font-size:1.2em;}
.notification .icon{height:31px;width:32px;background:url(/Images/sprite.png) no-repeat 0 0;display:block;float:left;margin-left:0}
.notification.success{background-color:#effeb9;border-color:#98c700}
.notification.success .icon{background-position:-64px 0}
.notification.error{background:#fccac3;border-color:#ea5338}
.notification.error .icon{background-position:-128px 0}
.notification.warning{background:#ffeaa7;border-color:#f9b418}
.notification.info{background:#d1e4f3;border-color:#4d8fcc}
.notification.info .icon{background-position:-96px 0}
.notification.tip{background:#feeac9;border-color:#d38e49}
.notification.tip .icon{background-position:-32px 0}
.notification{min-height:31px;border-width:1px;border-style:solid;padding:17px;margin-bottom:15px}
/* Buttons */
.button{cursor:pointer;font:14px/100% Arial,Helvetica,sans-serif;outline:medium none;text-decoration:none;text-shadow:#333 0 1px 1px;vertical-align:baseline;background:url(/Images/gradients.png) repeat-x 0 -582px;color:#e9e9e9;width:90px !important}
.button:hover{background:url(/Images/gradients.png) repeat-x 0 -646px;text-decoration:none}
.button:active{background:url(/Images/gradients.png) repeat-x 0 -614px;color:#afafaf;position:relative;top:1px}
.forgot{position:absolute;right:5px;bottom:20px}
/* Change Password Page */
#changepassword-wrapper{width:500px;position:absolute;top:0;right:0;bottom:0;left:0}
#changepassword-window{width:500px;position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-200px}
.box-header.changePassword{font-size:19px;padding:10px 15px}
form.changepassword label{width:200px;float:left}
form.changepassword input{width:200px}
/* Forgot Password Page */
#forgotPassword-wrapper{width:500px;position:absolute;top:0;right:0;bottom:0;left:0}
#forgotpassword-window{position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-200px; width: 500px;}
.box-header.forgotPassword{font-size:19px;padding:10px 15px}
form.forgotPassword label{width:145px}
form.forgotPassword input{width:200px}
/* Activate Account Page */
#activateaccount-wrapper{width:550px;position:absolute;top:0;right:0;bottom:0;left:0}
#activateaccount-window{position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-200px; width: 550px;}
.box-header.activateAccount{font-size:19px;padding:10px 15px}
form.activateaccount label{width:200px;float:left}
form.activateaccount input{width:200px}
/* Link Account Page */
#linkaccount-wrapper{width:550px;position:absolute;top:0;right:0;bottom:0;left:0}
#linkaccount-window{position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-200px;width:550px;}
.box-header.linkAccount{font-size:19px;padding:10px 15px}
form.linkaccount label{width:200px;float:left}
form.linkaccount input{width:200px}
h1{font-size:16px;font-weight:bold}
.box h1{font-size:16px}
.box h2{font-size:14px}
/* Password Strength */
#iSM{margin:0 0 15px 0;padding:0;height:14px;float:left}
#iSM ul{border:0;margin:4px 0 0 0;padding:0;list-style-type:none;text-align:center}
#iSM ul li{display:block;float:left;text-align:center;padding:1px 0 0 0;margin:0;height:14px}
#iWeak,#iMedium,#iStrong{width:71px;font-size:.7em;color:#adadad;text-align:center;padding:2px;background-color:#F1F1F1;display:block}
#iWeak,#iMedium{border-right:solid 1px #DEDEDE}
#iMedium{width:70px}
#iMedium,#iStrong{border-left-width:0}
/* -- Agency Selection Links */
.agencySelection{background-color:#d3d3d3;padding:10px}
#agencySelectionLinks ul{list-style-type:none;max-height:22em;overflow:auto;padding:0;border:1px solid #ccc;}
#agencySelectionLinks li{margin:0;border-bottom:1px solid #dde;}
#agencySelectionLinks li:nth-child(odd){background:#f8f8ff;}
#agencySelectionLinks li a{color:black;display:block;padding:5px;text-decoration:none}
* html #agencySelectionLinks li a{width:400px}
#agencySelectionLinks li a:hover{background:#af1e2d;color:white;}
#agencySelectionLinks span { display: block;}
#agencySelectionLinks span.agency-name { font-weight:bold; }
/* -- Bottom Adspace -- */
#bottom_wrapper{position:absolute;background:transparent url(/Images/Dashboard/pinkplaid.png) repeat fixed 0 0;bottom:0;left:0;right:0;height:150px}
#bottom_gradient_box{width:100%;height:100%;text-align:center}
#bottom_image_box{background-image:url(/Images/home-health-training.png);width:700px;height:247px;position:absolute;bottom:0;left:50%;margin-left:-350px}
#bottom_button{display:inline-block;margin:8.5em;position:relative;background-color:#b82b3c}
#bottom_button a{display:inline-block;font-size:1.2em;padding:.5em 2em;font-weight:bolder;text-shadow:.1em .1em .1em #000;text-decoration:none;color:#fff}
#bottom_button a:hover{background:url(/Images/sprite.png) no-repeat center -133px}
/* -- jGrowl/Notification System -- */
.jGrowl{position:fixed;padding:10px;z-index:9999;color:#333;font-size:14px;border-radius:3px;}
.jGrowl.top-right{right:0;top:30px}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{background:#ddd;opacity:.95;width:300px;padding:1em;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;border:solid 1px #bbb}
.jGrowl div.jGrowl-notification{/*min-height:40px*/}
.jGrowl div.jGrowl-notification div.header{font-weight:bold;font-size:.85em}
.jGrowl div.jGrowl-notification div.close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer}
.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center}
.jGrowl div.error{background:#f3e0e0;color:#b94a48;border:1px solid #eed3d7;}
.jGrowl div.success{background:#dff0d8;color:#468847;border:1px solid #d6e9c6;}
.jGrowl div.warning{background:#f3e0e0;color:#b94a48;border:1px solid #eed3d7;}

#forgotpassword-window,#activateaccount-window{font-size:12px}
#forgotpassword-window .title,#activateaccount-window .title{border:0}
input.error, select.error, textarea.error, .recipient-list-token-input.error, .t-grid td.error, button.ui-multiselect.error {
    background-image:linear-gradient(50deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-moz-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-ms-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-o-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#fcf8f7),to(#fcebe8),color-stop(.09,#fcf8f7),color-stop(.1,#fcebe8),color-stop(.19,#fcebe8),color-stop(.2,#fcf8f7),color-stop(.29,#fcf8f7),color-stop(.3,#fcebe8),color-stop(.39,#fcebe8),color-stop(.4,#fcf8f7),color-stop(.49,#fcf8f7),color-stop(.5,#fcebe8),color-stop(.59,#fcebe8),color-stop(.6,#fcf8f7),color-stop(.69,#fcf8f7),color-stop(.7,#fcebe8),color-stop(.79,#fcebe8),color-stop(.8,#fcf8f7),color-stop(.89,#fcf8f7),color-stop(.9,#fcebe8));
    background-image:-webkit-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-position:left top;
    border:.1em solid #be2d19;
    box-shadow:0 0 1em #ecc5c0 inset;
    -moz-box-shadow:0 0 1em #ecc5c0 inset;
    -o-box-shadow:0 0 1em #ecc5c0 inset;
    -webkit-box-shadow:0 0 1em #ecc5c0 inset;
}
label.error {
    background-color:#ecd5d2;
    border:.1em solid #841f11;
    box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    -moz-box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    -o-box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    -webkit-box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    color:#333;
    font-size:.8em;
    opacity:.85;
    padding:.1em .4em;
    position:absolute;
    right:-2.5em;
    margin-top:-1.6em;
    z-index:1;
}
input.error + label.error{
	display:inline-block !important;
}
	