﻿/* -- Telerik Grid Filters and Search -- */
.grid-controls{padding:1em;width:65em;margin:0 auto 1em;
    box-shadow:.2em .2em .5em #aaa}
.grid-controls.short{width:35em}
.grid-controls label,.grid-controls input,.grid-controls div,.grid-controls a{vertical-align:middle}
.grid-controls .filter,.grid-controls .upload{display:inline-block;padding:0 1em}
.grid-controls .filter input,.grid-controls .filter select,.grid-controls .filter .multiSelect{width:10em}
.grid-controls.short .filter input,.grid-controls.short .filter select{width:20em}
.grid-controls .filter label,.grid-controls .upload label{margin:0 .5em}
.grid-controls .filter .checkgroup label{margin:0;text-align:left}
.grid-controls .upload{width:40em}
/* -- Acore Grid -- */
.acore-grid > ul .sortable{cursor:pointer}
.acore-grid > ul .arrow{margin:7px}
.acore-grid > ul,.acore-grid > ol{border:.1em solid #888;margin:0 1em 1em;
    box-shadow:.2em .2em .3em #aaa;
    border-radius:.4em}
.acore-grid > ul{font-weight:bold;margin:.5em 1em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde8f5',endColorstr='#c3d8f1');
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5))}
.acore-grid > ul h3{font-size:1.2em}
.acore-grid > ol > li > span,.acore-grid > ul > li > span{display:inline-block}
.acore-grid > ul > li,.acore-grid > ol > li{display:block;padding:.1em 1em}
.acore-grid > ol{background-color:#fffcf2}
.acore-grid > ol.loading{min-height:12em}
.acore-grid > ol.dc{background-color:#ffeded}
.acore-grid > ol li.even{background-color:#f7efd5}
.acore-grid > ol.dc li.even{background-color:#f7d2d2}
.acore-grid > ol li.selected{background-color:#f0f2f5;
    box-shadow:0 0 .1em #c1cede inset}
.acore-grid > ol li.even.selected{background-color:#e4ecf5;
    box-shadow:0 0 .1em #a5b7cc inset}
.acore-grid > ol li.even{background-color:#f7efd5}
.acore-grid > ol > li:first-child{border-top-left-radius:.4em;border-top-right-radius:.4em}
.acore-grid > ol > li:last-child{border-bottom-left-radius:.4em;border-bottom-right-radius:.4em}
.acore-grid > ol > li.hover{background-color:#b4e7c7;position:relative;
    box-shadow:0 0 .4em #004c26;
    background-image:-moz-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-o-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#b4e7c7),to(#e9f5ed))}
.acore-grid > ol.dc > li.hover,.acore-grid > ol > li.notready.hover{background-color:#f7b9b9;position:relative;
    box-shadow:0 0 .4em #4d2338;
    background-image:-moz-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-o-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#f7b9b9),to(#f7d2d2))}
.acore-grid > ol .img{vertical-align:middle}
.acore-grid > ol .sort-value{display:none}
.acore-grid .acore-grid > ul{margin-bottom:0;border-bottom:0 none;
    border-radius:.4em .4em 0 0}
.acore-grid .acore-grid > ol{
    border-radius:0 0 .4em .4em}
.acore-grid .acore-grid > ol > li:first-child{
    border-radius:0}
.acore-grid .acore-grid > ol > li:last-child{
    border-radius:0 0 .4em .4em}
.acore-grid > ol.loading > li{display:none}
.acore-grid.limited > ol{max-height:35em;overflow:auto}
/* -- Column Widths -- */
.vitals-report-value-sm{width:4%}
.grid-twentieth{width:5%}
.vitals-report-value{width:6%}
.vitals-report-date{width:8%}
.grid-tenth,.vitals-multi-value{width:10%}
.vitals-report-employee,.vitals-report-task{width:16%}
.grid-fifth,.vitals-single-value,.vitals-date{width:20%}
.grid-quarter{width:25%}
.grid-third{width:33%}

.grid-threequarters{width:75%}

/*-- Grid Link Style -- */
.t-grid a.link+a.link:before{
	content: " | ";
	color:#333333;
	position: absolute;
	margin-left: -0.7em;
}
.t-grid a.link{
	margin: 0 0.5em 0 0.5em;
}
.t-grid a.link:first-child{
	margin: 0 0.5em 0 0;
}
.t-no-data div {
    position:absolute;
    top:50%;
    width:98%;
    width: -moz-available;
}
.t-no-data {
    color:#333;
    display:block;
    font-size:1.4em;
    font-weight:600;
    text-align:center;
    vertical-align:top;
}
.t-no-data {
    color:#3c5a98;
}
tr.t-no-data {
    background-color: inherit;
}