fieldset.medication .t-grid-content{overflow-x:auto}
.medication .t-grid,.medication .t-grid-footer,fieldset{border-radius:0}
#widget-calendar{width:4.75em}
#widget-calendar .year{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);width:auto;height:auto;color:#000;background-color:#fff;top:.5em;right:-.7em}
.t-grid a.link+a.link:before{ margin-left: -1.2em; }
