#reauthenticate {
  width: 500px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 3px #888;
  margin: 1em auto;
  position: relative;
  cursor: default;
  border: 1px solid #888;
}
#reauthenticate h2 {
    border-radius: 5px 5px 0 0;
    padding: 1em;
    background: #af1e2d;
    color: white;
    font-weight: normal;
}
#reauthenticate p {
    margin:1em 0 2em;
    color: #555;
} 
#reauthenticate table {
  width: 100%;
}
#reauthenticate table td label {
  text-align: left;
  font-weight: bold;
}

/* Inputs */
#reauthenticate input#Login_UserName, 
#reauthenticate input#Login_Password {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #ddd;
  outline: none;
  padding: .5em;
  font-weight: 100;
  width: 100%;
  margin:0;
}
#reauthenticate input#Login_UserName { 
  font-family: inherit;
}

/* Buttons */
#reauthenticate .btn-wrapper {
  text-align: center;
  margin: 2em 0 1em;
}
#reauthenticate .btn-custom {
  min-width: 100px;
  margin: 0 1em;
  box-shadow: none;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  background: #b8223b;
  color: #fff;
  padding: .5em 2em;
  border: 1px solid #640000;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #aaa;
  text-decoration: none;
  display: inline-block;
  font-weight: normal;
  font-size: 1.4em;
}
  /* Cancel */
  #reauthenticate .btn-wrapper .btn-cancel {
    background: #f2dede;
    color: #b94a48;
    border-color: #eed3d7;
  }
  #reauthenticate .btn-wrapper .btn-cancel:hover {
    background: #f9f0f0;
  }

  /* OK */
  #reauthenticate .btn-wrapper .btn-ok {
    background: #dff0d8;
    color: #468847;
    border-color: #d6e9c6;
  }
  #reauthenticate .btn-wrapper .btn-ok:hover {
    background: #eef7ea;
  }