ul.token-input-list-facebook{overflow:hidden;height:auto !important;width:80%;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana;margin:0;padding:0;background-color:#fff;list-style-type:none;display:inline-block;position:static}
ul.token-input-list-facebook li input{border:0;width:100%}
li.token-input-token-facebook{overflow:hidden;height:auto !important;height:23px;margin:3px;padding:1px 3px;background-color:#eff2f7;color:#000;cursor:default;border:1px solid #ccd5e4;font-size:11px;float:left}
li.token-input-token-facebook p{display:inline;padding:0;margin:0}
li.token-input-token-facebook span{color:#a6b3cf;margin-left:5px;font-weight:bold;cursor:pointer}
li.token-input-selected-token-facebook{background-color:#5670a6;border:1px solid #3b5998;color:#fff}
li.token-input-input-token-facebook{clear:left}
div.token-input-dropdown-facebook{position:relative;margin-left:150px;background-color:#fff;overflow:hidden;border:1px solid #ccc;cursor:default;font-size:11px;font-family:Verdana;width:400px}
div.token-input-dropdown-facebook p{margin:0;padding:5px;font-weight:bold;color:#777;position:relative}
div.token-input-dropdown-facebook ul{margin:0;padding:0}
div.token-input-dropdown-facebook ul li{background-color:#fff;padding:3px}
div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook{background-color:#fff}
div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook{background-color:#fff}
div.token-input-dropdown-facebook ul li em{font-weight:bold;font-style:normal}
div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook{background-color:#3b5998;color:#fff}