﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<VisitNoteViewData>" %>
<%  using (Html.BeginForm("Notes", "Schedule", FormMethod.Post, new { @id = "PASCarePlanForm" })) { 
        var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<%= string.Format("<script type=\"text/javascript\">$(\"#window_{0}\").Rename(\"{1} | {2}\");</script>",
        "pasCarePlan",
        "Personal Assistance Services Care Plan",
        Model.Patient != null ? (Model.Patient.LastName + ", " + Model.Patient.FirstName + " " + Model.Patient.MiddleInitial).ToTitleCase() : "")%>
<%= Html.Hidden("PASCarePlan_PatientId", Model.PatientId)%>
<%= Html.Hidden("PASCarePlan_EpisodeId", Model.EpisodeId)%>
<%= Html.Hidden("PASCarePlan_EventId", Model.EventId)%>
<%= Html.Hidden("Type", "PASCarePlan")%>
<%= Html.Hidden("DisciplineTask", "100")%>
<div class="wrapper main">
    <table class="fixed nursing">
        <tbody>
            <tr><th colspan="2">Home Health Aide Care Plan</th></tr>
            <tr><td colspan="2" class="bigtext"><%= Model.Patient.DisplayName %></td></tr>
            <tr>
                <td colspan="2">
                    <div class="third">
                        <label for="PASCarePlan_MR" class="float_left">MR#:</label>
                        <div class="float_right"><%= Html.TextBox("PASCarePlan_MR", Model != null && Model.Patient != null ? Model.Patient.PatientIdNumber : string.Empty, new { @id = "PASCarePlan_MR", @readonly = "readonly" })%></div>
                    </div><div class="third">
                        <label for="PASCarePlan_VisitDate" class="float_left">Date:</label>
                        <div class="float_right"><input type="date" name="PASCarePlan_VisitDate" value="<%= Model.VisitDate %>" maxdate="<%= Model.EndDate.ToShortDateString() %>" mindate="<%= Model.StartDate.ToShortDateString() %>" id="PASCarePlan_VisitDate" class="required" /></div>
                    </div><div class="third">
                        <label for="PASCarePlan_EpsPeriod" class="float_left">Episode/Period:</label>
                        <div class="float_right"><%= Html.TextBox("PASCarePlan_EpsPeriod", Model != null ? Model.StartDate.ToShortDateString() + " — " + Model.EndDate.ToShortDateString() : string.Empty, new { @id = "PASCarePlan_EpsPeriod", @readonly = "readonly" })%></div>
                    </div><div class="third">
                        <label for="PASCarePlan_PASFrequency" class="float_left">PAS Frequency:</label>
                        <div class="float_right"><%= Html.TextBox("PASCarePlan_PASFrequency", data.ContainsKey("PASFrequency") ? data["PASFrequency"].Answer : string.Empty, new { @id = "PASCarePlan_PASFrequency" })%></div>
                    </div><div class="third">
                        <label for="PASCarePlan_PrimaryDiagnosis" class="float_left">Primary Diagnosis:</label>
                        <div class="float_right"><%= Html.TextBox("PASCarePlan_PrimaryDiagnosis", data.ContainsKey("PrimaryDiagnosis") ? data["PrimaryDiagnosis"].Answer : string.Empty, new { @id = "PASCarePlan_PrimaryDiagnosis", @readonly = "readonly" })%></div>
                    </div><div class="third">
                        <label for="PASCarePlan_PrimaryDiagnosis1" class="float_left">Secondary Diagnosis:</label>
                        <div class="float_right"><%= Html.TextBox("PASCarePlan_PrimaryDiagnosis1", data.ContainsKey("PrimaryDiagnosis1") ? data["PrimaryDiagnosis1"].Answer : string.Empty, new { @id = "PASCarePlan_PrimaryDiagnosis1", @readonly = "readonly" })%></div>
                    </div><div class="third">
                        <label for="PASCarePlan_DNR" class="float_left">DNR:</label>
                        <div class="float_right"><%= Html.RadioButton("PASCarePlan_DNR", "1", data.ContainsKey("DNR") && data["DNR"].Answer == "1" ? true : false, new { @id = "PASCarePlan_DNR1", @class = "radio" })%><label for="PASCarePlan_DNR1" class="inlineradio">Yes</label><%= Html.RadioButton("PASCarePlan_DNR", "0", data.ContainsKey("DNR") && data["DNR"].Answer == "0" ? true : false, new { @id = "PASCarePlan_DNR2", @class = "radio" })%><label for="PASCarePlan_DNR2" class="inlineradio">No</label></div>
                    </div><div class="third"><% string[] diet = data.ContainsKey("IsDiet") && data["IsDiet"].Answer != "" ? data["IsDiet"].Answer.Split(',') : null; %><input name="PASCarePlan_IsDiet" value="" type="hidden" />
                        <div class="float_left"><%= string.Format("<input class='radio' id='PASCarePlan_IsDiet' name='PASCarePlan_IsDiet' value='1' type='checkbox' {0} />", diet != null && diet.Contains("1") ? "checked='checked'" : "" )%><label for="PASCarePlan_IsDiet" class="strong">Diet:</label></div>
                        <div class="float_right"><%= Html.TextBox("PASCarePlan_Diet", data.ContainsKey("Diet") ? data["Diet"].Answer : string.Empty, new { @id = "PASCarePlan_Diet" })%></div>
                    </div><div class="third"><% string[] allergies = data.ContainsKey("Allergies") && data["Allergies"].Answer != "" ? data["Allergies"].Answer.Split(',') : null; %><input name="PASCarePlan_Allergies" value="" type="hidden" />
                        <div class="float_left"><%= string.Format("<input class='radio' id='PASCarePlan_Allergies' name='PASCarePlan_Allergies' value='Yes' type='checkbox' {0} />", allergies != null && allergies.Contains("Yes") ? "checked='checked'" : "")%><label for="PASCarePlan_Allergies" class="strong">Allergies:</label></div>
                        <div class="float_right"><%= Html.TextBox("PASCarePlan_AllergiesDescription", data.ContainsKey("AllergiesDescription") ? data["AllergiesDescription"].Answer:string.Empty, new { @id = "PASCarePlan_AllergiesDescription" })%></div>
                    </div>
                </td>
            </tr><% string[] isVitalSignParameter = data.ContainsKey("IsVitalSignParameter") && data["IsVitalSignParameter"].Answer != "" ? data["IsVitalSignParameter"].Answer.Split(',') : null; %><input name="PASCarePlan_IsVitalSignParameter" value=" " type="hidden" />
            <tr><th colspan="2">Vital Sign Parameters &#8212; <%= string.Format("<input class='radio' id='PASCarePlan_IsVitalSignParameter' name='PASCarePlan_IsVitalSignParameter' value='1' type='checkbox' {0} />", isVitalSignParameter != null && isVitalSignParameter.Contains("1") ? "checked='checked'" : "")%><label for="PASCarePlan_IsVitalSignParameter">N/A</label></th></tr>
            <tr class="vitalsigns"><td colspan="2">
                <table class="fixed"><tbody>
                    <tr><th></th><th>SBP</th><th>DBP</th><th>HR</th><th>Resp</th><th>Temp</th><th>Weight</th></tr>
                    <tr>
                        <th>greater than (&#62;)</th>
                        <td><%= Html.TextBox("PASCarePlan_SystolicBPGreaterThan", data.ContainsKey("SystolicBPGreaterThan") ? data["SystolicBPGreaterThan"].Answer : string.Empty, new { @id = "PASCarePlan_SystolicBPGreaterThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_DiastolicBPGreaterThan", data.ContainsKey("DiastolicBPGreaterThan") ? data["DiastolicBPGreaterThan"].Answer : string.Empty, new { @id = "PASCarePlan_DiastolicBPGreaterThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_PulseGreaterThan", data.ContainsKey("PulseGreaterThan") ? data["PulseGreaterThan"].Answer : string.Empty, new { @id = "PASCarePlan_PulseGreaterThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_RespirationGreaterThan", data.ContainsKey("RespirationGreaterThan") ? data["RespirationGreaterThan"].Answer : string.Empty, new { @id = "PASCarePlan_RespirationGreaterThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_TempGreaterThan", data.ContainsKey("TempGreaterThan") ? data["TempGreaterThan"].Answer : string.Empty, new { @id = "PASCarePlan_TempGreaterThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_WeightGreaterThan", data.ContainsKey("WeightGreaterThan") ? data["WeightGreaterThan"].Answer : string.Empty, new { @id = "PASCarePlan_WeightGreaterThan", @class = "fill" })%></td>
                    </tr><tr>
                        <th>less than (&#60;)</th>
                        <td><%= Html.TextBox("PASCarePlan_SystolicBPLessThan", data.ContainsKey("SystolicBPLessThan") ? data["SystolicBPLessThan"].Answer : string.Empty, new { @id = "PASCarePlan_SystolicBPLessThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_DiastolicBPLessThan", data.ContainsKey("DiastolicBPLessThan") ? data["DiastolicBPLessThan"].Answer : string.Empty, new { @id = "PASCarePlan_DiastolicBPLessThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_PulseLessThan", data.ContainsKey("PulseLessThan") ? data["PulseLessThan"].Answer : string.Empty, new { @id = "PASCarePlan_PulseLessThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_RespirationLessThan", data.ContainsKey("RespirationLessThan") ? data["RespirationLessThan"].Answer : string.Empty, new { @id = "PASCarePlan_RespirationLessThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_TempLessThan", data.ContainsKey("TempLessThan") ? data["TempLessThan"].Answer : string.Empty, new { @id = "PASCarePlan_TempLessThan", @class = "fill" })%></td>
                        <td><%= Html.TextBox("PASCarePlan_WeightLessThan", data.ContainsKey("WeightLessThan") ? data["WeightLessThan"].Answer : string.Empty, new { @id = "PASCarePlan_WeightLessThan", @class = "fill" })%></td>
                    </tr>
                </tbody></table>
            </td></tr>
            <tr><th colspan="2">Safety Precautions</th></tr>
            <tr><td colspan="2"><%string[] safetyMeasure = data.ContainsKey("SafetyMeasures") && data["SafetyMeasures"].Answer != "" ? data["SafetyMeasures"].Answer.Split(',') : null; %><input type="hidden" name="PASCarePlan_SafetyMeasures" value="" />
                <table class="fixed align_left"><tbody>
                    <tr>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures1' name='PASCarePlan_SafetyMeasures' value='1' {0} />", safetyMeasure != null && safetyMeasure.Contains("1") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures1" class="radio">Anticoagulant Precautions</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures5' name='PASCarePlan_SafetyMeasures' value='5' {0} />", safetyMeasure != null && safetyMeasure.Contains("5") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures5" class="radio">Keep Side Rails Up</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures9' name='PASCarePlan_SafetyMeasures' value='9' {0} />", safetyMeasure != null && safetyMeasure.Contains("9") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures9" class="radio">Safety in ADLs</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures13' name='PASCarePlan_SafetyMeasures' value='13' {0} />", safetyMeasure != null && safetyMeasure.Contains("13") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures13" class="radio">Standard Precautions/ Infection Control</label></td>
                    </tr><tr>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures2' name='PASCarePlan_SafetyMeasures' value='2' {0} />", safetyMeasure != null && safetyMeasure.Contains("2") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures2" class="radio">Emergency Plan Developed</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures6' name='PASCarePlan_SafetyMeasures' value='6' {0} />", safetyMeasure != null && safetyMeasure.Contains("6") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures6" class="radio">Neutropenic Precautions</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures10' name='PASCarePlan_SafetyMeasures' value='10' {0} />", safetyMeasure != null && safetyMeasure.Contains("10") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures10" class="radio">Seizure Precautions</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures14' name='PASCarePlan_SafetyMeasures' value='14' {0} />", safetyMeasure != null && safetyMeasure.Contains("14") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures14" class="radio">Support During Transfer and Ambulation</label></td>
                    </tr><tr>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures3' name='PASCarePlan_SafetyMeasures' value='3' {0} />", safetyMeasure != null && safetyMeasure.Contains("3") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures3" class="radio">Fall Precautions</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures7' name='PASCarePlan_SafetyMeasures' value='7' {0} />", safetyMeasure != null && safetyMeasure.Contains("7") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures7" class="radio">O<sub>2</sub> Precautions</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures11' name='PASCarePlan_SafetyMeasures' value='11' {0} />", safetyMeasure != null && safetyMeasure.Contains("11") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures11" class="radio">Sharps Safety</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures15' name='PASCarePlan_SafetyMeasures' value='15' {0} />", safetyMeasure != null && safetyMeasure.Contains("15") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures15" class="radio">Use of Assistive Devices</label></td>
                    </tr><tr>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures4' name='PASCarePlan_SafetyMeasures' value='4' {0} />", safetyMeasure != null && safetyMeasure.Contains("4") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures4" class="radio">Keep Pathway Clear</label></td>
                        <td><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures8' name='PASCarePlan_SafetyMeasures' value='8' {0} />", safetyMeasure != null && safetyMeasure.Contains("8") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures8" class="radio">Proper Position During Meals</label></td>
                        <td colspan="2"><%= string.Format("<input class='radio float_left' type='checkbox' id='PASCarePlan_SafetyMeasures12' name='PASCarePlan_SafetyMeasures' value='12' {0} />", safetyMeasure != null && safetyMeasure.Contains("12") ? "checked='checked'" : "")%><label for="PASCarePlan_SafetyMeasures12" class="radio">Slow Position Change</label></td>
                    </tr><tr>
                        <td colspan="4" class="align_center"><label class="float_left">Other (Specify):</label><%= Html.TextArea("PASCarePlan_OtherSafetyMeasures", data.ContainsKey("OtherSafetyMeasures") ? data["OtherSafetyMeasures"].Answer : string.Empty, new { @id = "PASCarePlan_OtherSafetyMeasures", @class = "fill" })%></td>
                    </tr>
                </tbody></table>
            </td></tr>
            <tr><th>Functional Limitations</th><th>Activities Permitted</th></tr>
            <tr>
                <td>
                    <table class="fixed align_left"><tbody>
                        <tr>
                            <td><% string[] functionLimitations = data.ContainsKey("FunctionLimitations") && data["FunctionLimitations"].Answer != "" ? data["FunctionLimitations"].Answer.Split(',') : null; %><input name="PASCarePlan_FunctionLimitations" value=" " type="hidden" />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations1' name='PASCarePlan_FunctionLimitations' value='1' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("1") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations1" class="radio">Amputation</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations2' name='PASCarePlan_FunctionLimitations' value='2' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("2") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations2" class="radio">Bowel/Bladder Incontinence</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations3' name='PASCarePlan_FunctionLimitations' value='3' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("3") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations3" class="radio">Contracture</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations4' name='PASCarePlan_FunctionLimitations' value='4' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("4") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations4" class="radio">Hearing</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations5' name='PASCarePlan_FunctionLimitations' value='5' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("5") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations5" class="radio">Paralysis</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitationsB' name='PASCarePlan_FunctionLimitations' value='B' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("B") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitationsB" class="radio">Other</label><%= Html.TextBox("PASCarePlan_FunctionLimitationsOther", data.ContainsKey("FunctionLimitationsOther") ? data["FunctionLimitationsOther"].Answer : string.Empty, new { @id = "PASCarePlan_FunctionLimitationsOther" })%>
                            </td><td>
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations6' name='PASCarePlan_FunctionLimitations' value='6' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("6") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations6" class="radio">Endurance</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations7' name='PASCarePlan_FunctionLimitations' value='7' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("7") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations7" class="radio">Ambulation</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations8' name='PASCarePlan_FunctionLimitations' value='8' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("8") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations8" class="radio">Speech</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitations9' name='PASCarePlan_FunctionLimitations' value='9' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("9") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitations9" class="radio">Legally Blind</label><br />
                                <%= string.Format("<input id='PASCarePlan_FunctionLimitationsA' name='PASCarePlan_FunctionLimitations' value='A' class='radio float_left' type='checkbox' {0} />", functionLimitations != null && functionLimitations.Contains("A") ? "checked='checked'" : "" ) %><label for="PASCarePlan_FunctionLimitationsA" class="radio">Dyspnea with Minimal Exertion</label>
                            </td>
                        </tr>                    
                    </tbody></table>
                </td><td>
                    <table class="fixed align_left"><tbody>
                        <tr>
                            <td><% string[] activitiesPermitted = data.ContainsKey("ActivitiesPermitted") && data["ActivitiesPermitted"].Answer != "" ? data["ActivitiesPermitted"].Answer.Split(',') : null; %><input type="hidden" name="PASCarePlan_ActivitiesPermitted" value="" />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted1' name='PASCarePlan_ActivitiesPermitted' value='1' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("1") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted1" class="radio">Complete bed rest</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted2' name='PASCarePlan_ActivitiesPermitted' value='2' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("2") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted2" class="radio">Bed rest with BRP</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted3' name='PASCarePlan_ActivitiesPermitted' value='3' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("3") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted3" class="radio">Up as tolerated</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted4' name='PASCarePlan_ActivitiesPermitted' value='4' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("4") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted4" class="radio">Transfer bed-chair</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted5' name='PASCarePlan_ActivitiesPermitted' value='5' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("5") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted5" class="radio">Exercise prescribed</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted6' name='PASCarePlan_ActivitiesPermitted' value='6' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("6") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted6" class="radio">Partial weight bearing</label>
                            </td><td>
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted7' name='PASCarePlan_ActivitiesPermitted' value='7' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("7") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted7" class="radio">Independent at home</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted8' name='PASCarePlan_ActivitiesPermitted' value='8' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("8") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted8" class="radio">Crutches</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted9' name='PASCarePlan_ActivitiesPermitted' value='9' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("9") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermitted9" class="radio">Cane</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted10' name='PASCarePlan_ActivitiesPermitted' value='10' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("10") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermittedA" class="radio">Wheelchair</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted11' name='PASCarePlan_ActivitiesPermitted' value='11' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("11") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermittedB" class="radio">Walker</label><br />
                                <%= string.Format("<input id='PASCarePlan_ActivitiesPermitted12' name='PASCarePlan_ActivitiesPermitted' value='12' class='radio float_left' type='checkbox' {0} />", activitiesPermitted != null && activitiesPermitted.Contains("12") ? "checked='checked'" : "")%><label for="PASCarePlan_ActivitiesPermittedOther">Other:</label><%= Html.TextBox("PASCarePlan_ActivitiesPermittedOther", data.ContainsKey("ActivitiesPermittedOther") ? data["ActivitiesPermittedOther"].Answer : string.Empty, new { @id = "PASCarePlan_ActivitiesPermittedOther" })%>
                            </td>
                        </tr>                    
                    </tbody></table>
                </td>
            </tr>
            <tr><th colspan="2">Plan Details<em>* QV = Every Visit; QW = Every Week; PR = Patient Request; N/A = Not Applicable</em></th></tr>
            <tr>
                <td>
                    <table class="fixed">
                        <thead>
                            <tr><th colspan="4">Assignment</th><th colspan="4">Status</th></tr>
                            <tr><th colspan="4">Vital Signs</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                            <tr>
                                <td colspan="4">Temperature</td>
                                <td><%= Html.Hidden("PASCarePlan_VitalSignsTemperature", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_VitalSignsTemperature", "3", data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsTemperature", "2", data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsTemperature", "1", data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsTemperature", "0", data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Blood Pressure</td>
                                <td><%= Html.Hidden("PASCarePlan_VitalSignsBloodPressure", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_VitalSignsBloodPressure", "3", data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsBloodPressure", "2", data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsBloodPressure", "1", data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsBloodPressure", "0", data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Heart Rate</td>
                                <td><%= Html.Hidden("PASCarePlan_VitalSignsHeartRate", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_VitalSignsHeartRate", "3", data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsHeartRate", "2", data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsHeartRate", "1", data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsHeartRate", "0", data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Respirations</td>
                                <td><%= Html.Hidden("PASCarePlan_VitalSignsRespirations", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_VitalSignsRespirations", "3", data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsRespirations", "2", data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsRespirations", "1", data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsRespirations", "0", data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Weight</td>
                                <td><%= Html.Hidden("PASCarePlan_VitalSignsWeight", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_VitalSignsWeight", "3", data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsWeight", "2", data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsWeight", "1", data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_VitalSignsWeight", "0", data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <th colspan="4">Personal Care</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th>
                            </tr><tr>
                                <td colspan="4">Bed Bath</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareBedBath", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareBedBath", "3", data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareBedBath", "2", data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareBedBath", "1", data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareBedBath", "0", data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Assist with Chair Bath</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareAssistWithChairBath", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithChairBath", "3", data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithChairBath", "2", data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithChairBath", "1", data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithChairBath", "0", data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Tub Bath</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareTubBath", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareTubBath", "3", data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareTubBath", "2", data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareTubBath", "1", data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareTubBath", "0", data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Shower</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareShower", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareShower", "3", data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShower", "2", data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShower", "1", data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShower", "0", data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Shower w/Chair</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareShowerWithChair", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareShowerWithChair", "3", data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShowerWithChair", "2", data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShowerWithChair", "1", data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShowerWithChair", "0", data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Shampoo Hair</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareShampooHair", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareShampooHair", "3", data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShampooHair", "2", data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShampooHair", "1", data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShampooHair", "0", data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Hair Care/Comb Hair</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareHairCare", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareHairCare", "3", data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareHairCare", "2", data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareHairCare", "1", data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareHairCare", "0", data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Oral Care</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareOralCare", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareOralCare", "3", data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareOralCare", "2", data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareOralCare", "1", data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareOralCare", "0", data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Skin Care</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareSkinCare", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareSkinCare", "3", data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareSkinCare", "2", data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareSkinCare", "1", data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareSkinCare", "0", data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Pericare</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCarePericare", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCarePericare", "3", data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCarePericare", "2", data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCarePericare", "1", data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCarePericare", "0", data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Nail Care</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareNailCare", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareNailCare", "3", data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareNailCare", "2", data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareNailCare", "1", data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareNailCare", "0", data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Shave</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareShave", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareShave", "3", data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShave", "2", data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShave", "1", data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareShave", "0", data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Assist with Dressing</td>
                                <td><%= Html.Hidden("PASCarePlan_PersonalCareAssistWithDressing", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithDressing", "3", data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithDressing", "2", data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithDressing", "1", data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_PersonalCareAssistWithDressing", "0", data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr>
                        </thead>
                    </table>
                </td><td>
                    <table class="fixed">
                        <thead>
                            <tr><th colspan="4">Assignment</th><th colspan="4">Status</th></tr>
                            <tr><th colspan="4">Elimination</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                            <tr>
                                <td colspan="4">Assist with Bed Pan/Urinal</td>
                                <td><%= Html.Hidden("PASCarePlan_EliminationAssistWithBedPan", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_EliminationAssistWithBedPan", "2", data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationAssistWithBedPan", "2", data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationAssistWithBedPan", "1", data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationAssistWithBedPan", "0", data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Assist with BSC</td>
                                <td><%= Html.Hidden("PASCarePlan_EliminationAssistBSC", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_EliminationAssistBSC", "3", data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationAssistBSC", "2", data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationAssistBSC", "1", data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationAssistBSC", "0", data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Incontinence Care</td>
                                <td><%= Html.Hidden("PASCarePlan_EliminationIncontinenceCare", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_EliminationIncontinenceCare", "3", data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationIncontinenceCare", "2", data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationIncontinenceCare", "1", data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationIncontinenceCare", "0", data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Empty Drainage Bag</td>
                                <td><%= Html.Hidden("PASCarePlan_EliminationEmptyDrainageBag", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_EliminationEmptyDrainageBag", "3", data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationEmptyDrainageBag", "2", data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationEmptyDrainageBag", "1", data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationEmptyDrainageBag", "0", data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Record Bowel Movement</td>
                                <td><%= Html.Hidden("PASCarePlan_EliminationRecordBowelMovement", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_EliminationRecordBowelMovement", "3", data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationRecordBowelMovement", "2", data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationRecordBowelMovement", "1", data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationRecordBowelMovement", "0", data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Catheter Care</td>
                                <td><%= Html.Hidden("PASCarePlan_EliminationCatheterCare", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_EliminationCatheterCare", "3", data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationCatheterCare", "2", data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationCatheterCare", "1", data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_EliminationCatheterCare", "0", data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <th colspan="4">Activity</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th>
                            </tr><tr>
                                <td colspan="4">Dangle on Side of Bed</td>
                                <td><%= Html.Hidden("PASCarePlan_ActivityDangleOnSideOfBed", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_ActivityDangleOnSideOfBed", "3", data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityDangleOnSideOfBed", "2", data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityDangleOnSideOfBed", "1", data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityDangleOnSideOfBed", "0", data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Turn &#38; Position</td>
                                <td><%= Html.Hidden("PASCarePlan_ActivityTurnPosition", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_ActivityTurnPosition", "3", data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityTurnPosition", "2", data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityTurnPosition", "1", data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityTurnPosition", "0", data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Assist with Transfer</td>
                                <td><%= Html.Hidden("PASCarePlan_ActivityAssistWithTransfer", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_ActivityAssistWithTransfer", "3", data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityAssistWithTransfer", "2", data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityAssistWithTransfer", "1", data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityAssistWithTransfer", "0", data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Range of Motion</td>
                                <td><%= Html.Hidden("PASCarePlan_ActivityRangeOfMotion", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_ActivityRangeOfMotion", "3", data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityRangeOfMotion", "2", data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityRangeOfMotion", "1", data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityRangeOfMotion", "0", data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Assist with Ambulation</td>
                                <td><%= Html.Hidden("PASCarePlan_ActivityAssistWithAmbulation", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_ActivityAssistWithAmbulation", "3", data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityAssistWithAmbulation", "2", data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityAssistWithAmbulation", "1", data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_ActivityAssistWithAmbulation", "0", data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <th colspan="4">Household Task</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th>
                            </tr><tr>
                                <td colspan="4">Make Bed</td>
                                <td><%= Html.Hidden("PASCarePlan_HouseholdTaskMakeBed", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_HouseholdTaskMakeBed", "3", data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskMakeBed", "2", data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskMakeBed", "1", data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskMakeBed", "0", data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Change Linen</td>
                                <td><%= Html.Hidden("PASCarePlan_HouseholdTaskChangeLinen", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_HouseholdTaskChangeLinen", "3", data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskChangeLinen", "2", data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskChangeLinen", "1", data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskChangeLinen", "0", data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Light Housekeeping</td>
                                <td><%= Html.Hidden("PASCarePlan_HouseholdTaskLightHousekeeping", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_HouseholdTaskLightHousekeeping", "3", data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskLightHousekeeping", "2", data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskLightHousekeeping", "1", data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_HouseholdTaskLightHousekeeping", "0", data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <th colspan="4">Nutrition</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th>
                            </tr><tr>
                                <td colspan="4">Meal Set-up</td>
                                <td><%= Html.Hidden("PASCarePlan_NutritionMealSetUp", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_NutritionMealSetUp", "3", data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_NutritionMealSetUp", "2", data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_NutritionMealSetUp", "1", data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_NutritionMealSetUp", "0", data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr><tr>
                                <td colspan="4">Assist with Feeding</td>
                                <td><%= Html.Hidden("PASCarePlan_NutritioAssistWithFeeding", " ", new { @id = "" })%><%= Html.RadioButton("PASCarePlan_NutritioAssistWithFeeding", "3", data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "3" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_NutritioAssistWithFeeding", "2", data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "2" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_NutritioAssistWithFeeding", "1", data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "1" ? true : false, new { @id = "", @class = "radio" })%></td>
                                <td><%= Html.RadioButton("PASCarePlan_NutritioAssistWithFeeding", "0", data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "0" ? true : false, new { @id = "", @class = "radio" })%></td>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
            <tr><th colspan="2">Comments</th></tr>
            <tr><td colspan="2"><%= Html.TextArea("PASCarePlan_Comment", data.ContainsKey("Comment") ? data["Comment"].Answer : string.Empty, new { @id = "PASCarePlan_Comment", @class = "fill" })%></td></tr>
            <tr><th colspan="2">Electronic Signature</th></tr>
            <tr>
                <td colspan="2">
                    <div class="third">
                        <label for="PASCarePlan_ClinicianSignature" class="float_left">Clinician:</label>
                        <div class="float_right"><%= Html.Password("PASCarePlan_Clinician", "", new { @id = "PASCarePlan_Clinician" })%></div>
                    </div><div class="third"></div><div class="third">
                        <label for="PASCarePlan_ClinicianSignatureDate" class="float_left">Date:</label>
                        <div class="float_right"><input type="date" name="PASCarePlan_SignatureDate" value="<%= data.ContainsKey("SignatureDate") && data["SignatureDate"].Answer.IsNotNullOrEmpty() ? data["SignatureDate"].Answer : "" %>" id="PASCarePlan_SignatureDate" /></div>
                    </div>
                </td>
            </tr>
            <% if (Current.HasRight(Permissions.AccessCaseManagement) && !Current.UserId.ToString().IsEqual(Model.UserId.ToString())) {  %>
            <tr>
                <td colspan="2">
                    <div><%= string.Format("<input class='radio' id='{0}_ReturnForSignature' name='{0}_ReturnForSignature' type='checkbox' />", Model.Type)%> Return to Clinician for Signature</div>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <input type="hidden" name="button" value="" id="PASCarePlan_Button" />
    <div class="buttons">
        <ul>
            <li><a href="javascript:void(0);" onclick="PASCarePlanRemove(); pasCarePlan.Submit($(this));">Save</a></li>
            <li><a href="javascript:void(0);" onclick="PASCarePlanAdd(); pasCarePlan.Submit($(this));">Complete</a></li>
        <% if (Current.HasRight(Permissions.AccessCaseManagement)) {  %>
            <li><a href="javascript:void(0);" onclick="PASCarePlanRemove(); pasCarePlan.Submit($(this));">Approve</a></li>
            <% if (!Current.UserId.ToString().IsEqual(Model.UserId.ToString())) { %>
            <li><a href="javascript:void(0);" onclick="PASCarePlanRemove(); pasCarePlan.Submit($(this));">Return</a></li>
            <% } %>
        <% } %>
            <li><a href="javascript:void(0);" onclick="PASCarePlanRemove(); UserInterface.CloseWindow('pasCarePlan');">Exit</a></li>
        </ul>
    </div>
</div>
<% } %>
<script type="text/javascript">
    $("#PASCarePlan_IsVitalSignParameter").click(function() {
        if ($('#PASCarePlan_IsVitalSignParameter').is(':checked')) $(".vitalsigns").each(function() { $(this).hide(); });
        else $(".vitalsigns").each(function() { $(this).show(); });
    });
    if ($('#PASCarePlan_IsVitalSignParameter').is(':checked')) $(".vitalsigns").each(function() { $(this).hide(); });
    else $(".vitalsigns").each(function() { $(this).show(); });

    $("#PASCarePlan_MR").attr('readonly', true);
    $("#PASCarePlan_EpsPeriod").attr('readonly', true);
    function PASCarePlanAdd() {
        $("#PASCarePlan_Clinician").removeClass('required').addClass('required');
        $("#PASCarePlan_SignatureDate").removeClass('required').addClass('required');
    }
    function PASCarePlanRemove() {
        $("#PASCarePlan_Clinician").removeClass('required');
        $("#PASCarePlan_SignatureDate").removeClass('required');
    }
</script>