﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<input name="Frequency" class="Frequency" />
<script type="text/javascript">
    $(".Frequency").Autocomplete({ source: ["Before Meals", "After meals", "Daily", "Every Day", "Twice/day", "Three times/day", "Four times /day", "Every other day", "PRN", "Bedtime"] });
 </script>



