legend{position:absolute;top:-.5em;left:.2em;}
fieldset table{width:96% !important;margin:0 auto;}
fieldset.medication .t-grid table{width:100% !important;}
fieldset table tr:first-child td,fieldset table tr:first-child th,fieldset .column{padding-top:20px !important;}
fieldset table{margin-bottom:20px !important;}
img,select,input,label,input.radio{vertical-align:middle !important;}
#bar-top img{vertical-align:top !important;}
.phone_short,.phone-short{width:50px}
fieldset.medication .t-grid{left:-1px !important;top:15px;}
.medication .t-grid-header-wrap{height:28px;}
.medication table{padding:0;margin:0;width:100%;}
.medication .t-grid-header-wrap th{height:26px !important;}
fieldset.medication table tr:first-child td,fieldset.medication table tr:first-child th{padding-top:0 !important;}
.medication{height:auto;}
.nicEdit-panelContain,.nicEdit-main{width:100% !important;}
input[type=checkbox]{border:0;}
.ie-shadow{display:block;position:fixed;top:1px;width:100%;height:25px;z-index:10;background:#333;filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4', MakeShadow='true', ShadowOpacity='0.80');}
fieldset .shade{right:0;}
.img.icon.send{margin-left:-15px;}
#bar-top ul.menu a:hover{color:#333;}