﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<input name="Frequency" class="Frequency" />
<script type="text/javascript">
     $("input.Frequency").each(function() {
        var data = ["Before Meals( AC )", "Product 2", "After meals(PC)", "Every day (QD)", "Twice/day (BID)", "Three times/dau (TID)", "Four times /day(QID)", "Every other day (QOD)", "PRN"];
        $(this).bind("focus", function() {
            $(this).autocomplete(data);
        });
    });
 </script>



