﻿.page{background:#fff url(/Images/Print/Patient/physface2face.jpeg) no-repeat center center}
.content{top:280px;right:50px;bottom:100px;left:50px;overflow-y:auto;line-height:1.5;font-size:10.5pt}
.content table{border-bottom:0 none}
.patient{top:135px;right:415px;bottom:835px;left:50px;font-size:10pt}
.physicianname{top:115px;right:50px;bottom:920px;left:555px;font-size:14pt;font-weight:bold}
.physician{top:135px;right:50px;bottom:835px;left:415px;font-size:10pt}
.mr{top:238px;right:630px;bottom:795px;left:88px}
.socdate{top:238px;right:280px;bottom:795px;left:412px}
.dob{top:238px;right:485px;bottom:795px;left:232px}
.episode{top:238px;right:40px;bottom:795px;left:605px}
.physsign{top:990px;right:210px;bottom:45px;left:50px}
.physsigndate{top:990px;right:50px;bottom:45px;left:610px}