﻿.page{background:#fff url(/Images/Print/Patient/profile.jpeg) no-repeat center center;font-size:10pt}
.content{top:56.8em;right:3em;bottom:3em;left:3em;overflow-y:auto;line-height:1.5}
.patientname{top:8.5em;left:7em;width:23em;height:1.5em;font-size:10pt;font-weight:normal}
.patient{top:10em;left:3.5em;height:6.5em;width:26.5em}
.id{top:16.5em;left:6em;height:1.5em;width:8em}
.mcare{top:16.5em;left:20em;height:1.5em;width:10em}
.soc{top:8.5em;left:35em;height:1.5em;width:8em}
.bday{top:8.5em;left:49em;height:1.5em;width:9em}
.sex{top:10.1em;left:35em;height:1.5em;width:8em}
.marital{top:10.1em;left:49em;height:1.5em;width:9em}
.office{top:11.7em;left:35em;height:1.5em;width:23em}
.race{top:13.3em;left:35em;height:1.5em;width:23em}
.height{top:14.9em;left:35em;height:1.5em;width:8em}
.weight{top:14.9em;left:49em;height:1.5em;width:9em}
.cert{top:16.5em;left:38em;height:1.5em;width:23em}
.triage{top:20em;left:11em;height:1.5em;width:36em;font-size:9pt}
.refdate{top:18.1em;left:49em;height:1.5em;width:9em}
.priins{top:21em;left:9em;height:2.5em;width:13em}
.priinsnum{top:21em;left:23em;height:2.5em;width:7em}
.secins{top:23.5em;left:9em;height:2.5em;width:13em}
.secinsnum{top:21em;left:23em;height:2.5em;width:7em}
.terins{top:26em;left:9em;height:2.5em;width:13em}
.terinsnum{top:21em;left:23em;height:2.5em;width:7em}
.ecname{top:22.5em;left:31.25em;height:5em;width:11em}
.ecphone{top:22.5em;left:42.5em;height:5em;width:8em}
.ecralation{top:22.5em;left:51em;height:5em;width:7em}
.ecname2{top:24em;left:31.25em;height:5em;width:11em}
.ecphone2{top:24em;left:42.5em;height:5em;width:8em}
.ecralation2{top:24em;left:51em;height:5em;width:7em}
.ecname3{top:25.5em;left:31.25em;height:5em;width:11em}
.ecphone3{top:25.5em;left:42.5em;height:5em;width:8em}
.ecralation3{top:25.5em;left:51em;height:5em;width:7em}
.ecname4{top:27em;left:31.25em;height:5em;width:11em}
.ecphone4{top:27em;left:42.5em;height:5em;width:8em}
.ecralation4{top:27em;left:51em;height:5em;width:7em}
.allergies{top:30em;left:3em;height:4.5em;width:27.5em}
.pharm{top:30.25em;left:36em;height:1.5em;width:22em}
.pharmphone{top:32em;left:36em;height:1.5em;width:22em}
.pridiag{top:36.3em;left:14em;height:1.5em;width:16.5em}
.secdiag{top:38em;left:14em;height:1.5em;width:16.5em}
.clinician{top:39.7em;left:14em;height:1.5em;width:16.5em}
.caseman{top:41.4em;left:14em;height:1.5em;width:16.5em}
.startofcare{top:43.1em;left:14em;height:1.5em;width:16.5em}
.freq{top:44.8em;left:14em;height:5em;width:16.5em}
.phys{top:36.3em;left:37em;height:1.5em;width:21em}
.physaddress{top:38em;left:37em;height:3.5em;width:21em}
.physphone{top:41.4em;left:37em;height:1.5em;width:21em}
.physfax{top:43.1em;left:37em;height:1.5em;width:21em}
.physnpi{top:44.8em;left:37em;height:5em;width:21em}
.services{top:51.6em;left:3em;height:3.5em;width:27.5em}
.dme{top:51.6em;left:30.8em;height:3.5em;width:27.5em}