﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<MedicationProfileViewData>" %>
<% using (Html.BeginForm("SignMedicationHistory", "Patient", FormMethod.Post, new { @id = "newMedicationProfileSnapShotForm" }))
   { %>
<%
var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, Question>(); %>
<% = Html.Hidden("MedId",Model.MedicationProfile.Id) %>
<% = Html.Hidden("PatientId", Model.Patient.Id)%>
<% = Html.Hidden("EpisodeId", Model.EpisodeId)%>
<div class="visitContainer">
    <table class="nursing">
        <tr>
            <th>
                <div class="third">
                    <span class="float_left strong">Patient Name:</span>
                    <span class="float_right normal"><%= Html.TextBox("Name", Model.Patient.FirstName+" "+ Model.Patient.LastName, new { @readonly = "readonly" } ) %></span>
                </div><div class="third">
                    <span class="float_left strong">Patient ID:</span>
                    <span class="float_right normal"><%= Html.TextBox("ID", Model != null && Model.Patient != null && Model.Patient.PatientIdNumber.IsNotNullOrEmpty() ? Model.Patient.PatientIdNumber : string.Empty, new { @readonly = "readonly" } ) %></span>
                </div><div class="third">
                    <span class="float_left strong">Episode/Period:</span>
                    <span class="float_right normal"><%= Html.TextBox("Eps", string.Format(" {0} – {1}", Model != null && Model.StartDate != null ? Model.StartDate.ToShortDateString() : string.Empty, Model != null && Model.StartDate != null ? Model.EndDate.ToShortDateString() : string.Empty), new { @readonly = "readonly" })%></span>
                </div><div class="third">
                    <span class="float_left strong">Allergies:</span>
                    <span class="float_right normal"><%= Html.TextBox("Allergies", data.ContainsKey("485AllergiesDescription") ? data["485AllergiesDescription"].Answer : string.Empty, new { @readonly = "readonly" })%></span>
                </div><div class="third">
                    <span class="float_left strong">Pharmacy Name:</span>
                    <span class="float_right normal"><%= Html.TextBox("PharmacyName", Model.PharmacyName, new { @id = "MedicationProfile_PharmacyName" })%></span>
                </div><div class="third">
                    <span class="float_left strong">Pharmacy Phone:</span>
                    <span class="float_right normal"><%= Html.TextBox("PharmacyPhone", Model.PharmacyPhone, new { @id = "MedicationProfile_PharmacyPhone" })%></span>
                </div>
            </th>
        </tr><tr>
            <th>
                <div class="newRow one medication align_left">
                    <%= Html.Telerik().Grid<Medication>().Name("MedicatonProfileGrid").DataKeys(keys => { keys.Add(M => M.Id); }).DataBinding(dataBinding => { dataBinding.Ajax().Select("MedicationSnapshot", "Patient", new { MedId = Model.MedicationProfile.Id }); }).Columns(columns => { columns.Bound(M => M.IsLongStanding).ClientTemplate("<input type='checkbox' disabled='disabled' name='IsLongStanding' <#=IsLongStanding? checked='checked' : '' #> />").Width(30);
                        columns.Bound(M => M.StartDate).Format("{0:d}").Width(90);
                        columns.Bound(M => M.MedicationDosage).Title("Medication & Dosage");
                        columns.Bound(M => M.Route).Title("Route");
                        columns.Bound(M => M.Frequency).Title("Frequency");
                        columns.Bound(M => M.MedicationType).ClientTemplate("<label><#=MedicationType!=null&&MedicationType!=''? MedicationType.Text : ''#> </label>");
                        columns.Bound(M => M.Classification);
                    }) .Scrollable().Sortable().Footer(false)   %>
                </div>   
            </th>
        </tr><tr>
            <th>
                <p class="align_left normal"><strong>Drug Regimen Review Acknowledgment</strong>: I have reviewed all the listed medications for potential adverse effects, drug reactions, including ineffective drug therapy, significant side effects, significant drug interactions, duplicate drug therapy, and noncompliance with drug therapy.</p>
                <div class="third">
                    <label for="Signature" class="float_left">Clinician Signature:</label>
                    <div class="float_right"><%= Html.Password("Signature", "", new { @id = "MedicationProfile_ClinicianSignature", @class="required" }) %></div>
                </div><div class="third"></div><div class="third">
                    <label for="SignedDate" class="float_left">Date:</label>
                    <div class="float_right"><%= Html.Telerik().DatePicker().Name("SignedDate").Value(DateTime.Today.ToString("MM/dd/yyy")).HtmlAttributes(new { @id = "MedicationProfile_ClinicianSignatureDate", @class = "date required" }) %></div>
                </div>
             </th>
        </tr>
    </table>
    <div class="buttons">
        <ul>
            <li><a href="javascript:void(0);" onclick="$(this).closest('form').submit();">Sign</a></li>
            <li><a href="javascript:void(0);" onclick="UserInterface.CloseWindow('medicationprofilesnapshot');">Close</a></li>
        </ul>
    </div>
</div>
<% } %>

 