﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<%  using (Html.BeginForm("Assessment", "Oasis", FormMethod.Post, new { @id = "editOasisDischargeFromAgencyOrdersForm" })) {
        var data = Model.ToDictionary(); %>
<%= Html.Hidden("DischargeFromAgency_Id", Model.Id)%>
<%= Html.Hidden("DischargeFromAgency_Action", "Edit")%>
<%= Html.Hidden("DischargeFromAgency_PatientGuid", Model.PatientId)%>
<%= Html.Hidden("DischargeFromAgency_EpisodeId", Model.EpisodeId)%>
<%= Html.Hidden("assessment", "DischargeFromAgency")%>
<%= Html.Hidden("categoryType", "Discharge")%>
<div class="wrapper main">
<fieldset class="oasis">
    <legend>Discharge</legend>
    <div class="wide_column">
        <div class="row">
            <div class="strong"><a href="javascript:void(0);" class="green" onclick="Oasis.ToolTip('M2400');">(M2400)</a> Intervention Synopsis: (Check only one box in each row.) Since the previous OASIS assessment, were the following interventions BOTH included in the physician-ordered plan of care AND implemented?</div>
            <table class="form bordergrid">
                <tr>
                    <th colspan="4">Plan/ Intervention</th>
                    <th>0 &ndash; No</th>
                    <th>1 &ndash; Yes</th>
                    <th colspan="4">NA &ndash; Not Applicable</th>
                </tr><tr>
                    <td colspan="4"><span class="float_left">a.</span><span class="radio">Diabetic foot care including monitoring for the presence of skin lesions on the lower extremities and patient/caregiver education on proper foot care</span><%=Html.Hidden("DischargeFromAgency_M2400DiabeticFootCare", " ", new { @id = "" })%></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400DiabeticFootCare", "00", data.ContainsKey("M2400DiabeticFootCare") && data["M2400DiabeticFootCare"].Answer == "00" ? true : false, new { @id = "DischargeFromAgency_M2400DiabeticFootCare0", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400DiabeticFootCare0"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400DiabeticFootCare", "00", data.ContainsKey("M2400DiabeticFootCare") && data["M2400DiabeticFootCare"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2400DiabeticFootCare1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400DiabeticFootCare1"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td colspan="4"><%=Html.RadioButton("DischargeFromAgency_M2400DiabeticFootCare", "NA", data.ContainsKey("M2400DiabeticFootCare") && data["M2400DiabeticFootCare"].Answer == "NA" ? true : false, new { @id = "DischargeFromAgency_M2400DiabeticFootCareNA", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400DiabeticFootCareNA"><span class="float_left">NA</span><span class="normal margin">Patient is not diabetic or is bilateral amputee</span></td>
                </tr><tr>
                    <td colspan="4"><span class="float_left">b.</span><span class="radio">Falls prevention interventions</span><%=Html.Hidden("DischargeFromAgency_M2400FallsPreventionInterventions", " ", new { @id = "" })%></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400FallsPreventionInterventions", "00", data.ContainsKey("M2400DepressionIntervention") && data["M2400DepressionIntervention"].Answer == "00" ? true : false, new { @id = "DischargeFromAgency_M2400FallsPreventionInterventions0", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400FallsPreventionInterventions0"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400FallsPreventionInterventions", "00", data.ContainsKey("M2400DepressionIntervention") && data["M2400DepressionIntervention"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2400FallsPreventionInterventions1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400FallsPreventionInterventions1"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td colspan="4"><%=Html.RadioButton("DischargeFromAgency_M2400FallsPreventionInterventions", "NA", data.ContainsKey("M2400DepressionIntervention") && data["M2400DepressionIntervention"].Answer == "NA" ? true : false, new { @id = "DischargeFromAgency_M2400FallsPreventionInterventionsNA", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400FallsPreventionInterventionsNA"><span class="float_left">NA</span><span class="normal margin">Formal multi-factor Fall Risk Assessment indicates the patient was not at risk for falls since the last OASIS assessment</span></td>
                </tr><tr>
                    <td colspan="4"><span class="float_left">c.</span><span class="radio">Depression intervention(s) such as medication, referral for other treatment, or a monitoring plan for current treatment</span><%=Html.Hidden("DischargeFromAgency_M2400DepressionIntervention", " ", new { @id = "" })%></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400DepressionIntervention", "00", data.ContainsKey("M2400DiabeticFootCare") && data["M2400DiabeticFootCare"].Answer == "00" ? true : false, new { @id = "DischargeFromAgency_M2400DepressionIntervention0", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400DepressionIntervention0"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400DepressionIntervention", "00", data.ContainsKey("M2400DiabeticFootCare") && data["M2400DiabeticFootCare"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2400DepressionIntervention1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400DepressionIntervention1"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td colspan="4"><%=Html.RadioButton("DischargeFromAgency_M2400DepressionIntervention", "NA", data.ContainsKey("M2400DiabeticFootCare") && data["M2400DiabeticFootCare"].Answer == "NA" ? true : false, new { @id = "DischargeFromAgency_M2400DepressionInterventionNA", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400DepressionInterventionNA"><span class="float_left">NA</span><span class="normal margin">Formal assessment indicates patient did not meet criteria for depression AND patient did not have diagnosis of depression since the last OASIS assessment</span></td>
                </tr><tr>
                    <td colspan="4"><span class="float_left">d.</span><span class="radio">Intervention(s) to monitor and mitigate pain</span><%=Html.Hidden("DischargeFromAgency_M2400PainIntervention", " ", new { @id = "" })%></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400PainIntervention", "00", data.ContainsKey("M2400PainIntervention") && data["M2400PainIntervention"].Answer == "00" ? true : false, new { @id = "DischargeFromAgency_M2400PainIntervention0", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PainIntervention0"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400PainIntervention", "00", data.ContainsKey("M2400PainIntervention") && data["M2400PainIntervention"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2400PainIntervention1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PainIntervention1"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td colspan="4"><%=Html.RadioButton("DischargeFromAgency_M2400PainIntervention", "NA", data.ContainsKey("M2400PainIntervention") && data["M2400PainIntervention"].Answer == "NA" ? true : false, new { @id = "DischargeFromAgency_M2400PainInterventionNA", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PainInterventionNA"><span class="float_left">NA</span><span class="normal margin">Formal assessment did not indicate pain since the last OASIS assessment</span></td>
                </tr><tr>
                    <td colspan="4"><span class="float_left">e.</span><span class="radio">Intervention(s) to prevent pressure ulcers</span><%=Html.Hidden("DischargeFromAgency_M2400PressureUlcerIntervention", " ", new { @id = "" })%></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400PressureUlcerIntervention", "00", data.ContainsKey("M2400PressureUlcerIntervention") && data["M2400PressureUlcerIntervention"].Answer == "00" ? true : false, new { @id = "DischargeFromAgency_M2400PressureUlcerIntervention0", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PressureUlcerIntervention0"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400PressureUlcerIntervention", "00", data.ContainsKey("M2400PressureUlcerIntervention") && data["M2400PressureUlcerIntervention"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2400PressureUlcerIntervention1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PressureUlcerIntervention1"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td colspan="4"><%=Html.RadioButton("DischargeFromAgency_M2400PressureUlcerIntervention", "NA", data.ContainsKey("M2400PressureUlcerIntervention") && data["M2400PressureUlcerIntervention"].Answer == "NA" ? true : false, new { @id = "DischargeFromAgency_M2400PressureUlcerInterventionNA", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PressureUlcerInterventionNA"><span class="float_left">NA</span><span class="normal margin">Formal assessment indicates the patient was not at risk of pressure ulcers since the last OASIS assessment</span></td>
                </tr><tr>
                    <td colspan="4"><span class="float_left">f.</span><span class="radio">Pressure ulcer treatment based on principles of moist wound healing</span><%=Html.Hidden("DischargeFromAgency_M2400PressureUlcerTreatment", " ", new { @id = "" })%></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400PressureUlcerTreatment", "00", data.ContainsKey("M2400PressureUlcerTreatment") && data["M2400PressureUlcerTreatment"].Answer == "00" ? true : false, new { @id = "DischargeFromAgency_M2400PressureUlcerTreatment0", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PressureUlcerTreatment0"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td><%=Html.RadioButton("DischargeFromAgency_M2400PressureUlcerTreatment", "00", data.ContainsKey("M2400PressureUlcerTreatment") && data["M2400PressureUlcerTreatment"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2400PressureUlcerTreatment1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PressureUlcerTreatment1"><span class="float_left">0 &ndash;</span><span class="margin normal">No</span></label></td>
                    <td colspan="4"><%=Html.RadioButton("DischargeFromAgency_M2400PressureUlcerTreatment", "NA", data.ContainsKey("M2400PressureUlcerTreatment") && data["M2400PressureUlcerTreatment"].Answer == "NA" ? true : false, new { @id = "DischargeFromAgency_M2400PressureUlcerTreatmentNA", @class = "radio float_left" })%><label for="DischargeFromAgency_M2400PressureUlcerTreatmentNA"><span class="float_left">NA</span><span class="normal margin">Dressings that support the principles of moist wound healing not indicated for this patient’s pressure ulcers OR patient has no pressure ulcers with need for moist wound healing</span></td>
                </tr>
            </table>
            <div class="float_right oasis"><div class="tooltip_oasis" onclick="Oasis.ToolTip('M2400');">?</div></div>
        </div>
    </div><div class="column">
        <div class="row">
            <div class="strong"><a href="javascript:void(0);" class="green" onclick="Oasis.ToolTip('M2410');">(M2410)</a> To which Inpatient Facility has the patient been admitted?<%=Html.Hidden("DischargeFromAgency_M2410TypeOfInpatientFacility", " ", new { @id = "" })%></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2410TypeOfInpatientFacility", "01", data.ContainsKey("M2410TypeOfInpatientFacility") && data["M2410TypeOfInpatientFacility"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2410TypeOfInpatientFacility1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2410TypeOfInpatientFacility1"><span class="float_left">1 &ndash;</span><span class="normal margin">Hospital</span></label></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2410TypeOfInpatientFacility", "02", data.ContainsKey("M2410TypeOfInpatientFacility") && data["M2410TypeOfInpatientFacility"].Answer == "02" ? true : false, new { @id = "DischargeFromAgency_M2410TypeOfInpatientFacility2", @class = "radio float_left" })%><label for="DischargeFromAgency_M2410TypeOfInpatientFacility2"><span class="float_left">2 &ndash;</span><span class="normal margin">Rehabilitation facility</span></label></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2410TypeOfInpatientFacility", "03", data.ContainsKey("M2410TypeOfInpatientFacility") && data["M2410TypeOfInpatientFacility"].Answer == "03" ? true : false, new { @id = "DischargeFromAgency_M2410TypeOfInpatientFacility3", @class = "radio float_left" })%><label for="DischargeFromAgency_M2410TypeOfInpatientFacility3"><span class="float_left">3 &ndash;</span><span class="normal margin">Nursing home</span></label></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2410TypeOfInpatientFacility", "04", data.ContainsKey("M2410TypeOfInpatientFacility") && data["M2410TypeOfInpatientFacility"].Answer == "04" ? true : false, new { @id = "DischargeFromAgency_M2410TypeOfInpatientFacility4", @class = "radio float_left" })%><label for="DischargeFromAgency_M2410TypeOfInpatientFacility4"><span class="float_left">4 &ndash;</span><span class="normal margin">Hospice</span></label></div>
            <div><div class="float_right oasis"><div class="tooltip_oasis" onclick="Oasis.ToolTip('M2410');">?</div></div><%=Html.RadioButton("DischargeFromAgency_M2410TypeOfInpatientFacility", "NA", data.ContainsKey("M2410TypeOfInpatientFacility") && data["M2410TypeOfInpatientFacility"].Answer == "NA" ? true : false, new { @id = "DischargeFromAgency_M2410TypeOfInpatientFacilityNA", @class = "radio float_left" })%><label for="DischargeFromAgency_M2410TypeOfInpatientFacilityNA"><span class="float_left">NA</span><span class="normal margin">No inpatient facility admission</span></label></div>
        </div>
    </div><div class="column">
        <div class="row">
            <div class="strong"><a href="javascript:void(0);" class="green" onclick="Oasis.ToolTip('M2420');">(M2420)</a> Discharge Disposition: Where is the patient after discharge from your agency? (Choose only one answer.)<%=Html.Hidden("DischargeFromAgency_M2420DischargeDisposition", " ", new { @id = "" })%></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2420DischargeDisposition", "01", data.ContainsKey("M2420DischargeDisposition") && data["M2420DischargeDisposition"].Answer == "01" ? true : false, new { @id = "DischargeFromAgency_M2420DischargeDisposition1", @class = "radio float_left" })%><label for="DischargeFromAgency_M2420DischargeDisposition1"><span class="float_left">1 &ndash;</span><span class="normal margin">Patient remained in the community (without formal assistive services)</span></label></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2420DischargeDisposition", "02", data.ContainsKey("M2420DischargeDisposition") && data["M2420DischargeDisposition"].Answer == "02" ? true : false, new { @id = "DischargeFromAgency_M2420DischargeDisposition2", @class = "radio float_left" })%><label for="DischargeFromAgency_M2420DischargeDisposition2"><span class="float_left">2 &ndash;</span><span class="normal margin">Patient remained in the community (with formal assistive services)</span></label></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2420DischargeDisposition", "03", data.ContainsKey("M2420DischargeDisposition") && data["M2420DischargeDisposition"].Answer == "03" ? true : false, new { @id = "DischargeFromAgency_M2420DischargeDisposition3", @class = "radio float_left" })%><label for="DischargeFromAgency_M2420DischargeDisposition3"><span class="float_left">3 &ndash;</span><span class="normal margin">Patient transferred to a non-institutional hospice</span></label></div>
            <div><%=Html.RadioButton("DischargeFromAgency_M2420DischargeDisposition", "04", data.ContainsKey("M2420DischargeDisposition") && data["M2420DischargeDisposition"].Answer == "04" ? true : false, new { @id = "DischargeFromAgency_M2420DischargeDisposition4", @class = "radio float_left" })%><label for="DischargeFromAgency_M2420DischargeDisposition4"><span class="float_left">4 &ndash;</span><span class="normal margin">Unknown because patient moved to a geographic location not served by this agency</span></label></div>
            <div><div class="float_right oasis"><div class="tooltip_oasis" onclick="Oasis.ToolTip('M2420');">?</div></div><%=Html.RadioButton("DischargeFromAgency_M2420DischargeDisposition", "UK", data.ContainsKey("M2420DischargeDisposition") && data["M2420DischargeDisposition"].Answer == "UK" ? true : false, new { @id = "DischargeFromAgency_M2420DischargeDispositionUK", @class = "radio float_left" })%><label for="DischargeFromAgency_M2420DischargeDispositionUK"><span class="float_left">UK</span><span class="normal margin">Other unknown</span></label></div>
        </div>
    </div><div class="column">
        <div class="row">
            <label for="" class="float_left"><a href="javascript:void(0);" class="green" onclick="Oasis.ToolTip('M0903');">(M0903)</a> Date of Last (Most Recent) Home Visit:</label>
            <div class="float_right"><%=Html.TextBox("DischargeFromAgencyDeath_M0903LastHomeVisitDate", data.ContainsKey("M0903LastHomeVisitDate") ? data["M0903LastHomeVisitDate"].Answer : "", new { @id = "DischargeFromAgencyDeath_M0903LastHomeVisitDate" })%><div class="tooltip_oasis" onclick="Oasis.ToolTip('M0903');">?</div></div>
        </div>
    </div><div class="column">
        <div class="row">
            <label for="" class="float_left"><a href="javascript:void(0);" class="green" onclick="Oasis.ToolTip('M0906');">(M0906)</a> Discharge/Transfer/Death Date: Enter the date of the discharge, transfer, or death (at home) of the patient.</label>
            <div class="float_right"><%=Html.TextBox("DischargeFromAgencyDeath_M0906DischargeDate", data.ContainsKey("M0906DischargeDate") ? data["M0906DischargeDate"].Answer : "", new { @id = "DischargeFromAgencyDeath_M0906DischargeDate" })%><div class="tooltip_oasis" onclick="Oasis.ToolTip('M0906');">?</div></div>
        </div>
    </div>
</fieldset>
   <div class="buttons">
        <ul>
            <li><%=string.Format("<a href=\"javascript:void(0);\" onclick=\"Discharge.FormSubmit($(this),{0});\">Save &amp; Check for Errors</a>", "function(){" + string.Format("UserInterface.ShowOasisValidationModal('{0}','{1}','{2}','DischargeFromAgency');", Model.Id, Model.PatientId, Model.EpisodeId) + "}")%></li>
            <li><a href="javascript:void(0);" onclick="SOC.FormSubmit($(this));">Save &amp; Exit</a></li>
        </ul>
    </div>
</div>
<% } %>