#txtSearch_Patient_Selection,#txtSearch_Schedule_Selection{margin-top:-22px !important;}
fieldset .instructions li p{margin-top:-18px !important;}
#patienthistory_soc li.ie7fix{margin-bottom:30px;}
#window_billingcenter table{width:98%;}
.tooltip_oasis{display:inline;}
#bar-top img{vertical-align:middle !important;}
.faux-grid{overflow:hidden;}
.faux-grid-content{height:auto !important;}
ul.widgets{width:32.75% !important;}
div.buttons ul{display:inline !important;}
span.normal.margin ul li span.radio{display:inline-block !important;margin-left:5px !important;}
.nursing .third{float:left;}
.nursing{width:98.3% !important;}