﻿/* OASIS Styles
----------------------------------------------------------------------------------------------------*/

.row485
{
    background-color: #e7f3f8;
	display:block;
	min-height:32px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	width:100%;
	font-family: arial, sans-serif;
    font-size: 11px;
    border: solid 1px #ccc;
    border-top: none;
    border-left: none;
}
.rowTable
{
    background-color: #e7f3f8;
	display:block;
	min-height:32px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
	width:100%;
	font-family: arial, sans-serif;
    font-size: 11px;
    border: solid 1px #ccc;
    border-top: none;
    border-left: none;
}
.rowTable  .rowBreak 
{
    margin:0px;
}

table
{
    border-top: 0;
    width: 100%;
    background-color: white;
}
table h2
{
    padding: 0;
}
table th
{
    font-weight: bold;
    line-height:95%;
    border: solid 1px #ccc;
    border-bottom: none;
    border-right: none;
}
table td, table th
{
    padding: 3px 5px;
    /*vertical-align: top; */
}
table tbody th
{
    padding: 8px 5px;
}
 table td
{
   text-align: left;
   border: solid 1px #ccc;
   border-right: none;
   border-bottom: none;
}

table th
{
    background: #F7F8FC url(/images/text-tabs-bg2.gif) repeat-x;
    text-align: center;
}

.rowOasis ul 
{
    margin: 0;
    padding: 0;
    clear: both;
}

#patienthistory_soc ul li , #editPatienthistory_recertification ul li
{
    float: left;
    padding: 0;
}
.spacer
{
    width: 160px;
    text-align: left;
}
.littleSpacer
{
    width: 70px;
}
ul.columns
{
    clear: both;
}

ul.columns li
{
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    vertical-align: top;
}
.bigSpacer
{
    width: 400px;
    text-align: left;
}