﻿/* Office2007 theme*/
.t-widget{border-color:#d3d3d3;background-color:#fffcf2}
.t-header,.t-grid-header,.ui-datepicker-header{color:#333;font-weight:bold;border-color:#aaa;background:#c3d8f1 url(Office2007/sprite.png) repeat-x 0 -352px}
.t-grid{border-color:#aaa}
.t-icon,.ui-icon{background:transparent url(Office2007/sprite.png) no-repeat}
.t-expand{background-position:0 -160px}
.t-collapse{background-position:0 -176px}
.t-plus,.t-plus-disabled{background-position:0 -256px}
.t-minus,.t-minus-disabled{background-position:-16px -256px}
.t-arrow-up{background-position:-16px -160px}
.t-arrow-down{background-position:-16px -176px}
.t-state-disabled .t-arrow-up{background-position:-32px -160px}
.t-state-disabled .t-arrow-down{background-position:-32px -176px}
.t-state-hover .t-arrow-up{background-position:-48px -160px}
.t-state-hover .t-arrow-down{background-position:-48px -176px}
.t-numerictextbox .t-arrow-up{background-position:-16px -162px}
.t-numerictextbox .t-arrow-down{background-position:-16px -178px}
.t-arrow-up-small{background-position:0 -304px}
.t-arrow-down-small{background-position:-16px -304px}
.t-arrow-first{background-position:0 -192px}
.t-arrow-prev,.ui-icon-circle-triangle-w{background-position:-16px -192px}
.t-arrow-next,.ui-icon-circle-triangle-e{background-position:-32px -192px}
.t-arrow-last{background-position:-48px -192px}
.t-state-disabled .t-arrow-first{background-position:0 -208px}
.t-state-disabled .t-arrow-prev{background-position:-16px -208px}
.t-state-disabled .t-arrow-next{background-position:-32px -208px}
.t-state-disabled .t-arrow-last{background-position:-48px -208px}
.t-state-hover .t-arrow-first{background-position:0 -224px}
.t-state-hover .t-arrow-prev{background-position:-16px -224px}
.t-state-hover .t-arrow-next{background-position:-32px -224px}
.t-state-hover .t-arrow-last{background-position:-48px -224px}
.t-filter{background-position:0 -240px}
.t-clear-filter{background-position:-16px -240px}
.t-refresh{background-position:-32px -236px;height:20px}
.t-icon-calendar{background-position:-48px -240px;margin-right:4px}
.t-delete{background-position:0 -288px}
.t-insert-top{background-position:0 -320px}
.t-insert-middle{background-position:-16px -320px}
.t-insert-bottom{background-position:-32px -320px}
.t-add{background-position:-48px -320px}
.t-denied{background-position:-64px -320px}
.t-loading,.t-widget .t-loading{background:transparent url(Office2007/loading.gif) no-repeat 0 0;margin-top:3px}
.t-widget,.t-link:link,.t-link:active,.t-link:visited{color:#333}
.t-group,.t-content{border-color:#688caf;background-color:#fff}
.t-alt{background-color:#f7efd5}
.t-state-default{border-color:#b8b8b8}
.t-active-filter{background-color:#c0d9ef}
.t-state-hover,.ui-state-hover{background-color:#dce6f5;border-color:#688caf}
.t-state-active{background-color:#fffcf2;border-color:#688caf}
.t-state-error{border-style:ridge;border-color:#f00;background-color:#ffc0cb}
.t-state-disabled,.t-state-disabled .t-link{color:#8d8d8d}
.t-grid-toolbar,.t-grouping-header,.t-widget .t-footer,.t-grid-footer,.t-widget .t-status{border-color:#5d8cc9;background-color:#d6e5f3}
.t-button{background:#e8e8e8 url(Office2007/sprite.png) repeat-x 0 -96px;color:#333}
.t-button-hover{background-position:0 -128px;border-color:#d8ca95 #b9a073 #c6b99c}
.t-tabstrip li.t-state-active{border-bottom-color:#fff}
.t-grid td{border-color:#ddd;border-right:1px solid #d6e5f3}
.t-grid .t-grouping-row{background:#fff url(Office2007/sprite.png) repeat-x 0 -48px}
.t-grouping-header .t-group-indicator{color:#333;border-color:#aaa}
.t-grouping-dropclue{background:url(Office2007/sprite.png) no-repeat -48px -288px}
.t-grouping-row .t-groupcell,.t-grouping-row p{background:#fff}
.t-treeview .t-drop-clue{background-image:url(Office2007/sprite.png);background-position:0 -342px}
.t-treeview .t-state-selected{border-color:#a79d87}
.t-panelbar .t-link,.t-panelbar .t-group,.t-panelbar .t-content{border-color:#5d8cc9}
.t-panelbar .t-state-hover{background-image:none}
.t-calendar th,.ui-datepicker-calendar th{border-color:#9ebfdb}
.t-other-month .t-link{color:#777}
.t-treeview-lines .t-top,.t-treeview-lines .t-mid,.t-treeview-lines .t-bot{background-image:url(Office2007/treeview-nodes.png);background-repeat:no-repeat;margin-left:-16px;padding-left:16px}
.t-treeview-lines .t-item{background-image:url(Office2007/treeview-line.png)}
.t-treeview-lines .t-last{background-image:none}
.t-grid-toolbar{text-align:right;height:27px}
.t-grid-content{position:absolute;top:27px;bottom:0}