﻿.page{background:#fff url(/Images/Print/Oasis/oasis.jpeg) no-repeat center center}
.content{top:133px;right:36px;bottom:32px;left:38px;font-size:8pt;line-height:1.5;border-top:.1em solid #000}
.patientname{top:110px}
.AssessmentType{top:48px;right:36px;bottom:955px;left:432px;font-size:16pt;text-align:center;font-weight:bold}