﻿.page{background:#fff url(/Images/Print/Oasis/profile.jpeg) no-repeat center center}
.content{top:110px;right:37px;bottom:38px;left:38px;overflow-y:auto;font-size:10pt;line-height:1.5}
.content table{border-top:.1em solid #000;border-bottom:0 none}
.content table table{border:0 none}