﻿<%@ Master Language="C#" AutoEventWireup="true" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title><asp:ContentPlaceHolder ID="ToolHeader" runat="server"></asp:ContentPlaceHolder></title>
    <style type="text/css">
        body 
        {
            font-family: Arial, Sans-Serif, Garamond;
            font-size: 11px;
            line-height: 1.6em;
        }
        /* ------------------ styling for the tables  ------------------   */
        #newspaper-a
        {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            border: 1px solid #69c;
            margin-bottom: 20px;
        }
        #newspaper-a th
        {
            padding: 12px 17px 12px 17px;
            font-weight: normal;
            font-size: 14px;
            color: #039;
            border-bottom: 1px dashed #69c;
        }
        #newspaper-a td
        {
            padding: 7px 17px 7px 17px;
            color: #669;
        }
        #newspaper-a tbody tr:hover td
        {
            color: #339;
            background: #d0dafd;
        }

        #newspaper-b
        {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            border: 1px solid #69c;
            margin-bottom: 20px;
        }
        #newspaper-b th
        {
            padding: 12px 17px 12px 17px;
            font-weight: normal;
            font-size: 14px;
            color: #039;
            border-bottom: 1px dashed #69c;
        }
        #newspaper-b td
        {
            padding: 7px 17px 7px 17px;
            color: #669;
        }
        #newspaper-b tbody tr:hover td
        {
            color: #339;
            background: #d0dafd;
        }
        .modalWindow
        {
            background-color:#fff;
            padding:10px;
            width:550px
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="/Scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/Plugins/blockui.min.js"></script> 
    <script type="text/javascript" src="/Scripts/Modules/Utility.js"></script>
    <div>
        <form id="form1" runat="server">
            <asp:ContentPlaceHolder ID="ToolContent" runat="server"></asp:ContentPlaceHolder>
        </form>
    </div>
    
</body>
</html>
