﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<iframe style="position:absolute;top:0;left:0;height:100%;width:100%" src="<%= string.Format("http://axxessweb.com/hr/?u={0}", HttpUtility.UrlEncode(SessionStore.SessionId)) %>"></iframe>