﻿/* -- General -- */
a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,figure,footer,form,h1,h2,h3,h4,h5,h6,hFeader,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0;margin:0;outline:0;padding:0;}
html,body{overflow:hidden;height:100%;}
a{text-decoration:none;}
a.hidden{display:none;}
img{font-size:0;}
body,h1,h2,h3,h4,h5,h6,textarea{font:12px/1 'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;}
li{list-style:none;}
label{color:#333;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;}
label.float_left{font-weight:bold;}
em{font-weight:normal;font-size:10px;}
.largefont{font-size:16px;}
fieldset{position:relative;margin:10px 10px 20px;background-color:#fffcf2;border:solid 1px #d3d3d3;}
legend{font-weight:bold;}
input,textarea,select{border:1px solid #d1d1d1;}
.abs,.abs_left,.abs_right{position:absolute;top:auto;left:auto;right:auto;bottom:auto;cursor:default;}
.abs_left{left:0;}
.abs_right{right:0;}
.rel{position:relative;display:inline-block;}
.hidden{display:none;}
.very_hidden{display:none !important;}
.align_left{text-align:left;}
.align_center{text-align:center !important;}
.align_right{text-align:right;}
.float_left{float:left;}
.float_right{float:right;position:relative;}
.clear{clear:both;}
.clear_left{clear:left;}
.clear_right{clear:right;}
.light{font-weight:normal;}
.strong{font-weight:bold;}
.fixed{table-layout:fixed;}
.errormessage{color:#fc3c21;}
.half{width:45%;}
.pointer{cursor:pointer;}
.longtext{width: 350px;}
/* -- Desktop -- */
#wallpaper{margin:auto;}
#desktop{overflow:hidden;top:29px;right:0;bottom:33px;left:0;background:#d7d7d7 url(/Images/wallpaper.jpeg) no-repeat center center;}
/* -- Menu and Taskbar -- */
#bar_top,#bar_bottom{font-weight:bold;padding:0 10px;left:0;right:0;}
#tab{position:absolute;top:3px;left:0;width:207px;height:63px;background:url(/Images/logos.png) no-repeat 0 0;z-index:11;}
#bar_top{line-height:25px;text-shadow:#fff 0 1px 1px;background:url(/Images/gradients.png) repeat-x 0 -400px;border-bottom:solid 1px #333;padding-left:204px;height:25px;top:0;border-top:solid 3px #af1e2d;color:#999;z-index:10;}
.ie-shadow{display:none;}
#bar_bottom{font-size:13px;line-height:22px;background:url(/Images/gradients.png) repeat-x 0 -440px;border-top:solid 1px #333;overflow:hidden;padding:2px 0;height:25px;bottom:0;border-bottom:solid 3px #af1e2d;color:#333;}
#bar_top li,#bar_bottom li{float:left;}
#bar_top li a,#bar_bottom li a{cursor:default;display:block;padding:0 8px;border-left:1px solid #bbb;}
#bar_top .img{vertical-align:top;margin:1px 3px 1px 1px;}
#bar_top a{overflow:hidden;height:25px;min-height:1px;color:#333;}
#bar_top li.active{text-shadow:none;background:url(/Images/gradients.png) repeat-x 0 -360px;}
#bar_top ul.menu{border:1px solid #bbb;border-top-width:0;border-bottom-width:0;display:none;margin:1px;position:absolute;min-width:175px;z-index:30;background-color:#fffcf2;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=225,Color=#333333)";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=225,Color=#333333);}
#bar_top ul.menu ul.menu{border-top-width:1px;display:none;z-index:31;left:217px;top:0px;}
#bar_top ul.menu li{float:none;position:relative;}
#bar_top ul.menu a{background:#fff;border-left:0 none;border-bottom:solid 1px #bbb;min-width:200px;}
#bar_top ul.menu a:hover{background:url(/Images/gradients.png) repeat-x 0 -250px;color:#fff;text-shadow:-1px 1px 2px #333;}
#mainmenu ul a.menu_trigger .img{position:absolute;right:0;top:4px;}
#bar_bottom li{margin:1px 0 0 5px;}
#bar_bottom li a{text-shadow:#000 0 1px 1px;background:#aaa;color:#fff;width:150px;min-width:150px;border:solid 1px #333;overflow:hidden;padding:0 10px;height:23px;}
#bar_bottom a:hover{border-color:#c60;background:#ccc;}
#bar_bottom a:active{background:#c60;border-color:#fff;}
#bar_bottom li a .img{float:left;margin:1px 5px 0 -5px;}
#bar_bottom .float_left .img,#bar_bottom .float_right .img{display:block;padding:0;}
#bar_bottom span.float_right{margin-right:10px;}
#bar_bottom span.float_right{font-size:10px;}
.img.icon{width:22px;height:22px;display:inline-block;background:url(/Images/sprite.png) no-repeat 0 -86px;}
.img.icon.axxess{width:28px;background-position:-42px -109px;}
.img.icon.more{width:5px;height:9px;background-position:-189px -50px;margin:4px !important;}
.img.acorelogo{width:290px;height:31px;display:inline-block;background:url(/Images/logos.png) no-repeat 0 -258px;}
/* -- Windows -- */
.window,.ui-dialog{border:solid 1px #aaa;z-index:2;background-color:#fff;color:#000;}
.window.window_stack,.ui-dialog{border-color:#777;}
.window.minimized{z-index:-1;}
.loading{background:#fff url(/Images/loading.gif) no-repeat scroll center center;}
.window.window_stack,.window.ui-draggable-dragging{z-index:10;}
.window.ui-draggable-dragging{opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';}
.window.ui-draggable-dragging .window_content,.window.ui-draggable-dragging .window_bottom{display:none;}
.window_full.ui-draggable-dragging{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
.window_full.ui-draggable-dragging .window_content,.window_full.ui-draggable-dragging .window_bottom{display:block;}
.window_top,.ui-dialog-titlebar{text-align:center;background:url(/Images/gradients.png) repeat-x 0 -40px;padding:0 10px;height:25px;overflow:hidden;color:#fff;}
.window.window_stack .window_top,.ui-dialog-titlebar{background:url(/Images/gradients.png) repeat-x 0 0;}
.window_top .img{float:left;margin:2px 5px 0 0;}
.window_top .abs,.ui-dialog-title{margin:auto;font-weight:bold;line-height:25px;text-shadow:#fff 0 1px 1px;top:0;right:100px;left:40px;cursor:default;color:#000;}
.window_bottom{background:url(/Images/gradients.png) repeat-x 0 -400px;border-top:solid 1px #bbb;overflow:hidden;height:20px;right:0;bottom:0;left:0;font-size:11px;font-weight:bold;line-height:20px;text-align:center;text-shadow:#fff 0 1px 1px;}
.window_min,.window_resize,.window_close,.ui-dialog-titlebar-close{background:url(/Images/sprite.png) no-repeat;float:left;margin:4px 0 0 2px;width:28px;height:15px;}
.window_min{background-position:0 -33px;}
.window_min:hover{background-position:0 -48px;}
.window_resize{background-position:-28px -33px;}
.window_resize:hover{background-position:-28px -48px;}
.window_close,.ui-dialog-titlebar-close{background-position:-56px -33px;}
.window_close:hover,.ui-dialog-titlebar-close:hover{background-position:-56px -48px;}
.window_inner{top:0;left:0;right:0;bottom:0;}
.ui-dialog{padding:1px;}
.window_full{border:0;}
.window_aside h3{margin:0 0 0 5px;}
.window_main{background-color:#fff;}
.window_content{color:#333;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;line-height:1.5;overflow:auto;top:25px;right:0;bottom:21px;left:0;} 
.main{padding:10px;}
.ajaxerror{margin-top:20%;text-align:center;}
.ajaxerror h1{line-height:32px;display:inline;vertical-align:super;}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}
.ui-resizable{position:absolute;}
.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block;}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0px;}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0px;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0px;height:100%;}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0px;height:100%;}
.ui-resizable-se{cursor:se-resize;background:url(/Images/sprite.png) no-repeat -98px -107px;}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.window_full .ui-resizable-handle{display:none;}
/* -- jGrowl/Notification System -- */
.jGrowl{position:fixed;padding:10px;z-index:9999;color:#333;font-size:12px;}
.jGrowl.top-right{right:0;top:30px;}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{background:#ddd;opacity:.95;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);zoom:1;width:235px;padding:10px;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;border:solid 1px #bbb;}
.jGrowl div.jGrowl-notification{min-height:40px;}
.jGrowl div.jGrowl-notification div.header{font-weight:bold;font-size:.85em;}
.jGrowl div.jGrowl-notification div.close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer;}
.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center;}
.jGrowl div.error{background:#fccac3;color:#333;}
.jGrowl div.success{background:#b6d4b6;color:#333;}
/*-- Windows Without Overflow --*/
#window_newsystemmessage_content,
#window_newdashboardmessage_content,
#window_final{overflow:hidden;}
.dashboardMessagePreviewModal { background-color: #fff; padding: 10px; width: 450px; height: 280px;}