﻿.page{background:#fff url(/Images/Print/Schedule/Missed/visit.jpeg) no-repeat center center}
.content{top:455px;right:50px;bottom:110px;left:50px;overflow-y:auto;line-height:1.5}
.patientname{top:112px;right:40px;bottom:915px;left:200px;font-size:16pt}
.visittype{top:146px;right:410px;bottom:885px;left:200px;font-size:12pt}
.visitdate{top:146px;right:40px;bottom:885px;left:620px;font-size:12pt}
.ordergen{top:179px;right:410px;bottom:855px;left:200px;font-size:12pt}
.physnotice{top:179px;right:40px;bottom:855px;left:620px;font-size:12pt}
.physician{top:205px;right:410px;bottom:855px;left:170px;font-size:12pt;height:22px}
.physicianphone{top:205px;right:150px;bottom:855px;left:580px;font-size:11pt;height:22px}
.physicianfax{top:205px;right:45px;bottom:855px;left:690px;font-size:11pt;height:22px}
.reason{top:270px;right:50px;bottom:635px;left:50px;font-size:12pt}
.sign{top:990px;right:210px;bottom:45px;left:50px;font-size:12pt}
.signdate{top:990px;right:50px;bottom:45px;left:610px;font-size:12pt}