﻿.page{background:#fff url(/Images/Print/Patient/allergyprofile.jpeg) no-repeat center center}
.content{top:177px;right:37px;bottom:38px;left:38px;overflow-y:auto;font-size:10pt}
.content tr{border-bottom:solid 1px #000}
.content td p{margin:2px 5px}
.content .col0{width:75%;font-size:12pt}
.content .col1{width:25%;font-size:12pt}
.patientname{top:113px;right:295px;bottom:914px;left:180px;font-size:16pt}
.mr{top:113px;right:40px;bottom:914px;left:575px;font-size:16pt;font-weight:bold}