﻿.page{background:#fff url(/Images/Print/Patient/medprofile.jpeg) no-repeat center center}
h3{font-size:1em;text-align:center;padding:0;margin:0}
.content{top:208px;right:37px;bottom:145px;left:38px;overflow-y:auto;font-size:10pt}
.content .col0{width:20px;padding:0;border-right:.1em solid #000}
.content .col1{width:81px;border-right:.2em solid #000}
.content .col2{width:170px;border-right:.1em solid #000}
.content .col3{width:120px;border-right:.1em solid #000}
.content .col4{width:91px;border-right:.1em solid #000}
.content .col5{width:13px;border-right:.1em solid #000}
.content .col6{width:100px;border-right:.1em solid #000}
.content table{border-bottom:.1em solid #000}
.content td{padding:.2em}
.patientname,.mr,.physician,.episode,.pharmacy,.pharmphone,.pridiagnosis,.secdiagnosis,.allergies,.sign,.signdate{height:1.5em;font-size:10pt;font-weight:normal}
.patientname,.mr,.physician{top:115px}
.patientname{left:136px;width:10.5em}
.mr{left:340px;width:15.5em}
.physician{left:590px;width:14em}
.episode,.pharmacy,.pharmphone{top:139px}
.episode{left:148px;width:11em}
.pharmacy{left:372px;width:13em}
.pharmphone{left:635px;width:11em}
.pridiagnosis,.secdiagnosis{top:163px}
.pridiagnosis{left:162px;width:19em}
.secdiagnosis{left:547px;width:17em}
.allergies{top:187px;left:109px;width:50em}
.sign,.signdate{top:995px}
.sign{left:47px;width:43em}
.signdate{left:627px;width:11em}