﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
/*
    printview.addsection(
        "%3Ctable%3E%3Ctbody%3E%3Ctr%3E%3Cth%3EStart Date%3C/th%3E%3Cth%3EName &amp; Dose%3C/th%3E%3Cth%3ERoute%3C/th%3E%3Cth%3EFrequency%3C/th%3E%3Cth%3EType%3C/th%3E%3Cth%3EClassification%3C/th%3E%3Cth%3ED/C (Date)%3C/th%3E%3C/tr%3E" +
// Start Loop, for each supply
        "%3Ctr%3E%3Ctd%3E" +
// Start Date
        "%3C/td%3E%3Ctd%3E" +
// Name & Dose
        "%3C/td%3E%3Ctd%3E" +
// Route
        "%3C/td%3E%3Ctd%3E" +
// Frequency
        "%3C/td%3E%3Ctd%3E" +
// Type
        "%3C/td%3E%3Ctd%3E" +
// Classification
        "%3C/td%3E%3Ctd%3E" +
// D/C (Date)
        "%3C/td%3E%3C/tr%3E" +
// End Loop
        "%3C/tbody%3E%3C/table%3E","New Medications");
*/
    printview.addsection(
        printview.col(6,
            printview.span("Time:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecTime") && data["GenericMedRecTime"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecTime"].Answer : ""%>",false,1) +
            printview.span("Medication:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecMedication") && data["GenericMedRecMedication"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecMedication"].Answer : ""%>",false,1) +
            printview.span("Dose:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecDose") && data["GenericMedRecDose"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecDose"].Answer : ""%>",false,1) +
            printview.span("Route:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecRoute") && data["GenericMedRecRoute"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecRoute"].Answer : ""%>",false,1) +
            printview.span("Frequency:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecFrequency") && data["GenericMedRecFrequency"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecFrequency"].Answer : ""%>",false,1) +
            printview.span("PRN Reason:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecPRN") && data["GenericMedRecPRN"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecPRN"].Answer : ""%>",false,1) +
            printview.span("Location:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecLocation") && data["GenericMedRecLocation"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecLocation"].Answer : ""%>",false,1) +
            printview.span("Patient Response:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMedRecResponse") && data["GenericMedRecResponse"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecResponse"].Answer : ""%>",false,1)) +
        printview.span("Comments:",true) +
        printview.span("<%= data != null && data.ContainsKey("GenericMedRecComments") && data["GenericMedRecComments"].Answer.IsNotNullOrEmpty() ? data["GenericMedRecComments"].Answer : ""%>",false,2),
        "Medication Administration Records");
    printview.addsection(
        printview.span("(M2000) Drug Regimen Review: Does a complete drug regimen review indicate potential clinically significant medication issues, e.g., drug reactions, ineffective drug therapy, side effects, drug interactions, duplicate therapy, omissions, dosage errors, or noncompliance? ",true) +
        printview.col(2,
            printview.checkbox("0 &ndash; Not assessed/reviewed",<%= data != null && data.ContainsKey("M2000DrugRegimenReview") && data["M2000DrugRegimenReview"].Answer.Split(',').Contains("00") ? "true" : "false"%>) +
            printview.checkbox("1 &ndash; No problems found during review",<%= data != null && data.ContainsKey("M2000DrugRegimenReview") && data["M2000DrugRegimenReview"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
            printview.checkbox("2 &ndash; Problems found during review",<%= data != null && data.ContainsKey("M2000DrugRegimenReview") && data["M2000DrugRegimenReview"].Answer.Split(',').Contains("02") ? "true" : "false"%>) +
            printview.checkbox("NA &ndash; Patient is not taking any medications",<%= data != null && data.ContainsKey("M2000DrugRegimenReview") && data["M2000DrugRegimenReview"].Answer.Split(',').Contains("NA") ? "true" : "false"%>)));
    printview.addsection(
        printview.span("(M2002) Medication Follow-up: Was a physician or the physician—designee contacted within one calendar day to resolve clinically significant medication issues, including reconciliation? ",true) +
        printview.col(2,
            printview.checkbox("0 &ndash; No",<%= data != null && data.ContainsKey("M2002MedicationFollowup") && data["M2002MedicationFollowup"].Answer.Split(',').Contains("00") ? "true" : "false"%>) +
            printview.checkbox("1 &ndash; Yes",<%= data != null && data.ContainsKey("M2002MedicationFollowup") && data["M2002MedicationFollowup"].Answer.Split(',').Contains("01") ? "true" : "false"%>)));
    printview.addsection(
        printview.span("(M2010) Patient/Caregiver High Risk Drug Education: Has the patient/caregiver received instruction on special precautions for all high-risk medications (such as hypoglycemics, anticoagulants, etc.) and how and when to report problems that may occur? ",true) +
        printview.col(2,
            printview.checkbox("0 &ndash; No",<%= data != null && data.ContainsKey("M2010PatientOrCaregiverHighRiskDrugEducation") && data["M2010PatientOrCaregiverHighRiskDrugEducation"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
            printview.checkbox("1 &ndash; Yes",<%= data != null && data.ContainsKey("M2010PatientOrCaregiverHighRiskDrugEducation") && data["M2010PatientOrCaregiverHighRiskDrugEducation"].Answer.Split(',').Contains("01") ? "true" : "false"%>)) +
        printview.checkbox("NA &ndash; Patient not taking any high risk drugs OR patient/caregiver fully knowledgeable about special precautions with all high-risk medications",<%= data != null && data.ContainsKey("M2010PatientOrCaregiverHighRiskDrugEducation") && data["M2010PatientOrCaregiverHighRiskDrugEducation"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M2020) Management of Oral Medications: Patient&rsquo;s current ability to prepare and take all oral medications reliably and safely, including administration of the correct dosage at the appropriate times/intervals. Excludes injectable and IV medications. (NOTE: This refers to ability, not compliance or willingness.) ",true) +
        printview.checkbox("0 &ndash; Able to independently take the correct oral medication(s) and proper dosage(s) at the correct times.",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to take medication(s) at the correct times if:<ul><li>(a) individual dosages are prepared in advance by another person; OR</li><li>(b) another person develops a drug diary or chart.</li></ul>",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to take medication(s) at the correct times if given reminders by another person at the appropriate times",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("02") ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Unable to take medication unless administered by another person.",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("03") ? "true" : "false"%>) +
        printview.checkbox("NA &ndash; No oral medications prescribed.",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M2030) Management of Injectable Medications: Patient&rsquo;s current ability to prepare and take all prescribed injectable medications reliably and safely, including administration of correct dosage at the appropriate times/intervals. Excludes IV medications.",true) +
        printview.checkbox("0 &ndash; Able to independently take the correct medication(s) and proper dosage(s) at the correct times.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("00") ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to take injectable medication(s) at the correct times if: <ul><li>(a) individual syringes are prepared in advance by another person; OR</li><li>(b) another person develops a drug diary or chart.</li></ul>",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to take medication(s) at the correct times if given reminders by another person based on the frequency of the injection",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("02") ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Unable to take injectable medication unless administered by another person.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("03") ? "true" : "false"%>) +
        printview.checkbox("NA &ndash; No injectable medications prescribed.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M2040) Prior Medication Management: Indicate the patient&rsquo;s usual ability with managing oral and injectable medications prior to this current illness, exacerbation, or injury. Check only one box in each row.",true) +
        printview.col(5,
            printview.span("a. Oral medications") +
            printview.checkbox("0 &ndash; Independent",<%= data != null && data.ContainsKey("M2040PriorMedicationOral") && data["M2040PriorMedicationOral"].Answer == "00" ? "true" : "false"%>) +
            printview.checkbox("1 &ndash; Needed Some Help",<%= data != null && data.ContainsKey("M2040PriorMedicationOral") && data["M2040PriorMedicationOral"].Answer == "01" ? "true" : "false"%>) +
            printview.checkbox("2 &ndash; Dependent",<%= data != null && data.ContainsKey("M2040PriorMedicationOral") && data["M2040PriorMedicationOral"].Answer == "02" ? "true" : "false"%>) +
            printview.checkbox("NA &ndash; Not Applicable",<%= data != null && data.ContainsKey("M2040PriorMedicationOral") && data["M2040PriorMedicationOral"].Answer == "NA" ? "true" : "false"%>) +
            printview.span("b. Injectable medications") +
            printview.checkbox("0 &ndash; Independent",<%= data != null && data.ContainsKey("M2040PriorMedicationInject") && data["M2040PriorMedicationInject"].Answer == "00" ? "true" : "false"%>) +
            printview.checkbox("1 &ndash; Needed Some Help",<%= data != null && data.ContainsKey("M2040PriorMedicationInject") && data["M2040PriorMedicationInject"].Answer == "01" ? "true" : "false"%>) +
            printview.checkbox("2 &ndash; Dependent",<%= data != null && data.ContainsKey("M2040PriorMedicationInject") && data["M2040PriorMedicationInject"].Answer == "02" ? "true" : "false"%>) +
            printview.checkbox("NA &ndash; Not Applicable",<%= data != null && data.ContainsKey("M2040PriorMedicationInject") && data["M2040PriorMedicationInject"].Answer == "NA" ? "true" : "false"%>)));
    printview.addsection(
        printview.checkbox("SN to assess patient filling medication box to determine if patient is preparing correctly.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("SN to assess caregiver filling medication box to determine if caregiver is preparing correctly.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("SN to determine if the <%= data != null && data.ContainsKey("485DetermineFrequencEachMedPerson") && data["485DetermineFrequencEachMedPerson"].Answer.IsNotNullOrEmpty() ? data["485DetermineFrequencEachMedPerson"].Answer : "<span class='blank'></span>"%> is able to identify the correct dose, route, and frequency of each medication.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.checkbox("SN to assess if the <%= data != null && data.ContainsKey("485AssessIndicationEachMedPerson") && data["485AssessIndicationEachMedPerson"].Answer.IsNotNullOrEmpty() ? data["485AssessIndicationEachMedPerson"].Answer : "<span class='blank'></span>"%> can verbalize an understanding of the indication for each medication. ",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
        printview.checkbox("SN to establish reminders to alert patient to take medications at correct times.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
        printview.checkbox("SN to assess the <%= data != null && data.ContainsKey("485AssessAdminInjectMedsPerson") && data["485AssessAdminInjectMedsPerson"].Answer.IsNotNullOrEmpty() ? data["485AssessAdminInjectMedsPerson"].Answer : "<span class='blank'></span>"%> administering injectable medications to determine if proper technique is utilized.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructHighRiskMedsPerson") && data["485InstructHighRiskMedsPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructHighRiskMedsPerson"].Answer : "<span class='blank'></span>"%> on precautions for high risk medications, such as, hypoglycemics, anticoagulants/antiplatelets, sedative hypnotics, narcotics, antiarrhythmics, antineoplastics, skeletal muscle relaxants.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("7") ? "true" : "false"%>) +
        printview.checkbox("SN to administer IV <%= data != null && data.ContainsKey("485AdministerIVType") && data["485AdministerIVType"].Answer.IsNotNullOrEmpty() ? data["485AdministerIVType"].Answer : "<span class='blank'></span>"%> at rate of <%= data != null && data.ContainsKey("485InstructAdministerIVRate") && data["485InstructAdministerIVRate"].Answer.IsNotNullOrEmpty() ? data["485InstructAdministerIVRate"].Answer : "<span class='blank'></span>"%> via <%= data != null && data.ContainsKey("485InstructAdministerIVVia") && data["485InstructAdministerIVVia"].Answer.IsNotNullOrEmpty() ? data["485InstructAdministerIVVia"].Answer : "<span class='blank'></span>"%> every <%= data != null && data.ContainsKey("485AdministerIVEvery") && data["485AdministerIVEvery"].Answer.IsNotNullOrEmpty() ? data["485AdministerIVEvery"].Answer : "<span class='blank'></span>"%>. ",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("8") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructAdministerIVPerson") && data["485InstructAdministerIVPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructAdministerIVPerson"].Answer : "<span class='blank'></span>"%> to administer IV at rate of <%= data != null && data.ContainsKey("485InstructAdministerIVRate") && data["485InstructAdministerIVRate"].Answer.IsNotNullOrEmpty() ? data["485InstructAdministerIVRate"].Answer : "<span class='blank'></span>"%> via <%= data != null && data.ContainsKey("485InstructAdministerIVVia") && data["485InstructAdministerIVVia"].Answer.IsNotNullOrEmpty() ? data["485InstructAdministerIVVia"].Answer : "<span class='blank'></span>"%> every <%= data != null && data.ContainsKey("485InstructAdministerIVEvery") && data["485InstructAdministerIVEvery"].Answer.IsNotNullOrEmpty() ? data["485InstructAdministerIVEvery"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("9") ? "true" : "false"%>) +
        printview.checkbox("SN to flush peripheral IV with <%= data != null && data.ContainsKey("485FlushPeripheralIVWith") && data["485FlushPeripheralIVWith"].Answer.IsNotNullOrEmpty() ? data["485FlushPeripheralIVWith"].Answer : "<span class='blank'></span>"%>cc of <%= data != null && data.ContainsKey("485FlushPeripheralIVOf") && data["485FlushPeripheralIVOf"].Answer.IsNotNullOrEmpty() ? data["485FlushPeripheralIVOf"].Answer : "<span class='blank'></span>"%> every <%= data != null && data.ContainsKey("485FlushPeripheralIVEvery") && data["485FlushPeripheralIVEvery"].Answer.IsNotNullOrEmpty() ? data["485FlushPeripheralIVEvery"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("10") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructFlushPerpheralIVPerson") && data["485InstructFlushPerpheralIVPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushPerpheralIVPerson"].Answer : "<span class='blank'></span>"%> to flush peripheral IV with <%= data != null && data.ContainsKey("485InstructFlushPerpheralIVWith") && data["485InstructFlushPerpheralIVWith"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushPerpheralIVWith"].Answer : "<span class='blank'></span>"%>cc of <%= data != null && data.ContainsKey("485InstructFlushPerpheralIVOf") && data["485InstructFlushPerpheralIVOf"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushPerpheralIVOf"].Answer : "<span class='blank'></span>"%> every <%= data != null && data.ContainsKey("485InstructFlushPerpheralIVEvery") && data["485InstructFlushPerpheralIVEvery"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushPerpheralIVEvery"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("11") ? "true" : "false"%>) +
        printview.checkbox("SN to flush central line with <%= data != null && data.ContainsKey("485FlushCentralLineWith") && data["485FlushCentralLineWith"].Answer.IsNotNullOrEmpty() ? data["485FlushCentralLineWith"].Answer : "<span class='blank'></span>"%>cc of <%= data != null && data.ContainsKey("485FlushCentralLineOf") && data["485FlushCentralLineOf"].Answer.IsNotNullOrEmpty() ? data["485FlushCentralLineOf"].Answer : "<span class='blank'></span>"%> every <%= data != null && data.ContainsKey("485FlushCentralLineEvery") && data["485FlushCentralLineEvery"].Answer.IsNotNullOrEmpty() ? data["485FlushCentralLineEvery"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("12") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct <%= data != null && data.ContainsKey("485InstructFlushCentralLinePerson") && data["485InstructFlushCentralLinePerson"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushCentralLinePerson"].Answer : "<span class='blank'></span>"%> to flush central line with <%= data != null && data.ContainsKey("485InstructFlushCentralLineWith") && data["485InstructFlushCentralLineWith"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushCentralLineWith"].Answer : "<span class='blank'></span>"%>cc of <%= data != null && data.ContainsKey("485InstructFlushCentralLineOf") && data["485InstructFlushCentralLineOf"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushCentralLineOf"].Answer : "<span class='blank'></span>"%> every <%= data != null && data.ContainsKey("485InstructFlushCentralLineEvery") && data["485InstructFlushCentralLineEvery"].Answer.IsNotNullOrEmpty() ? data["485InstructFlushCentralLineEvery"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("13") ? "true" : "false"%>) +
        printview.checkbox("SN to access <%= data != null && data.ContainsKey("485AccessPortType") && data["485AccessPortType"].Answer.IsNotNullOrEmpty() ? data["485AccessPortType"].Answer : "<span class='blank'></span>"%> port every <%= data != null && data.ContainsKey("485AccessPortTypeEvery") && data["485AccessPortTypeEvery"].Answer.IsNotNullOrEmpty() ? data["485AccessPortTypeEvery"].Answer : "<span class='blank'></span>"%> and flush with <%= data != null && data.ContainsKey("485AccessPortTypeWith") && data["485AccessPortTypeWith"].Answer.IsNotNullOrEmpty() ? data["485AccessPortTypeWith"].Answer : "<span class='blank'></span>"%>cc of <%= data != null && data.ContainsKey("485AccessPortTypeOf") && data["485AccessPortTypeOf"].Answer.IsNotNullOrEmpty() ? data["485AccessPortTypeOf"].Answer : "<span class='blank'></span>"%> every <%= data != null && data.ContainsKey("485AccessPortTypeFrequency") && data["485AccessPortTypeFrequency"].Answer.IsNotNullOrEmpty() ? data["485AccessPortTypeFrequency"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("14") ? "true" : "false"%>) +
        printview.checkbox("SN to change IV tubing every <%= data != null && data.ContainsKey("485ChangeIVTubingEvery") && data["485ChangeIVTubingEvery"].Answer.IsNotNullOrEmpty() ? data["485ChangeIVTubingEvery"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationInterventions") && data["485MedicationInterventions"].Answer.Split(',').Contains("15") ? "true" : "false"%>) +
        printview.span("Additional Orders:",true) +
        printview.span("<%= data != null && data.ContainsKey("485MedicationInterventionComments") && data["485MedicationInterventionComments"].Answer.IsNotNullOrEmpty() ? data["485MedicationInterventionComments"].Answer : ""%>",false,2),
        "Interventions");
    printview.addsection(
        printview.checkbox("Patient will remain free of adverse medication reactions during the episode.",<%= data != null && data.ContainsKey("485MedicationGoals") && data["485MedicationGoals"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("The <%= data != null && data.ContainsKey("485VerbalizeMedRegimenUnderstandingPerson") && data["485VerbalizeMedRegimenUnderstandingPerson"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeMedRegimenUnderstandingPerson"].Answer : "<span class='blank'></span>"%> will verbalize understanding of medication regimen, dose, route, frequency, indications, and side effects by: <%= data != null && data.ContainsKey("485VerbalizeMedRegimenUnderstandingDate") && data["485VerbalizeMedRegimenUnderstandingDate"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeMedRegimenUnderstandingDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485MedicationGoals") && data["485MedicationGoals"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("The <%= data != null && data.ContainsKey("485DemonstratePeripheralIVLineFlushPerson") && data["485DemonstratePeripheralIVLineFlushPerson"].Answer.IsNotNullOrEmpty() ? data["485DemonstratePeripheralIVLineFlushPerson"].Answer : "<span class='blank'></span>"%> will demonstrate understanding of flushing peripheral IV line.",<%= data != null && data.ContainsKey("485MedicationGoals") && data["485MedicationGoals"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.span("Additional Goals:",true) +
        printview.span("<%= data != null && data.ContainsKey("485MedicationGoalComments") && data["485MedicationGoalComments"].Answer.IsNotNullOrEmpty() ? data["485MedicationGoalComments"].Answer : ""%>",false,2),
        "Goals");
</script>