/* `HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

img {
	font-size: 0;
}

/*table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td,
caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}*/

.ui-widget-content {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
/*background:#FCFDFD url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) repeat-x scroll 50% bottom;
border:1px solid #A6C9E2;*/
color:#222222;
}

.ui-state-default, .ui-widget-content .ui-state-default {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
/*background:#DFEFFC url(images/ui-bg_glass_85_dfeffc_1x400.png) repeat-x scroll 50% 50%;
border:1px solid #C5DBEC;*/
color:#2E6E9E;
font-weight:bold;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}

#bar_top
{
   min-width: 800px;
}

#sidepanel, .sidepanel 
{
    padding-left: 2px;
    padding-right: 0px; 
    background-color:#f1f5fb;
    overflow: hidden;
}
.side 
{
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.sortheader
{
    width:100%;
}

#sideTop2
{
    max-height:72px;
    
}
.sideTop
{
    width: 100%;
    margin-top: 0px;
}
.sideBottom
{
    clear: both;
    margin: 0;
    padding: 0;
}
.sideBottomEmp
{
    clear: both;
    margin-top: 3px;
    height: auto; 
    bottom:0px;
    top:150px;
    position:absolute;
    left:0;
    right:0;
    width:100%;
}

.sideBottomEmp .flexme2
{
    position:absolute;
    bottom:0px;
    top:auto;
    width:100%;
}


.sideDropDown
{
    width: 190px;
}

.mainTop
{
     width: 100%;
     height: 150px;
     min-height: 150px;
     display: block;
    padding: 0;
    min-width: 800px;
}

.mainTopContainer
{
    width: 100%;
    height: 100%;
}
.mainTopContainerLeft
{
   width: 65%;
    float: left; 
     
}
.mainTopContainerRight
{
    width: 30%;
    float: left;
}
.mainTopContainerRight div:first-child
{
    margin-left:10px;
}
.mainTopContainerRight b
{
    color: #53868B;
}
.mainTopContainerRight ul
{
    padding-left: 14px;
}
.mainTopContainerRight ul li 
{
     text-decoration: underline;
     list-style: square;
     margin-top: 8px;       
}

.mainTopContent
{
    display: table;
     width: 100%
}     
     
.mainTopContent  div.inputs
{
    float:left;
}
.mainTopContentLeft, .mainTopContentRight
 {
     display: block;
      width: 50%;
       float: left;
 }
    .mainTopContentShceLeft
 {
     display: block;
      width: 40%;
       float: left;
 }
  .mainTopContentShceRight
 {
     display: block;
      width: 60%;
       float: left;
 }
 .fixedRowSche
 {
     width:50%;
     float: left;         
     text-align: left;
 }
  .mainTopContentShceRight  div.inputs
    {
        float:left;
        width:50%;
    }
 
 .fixedRow
 {
    float: left;
     width: 131px; 
     text-align: right;
 }
 .Schedulecalendar .fixedRow
 {
     float: left;
     width: 130px; 
     text-align: right;
     
 }
.Schedulecalendar  .inputs
 {
     float:left;
 }

 #newpatient.window, 
 #editschedule.window, 
 #editPatient.window, 
 #newschedule.window, 
 #rap.window, 
 #masterCalendar.window,
 #newagency.window, 
 #newemployee.window, 
 #newReferral.window, 
 #existingreferral.window, 
 #admitpatient.window, 
 #editReferral.window ,
 #existingPatientList.window,
 #existingPhysicianList.window,
 #edit485.window,
 #diagnosisList.window,
 #agencyUserList.window,
 #validation.window
 {
     width: 920px;
     height: 515px;
     min-height: 515px;
     min-width: 920px;
     top: 70px;
     left: 70px;
 }
#newagency.window,
#newemployee.window
{
    height: 600px;
}
  
 #report.window,

 
 #Oasis_window.window, 
 #schedule_window.window, 
 #Billing_window.window, 
 #employee_window.window, 
 #patient_window.window
 
 {
     height:100%;
     width:100%;
     min-height: 515px;
     min-width: 920px;
 }
 #death.window,
 #editDischarge.window, 
 #followUp.window, 
 #recertification.window, 
 #transferdischarge.window, 
 #transfernotdischarge.window, 
 #soc.window,
 #roc.window
 {
    
     height:90%;
     width:95%;
     min-height: 515px;
     min-width: 920px;
     top: 55px;
    
 }
#editNote.window 
 {
     width: 730px;
     height: 430px;
      top: 70px;
     left: 70px;
 }
#patientmap.window
{
    width: 519px;
    height: 357px;
    top: 100px;
    left: 100px;
}
 #orderNote.window, #communicationNote.window ,#editOrderNote.window ,#editCommunicationNote.window
 {
     width: 730px;
     height: 490px;
      top: 70px;
     left: 70px;
 }
 
 #editEmergencyContact,#newEmergencyContact
 {
     width: 800px;
     height: 300px;
     max-height: 300px;
     max-width: 800px;
      top: 70px;
     left: 70px;
 }
 
 #newPhysicianContact, #editPhysicianContact
 {
     width: 800px;
     height: 350px;
     max-height: 350px;
     max-width: 800px;
      top: 70px;
     left: 70px;
 }
  #newpatient.window
 {
     top: 35px;
     left: 35px;
 }
  #newReferral.window
 {
     top: 105px;
     left: 105px;
 }
#edit485.window
 {
     top: 35px;
     left: 70px;
 }
 #messageInbox.window 
 {
     top: 0px;
     left: 0px;
     min-height: 550px;
     min-width: 980px;
     max-height: 550px;
     max-width: 980px;
     height: 550px;
     width: 980px;
 }
 #editschedule div.window_content,
 #orderNote div.window_content ,
 #editNote div.window_content,
 #existingreferral div.window_content,
 #communicationNote div.window_content, 
 #existingPatientList div.window_content,
 #existingPhysicianList div.window_content,
 #editOrderNote div.window_content,
 #editCommunicationNote div.window_content
 {
     width: 99.85%; 
     background-color: #e7f3f8;
 }
 
 .contentDivider
 {
     width: 50%;
     padding:10px 0px 10px 0px;
     float:left;
     font-size:11px;
 }
  .contentDivider .patientfieldset
 {
    width:100%;
 }

.fix
 {
    margin-left:5px;
 }
 #edit_tab
 {
     display: block;
      width: 100%;
       height: 100%;
 }
  #edit_tab .header
 {
     padding: 10px 0 0 0px;
     width: 100%;
 }
 #newschedule 
 {         
     background-color: #e7f3f8;
 }
 #newschedule .fixedRow, #editschedule .fixedRow
 {
     float: left;
     width: 60px;
 }
  #newschedule .inputs ,#editschedule .inputs
  {
     float: left;
  }
  #newschedule .fix,#editschedule .fix {
  
  margin-left:10px;
  margin-top:5px;
  }
 #newschedule Select, #editschedule Select
 {
     width: 190px;
 }
 #newschedule .divide
 {
     width:50%;
 }
  #editschedule .divide
 {
     width:33%;
 }
   
.underLine
{
   background-color: #6495ED;
   width: 100%;
   height: 1px;
   margin-top: 2px;
   display:table;
}

.Button
{
    height: 30px;
    padding: 2px;
     
}
.Button div 
{
    width: 20px;
    margin: 2px auto;
    float: right;
}
.general_form .input_wrapper input[type="text"]
{   
    width:175px;
    margin:0px;     
    background:transparent;  
    z-index:10;
    
}
.general_form .referalPhysician .input_wrapper input[type="text"]
{   
    width:100%;  
    
}

.notes input[type="button"]
{
    width:110px;
   
}

#customerInfo,#emergencyFieldSet,#physicianFieldSet
{
    margin-bottom:10px;
    border:2px solid #FFFFFF;     
    width:100%;        
}

#customerInfo legend,#emergencyFieldSet legend,#physicianFieldSet legend,.referalfieldset legend,#referal .general_form fieldset legend
{   
   -moz-background-clip:border;
   -moz-background-inline-policy:continuous;
   -moz-background-origin:padding;
   background :#FFFFFF url(/images/form.gif) repeat-x scroll left center;
  font-family  :georgia,sans-serif;
font-size:1.1em;
font-weight:bold;
margin-bottom:5px;
padding:10px;
border:3px solid #FFFFFF;    
}

.oasisAssWindowContent.window_content
{
   background-color: #fff;
   overflow: hidden;
   bottom:23px;
}
.oasisAssWindowContainer
{
    display: block;
     width: 100%;
      height: 100%;
}
#editNote .window_content, #orderNote .window_content, #communicationNote .window_content ,#editOrderNote .window_content ,#editCommunicationNote .window_content
{
    bottom:0px;
}
.editNoteLeft
{
    width: 78%;
    float: left; 
}
.editNoteRight
{
     width: 22%;
     float: left;
}
.editNoteLeftTop {
	float: left;	
	text-align:left;
	display: block;
    width: 100%;
    height: 30%;
    padding-right: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
	
}
.editNoteLeftBottom {
	float: left;	
	text-align:left;
	display: block;
    width: 100%;
    height: 70%;
    padding-right: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
	
}
.editNoteButtonCont
{
   padding-top: 10px;
   margin-left: 20px;
}

#submitoasis 
{
   width: 920px;
   height: 515px;
   min-height: 515px;
   min-width: 920px;
}
#submitoasis .general_form 
{
    background-color: #e7f3f8;
}
#submitoasis .general_form .row
{
    padding:0px;
}

#submitoasis .general_form .row .row
{
  width: 50%;
  float: left;
  margin: 0px;
}

.submitoasisCont
{
    display: block;
    width: 100%;
    height: 100%; 
    right: 1px;
}
#submitoasis .buttons
{
    padding-left: 40%;
    }

.submitoasisCont .top
{
    width: 100%;
    height: 40%;
    padding: 0px;
}
.submitoasisCont .middel
{
    width: 100%;
    height: 50%;
    padding: 0px;
}
.submitoasisCont .bottom 
{
   width: 100%;
   height: 5%;
   padding: 0px;
}

#submissionType
{
    border:2px solid #FFFFFF;     
    width:90%;  
    padding: 5px -5px 5px 10px;
    background-color: Transparent;
    
}
#submissionType legend 
{
    margin-left:10px;
    padding-bottom:5px;
}
#submissionType input 
{
    float:left;
    margin-left:10px;
    margin-top:3px;
}
#submissionType label 
{
   width:auto;
}

#schedule_tab .header
{
    padding: 10px 0 0 0px;
    width: 100%;
    margin-bottom: 10px;
}
#schedule_tab .header li a
{
  width: 77.5px;
}

#schedule_tab .header li:first-child
{
   margin-left:5px;
}

.breakLine
{
    clear: both; 
    height: 3px;
}
.breakLineRow
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 0.5px;
    display: table;
        
}

#pateintlistSche,#employeeSche
{
    display: block;
    padding-right: 0px;
}

 .sortList
 {
 font-family  :georgia,sans-serif;
font-size:1.1em;
font-weight:bold;
border:3px solid #FFFFFF;
 }
 
 .sortList ul
 {
     width:100%;
 }

.sortList ul li
{
    display: inline;
    width:25%;
}

.NoteContainer
{
    width: 100%;   
    padding:10px 0 0 0;
    margin-right:0px;
}
.NoteContainerLeft
{
    width:100%; float: left;
}
.NoteContainerRight
{
    width: 85px;
    float: right;
}


#report .arrowlistmenu
{
    width: 99.85%;
    height: 28px;
    top: 0px;
    bottom: 0px;
    background-color: #ADD8E6;
    top: 32px;
    left: 1px; 
    right: 1px; 
    z-index: 1;
}

#report .m7 span
{
    
    background-image: url(/images/sm_lk6.gif);
    display: block; 
    float: right; 
    width: 10px; 
    height: 14px;
                        
}
#report .m8 span
{
   background-image: url(/images/sm_lk6.gif); 
   display: block; 
   float: right;                        
   width: 10px; 
   height: 14px;
}

#report .m9 span
{
    background-image: url(/images/sm_lk6.gif); 
    display: block; 
    float: right;
    width: 10px; 
    height: 14px;
}
#report .m10 span
{
   background-image: url(/images/sm_lk6.gif);                           
   display: block; 
   float: right; 
   width: 10px; 
   height: 14px;
}

#report .window_content 
{
    background-image: url(/images/gui/window_content.gif);        
    background-repeat: repeat-y; 
    top: 60px;
}

#report   .window_aside
{
   width: 224px; 
   top: 0px; 
   bottom: 0px; 
   overflow: auto;
}
#reportContent
{
  margin: 0px 0px 0px 229px;            
  overflow: auto; 
  bottom: 0px; 
  top: 0px; 
  background-color: #e7f3f8; 
  right: 1px;            
  left: 1px;
}

.reportLeftContent
{
    display: block; 
    width: 100%;
}
.reportLeftContent .fix 
{
    padding-left: 10px; 
    padding-right: 10px;
}

#reportContent .underLine
{
   background-color: #8B8386;
    width: 100%;
     height: 1px;
      margin: 5px 0px 5px 0px;                        
      padding: 0px;
}

#reportContent inputs 
{
    float:left;
}
#reportContent break 
{
    clear:both;
    width: 100%;
}

.scrolling_inner
 {

    height:500px;  
   
    overflow-x:hidden;

    overflow-y:auto;

    padding-right:0px;

    float:left;

}

.scrolling_outer {

    position:relative;    

} 

.dataTable
 {  

font-family:Verdana, Arial, Helvetica, sans-serif;  

border-collapse: collapse;  

border:1px solid #999999;  

width: 100%; 
height:100%; 

font-size:12px;  

}  

.dataTable td, .dataTable th
 {  

border: 1px solid #999999;  

padding: 3px 5px;  

margin:0px;  

}  

.dataTable thead th 
{  

background-color:#cccccc;  

color:#444444;  

font-weight:bold;  

text-align:left;  

}  

.dataTable thead a 
{  

text-decoration:none;  

color:#444444;  

}  

.dataTable thead a:hover { text-decoration: underline;}  

/* Firefox has missing border bug! https://bugzilla.mozilla.org/show_bug.cgi?id=410621 */ 

/* Firefox 2 */ 

body .dataTable, x:-moz-any-link {margin:1px;}  

/* Firefox 3 */ 

body .dataTable, x:-moz-any-link, x:default {margin:1px} 

/*
Author: Craig Erskine
Description: Dynamic Menu System - Horizontal/Vertical
*/

ul#navmenu-h{ margin: 0; padding: 0; list-style: none; position: relative; width:100%;}

ul#navmenu-h ul {
 width: 250px; /* Sub Menu Width */
 margin: 0;
 list-style: none;
 display: none;
 position: absolute;
 top: 100%;
 left: 0;
}

#navmenu-h ul.categoryitems
{
    z-index:30;
}

ul#navmenu-h ul ul,ul#navmenu-h ul ul ul{ top: 0; left: 100%; }

ul#navmenu-h li { float: left; display: inline; position: relative;  }
ul#navmenu-h ul li { width: 100%; display: block; }

/* Root Menu */
ul#navmenu-h a  {
 border-top: 1px solid #FFF;
 border-right: 1px solid #FFF;
 padding: 6px;
 float: left;
 display: block;
 background: #DDD;
 color: #666;
 font: bold 11px Arial, sans-serif;
 text-decoration: none;
 height: 1%;
}


/* Root Menu Hover Persistence */
ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a {
 background: #BBB;
 color: #FFF;
}

/* 2nd Menu */
ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a {
 float: none;
 background: #BBB;
}

/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a {
 background: #999;
}

/* 3rd Menu */
ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a {
 background: #999;
}

/* 3rd Menu Hover Persistence */
ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a {
 background: #666;
}

/* 4th Menu */
ul#navmenu-h li:hover li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li.iehover li a {
 background: #666;
}

/* 4th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover li a:hover {
 background: #333;
}

/* Hover Function - Do Not Move */
ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none; }
ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display: block; }


ul.visitType li { border-top: 1px solid #FFF;
 border-right: 1px solid #FFF;
 padding: 6px;
 float: left;
 display: block;
 background: #DDD;
 color: #666;
 font: bold 11px Arial, sans-serif;
 text-decoration: none;
 height: 1%;
 width:75px;
 }
 ul.visitType span 
 {
     float:left; 
     height:15px;
     width:25px;
     display:block;
     padding-right:5px;
      }
 
 
 .row {
	width: 100%;
	overflow: hidden;
	padding: 0 0 8px;
	float: left;
	vertical-align:middle;
}

.bold
{
    font-weight: bold;
}

.oasisMenu,.patientMenu, .scheduleMenu
{
    background: #c3d8f1 repeat-x;
    border-bottom:#98B1C4 solid 1px;
    clear:both;
    margin:0;
    height:23px;
    color: #000;
}

.oasisMenu ul, .patientMenu ul ,.scheduleMenu ul
{
    margin: 0;
    padding: 0;
}
.oasisMenu li,.patientMenu li ,.scheduleMenu li
{
    float: left;
    overflow: inherit;
    padding: 0px 5px;
    position: relative;
}
.oasisMenu li a, .patientMenu li a ,.scheduleMenu li a
{
    white-space: nowrap;
    display: block;
    padding: 0;
    color: White;
}
.oasisMenu li:hover, .patientMenu li:hover ,.scheduleMenu li:hover
{
    background: #C8D7E3 url(/images/sprites-t1.gif) repeat-x 0 -400px;
    height: 23px;
    color:#666;
}

div.oasisMenu iframe.ibm-unav-mask, div.patientMenu iframe.ibm-unav-mask ,div.scheduleMenu iframe.ibm-unav-mask
{
    border: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 212px;
    z-index: 8 !important;
}
 .oasisMenu li a:link, .oasisMenu li a:visited, .patientMenu li a:link, .patientMenu li a:visited ,.scheduleMenu li a:visited , .scheduleMenu li a:link
{
    color: white;
}
.oasisMenu li a:hover, .patientMenu li a:hover ,.scheduleMenu li a:hover
{
    text-decoration: none;
    color: #666;
}

 div.oasisMenu li a.oasis-unav-has-child, div.patientMenu li a.oasis-unav-has-child , div.scheduleMenu li a.oasis-unav-has-child
{
    background-image: url(/images/mh-submenu-marker-down.gif);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 9px;
}
div.oasisMenu div.ibm-unav-menu,  div.patientMenu div.ibm-unav-menu ,div.scheduleMenu div.ibm-unav-menu
{
    background: #BDCEDC;
    border: #98B1C4 solid 1px;
    display: none;
    float: none;
    position: absolute;
    width: 210px;
    z-index: 9 !important;
}
div.oasisMenu iframe.ibm-unav-mask,  div.patientMenu iframe.ibm-unav-mask, div.scheduleMenu iframe.ibm-unav-mask
{
    border: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 212px;
    z-index: 8 !important;
}
div.oasisMenu  ul, div.patientMenu  ul , div.scheduleMenu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

div.oasisMenu div ul li, div.patientMenu div ul li , div.scheduleMenu div ul li
{
    margin: 0;
    padding: 0;
}
div.oasisMenu div.ibm-unav-menu ul, div.oasisMenu div.ibm-unav-menu ul li, div.oasisMenu div.ibm-unav-menu ul li a, div.patientMenu div.ibm-unav-menu ul, div.patientMenu div.ibm-unav-menu ul li, div.patientMenu div.ibm-unav-menu ul li a, div.scheduleMenu div.ibm-unav-menu ul, div.scheduleMenu div.ibm-unav-menu ul li, div.scheduleMenu div.ibm-unav-menu ul li a
{
    background: #BDCEDC;
    display: block;
    float: none;
    white-space: normal;
}
div.oasisMenu li li a, div.patientMenu li li a , div.scheduleMenu li li a
{
    background-image: none;
    padding: 3px 5px 3px 11px;
    width: 194px;
}
div.oasisMenu li li a.oasis-menu-has-child, div.patientMenu li li a.oasis-menu-has-child , div.scheduleMenu li li a.oasis-menu-has-child
  {
    background-image: url(/images/mh-submenu-marker-right.gif);
    background-position: 98% 50%;
    background-repeat: no-repeat;
}
div.oasisMenu div ul li a.Oasis-is-active, div.oasisMenu div ul li a:hover, div.patientMenu div ul li a.Oasis-is-active, div.patientMenu div ul li a:hover ,div.scheduleMenu div ul li a.Oasis-is-active, div.scheduleMenu div ul li a:hover
{
    background: #98B1C4;
}
.oasisMenu:after,.patientMenu:after , .scheduleMenu:after
{content:".";display:block;height:0;clear:both;visibility:hidden;}.ibm-container-body table{padding:0 5px;}



.discipline li
{
    display:inline;
    margin-left:10px;
}
.divLabel
{
   float: left; 
   width: 35px;
}
 .buttonMargin
 {
     padding-left:45%;
 }
 .buttonMargin .previous
 {
 }
 
   .buttonMargin .previous img
 {
 }
 
  .buttonMargin .next
 {
 }
 
   .buttonMargin .next img
 {
     
 }
	
.long
{
	width:850px;
}
.clear{
	clear:both;
	height:0px;
}
.rowOasis{
	background-color: #e7f3f8;
	display:block;
	min-height:32px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	width:100%;
	font-family: arial, sans-serif;
    font-size: 11px;
    border: solid 1px #ccc;
}

.rowOasisWhite{
	background-color: #fff;
	display:block;
	min-height:32px;
	border: solid 1px #ccc;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	width:100%;
	font-family: arial, sans-serif;
    font-size: 11px;
}

.rowOasisButtons{
	display:block;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	width:100%;
	font-family: arial, sans-serif;
    font-size: 11px;
}

.rowBreak{
	background-color: #e7f3f8;
	display:block;
	min-height:32px;		
	border: #D3D3D3 0.5px solid;		
	margin-bottom: 10px;
	float: left;
	width:100%;
	font-family: arial, sans-serif;
    font-size: 11px;
}
.halfRow{
	width: 50%;
	 float: left;
}
.marginBreak
{
    margin-left:10px;
    margin-right:10px;
    
}
.marginBreakNotes 
{
     margin-left:10px;
    margin-right:36px;
}
.insideCol
{
    display:block;
    width:50%;
    float:left;
    padding: 0;
    margin: 0;
    height:100%;
}
.insiderow
{
    display:block;
    width:100%; 	    
    min-height:22px;	   
}

.title 
{
     background-color:#BCD2EE;
     font-weight:bold;
}
.insideColFull
{
    display:block;
    width:100%;
    min-height:32px;
    float:left;   
   
}

.text{
	width:190px;
}
.ruler{
	width:400px; border-bottom:dashed 1px #dcdcdc;
}
tr:focus{
	background-color:#fcfcf0;
}
td{
	vertical-align:top;
}
.general
{
 overflow: auto; 
      margin: 0px 0px 0px 180px; 
      right: 0px;
      left:0px;
      bottom:0px;
      top:0px;                  
}
.over{
	background-color:#e6e2af;
}
.out{
	
}
.oasistable
{
border:1px;
}

#daignosisTabel
{
    border-bottom-width:1px;
}

.margin
{
    margin-left:7px;
    margin-right:7px;
    margin-bottom:3px;
}

.padding
{
    padding: 3px;
}

.marginOasis
{
    padding: 0px;
    margin: 5px 7px;
}

.OasisContainer
{
    float: left;
    width: 100%; 
    top: 0px;
    bottom: 0px; 
    overflow: hidden;  
    background-color:#f8f8f8;
    display:block;
    position:absolute;
}

.spacingDiv
{
    clear: both;
    height: 3px;
}
 .tableContainer
{
    font-family: arial, sans-serif;
    font-size: 11px;
    width: 100%;
}
table.agency-data-table caption, table.agency-results-table caption
{
    background: #FFF url(/Images/sprites-t1.gif) repeat-x 0 -545px;
    border: #CCC solid 1px;
    margin: 0;
    padding: 3px 5px;
    height: 1%;
}
table.agency-data-table h2
{
    padding: 0;
}
table.agency-data-table th
{
    font-weight: bold;
    line-height:95%;
}
table.agency-data-table td, table.agency-data-table th
{
    border-top: #CCC solid 1px;
    padding: 3px 5px;
    vertical-align: middle;
}
#newReferral table.agency-data-table td, #editReferral table.agency-data-table td, #newpatient table.agency-data-table td, #editPatient table.agency-data-table td,#admitpatient table.agency-data-table td,table.agency-data-table th
{
    border-top: #CCC solid 1px;
    padding: 5px 0px;
    vertical-align: bottom;
}
#newReferral table.agency-data-table td, #editReferral table.agency-data-table td, #newpatient table.agency-data-table td, #editPatient table.agency-data-table td ,#admitpatient table.agency-data-table td
{
   text-align:left;
}
table.agency-data-table td, table.agency-data-table tbody th
{
    padding: 8px 5px;
    border: #CCC solid 1px;
}
 table.agency-data-table td
{
   text-align:center;
}

table.agency-data-table th
{
    background: #F7F8FC url(/images/text-tabs-bg.gif) repeat-x;
    text-align: center;
}
table th.agency-table-row
{
    background: #FFF;
}
table.agency-data-table
{
    border-right: 1px solid #CCC;
    border-top: 0;
    width: 100%;
}
table.agency-data-table caption
{
    border-bottom: 0 none;
    text-align: center;
}
table.agency-data-table tbody tr.agency-highlight-row td, table.agency-data-table tbody tr.agency-highlight-row th
{
    background: #EDEDED;
}


.OasisAssessmentMenu
{
    padding-left: 14px;
}

.OasisAssessmentMenu li
{
    text-decoration: underline;
    list-style: square;
    margin-top: 8px;
}
        
       .buttonfix
       {
          padding-left:43%;
       }
       .buttonfix input 
       {
           height:35px;
       }
.notesTextArea 
{
    width: 100%;
    height: 100%;
    min-height: 200px;
}

#editnote_Ok 
{
    width:110px;
}

.ICDText input , input.ICDText
{
    width:90%;
    margin-bottom:2px;
    margin-left:5px;
}
.ICDCode input
{
    margin-bottom:2px;
     margin-left:5px;
}

.fixOption input
{
   margin-right:8px;
}

.pad 
{
    margin-left:15px;
    margin-top:3px;
}


form input.error {
	border:1px solid #EA5338;
}
form input.error:focus {
	border:1px solid #EA5338;
}
form select.error {
	border:1px solid #EA5338;
}
form select.error:focus {
	border:1px solid #EA5338;
}
#patientInfo
{
    width:600px;
    background:#7D9EC0;
    border:solid 1px #848484;
    display:none;    
   
    
}
#patientInfo label
{
    width:50%;
    float:left;
   text-align:right;
   width:150px;
}
#patientInfo .inputs
{
    width:40%;
    float:left;
    
}
.patientInfo 
{
    width:600px;
}
.patient-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em; }
.patient-widget, .patient-widget select, .patient-widget textarea, .patient-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
.patient-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd url(/Images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; color: #222222; }
.patient-widget-content a { color: #222222; }
.patient-widget-header { border: 1px solid #4297d7; background:Red url(/Images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.patient-widget-header a { color: #ffffff; }

#ScheduleTabStrip input.currentDate
{
    width:100px;
}

table.masterCalendar{border-top: 0; width: 100%; background-color: white;}
table.masterCalendar h2{padding: 0;}
table.masterCalendar th{font-weight: bold;line-height:95%; border: solid 1px #ccc;border-bottom: none;border-right: none;}
table.masterCalendar td{ padding: 1px 5px;/*vertical-align: top; */}
table.masterCalendar th{padding: 3px 5px;/*vertical-align: top; */}
table.masterCalendar tbody th{padding: 8px 5px;}
table.masterCalendar td{ text-align: center;border: solid 1px #ccc; width:150px;}
table.masterCalendar td span{font-size:10px;width:100%;color:#474747;}
table.masterCalendar tr td:first-child{text-align: left;border: solid 1px #ccc;background: #F7F8FC url(/images/text-tabs-bg.gif) repeat-x; text-align: center;font-weight:bold;vertical-align:middle;}
table.masterCalendar th{background: #F7F8FC url(/images/text-tabs-bg.gif) repeat-x;text-align: center;}
.events {display: none;text-align:left;position:relative;}
.events ul {text-align: left;position: absolute;padding: 5px;background: #E7ECF2 url(../img/popup.png) no-repeat;color: white;border: 1px solid black;font-size: 15px;width: 200px;z-index:999999;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;	-border-radius: 3px;list-style: none;color: #444444;-webkit-box-shadow: 0px 8px 8px #333;}
.events li {padding-bottom: 5px;}
.events li span {display: block;font-size: 12px;text-align: left;}
.events li span.eventTitle {font-weight: bold;color: #222;}






