﻿.inboxBody
{
    margin: 0px;
	text-align: left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #BDDEFF;
	background-image:url('images/page_bg.png'); background-repeat:repeat-x;
	min-width:978px;
}
.inboxHeader
{
	padding:15px 5px;
}
.inboxHeader div
{
	float:right;
	padding:5px 0px;
}
.inboxHeader div a{
	color:#FFD800;
}
.inboxHeader img, .navPanel img, .navSelect img{
	vertical-align:middle;
	margin:0px 5px 0px 0px;
	border:none;
}
.inboxSubHeader{
	background-image:url('/Images/subheader_bg.png'); background-repeat:repeat-x;
	height:27px;
}
.inboxSubHeader div{
	padding:5px;
	font-size:14px;
	font-weight:bold;
	color:#10428C;
}
.clear{
	clear:both;
	float:none;
	height:0px;
}
.inboxTitle{
	font-size:18px;
	font-weight:bold;
	padding:0px 5px;
}
/* TOOLBAR */
.toolbar{
	height:25px;
	margin:0px 5px;
	background-image:url('/Images/toolbar_bg.png'); background-repeat:repeat-x;
	float:left;
}
.toolbarLeft{
	background-image:url('/Images/toolbar_left.png'); background-repeat:no-repeat;
	height:25px;
	width:7px;
	float:left;
}
.toolbarRight{
	background-image:url('/Images/toolbar_right.png'); background-repeat:no-repeat;
	height:25px;
	width:12px;	
	float:left;
}
.toolbarContent{
	padding:5px;
	float:left;
	height:25px;
}
.toolbarContent img{
	vertical-align:top;
	border:0px;
	margin-right:5px;
}
.toolbarContent a,.toolbarContent a:visited{
	padding:5px;
	color:#000000;
	text-decoration:none;
}
.toolbarContent a:hover{
	text-decoration:underline;
}
/* MESSAGE LIST */
.messageList{
	width:30%;
	margin: 5px 5px 0px 5px;
	border:solid 1px #6394CE;
	background-color:#ffffff;
	float:left;
	vertical-align:bottom;
	position:relative;
}
.messagePanel{
	padding:1px;
	height:443px;
	overflow: auto;
}
.messagePanel div.message 
{
    border-bottom: solid 1px #ccc; overflow: hidden; padding: 5px; overflow: hidden; height: 31px;
}

.messagePanel div.selectedMessage
{
    background-color: #ccc;
}

.messagePanel a, .messagePanel a:visited{
	padding:5px 5px;
	display:block;
	color:#000000;
	border:solid 1px #ffffff;
	text-decoration:none;
}
.messagePanel a:hover{
	background-color:#FFE88C;
	border:solid 1px #D69C00;
}
.navSeparator{
	height:10px;
	background-image:url('/Images/nav_separator.png'); background-repeat:repeat-x; background-position:center;
}
.navSelect{
	position:absolute;
	bottom:0px;
	width:100%;
}
.navSelect a{
	height:22px;
	display:block;
	padding:5px;
	background-image:url('/Images/nav_link.png'); background-repeat:repeat-x;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
.navSelect a:hover{
	background-image:url('/Images/nav_link_hover.png'); background-repeat:repeat-x;
}
/* MESSAGE CONTENT */
.messageContent{
	width:68%;
	margin: 5px 5px 0px 0px;
	background-color:#ffffff;
	border:solid 1px #6394CE;
	vertical-align:top;
	float:left;
}
.messageContentPanel
{
    height: 472px;    
}

.messageContentPanel div.messageHeaderContainer {
    background:none repeat scroll 0 0 #F1F2F4;
    border-bottom:1px solid #DADADB;
    height: 75px;
    padding: 5px;
}
.messageContentPanel div.messageBodyContainer {
    overflow: auto;
    padding: 5px;
    height: 374px;
}

div.messageHeaderRow
{
    margin-bottom: 3px;
}

div.messageHeaderRow label 
{
    width: 80px;
    text-align: left;
    float: left;
}

div.messageHeaderRow span 
{
    clear: both;
}
/* RECIPIENT LIST */
.recipientList{
	width:20%;
	margin: 5px 5px 0px 5px;
	border:solid 1px #6394CE;
	background-color:#ffffff;
	float:left;
	vertical-align:bottom;
	position:relative;
}
.recipientPanel{
	padding:1px;
	height:443px;
	overflow: auto;
}

.recipientPanel div.recipient 
{
    border-bottom: solid 1px #ccc; overflow: hidden; padding: 3px; overflow: hidden; height: 15px;
}

/* NEW MESSAGE CONTENT */
.newMessageContent{
	width:78%;
	margin: 5px 5px 0px 0px;
	background-color:#f1f5fb;
	border:solid 1px #6394CE;
	vertical-align:top;
	float:left;
}
.newMessageContentPanel
{
    height: 445px;    
}
.newMessageContentPanel div.newMessageContainer {
    overflow: auto;
    padding: 5px;
    height: 426px;
}
div.newMessageRow
{
    margin-bottom: 5px;
}
div.newMessageRow label 
{
    width: 60px;
    text-align: left;
    float: left;
}

div.newMessageRow input 
{
    clear: both;
    width: 400px;
    overflow: hidden; 
    height: 22px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

div.newMessageRow select 
{
    clear: both;
    width: 200px;
     overflow: hidden; 
     height: 22px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

div.newMessageRow textarea 
{
    height: 280px;
    width: 730px;
     overflow: hidden; 
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}