﻿
.header {
  float:left;
  width:100%;
  background:#DAE0D2 url(/Images/bg2.gif) repeat-x bottom;
  font-size:93%;
  line-height:normal;
  }
.header ul {
  margin:0;
  padding:10px 10px 0 10px;
  list-style:none;
  }
.header li {
  float:left;
  background:url(/Images/left.gif) no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
.header a {
  float:left;
  display:block;
  background:url(/Images/right.gif) no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
.header a {float:none;}
/* End IE5-Mac hack */
.header a:hover {
  color:#333;
  }
.header .current {
  background-image:url(/Images/left_on.gif);
  }
.header .current a {
  background-image:url(/Images/right_on.gif);
  color:#333;
  padding-bottom:5px;
  }
  
  
  
