#tab{width:83px;background-position:-207px 0;position:fixed}
#bar-top{padding-left:85px;height:56px;font-size:1.1em;position:fixed;
         background:-moz-linear-gradient(90deg,#d4d4d4,#fff,#d4d4d4);
         background:-webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#d4d4d4), color-stop(.5, #fff))}
#bar-bottom{position:fixed}
#bar-top a{height:40px;padding:8px !important}
#bar-top ul ul li a{line-height:20px;height:20px}
#bar-top .img.icon{display:block;margin:0 auto;width:21px;height:21px;padding:0}
#mainmenu ul a.menu-trigger .img{top:10px}
#bar-top .float-right{top:-18px;text-align:center}
#bar-top ul.menu{z-index:5;width:235px}
#bar-top ul.menu ul.menu{left:125px;top:-15px}
#bar-top ul.menu a{min-width:159px;background:-moz-linear-gradient(90deg,#f0f0f0,#fff,#f0f0f0);background:-webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#f0f0f0), color-stop(.5, #fff))}
#bar-top ul.menu a:hover{background:-moz-linear-gradient(90deg,#96c1d9,#afd7ed,#96c1d9);background:-webkit-gradient(linear, left top, left bottom, from(#96c1d9), to(#96c1d9), color-stop(.5, #afd7ed))}
#wound_wrapper{width:100%;overflow-y:hidden;overflow-x:auto;border:solid 1px darkgray}
#wound_wrapper .bordergrid{border:0 none}
#desktop{top:60px;background-size:80%;}

.window-top,.ui-dialog-titlebar{text-align:center;background:url(/Images/gradients.png) repeat-x 0 -40px;padding:0 10px;height:25px;overflow:hidden;color:#fff}
.window.active .window-top,.ui-dialog-titlebar{background:url(/Images/gradients.png) repeat-x 0 0}
.window-top .img{float:left;margin:2px 5px 0 0}
.window-top .abs,.ui-dialog-title{margin:auto;font-weight:bold;line-height:25px;text-shadow:#fff 0 1px 1px;top:0;right:100px;left:40px;cursor:default;color:#000}
.window-bottom{background:url(/Images/gradients.png) repeat-x 0 -400px;border-top:solid 1px #bbb;overflow:hidden;height:20px;right:0;bottom:0;left:0;font-size:11px;font-weight:bold;line-height:20px;text-align:center;text-shadow:#fff 0 1px 1px}
.window-min,.window-resize,.window-close,.ui-dialog-titlebar-close{background:url(/Images/sprite.png) no-repeat;float:left;margin:4px 0 0 2px;width:28px;height:15px}
.window-min{background-position:0 -33px}
.window-min:hover{background-position:0 -48px}
.window-resize{background-position:-28px -33px}
.window-resize:hover{background-position:-28px -48px}
.window-close,.ui-dialog-titlebar-close{background-position:-56px -33px}
.window-close:hover,.ui-dialog-titlebar-close:hover{background-position:-56px -48px}

.ui-tabs{z-index:1}
.window-content{bottom:0;background-color:#fff}
.window.stack .window-top{position:absolute;left:0;right:0;top:0;background:-moz-linear-gradient(90deg,#6f95d4,#abc9f3);background:-webkit-gradient(linear, left top, left bottom, from(#abc9f3), to(#6f95d4))}
label.radio.fixed,label.inline-radio.fixed{width:175px !important}
.ui-resizable-handle{width:0;height:0}
.minimized.window{display:none}
fieldset .column{width:100%}
legend,label,input,textarea,select,.ins_disc,.ins_rate.strong,.ins_type.strong,.row a{font-size:1.3em}
.row a.green{font-size:1em}
fieldset .column .row,fieldset .wide-column .row{max-width:650px}
fieldset input,fieldset select,.longtext{width:300px;height:1.8em}
.t-input{width:276px}
.mi{width:50px}
.AddressStateCode{width:188px}
.phone_short{width:80px !important}
.phone_long{width:100px !important}
.Physicians{width:300px;margin-right:5px}
.zip{width:104px}
.icdwidth{width:26px}
.t-grid-header { padding-right: 0; }
.t-grid-toolbar { height: 30px; }
.t-grid-content { -webkit-overflow-scrolling: touch; }
.t-grid-content a{font-size:1.2em}
em{font-size:1.1em}
em a{font-size:1em}
input,textarea,select{-moz-border-radius:.2em;-moz-box-shadow:inset .1em .1em .5em #ccc;-webkit-border-radius:.2em;-webkit-box-shadow:inset .1em .1em .5em #ccc;border:solid .1em #aaa}
.input-directions { background: white; }
fieldset .column{padding:0}
fieldset textarea{height:8em}
fieldset:not(.nomobile) table{display:block;max-width:650px;margin:0 auto}
fieldset:not(.nomobile) td{display:block;width:50%;float:left}
fieldset:not(.nomobile) thead, fieldset:not(.nomobile) tbody, fieldset:not(.nomobile) tr{display:block}
table.mob1col td{width:100%}
table.mob3col td{width:33%}
table.braden{display:table}
table.braden h4{margin:2px 0}
table.braden hr,table.braden thead{display:none}
table.braden th{display:block;width:100%}
table.braden td{display:table-cell;width:25%;float:none}
fieldset table.mobpreservetable{display:table}
fieldset table.mobpreservetable tr{display:table-row}
fieldset table.mobpreservetable td{display:table-cell;width:auto;float:none}
input.radio{margin:5px}
fieldset.half.float-left,fieldset.half.float-right{float:none;width:auto;margin:10px 10px 20px}
.ancillary-button a{font-size:1.1em}
.newphysicianmodal{width:90%}
fieldset .row, fieldset .wide-column .column .row{border-top:0 none}
div.new-message-row label{width:75px}
.mobile_fl{float:left}
.mobile_fr{float:right}
.mobile_clr{clear:both}
.mobile_hidden{display:none !important}
.nursing th,.nursingsub th,.t-state-selected,.ui-datepicker-current-day{background:-moz-linear-gradient(90deg,#c8d9ed,#e5f0fc);background:-webkit-gradient(linear, left bottom, left top, from(#c8d9ed), to(#e5f0fc))}
.ui-layout-west .bottom,.ui-layout-west .bottom{top:180px}
.two-thirds{width:67%}
.two-thirds label{font-size:1em}
.one-third{width:26%}
.shortrow{overflow:hidden;height:16px;width:240px}
.ui-layout-center .bottom{top:322px}
.trical .abs-left,.trical .abs-right{position:relative}
.trical .abs-left{float:left}
.trical .abs-right{float:right}
.tab-contents .buttons{width:110px}
.tab-contents .buttons li{float:right}
.oasis .wide-column .margin{margin:0}
.general { -webkit-overflow-scrolling: touch; }
.widgets{width:auto;float:none;display:inline}
.widget{width:47%;float:left}
.img.icon.more{width:5px !important;height:9px !important}
#CaseManagement_BranchCode,#CaseManagement_Status{width:150px}
/* Patient Charts search bar */
.ui-layout-west .top .row div{margin-left:60px}
/* Lists ( Orders, OASIS Export, Patient, etc...) */
.orders-filter { margin: .5em; }
.orders-filter label { font-size: 1.1em; }
.orders-filter > label, .orders-filter > div { display: block; }
.orders-filter br { display: none;}
.orders-filter input, .orders-filter select { height: auto; }
/* Message */
.recipient-panel { -webkit-overflow-scrolling: touch; }
.cke_contents { overflow: auto ! ; -webkit-overflow-scrolling: touch; }
.folder-selection { z-index:1; }