﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <%= Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("forum.css").Combined(true).Compress(true).CacheDurationInDays(3)) %>
    <% Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Add("jquery-1.4.2.min.js")).Render(); %>
    <script type="text/javascript">
        function prevent_overflow(text,element) {
            text = text.split(" ");
	        sub = 1;
	        while (text.length > 0 && element.scrollHeight <= element.clientHeight) {
	            element.innerHTML += text[0] + " ";
	            if (element.scrollHeight <= element.clientHeight) text.shift();
	            else sub += 1 + text[0].length;
	        }
		    element.innerHTML = element.innerHTML.substr(0, (element.innerHTML.length - sub));
		    if (text.length > 0) element.innerHTML += "&raquo;";
	    }
    </script>
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="wrapper">
                <img src="/Images/gui/axxess_logo.png" alt="Axxess Logo" />
		        <img src="/images/icons/phoneLogo.gif" alt="Phone Logo" />
		        <span class="phone">1-877-480-9140</span>
                <div id="logindisplay" class="float_right"></div> 
            </div>
            <div class="menu">
                <div class="wrapper">
                    <div class="float_left">
                        <ul>
                            <li><a href="/Forum">Forum Home</a></li>
                            <li><%= Html.ActionLink("Write A New Post", "Post") %></li>
                        </ul>
                    </div>
                    <div class="float_right"><% Html.BeginForm(); %>Search: <%= Html.TextBox("searchQuery") %><input type="submit" value="Go" /><% Html.EndForm(); %></div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="main"><asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder></div>
            <div class="right">
                <div class="encapsulation">
                    <h5>Other Resources</h5>
                    <ul>
                        <li><a href="javascript:void(0);">Documentation</a></li>
                        <li><a href="javascript:void(0);">FAQs</a></li>
                        <li><a href="javascript:void(0);">Email Support</a></li>
                        <li><a href="javascript:void(0);">Telephone Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>
