﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<input name="MedicationDosage" />
<script type="text/javascript">
     Patient.medicationDosagetips($("input[name=MedicationDosage]"));
</script>