﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<PatientRoster>>" %>
<% string pagename = "StatisticalMonthlyAdmission"; %>

        <%= Html.Telerik().Grid(Model).Name(pagename+"Grid").Columns(columns =>
           {
               columns.Bound(p => p.PatientId).Title("MRN");
               columns.Bound(p => p.PatientDisplayName).Title("Patient");
               columns.Bound(p => p.PatientStatusName).Title("Status");
               columns.Bound(p => p.AdmissionSourceName).Title("Admission Source");
               columns.Bound(p => p.InternalReferral).Title("Internal Referral");
               columns.Bound(p => p.ReferrerPhysician).Title("Referring Physician");
               columns.Bound(p => p.ReferralDate).Title("Referral Date").Width(115);
               columns.Bound(p => p.PatientSoC).Title("Admission Date").Width(115);
           })
                   //.DataBinding(dataBinding => dataBinding.Ajax().Select(pagename, "Report", new { BranchId = Guid.Empty, Status = 1, month = DateTime.Now.Month, year = DateTime.Now.Year }))
                        .Sortable(sorting =>
                          sorting.SortMode(GridSortMode.SingleColumn)
                              .OrderBy(order =>
                              {
                                  var sortName = ViewData["SortColumn"] != null ? ViewData["SortColumn"].ToString() : string.Empty;
                                  var sortDirection = ViewData["SortDirection"] != null ? ViewData["SortDirection"].ToString() : string.Empty;
                                  if (sortName == "PatientId")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.PatientId).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.PatientId).Descending();
                                      }
                                     
                                  }
                                  else if (sortName == "PatientDisplayName")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.PatientDisplayName).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.PatientDisplayName).Descending();
                                      }

                                  }
                                  else if (sortName == "InternalReferral")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.InternalReferral).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.InternalReferral).Descending();
                                      }

                                  }
                                  else if (sortName == "ReferrerPhysician")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.ReferrerPhysician).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.ReferrerPhysician).Descending();
                                      }

                                  }
                                  else if (sortName == "ReferralDate")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.ReferralDate).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.ReferralDate).Descending();
                                      }

                                  }
                                  else if (sortName == "PatientSoC")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.PatientSoC).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.PatientSoC).Descending();
                                      }

                                  }
                              })
                      )
                   .Scrollable()
                           .Footer(false)
        %>
   
<script type="text/javascript">
    $("#<%= pagename %>Grid div.t-grid-header div.t-grid-header-wrap table tbody tr th.t-header a.t-link").each(function() {
        var link = $(this).attr("href");
        $(this).attr("href", "javascript:void(0)").attr("onclick", "Report.RebindReportGridContent('<%= pagename %>','StatisticalMonthlyAdmissionContent',{  BranchCode : \"" + $('#<%= pagename %>_BranchCode').val() + "\", StatusId : \"" + $('#<%= pagename %>_StatusId').val() + "\", Month : \"" + $('#<%= pagename %>_Month').val() + "\", Year : \"" + $('#<%= pagename %>_Year').val() + "\" },'" + U.ParameterByName(link, '<%= pagename %>Grid-orderBy') + "');");
    });
    $('#<%= pagename %>Grid .t-grid-content').css({ 'height': 'auto' });
</script>
