﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Authorization>" %>
<div class="row"><label for="AuthorizationNumber" class="float-left">1:</label><div class="float-right"><%= Html.TextBox("AuthorizationNumber", Model.Number1, new { @class = "text input_wrapper", @maxlength = "30" })%></div></div><div class="clear"></div>
<div class="row"><label for="AuthorizationNumber2" class="float-left">2:</label><div class="float-right"><%= Html.TextBox("AuthorizationNumber2", Model.Number2, new { @class = "text input_wrapper ", @maxlength = "30" })%></div></div><div class="clear"></div>
<div class="row"><label for="AuthorizationNumber3" class="float-left">3:</label><div class="float-right"><%= Html.TextBox("AuthorizationNumber3", Model.Number3, new { @class = "text input_wrapper ", @maxlength = "30" })%></div></div>