﻿<%@ Page Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" ValidateRequest="false" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">Axxess&#8482; Technology Solutions - Agency Management Desktop</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server"></asp:Content>

