﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<% var visible = false;
   if (Current.IsAxxessAdmin) {
       visible = true;
   }
 %>
<% using (Html.BeginForm("Agencies", "Export", FormMethod.Post)) { %>
    <div class="wrapper">
        <%= Html.Telerik().Grid<AgencyLite>().Name("List_Agencies").ToolBar(commnds => commnds.Custom()).Columns(columns => {
        columns.Bound(a => a.Name).ClientTemplate("<a href=\"javascript:void(0);\" onclick=\"Agency.Users('<#=Id#>');\"><#=Name#></a>").Title("Name").Sortable(true);
        columns.Bound(a => a.ContactPersonDisplayName).Title("Contact Person").Width(180).Sortable(false);
        columns.Bound(a => a.ContactPersonEmail).Title("Contact Email").Sortable(false);
        columns.Bound(a => a.ContactPersonPhoneFormatted).Title("Contact Phone").Width(110).Sortable(false);
        columns.Bound(a => a.City).Title("City").Sortable(false).Width(110);
        columns.Bound(a => a.State).Title("State").Sortable(false).Width(50);
        columns.Bound(a => a.IsDeprecated).Title("Deleted").Sortable(false).Width(60).Visible(visible);
        columns.Bound(a => a.IsSuspended).Title("Suspended").Sortable(false).Width(75).Visible(visible);
        columns.Bound(a => a.Id).ClientTemplate("<a href=\"javascript:void(0);\" onclick=\"Agency.Edit('<#=Id#>');\">Edit</a> | <a href=\"javascript:void(0);\" onclick=\"Agency.Locations('<#=Id#>');\">Locations</a> | <a href=\"javascript:void(0);\" onclick=\"Agency.Delete('<#=Id#>');\"><#=ActionText#></a>").Title("Action").Width(180).Visible(visible);
        }).DataBinding(dataBinding => dataBinding.Ajax().Select("Grid", "Agency")).Selectable().Sortable().Scrollable(scrolling => scrolling.Enabled(true))
        %>
    </div>
<%} %>
<script type="text/javascript">
    $("#List_Agencies .t-grid-toolbar").html("");
    <% if (Current.IsAxxessAdmin) { %>
    $("#List_Agencies .t-grid-toolbar").append(unescape("%3Cdiv class=%22buttons%22%3E%3Cul class=%22float_left%22%3E%3Cli%3E%3Ca href=%22javascript:void(0);%22 onclick=%22acore.open('newagency'); return false;%22%3ENew Agency%3C/a%3E%3C/li%3E%3C/ul%3E%3C/div%3E"));
    <% } %>
    $("#List_Agencies .t-grid-toolbar").append(unescape("%3Cdiv class=%22align_center%22%3E%3Cdiv class=%22abs bigtext%22 style=%22left: 150px; right: 150px;%22%3E%3Clabel for=%22Agency_FilterBox%22%3ESearch:&nbsp;%3C/label%3E%3Cinput type=%22text%22 id=%22Agency_FilterBox%22 /%3E%3C/div%3E%3C/div%3E"));
    <% if (Current.IsAxxessAdmin) { %>
    $("#List_Agencies .t-grid-toolbar").append(unescape("%3Cdiv class=%22buttons%22%3E%3Cul class=%22float_right%22%3E%3Cli%3E%3Ca href=%22javascript:void(0);%22 class=%22excel%22 onclick=%22$(this).closest('form').submit();%22%3EExcel Export%3C/a%3E%3C/li%3E%3C/ul%3E%3C/div%3E"));
    <% } %>
    $(".t-grid-content").css({ 'height': 'auto' });
    
    $("#Agency_FilterBox").keyup(function() {
        if ($(this).val()) {
            Agency.FilterTGrid($(this).val())
            if ($("tr.match:even", "#List_Agencies .t-grid-content").length) $("tr.match:first", "#List_Agencies .t-grid-content").click();
        } else {
            $("tr", "#List_Agencies .t-grid-content").removeClass("match t-alt").show();
            $("tr:even", "#List_Agencies .t-grid-content").addClass("t-alt");
            $("tr:first", "#List_Agencies .t-grid-content").click();
        }
    });
</script>