﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<VisitNoteViewData>" %>
<% Html.RenderPartial("Shared/VitalSigns/FormRev2", Model); %>
<%= Html.Partial("Therapy/OTVisit/ContentRev2", Model, ViewData) %>