/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

* {
	cursor: default;
}

html,
body {
	overflow: hidden;
}

body {
	background: #222;
	font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* `Misc
----------------------------------------------------------------------------------------------------*/

.abs {
	position: absolute;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.ui-resizable-se {
	background: url(/Images/gui/window_corner.gif) no-repeat right bottom;
	font-size: 0;
	overflow: hidden;
	width: 15px;
	height: 15px;
	right: 0;
	bottom: 0;
}
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
div.ui-resizable-handle {
	display: none !important;
	visibility: hidden !important;
}

/* `Icons
----------------------------------------------------------------------------------------------------*/

.icon {
	background: url(/Images/gui/trans_white.png) no-repeat -999px -999px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.3;
	padding: 6px 1px 6px;
	text-align: center;
	text-shadow: #000 0 1px 2px;
	width: 80px;
}

.icon.active {
	background: url(/Images/gui/trans_black.png);
}

.icon img {
	background: url(/Images/gui/trans_black.png) no-repeat -999px -999px;
	display: block;
	margin: 0 auto 5px;
	width: 32px;
	height: 32px;
}

.icon:hover,
.icon.ui-draggable-dragging {
	background-position: 0 0;
	background-repeat: repeat;
	border: 1px solid #fff;
	padding: 5px 0 5px;
}

.icon.ui-draggable-dragging {
	z-index: 20;
}

/* `Windows
----------------------------------------------------------------------------------------------------*/

.window {
	
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2;
	right:0px;
	
}

.window.window_stack,
.window.ui-draggable-dragging {
	z-index: 10;
}

.window.ui-draggable-dragging {
	opacity: 0.5;
}

.window.ui-draggable-dragging .window_content,
.window.ui-draggable-dragging .window_bottom {
	display: none;
}

.window_full.ui-draggable-dragging {
	opacity: 1;
}

.window_full.ui-draggable-dragging .window_content,
.window_full.ui-draggable-dragging .window_bottom {
	display: block;
}

.window_full {
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100%;
	height: 100%;
}

.window_full .ui-resizable-se {
	display: none;
}


.window_top {
	background: #333 url(/Images/gui/window_title.png) repeat-x;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	color: #fff;
	font-weight: bold;
	overflow: hidden;
	line-height: 25px;
	padding: 0 10px;
	text-shadow: #000 0 1px 1px;
	height: 25px;
	text-align: center;
}

.window_top img {
	float: left;
	margin: 2px 5px 0 0;
}

.window_bottom {
	background: #fff url(/Images/gui/bar_top.png) repeat-x left bottom;
	border-top: 1px solid #bbb;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	overflow: hidden;
	text-align: center;
	text-shadow: #fff 0 1px 1px;
	height: 20px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}

.window_min,
.window_resize,
.window_close {
	background: url(/Images/gui/window_buttons.gif) no-repeat;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	float: left;
	font-size: 0;
	margin: 6px 0 0 5px;
	width: 28px;
	height: 15px;
}

.window_min:hover {
	background-position: 0 -15px;
}

.window_resize {
	background-position: -28px 0;
}

.window_resize:hover {
	background-position: -28px -15px;
}

.window_close {
	background-position: -56px 0;
}

.window_close:hover {
	background-position: -56px -15px;
	box-shadow: #f00 0 0 10px;
	-moz-box-shadow: #f00 0 0 10px;
	-webkit-box-shadow: #f00 0 0 10px;
}

.window_min:hover,
.window_resize:hover {
	box-shadow: #09f 0 0 10px;
	-moz-box-shadow: #09f 0 0 10px;
	-webkit-box-shadow: #09f 0 0 10px;
}

.window_inner {
	padding: 1px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.window_content {
	
	line-height: 1.5;
	overflow: auto;
	top: 27px;
	left: 1px;
	right: 1px;
	bottom: 23px;
}

.window_aside {
	float: left;
	font-size: 11px;
	padding: 10px 0px 10px 5px ;
	width: 150px;
}

.window_main {
	background: #fff;
	margin:  0;
	
}

.window_full .window_top,
.window_full .window_bottom {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.window_full .window_inner {
	bottom: -1px;
}

/* `Table >> Data #3875d7
----------------------------------------------------------------------------------------------------*/






/* `Bar >> Top + Bottom
----------------------------------------------------------------------------------------------------*/
#tab { position: absolute; top: 3px; left: 0; width: 209px; height: 57px; background: transparent url(../images/gui/menu-logo.png) no-repeat top right; z-index: 11; }
#bar_top,
#bar_bottom {
	padding: 0 10px;
	left: 0;
	right: 0;
}



#bar_top {
	background: #fff url(/Images/gui/bar_top.png) repeat-x left bottom;
	border-bottom: 1px solid #333;
	color: #999;
	line-height: 25px;
	padding-right: 20px;
	text-shadow: #fff 0 1px 1px;
	height: 25px;
	top: 0;
	padding-left: 210px;
	border-top: 3px solid #AF1E2D;
}

#bar_bottom { background: #fff url(../images/gui/bar_bottom.png) repeat-x; border-top: 1px solid #333; overflow: hidden; padding: 2px 0; height: 25px; bottom: 0; border-bottom: 3px solid #af1e2d; color: #000; }

/* `Bar >> Links
----------------------------------------------------------------------------------------------------*/

#accountLinks
{
    color: #000;
}

#bar_top li,
#bar_bottom li {
	float: left;
}

#bar_top li a,
#bar_bottom li a {
	display: block;
	padding: 0 10px;
}

#bar_top li a {
	background-image: url(/Images/gui/bar_top_link.png);
	background-repeat: no-repeat;
	background-position: -999px -999px;
	color: #000;
	overflow: hidden;
	height: 25px;
	min-height: 1px;
}

#bar_top a.active {
	background-color: #06c;
	background-position: 0 0;
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: none;
}

#bar_top ul.menu {
	background: #eee;
	border: 1px solid #333;
	border-top-width: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	display: none;
	font-weight: normal;
	margin: 1px 0 0 -1px;
	padding: 1px 1px 0;
	position: absolute;
	min-width: 200px;
	z-index: 30;
}

#bar_top ul.menu li {
	float: none;
}


#bar_top ul.menu a {
	background: #fff;
	border-bottom: 1px solid #eee;
	min-width: 200px;
}
#bar_top ul.menu a.submenu_trigger  ul
{
    
    position: absolute;
    top: 0;
    left: 100%;

}
#bar_top ul.menu li:last-child a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#bar_top ul.menu a:hover {
	background: #06c url(/Images/gui/bar_top_link.png) repeat-x;
	color: #fff;
	text-shadow: none;
}

#bar_bottom span { padding: 8px 0 0 0; font-size: 10px; }

ul#topMenu { margin: 0; padding: 0; list-style: none; position: relative; width:100%;}

ul#topMenu ul {
 width: 200px; /* Sub Menu Width */
 margin: 0;
 list-style: none;
 display: none;
 position: absolute;
 top: 100%;
 left: 0;

}


#topMenu ul.categoryitems
{
    z-index:1000;
}

ul#topMenu ul ul,
ul#topMenu ul ul ul
{ top: 0; left: 100%; }

ul#topMenu li
{ float: left; display: inline; position: relative;  }
ul#topMenu ul li 
{ width: 100%; display: block; }

/* Root Menu */
ul#topMenu a  {
 background-image: url(/Images/gui/bar_top_link.png);
	background-repeat: no-repeat;
	background-position: -999px -999px;
	color: #000;
	overflow: hidden;
	height: 25px;
	min-height: 1px;
}


/* Root Menu Hover Persistence */
ul#topMenu a:hover,ul#topMenu li:hover a,ul#topMenu li.iehover a {
    background-color: #06c;
	background-position: 0 0;
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: none;
}

/* 2nd Menu */
ul#topMenu li:hover li a,ul#topMenu li.iehover li a {
    float: none;
    background: #fff;	
	color:Black;
    border-left : 1px solid #000000;
	border-right : 1px solid #000000;	
    border-bottom: 1px solid #000000;
	
}

ul#topMenu li a  span {
   
	 background-image: url(/Images/gui/next.gif);
	 background-repeat: no-repeat;
	 width:50px;
	
}

ul#topMenu li:hover li:last-child a,ul#topMenu li.iehover li:last-child a  
{
   
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

/* 2nd Menu Hover Persistence */
ul#topMenu li:hover li a:hover,ul#topMenu li:hover li:hover a,ul#topMenu li.iehover li a:hover,ul#topMenu li.iehover li.iehover a {
    background-color : #06c;
	background-position: 0 0;
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: none;
}

/* 3rd Menu */
ul#topMenu li:hover li:hover li a,ul#topMenu li.iehover li.iehover li a {
  background: #fff;
	border-bottom: 1px solid Balck;
	color:Black;
	border-bottom-left-radius:0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius: 0px;
}
ul#topMenu li:hover li:hover li:last-child a,ul#topMenu li.iehover li.iehover li:last-child a {
 
	border-bottom-left-radius:5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius: 5px;
	
}
ul#topMenu li:hover li:hover li:first-child a,ul#topMenu li.iehover li.iehover li:first-child a {
 
	border-top : 1px solid #000000;

	
}


/* 3rd Menu Hover Persistence */
ul#topMenu li:hover li:hover li a:hover,ul#topMenu li:hover li:hover li:hover a,ul#topMenu li.iehover li.iehover li a:hover,ul#topMenu li.iehover li.iehover li.iehover a {
 background-color: #06c;
	background-position: 0 0;
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: none;
}

/* 4th Menu */
ul#topMenu li:hover li:hover li:hover li a,ul#topMenu li.iehover li.iehover li.iehover li a {
 background: #666;
}

/* 4th Menu Hover */
ul#topMenu li:hover li:hover li:hover li a:hover,ul#topMenu li.iehover li.iehover li.iehover li a:hover {
 background: #333;
}

/* Hover Function - Do Not Move */
ul#topMenu li:hover ul ul,ul#topMenu li:hover ul ul ul,ul#topMenu li.iehover ul ul,ul#topMenu li.iehover ul ul ul { display: none; }
ul#topMenu li:hover ul,ul#topMenu ul li:hover ul,ul#topMenu ul ul li:hover ul,ul#topMenu li.iehover ul,ul#topMenu ul li.iehover ul,ul#topMenu ul ul li.iehover ul { display: block; }


#bar_bottom li {
	display: none;
	margin: 0 0 10px 5px;
}

#bar_bottom li a {
	background: #AAA;
	min-width: 150px;
	line-height: 27px;
}

#bar_bottom a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	overflow: hidden;
	padding: 0 10px;
	height: 30px;
}

#bar_bottom a:hover {
	background: #000;
}

#bar_bottom a:active {
	background: #c60;
	border: 1px solid #fff;
	padding: 0 9px;
}

#bar_bottom li a img {
	float: left;
	margin: 4px 5px 0 -5px;
}

#bar_bottom .float_left img,
#bar_bottom .float_right img {
	display: block;
	padding: 4px 0 0;
}

/* `Wallpaper + Desktop
----------------------------------------------------------------------------------------------------*/


#wallpaper { margin: auto; }
#desktop { overflow: hidden; top: 26px; left: 0; right: 0; bottom: 31px; background: #d7d7d7 url(../images/gui/logo_back.jpeg) no-repeat center center; }


/* Quick Books image menu
----------------------------------------------------------------------------------------------------*/

#bar_QB {
	background: #fff url(/Images/mainmenuslice.png) repeat-x left bottom;
	border-bottom: 1px solid #333;
	height: 30px;
	top: 26px;
	margin: 0 0 12px 0;
	left: 0;
	right: 0;
	position: absolute;
}

#qbmenu {
	width:1000px;
	height:20px;
	float:left;
	display: inline;
	margin: 1px 0 0 0;
	padding: 0px;
}
#qbmenu li {
	display:inline;
	float:left;
	height:28px;
	margin:0 5px 0 0;
	position:relative;
}
#qbmenu li:hover, #qbmenu li.active {
	background:url(/Images/menu_left.png) no-repeat;
}
#qbmenu li a, #qbmenu li a:link, #qbmenu li a:visited {
	display:inline;
	float:left;
	height:22px;
	padding:8px 10px 0px 5px;
	font-size:1.0em;
	color: #000;
}

#qbmenu li img
{
    padding: 0;
    margin: 5px 0px 5px 10px;
    float: left;
}

#qbmenu li a:hover, #qbmenu li.active a, #qbmenu li.active a:link, #qbmenu li.active a:visited, #qbmenu li:hover a, #qbmenu li:hover a:link, #qbmenu li:hover a:visited {
	background:url(/Images/menu_right.png) no-repeat 100% 0;
	text-decoration:none;
	color: #4b4b4b;
}


.submenu {
	width:100%;
	height:25px;
	margin: 0;
	padding: 3px 0px 3px 0px;
	background-color: #f1f5fb;
	
}

    /* Start custom button CSS here
    ---------------------------------------- */
    .btn {
      display:inline-block;
      background:none;
      margin:0;
      padding:3px 0;
      border-width:0;
      overflow:visible;
      text-decoration:none;
      color:#333;
      }
    * html button.btn {
      padding-bottom:1px;
      }
    /* Immediately below is a temporary hack to serve the 
       following margin values only to Gecko browsers
       Gecko browsers add an extra 3px of left/right 
       padding to button elements which can't be overriden.
       Thus, we use -3px of left/right margin to overcome this. */
    html:not([lang*=""]) button.btn {
      margin:0 -3px;
      }
    .btn span {
      background:#ddd url(/Images/bg-button.gif) repeat-x 0 0;
      margin:0;
      padding:3px 0;
      border-left:1px solid #bbb;
      border-right:1px solid #aaa;
      }
    * html .btn span {
      padding-top:0;
      }
    .btn span span {
      position:relative;
      padding:3px .4em;
      border-width:0;
      border-top:1px solid #bbb;
      border-bottom:1px solid #aaa;
      }
    
    /* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
    button.pill-l span {
      border-right-width:0;
      }
    button.pill-l span span {
      border-right:1px solid #bbb;
      }
    button.pill-c span {
      border-right-style:none;
      border-left-color:#fff;
      }
    button.pill-c span span {
      border-right:1px solid #bbb;
      }
    button.pill-r span {
      border-left-color:#fff;
      }
    
    /* only needed if implementing separate hover/focus/active state for buttons */
    .btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {
      cursor:pointer; /* important for any clickable/pressable element */
      border-color:#9cf !important;
      color:#000;
      }
    .btn:active span {
      background-position:0 -400px;
      outline:none;
      }
    .btn:focus, .btn:active {
      outline:none; /* doesn't seem to be respected for <button>, only <a> */
      }
 
    /* use if one button should be the 'primary' button */
    .primary {
      font-weight:bold;
      color:#000;
      }



table.data {
	width: 100%;
	white-space: nowrap;
	border: solid 1px #ccc;
}

table.data thead th,
table.data tbody td {
	padding:  2px 5px;
	vertical-align: middle;
}

table.data thead th {
	background: #fff url(/Images/gui/bar_top.png) repeat-x;
	background-position:bottom left;
	border-left: 1px solid #fff;
	font-weight: bold;
	text-shadow: #fff 0 1px 1px;
	white-space: nowrap;
}



/*table.data img {
	display: block;
}*/
table.data tbody tr.odd td {
	background-color:#F0F0F6;
}
table.data tbody tr.even td {
	background-color:white;
}



table.data tbody tr.active td {
	background: #06c url(/Images/gui/bar_top_link.png) repeat-x;
	color: #fff;
}
table.data thead tr .headerSortUp {
	background-image:  #fff url(/Images/asc.gif) repeat-x;
	background-position:bottom left;
}
table.data thead tr .headerSortDown {
	background-image: url(/Images/desc.gif) repeat-x  ;
	background-position:bottom left;
}
table.data thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {

}

thead th.shrink {
	width: 1%;
}