﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<AgencyInsurance>" %>
<% using (Html.BeginForm("Update", "Insurance", FormMethod.Post, new { @id = "editInsuranceForm" })) { %>
<%= Html.Hidden("Id", Model.Id, new { @id = "Edit_Insurance_Id" })%>
<% var data = Model != null ? Model.ToChargeRateDictionary() : new Dictionary<string, ChargeRate>(); %>
<% var locator = Model != null ? Model.ToLocatorDictionary() : new Dictionary<string, Locator>(); %>
<%= string.Format("<script type=\"text/javascript\">$(\"#window_{0}\").Rename(\"{1} | {2}\");</script>","editinsurance","Edit Insurance",Model != null ? Model.Name.ToTitleCase() : "")%>
<div class="wrapper main">
    <div class="abs req_legend"><span class="req_red">*</span> = Required Field</div>
    <fieldset>
        <legend>Information</legend>
        <div class="column">
            <div class="row"><label for="Edit_Insurance_Name" class="float_left">Insurance/Payor Name:</label><div class="float_right"><%= Html.TextBox("Name", Model.Name, new { @id = "Edit_Insurance_Name", @class = "text input_wrapper required", @maxlength = "100" })%></div></div>
            <div class="row"><label for="Edit_Insurance_PayorType" class="float_left">Payor Type:</label><div class="float_right"><%= Html.PaymentSourceWithOutMedicareTradition( "PayorType", Convert.ToString(Model.PayorType), new { @id = "Edit_Insurance_PayorType", @class = "requireddropdown valid" })%></div></div>
            <div class="row"><label for="Edit_Insurance_InvoiceType" class="float_left">Invoice Type:</label><div class="float_right"><% var invoiceType = new SelectList(new[] { new SelectListItem { Text = "UB-04", Value = "1" }, new SelectListItem { Text = "HCFA 1500", Value = "2" }, new SelectListItem { Text = "Invoice", Value = "3" } }, "Value", "Text", Convert.ToString(Model.InvoiceType)); %><%= Html.DropDownList("InvoiceType", invoiceType, new  { @id = "Edit_Insurance_InvoiceType" })%></div></div>
            <div class="row"><label for="Edit_Insurance_BillType" class="float_left">Bill Type:</label><div class="float_right"><% var billType = new SelectList(new[] { new SelectListItem { Text = "Institutional", Value = "institutional" }, new SelectListItem { Text = "Professional", Value = "professional" } }, "Value", "Text", Model.BillType); %><%= Html.DropDownList("BillType", billType, new { @id = "Edit_Insurance_BillType" })%></div></div>
        </div>
        <div class="column">
            <div class="row"><label for="Edit_Insurance_PayorId" class="float_left">Payor Id:</label><div class="float_right"><%= Html.TextBox("PayorId", Convert.ToString(Model.PayorId), new { @id = "Edit_Insurance_PayorId", @class = "text input_wrapper required" })%></div></div>
            <div class="row"><label for="Edit_Insurance_ProviderId" class="float_left">Provider ID/Code:</label><div class="float_right"><%= Html.TextBox("ProviderId", Model.ProviderId, new { @id = "Edit_Insurance_ProviderId", @class = "text input_wrapper", @maxlength = "40" })%></div></div>
            <div class="row"><label for="Edit_Insurance_OtherProviderId" class="float_left">Other Provider ID:</label><div class="float_right"><%= Html.TextBox("OtherProviderId", Model.OtherProviderId, new { @id = "Edit_Insurance_OtherProviderId", @class = "text input_wrapper", @maxlength = "40" })%></div></div>
            <div class="row"><label for="Edit_Insurance_ProviderSubscriberId" class="float_left">Provider Subscriber ID:</label><div class="float_right"><%= Html.TextBox("ProviderSubscriberId", Model.ProviderSubscriberId, new { @id = "Edit_Insurance_ProviderSubscriberId", @class = "text input_wrapper ", @maxlength = "40" })%></div></div>
            <div class="row"><label for="Edit_Insurance_SubmitterId" class="float_left">Submitter ID:</label><div class="float_right"><%= Html.TextBox("SubmitterId", Model.SubmitterId, new { @id = "Edit_Insurance_SubmitterId", @class = "text input_wrapper", @maxlength = "40" })%></div></div>
        </div><div class="clear"></div>
        <div class="wide_column"><label for="New_Insurance_Ub04Locator81cca" class="float_left">UB04 Locator 81CCa:</label><%= Html.Hidden("Ub04Locator81cca", "Locator1")%><div class="float_left"><%= Html.TextBox("Locator1_Code1", locator.ContainsKey("Locator1") ? locator["Locator1"].Code1 : string.Empty, new { @id = "New_Insurance_Locator1_Code1", @class = "text sn", @maxlength = "40" })%> <%= Html.TextBox("Locator1_Code2", locator.ContainsKey("Locator1") ? locator["Locator1"].Code2 : string.Empty, new { @id = "New_Insurance_Locator1_Code2", @class = "text input_wrapper", @maxlength = "40" })%> <%= Html.TextBox("Locator1_Code3", locator.ContainsKey("Locator1") ? locator["Locator1"].Code3 : string.Empty, new { @id = "New_Insurance_Locator1_Code3", @class = "text input_wrapper", @maxlength = "40" })%></div></div>
    </fieldset>
    <fieldset>
        <legend>EDI Information</legend>
        <div class="wide_column"> <div class="float_left"><%= Html.CheckBox("IsAxxessTheBiller", Model.IsAxxessTheBiller, new { @id = "Edit_Insurance_IsAxxessTheBiller", @class = "radio float_left" })%>&nbsp;<label for="Edit_Insurance_IsAxxessTheBiller"> Check here if claims are electronically submitted to your clearing house through Axxess™.</label></div><div class="row"><label for="Edit_Insurance_ClearingHouse" class="float_left">Clearing House:</label><div class="float_left"><%  var clearingHouse = new SelectList(new[] { new SelectListItem { Text = string.Empty, Value = "0" },new SelectListItem { Text = "ZirMed", Value = "ZirMed" },new SelectListItem { Text = "Availity", Value = "Availity"}}, "Value", "Text",Model.ClearingHouse); %><%= Html.DropDownList("ClearingHouse", clearingHouse)%></div></div></div><div class="clear"></div>
        <div id="Edit_Insurance_EdiInformation">
           <div class="column">
            <div class="row"><label for="Edit_Insurance_InterchangeReceiverId" class="float_left">Interchange Receiver ID:</label><div class="float_right"><%  var interchangeReceiverId = new SelectList(new[] {
                            new SelectListItem { Text = "Mutually Defined (ZZ)", Value = "ZZ" },
                            new SelectListItem { Text = "Carrier Identification Number as assigned by Health Care Financing Administration (HCFA) (27)", Value = "27" },
                            new SelectListItem { Text = "Duns (Dun &amp; Bradstreet) (01)", Value = "01"},
                            new SelectListItem { Text = "Duns Plus Suffix (14)", Value = "14"},
                            new SelectListItem { Text = "Fiscal Intermediary Identification Number as assigned by Health Care Financing Administration (HCFA) (28)", Value = "28"},
                            new SelectListItem { Text = "Health Industry Number (HIN) (20)", Value = "20"},
                            new SelectListItem { Text = "Medicare Provider and Supplier Identification Number as assigned by Health Care Financing Administration (HCFA) (29)", Value = "29"},
                            new SelectListItem { Text = "Association of Insurance Commisioners Company Code (NAIC) (33)", Value = "33"},
                            new SelectListItem { Text = "U.S. Federal Tax Identification Number (30)", Value = "30"}
                        }, "Value", "Text",Model.InterchangeReceiverId); %>
            
            <%= Html.DropDownList("InterchangeReceiverId", interchangeReceiverId, new { @id = "New_Insurance_InterchangeReceiverId", @class = "valid" })%></div></div>
            <div class="row"><label for="Edit_Insurance_ClearingHouseSubmitterId" class="float_left">Clearing House Submitter ID:</label><div class="float_right"><%= Html.TextBox("ClearingHouseSubmitterId", Model.ClearingHouseSubmitterId, new { @id = "Edit_Insurance_ClearingHouseSubmitterId", @class = "text input_wrapper", @maxlength = "40" })%></div></div>
           </div>
           <div class="column">
            <div class="row"><label for="Edit_Insurance_SubmitterName" class="float_left">Submitter Name:</label><div class="float_right"><%= Html.TextBox("SubmitterName", Model.SubmitterName, new { @id = "Edit_Insurance_SubmitterName", @class = "text input_wrapper", @maxlength = "100" })%></div></div>
            <div class="row"><label for="Edit_Insurance_SubmitterPhone1" class="float_left">Submitter Phone:</label><div class="float_right"><%= Html.TextBox("SubmitterPhoneArray", Model.SubmitterPhone.IsNotNullOrEmpty() ? Model.SubmitterPhone.Substring(0, 3) : "", new { @id = "Edit_Insurance_SubmitterPhoneArray1", @class = "input_wrappermultible autotext  digits phone_short", @maxlength = "3", @size = "4" })%>&#160;-&#160;<%= Html.TextBox("SubmitterPhoneArray", Model.SubmitterPhone.IsNotNullOrEmpty() ? Model.SubmitterPhone.Substring(3, 3) : "", new { @id = "Edit_Insurance_SubmitterPhoneArray2", @class = "input_wrappermultible autotext  digits phone_short", @maxlength = "3", @size = "3" })%>&#160;-&#160;<%= Html.TextBox("SubmitterPhoneArray", Model.SubmitterPhone.IsNotNullOrEmpty() ? Model.SubmitterPhone.Substring(6, 4) : "", new { @id = "Edit_Insurance_SubmitterPhoneArray3", @class = "input_wrappermultible autotext  digits phone_long", @maxlength = "4", @size = "5" })%></div></div>
        </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Rates , Unit type And HCPCS Codes</legend>
        <div class="wide_column">
           <div class="float_left"><label for="Edit_Insurance_ChargeType" class="float_left">Bill Type (Unit):</label><% var unitType = new SelectList(new[] { new SelectListItem { Text = "Per Visit", Value = "1" }, new SelectListItem { Text = "Hourly", Value = "2" }, new SelectListItem { Text = "Per 15 Min", Value = "3" } }, "Value", "Text", Model.ChargeType); %><%= Html.DropDownList("ChargeType", unitType, new { @id = "Edit_Insurance_ChargeType", @class = "" })%></div>
           <table class="fixed insurance">
               <col  /><col width=60 /> <col width=60 /> <col width=20 /><col  /><col width=60 /> <col width=60 />
               <tbody>
                    <tr><th colspan="7" class="align_center borderBottom">Charge Rates</th></tr>
                    <tr><th class="borderBottom align_left">Disciplines</th><th class="borderBottom align_center" >Bill Rate</th><th class="borderBottom borderRight align_center">HCPCS Code</th><th class="borderBottom"></th><th class="borderBottom align_left">Disciplines</th><th class="borderBottom align_center">Bill Rate</th><th class="borderBottom align_center">HCPCS Code</th></tr>
                    <tr>
                        <td><label class="float_left">Skilled Nurse</label><%= Html.Hidden("RateDiscipline", "SkilledNurse")%>  </td><td class="align_center"><%= Html.TextBox("SkilledNurse_Charge", data.ContainsKey("SkilledNurse") ? data["SkilledNurse"].Charge : string.Empty, new { @id = "Edit_Insurance_SkilledNurseCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("SkilledNurse_Code", data.ContainsKey("SkilledNurse") ? data["SkilledNurse"].Code : string.Empty, new { @id = "Edit_Insurance_SkilledNurseCode", @class = "sn" })%></td><td></td>
                        <td><label class="float_left">Occupational Therapy</label><%= Html.Hidden("RateDiscipline", "OccupationalTherapy")%></td><td class="align_center"> <%= Html.TextBox("OccupationalTherapy_Charge", data.ContainsKey("OccupationalTherapy") ? data["OccupationalTherapy"].Charge : string.Empty, new { @id = "Edit_Insurance_OccupationalTherapyCharge", @class = "rates currency" })%></td><td ><%= Html.TextBox("OccupationalTherapy_Code", data.ContainsKey("OccupationalTherapy") ? data["OccupationalTherapy"].Code : string.Empty, new { @id = "Edit_Insurance_OccupationalTherapyCode", @class = "sn" })%></td>
                    </tr>
                    <tr>
                         <td><label class="float_left">Skilled Nurse (Teaching)</label><%= Html.Hidden("RateDiscipline", "SkilledNurseTeaching")%></td><td class="align_center"><%= Html.TextBox("SkilledNurseTeaching_Charge", data.ContainsKey("SkilledNurseTeaching") ? data["SkilledNurseTeaching"].Charge : string.Empty, new { @id = "New_Insurance_SkilledNurseTeachingCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("SkilledNurseTeaching_Code", data.ContainsKey("SkilledNurseTeaching") ? data["SkilledNurseTeaching"].Code : string.Empty, new { @id = "New_Insurance_SkilledNurseTeachingCode", @class = "sn" })%></td><td></td>
                         <td><label class="float_left">Occupational Therapy Assistant</label><%= Html.Hidden("RateDiscipline", "OccupationalTherapyAssistance")%></td><td class="align_center" ><%= Html.TextBox("OccupationalTherapyAssistance_Charge", data.ContainsKey("OccupationalTherapyAssistance") ? data["OccupationalTherapyAssistance"].Charge : string.Empty, new { @id = "New_Insurance_OccupationalTherapyAssistanceCharge ", @class = "rates currency" })%></td><td ><%= Html.TextBox("OccupationalTherapyAssistance_Code", data.ContainsKey("OccupationalTherapyAssistance") ? data["OccupationalTherapyAssistance"].Code : string.Empty, new { @id = "New_Insurance_OccupationalTherapyAssistanceCode", @class = "sn" })%></td>
                    </tr>
                    <tr>  
                        <td><label class="float_left">Skilled Nurse (Observation)</label><%= Html.Hidden("RateDiscipline", "SkilledNurseObservation")%></td><td class="align_center"><%= Html.TextBox("SkilledNurseObservation_Charge", data.ContainsKey("SkilledNurseObservation") ? data["SkilledNurseObservation"].Charge : string.Empty, new { @id = "New_Insurance_SkilledNurseObservationCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("SkilledNurseObservation_Code", data.ContainsKey("SkilledNurseObservation") ? data["SkilledNurseObservation"].Code : string.Empty, new { @id = "New_Insurance_SkilledNurseObservationCode", @class = "sn" })%></td><td></td>
                        <td><label class="float_left">Occupational Therapy(Maintenance)</label><%= Html.Hidden("RateDiscipline", "OccupationalTherapyMaintenance")%></td><td class="align_center"><%= Html.TextBox("OccupationalTherapyMaintenance_Charge", data.ContainsKey("OccupationalTherapyMaintenance") ? data["OccupationalTherapyMaintenance"].Charge : string.Empty, new { @id = "New_Insurance_OccupationalTherapyMaintenanceCharge ", @class = "rates currency" })%></td><td ><%= Html.TextBox("OccupationalTherapyMaintenance_Code", data.ContainsKey("OccupationalTherapyMaintenance") ? data["OccupationalTherapyMaintenance"].Code : string.Empty, new { @id = "New_Insurance_OccupationalTherapyMaintenanceCode", @class = "sn" })%></td>
                     </tr>
                     <tr>
                         <td><label class="float_left">Skilled Nurse (Management)</label><%= Html.Hidden("RateDiscipline", "SkilledNurseManagement")%></td><td class="align_center"><%= Html.TextBox("SkilledNurseManagement_Charge", data.ContainsKey("SkilledNurseManagement") ? data["SkilledNurseManagement"].Charge : string.Empty, new { @id = "New_Insurance_SkilledNurseManagementCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("SkilledNurseManagement_Code", data.ContainsKey("SkilledNurseManagement") ? data["SkilledNurseManagement"].Code : string.Empty, new { @id = "New_Insurance_SkilledNurseManagementCode", @class = "sn" })%></td><td></td>
                         <td><label class="float_left">Medical Social Worker</label><%= Html.Hidden("RateDiscipline", "MedicareSocialWorker")%></td><td class="align_center"> <%= Html.TextBox("MedicareSocialWorker_Charge", data.ContainsKey("MedicareSocialWorker") ? data["MedicareSocialWorker"].Charge : string.Empty, new { @id = "Edit_Insurance_MedicareSocialWorkerCharge", @class = "rates currency" })%></td><td ><%= Html.TextBox("MedicareSocialWorker_Code", data.ContainsKey("MedicareSocialWorker") ? data["MedicareSocialWorker"].Code : string.Empty, new { @id = "Edit_Insurance_MedicareSocialWorkerCode", @class = "sn" })%></td>
                     </tr>
                     <tr>
                        <td><label class="float_left">Physical Therapy</label><%= Html.Hidden("RateDiscipline", "PhysicalTherapy")%></td><td class="align_center"> <%= Html.TextBox("PhysicalTherapy_Charge", data.ContainsKey("PhysicalTherapy") ? data["PhysicalTherapy"].Charge : string.Empty, new { @id = "Edit_Insurance_PhysicalTherapyCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("PhysicalTherapy_Code", data.ContainsKey("PhysicalTherapy") ? data["PhysicalTherapy"].Code : string.Empty, new { @id = "Edit_Insurance_PhysicalTherapyCode", @class = "sn" })%></td><td></td>
                        <td><label class="float_left">Home Health Aide</label><%= Html.Hidden("RateDiscipline", "HomeHealthAide")%></td><td class="align_center" ><%= Html.TextBox("HomeHealthAide_Charge", data.ContainsKey("HomeHealthAide") ? data["HomeHealthAide"].Charge : string.Empty, new { @id = "Edit_Insurance_HomeHealthAideCharge", @class = "rates currency" })%></td><td ><%= Html.TextBox("HomeHealthAide_Code", data.ContainsKey("HomeHealthAide") ? data["HomeHealthAide"].Code : string.Empty, new { @id = "Edit_Insurance_HomeHealthAideCode", @class = "sn" })%></td>
                    </tr>
                     <tr>  
                        <td><label class="float_left">Physical Therapy Assistant</label><%= Html.Hidden("RateDiscipline", "PhysicalTherapyAssistance")%></td><td class="align_center"><%= Html.TextBox("PhysicalTherapyAssistance_Charge", data.ContainsKey("PhysicalTherapyAssistance") ? data["PhysicalTherapyAssistance"].Charge : string.Empty, new { @id = "New_Insurance_PhysicalTherapyAssistanceCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("PhysicalTherapyAssistance_Code", data.ContainsKey("PhysicalTherapyAssistance") ? data["PhysicalTherapyAssistance"].Code : string.Empty, new { @id = "New_Insurance_PhysicalTherapyAssistanceCode", @class = "sn" })%></td><td></td> 
                        <td><label class="float_left">Attendant</label><%= Html.Hidden("RateDiscipline", "Attendant")%></td><td class="align_center"> <%= Html.TextBox("Attendant_Charge", data.ContainsKey("Attendant") ? data["Attendant"].Charge : string.Empty, new { @id = "Edit_Insurance_AttendantCharge", @class = "rates currency" })%></td><td ><%= Html.TextBox("Attendant_Code", data.ContainsKey("Attendant") ? data["Attendant"].Code : string.Empty, new { @id = "Edit_Insurance_AttendantCode", @class = "sn" })%></td>
                    </tr>
                    <tr>  
                        <td> <label class="float_left">Physical Therapy (Maintenance)</label><%= Html.Hidden("RateDiscipline", "PhysicalTherapyMaintenance")%></td><td class="align_center"><%= Html.TextBox("PhysicalTherapyMaintenance_Charge", data.ContainsKey("PhysicalTherapyMaintenance") ? data["PhysicalTherapyMaintenance"].Charge : string.Empty, new { @id = "New_Insurance_PhysicalTherapyMaintenanceCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("PhysicalTherapyMaintenance_Code", data.ContainsKey("PhysicalTherapyMaintenance") ? data["PhysicalTherapyMaintenance"].Code : string.Empty, new { @id = "New_Insurance_PhysicalTherapyMaintenanceCode", @class = "sn" })%></td><td></td>
                        <td><label class="float_left">Companion Care</label><%= Html.Hidden("RateDiscipline", "CompanionCare")%></td><td class="align_center" > <%= Html.TextBox("CompanionCare_Charge", data.ContainsKey("CompanionCare") ? data["CompanionCare"].Charge : string.Empty, new { @id = "Edit_Insurance_CompanionCareCharge", @class = "rates currency" })%></td><td ><%= Html.TextBox("CompanionCare_Code", data.ContainsKey("CompanionCare") ? data["CompanionCare"].Code : string.Empty, new { @id = "Edit_Insurance_CompanionCareCode", @class = "sn" })%></td>
                    </tr>
                    <tr>  
                        <td><label class="float_left">Speech Therapy</label><%= Html.Hidden("RateDiscipline", "SpeechTherapy")%></td><td class="align_center"> <%= Html.TextBox("SpeechTherapy_Charge", data.ContainsKey("SpeechTherapy") ? data["SpeechTherapy"].Charge : string.Empty, new { @id = "Edit_Insurance_SpeechTherapyCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("SpeechTherapy_Code", data.ContainsKey("SpeechTherapy") ? data["SpeechTherapy"].Code : string.Empty, new { @id = "Edit_Insurance_SpeechTherapyCode", @class = "sn" })%></td><td></td>
                        <td><label class="float_left">Homemaker Services </label><%= Html.Hidden("RateDiscipline", "HomemakerServices")%></td><td class="align_center"> <%= Html.TextBox("HomemakerServices_Charge", data.ContainsKey("HomemakerServices") ? data["HomemakerServices"].Charge : string.Empty, new { @id = "Edit_Insurance_HomemakerServicesCharge", @class = "rates currency" })%></td><td ><%= Html.TextBox("HomemakerServices_Code", data.ContainsKey("HomemakerServices") ? data["HomemakerServices"].Code : string.Empty, new { @id = "Edit_Insurance_HomemakerServicesCode", @class = "sn" })%></td>
                    </tr>
                    <tr>  
                        <td><label class="float_left">Speech Therapy(Maintenance)</label><%= Html.Hidden("RateDiscipline", "SpeechTherapyMaintenance")%></td><td class="align_center"><%= Html.TextBox("SpeechTherapyMaintenance_Charge", data.ContainsKey("SpeechTherapyMaintenance") ? data["SpeechTherapyMaintenance"].Charge : string.Empty, new { @id = "New_Insurance_SpeechTherapyMaintenanceCharge", @class = "rates currency" })%></td><td class="borderRight"><%= Html.TextBox("SpeechTherapyMaintenance_Code", data.ContainsKey("SpeechTherapyMaintenance") ? data["SpeechTherapyMaintenance"].Code : string.Empty, new { @id = "New_Insurance_SpeechTherapyMaintenanceCode", @class = "sn" })%></td><td></td>
                        <td><label class="float_left">Private Duty Sitter</label><%= Html.Hidden("RateDiscipline", "PrivateDutySitter")%></td><td class="align_center"> <%= Html.TextBox("PrivateDutySitter_Charge", data.ContainsKey("PrivateDutySitter") ? data["PrivateDutySitter"].Charge : string.Empty, new { @id = "Edit_Insurance_PrivateDutySitterCharge", @class = "rates currency" })%></td><td ><%= Html.TextBox("PrivateDutySitter_Code", data.ContainsKey("PrivateDutySitter") ? data["PrivateDutySitter"].Code : string.Empty, new { @id = "Edit_Insurance_PrivateDutySitterCode", @class = "sn" })%></td>
                    </tr>
               </tbody>
         </table>
        </div>
    </fieldset>
    <fieldset>
        <legend>Insurance Address</legend>
        <div class="column">
            <div class="row"><label for="Edit_Insurance_AddressLine1" class="float_left">Address Line 1:</label><div class="float_right"><%= Html.TextBox("AddressLine1", Model.AddressLine1, new { @id = "Edit_Insurance_AddressLine1", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Insurance_AddressLine2" class="float_left">Address Line 2:</label><div class="float_right"><%= Html.TextBox("AddressLine2", Model.AddressLine2, new { @id = "Edit_Insurance_AddressLine2", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
        </div>
        <div class="column">
            <div class="row"><label for="Edit_Insurance_AddressCity" class="float_left">City:</label><div class="float_right"><%= Html.TextBox("AddressCity", Model.AddressCity, new { @id = "Edit_Insurance_AddressCity", @class = "text input_wrapper" })%></div></div>
            <div class="row"><label for="Edit_Insurance_AddressStateCode" class="float_left">State, Zip:</label><div class="float_right"><%= Html.LookupSelectList(SelectListTypes.States, "AddressStateCode", Model.AddressStateCode, new { @id = "Edit_Insurance_AddressStateCode", @class = "AddressStateCode valid" })%><%= Html.TextBox("AddressZipCode", Model.AddressZipCode, new { @id = "Edit_Insurance_AddressZipCode", @class = "text digits isValidUSZip zip", @maxlength = "5" })%></div></div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Insurance Contact Person</legend>
        <div class="column">
            <div class="row"><label for="Edit_Insurance_ContactPersonFirstName" class="float_left">First Name:</label><div class="float_right"><%= Html.TextBox("ContactPersonFirstName", Model.ContactPersonFirstName, new { @id = "Edit_Insurance_ContactPersonFirstName", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Insurance_ContactPersonLastName" class="float_left">Last Name:</label><div class="float_right"><%= Html.TextBox("ContactPersonLastName", Model.ContactPersonLastName, new { @id = "Edit_Insurance_ContactPersonLastName", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Insurance_ContactEmailAddress" class="float_left">Email:</label><div class="float_right"><%= Html.TextBox("ContactEmailAddress", Model.ContactEmailAddress, new { @id = "Edit_Insurance_ContactEmailAddress", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Insurance_PhoneNumberArray1" class="float_left">Phone:</label><div class="float_right"><%= Html.TextBox("PhoneNumberArray", Model.PhoneNumber.IsNotNullOrEmpty() ? Model.PhoneNumber.Substring(0, 3) : "", new { @id = "Edit_Insurance_PhoneNumberArray1", @class = "input_wrappermultible autotext  digits phone_short", @maxlength = "3", @size = "4" })%>&#160;-&#160;<%= Html.TextBox("PhoneNumberArray", Model.PhoneNumber.IsNotNullOrEmpty() ? Model.PhoneNumber.Substring(3, 3) : "", new { @id = "Edit_Insurance_PhoneNumberArray2", @class = "input_wrappermultible autotext required digits phone_short", @maxlength = "3", @size = "3" })%>&#160;-&#160;<%= Html.TextBox("PhoneNumberArray", Model.PhoneNumber.IsNotNullOrEmpty() ? Model.PhoneNumber.Substring(6, 4) : "", new { @id = "Edit_Insurance_PhoneNumberArray3", @class = "input_wrappermultible autotext required digits phone_long", @maxlength = "4", @size = "5" })%></div></div>
            <div class="row"><label for="Edit_Insurance_FaxNumberArray1" class="float_left">Fax Number:</label><div class="float_right"><%= Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() ? Model.FaxNumber.Substring(0, 3) : "", new { @id = "Edit_Insurance_FaxNumberArray1", @class = "input_wrappermultible autotext digits phone_short", @maxlength = "3", @size = "4" })%>&#160;-&#160;<%= Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() ? Model.FaxNumber.Substring(3, 3) : "", new { @id = "Edit_Insurance_FaxNumberArray2", @class = "input_wrappermultible autotext required digits phone_short", @maxlength = "3", @size = "3" })%>&#160;-&#160;<%= Html.TextBox("FaxNumberArray", Model.FaxNumber.IsNotNullOrEmpty() ? Model.FaxNumber.Substring(6, 4) : "", new { @id = "Edit_Insurance_FaxNumberArray3", @class = "input_wrappermultible autotext required digits phone_long", @maxlength = "4", @size = "5" })%></div></div>
        </div>
        <div class="column">
            <div class="row"><label for="Edit_Insurance_CurrentBalance" class="float_left">Current Balance:</label><div class="float_right"><%= Html.TextBox("CurrentBalance", Model.CurrentBalance, new { @id = "Edit_Insurance_CurrentBalance", @class = "text input_wrapper", @maxlength = "75" })%></div></div>
            <div class="row"><label for="Edit_Insurance_WorkWeekStartDay" class="float_left">Work Week Begins:</label><div class="float_right"><%var workWeekStartDay = new SelectList(new[]{ new SelectListItem { Text = "Sunday", Value = "1" },new SelectListItem { Text = "Monday", Value = "2" }}, "Value", "Text", Convert.ToString(Model.WorkWeekStartDay));%><%= Html.DropDownList("WorkWeekStartDay", workWeekStartDay, new { @id = "Edit_Insurance_WorkWeekStartDay" })%></div></div>
            <br />
            <div class="row"><label for="Edit_Insurance_IsAuthReq" class="float_left">Visit Authorization Required:</label><div class="float_right"><%= Html.RadioButton("IsVisitAuthorizationRequired", true, Model.IsVisitAuthorizationRequired, new { @id = "Edit_Insurance_IsAuthReq", @class = "required radio" })%><label class="inlineradio">Yes</label><%= Html.RadioButton("IsVisitAuthorizationRequired",false ,!Model.IsVisitAuthorizationRequired, new { @class = "required radio" })%><label class="inlineradio">No</label></div></div>
         </div>
    </fieldset>
     <div class="activity-log"><% = string.Format("<a href=\"javascript:void(0);\" onclick=\"Log.LoadInsuranceLog('{0}');\" >Activity Logs</a>", Model.Id)%></div>
     <div class="buttons"><ul><li><a href="javascript:void(0);" onclick="$(this).closest('form').submit();">Save</a></li><li><a href="javascript:void(0);" onclick="UserInterface.CloseWindow('editinsurance');">Cancel</a></li></ul></div>
</div>
<% } %>
<script type="text/javascript">
    $(".row :input.required").closest(".row").prepend("<span class='req_red abs_right'>*</span>");
    U.hideIfChecked($("#Edit_Insurance_IsAxxessTheBiller"), $("#Edit_Insurance_EdiInformation"));
 </script>
