﻿html,body{background-color:#d3d3d3;color:#000}
body{margin:0 auto;font-family:Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;font-size:12pt;width:816px}
.page{background-color:#fff;border:solid 1px #aaa;height:1056px;box-shadow:1em 1em 2em #555;-moz-box-shadow:1em 1em 2em #555;-webkit-box-shadow:1em 1em 2em #555;-o-box-shadow:1em 1em 2em #555;-khtml-box-shadow:1em 1em 2em #555;position:relative;overflow:hidden;margin:15px 0}
.float_left{float:left}
.float_right{float:right}
.clear{clear:both}
.fixed{table-layout:fixed}
.auto{width:auto !important}
.align_left{text-align:left}
.align_center{text-align:center}
.align_right{text-align:right}
.page div{position:absolute;overflow:hidden}
table{border-bottom:solid 1px #000;border-collapse:collapse;width:100%;table-layout:fixed}
table table{border:0 none}
.agency{top:40px;right:300px;bottom:950px;left:50px;font-size:10pt}
.patientname{top:115px;right:415px;bottom:920px;left:170px;font-size:14pt;font-weight:bold}
.physorder{background:#fff url(/Images/printviews/physorder.jpeg) no-repeat center center}
.physorder .content{top:375px;right:50px;bottom:150px;left:50px;overflow-y:auto;line-height:1.5}
.physorder .patient{top:140px;right:415px;bottom:835px;left:50px;font-size:10pt}
.physorder .physicianname{top:115px;right:50px;bottom:920px;left:555px;font-size:14pt;font-weight:bold}
.physorder .physician{top:140px;right:50px;bottom:835px;left:415px;font-size:10pt}
.physorder .orderdate{top:240px;right:415px;bottom:795px;left:140px}
.physorder .ordernum{top:240px;right:50px;bottom:795px;left:480px}
.physorder .allergies{top:288px;right:50px;bottom:748px;left:125px}
.physorder .summary{top:340px;right:50px;bottom:695px;left:130px}
.physorder .clinsign{top:935px;right:415px;bottom:100px;left:50px}
.physorder .clinsigndate{top:935px;right:50px;bottom:100px;left:410px}
.physorder .physsign{top:990px;right:415px;bottom:45px;left:50px}
.physorder .physsigndate{top:990px;right:50px;bottom:45px;left:410px}
.sixtyday{background:#fff url(/Images/printviews/sixtyday.jpeg) no-repeat center center}
.sixtyday .content{top:200px;right:36px;bottom:232px;left:38px;overflow-y:auto;font-size:10pt;line-height:1.5}
.sixtyday .mr{top:138px;right:415px;bottom:900px;left:150px;font-size:10pt}
.sixtyday .physician{top:157px;right:415px;bottom:881px;left:150px;font-size:10pt}
.sixtyday .dnr{top:176px;right:415px;bottom:862px;left:150px;font-size:10pt}
.sixtyday .episode{top:138px;right:50px;bottom:900px;left:575px;font-size:10pt}
.sixtyday .diagnosis{top:157px;right:50px;bottom:881px;left:575px;font-size:10pt}
.sixtyday .diagnosis2{top:176px;right:50px;bottom:862px;left:575px;font-size:10pt}
.sixtyday .signature1{bottom:185px;left:50px;font-size:10pt}
.sixtyday .signaturedate1{bottom:185px;left:415px;font-size:10pt}
