﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<%var status = new SelectList(new[] { new SelectListItem { Value = "300", Text = "Claim Created" }, new SelectListItem { Value = "305", Text = "Claim Submitted" }, new SelectListItem { Value = "310", Text = "Claim Rejected" }, new SelectListItem { Value = "315", Text = "Payment Pending" }, new SelectListItem { Value = "320", Text = "Claim Accepted/Processing" }, new SelectListItem { Value = "325", Text = "Claim With Errors" }, new SelectListItem { Value = "330", Text = "Paid Claim" }, new SelectListItem { Value = "335", Text = "Cancelled Claim" } }, "Value", "Text");%>
<%= Html.Telerik().DropDownList().Name("Status").BindTo(new SelectList(status, "Value", "Text")).HtmlAttributes(new { @class = "Status", id = ViewData.TemplateInfo.HtmlFieldPrefix + DateTime.Now.Millisecond.ToString() })
%>
