﻿.page{background:#fff url(/Images/Print/Patient/physorder.jpeg) no-repeat center center}
.content{top:310px;right:50px;bottom:180px;left:50px;overflow-y:auto;line-height:1.5}
.patientname{top:112px;right:415px;bottom:920px;left:110px;font-size:14pt;font-weight:bold}
.patient{top:140px;right:415px;bottom:835px;left:50px;font-size:10pt}
.physicianname{top:112px;right:40px;bottom:920px;left:495px;font-size:14pt;font-weight:bold}
.physician{top:140px;right:50px;bottom:835px;left:415px;font-size:10pt}
.orderdate{top:234px;right:580px;bottom:795px;left:140px}
.ordernum{top:234px;right:410px;bottom:800px;left:305px}
.episode{top:234px;right:50px;bottom:795px;left:560px}
.dob{top:167px;right:415px;bottom:869px;left:285px}
.mr{top:142px;right:415px;bottom:795px;left:285px}
.allergies{top:258px;right:50px;bottom:778px;left:130px}
.summary{top:283px;right:50px;bottom:753px;left:130px}
.IsOrderReadAndVerified{top:883px;right:210px;bottom:100px;left:50px}
.clinsign{top:935px;right:210px;bottom:100px;left:50px}
.clinsigndate{top:935px;right:50px;bottom:100px;left:610px}
.physsign{top:990px;right:210px;bottom:45px;left:50px}
.physsigndate{top:990px;right:50px;bottom:45px;left:610px}