﻿.page{background:#fff url(/Images/Print/Patient/physorder.jpeg) no-repeat center center}
.content{top:375px;right:50px;bottom:130px;left:50px;overflow-y:auto;line-height:1.5}
.patient{top:140px;right:415px;bottom:835px;left:50px;font-size:10pt}
.physicianname{top:115px;right:50px;bottom:920px;left:555px;font-size:14pt;font-weight:bold}
.physician{top:140px;right:50px;bottom:835px;left:415px;font-size:10pt}
.orderdate{top:240px;right:580px;bottom:795px;left:140px}
.ordernum{top:240px;right:410px;bottom:795px;left:305px}
.episode{top:240px;right:50px;bottom:795px;left:560px}
.allergies{top:288px;right:50px;bottom:748px;left:125px}
.summary{top:340px;right:50px;bottom:695px;left:130px}
.IsOrderReadAndVerified{top:883px;right:210px;bottom:100px;left:63px}
.clinsign{top:935px;right:210px;bottom:100px;left:50px}
.clinsigndate{top:935px;right:50px;bottom:100px;left:610px}
.physsign{top:990px;right:210px;bottom:45px;left:50px}
.physsigndate{top:990px;right:50px;bottom:45px;left:610px}