﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<OasisMedicationProfileViewData>" %>
<div class="buttons">
    <ul class="float_left">
        <li><a href="javascript:void(0);" onclick="Medication.Add('<%= Model.Profile.Id %>', '<%= Model.AssessmentType %>');">Add New Medication</a></li>
        <li><a href="javascript:void(0);" onclick="Medication.Refresh('<%= Model.Profile.Id %>', '#<%= Model.AssessmentType %>');">Refresh Medications</a></li>
    </ul>
    <ul class="float_right">
        <li><a href="javascript:void(0);" onclick="Patient.loadMedicationProfileSnapshot('<%= Model.Profile.PatientId%>');">Sign Medication Profile</a></li>
        <li><a href="javascript:void(0);" onclick="Acore.OpenPrintView({ Url: '/Patient/MedicationProfilePrint/<%=Model.Profile.PatientId %>', PdfUrl: '/Patient/MedicationProfilePrintPdf', PdfData: { 'id': '<%=Model.Profile.PatientId %>' } });">View Medication Profile</a></li>
    </ul>
</div><div class="clear"></div>
<div id="<%= string.Format("{0}_activeMeds", Model.AssessmentType) %>" class="medprofile">
    <ul>
        <li class="align_center"><h3>Active Medication(s)</h3></li>
        <li>
            <span class="longstanding">LS</span>
            <span class="startdate">Start Date</span>
            <span class="medicationdosage">Medication &#38; Dosage</span>
            <span class="frequency">Frequency</span>
            <span class="route">Route</span>
            <span class="type">Type</span>
            <span class="classification">Classification</span>
            <span class="action">Action</span>
        </li>
    </ul>
    <ol>
<%  if (Model != null && Model.Profile != null && Model.Profile.Medication != null) { %>
    <%  int i = 1; %>
    <%  var medications = Model.Profile.Medication.ToObject<List<Medication>>().FindAll(m => m.MedicationCategory == "Active").OrderByDescending(m => m.StartDateSortable); %>
    <%  foreach (var med in medications) { %>
        <li class="<%= i % 2 != 0 ? "odd" : "even" %>" onmouseover="$(this).addClass('hover')" onmouseout="$(this).removeClass('hover')">
            <span class="longstanding"><%= string.Format("<input name='LongStanding' class='radio' disabled='true' type='checkbox' value='{0}' {1} />", med.Id, med.IsLongStanding ? "checked='checked'" : string.Empty) %></span>
            <span class="startdate"><%= med.StartDate != DateTime.MinValue ? med.StartDate.ToShortDateString().ToZeroFilled() : string.Empty %></span>
            <span class="medicationdosage"><%= med.MedicationDosage %></span>
            <span class="frequency"><%= med.Frequency %></span>
            <span class="route"><%= med.Route %></span>
            <span class="type"><%= med.MedicationType.Text %></span>
            <span class="classification"><%= med.Classification %></span>
            <span class="action"><a href="javascript:void(0);" onclick="Medication.Edit('<%=Model.Id %>', '<%= med.Id %>', '<%= Model.AssessmentType %>');" >Edit</a> | <a href="javascript:void(0);" onclick="Medication.Delete('<%=Model.Id %>', '<%= med.Id %>', '<%= Model.AssessmentType %>');" >Delete</a> | <a href="javascript:void(0);" onclick="Medication.Discontinue('<%= Model.Id %>','<%= med.Id %>', '<%= Model.AssessmentType %>');">Discontinue</a></span>
        </li>
        <%  i++; %>
    <%  } %>
<%  } %>
    </ol>
</div>
<div id="<%= string.Format("{0}_dischargeMeds", Model.AssessmentType) %>" class="medprofile">
    <ul>
        <li class="align_center"><h3>Discontinued Medication(s)</h3></li>
        <li>
            <span class="longstanding">LS</span>
            <span class="startdate">Start Date</span>
            <span class="dcmedicationdosage">Medication & Dosage</span>
            <span class="dcfrequency">Frequency</span>
            <span class="dcroute">Route</span>
            <span class="type">Type</span>
            <span class="dcclassification">Classification</span>
            <span class="dischargedate">D/C Date</span>
            <span class="action">Action</span>
        </li>
    </ul>
    <ol>
<%  if (Model != null && Model.Profile != null && Model.Profile.Medication != null) { %>
    <%  int j = 1; %>
    <%  var medications = Model.Profile.Medication.ToObject<List<Medication>>().FindAll(m => m.MedicationCategory == "DC").OrderByDescending(m => m.StartDateSortable); %>
    <%  foreach (var med in medications) { %>
        <li class="<%= j % 2 != 0 ? "odd" : "even" %>" onmouseover="$(this).addClass('hover')" onmouseout="$(this).removeClass('hover')">
            <span class="longstanding"><%= string.Format("<input name='LongStanding' class='radio' disabled='true' type='checkbox' value='{0}' {1} />", med.Id, med.IsLongStanding ? "checked='checked'" : string.Empty) %></span>
            <span class="startdate"><%= med.StartDate != DateTime.MinValue ? med.StartDate.ToShortDateString().ToZeroFilled() : string.Empty %></span>
            <span class="dcmedicationdosage"><%= med.MedicationDosage %></span>
            <span class="dcfrequency"><%= med.Frequency %></span>
            <span class="dcroute"><%= med.Route %></span>
            <span class="type"><%= med.MedicationType.Text %></span>
            <span class="dcclassification"><%= med.Classification %></span>
            <span class="dischargedate"><%= med.DCDateFormated %></span>
            <span class="action"><a href="javascript:void(0);" onclick="Medication.Edit('<%=Model.Id %>', '<%= med.Id %>', '<%= Model.AssessmentType %>');" >Edit</a> | <a href="javascript:void(0);" onclick="Medication.Delete('<%=Model.Id %>', '<%= med.Id %>', '<%= Model.AssessmentType %>');" >Delete</a> | <a href="javascript:void(0);" onclick="Medication.Activate('<%= Model.Id %>','<%= med.Id %>', '<%= Model.AssessmentType %>');">Activate</a></span>
        </li>
        <%  j++; %>
    <%  } %>
<%  } %>
    </ol>
</div>
<div class="buttons">
    <ul class="float_left">
        <li><a href="javascript:void(0);" onclick="Medication.Add('<%= Model.Profile.Id %>', '<%= Model.AssessmentType %>');">Add New Medication</a></li>
        <li><a href="javascript:void(0);" onclick="Medication.Refresh('<%= Model.Profile.Id %>', '#<%= Model.AssessmentType %>');">Refresh Medications</a></li>
    </ul>
    <ul class="float_right">
        <li><a href="javascript:void(0);" onclick="Patient.loadMedicationProfileSnapshot('<%= Model.Profile.PatientId%>');">Sign Medication Profile</a></li>
        <li><a href="javascript:void(0);" onclick="Acore.OpenPrintView({ Url: '/Patient/MedicationProfilePrint/<%=Model.Profile.PatientId %>', PdfUrl: '/Patient/MedicationProfilePrintPdf', PdfData: { 'id': '<%=Model.Profile.PatientId %>' } });">View Medication Profile</a></li>
    </ul>
</div><div class="clear"></div>
<script type="text/javascript">
    $(".medprofile ol").each(function() { $("li:first", this).addClass("first"); $("li:last", this).addClass("last"); });
</script>