﻿@{ Layout = null; }
@model Axxess.Accounts.Website.Models.ActivateViewData

<!DOCTYPE html>
<html>
    <head>
        <title>Axxess Activate Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/touch-icon-ipad-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/touch-icon-iphone-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Images/touch-icon-ipad.png" />
        <link rel="apple-touch-icon-precomposed" href="/Images/touch-icon-iphone.png" />
        @Styles.Render("~/Content/Auth")
        <link rel="stylesheet" href="/Content/css3.aspx" type="text/css" />
        <link href="/Images/favicon.ico" rel="shortcut icon" />
        <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="centered-window">
			<img src="/Images/Login/logo.png" class="logo">
            @if (Model.LoginId != Guid.Empty) {
                <h3>To change your password/signature, follow the steps below.</h3>
                <h4 class="hint">Note: Your Electronic Signature will be the same as your new Password.</h4>
			    <div class="form-wrapper">
				    <div id="messages"></div>
				        @using (Html.BeginForm(
                            "Activate",
                            "Account",
                            FormMethod.Post,
                            new
                            {
                                @id = "activateAccountForm",
                                @class = "activateAccount"
                            }))
                        {

                        @Html.Hidden("UserId", Model.UserId, new { @id = "ActivateUser_UserId" })
                        @Html.Hidden("AgencyId", Model.AgencyId, new { @id = "ActivateUser_AgencyId" })
                        @Html.Hidden("LoginId", Model.LoginId, new { @id = "ActivateUser_LoginId" })
					    <div class="padded">
						    <table>
						        <tbody>
							        <tr>
								        <td colspan="2">
									        <h2 style="margin-top: 0">Step 1 - Verify your information below.</h2>
								        </td>
							        </tr>
							        <tr>
								        <td class="label">
									        <label>Agency Name</label>
								        </td>
								        <td>
									        @Html.TextBox("AgencyName", Model.AgencyName, new { disabled = "disabled" })
								        </td>
							        </tr>
							        <tr>
								        <td colspan="2">
									        <h2>Step 2 - Enter a new password.</h2>
								        </td>
							        </tr>
							        <tr>
								        <td class="label">
									        <label for="Password" class="fl">Password</label>
								        </td>
								        <td>
									        @Html.Password("Password", string.Empty, new { @class = "required", @maxlength="20" })
								        </td>
							        </tr>
							        <tr>
								        <td class="label">
									        <label for="ConfirmPassword" class="fl">Confirm Password</label>
								        </td>
								        <td>
									        @Html.Password("ConfirmPassword", string.Empty, new { @class = "", @maxlength="20" })
								        </td>
							        </tr>
						        </tbody>
					        </table>
				        </div>
				        <input type="submit" value="Activate Account" class="button" />
                    }
                </div>
                <div class="login-loading">
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
			    </div>
            }
            else
            {
                <h3>The page you requested was not found.</h3>
                <div class="form-wrapper">
                    <div class="padded">
                            <div class="notification warning">You may have mistyped the address or clicked on an expired link. Click <a href="/Login">here</a> to Login.
                            </div>
                    </div>
                </div>
            }
        </div>
		@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/custom")
        <script type="text/javascript">
            Activate.Init();
        </script>
	</body>
</html>
