﻿@{ Layout = null; }
<!DOCTYPE html>
<html>
    <head>
        <title>Axxess Forgot Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/touch-icon-ipad-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/touch-icon-iphone-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Images/touch-icon-ipad.png" />
        <link rel="apple-touch-icon-precomposed" href="/Images/touch-icon-iphone.png" />
        @Styles.Render("~/Content/Auth")
        <link rel="stylesheet" href="/Content/css3.aspx" type="text/css" />
        <link href="/Images/favicon.ico" rel="shortcut icon" />
        <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
		<div class="centered-window">
			<img src="/Images/Login/logo.png" class="logo">
            <h3>Fill in the fields below to reset your password.</h3>
			<div class="form-wrapper">
				<div id="messages"></div>
				@using(Html.BeginForm(
                        "Forgot", 
                        "Account", 
                        FormMethod.Post, 
                        new { 
                            @id = "forgotPasswordForm", 
                            @class = "forgotPassword"
                        }))
                        {
					<div class="padded">
						<table>
							<tbody>
								<tr>
									<td class="label"><label for="EmailAddress">Email</label></td>
									<td>@Html.TextBox("EmailAddress", string.Empty, new { @class = "required" })</td>
								</tr>
								<tr>
									<td colspan="2" class="label">
										<hr/>
										<label class="fl" for="">Security Check</label><br/>
										<label class="hint fr">Enter <em class="bold">both</em> words below, separated by a <em class="bold">space</em>.</label>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div>
											<script type="text/javascript">var RecaptchaOptions = { theme: "clean", tabindex: 0 }</script>
											<script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LemQrsSAAAAAM5b7-XCi9VUDVIu2dMG49YlEo4-"></script>
											<noscript>
												<iframe src="https://www.google.com/recaptcha/api/noscript?k=6LemQrsSAAAAAM5b7-XCi9VUDVIu2dMG49YlEo4-" width="500" height="300" frameborder="0"></iframe>
												<br />
												<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
												<input name="recaptcha_response_field" value="manual_challenge" type="hidden" />
											</noscript>
										</div> 
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<input type="submit" value="Send" class="button"/>
					}
			</div>
			<div class="login-loading">
				<i class="fa fa-circle"></i>
				<i class="fa fa-circle"></i>
				<i class="fa fa-circle"></i>
				<i class="fa fa-circle"></i>
				<i class="fa fa-circle"></i>
			</div>
		</div>
	    
		@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/custom")
        <script type="text/javascript">
            ResetPassword.Init();
        </script>
	</body>
</html>
