﻿@{ Layout = null; }
<!DOCTYPE html>
<html>
    <head>
        <title>Complete Home Health Care Software</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="/Images/favicon.ico" rel="shortcut icon" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/touch-icon-ipad-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/touch-icon-iphone-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Images/touch-icon-ipad.png" />
        <link rel="apple-touch-icon-precomposed" href="/Images/touch-icon-iphone.png" />
        @Styles.Render("~/Content/Auth")
        <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="login">
            <div class="login-left">
                @{ var browser = HttpContext.Current.Request.Browser; }
                @{ var isNotIEAllowed = browser.Browser.ToLower() == "IE".ToLower() && browser.MajorVersion < 8;}
                @{ var isNotFFAllowed = browser.Browser.ToLower() == "Firefox".ToLower() && browser.MajorVersion < 3;}
                @if (Axxess.Accounts.Components.ApplicationSettings.BrowserCompatibilityCheck && (isNotIEAllowed || isNotFFAllowed))
                { 
                     <div class="login-message">
                        <h4>Browser Compatibility Check</h4>
                        <p>Your browser version does not meet our minimum browser requirements.</p>
                        <p>Our software supports Internet Explorer 8, FireFox 3+, and Chrome.</p>
                        <p>Please download Internet Explorer 8 or Firefox by clicking on the links below.</p>
                        <ul>
                            <li><a href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx" title="Internet Explorer Download">Download Internet Explorer</a></li>
                            <li><a href="http://www.mozilla.com/en-US/firefox" title="Firefox Download">Download Firefox</a></li>
                            <li><a href="http://www.google.com/intl/en/chrome/browser/" title="Chrome Download">Download Chrome</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <img src="/Images/Login/logo.png" class="logo">
                    <noscript>
                        <div class="alert alert-error">
                            <h4>JavaScript Check</h4> 
                            <p>Your browser version does not meet our minimum browser requirements.</p>
                            <p>Our software requires JavaScript to be enabled in your browser.</p>
                            <p>Please contact Axxess for assistance on how to enable JavaScript.</p>
                        </div>
                    </noscript> 
                    <div class="form-wrapper">
                        @using (Html.BeginForm(
                            "Login",
                            "Account",
                            FormMethod.Post,
                            new
                            {
                                @id = "login-form",
                                @class = "login",
                                @returnUrl = Request.QueryString["returnUrl"]
                            }))
                        {
                            <div style="padding:1em">
                                <table>
                                    <tr>
                                        <td class="label"><label for="Login_UserName">E-mail</label></td>
                                        <td><input id="Login_UserName" name="EmailAddress" class="required" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td class="label"><label for="Login_Password">Password</label></td>
                                        <td><input id="Login_Password" name="Password" class="required" type="password"></td>
                                    </tr>
                                </table>
                            </div>
                            <p id="Login_RememberMe_Forgot">
                                
                                <input id="Login_RememberMe" name="RememberMe" checked="checked" value="true" type="checkbox">
                                <label for="Login_RememberMe">Remember Me</label> | <a href="Forgot" id="Login_Forgot">Forgot your Password?</a>
                            </p>
                            <input id="Login_Submit" type="submit" value="Login" >
                        }
                    </div>
                    <div class="login-loading">
                        <i class="icon-circle"></i>
                        <i class="icon-circle"></i>
                        <i class="icon-circle"></i>
                        <i class="icon-circle"></i>
                        <i class="icon-circle"></i>
                    </div>
                    <div class="login-message">
                        <div class="message"></div>
                        <div class="btn-wrapper">
                            <a href="#" class="btn-custom btn-cancel">Cancel</a>
                            <a href="#" class="btn-custom btn-ok">OK</a>
                        </div>
                    </div>
                    <div class="login-agency-selection">
                        <div id="agencySelectionLinks">
                        <div><h1>Select Agency Profile</h1></div>
                        <ul> 
                        
                        </ul> 
                    </div>
                    </div>
                    <div class="didyouknow">
                        <h2>DID YOU <b>KNOW?</b></h2>
                        <div>
                        @{
                    var didyouknows = new string[] {
                                "Users from <strong>36</strong> states login to Axxess daily!",
                                "Over <strong>300,000</strong> patients are being served using Axxess Agencycore!",
                                "Over <strong>60,000</strong> Home Health Professionals use Axxess daily!",
                                "Over <strong>50,000,000</strong> documents were created to date!",
				                "Over <strong>30,000,000</strong> visits documented!",
				                "Axxess is the <a href=\"http://www.softwareadvice.com/home-health/\" target=\"_blank\"><strong>most recommended</strong></a> home health care software!",
                                "More agencies choose <strong>AXXESS</strong> than any other Home Health Software!",
                                "<a href=\"http://axxessweb.com/referrals\" target=\"_blank\">You can get rewarded for referring your friends to <strong>AXXESS</strong> !</a>"
                            };
                        var rand = new Random();
                        foreach (string s in didyouknows)
                        {
                                <p>@Html.Raw(s)</p>
                        }
                        }
                        </div>
                    </div>
                }
                <footer>
                    <a href="http://axxessweb.com/referrals" class="referral" target="_blank">
                        <h3><b>REFERRAL</b><br>PROGRAM</h3>
                        Tell your friends about <b>AXXESS</b><br>and take advantage of our referral program!</a>
                    <p class="rights">Axxess | Copyright © 2008 - @DateTime.Now.Year | All Rights Reserved | Dallas, Texas</p>
                </footer>
            </div>
            <div class="login-right"><div class="upcoming-events"></div></div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/custom")
        <script type="text/javascript">
            Logon.Init();
        </script>
    </body>
</html>
