﻿@{ Layout = null; }
@model Axxess.Accounts.Website.Models.ResetViewData

<!DOCTYPE html>
<html>
    <head>
        <title>Axxess Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/touch-icon-ipad-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/touch-icon-iphone-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Images/touch-icon-ipad.png" />
        <link rel="apple-touch-icon-precomposed" href="/Images/touch-icon-iphone.png" />
        @Styles.Render("~/Content/Auth")
        <link rel="stylesheet" href="/Content/css3.aspx" type="text/css" />
        <link href="/Images/favicon.ico" rel="shortcut icon" />
        <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="centered-window">
			<img src="/Images/Login/logo.png" class="logo">
            @if (Model.LoginId != Guid.Empty) {
                <h3>To change your Axxess @Model.ResetType.ToString().ToLower(), follow these steps.</h3>
			    <div class="form-wrapper">
				    <div id="messages"></div>
				        @using (Html.BeginForm(
                            "Reset",
                            "Account",
                            FormMethod.Post,
                            new
                            {
                                @id = "changePasswordForm",
                                @class = "changepassword"
                            }))
                    {

                        @Html.Hidden("LoginId", Model.LoginId, new { @id = "ChangePassword_LoginId" })
                        @Html.Hidden("EmailAddress", Model.EmailAddress, new { @id = "ChangePassword_EmailAddress" })
                        @Html.Hidden("ResetType", Model.ResetType.ToString(), new { @id = "ChangePassword_ResetType" })
					    <div class="padded">
						    <table>
							    <tbody>
								    <tr>
									    <td colspan="2"><h2 style="margin-top: 0;">Step 1 - Verify your information below.</h2></td>
								    </tr>
								    <tr>
									    <td class="label"><label>Name</label></td>
									    <td>@Html.TextBox("Name", Model.DisplayName, new { @disabled = "disabled" })</td>
								    </tr>
								    <tr>
									    <td class="label"><label>Email</label></td>
									    <td>@Html.TextBox("EmailAddress", Model.EmailAddress, new { @disabled = "disabled" })</td>
								    </tr>
								    <tr>
									    <td colspan="2"><h2>Step 2 - Enter a new @Model.ResetType.ToString().ToLower().</h2></td>
								    </tr>
								    <tr>
									    <td class="label"><label>New @Model.ResetType.ToString()</label></td>
									    <td>@Html.Password(Model.ResetType.ToString(), string.Empty, new { @class = "required", @maxlength = "20" })</td>
								    </tr>
							    </tbody>
						    </table>
					    </div>
                        <div style="padding-bottom: .1em;" class="clr"></div>
					    <input type="submit" value="@string.Format("Change {0}", @Model.ResetType.ToString().ToLower())" class="button" />
				    }
                </div>
                <div class="login-loading">
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
				    <i class="fa fa-circle"></i>
			    </div>
            } else {
                <h3>The page you requested was not found.</h3>
                <div class="form-wrapper">
                    <div class="padded">
                            <div class="notification warning">You may have mistyped the address or clicked on an expired link. Click <a href="/Login">here</a> to Login.
                            </div>
                    </div>
                </div>
            }
        </div>
		@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/custom")
        <script type="text/javascript">
            ChangePassword.Init();
        </script>
	</body>
</html>
