/**
 * Vertical tabs, aka drawers
 * @author Bevan Rudge drupal.geek.nz
 * @license GPL 2
 */

/* Border style of tabs and content */
.vertical-tabs,
.vertical-tabs ul.ui-tabs-nav,
.vertical-tabs ul.ui-tabs-nav a {
  border: 1px solid #D9EAF5;
}

/* Make space for the tabs on the side */
.vertical-tabs-left {
 
}

.vertical-tabs-right {
  margin-right: 180px;
}

/* Set the background image on the tabs and content */
.vertical-tabs,
.vertical-tabs ul.ui-tabs-nav {
  background: #fff url(/themes/garland/images/gradient-inner.png) repeat-x top;
}

/* Position and layout of tabs container */
.vertical-tabs ul.ui-tabs-nav { 
  width: 179px;
  padding: 0;
}

.vertical-tabs-left ul.ui-tabs-nav { 
  
}

.vertical-tabs-right ul.ui-tabs-nav { 
  float: right;
  margin: -1px -180px -1px 0;
  border-width: 1px 1px 0 0;
}

/* Reset LIs which probably have awkward layout inherited from tabs */
.vertical-tabs ul.ui-tabs-nav li {
  float: none;
  margin: 0;
  padding: 0;
  background-image: none;
}

/* Layout of each tab */
.vertical-tabs ul.ui-tabs-nav a {
  display: block;
  margin: 0;
  padding: .4em 3px .1em 5px;
  background: #fff;
  text-align: left;
  font-weight: normal;
}

.vertical-tabs ul.ui-tabs-nav .description {
  padding: 0;
  line-height: normal;
  min-height: 0;
  white-space: normal;
}

.vertical-tabs-left ul.ui-tabs-nav a {
  border-width: 0 1px 1px 0;
}

.vertical-tabs-right ul.ui-tabs-nav a {
  border-width: 0 0 1px 1px;
}

/* Hover state of tabs */
.vertical-tabs ul.ui-tabs-nav a:hover {
  color: #0062A0;
}

/* Selected tab */
.vertical-tabs ul.ui-tabs-nav li.ui-tabs-selected a {
  background-color: #F8F8F8;
  color: black;
}

.vertical-tabs-left ul.ui-tabs-nav li.ui-tabs-selected a {
  border-right: 0 none;
}

.vertical-tabs-right ul.ui-tabs-nav li.ui-tabs-selected a {
  border-left: 0 none;
}

/* Reset some important elements of each panel */
.vertical-tabs .ui-tabs-panel {
  
  padding: .5em;
  border: 0 none;
  background: transparent none;
}

/* Hide Fielset's legends -- context is given by tab */
.vertical-tabs fieldset.ui-tabs-panel legend {
  display: none;
}



/* Vertical Tabs for Oasis
----------------------------------*/
.ui-tabs-vertical {  }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; float:left; }
.ui-tabs-vertical .ui-tabs-nav li:hover { border-top: 0px; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width:171px; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { border-right-width: 1px; border-top-width: 0px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 0 1em 0 1em ; float: right;}
