﻿/* -- Telerik Grid Placement Overrides -- */
.centered-unpadded-cell{padding:0px !important; text-align:center !important;}
.fixed-grid-height{height:286px;position:relative}
.absolute-grid{position:absolute;left:0;right:0;bottom:0;top:287px;height:auto}
#window_listhospitalization .t-grid-content,#window_patientcommunicationnoteslist .t-grid-content,#window_listreferrals .t-grid-content,#window_existingreferrals .t-grid-content,#window_listcontacts .t-grid-content,#window_listauthorizations .t-grid-content,#window_listhospitals .t-grid-content,#window_listincidents .t-grid-content,#window_listinfections .t-grid-content,#window_listinsurances .t-grid-content,#window_listlocations .t-grid-content,#window_listalluserschedule .t-grid-content,#window_listphysicians .t-grid-content,#window_listpatients .t-grid-content,#window_listnonadmit .t-grid-content,#window_listtemplates .t-grid-content,#window_listagencies .t-grid-content,#window_listpendingpatients .t-grid-content,#window_listusers .t-grid-content,#window_patientordershistory .t-grid-content,#window_patientdeletedtaskhistory .t-grid-content,#List_PatientSixtyDaySummary .t-grid-content,#window_listsupplies .t-grid-content, #window_listreports .t-grid-content, #window_listadjustmentcodes .t-grid-content{top:60px;bottom:23px}
#window_listpastduerecerts .t-grid-content,#window_medicationprofilesnapshothistory .t-grid-content,#window_listupcomingrecerts .t-grid-content{top:25px;bottom:23px}
#window_messageinbox .t-grid-content{top:73px;bottom:23px}
#MedicatonProfileGridActive{height:265px}
#MedicatonProfileGridDC,#MedicatonProfileGrid{height:230px}
#MedicatonProfileGridDC .t-grid-content,#MedicatonProfileGrid .t-grid-content{top:30px !important}
#List_OrdersToBeSent .t-grid-content{top:26px;bottom:23px}
.img.icon{display:inline-block}
.img.icon.expand{background:url(/Images/sprite.png) no-repeat -190px 0;width:16px;height:16px}
.img.icon.collapse{background:url(/Images/sprite.png) no-repeat -190px -16px;width:16px;height:16px}
.img.icon.paperclip{background:url(/Images/sprite.png) no-repeat -148px -31px;width:16px;height:16px}
.img.icon.print{background:url(/Images/sprite.png) no-repeat -84px -31px;width:16px;height:16px}
.img.icon.money{background:url(/Images/sprite.png) no-repeat -99px -47px;width:16px;height:16px}
.img.icon.success{background:url(/Images/sprite.png) no-repeat -64px 0;width:32px;height:31px}
.img.icon.error{background:url(/Images/sprite.png) no-repeat -128px 0;width:32px;height:31px}
.img.icon.success-small{background:url(/Images/sprite.png) no-repeat -150px -47px;width:16px;height:16px}
.img.icon.error-small{background:url(/Images/sprite.png) no-repeat -166px -47px;width:16px;height:16px}
.img.icon.send{background:url(/Images/sprite.png) no-repeat -190px -17px;width:29px;height:14px}
.img.icon.note{background:url(/Images/sprite.png) no-repeat -132px -31px;width:16px;height:16px;margin-right:5px;margin-left:5px}
.img.icon.note-blue{background:url(/Images/sprite.png) no-repeat -116px -31px;width:16px;height:16px;margin-right:5px;margin-left:5px}
.img.icon.note-red{background:url(/Images/sprite.png) no-repeat -100px -31px;width:16px;height:16px;margin-right:5px;margin-left:5px}
.img{vertical-align:text-bottom}
.grid-search{width:300px;margin-left:-150px;position:absolute;left:50%}
.orders-filter{padding:.4em 1em 0;width:760px;margin:.5em auto}
.orders-filter label,.orders-filter input,.orders-filter div,.orders-filter a{vertical-align:middle}
.no-left-margin .grid-search{margin-left:0px}
.activity-log a{display:block;text-decoration:none;background:url(/Images/sprite.png) no-repeat 0 -86px;width:80px;height:33px;padding:0 5px 0 15px;font-weight:bold;color:#00271e;line-height:33px;text-shadow:#aaa .2em .2em .4em}
/* -- jQuery Layout -- */
.layout-resizer{background:#fff;width:1px !important;border-left:solid 1px #eee;border-right:solid 1px #ddd;height:100% !important}
.layout{position:absolute;top:0;right:0;bottom:0;left:0}
.layout-pane{overflow:hidden;height:100% !important}
.layout-main{width:auto !important}
/* -- Patient/Scheduling Center -- */
.layout-left .top{padding:0 .3em}
.layout-left .top .row{display:table;margin:2px;width:100%}
.layout-left .top .heading{text-align:left;font-weight:bold;font-size:12.5px;margin-bottom:0;margin-top:6px}
.layout-left .top .row label{float:left}
.layout-left .top .row div{display:block;margin-left:50px;padding-right:6px}
.layout-left .top select,.layout-left .top input{width:100%}
.layout-left .bottom{position:absolute;top:140px;right:2px;bottom:0;left:0}
.layout-main .tab-contents{position:relative}
.layout-main .tab-contents tbody td{border-bottom:1px solid #dce6f5;padding:5px 2px;text-align:center}
.layout-main .tab-contents tbody .last-row td,#multiple-schedule-table td{border-bottom:none}
.layout-main .tab-contents .date-range{width:415px}
.layout-main .schedule-tables select,.layout-main .schedule-tables tbody input{width:100%}
.layout-main .schedule-tables{width:76%}
.layout-main .schedule-tables .current-date,.layout-main .schedule-tables .t-input{width:120px}
.layout-main .schedule-tables .action a{cursor:pointer;text-decoration:underline}
.layout-main .schedule-tables .last-row .action{display:none}
.tab-contents .buttons{position:absolute;bottom:-5px;right:-15px}
.layout-main .bottom{position:absolute;top:303px;right:0;bottom:0;left:0}
.layout-main .bottom .above{position:absolute;top:-27px;right:0;left:0;border:solid 1px #d3d3d3;padding-top:3px;height:23px;background-color:#D6E5F3}
.above label,.above select,.above input{margin:0 5px}
.window-menu{width:100%;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;height:25px;border:solid 1px #aaa}
.window-menu ul li{float:left;color:#333}
.window-menu ul li a{font-weight:bold;cursor:pointer;display:block;line-height:25px;padding:0 10px;color:#333;border-right:solid 1px #aaa;text-decoration:none}
.two-thirds{height:158px;float:left;background-color:#fffcf2;border:solid 1px #d3d3d3;margin:5px;padding:10px;width:69%}
.two-thirds img{margin-right:10px}
.layout-main .top a{color:#333;cursor:pointer}
.one-third{width:25%}
.encapsulation{float:right;padding:5px}
.encapsulation ul{background:#fffcf2}
.encapsulation h4{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;width:90%;text-align:center;font-size:12px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.encapsulation li a{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;border-top:0;width:90%}
.date-range span{margin:0 3px 0 0}
.custom-date-range .date{width:90px}
.custom-date-range .date .t-input{width:65px}
#schedule-collapsed{position:relative;height:5px;border:solid 1px #d3d3d3;background:#C3D8F1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;border-bottom:0 none}
#summary-collapsed{position:relative;height:5px;border:solid 1px #d3d3d3;background:#C3D8F1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;border-bottom:0 none}
.show-scheduler{background:#DDE8F5;border:solid 1px #d3d3d3;border-bottom:0 none;position:absolute;font-weight:bold;top:-29px;right:15px;padding:5px}
.show-summary{background:#DDE8F5;border:solid 1px #d3d3d3;border-bottom:0 none;position:absolute;font-weight:bold;top:-29px;right:125px;padding:5px}
#schedule-tab-strip{border-top:0 none;display:none}
#schedule-tab-strip .t-content{overflow:auto;overflow-x:hidden !important;max-height:100px}
.note-legend{left:auto;position:relative;margin:0;padding:2px}
.note-legend img{margin:0 0;vertical-align:middle}
.note-legend ul li{float:left;margin-right:10px}
/* -- Calendar -- */
#calendar-episode-list{margin:2px}
.epsdrop{left:18%;top:5px}
.trical{text-align:center}
.trical .abs-left,.trical .abs-right{background:url(/Images/gradients.png) repeat-x 0 -526px;border:solid 1px #d3d3d3}
.trical .abs-left a,.trical .abs-right a{text-decoration:none !important;font-weight:bold !important;color:#fff;text-shadow:1px 1px 1px #000;padding:1px 10px 5px;display:inline-block}
.trical .abs-left a:hover,.trical .abs-right a:hover,.window-menu a:hover{color:#fff;text-shadow:1px 1px 1px #000;background:url(/Images/sprite.png) no-repeat center -133px}


.window-menu a:hover{background:url(/Images/gradients.png) repeat-x 0 -529px}
.trical a{cursor:pointer;text-decoration:underline;color:blue;font-weight:normal}
.cal{width:28%;display:inline-block;margin:10px 2.5%;float:left;text-align:center}
.cal a{color:#333}
.cal table{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%}
.cal thead{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;font-weight:bold}
.cal thead th{width:14.285%}
.cal tbody td{background-color:#fffcf2;cursor:pointer;vertical-align:top;border:solid 1px #d3d3d3;width:135px;height:22px;text-align:center}
.cal tbody td a{font-weight:normal;text-decoration:none;font-family:Tahoma;font-size:11px;line-height:22px}
.cal.bigtd tbody td{height:50px;cursor:pointer}
.cal.bigtd tbody td a{height:50px}
.cal.bigtd tbody td .datelabel{height:100%}
.cal .inactive{cursor:default;background-color:#f5f5f5}
.cal .active{background-color:#666}
.cal .selectdate{background-color:#666}
.calendar-legend .scheduled,.cal .scheduled{background-color:#3e799c}
.calendar-legend .completed,.cal .status425,.cal .status330,.cal .status220,.cal .status225,.cal .status135,.cal .status455{background-color:#3ea123}
.calendar-legend .missed,.cal .status400,.cal .missed{background-color:#b20e0e}
.calendar-legend .multi,.cal .multi{background-color:#5d43ba}
.cal .active,.cal .selectdate{border-color:#888;background-image:url(/Images/sprite.png);background-repeat:no-repeat;background-position:-70px -133px}
.cal .active a,.cal .selectdate a{font-weight:bold;color:#fff}
#window_userschedulemonthlycalendar .cal .active{background-image:none}
.cal .status425 a,.cal .status330 a,.cal .status220 a,.cal .status225 a,.cal .status135 a,.cal .scheduled a,.cal .status400 a,.cal .multi a{color:#fff}
.calendar-legend{padding:5px;width:320px;position:relative;margin:5px auto}
.calendar-legend li{float:left;margin:0 5px}
.calendar-legend li div{display:inline-block;float:left;width:12px;height:12px;border:1px solid #d3d3d3;margin:0 1px;vertical-align:text-top}
/* -- Dashboard -- */
.modal-gray{background-color:#6f95d4}
.modal-gray .window-content{color:#fff;padding:0 10px 10px;text-align:center;text-shadow:0 2px 3px #333}
.modal-gray h3{font-size:24px;padding-top:10px}
#intro-widget ul,.modal-gray ul{text-align:left;margin:5px 40px}
#intro-widget ul li,.modal-gray ul li{padding:5px;list-style:none}
.img.icon.green-arrow{background:url(/Images/sprite.png) no-repeat -162px -20px;width:29px;height:20px}
#intro-widget ul li a{color:#368c36;font-size:18px;position:relative;top:-3px;line-height:18px}
.modal-gray ul li a{color:#fff;font-size:1.3em;vertical-align:text-bottom}
#intro-widget ul li a:hover{color:#2fa32f}
.widget-content h1{font-family:Sans-Serif;font-size:17px;font-weight:bold;color:#3C78B5}
.widget-content .underline{border-top:solid 1px #3C78B5;margin-bottom:5px}
.widget-content .mail-controls,#messages-widget-content div{border-bottom:solid 1px #d6e5f3}
.widget-content .mail-controls,.widget-content .message{padding:3px;line-height:20px;display:block}
.widget-content a.message{color:#333}
.widget-content .message input{margin:3px 10px 0 3px}
.widget-content .faux-grid{position:absolute;font-weight:normal !important;color:#333;bottom:0;left:0;right:0;top:0}
.widget-content .faux-grid table{width:100%}
.widget-content .faux-grid-header{width:100%;background:url(/Images/gradients.png) repeat-x 0 -120px;border-color:#d3d3d3;color:#333;font-weight:bold;border-bottom-style:solid;border-bottom-width:1px;padding-right:17px}
.widget-content .faux-grid-header th{border-bottom-width:0;border-style:solid;border-width:0 1px 1px 0;overflow:hidden;padding:.3em .6em;white-space:nowrap;text-align:left;background:url(/Images/gradients.png) repeat-x 0 -120px;border-color:#d3d3d3;color:#333;font-weight:bold}
.widget-content .faux-grid-content{max-height:181px;width:100%}
.widget-content .faux-grid-content td{border-width:0 1px 0 0;border-right:1px solid #d6e5f3;line-height:1.6em;overflow:hidden;padding:.25em .6em;vertical-align:top}
.modal-gray ul li a:hover{color:#fdd;text-shadow:0 2px 5px #833}
.img.icon.stop{background:url(/Images/sprite.png) no-repeat -230 -85px;width:20px;height:20px;margin-left:7px}
#messages-widget-content div{height:26px;overflow:hidden}
.widgets{width:33.33%;float:left}
.widget{border:solid 1px #aaa;margin:10px;overflow:hidden;position:relative;height:235px}
.widget a:hover{text-decoration:underline}
.widget-head{background:url(/Images/gradients.png) repeat-x 0 -678px;border-bottom:solid 1px #d3d3d3;color:#943a43;height:24px;text-align:center}
.widget-head h5{font-weight:bold;line-height:22px}
#intro-widget .widget-content div{padding:5px 10px}
.widget-content{display:block;background:#fffcf2;height:210px;position:absolute;font-weight:normal !important;left:0;right:0}
.widget-more{position:absolute;bottom:-1px;right:20px;padding:4px;background-color:#eee;border:solid 1px #aaa}
.widget-more a{color:#af1e2d}
.widget-more a:hover{display:block;margin:5px;font-weight:bold}
.weather-feed{color:#94461e}
.widget-content .t-grid{font-weight:normal !important}
.widget-place-holder{border:2px dashed;margin-bottom:10px}
.content .widgets{margin:0 10px}
.widget-head a{height:16px;outline:none;position:absolute;text-indent:-9999em;top:5px;width:16px}
/* Custom Dashboard Mesasge Reset */
#custom-message-widget div{position:relative}
#custom-message-widget address,#custom-message-widget blockquote,#custom-message-widget dd,#custom-message-widget div,#custom-message-widget dl,#custom-message-widget dt,#custom-message-widget fieldset,#custom-message-widget h1,#custom-message-widget h2,#custom-message-widget h3,#custom-message-widget h4,#custom-message-widget h5,#custom-message-widget h6,#custom-message-widget ol,#custom-message-widget p,#custom-message-widget ul,#custom-message-widget center,#custom-message-widget dir,#custom-message-widget hr,#custom-message-widget menu,#custom-message-widget pre{display:block;unicode-bidi:embed}
#custom-message-widget li{display:list-item}
#custom-message-widget table{display:table}
#custom-message-widget tr{display:table-row}
#custom-message-widget thead{display:table-header-group}
#custom-message-widget tbody{display:table-row-group}
#custom-message-widget tfoot{display:table-footer-group}
#custom-message-widget col{display:table-column}
#custom-message-widget colgroup{display:table-column-group}
#custom-message-widget td,#custom-message-widget th{display:table-cell}
#custom-message-widget caption{display:table-caption}
#custom-message-widget th{font-weight:bolder;text-align:center}
#custom-message-widget caption{text-align:center}
#custom-message-widget h1{font-size:2em;margin:.67em 0}
#custom-message-widget h2{font-size:1.5em;margin:.75em 0}
#custom-message-widget h3{font-size:1.17em;margin:.83em 0}
#custom-message-widget h4,#custom-message-widget p,#custom-message-widget blockquote,#custom-message-widget ul,#custom-message-widget fieldset,#custom-message-widget ol,#custom-message-widget dl,#custom-message-widget dir,#custom-message-widget menu{margin:1.12em 0}
#custom-message-widget h5{font-size:.83em;margin:1.5em 0}
#custom-message-widget h6{font-size:.75em;margin:1.67em 0}
#custom-message-widget h1,#custom-message-widget h2,#custom-message-widget h3,#custom-message-widget h4,#custom-message-widget h5,#custom-message-widget h6,#custom-message-widget b,#custom-message-widget strong{font-weight:bolder}
#custom-message-widget blockquote{margin-left:40px;margin-right:40px}
#custom-message-widget i,#custom-message-widget cite,#custom-message-widget em,#custom-message-widget var,#custom-message-widget address{font-style:italic}
#custom-message-widget pre,#custom-message-widget tt,#custom-message-widget code,#custom-message-widget kbd,#custom-message-widget samp{font-family:monospace}
#custom-message-widget pre{white-space:pre}
#custom-message-widget big{font-size:1.17em}
#custom-message-widget small,#custom-message-widget sub,#custom-message-widget sup{font-size:.83em}
#custom-message-widget sub{vertical-align:sub}
#custom-message-widget sup{vertical-align:super}
#custom-message-widget table{border-spacing:2px}
#custom-message-widget thead,#custom-message-widget tbody,#custom-message-widget tfoot{vertical-align:middle}
#custom-message-widget td,#custom-message-widget th,#custom-message-widget tr{vertical-align:inherit}
#custom-message-widget s,#custom-message-widget strike,#custom-message-widget del{text-decoration:line-through}
#custom-message-widget hr{border:1px inset}
#custom-message-widget ol,#custom-message-widget ul,#custom-message-widget dir,#custom-message-widget menu,#custom-message-widget dd{margin-left:40px}
#custom-message-widget ol{list-style-type:decimal}
#custom-message-widget ol ul,#custom-message-widget ul ol,#custom-message-widget ul ul,#custom-message-widget ol ol{margin-top:0;margin-bottom:0}
#custom-message-widget u,#custom-message-widget ins{text-decoration:underline}
#custom-message-widget br:before{content:"\A";white-space:pre-line}
#custom-message-widget center{text-align:center}
#custom-message-widget :link,#custom-message-widget :visited{text-decoration:underline}
/* Clock Widget Dashboard */
.clock_digit{width:50px;height:125px;display:inline-block;background-image:url(/Images/clock.png);margin:5px 0}
.clock_bg{width:140px;height:140px;display:inline-block;background:url(/Images/clock.png) no-repeat 0 0}
#am_pm{width:40px;height:26px;display:inline-block;background:url(/Images/clock.png) no-repeat -650px -515px}
#am_pm.pm{background-position:-690px -515px}
.clock_digit.clock00{background-position:0 -140px}
.clock_digit.clock10{background-position:-50px -140px}
.clock_digit.clock20{background-position:-100px -140px}
.clock_digit.clock30{background-position:-150px -140px}
.clock_digit.clock01{background-position:-200px -140px}
.clock_digit.clock11{background-position:-250px -140px}
.clock_digit.clock21{background-position:-300px -140px}
.clock_digit.clock31{background-position:-350px -140px}
.clock_digit.clock02{background-position:-400px -140px}
.clock_digit.clock12{background-position:-450px -140px}
.clock_digit.clock22{background-position:-500px -140px}
.clock_digit.clock32{background-position:-550px -140px}
.clock_digit.clock03{background-position:-600px -140px}
.clock_digit.clock13{background-position:-650px -140px}
.clock_digit.clock23{background-position:-700px -140px}
.clock_digit.clock33{background-position:-750px -140px}
.clock_digit.clock04{background-position:-800px -140px}
.clock_digit.clock14{background-position:-850px -140px}
.clock_digit.clock24{background-position:-900px -140px}
.clock_digit.clock34{background-position:-950px -140px}
.clock_digit.clock05{background-position:0 -265px}
.clock_digit.clock15{background-position:-50px -265px}
.clock_digit.clock25{background-position:-100px -265px}
.clock_digit.clock35{background-position:-150px -265px}
.clock_digit.clock06{background-position:-200px -265px}
.clock_digit.clock16{background-position:-250px -265px}
.clock_digit.clock26{background-position:-300px -265px}
.clock_digit.clock36{background-position:-350px -265px}
.clock_digit.clock07{background-position:-400px -265px}
.clock_digit.clock17{background-position:-450px -265px}
.clock_digit.clock27{background-position:-500px -265px}
.clock_digit.clock37{background-position:-550px -265px}
.clock_digit.clock08{background-position:-600px -265px}
.clock_digit.clock18{background-position:-650px -265px}
.clock_digit.clock28{background-position:-700px -265px}
.clock_digit.clock38{background-position:-750px -265px}
.clock_digit.clock09{background-position:-800px -265px}
.clock_digit.clock19{background-position:-850px -265px}
.clock_digit.clock29{background-position:-900px -265px}
.clock_digit.clock39{background-position:-950px -265px}
.clock_digit.clock111{background-position:0 -390px}
.clock_digit.clock211{background-position:-50px -390px}
.clock_digit.clock311{background-position:-100px -390px}
.clock_digit.clock121{background-position:-150px -390px}
.clock_digit.clock221{background-position:-200px -390px}
.clock_digit.clock321{background-position:-250px -390px}
.clock_digit.clock131{background-position:-300px -390px}
.clock_digit.clock231{background-position:-350px -390px}
.clock_digit.clock331{background-position:-400px -390px}
.clock_digit.clock141{background-position:-450px -390px}
.clock_digit.clock241{background-position:-500px -390px}
.clock_digit.clock341{background-position:-550px -390px}
.clock_digit.clock151{background-position:-600px -390px}
.clock_digit.clock251{background-position:-650px -390px}
.clock_digit.clock351{background-position:-700px -390px}
.clock_digit.clock1111{background-position:-750px -390px}
.clock_digit.clock2111{background-position:-800px -390px}
.clock_digit.clock3111{background-position:-850px -390px}
.clock_digit.clock1211{background-position:-900px -390px}
.clock_digit.clock2211{background-position:-950px -390px}
.clock_digit.clock3211{background-position:0 -515px}
.clock_digit.clock1311{background-position:-50px -515px}
.clock_digit.clock2311{background-position:-100px -515px}
.clock_digit.clock3311{background-position:-150px -515px}
.clock_digit.clock1511{background-position:-200px -515px}
.clock_digit.clock2511{background-position:-250px -515px}
.clock_digit.clock3511{background-position:-300px -515px}
.clock_digit.clock201{background-position:-350px -515px}
.clock_digit.clock101{background-position:-400px -515px}
.clock_digit.clock3001{background-position:-450px -515px}
.clock_digit.clock1001{background-position:-500px -515px}
.clock_digit.clock2001{background-position:-550px -515px}
.clock_digit.clock301{background-position:-600px -515px}
.weather-feed{position:relative;max-width:400px;margin:0 auto;padding-left:20px}
.weather-item{background-position:left top;background-repeat:no-repeat;height:125px;width:180px;position:absolute;top:70px;left:50%;margin-left:-90px}
.weather-temp{font-size:2.2em;position:absolute;right:20px;top:-10px;font-weight:bold}
.weather-range,.weather-wind{font-size:.8em;position:absolute;right:20px}
.weather-range{top:42px}
.weather-wind{top:28px}
.weather-feed a{color:#94461e;text-decoration:underline}
.weather-city{font-size:1.2em;text-transform:uppercase;font-weight:bold}
.weather-desc{margin-bottom:.4em;font-weight:bold}
.weather-link{text-align:left;font-size:.8em}
#widget-calendar{font-weight:bold;position:absolute;left:50%;text-align:center;height:3.8em;border:.1em solid #a1a1a1;width:4.5em;margin:-3.5em 0 0 -3.5em;background-color:#fff}
#widget-calendar .month{text-transform:uppercase;padding:.3em 0;width:3.5em;position:absolute;top:0;left:0}
#widget-calendar .day{font-size:1.6em;position:absolute;bottom:0;width:2.2em;left:0}
#widget-calendar .day super{font-size:.5em;vertical-align:text-top}
#widget-calendar .year{position:absolute;height:1em;width:3.8em;font-size:1.2em;top:1.2em;right:-1.5em}
#plugin_container{width:285px;height:140px;position:relative;overflow:hidden;font-family:Arial,Verdana,Tahoma,Helvetica,sans-serif;color:#fff;margin:0 auto}
#digital_container{width:285px;height:140px;position:absolute;top:0;left:0}
#clock{float:left}
#hours,#minutes{width:140px;height:140px;float:left;position:relative}
#minutes{margin-left:4px}
#hours_bg,#minutes_bg{width:100%;height:100%;position:absolute}
.first_digit{width:50px;height:100%;position:absolute;left:20px}
.second_digit{width:50px;height:100%;position:absolute;left:70px}
.line{width:120px;height:2px;background:#efefef;position:absolute;top:69px;left:10px;z-index:101;font-size:1px}
#am_pm{position:absolute;top:110px;left:90px;z-index:110}
#messages-widget .t-grid-header{display:none}
.widget .t-grid-header,.widget .t-header{background:url(/Images/gradients.png) repeat-x 0 -120px}
#newsfeed-widget{padding:4px}
#newsfeed-widget .title{font-size:12px;font-weight:bold}
#newsfeed-widget .date{color:#333;font-style:italic;font-size:11px}
#newsfeed-widget .post{overflow:hidden;height:94px;border-top:solid 1px #ccc;position:relative;padding:0}
#newsfeed-widget ul li:first-child{border-top:0}
#newsfeed-widget .post a{border:solid 1px #fffcf2;display:block;height:96px;padding:0 2px 5px}
#newsfeed-widget .post a:hover{border-color:#ccc;text-decoration:none;background-color:#dce6f5}
#newsfeed-widget .summary{color:#333}
#messages-widget-content input.radio{margin-top:6px}
/* -- OASIS -- */
.vertical-tab-list{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;width:225px;padding-top:10px;position:absolute;top:0;bottom:0;left:0;border:solid 1px #b8b8b8}
.vertical-tab-list li{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;display:block;border:solid 1px #b8b8b8;border-right:0;width:210px;height:22px;padding-left:5px;margin:0 0 0 9px;line-height:22px}
.vertical-tab-list .ui-state-hover{background:#dce6f5;border-color:#688caf;margin-left:6px;width:213px}
.vertical-tab-list .ui-tabs-selected{cursor:default;margin-left:2px;width:218px;background:#fff}
.vertical-tab-list li a{cursor:pointer;color:#333 !important;display:block;width:205px;height:22px}
.general{position:relative;height:100%;overflow:auto;margin-left:227px;border:solid 1px #b8b8b8;border-left:0;z-index:99}
fieldset .tobacco,fieldset .cancer{width:100px !important;margin:0 5px}
fieldset .instructions{text-align:left}
fieldset .instructions p{margin:10px 0}
fieldset .instructions li{display:block}
fieldset .instructions li li{margin-left:70px}
fieldset .instructions li p{display:block;margin:0 0 0 65px}
fieldset .instructions li li p{margin:0 0 0 15px}
.oasis-container .ui-slider{width:355px}
table.icdCodes td{ border-top:solid 1px DarkGray;padding:5px 0 5px 0;vertical-align:bottom}
table.bordergrid td{ border-top:solid 1px DarkGray;padding:5px 5px 5px 5px;vertical-align:bottom}
table.bordergrid th{ border-top:solid 1px DarkGray;padding:5px 5px 5px 5px;vertical-align:bottom}
table.bordergrid td{border-right:solid 1px DarkGray}
table.bordergrid th{border-right:solid 1px DarkGray}
table.bordergrid td:last-child,table.bordergrid th:last-child{border-right:0}
table.bordergrid th.fiexdwidthsamll{width:70px}
table.bordergrid{border:solid 1px DarkGray;border-collapse:collapse}
fieldset div .shade{right:0}
.oasisExport{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:20px}
.oasisExport thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.oasisExport thead td{background:#fff}
.oasisExport thead th{border:solid 1px #aaa}
.oasisExport.noborders thead th{border:0 none}
.oasisExport td{border:solid 1px #d3d3d3;padding:2px}
.oasisExport td.align-center{width:100px}
.oasisExport tr.odd td{background:#fffcf2}
.oasisExport tr.even td{background:#e6f6ff}
/*#generateOasis table,#generateExportedOasis table{background-color:#d6e5f3}*/
/* -- Tooltips -- */
#tooltip{background:url(/Images/tooltip_note.png) no-repeat top left;line-height:18px;position:fixed;z-index:99;width:142px;padding:25px;height:141px}
#tooltip.blue-note{background-image:url(/Images/tooltip_note_blue.png)}
#tooltip.red-note{background-image:url(/Images/tooltip_note_red.png)}
#tooltip .body{max-height:147px;overflow:hidden}
#tooltip.calday{border:solid 1px #aaa;width:auto;height:auto;padding:10px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;max-width:30em}
#tooltip.calday.error{background:#fccac3;color:#333}
.tooltip_oasis{margin:0 0 0 3px;padding-right:2px;font-weight:bold;border:solid 1px #777;background-color:#c3d8f1;color:#fff;cursor:pointer;width:14px;line-height:16px;text-align:center;display:inline-block;text-shadow:.1em .1em .1em #333}
.tooltip{background:url(/Images/sprite.png) no-repeat -132px -31px;height:16px;width:16px;display:inline-block;font-size:0}
.tooltip hr{border:none}
.tooltip.blue-note{background-position:-116px -31px}
.tooltip.red-note{background-position:-100px -31px}
.tooltip-box{border:solid 1px #d3d3d3;margin:-200px 0 0 -250px;padding:10px;overflow:hidden;position:fixed;width:500px;height:400px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;top:50%;left:50%;z-index:100;color:#333}
.tooltip-box .closer{position:absolute;top:8px;right:8px;cursor:pointer;width:15px;height:15px;line-height:15px;text-align:center;font-weight:bold}
.tooltip-box h3{margin:3.5px 0;font-size:13px}
.tooltip-box .content{height:120px;padding:5px;background:#fffcf2;overflow:auto}
.tooltip-box .intent{height:65px}
/* -- Billing Center --*/
.claim{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:10px;float:left}
.claim thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.claim thead td{background:#fff}
.claim thead th{border:solid 1px #aaa}
.claim.noborders thead th{border:0 none}
.claim td{border:solid 1px #d3d3d3;padding:2px}
.claim td.align-center{width:100px}
.claim tr.odd td{background:#fffcf2}
.claim tr.even td{background:#f7efd5}
.claim input,.claim select,.claim .t-input{margin:3px;vertical-align:middle}
.claim .t-input{width:70%}
#final-tabs,#ManagedClaimTabStrip{position:absolute;top:0;right:0;bottom:0;left:0}
#final-tabs li.t-state-active,#ManagedClaimTabStrip li.t-state-active{z-index:2}
#final-tabs .t-state-active,#ManagedClaimTabStrip .t-state-active{background-color:#fff}
#final-tabs .t-content,#ManagedClaimTabStrip .t-content{min-height:250px;position:absolute;top:42px;right:0;bottom:0;left:0;overflow:auto}
.billing ol,.payroll ol{font-weight:normal}
.billing ol.loading,.payroll ol.loading{height:150px}
.billing ol.loading li,.payroll ol.loading li{display:none}
.billing ul,.billing ol,.payroll ul,.payroll ol{border:1px solid #888;margin:5px 2px}
.billing ul,.payroll ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.billing ul li,.billing .discpiline-title,.payroll ul li{font-weight:bold}
.billing li span,.payroll li span{display:inline-block}
.billing li,.payroll li{display:block;padding:1px 20px}
.billing ol li,.payroll ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none}
.billing li a{color:#000}
.billing li.even,.billing .discpiline-title,.payroll li.even{background-color:#f7efd5}
.billing li.hover,.payroll li.hover{border-color:#888;position:relative}
.billing li.ready.hover{background:url(/Images/gradients.png) repeat-x 0 -320px}
.billing li.notready.hover{background:url(/Images/gradients.png) repeat-x 0 -120px}
.billing li img{vertical-align:middle}
.billing li .rap-checkbox,.billing li .final-checkbox,.billing li .managedcare-checkbox,.billing li .visitunits,.billing li .visitcharge{width:5%}
.billing li .rap-name,.billing li .final-name,.billing li .managedcare-name,.billing li .sumdesc{width:30%}
.billing li .managed-description{width:44%}
.billing li .supply{width:50%}
.billing ol .rap-name,.billing ol .final-name,.billing ol .managedcare-name,.billing h3{font-weight:bold;font-size:14px;line-height:16px}
.billing li .rap-id,.billing li .final-id,.billing li .managedcare-id,.billing li .visitdate,.billing li .visithcpcs,.billing li .visitmodifiers{width:10%}

.billing li .rap-episode,.billing li .final-episode,.billing li .managedcare-episode{width:20%}
.billing li .icon-column{width:8%;text-align:center}
.billing li .finalicon,.billing li .managedcareicon{width:6%;text-align:center}
.billing ul,.payroll ul{margin-top:20px}
.billing .ready .rap-name,.billing .ready .final-name,.billing .ready .managedcare-name{color:#00f;text-decoration:underline}
.billing li .visittype,.billing li .visitstatus{width:20%}
.billing li .icon-column{width:8%;text-align:center}

.billing li .medeligtask,.billing li .medeligepisode{width:25%}
.billing li .medeligassigned,.billing li .medeligstatus{width:15%}
.billing li .medeligcreated{width:8%}
.billing li .medeligicon{width:8%;text-align:center}

#final-tabs li.t-item,#ManagedClaimTabStrip li.t-item{font-weight:normal !important;margin:0 5px -42px 0;font-size:14px}
#final-tabs li.t-item strong{font-weight:bold !important;text-align:center}
#final-tabs fieldset{border:1px solid #888}
.payrolluser{width:78%}
.payrollaction,.payrollcount{width:10%}
.payrollname,.payrollstatus{width:15%}
.payrolltime { width: 13%; }
.payrolldate{width:8%}
.payrolltask{width:19%}
.payroll-checkbox{width:2%}
.payrollmileage {width: 6%;}
.payrollicon{width:2%;}
.payrolltotaltime{width:6%; text-align:right; padding-right:10px;}
.payrolltotaltimetitle {width:68%; text-align:right; padding-right:20px;}
.payrolltotalhour{width:26%; text-align:left; padding-left:10px;}

/* -- Visit Note -- */
table.visitNote{width:100%;border-right:solid .25px #8B8878;border-bottom:solid .25px #8B8878;border-left:solid .25px #8B8878}
table.visitNote th,table.visitNote tr.titleTr td,table.visitNote td{text-align:center;border-right:solid 1px #CDC8B1;border-bottom:0}
table.visitNote tr.titleTr td{background:#F0F8FF}
table.visitNote th{background:#F0F8FF;margin:0;vertical-align:middle}
table.visitNote td{text-align:left;padding-left:10px;padding-right:10px;border-bottom:solid .25px #8B8878;border-right:0}
table.visitNote tr:last-child th,table.visitNote tr:last-child td{vertical-align:top}
table.visitNote th:last-child{border-bottom:solid .25px #8B8878;border-right:0}
table.visitNote tr:last-child td:last-child{border-bottom:0;border-right:0}
table.visitNote.two th,table.visitNote.two td{width:50%}
table.visitNote.three th,table.visitNote.three td{width:33.33333%}
table.visitNote.four th,table.visitNote.four td{width:25%}
th div.five,td div.five{width:20%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.four,td div.four{width:25%;height:100%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th.four,td.four{width:25%;height:100%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.twoThird,td div.twoThird{width:66.66%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.three,td div.three{width:33.33333%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.two,td div.two{width:49.9%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.seven,td div.six{width:16.0%;display:block;float:left;padding-top:5px;padding-bottom:5px;text-align:center}
th div.seven,td div.seven{width:14%;display:block;float:left;padding-top:5px;padding-bottom:5px;text-align:center}
th div.eight,td div.eight{width:12.5%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.one,td div.one{width:100%;display:block;float:left;padding-top:5px;padding-bottom:5px}
td div.comment{ padding-top:5px}
td div.newRow{display:block;float:left;width:100%;padding-top:5px}
table.visitNote tr td div.newRow:first-child{border-top:0}
td div.break{display:block;float:left;width:100%}
.visitContainer{padding:5px 20px 5px 20px;height:auto;display:block}
table.visitNote label{color:#595959;font-weight:normal}
table.visitNote{color:#595959}
table.visitNote th{color:black}
table.visitNote tbody span{width:90px;display:block;float:left;text-align:left}
table.visitNote tbody span.visitTitle{border-top:0;width:100%;text-align:center;font-weight:bold;color:Black;height:20px}
table.visitNote tfoot tr td:first-child{border-top:solid .25px #8B8878}
table.visitNote tfoot tr td:last-child{padding:5px;border-bottom:0;border-right:0;border-left:0;width:100%;text-align:center}
table.visitNote tbody span.timeEntry_wrap{display:block;width:auto;float:left}
table.innerTable{width:100%;border:0;padding-bottom:5px}
table.visitNote table.innerTable th,table.visitNote table.innerTable td{border:0;text-align:center;padding:3px 0 0 0}
table.visitNote tr td .date{width:100px}
table.hha{width:100%;border-bottom:solid .25px #8B8878;border-left:solid .25px #8B8878;margin:2px 0 2px 0}
table.hha td,table.hha th{border-top:solid .25px #8B8878;border-right:solid .25px #8B8878}
table.hha td{padding:2px 0 2px 0;text-align:center}
table.hha th.fixedWidth{width:65px;padding:2px 0 2px 0}
table.hha tr td.left{text-align:left;padding-left:10px}
table.hha tr td .date{width:100px}
table.hha th,table.visitNote th,table.hha tr td.titleTr{color:black;font-weight:bold;padding:2px 0 2px 0;background:#F0F8FF}
div.rightBorder{border-right:solid .25px #8B8878}
.diagnosisBox{width:150px;border-color:White}
div.buttons li input{background:transparent;color:White;border:1px solid #51614A;color:#FFFFFF;display:block;height:19px;padding:1px 10px;margin-bottom:10px}
.vitalWidth{width:86px}
.painWidth{width:100px}
.skinWidth{width:100px}
table.nostyle{background-color:White}
table.nostyle th,table.nostyle td{border:0;background:White}
table.nostyle tfoot tr td:first-child,table.nostyle tr:last-child th,table.nostyle tr:last-child td,table.nostyle tr td{border:0}
table.nostyle tfoot tr td:last-child{border:0}
.noteTextArea{padding-right:5px}
.noteTextArea textarea{width:93%}
.visitNote .margin{margin-left:20px}
.indent{padding-right:5px;padding-left:5px}
.devider{border-right:solid .5px Lightgray; height:100% !important;display:inline-block}
.visitNote .fixed{padding-right:5px}
/* -- User Licenses -- */
.currentlicenses{margin:10px 10px 20px;position:relative;height:auto;display:block;min-height:150px}
.currentlicenses .t-grid{left:0;right:0}
.currentlicenses .t-grid-content{height:auto !important;overflow:auto;top:27px}
.currentlicenses .t-grid-header{padding:0}

/* -- Medication -- */
.medicationbmargin{margin-bottom:5px}
.medication .t-grid-content{top:65px !important}
.medication{height:auto;background-color:#d6e5f3;padding:0}
.medication legend{margin-left:10px}
#OasisMedicatonGrid{width:100%;display:block;height:285px;float:left}
#MedicationGrid485{width:100%;display:block;height:285px}
.t-grid-add{float:left}
.medication .t-grid table{border:0 none;border-collapse:separate;empty-cells:show;width:100%;padding:2px 0 2px 0}
.medication .t-grid-header table,.t-grid-content table{table-layout:fixed}
.medication .t-grid{position:relative!important;height:auto;min-height:200px;left:0;right:7px;border-top-width:0}
/*.medication table input,.medication table select{width:auto}*/
.medication table input,.medication table select{width:100%}
.nursing .t-header{width:100%}
.report-links{padding:4px}
.report-links .title{font-size:12px;font-weight:bold}
.report-links .link{overflow:hidden;height:22px;position:relative;padding:0}
.report-links ul li:first-child{border-top:0}
.report-links .link a{border:solid 1px #fffcf2;display:block;height:15px;padding:0 2px 5px}
.report-links .link a:hover{border-color:#ccc;text-decoration:none;background-color:#dce6f5}
#OasisMedicatonGridform input[name='StartDate']{width:65px}
#window_medicationdischarge{width:250px;height:250px}
.dischargeMedication{background-color:#fff;padding:10px;width:470px}
.darkgreen{color:#238e23}
.black{color:#000000}
.darkred{color:#FF0000}
.red{background-color:#f08080}
.required-red{color:#a71111;font-weight:bold;top:0;right:20px;font-size:1.4em}
.row .required-red{right:-5px}
.required-legend{top:.25em;right:5em;font-style:italic;font-size:.9em}
.required-legend .required-red{vertical-align:sub}
.t-grid-new-row #DCDate{display:none}
.medication .t-grid .t-status{margin:0}
.medication .fixedinputWidth{width:50px}

.wound-chart{background:transparent url(/Images/body_outline.png) no-repeat scroll center 0;height:515px;width:507px;position:relative}
.wound-marker{height:32px;width:25px;padding-right:25px;background:transparent url(/Images/sprite.png) no-repeat scroll -195px -31px;position:absolute;color:#fff;font-size:1.2em;font-weight:bold;text-align:center}
.wound .row{max-width:65em !important}
.wound-note{position:absolute;right:-30px;top:-40px;padding:1em .6em 1.5em;border:.1em solid #333;background-color:#aab}
.wound-note h3{text-align:center;font-size:1.2em;margin-bottom:.5em;border-bottom:0 none}
.wound-note .inner{background-color:rgba(255,255,255,.5);border:.1em solid #333;height:40em;overflow:auto;overflow-x:hidden;box-shadow:inset #888 .5em .5em 1em}
.wound-note .row{border-top-width:0;margin:0;padding:.2em .5em .2em .2em;border-bottom:.1em solid #888;width:22em !important}
.wound-note .subrow{clear:both}
.wound-note .main-label{font-weight:bold;text-align:center}
.wound-note label,.wound-note .label{font-weight:bold;display:inline-block;line-height:2em;width:9.5em !important}
.wound-note .answer{float:right;width:12em}
.wound textarea,.wound-note input,.wound-note select{border:.1em solid #555;padding:.1em .5em;width:10em}
.wound textarea{width:100%;height:8em;padding:.5em}
.wound-note select{width:11em;padding:0 0 0 .5em}
.wound-note .file{position:absolute;opacity:0}
.wound-note .dummy-file input{width:3.7em}
.wound-note .dummy-file .buttons{float:right;margin:0}
.wound-note .dummy-file .buttons a{padding:0 1em}
.wound-note .date,.wound-note .centimeter{width:8.5em}
.wound-note .percent{width:9em}
.wound-note .time{width:7.75em}
.wound-note .multitime{width:4.75em}
.wound-note .buttons{margin:1em 0 0}

.woundCare{width:100%;background-color:#e6e6fa;border-left:solid .25px #d3d3d3;border-top:solid .25px #d3d3d3}
.woundCare tr td,.woundCare tr th{text-align:left;padding-bottom:5px;border-right:solid .25px #d3d3d3;border-bottom:solid .25px #d3d3d3;padding-left:5px}
.woundCare tr td.align-center,.woundCare tr th.align-center{text-align:center}
.woundCare tr td:first-child,.woundCare tr th:first-child{padding-left:10px;padding-right:2px}
.woundCare .width{width:180px}
.woundCare select.width{width:183px}
.woundCare .width .t-input{width:161px}
.woundCare .woundPad{margin-bottom:5px}
.woundCare input.uploadWidth,input.uploadWidth{width:100px}
table.woundCare.oasisWound{background-color:#fffcf2}
table.woundCare.oasisWound tr td:first-child,table.woundCare.oasisWound tr th:first-child{width:100px}
table.woundCare.oasisWound .t-input{width:auto}
/* -- Return Comments -- */
#window_ReturnReason_content{background-color:#fccac3;height:29.2em;overflow:hidden;
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea))}
#window_ReturnReason_content .main{background:url(/Images/logo-ghost.png) no-repeat -1.5em 105%}
#window_ReturnReason_content textarea{background-color:rgba(255,255,255,.8);border:.1em solid #b88e88;width:100%;height:7.5em}
.tall{height:7.5em}
#window_ReturnReason_content .return-comments{background-color:rgba(255,255,255,.4);border:.1em solid #b88e88;height:15em;overflow:auto;padding:.5em;margin-bottom:1em}
.return-comments hr,.note_modal hr{margin:.5em 0;border-top:.1em solid #b88e88;border-bottom:0}
.note_modal hr{border-top-color:#333}
#Schedule_Detail_ReturnComments hr{border-top-color:#aaa}
.return-comments .user,.note_modal .user,#tooltip .user{font-weight:bold;margin-right:.5em}
.return-comments .time,.note_modal .time,#tooltip .time{font-weight:bold;font-size:.8em;vertical-align:text-bottom;font-style:italic}
.return-comments .reason,.note_modal .reason,#tooltip span{display:block;line-height:1.1}
#Schedule_Detail_ReturnComments .return-comments{max-height:20em;overflow:auto;border:.1em solid #aaa;float:left;padding:.5em;width:97% !important}
.edit-controls{float:right}
.note_modal .edit-controls,#tooltip .edit-controls{display:none}
.edit-controls .img.icon{width:22px;height:22px;cursor:pointer}
.edit-controls .edit-comment{background-position:-227px -129px}
.edit-controls .delete-comment{background-position:-118px -108px}
/*-- Case Management & User Schedule Tasks --*/
#window_printqueue_content .buttons, #window_caseManagement_content .buttons,#window_listuserschedule_content .buttons{background-color:#d6e5f3}
#caseManagementContentId{position:absolute;top:66px;right:0;bottom:31px;left:0}
#caseManagementContentId .t-grid-content{height:auto !important;top:57px}
#printQueueContentId{position:absolute;top:51px;right:0;bottom:31px;left:0}
#printQueueContentId .t-grid-content{height:auto !important;top:57px}
/*-- Load Print Views --*/
#shade,#idleshade{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;z-index:11;opacity:.6;cursor:wait}
#print-box,#validation-box{position:absolute;top:0;right:0;bottom:42px;left:0;background-color:#d3d3d3}
#printview,#oasis_validation{width:100%;height:100%;overflow-x:hidden;border:0 none}
#print-controls,#oasis-validation-controls{position:absolute;right:0;bottom:0;left:0;padding:5px 2px;background-color:#eee;line-height:20px;border-top:solid 1px #aaa;height:2.6em}
#print-return-reason{position:fixed;left:50%;margin-left:-290px;bottom:9.5%;background:#fffcf2;width:580px;height:200px;display:none;border:solid 1px #aaa;text-align:center}
#print-return-reason textarea{width:560px;height:160px}
#print-return-reason label{font-size:14px;line-height:14px;margin:5px;display:block}
/*-- Patient Info Popup --*/
#patientinfo{background-color:#fff}
.bigtext{font-size:17px;font-weight:bold;font-family:Arial}
.mediumtext{font-size:14px;font-weight:normal;font-family:Arial}
.shortrow{width:500px}
.shortrow label{width:130px}
/*-- Nursing Visit Forms --*/
.nursing{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.nursingsub{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.nursing label,.nursingsub label{text-align:left}
.nursing th,.nursingsub th,.t-state-selected,.ui-datepicker-current-day{background:url(/Images/gradients.png) repeat-x 0 -678px;border:1px solid #9bb6cf;font-weight:bold;padding:2px}
.telerik-back{background:#c3d8f1 url("/Content/Office2007/sprite.png") repeat-x scroll 0 -352px !important}
.nursing th.tall{background:#d6e5f3 !important}
.t-state-selected,.ui-datepicker-current-day{background-color:#dae7ed !important}
.nursing th em,.nursingsub th em{position:absolute;right:30px}
.nursing td,.nursingsub td{border:1px solid #aaa;padding:5px;background-color:#fffcf2}
.nursing .third,.nursingsub .third{width:30%;padding:0 5px;display:inline-block}
.nursing .twothird{width:60%;padding:0 5px;display:inline-block}
.nursing .third-nodisplay,.nursingsub .third-nodisplay{width:33%;padding:0 5px}
.nursing .half,.nursingsub .half{width:45%;padding:0 5px;display:inline-block}
.nursing table td,.nursing table th,.nursingsub table td,.nursingsub table th{background:none;border:0 none;padding:0 5px}
.nursing table,.nursingsub table{width:100%}
.shortdate.date{width:108px}
.shortdate .t-input{width:80px}
.padnoterow{border-top:dotted 1px #d3d3d3;clear:both;margin:2px auto;min-width:200px;max-width:600px}
td .padnoterow:first-child{border:0 none}
/*-- Misc --*/
.medDiv{margin:10px 10px 20px 10px;position:relative}
.medDiv div.align-center.strong{border:solid 1px #aaa;border-bottom-width:0}
.medDiv .date{width:70% !important}
.mediumWidth{width:120px}
fieldset label.smallFont{font-size:11.25px;font-style:italic}
.events{display:none;text-align:left;position:relative}
.events ul{text-align:left;position:absolute;padding:5px;background:#e7ecf2;color:#fff;border:1px solid #000;font-size:15px;width:200px;z-index:999999;list-style:none;color:#444}
.events li{padding-bottom:5px}
.events li span{display:block;font-size:12px;text-align:left}
.events li span.eventTitle{font-weight:bold;color:#222}
.grid-bg {background-color:#D6E5F3;}
/*-- Insurance --*/
table.insurance{border-collapse:collapse}
table.insurance th.borderRight,table.insurance td.borderRight{border-right:solid 1px black}
table.insurance th.borderBottom,table.insurance td.borderBottom{border-bottom:solid 1px black}
form table.insurance td label.error{position:relative;float:left;width:2px !important;display:none}
#window_hhasVisit form label.error,#window_lvnsVisit label.error{position:relative;float:left}
.redLink{color:Red}
.blueLink{color:Blue;text-decoration:underline}
.navigation{position:fixed;top:0;left:0;width:20em;background-color:#fff;padding:0 .25em}
#directions{margin:13em .5em 1em;width:19em}
.navigation div div{margin:5px}
.address-block,#directions{background:#fffcf2;border:1px solid #aaa}
.address-block{margin:3px}
#map{position:fixed !important;top:1em;left:22em;right:2em;bottom:1em;box-shadow:.5em .5em 1em #555;border:.1em solid #333;border-radius:1em}
#window_map .layout-left{overflow:auto}
/*-- Authorization --*/
.shortselect{width:100px}
/* -- Agency Selection Links */
.agencySelection{background-color:#fff;padding:10px}
#agencySelectionLinks ul{	list-style-type:none;	width:400px}
#agencySelectionLinks li{	border:1px dotted #999;border-width:1px 0;margin:5px 0}
#agencySelectionLinks li a{color:#990000;display:block;font:bold 120% Arial,Helvetica,sans-serif;padding:5px;text-decoration:none}
* html #agencySelectionLinks li a{	width:400px}
#agencySelectionLinks li a:hover{	background:#ffffcc}
#agencySelectionLinks a em{color:#333;display:block;font:normal 85% Verdana,Arial,Helvetica,sans-serif;line-height:125%}
#agencySelectionLinks a span{color:#125F15;font:normal 70% Verdana,Arial,Helvetica,sans-serif;line-height:150%}
/* -- Teaching -- */
.teachingguide{display:inline-block;width:16px;height:16px;background:url(/Images/sprite.png) no-repeat -117px -47px;font-size:0;vertical-align:middle}
/* -- skilled nurse -- */
#window_snVisit form label.error{display:none !important}
.trical .editeps{display:inline-block;margin:5px 0 0;vertical-align:middle}
.trical .editeps a{text-decoration:none}
#window_masterCalendarMain_content{overflow:hidden}
.masterCalendar{position:absolute;top:125px;right:0;bottom:0;left:0;border-collapse:collapse;width:100%;table-layout:fixed;min-height:83%}
.oasisCalendar{position:relative;top:0} 
.masterCalendar .desc{display:none}
.masterCalendar .eventTitle{font-weight:bold}
.masterCalendar td,.masterCalendar th,.masterCalendar td div,.masterCalendar th div{height:9.09%;padding:1px}
.masterCalendar td{vertical-align:top}
.masterCalendar thead{border:solid 1px #d3d3d3;background:#c3d8f1 url("/Content/Office2007/sprite.png") repeat-x scroll 0 -352px}
.masterCalendar tbody th,.masterCalendar td{border:solid 1px #d3d3d3}
.masterCalendar .active div{border:solid 1px #555 !important;height:18%;width:15%;margin-top:-3%;margin-left:-1.5%;min-height:100px;min-width:200px;position:absolute;background:#d3dbe0 url(/Images/sprite.png) no-repeat center -196px;overflow-y:auto}
.masterCalendar .active .desc{display:inline}
.masterCalendar .active .desc.hidden{display:none}
.masterCalendar .active.lastTd div{right:0}
.masterCalendar .lastTr .active div{bottom:0}
#window_masterCalendarMain_content span.top{display:block;float:left;font-size:1.2em;font-weight:bold;height:25px;overflow:hidden;text-indent:135px;width:40%}
#window_masterCalendarMain_content span.top label{font-size:.9em;font-weight:normal;vertical-align:middle}
.t-master-row {display:table-row !important}
/* -- Note Modal -- */
.note_modal{position:absolute;top:50%;left:50%;width:500px;height:500px;z-index:12;margin-left:-250px;margin-top:-250px;border:1px solid #000;background-color:#ffff2d;overflow:auto}
.note_modal.blue{background-color:#49b1ff}
.note_modal.red{background-color:#ff2828}
.note_modal div,.note_modal p{clear:right;text-align:justify;font-size:11pt;padding:1em 1em 0}
#note_close{float:right;font-size:9pt;font-weight:bold;cursor:pointer}
/* -- Medication Profile -- */
.medprofile ol{font-weight:normal}
.medprofile ol.loading{height:150px}
.medprofile ol.loading li{display:none}
.medprofile ul,.medprofile ol{border:1px solid #888;margin:5px 2px}
.medprofile ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.medprofile ul li,.medprofile .discpiline-title{font-weight:bold}
.medprofile li span{display:inline-block}
.medprofile li{display:block;padding:1px 10px}
.medprofile ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none}
.medprofile li.even,.medprofile .discpiline-title{background-color:#f7efd5}
.medprofile li.hover{border-color:#888;background-color:#dcf5e5;position:relative}
.medprofile li img{vertical-align:middle}
.medprofile li .longstanding{width:2%}
.medprofile li .medicationdosage{width:29%}
.medprofile li .dcmedicationdosage{width:25%}
.medprofile li .startdate,.medprofile li .dischargedate{width:8%}
.medprofile li .type{width:6%}
.medprofile li .frequency, .medprofile li .route, .medprofile li .classification{width:12%}
.medprofile li .dcfrequency, .medprofile li .dcroute, .medprofile li .dcclassification{width:11%}
.medprofile li .action{width:15%}


.medprofile li .dcheck { width: 4%; }
.medprofile li .medanddosage { width: 35%; }
.medprofile li .dclassification { width: 30%; }
.medprofile li .dfrequency, .medprofile li .droute { width: 12%; }

.medprofile li .snapshotmedicationdosage{width:30%}
.medprofile li .snapshotfrequency{width:15%}
.medprofile li .snapshottype{width:9%}
.medprofile li .snapshotclassification{width:20%}

.medprofile h3{font-weight:bold;font-size:14px;line-height:16px}
.medprofile ul{margin-top:5px}
#MedProfile_dischargeMeds ol li.odd{background-color:#ffeded}
#MedProfile_dischargeMeds ol li.even{background-color:#f7d2d2}
#MedProfile_dischargeMeds ol li.hover{background-color:#f0dcf5}
.newmed legend,.editmed legend{font-size:1.1em}
.newmed label.float-left,.newmed .longstanding,.editmed label.float-left,.editmed .longstanding{display:block;width:150px !important}
/*-- Payroll Summary --*/
.payroll_header{width:100%;margin:0 auto}
/*-- Remittance--*/
.remittance{border-spacing:.8em .3em;width:100%}
.remittance tr td:first-child{border-left:1px solid #aaa; }
.remittance tr td:last-child {border-right:1px solid #aaa;}
.remittance tr td{ width:25%; padding-left:5px; }
.remittance tr.odd td{border:1px solid #aaa;background-color:#fffcf2}
.remittance tr.even td{border:1px solid #aaa;background-color:#f7efd5}
.remittance tr.payinfo th,.remittance tr.claiminfo th{background:url(/Images/gradients.png) repeat-x 0 -678px;border:1px solid #9bb6cf;font-weight:bold;padding:2px}
.remittance tr.payinfo td,.remittance tr.reminfo td{border:1px solid #aaa;padding:5px;background-color:#fffcf2}
.remittance tr.payinfo td td,.remittance tr.reminfo td td{border:0px;padding:5px;background-color:#fffcf2}
.remittance table.claim,.remittance table td{border:0 none !important;padding:.1em .4em !important}
.remittance table.claim table.episodes {width:100%;}
.remittance table.claim table.episodes tr td {text-align:center;font-weight:bold;}
.remittance table.claim table.episodes tr td:first-child { width:8%; }

.remittance div.half-odd-table-content{padding-left:5px;padding-right:5px; width:48.5%; background-color:#FFFCF2; border:1px solid #AAAAAA;box-shadow: 0 0.2em 0.3em #AAAAAA;border-radius: 0.4em 0.4em 0.4em 0.4em;}
.remittance div.half-odd-table-header{padding-top:2px; padding-bottom:2px; padding-left:5px;padding-right:5px; width:48.5%; background:url('/Images/gradients.png') repeat-x scroll 0 -678px transparent; border: 1px solid #9BB6CF;font-weight: bold;box-shadow: 0 0.2em 0.3em #AAAAAA;border-radius: 0.4em 0.4em 0.4em 0.4em;}
.remittance tr.payinfo td.half-odd-table-hiddentd{background-color:Transparent; border-style:none;box-shadow:none;padding:0px;}
.remittance div.half-odd-table-content table, .remittance div.half-odd-table-content div {padding-top:5px;padding-bottom:5px;}


.billing.remlist ul,.billing.remlist ol{margin:5px 3px}
.remittance .remVal {width:100%; float:left; padding-left:10px;}
.billing li .remNum{width:2%}
.billing li .remId{width:13%}
.billing li .remAmount{width:14%}
.billing li .remPayDate{width:18%}
.billing li .remDate{width:18%}
.billing li .remCount{width:15%}
.billing li .remAction{width:15%}
.billing li .remActionSub{width:7.5%}
.billing li .remAction a { color:#0276fd}
.billing li .remActionSub a { color:#0276fd}
.t-animation-container .t-popup.t-group{width:130px !important}
.billing .supplyTitle {background-color: #D6E5F3; padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #AAAAAA; border-left: 1px solid #AAAAAA; border-right: 1px solid #AAAAAA; text-align: center;}
/* Inactive episodes */
.inactiveepisodes ol{font-weight:normal}
.inactiveepisodes ol.loading{height:150px}
.inactiveepisodes ol.loading li{display:none}
.inactiveepisodes ul,.inactiveepisodes ol{border:1px solid #888;margin:5px 2px}
.inactiveepisodes ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.inactiveepisodes ul li{font-weight:bold}
.inactiveepisodes li span{display:inline-block}
.inactiveepisodes li{display:block;padding:1px 10px}
.inactiveepisodes ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none}
.inactiveepisodes li.even {background-color:#f7efd5}
.inactiveepisodes li.hover{border-color:#888;background-color:#dcf5e5;position:relative}
.inactiveepisodes li img{vertical-align:middle}
.inactiveepisodes li .range{width:50%}
.inactiveepisodes li .action{width:45%}
.inactiveepisodes h3{font-weight:bold;font-size:14px;line-height:16px}
.inactiveepisodes ul{margin-top:5px}
/* -- Round Edge Grid -- */
.standard-chart ol{font-weight:normal}
.standard-chart ol.loading{height:150px}
.standard-chart ol.loading li{display:none}
.standard-chart ul,.standard-chart ol{border:1px solid #888;margin:5px 2px}
.standard-chart ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.standard-chart ul li{font-weight:bold}
.standard-chart li span{display:inline-block}
.standard-chart li{display:block;padding:1px 10px}
.standard-chart ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none}
.standard-chart li.even{background-color:#f7efd5}
.standard-chart li.hover{border-color:#888;background-color:#dcf5e5;position:relative}
.standard-chart li img{vertical-align:middle}
.standard-chart h3{font-weight:bold;font-size:14px;line-height:16px}
.standard-chart ul{margin-top:5px}
/* -- Allergies -- */
.allergy-profile-active li .name, .allergy-profile-inactive li .name{width:65%}
.allergy-profile-active li .type, .allergy-profile-inactive li .type{width:20%}
.allergy-profile-active li .action, .allergy-profile-inactive li .action{width:12%}
.allergy-profile-inactive ol li.odd{background-color:#ffeded}
.allergy-profile-inactive ol li.even{background-color:#f7d2d2}
.allergy-profile-inactive ol li.hover{background-color:#f0dcf5}
.newallergy legend{font-size:1.1em}
.newallergy label.float-left,.newmed .longstanding{display:block;width:150px !important}
/* -- Hospitalization -- */
#Hospitalization_list li .source{width:40%}
#Hospitalization_list li .user{width:20%}
#Hospitalization_list li .date{width:13%}
#Hospitalization_list li .printicon{width:8%}
#Hospitalization_list li .action{width:12%}
/* -- Auto-Complete -- */
.ui-autocomplete-input.ui-autocomplete-loading{background:#fff url(/Images/indicator.gif) no-repeat right}
.ui-autocomplete{z-index:99 !important;border:solid .1em #aaa;max-height:250px;overflow-y:auto;background-color:#fff}
.ui-autocomplete .ui-menu-item{color:#333;padding:.2em}
.ui-autocomplete .ui-menu-item a{line-height:1.5;padding:.1em .3em;display:block;font-weight:bold;cursor:pointer}
.ui-autocomplete .ui-menu-item a.ui-state-hover{margin:-.1em;border:solid .1em #999;background-color:#dce6f5}
#outlierStartDate,#outlierEndDate{width:85px}
/* -- License Manager -- */
#LicenseManager_List li .firstname, #LicenseManager_List li .lastname {width:15%}
#LicenseManager_List li .issuedate,#LicenseManager_List li .expiredate{width:11%}
#LicenseManager_List li .licensetype{width:26%}
#LicenseManager_List li .isuser{width:9%; text-align: center}
#LicenseManager_List li .action{width:9%}

.reports{border:.1em solid #aaa;margin:.75em .5em;overflow:hidden;position:relative;height:20em;
    border-radius:1em 1em 0 0;
    box-shadow:.2em .2em .5em #888}
.reports-head{background-color:#c8d9ed;border-bottom:.1em solid #aaa;color:#943a43;height:2em;text-align:center;
    border-radius:.85em .85em 0 0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f0fc', endColorstr='#c8d9ed');
    background-image:-moz-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-o-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c8d9ed),to(#e5f0fc))}
.widget-head h5,.reports-head h5{font-weight:bold;line-height:2em}
.reports{margin:1em 1em 0 0;height:auto}
.reports ul{background-color:#fffcf2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf2', endColorstr='#f5e9c4');
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
.reports a{border-top:.1em solid #aaa;display:block;color:#333;padding:.1em .5em;font-weight:bold}
.reports ul li:first-child{border-top:none}
.reports .hover{background-color:#d5dbe6}
.report-grid{position:absolute;bottom:0;left:0;width:100%}

/* -- List --*/
.list-container {position:relative;top:0px;right:0;bottom:0px;left:0}

.error-box{position:absolute;background-color:#fccac3;border:.1em solid #dbb3ad;color:#594542;width:35em;top:50%;left:50%;margin:-2em -20em;padding:1.5em 2.5em;
    border-radius:2em;
    box-shadow:0 0 3em #9e7a75;
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea))}
.error-box.warning{background-color:#fff8d8;border-color:#9e9875;color:#595442;
    box-shadow:0 0 3em #9e9875;
    background-image:-moz-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-o-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fff0b2),to(#fff8d8))}
.error-box.info{background-color:#e3e8f3;border-color:#7d879e;color:#424959;
    box-shadow:0 0 3em #3e4554;
    background-image:-moz-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-o-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#cad5ee),to(#e3e8f3))}
.error-box.success{background-color:#e3f3e4;border-color:#7d9e7f;color:#425943;
    box-shadow:0 0 3em #3e543f;
    background-image:-moz-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-o-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#caeecc),to(#e3f3e4))}
.error-page .error-box{box-shadow:0 0 3em #555}
.error-box .logo{position:absolute;background:url(/Images/logo-ghost.png) no-repeat -1.5em center;left:0;top:0;width:100%;height:100%;
    border-radius:2em}
.error-box .img{position:relative}
.error-box h1{display:inline-block;font-size:1.5em;line-height:1.75em;margin:0 3em 0 1em;text-align:center;width:17.5em}
.error-box p{position:relative;width:35em;text-align:center;display:inline-block;margin:.2em 0;border-top:.1em solid #9e7a75;cursor:default}
.error-box.warning p{border-color:#9e9875}
.error-box.info p{border-color:#7d879e}
.error-box.success p{border-color:#7d9e7f}
.error-box em{float:right}
.error.buttons{position:absolute;bottom:30%}
.characters-remaining{display:block;text-align:center}
.payroll-check-all{margin:0 .75em 0 2.1em}
/* -- Recent Updates --*/
#softwareUpdates li .recentchangesdate{width:10%; vertical-align: top;}
#softwareUpdates li .recentchangescomments{width:87%}

.return-alert{background-color:#fccac3;border:.1em solid #dbb3ad;padding:0 !important;font-weight:bold;
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea))}
.return-alert>div{max-width:70em;margin:0 auto;background:url("/Images/logo-ghost.png") no-repeat scroll 0 center transparent;padding:.5em;text-align:center}
#caseManagementContentId{position:absolute;top:66px;right:0;bottom:31px;left:0}