﻿
h3{font-size:1em;text-align:center;padding:0;margin:0}
.content{top:120px;right:37px;bottom:145px;left:38px;overflow-y:auto;font-size:10pt}
.content .col0{width:80px;padding:0;border-right:.1em solid #000}
.content .col1{width:81px;border-right:.2em solid #000}
.content .col2{width:80px;border-right:.1em solid #000}
.content .col3{width:170px;border-right:.1em solid #000}
.content .col4{width:91px;border-right:.1em solid #000}
.content .col5{width:100px;border-right:.1em solid #000}
.content .col6{width:70px;border-right:.1em solid #000}
.content table{border-bottom:.1em solid #000}
.content td{padding:.2em}
div{margin:-.1em 0 0 0;border:.1em solid #000;padding:.1em;line-height:1em}
.agency
{
    bottom: 950px;
    font-size: 10pt;
    left: 40px;
    right: 300px;
    top: 40px;
    text-align: center;
}
.report
{
    bottom: 950px;
    font-size: 10pt;
    left: 513px;
    right: 36px;
    top: 40px;
    line-height: 2em;
    margin-top: -.1em;
}

.report h1
{
    margin-top: 5px;
    text-align: center;
}