﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
    printview.addsection(
        printview.col(4,
            printview.checkbox("WNL (Within Normal Limits)",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("1") ? "true" : "false"%>,true) +
            printview.checkbox("<strong>Heart Rhythm:</strong> <%= data != null && data.ContainsKey("GenericHeartSoundsType") && data["GenericHeartSoundsType"].Answer.IsNotNullOrEmpty() ? (data["GenericHeartSoundsType"].Answer == "0" ? "<span class='blank'></span>" : "") + (data["GenericHeartSoundsType"].Answer == "1" ? "Regular/ WNL" : "") + (data["GenericHeartSoundsType"].Answer == "2" ? "Tachycardia" : "") + (data["GenericHeartSoundsType"].Answer == "3" ? "Bradycardia" : "") + (data["GenericHeartSoundsType"].Answer == "4" ? "Arrhythmia/ Dysrhythmia" : "") + (data["GenericHeartSoundsType"].Answer == "5" ? "Other" : "") : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("2") ? "true" : "false"%>,true) +
            printview.checkbox("Cap Refill:",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("3") ? "true" : "false"%>,true) +
            printview.col(2,
                printview.checkbox("&lt;3 sec",<%= data != null && data.ContainsKey("GenericCapRefillLessThan3") && data["GenericCapRefillLessThan3"].Answer == "1" ? "true" : "false"%>) +
                printview.checkbox("&gt;3 sec",<%= data != null && data.ContainsKey("GenericCapRefillLessThan3") && data["GenericCapRefillLessThan3"].Answer == "0" ? "true" : "false"%>))) +
        printview.col(5,
            printview.checkbox("Pulses:",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("4") ? "true" : "false"%>,true) +
            printview.span("Radial <%= data != null && data.ContainsKey("GenericCardiovascularRadial") && data["GenericCardiovascularRadial"].Answer.IsNotNullOrEmpty() ? (data["GenericCardiovascularRadial"].Answer == "0" ? "<span class='short blank'></span>" : "") + (data["GenericCardiovascularRadial"].Answer == "1" ? "1+ Weak" : "") + (data["GenericCardiovascularRadial"].Answer == "2" ? "2+ Normal" : "") + (data["GenericCardiovascularRadial"].Answer == "3" ? "3+ Strong" : "") + (data["GenericCardiovascularRadial"].Answer == "4" ? "4+ Bounding" : "") : "<span class='short blank'></span>"%>") +
            printview.checkbox("Bilateral",<%= data != null && data.ContainsKey("GenericCardiovascularRadialPosition") && data["GenericCardiovascularRadialPosition"].Answer == "0" ? "true" : "false"%>) +
            printview.checkbox("Left",<%= data != null && data.ContainsKey("GenericCardiovascularRadialPosition") && data["GenericCardiovascularRadialPosition"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("Right",<%= data != null && data.ContainsKey("GenericCardiovascularRadialPosition") && data["GenericCardiovascularRadialPosition"].Answer == "2" ? "true" : "false"%>) +
            printview.span("") +
            printview.span("Pedal <%= data != null && data.ContainsKey("GenericCardiovascularPedal") && data["GenericCardiovascularPedal"].Answer.IsNotNullOrEmpty() ? (data["GenericCardiovascularPedal"].Answer == "0" ? "<span class='short blank'></span>" : "") + (data["GenericCardiovascularPedal"].Answer == "1" ? "1+ Weak" : "") + (data["GenericCardiovascularPedal"].Answer == "2" ? "2+ Normal" : "") + (data["GenericCardiovascularPedal"].Answer == "3" ? "3+ Strong" : "") + (data["GenericCardiovascularPedal"].Answer == "4" ? "4+ Bounding" : "") : "<span class='short blank'></span>"%>") +
            printview.checkbox("Bilateral",<%= data != null && data.ContainsKey("GenericCardiovascularPedalPosition") && data["GenericCardiovascularPedalPosition"].Answer == "0" ? "true" : "false"%>) +
            printview.checkbox("Left",<%= data != null && data.ContainsKey("GenericCardiovascularPedalPosition") && data["GenericCardiovascularPedalPosition"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("Right",<%= data != null && data.ContainsKey("GenericCardiovascularPedalPosition") && data["GenericCardiovascularPedalPosition"].Answer == "2" ? "true" : "false"%>)) +
        printview.col(5,
            printview.checkbox("<strong>Edema:</strong> <%= data != null && data.ContainsKey("GenericEdemaLocation") && data["GenericEdemaLocation"].Answer.IsNotNullOrEmpty() ? data["GenericEdemaLocation"].Answer + "(location)" : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
            printview.checkbox("Pitting <%= data != null && data.ContainsKey("GenericEdemaPitting") && data["GenericEdemaPitting"].Answer.IsNotNullOrEmpty() ? (data["GenericEdemaPitting"].Answer == "0" ? "" : "") + (data["GenericEdemaPitting"].Answer == "1" ? "1+" : "") + (data["GenericEdemaPitting"].Answer == "2" ? "2+" : "") + (data["GenericEdemaPitting"].Answer == "3" ? "3+" : "") + (data["GenericEdemaPitting"].Answer == "4" ? "4+" : "") : ""%>",<%= data != null && data.ContainsKey("GenericPittingEdemaType") && data["GenericPittingEdemaType"].Answer == "1" ? "true" : "false"%>) +
            printview.span("") + printview.span("") + printview.span("") + printview.span("") +
            printview.checkbox("Nonpitting <%= data != null && data.ContainsKey("GenericEdemaNonPitting") && data["GenericEdemaNonPitting"].Answer.IsNotNullOrEmpty() ? (data["GenericEdemaNonPitting"].Answer == "0" ? "" : "") + (data["GenericEdemaNonPitting"].Answer == "1" ? "N/A" : "") + (data["GenericEdemaNonPitting"].Answer == "2" ? "Mild" : "") + (data["GenericEdemaNonPitting"].Answer == "3" ? "Moderate" : "") + (data["GenericEdemaNonPitting"].Answer == "4" ? "Severe" : "") : ""%>",<%= data != null && data.ContainsKey("GenericPittingEdemaType") && data["GenericPittingEdemaType"].Answer == "2" ? "true" : "false"%>) +
            printview.checkbox("Bilateral",<%= data != null && data.ContainsKey("GenericEdemaNonPittingPosition") && data["GenericEdemaNonPittingPosition"].Answer == "0" ? "true" : "false"%>) +
            printview.checkbox("Left",<%= data != null && data.ContainsKey("GenericEdemaNonPittingPosition") && data["GenericEdemaNonPittingPosition"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("Right",<%= data != null && data.ContainsKey("GenericEdemaNonPittingPosition") && data["GenericEdemaNonPittingPosition"].Answer == "2" ? "true" : "false"%>)) +
        printview.col(3,
            printview.checkbox("<strong>Dizziness:</strong> <%= data != null && data.ContainsKey("GenericDizzinessDesc") && data["GenericDizzinessDesc"].Answer.IsNotNullOrEmpty() ? data["GenericDizzinessDesc"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
            printview.checkbox("<strong>Chest Pain:</strong> <%= data != null && data.ContainsKey("GenericChestPainDesc") && data["GenericChestPainDesc"].Answer.IsNotNullOrEmpty() ? data["GenericChestPainDesc"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("7") ? "true" : "false"%>) +
            printview.checkbox("<strong>Neck Vein Distention:</strong> <%= data != null && data.ContainsKey("GenericNeckVeinDistentionDesc") && data["GenericNeckVeinDistentionDesc"].Answer.IsNotNullOrEmpty() ? data["GenericNeckVeinDistentionDesc"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericCardioVascular") && data["GenericCardioVascular"].Answer.Split(',').Contains("8") ? "true" : "false"%>)) +
        printview.col(2,
            printview.col(2,
                printview.span("<strong>Pacemaker:</strong>") +
                printview.span("<%= data != null && data.ContainsKey("GenericPacemakerDate") && data["GenericPacemakerDate"].Answer.IsNotNullOrEmpty() ? data["GenericPacemakerDate"].Answer : ""%>",false,1)) +
            printview.col(2,
                printview.span("<strong>AICD:</strong>") +
                printview.span("<%= data != null && data.ContainsKey("GenericAICDDate") && data["GenericAICDDate"].Answer.IsNotNullOrEmpty() ? data["GenericAICDDate"].Answer : ""%>",false,1))) +
        printview.span("Comments:",true) +
        printview.span("<%= data != null && data.ContainsKey("GenericCardiovascularComments") && data["GenericCardiovascularComments"].Answer.IsNotNullOrEmpty() ? data["GenericCardiovascularComments"].Answer : ""%>",false,2),
        "Cardiovascular");
    printview.addsection(
        printview.checkbox("SN to instruct on daily/weekly weights and recordings.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("SN to perform weekly weeks.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct on application of <%= data != null && data.ContainsKey("485ApplicationWrap") && data["485ApplicationWrap"].Answer.IsNotNullOrEmpty() ? data["485ApplicationWrap"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct patient on daily weight self-monitoring program, and to report weight <%= data != null && data.ContainsKey("485WeightSelfMonitorGain") && data["485WeightSelfMonitorGain"].Answer.IsNotNullOrEmpty() ? (data["485WeightSelfMonitorGain"].Answer == "1" ? "gain" : "loss") : "gain or loss"%> of <%= data != null && data.ContainsKey("485WeightSelfMonitorGainDay") && data["485WeightSelfMonitorGainDay"].Answer.IsNotNullOrEmpty() ? data["485WeightSelfMonitorGainDay"].Answer : "<span class='blank'></span>"%> lbs/day, <%= data != null && data.ContainsKey("485WeightSelfMonitorGainWeek") && data["485WeightSelfMonitorGainWeek"].Answer.IsNotNullOrEmpty() ? data["485WeightSelfMonitorGainWeek"].Answer : "<span class='blank'></span>"%> lbs/week.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
        printview.checkbox("SN to assess patient&rsquo;s weight log every visit.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructRecognizeCardiacDysfunctionPerson") && data["485InstructRecognizeCardiacDysfunctionPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructRecognizeCardiacDysfunctionPerson"].Answer : "<span class='blank'></span>"%> on measures to recognize cardiac dysfunction and relieve complications.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct patient on measures to detect and alleviate edema.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("7") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct patient when (s)he starts feeling chest pain, tightness, or squeezing in the chest to take nitroglycerin. Patient may take nitroglycerin one time every 5 minutes. If no relief after 3 doses, call 911.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("8") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the patient the following symptoms could be signs of a heart attack: chest discomfort, discomfort in one or both arms, back, neck, jaw, stomach, shortness of breath, cold sweat, nausea, or dizziness. Instruct patient on signs and symptoms that necessitate calling 911.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("9") ? "true" : "false"%>) +
        printview.checkbox("No blood pressure or venipuncture in <%= data != null && data.ContainsKey("485NoBloodPressureArm") && data["485NoBloodPressureArm"].Answer.IsNotNullOrEmpty() ? data["485NoBloodPressureArm"].Answer : "<span class='blank'></span>"%> arm.",<%= data != null && data.ContainsKey("485CardiacStatusInterventions") && data["485CardiacStatusInterventions"].Answer.Split(',').Contains("10") ? "true" : "false"%>) +
        printview.span("Additional Orders:",true) +
        printview.span("<%= data != null && data.ContainsKey("485CardiacInterventionComments") && data["485CardiacInterventionComments"].Answer.IsNotNullOrEmpty() ? data["485CardiacInterventionComments"].Answer : ""%>",false,2),
        "Interventions");
    printview.addsection(
        printview.checkbox("Patient weight will be maintained between <%= data != null && data.ContainsKey("485WeightMaintainedMin") && data["485WeightMaintainedMin"].Answer.IsNotNullOrEmpty() ? data["485WeightMaintainedMin"].Answer : "<span class='blank'></span>"%>lbs and <%= data != null && data.ContainsKey("485WeightMaintainedMax") && data["485WeightMaintainedMax"].Answer.IsNotNullOrEmpty() ? data["485WeightMaintainedMax"].Answer : "<span class='blank'></span>"%>lbs during the episode.",<%= data != null && data.ContainsKey("485CardiacStatusGoals") && data["485CardiacStatusGoals"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("Patient will remain free from chest pain, or chest pain will be relieved with nitroglycerin, during the episode.",<%= data != null && data.ContainsKey("485CardiacStatusGoals") && data["485CardiacStatusGoals"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("The <%= data != null && data.ContainsKey("485VerbalizeCardiacSymptomsPerson") && data["485VerbalizeCardiacSymptomsPerson"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeCardiacSymptomsPerson"].Answer : "<span class='blank'></span>"%> will verbalize understanding of symptoms of cardiac complications and when to call 911 by: <%= data != null && data.ContainsKey("485VerbalizeCardiacSymptomsDate") && data["485VerbalizeCardiacSymptomsDate"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeCardiacSymptomsDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485CardiacStatusGoals") && data["485CardiacStatusGoals"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.checkbox("The <%= data != null && data.ContainsKey("485VerbalizeEdemaRelieverPerson") && data["485VerbalizeEdemaRelieverPerson"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeEdemaRelieverPerson"].Answer : "<span class='blank'></span>"%> will verbalize and demonstrate edema-relieving measures by: <%= data != null && data.ContainsKey("485VerbalizeEdemaRelieverDate") && data["485VerbalizeEdemaRelieverDate"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeEdemaRelieverDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485CardiacStatusGoals") && data["485CardiacStatusGoals"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
        printview.span("Additional Goals:",true) +
        printview.span("<%= data != null && data.ContainsKey("485CardiacGoalComments") && data["485CardiacGoalComments"].Answer.IsNotNullOrEmpty() ? data["485CardiacGoalComments"].Answer : ""%>",false,2),
        "Goals");
</script>