﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
    printview.addsection(
        printview.col(3,
            printview.checkbox("WNL (Within Normal Limits)",<%= data != null && data.ContainsKey("GenericRespiratoryCondition") && data["GenericRespiratoryCondition"].Answer.Split(',').Contains("1") ? "true" : "false"%>,true) +
            printview.checkbox("<strong>Nebulizer:</strong> <%= data != null && data.ContainsKey("GenericNebulizerText") && data["GenericNebulizerText"].Answer.IsNotNullOrEmpty() ? data["GenericNebulizerText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratoryCondition") && data["GenericRespiratoryCondition"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
            printview.checkbox("Tracheostomy",<%= data != null && data.ContainsKey("GenericRespiratoryCondition") && data["GenericRespiratoryCondition"].Answer.Split(',').Contains("7") ? "true" : "false"%>,true)) +
        printview.col(5,
            printview.checkbox("Lung Sounds:",<%= data != null && data.ContainsKey("GenericRespiratoryCondition") && data["GenericRespiratoryCondition"].Answer.Split(',').Contains("2") ? "true" : "false"%>,true) +
            printview.checkbox("CTA <%= data != null && data.ContainsKey("GenericLungSoundsCTAText") && data["GenericLungSoundsCTAText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsCTAText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
            printview.checkbox("Rales <%= data != null && data.ContainsKey("GenericLungSoundsRalesText") && data["GenericLungSoundsRalesText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsRalesText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
            printview.checkbox("Rhonchi <%= data != null && data.ContainsKey("GenericLungSoundsRhonchiText") && data["GenericLungSoundsRhonchiText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsRhonchiText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
            printview.checkbox("Wheezes <%= data != null && data.ContainsKey("GenericLungSoundsWheezesText") && data["GenericLungSoundsWheezesText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsWheezesText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("4") ? "true" : "false"%>) + printview.span("") +
            printview.checkbox("Cracklesv <%= data != null && data.ContainsKey("GenericLungSoundsCracklesText") && data["GenericLungSoundsCracklesText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsCracklesText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
            printview.checkbox("Diminished <%= data != null && data.ContainsKey("GenericLungSoundsDiminishedText") && data["GenericLungSoundsDiminishedText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsDiminishedText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
            printview.checkbox("Absent <%= data != null && data.ContainsKey("GenericLungSoundsAbsentText") && data["GenericLungSoundsAbsentText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsAbsentText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("7") ? "true" : "false"%>) +
            printview.checkbox("Stridor <%= data != null && data.ContainsKey("GenericLungSoundsStridorText") && data["GenericLungSoundsStridorText"].Answer.IsNotNullOrEmpty() ? data["GenericLungSoundsStridorText"].Answer : "<span class='blank'></span>"%>",<%= data != null && data.ContainsKey("GenericRespiratorySounds") && data["GenericRespiratorySounds"].Answer.Split(',').Contains("8") ? "true" : "false"%>)) +
        printview.col(2,
            printview.col(2,
                printview.checkbox("Cough:",<%= data != null && data.ContainsKey("GenericRespiratoryCondition") && data["GenericRespiratoryCondition"].Answer.Split(',').Contains("3") ? "true" : "false"%>,true) +
                printview.col(2,
                    printview.span("<%= data != null && data.ContainsKey("GenericCoughList") && data["GenericCoughList"].Answer.IsNotNullOrEmpty() ? (data["GenericCoughList"].Answer == "0" ? "" : "") + (data["GenericCoughList"].Answer == "1" ? "N/A" : "") + (data["GenericCoughList"].Answer == "2" ? "Productive" : "") + (data["GenericCoughList"].Answer == "3" ? "Nonproductive" : "") + (data["GenericCoughList"].Answer == "4" ? "Other" : "") : ""%>",false,1) +
                    printview.span("<%= data != null && data.ContainsKey("GenericCoughDescribe") && data["GenericCoughDescribe"].Answer.IsNotNullOrEmpty() ? "Describe: " + data["GenericCoughDescribe"].Answer : ""%>",false,1))) +
            printview.col(2,
                printview.checkbox("O<sub>2</sub>:",<%= data != null && data.ContainsKey("GenericRespiratoryCondition") && data["GenericRespiratoryCondition"].Answer.Split(',').Contains("4") ? "true" : "false"%>,true) +
                printview.col(2,
                    printview.span("<%= data != null && data.ContainsKey("Generic02AtText") && data["Generic02AtText"].Answer.IsNotNullOrEmpty() ? "At: " + data["Generic02AtText"].Answer : ""%>",false,1) +
                    printview.span("<%= data != null && data.ContainsKey("GenericLPMVia") && data["GenericLPMVia"].Answer.IsNotNullOrEmpty() ? (data["GenericLPMVia"].Answer == "1" ? "LPM via: Nasal Cannula" : "") + (data["GenericLPMVia"].Answer == "2" ? "LPM via: Mask" : "") + (data["GenericLPMVia"].Answer == "3" ? "LPM via: Trach" : "") + (data["GenericLPMVia"].Answer == "4" ? "LPM via: Other" : "") : ""%>",false,1))) +
            printview.col(2,
                printview.checkbox("O<sub>2</sub> Sat:",<%= data != null && data.ContainsKey("GenericRespiratoryCondition") && data["GenericRespiratoryCondition"].Answer.Split(',').Contains("5") ? "true" : "false"%>,true) +
                printview.col(2,
                    printview.span("<%= data != null && data.ContainsKey("Generic02SatText") && data["Generic02SatText"].Answer.IsNotNullOrEmpty() ? data["Generic02SatText"].Answer : ""%>",false,1) +
                    printview.span("<%= data != null && data.ContainsKey("Generic02SatList") && data["Generic02SatList"].Answer.IsNotNullOrEmpty() && data["Generic02SatList"].Answer != "0" ? "On " + data["Generic02SatList"].Answer : ""%>",false,1)))) +
        printview.span("Comments:",true) +
        printview.span("<%= data != null && data.ContainsKey("GenericRespiratoryComments") && data["GenericRespiratoryComments"].Answer.IsNotNullOrEmpty() ? data["GenericRespiratoryComments"].Answer : ""%>",false,2),
        "Respiratory");
    printview.addsection(
        printview.span("(M1400) When is the patient dyspneic or noticeably Short of Breath?",true) +
        printview.checkbox("0 &ndash; Patient is not short of breath",<%= data != null && data.ContainsKey("M1400PatientDyspneic") && data["M1400PatientDyspneic"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; When walking more than 20 feet, climbing stairs",<%= data != null && data.ContainsKey("M1400PatientDyspneic") && data["M1400PatientDyspneic"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; With moderate exertion (e.g., while dressing, using commode or bedpan, walking distances less than 20 feet)",<%= data != null && data.ContainsKey("M1400PatientDyspneic") && data["M1400PatientDyspneic"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; With minimal exertion (e.g., while eating, talking, or performing other ADLs) or with agitation",<%= data != null && data.ContainsKey("M1400PatientDyspneic") && data["M1400PatientDyspneic"].Answer == "03" ? "true" : "false"%>) +
        printview.checkbox("4 &ndash; At rest (during day or night)",<%= data != null && data.ContainsKey("M1400PatientDyspneic") && data["M1400PatientDyspneic"].Answer == "04" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1410) Respiratory Treatments utilized at home:",true) +
        printview.col(2,
            printview.checkbox("1 &ndash; Oxygen (intermittent or continuous)",<%= data != null && data.ContainsKey("M1410HomeRespiratoryTreatmentsOxygen") && data["M1410HomeRespiratoryTreatmentsOxygen"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("2 &ndash; Ventilator (continually or at night)",<%= data != null && data.ContainsKey("M1410HomeRespiratoryTreatmentsVentilator") && data["M1410HomeRespiratoryTreatmentsVentilator"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("3 &ndash; Continuous/ Bi-level positive airway pressure",<%= data != null && data.ContainsKey("M1410HomeRespiratoryTreatmentsContinuous") && data["M1410HomeRespiratoryTreatmentsContinuous"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("4 &ndash; None of the above",<%= data != null && data.ContainsKey("M1410HomeRespiratoryTreatmentsNone") && data["M1410HomeRespiratoryTreatmentsNone"].Answer == "1" ? "true" : "false"%>)));
    printview.addsection(
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructNebulizerUsePerson") && data["485InstructNebulizerUsePerson"].Answer.IsNotNullOrEmpty() ? data["485InstructNebulizerUsePerson"].Answer : "<span class='blank'></span>"%> on proper use of nebulizer/inhaler, and assess return demonstration.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("SN to assess O<sub>2</sub> saturation on room air (freq) <%= data != null && data.ContainsKey("485AssessOxySaturationFrequency") && data["485AssessOxySaturationFrequency"].Answer.IsNotNullOrEmpty() ? data["485AssessOxySaturationFrequency"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("SN to assess O<sub>2</sub> saturation on O<sub>2</sub> @<%= data != null && data.ContainsKey("485AssessOxySatOnOxyAt") && data["485AssessOxySatOnOxyAt"].Answer.IsNotNullOrEmpty() ? data["485AssessOxySatOnOxyAt"].Answer : "<span class='blank'></span>"%> LPM/<%= data != null && data.ContainsKey("485AssessOxySatLPM") && data["485AssessOxySatLPM"].Answer.IsNotNullOrEmpty() ? data["485AssessOxySatLPM"].Answer : "<span class='blank'></span>"%> (freq) <%= data != null && data.ContainsKey("485AssessOxySatOnOxyFrequency") && data["485AssessOxySatOnOxyFrequency"].Answer.IsNotNullOrEmpty() ? data["485AssessOxySatOnOxyFrequency"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructSobFactorsPerson") && data["485InstructSobFactorsPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructSobFactorsPerson"].Answer : "<span class='blank'></span>"%> on factors that contribute to SOB.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructAvoidSmokingPerson") && data["485InstructAvoidSmokingPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructAvoidSmokingPerson"].Answer : "<span class='blank'></span>"%> to avoid smoking or allowing people to smoke in patient&rsquo;s home. Instruct patient to avoid irritants/allergens known to increase SOB.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct patient on energy conserving measures including frequent rest periods, small frequent meals, avoiding large meals/overeating, controlling stress.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct caregiver on proper suctioning technique.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("7") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485RecognizePulmonaryDysfunctionPerson") && data["485RecognizePulmonaryDysfunctionPerson"].Answer.IsNotNullOrEmpty() ? data["485RecognizePulmonaryDysfunctionPerson"].Answer : "<span class='blank'></span>"%> on methods to recognize pulmonary dysfunction and relieve complications.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("8") ? "true" : "false"%>) +
        printview.checkbox("Report to physician O<sub>2</sub> saturation less than <%= data != null && data.ContainsKey("485OxySaturationLessThanPercent") && data["485OxySaturationLessThanPercent"].Answer.IsNotNullOrEmpty() ? data["485OxySaturationLessThanPercent"].Answer : "<span class='blank'></span>"%>%.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("9") ? "true" : "false"%>) +
        printview.checkbox("SN to assess/instruct on signs &amp; symptoms of pulmonary complications.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("10") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct on all aspects of trach care and equipment. SN to instruct PT/CG on emergency procedures for complications and dislodgment of tube.",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("11") ? "true" : "false"%>) +
        printview.checkbox("SN to perform trach care using sterile technique (i.e. suctioning, dressing change).",<%= data != null && data.ContainsKey("485RespiratoryInterventions") && data["485RespiratoryInterventions"].Answer.Split(',').Contains("12") ? "true" : "false"%>) +
        printview.span("Additional Orders:",true) +
        printview.span("<%= data != null && data.ContainsKey("485RespiratoryInterventionComments") && data["485RespiratoryInterventionComments"].Answer.IsNotNullOrEmpty() ? data["485RespiratoryInterventionComments"].Answer : ""%>",false,2),
        "Interventions");
    printview.addsection(
        printview.checkbox("Respiratory status will improve with reduced shortness of breath and improved lung sounds by the end of the episode.",<%= data != null && data.ContainsKey("485RespiratoryGoals") && data["485RespiratoryGoals"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("PT/CG will verbalize and demonstrate correct use and care of oxygen and equipment by the end of the episode.",<%= data != null && data.ContainsKey("485RespiratoryGoals") && data["485RespiratoryGoals"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("Patient will be free from signs and symptoms of respiratory distress during the episode.",<%= data != null && data.ContainsKey("485RespiratoryGoals") && data["485RespiratoryGoals"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.checkbox("Patient and caregiver will verbalize an understanding of factors that contribute to shortness of breath by: <%= data != null && data.ContainsKey("485VerbalizeFactorsSobDate") && data["485VerbalizeFactorsSobDate"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeFactorsSobDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485RespiratoryGoals") && data["485RespiratoryGoals"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
        printview.checkbox("Patient will verbalize an understanding of energy conserving measures by: <%= data != null && data.ContainsKey("485VerbalizeEnergyConserveDate") && data["485VerbalizeEnergyConserveDate"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeEnergyConserveDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485RespiratoryGoals") && data["485RespiratoryGoals"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
        printview.checkbox("The <%= data != null && data.ContainsKey("485VerbalizeSafeOxyManagementPerson") && data["485VerbalizeSafeOxyManagementPerson"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeSafeOxyManagementPerson"].Answer : "<span class='blank'></span>"%> will verbalize and demonstrate safe management of oxygen by: <%= data != null && data.ContainsKey("485VerbalizeSafeOxyManagementPersonDate") && data["485VerbalizeSafeOxyManagementPersonDate"].Answer.IsNotNullOrEmpty() ? data["485VerbalizeSafeOxyManagementPersonDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485RespiratoryGoals") && data["485RespiratoryGoals"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
        printview.checkbox("Patient will return demonstrate proper use of nebulizer treatment by <%= data != null && data.ContainsKey("485DemonstrateNebulizerUseDate") && data["485DemonstrateNebulizerUseDate"].Answer.IsNotNullOrEmpty() ? data["485DemonstrateNebulizerUseDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485RespiratoryGoals") && data["485RespiratoryGoals"].Answer.Split(',').Contains("7") ? "true" : "false"%>) +
        printview.span("Additional Goals:",true) +
        printview.span("<%= data != null && data.ContainsKey("485RespiratoryGoalComments") && data["485RespiratoryGoalComments"].Answer.IsNotNullOrEmpty() ? data["485RespiratoryGoalComments"].Answer : ""%>",false,2),
        "Goals");
</script>