﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<div id="submitoasis" class="abs window">
    <div class="abs window_inner">
        <div class="window_top">
            <span class="float_left">AgencyCore Oasis Submit </span><span class="float_right"><a
                href="javascript:void(0);" class="window_min"></a><a href="javascript:void(0);" class="window_resize">
                </a><a href="javascript:void(0);" class="window_close"></a></span>
        </div>
        <div class="abs window_content general_form">
            <div class="submitoasisCont">
                <div class="row top">
                    <div class="row">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <fieldset id="submissionType">
                            <legend><b>Submission Type</b></legend>
                            <div class="row">
                                &nbsp;&nbsp;
                                <input type="radio" />
                                <label for="FirstName">
                                    &nbsp;&nbsp; Production Submission</label>
                            </div>
                            <div class="row ">
                                &nbsp;&nbsp;
                                <input type="radio" />
                                <label for="phone">
                                    &nbsp;&nbsp;Test Submission</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row middel">
                    <!--[if !IE]>start table_wrapper<![endif]-->
                    <table id="OasisSubmitTable">
                        <thead>
                            <tr>
                                <th width="20">
                                    <input type="checkbox" />
                                </th>
                                <th width="100">
                                    Pateint Name
                                </th>
                                <th width="100">
                                    Date
                                </th>
                                <th width="300">
                                    Type
                                </th>
                                <th width="280">
                                    status
                                </th>
                                <th width="280">
                                    Claim Key
                                </th>
                                <th width="280">
                                    Branch ID
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    This is data 2
                                </td>
                                <td>
                                    This is data 3
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                                <td>
                                    This is data 4
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if !IE]>end table_wrapper<![endif]-->
                </div>
                <div class="row bottom">
                    <div class="buttons">
                        <ul>
                            <li><span class="button send_form_btn"><span><span>submit Oasis</span></span>
                                <input id="Submit16" name="" type="button" /></span></li>
                            <li><span class="button red_btn cancel_btn"><span><span>Cancel</span></span><input
                                id="Button5" name="" type="button" /></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="abs window_bottom">
            Build: TK421
        </div>
    </div>
    <span class="abs ui-resizable-handle ui-resizable-se"></span>
</div>
