﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<VisitNoteViewData>" %>
<%  var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<%  var location = Model.Agency.GetBranch(Model.Patient != null ? Model.Patient.AgencyLocationId : Guid.Empty); %>
<%  if (location == null) location = Model.Agency.GetMainOffice(); %>
<%  string[] isVitalSignParameter = data.AnswerArray("IsVitalSignParameter"); %>
<%  string[] isVitalSigns = data.AnswerArray("IsVitalSigns"); %>
<%  bool VitalSignParameter = !isVitalSignParameter.Contains("1"); %>
<%  bool VitalSigns = !isVitalSigns.Contains("1"); %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title><%= Model.Agency.Name %> | Home Health Aide Progress Note | <%= Model.Patient.DisplayName  %></title>
        <%= Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("print.css").Compress(true).CacheDurationInDays(1).Version(Current.AssemblyVersion))%>
    </head>
    <body>
<%  Html.Telerik().ScriptRegistrar().jQuery(false).Globalization(true).DefaultGroup(group => group
        .Add("jquery-1.7.2.min.js")
        .Add("Print/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "printview.js")
        .Compress(true).Combined(true).CacheDurationInDays(1).Version(Current.AssemblyVersion)
    ).OnDocumentReady(() => { %>
        printview.cssclass = "largerfont";
        printview.firstheader = "%3Ctable class=%22fixed%22%3E%3Ctbody%3E%3Ctr%3E%3Ctd colspan=%222%22%3E" +
            "<%= Model.Agency.Name.IsNotNullOrEmpty() ? Model.Agency.Name.Clean().ToTitleCase() + "%3Cbr /%3E" : string.Empty %><%= location.AddressLine1.IsNotNullOrEmpty() ? location.AddressLine1.Clean().ToTitleCase() : string.Empty %><%= location.AddressLine2.IsNotNullOrEmpty() ? location.AddressLine2.Clean().ToTitleCase() : string.Empty %>%3Cbr /%3E<%= location.AddressCity.IsNotNullOrEmpty() ? location.AddressCity.Clean().ToTitleCase() + ", " : string.Empty %><%= location.AddressStateCode.IsNotNullOrEmpty() ? location.AddressStateCode.Clean().ToString().ToUpper() + "&#160; " : string.Empty %><%= location.AddressZipCode.IsNotNullOrEmpty() ? location.AddressZipCode.Clean() : string.Empty %>" +
            "%3C/td%3E%3Cth class=%22h1%22%3EHome Health Aide%3Cbr /%3EProgress Note%3C/th%3E%3C/tr%3E%3Ctr%3E%3Ctd colspan=%223%22%3E%3Cspan class=%22big%22%3EPatient Name: " +
            "<%= Model.Patient != null ? (Model.Patient.LastName + ", " + Model.Patient.FirstName + " " + Model.Patient.MiddleInitial).Clean().ToTitleCase() : string.Empty %>" +
            "%3C/span%3E%3Cbr /%3E%3Cspan class=%22quadcol%22%3E %3Cspan%3E%3Cstrong%3ETime In:%3C/strong%3E %3C/span%3E%3Cspan%3E<%= data.AnswerOrEmptyString("TimeIn").Clean() %>%3C/span%3E %3Cspan%3E%3Cstrong%3ETime Out:%3C/strong%3E%3C/span%3E%3Cspan%3E<%= data.AnswerOrEmptyString("TimeOut").Clean() %> %3C/span%3E%3Cspan%3E%3Cstrong%3EHHA Frequency:%3C/strong%3E%3C/span%3E%3Cspan%3E" +
            "<%= data.AnswerOrEmptyString("HHAFrequency").Clean() %>" +
            "%3C/span%3E%3Cspan%3E%3Cstrong%3EEpisode Period:%3C/strong%3E%3C/span%3E%3Cspan%3E" +
            "<%= Model.StartDate.IsValid() && Model.EndDate.IsValid()? string.Format(" {0} &#8211; {1}", Model.StartDate.ToShortDateString(), Model.EndDate.ToShortDateString()) : string.Empty %>" +
            "%3C/span%3E%3Cspan%3E%3Cstrong%3EMR#%3C/strong%3E%3C/span%3E%3Cspan%3E" +
            "<%= Model.Patient != null ? Model.Patient.PatientIdNumber.Clean() : string.Empty %>" +
            "%3C/span%3E%3Cspan%3E%3Cstrong%3EDNR:%3C/strong%3E%3C/span%3E%3Cspan%3E" +
            "<%= data.AnswerOrEmptyString("DNR").Equals("1") ? "Yes" : string.Empty %><%= data.AnswerOrEmptyString("DNR").Equals("0") ? "No" : string.Empty %>" +
            "%3C/span%3E%3Cspan%3E%3Cstrong%3EPrimary Diagnosis:%3C/strong%3E%3C/span%3E%3Cspan%3E" +
            "<%= data.AnswerOrEmptyString("PrimaryDiagnosis").Clean() %>" +
            "%3C/span%3E%3Cspan%3E%3Cstrong%3ESecondary Diagnosis:%3C/strong%3E%3C/span%3E%3Cspan%3E" +
            "<%= data.AnswerOrEmptyString("PrimaryDiagnosis1").Clean() %>" +
            "%3C/span%3E%3C/span%3E%3C/td%3E%3C/tr%3E%3C/tbody%3E%3C/table%3E";
        printview.header = "%3Ctable class=%22fixed%22%3E%3Ctbody%3E%3Ctr%3E%3Ctd colspan=%222%22%3E" +
            "<%= Model.Agency.Name.Clean().IsNotNullOrEmpty() ? Model.Agency.Name.Clean().ToTitleCase() + "%3Cbr /%3E" : string.Empty %><%= location.AddressLine1.IsNotNullOrEmpty() ? location.AddressLine1.Clean().ToTitleCase() : string.Empty %><%= location.AddressLine2.IsNotNullOrEmpty() ? location.AddressLine2.Clean().ToTitleCase() : string.Empty %>%3Cbr /%3E<%= location.AddressCity.IsNotNullOrEmpty() ? location.AddressCity.Clean().ToTitleCase() + ", " : string.Empty %><%= location.AddressStateCode.IsNotNullOrEmpty() ? location.AddressStateCode.ToString().Clean().ToUpper() + "&#160; " : string.Empty %><%= location.AddressZipCode.IsNotNullOrEmpty() ? location.AddressZipCode.Clean() : string.Empty %>" +
            "%3C/td%3E%3Cth class=%22h1%22%3EHome Health Aide%3Cbr /%3EProgress Note%3C/th%3E%3C/tr%3E%3Ctr%3E%3Ctd colspan=%223%22%3E%3Cspan class=%22big%22%3EPatient Name: " +
            "<%= Model.Patient != null ? (Model.Patient.LastName + ", " + Model.Patient.FirstName + " " + Model.Patient.MiddleInitial).Clean().ToTitleCase() : string.Empty %>" +
            "%3C/span%3E%3C/td%3E%3C/tr%3E%3C/tbody%3E%3C/table%3E";
        printview.footer = "";
        printview.addsection(
<%  if (isVitalSignParameter.Contains("1")) { %>
                "%3Ctable class=%22fixed%22%3E%3Ctbody%3E%3Ctr%3E%3Cth%3E%3C/th%3E%3Cth%3ESBP%3C/th%3E%3Cth%3EDBP%3C/th%3E%3Cth%3EHR%3C/th%3E%3Cth%3EResp%3C/th%3E%3Cth%3ETemp%3C/th%3E%3Cth%3EWeight%3C/th%3E%3C/tr%3E%3Ctr%3E%3Cth%3Egreater than (&#62;)%3C/th%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("SystolicBPGreaterThan") ? data["SystolicBPGreaterThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("DiastolicBPGreaterThan") ? data["DiastolicBPGreaterThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("PulseGreaterThan") ? data["PulseGreaterThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("RespirationGreaterThan") ? data["RespirationGreaterThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("TempGreaterThan") ? data["TempGreaterThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("WeightGreaterThan") ? data["WeightGreaterThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Cth%3Eor less than (&#60;)%3C/th%3E%3Ctd%3E" +
                printview.span("<%= data.AnswerOrEmptyString("SystolicBPLessThan") ? data["SystolicBPLessThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("DiastolicBPLessThan") ? data["DiastolicBPLessThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("PulseLessThan") ? data["PulseLessThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("RespirationLessThan") ? data["RespirationLessThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("TempLessThan") ? data["TempLessThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3Ctd%3E" +
                printview.span("<%= VitalSignParameter && data.AnswerOrEmptyString("WeightLessThan") ? data["WeightLessThan"].Answer.Clean() : string.Empty %>",0,1) +
                "%3C/td%3E%3C/tr%3E%3C/tbody%3E%3C/table%3E",
            "Vital Sign Parameters");
        printview.addsection(
            "%3Ctable class=%22fixed%22%3E%3Ctbody%3E%3Ctr%3E%3Cth%3EBP%3C/th%3E%3Cth%3EHR%3C/th%3E%3Cth%3ETemp%3C/th%3E%3Cth%3EResp%3C/th%3E%3Cth%3EWeight%3C/th%3E%3Cth%3ELast BM%3C/th%3E%3C/tr%3E%3Ctr%3E%3Ctd%3E" +
            printview.span("<%= VitalSigns && data.AnswerOrEmptyString("VitalSignBPVal") ? data["VitalSignBPVal"].Answer.Clean() : string.Empty %>",0,1) +
            "%3C/td%3E%3Ctd%3E" +
            printview.span("<%= VitalSigns && data.AnswerOrEmptyString("VitalSignHRVal") ? data["VitalSignHRVal"].Answer.Clean() : string.Empty %>",0,1) +
            "%3C/td%3E%3Ctd%3E" +
            printview.span("<%= VitalSigns && data.AnswerOrEmptyString("VitalSignTempVal") ? data["VitalSignTempVal"].Answer.Clean() : string.Empty %>",0,1) +
            "%3C/td%3E%3Ctd%3E" +
            printview.span("<%= VitalSigns && data.AnswerOrEmptyString("VitalSignRespVal") ? data["VitalSignRespVal"].Answer.Clean() : string.Empty %>",0,1) +
            "%3C/td%3E%3Ctd%3E" +
            printview.span("<%= VitalSigns && data.AnswerOrEmptyString("VitalSignWeightVal") ? data["VitalSignWeightVal"].Answer.Clean() : string.Empty %>",0,1) +
            "%3C/td%3E%3Ctd%3E" +
            printview.span("<%= VitalSigns ? data.AnswerOrEmptyString("GenericDigestiveLastBMDate").Clean() : string.Empty%>",0,1) +
            "%3C/td%3E%3C/tr%3E%3C/tbody%3E%3C/table%3E",
            "Vital Signs");
        printview.addsection(
            "%3Ctable class=%22align-center%22%3E%3Ctbody%3E%3Ctr%3E%3Cth colspan=%223%22%3EAssignment%3C/th%3E%3Cth colspan=%223%22%3EStatus%3C/th%3E%3Cth colspan=%223%22%3EAssignment%3C/th%3E%3Cth%3EStatus%3C/th%3E%3C/tr%3E%3Ctr%3E%3Cth colspan=%223%22%3EPersonal Care%3C/th%3E%3Cth%3ECompleted%3C/th%3E%3Cth%3ERefuse%3C/th%3E%3Cth%3EN/A%3C/th%3E%3Cth colspan=%223%22%3EElimination%3C/th%3E%3Cth%3ECompleted%3C/th%3E%3Cth%3ERefuse%3C/th%3E%3Cth%3EN/A%3C/th%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EBed Bath%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EAssist with Bed Pan/Urinal%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EAssist with Chair Bath%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EAssist with BSC%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ETub Bath%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EIncontinence Care%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EShower%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShower") && data["PersonalCareShower"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShower") && data["PersonalCareShower"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShower") && data["PersonalCareShower"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EEmpty Drainage Bag%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EShower w/Chair%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ERecord Bowel Movement%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EShampoo Hair%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ECatheter Care%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EHair Care/Comb Hair%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Cth colspan=%223%22%3EActivity%3C/th%3E%3Cth%3ECompleted%3C/th%3E%3Cth%3ERefuse%3C/th%3E%3Cth%3EN/A%3C/th%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EOral Care%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EDangle on Side of Bed%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ESkin Care%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ETurn &#38; Position%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EPericare%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EAssist with Transfer%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ENail Care%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EAssist with Ambulation%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EShave%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShave") && data["PersonalCareShave"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShave") && data["PersonalCareShave"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareShave") && data["PersonalCareShave"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ERange of Motion%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EAssist with Dressing%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EEquipment Care%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityEquipmentCare") && data["ActivityEquipmentCare"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityEquipmentCare") && data["ActivityEquipmentCare"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("ActivityEquipmentCare") && data["ActivityEquipmentCare"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EMedication Reminder%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareMedicationReminder") && data["PersonalCareMedicationReminder"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareMedicationReminder") && data["PersonalCareMedicationReminder"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("PersonalCareMedicationReminder") && data["PersonalCareMedicationReminder"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Cth colspan=%223%22%3EHousehold Task%3C/th%3E%3Cth%3ECompleted%3C/th%3E%3Cth%3ERefuse%3C/th%3E%3Cth%3EN/A%3C/th%3E%3C/tr%3E%3Ctr%3E%3Cth colspan=%223%22%3ENutrition%3C/th%3E%3Cth%3ECompleted%3C/th%3E%3Cth%3ERefuse%3C/th%3E%3Cth%3EN/A%3C/th%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EMake Bed%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EMeal Set-up%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EChange Linen%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%223%22%3EAssist with Feeding%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd class=%22align-left%22 colspan=%223%22%3ELight Housekeeping%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "2" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "1" ? "X" : string.Empty %>" +
            "%3C/td%3E%3Ctd%3E" +
            "<%= data.AnswerOrEmptyString("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "0" ? "X" : string.Empty %>" +
            "%3C/td%3E%3C/tr%3E%3Ctr%3E%3Ctd class=%22align-left%22 colspan=%2212%22%3EOther (Describe):" +
            printview.span("<%= data.AnswerOrEmptyString("HouseholdTaskOther") ? data["HouseholdTaskOther"].Answer : string.Empty %>",0,10) +
            "%3C/span%3E%3C/td%3E%3C/tr%3E%3C/tbody%3E%3C/table%3E");
        printview.addsection(
            printview.span("<%= data.AnswerOrEmptyString("Comment") && data["Comment"].Answer.IsNotNullOrEmpty() ? data["Comment"].Answer.Clean() : string.Empty %>",0,10),
            "Comments");
        printview.addsection(
            printview.col(2,
                printview.span("Clinician Signature:",true) +
                printview.span("Date:",true) +
                printview.span("<%= Model != null && Model.SignatureText.IsNotNullOrEmpty() ? Model.SignatureText.Clean() : string.Empty %>",0,1) +
                printview.span("<%= Model != null && Model.SignatureDate.IsNotNullOrEmpty() && Model.SignatureDate != "1/1/0001" ? Model.SignatureDate.Clean() : string.Empty %>",0,1))); <%
}).Render();} %>
    </body>
</html>