﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Patient>" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Axxess&#8482; Technology Solutions - Driving Directions to Patient Powered by Google&#174;</title>
    <%= Html.Telerik()
        .StyleSheetRegistrar()
        .DefaultGroup(group => group
        .Add("globals.css")
        .Add("forms.css")
        .Add("maps.css")
        .Combined(true)
        .Compress(true)
        .CacheDurationInDays(1)
        .Version(Current.AssemblyVersion)) %>
</head>
<body>
    <div class="navigation">
        <div class="start address-block">
            <div>
                <label class="strong">Starting Address</label><input name="start" type="hidden" value="" />
                <%= Html.LookupSelectList(SelectListTypes.MapAddress, "startaddress_select", Current.UserAddress, new { @id = "Map_startaddress_select" }) %>
                <div class="clear"></div>
            </div>
            <div id="Map_startaddress">
                <input type="text" id="Map_startaddr" value="" class="address" /><br />
                <input type="text" id="Map_startcity" value="" class="city" />
                <%= Html.LookupSelectList(SelectListTypes.States, "startstate", Model.AddressStateCode, new { @id = "Map_startstate", @class = "state" })%>
                <%= Html.TextBox("startzip", "", new { @id = "Map_startzip", @class = "zip", @maxlength = "9" })%>
            </div>
        </div>
        <div class="end address-block">
            <div><label class="strong">Patient&#8217;s Address</label><input name="end" type="hidden" value="<%= Model.AddressFull %>" /></div> 
            <div>
                <input type="text" id="Map_endaddr" value="<%= Model.AddressLine1 %> <%= Model.AddressLine2 %>" class="address" /><br />
                <input type="text" id="Map_endcity" value="<%= Model.AddressCity %>" class="city" />
                <%= Html.LookupSelectList(SelectListTypes.States, "endstate", Model.AddressStateCode, new { @id = "Map_endstate", @class = "state" })%>
                <%= Html.TextBox("endzip", Model.AddressZipCode, new { @id = "Map_endzip", @class = "zip", @maxlength = "9" })%>
            </div>
        </div>
        <div class="buttons">
            <ul>
                <li><a id="Map_Recalculate">Recalculate Directions</a></li>
            </ul>
        </div>
        <div id="directions" class="directions address-block"></div>
    </div>
    <div id="map"></div>
    <script type="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/Patient/<%= AppSettings.UseMinifiedJs ? "min/" : "" %>Map.js"></script>
    <script type="text/javascript">
        GoogleMap.init($("#Map_startaddress_select option:selected").val(), $("input[name=end]").val(), "<%= AppSettings.GoogleAPIKey %>");
    </script>
</body>
</html>