﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<PatientProfile>" %>
<%  var location = Model.Agency.GetBranch(Model.Patient != null ? Model.Patient.AgencyLocationId : Guid.Empty); %>
<%  if (location == null) location = Model.Agency.GetMainOffice(); %>
<%= Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("printpreview.css").Add("Print/Patient/TriageClassification.css").Combined(true).Compress(true).CacheDurationInDays(1).Version(Current.AssemblyVersion)) %>
<script type="text/javascript">
    PrintPreview.Fields = {
        agency:         "<%= (Model != null && Model.Agency != null ? (Model.Agency.Name.IsNotNullOrEmpty() ? Model.Agency.Name + "<br />" : "") + (location != null ? (location.AddressLine1.IsNotNullOrEmpty() ? location.AddressLine1.ToTitleCase() : "") + (location.AddressLine2.IsNotNullOrEmpty() ? location.AddressLine2.ToTitleCase() + "<br />" : "<br />") + (location.AddressCity.IsNotNullOrEmpty() ? location.AddressCity.ToTitleCase() + ", " : "") + (location.AddressStateCode.IsNotNullOrEmpty() ? location.AddressStateCode.ToString().ToUpper() + "  " : "") + (location.AddressZipCode.IsNotNullOrEmpty() ? location.AddressZipCode.Clean() : "") + (location.PhoneWorkFormatted.IsNotNullOrEmpty() ? "<br />Phone: " + location.PhoneWorkFormatted : "") + (location.FaxNumberFormatted.IsNotNullOrEmpty() ? " | Fax: " + location.FaxNumberFormatted : "") : "") : "").Clean()%>",
        patientname:    "<%= Model != null && Model.Patient != null ? (Model.Patient.LastName.IsNotNullOrEmpty() ? Model.Patient.LastName.ToLower().ToTitleCase().Clean() + ", " : string.Empty) + (Model.Patient.FirstName.IsNotNullOrEmpty() ? Model.Patient.FirstName.ToLower().ToTitleCase().Clean() + " " : string.Empty) + (Model.Patient.MiddleInitial.IsNotNullOrEmpty() ? Model.Patient.MiddleInitial.ToUpper().Clean() : string.Empty) : string.Empty %>",
        patient:        "<%= Model != null && Model.Patient != null ? (Model.Patient.AddressLine1.IsNotNullOrEmpty() ? Model.Patient.AddressLine1.ToTitleCase().Clean() : string.Empty) + (Model.Patient.AddressLine2.IsNotNullOrEmpty() ? Model.Patient.AddressLine2.ToTitleCase().Clean() + "<br/>" : "<br/>") + (Model.Patient.AddressCity.IsNotNullOrEmpty() ? Model.Patient.AddressCity.ToTitleCase().Clean() + ", " : string.Empty) + (Model.Patient.AddressStateCode.IsNotNullOrEmpty() ? Model.Patient.AddressStateCode.ToString().ToUpper().Clean() + " " : string.Empty) + (Model.Patient.AddressZipCode.IsNotNullOrEmpty() ? Model.Patient.AddressZipCode.Clean() : string.Empty) + (Model.Patient.PhoneHome.IsNotNullOrEmpty() ? "<br/>Phone: " + Model.Patient.PhoneHome.ToPhone().Clean() : string.Empty) : string.Empty %>",
        mr:             "<%= Model != null && Model.Patient != null && Model.Patient.PatientIdNumber.IsNotNullOrEmpty() ? Model.Patient.PatientIdNumber.Clean() : string.Empty %>",
        dob:            "<%= Model != null && Model.Patient != null && Model.Patient.DOBFormatted.IsNotNullOrEmpty() ? Model.Patient.DOBFormatted.Clean() : string.Empty %>",
        ecname:         "<%= Model != null && Model.Patient != null && Model.Patient.EmergencyContacts.Count > 0 && Model.Patient.EmergencyContacts[0].DisplayName.IsNotNullOrEmpty() ? Model.Patient.EmergencyContacts[0].DisplayName.Clean() : string.Empty %>",
        ecphone:        "<%= Model != null && Model.Patient != null && Model.Patient.EmergencyContacts.Count > 0 && Model.Patient.EmergencyContacts[0].PrimaryPhone.IsNotNullOrEmpty() ? Model.Patient.EmergencyContacts[0].PrimaryPhone.ToPhone().Clean() : string.Empty %>",
        tri1:           "<%= Model != null && Model.Patient != null && Model.Patient.Triage == 1 ? "x" : string.Empty %>",
        tri2:           "<%= Model != null && Model.Patient != null && Model.Patient.Triage == 2 ? "x" : string.Empty %>",
        tri3:           "<%= Model != null && Model.Patient != null && Model.Patient.Triage == 3 ? "x" : string.Empty %>",
        tri4:           "<%= Model != null && Model.Patient != null && Model.Patient.Triage == 4 ? "x" : string.Empty %>"
    };
    PrintPreview.BuildBasic(" ");
</script>