﻿/* -- Main Menu -- */
#bar-top{position:fixed;top:0;right:0;left:0;height:2em;padding:.1em .1em .1em 17em;border-top:solid .2em #af1e2d;border-bottom:solid .1em #333;font-weight:bold;line-height:2em;
    box-shadow:.1em .1em .4em #222;
    background:-moz-linear-gradient(90deg,#b2b2b2,#dedede 25%,#fff 70%);
    background:-o-linear-gradient(90deg,#b2b2b2,#dedede 25%,#fff 70%);
    background:-webkit-gradient(linear,left bottom,left top,from(#b2b2b2),to(#fff),color-stop(.25,#dedede),color-stop(.7,#fff))}
#tab{position:absolute;top:3px;left:0;width:207px;height:60px;background:url(/Images/logos.png) no-repeat 0 0}
#bar-top .icon{width:22px;height:22px;vertical-align:bottom;margin:1px 3px 1px 1px}
#bar-top a,.menu a{overflow:hidden;color:#333;cursor:default;display:block;padding:0 .6em;border-left:.1em solid #bbb;font-weight:bold;line-height:2em}
#mainmenu li{float:left}
.sf-sub-indicator{display:none}
/* -- Drop-Down Menu -- */
.menu{position:absolute;top:2.3em;width:16.2em;margin:0;padding:0;display:none;background-color:#fffcf2;border:.1em solid #888;
    box-shadow:.1em .1em .4em #222;z-index:99}
.menu li{position:relative}
.menu a{border-bottom:solid .1em #bbb;background:#fff;width:15em}
.menu a:hover{background-color:#d5dbe6}
#mainmenu .more{position:absolute;right:5px;top:7px}
.menu .menu{top:-.2em;left:16em;border-top-width:.1em;z-index:100}
/* -- Desktop -- */
#desktop{position:fixed;top:2.5em;right:0;bottom:2.5em;left:0;overflow:hidden}
/* -- Task Bar -- */
#bar-bottom{position:fixed;right:0;bottom:0;left:0;height:2em;overflow:hidden;padding:.15em;z-index:10;border-bottom:solid .2em #af1e2d;border-top:solid .1em #333;line-height:2em;
    background:-moz-linear-gradient(-90deg,#b2b2b2,#dedede 25%,#fff 90%);
    background:-o-linear-gradient(-90deg,#b2b2b2,#dedede 25%,#fff 90%);
    background:-webkit-gradient(linear,left top,left bottom,from(#b2b2b2),to(#fff),color-stop(.25,#dedede),color-stop(.9,#fff))}
#bar-bottom .icon{width:22px;height:22px;vertical-align:bottom;margin:.1em .2em .1em .1em}
#bar-bottom .copy{font-size:.75em;float:right;font-weight:normal;margin-right:1em;font-style:italic}
#task li{float:left;margin:0 .15em;background-color:#ccc;border:.1em solid #6c6c6c;
    border-radius:.5em}
#task a{overflow:hidden;height:2em;color:#555;cursor:default;display:block;padding:0 .6em .3em;font-size:.8em}
#task .active{background-color:#cad4e6;
    box-shadow:0 -1em 1em 0 #888e9a inset}
#task .active a{color:#000;font-weight:bold}
/* -- Notifications (Growl) -- */
.jGrowl{position:fixed;padding:1em;z-index:9999;color:#333}
.jGrowl.top-right{right:0;top:2.5em}
.jGrowl .jGrowl-notification,.jGrowl .jGrowl-closer{background:#ddd url(/Images/logo-ghost.png) no-repeat -2em -2em;width:18em;padding:1em;margin:.5em 0;display:none;border:.1em solid #333;font-weight:bold;
    border-radius:.75em;
    box-shadow:.25em .25em .3em #666;
    opacity:.75}
.jGrowl .message{font-size:1.1em;padding:0}
.jGrowl .jGrowl-notification{min-height:3.5em}
.jGrowl .jGrowl-notification .header{font-weight:bold;font-size:.85em}
.jGrowl .jGrowl-notification .close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer}
.jGrowl .jGrowl-closer{padding:.5em 2.2em;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center;background-image:none}
.jGrowl .error{background-color:#fccac3}
.jGrowl .success{background-color:#b6d4b6}
@media all and (max-width:1020px) {
    #tab{background-position:-207px 0;width:85px}
    #bar-top{height:4.5em;padding-left:7em}
    #bar-top a{padding:.3em .6em}
    #bar-top .icon{display:block;margin:1px auto}
    #bar-top .icon.more{display:inline-block;top:10px}
    .menu{top:4.75em}
    #desktop{top:5em}
}
@media all and (max-width:650px) {
    #tab{display:none}
    #bar-top{height:2em;padding:0}
    #bar-top a{padding:0 3px;border-right:1px solid #bbb;font-size:0}
    #bar-top ul ul a{font-size:1em}
    #desktop{top:2.25em}
    .menu{top:2em;width:auto;left:0;right:0}
    #mainmenu li li{float:none;width:auto}
    .menu a{width:auto}
    .menu .menu{top:0;left:0;margin:0 1em}
}