﻿/* -- Fieldsets -- */
fieldset{position:relative;margin:.75em .75em 1.5em;background-color:#fffcf2;border:.1em solid #aaa;padding:0 1em 1em;
    border-radius:1em;
    box-shadow:1em 1.2em .8em #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5e9c4', endColorstr='#fffcf2');
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
legend{font-weight:bold;background-color:#f5e9c4;border:.1em solid #aaa;margin:.5em 0 -.5em 1em;padding:.25em 1em;
    border-radius: 1em}
fieldset h3{font-weight:bold;border-bottom:.1em dotted #d3d3d3}
fieldset h4{font-weight:bold;text-transform:uppercase}
fieldset h5{font-weight:bold}
fieldset.half{width:45%}
fieldset.half.center{margin:.75em auto 1.5em}
fieldset.half .column,fieldset .wide-column{width:95%;padding:1em 2.5%}
fieldset.half.float-left{margin:1em 0 1em 1em}
fieldset.half.float-right{margin:1em 1em 1em 0}
fieldset table{width:95%;max-width:110em;padding:1em 2.5%;table-layout:fixed;text-align:left;margin:0 auto}
fieldset table.borders{border:solid .1em #d3d3d3;border-collapse:collapse}
fieldset table.borders td{border:solid .1em #d3d3d3;border-collapse:collapse}
fieldset table td{vertical-align:top}
fieldset table tr.linesep td,fieldset table tr.linesep th{border-top:dotted .1em #ddd;padding-top:.4em}
fieldset table tr.linesepvert td{border-left:dotted .1em #ddd;padding-left:.4em;vertical-align:bottom}
fieldset table tr.linesepvert td:first-child{border-left:0}
/* -- Columns and Rows -- */
.column{width:46%;padding:1em;float:left}
.row,.wide-column .column .row{width:100% !important;clear:both;max-width:40em;position:relative;padding:.2em 0;margin:.2em auto}
.wide-column .row{max-width:110em}
/* -- Check Groups -- */
.checkgroup .option{width:30%;min-width:25em;padding:.5em;border:solid .1em #d3d3d3;margin:.2em;float:left;
    box-shadow:.1em .1em .25em #888;
    border-radius:1em}
.checkgroup.wide .option{width:95%;min-width:95%}
.checkgroup.narrow .option{width:15%;min-width:11em}
table .checkgroup .option{width:80%;min-width:5em}
.checkgroup .option.selected{background-color:rgba(255,255,255,.5);border-color:#999;
    box-shadow:inset .1em .1em .25em #d3d3d3}
.checkgroup.padfix .option{padding-bottom:.5em}
.checkgroup .option input[type=checkbox],fieldset .checkgroup .option input[type=radio]{float:left;width:auto}
.checkgroup .option input.no-float{float:none}
/* -- Labels -- */
label.float-left{font-weight:bold;line-height:2.3em}
label.radio,span.radio{display:block;margin-left:2em}
label.radio.fixed,label.inline-radio.fixed{width:10em !important;display:inline-block;margin-left:0}
.block{display:inline-block;width:15em !important}
fieldset label{width:auto !important;vertical-align:middle}
fieldset label.inline-radio{margin-right:2em;vertical-align:top;display:inline-block}
fieldset label.inline-radio.fixed.small{width:2em !important;margin-right:0}
/* -- Inputs -- */
input[type=text],input[type=password],textarea,select{border:.1em solid #d1d1d1;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif}
input[type=checkbox],input[type=radio]{border:0 none !important}
input[type=text],input[type=password],select{width:15em;margin:.2em;vertical-align:middle}
select{width:15.15em}
textarea{width:98%;height:3.5em;font-size:1em}
textarea.tall{height:7em}
textarea.taller{height:10em}
textarea.tallest{height:15em}
input.short,select.short{width:10em}
input.shorter,select.shorter,input.date.short,input.time.short{width:7.5em}
input.shortest,select.shortest{width:5em}
input.long,select.long{width:20em}
input.longer,select.longer{width:30em}
input.longest,select.longest{width:40em}
input.fill,select.fill{width:100%}
td input.fill,td select.fill,.option input.fill,.option select.fill{width:94%}
select.AddressStateCode{width:10em}
input.zip{width:4.5em}
input.date,input.physicians,input.time{width:13.5em}
input.phone-short{width:4em}
input.phone-long{width:4.5em}
input.mi,input.small-digit{width:2em}
select.hours{width:3em}
/* -- Buttons -- */
.buttons{text-align:center}
.buttons.inline{display:inline-block}
.buttons ul{list-style:none;display:inline-block;margin:0 .5em}
.row .buttons ul{margin:0}
.buttons li{float:left;margin:.1em .4em}
.buttons li,.button{border:.1em solid #495668;
    border-radius:.5em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7096d5', endColorstr='#435f8e');
    background-image:-moz-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-o-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#435f8e),to(#7096d5),color-stop(.49,#5c7db3),color-stop(.5,#6c8fc7))}
.buttons li.red{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5707d', endColorstr='#8e434d');
    background-image:-moz-linear-gradient(90deg,#8e434d,#b35c68 49%,#c76c78 50%,#d5707d);
    background-image:-o-linear-gradient(90deg,#8e434d,#b35c68 49%,#c76c78 50%,#d5707d);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#8e434d),to(#d5707d),color-stop(.49,#b35c68),color-stop(.5,#c76c78))}
.buttons li.green{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#539e57', endColorstr='#306532');
    background-image:-moz-linear-gradient(90deg,#306532,#3e7941 49%,#559d59 50%,#539e57);
    background-image:-o-linear-gradient(90deg,#306532,#3e7941 49%,#559d59 50%,#539e57);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#306532),to(#539e57),color-stop(.49,#3e7941),color-stop(.5,#559d59))}
.buttons li a,.button a{overflow:hidden;display:block;padding:.1em 2em;color:#fff;height:1.8em;line-height:1.8em;text-shadow:0 .1em .1em #000;font-weight:bold;cursor:pointer}
.buttons li.red a{border-color:#684949}
.buttons li.green a{border-color:#49684b}
.buttons li.send a{padding:2.2em 1.2em 3em}
.buttons li.send a:active{padding:2em 1.5em 3.2em 1em}
.button-with-arrow{margin:.2em .45em}
.button-with-arrow a{border:.1em solid #495668;display:block;width:176px;height:20px;padding:1px 10px;color:#fff;text-shadow:0 .1em .1em #000;font-weight:bold}
.button-with-arrow a:hover,.buttons li a:hover{
    background-image:-moz-radial-gradient(50% 50% , rgba(255,255,255,.6), transparent);
    background-image:-o-radial-gradient(50% 50% , rgba(255,255,255,.6), transparent);
    background-image:-webkit-gradient(radial, 50% 50%,from(rgba(255,255,255,.6)),to(transparent))}
.button-with-arrow a:active,.buttons li a:active{color:#ddd;border-color:#333;
    box-shadow:inset 0 0 1em #333}
.button.top{position:absolute;top:0;
    border-radius:0 0 1em 1em}
.button.right{position:absolute;right:0;
    border-radius:1em 0 0 1em}
.button.bottom{position:absolute;bottom:0;
    border-radius:1em 1em 0 0}
.button.left{position:absolute;left:0;
    border-radius:0 1em 1em 0}
.button.top.left{    
    border-radius:0 0 1em 0}
.button.top.right{    
    border-radius:0 0 0 1em}
.button.bottom.right{    
    border-radius:1em 0 0 0}
.button.bottom.left{    
    border-radius:0 1em 0 0}
/* -- Validation -- */
label.error{background-color:#ecd5d2;border:.1em solid #841f11;color:#333;font-size:.8em;padding:.1em .4em;position:absolute;top:-.25em;right:-2.5em;z-index:1;
    opacity:.85;
    box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset}
form table label.error{top:80%;left:90%}
form input.error,form select.error,form textarea.error{border:.1em solid #be2d19;
    box-shadow:0 0 1em #ecc5c0 inset}
.red{background-color:#f08080}
.required-red{color:#a71111;font-weight:bold;top:0;right:20px;font-size:1.4em}
.row .required-red{right:-5px}
.required-legend{top:0;left:0;right:0;text-align:center;font-weight:bold}
/* -- Auto-Complete -- */
.ui-autocomplete-input.ui-autocomplete-loading{background:#fff url(/Images/indicator.gif) no-repeat right}
.ui-autocomplete{z-index:99 !important;border:solid .1em #aaa;max-height:250px;overflow-y:auto;background-color:#fff}
.ui-autocomplete .ui-menu-item{color:#333;padding:.2em}
.ui-autocomplete .ui-menu-item a{line-height:1.5;padding:.1em .3em;display:block;font-weight:bold;cursor:pointer}
.ui-autocomplete .ui-menu-item a.ui-state-hover{margin:-.1em;border:solid .1em #999;background-color:#dce6f5}
.autocomplete-results{padding:0;border:1px solid black;background-color:white;overflow:hidden;z-index:99999}
.autocomplete-results ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0}
.autocomplete-results li{margin:0;padding:2px 5px;cursor:default;display:block;font:menu;font-size:12px;line-height:16px;overflow:hidden}
.autocomplete-loading{background:white url(/Images/indicator.gif) right center no-repeat}
.autocomplete-odd{background-color:#eee}
.autocomplete-hover{background-color:#0A246A;color:white}
.input-directions{background-color:#fff}
/* -- Time Picker -- */
.ui-timepicker{display:block;position:absolute;height:200px;text-align:center;overflow:auto;overflow-x:hidden}
.ui-timepicker-standard{font-family:Verdana,Arial,sans-serif;font-size:1.1em;background-color:#fff;border:1px solid #aaa;color:#222;display:block;margin:0;padding:2px;list-style:none outside none}
.ui-timepicker-standard a{color:#222}
.ui-timepicker-standard .ui-state-hover{background-color:#dadada;border:1px solid #999;font-weight:400;color:#212121}
.ui-timepicker-standard .ui-menu-item{clear:left;float:left;margin:0;padding:0;width:100%}
.ui-timepicker-standard .ui-menu-item a{display:block;padding:.2em .4em;line-height:1.5;text-decoration:none}
.ui-timepicker-standard .ui-menu-item a.ui-state-hover{font-weight:400;margin:-1px}
.ui-timepicker-corners,.ui-timepicker-corners .ui-corner-all{-moz-border-radius:4px;-webkit-border-radius:4px}
.ui-timepicker-hidden{display:none}
/* -- Date Picker -- */
.ui-datepicker{background:#fff;border:.1em solid #aaa;width:17.5em}
.ui-datepicker-calendar th{border-bottom:.1em solid #9ebfdb;font-weight:normal}
.ui-datepicker-calendar a{color:#333}
.ui-datepicker .ui-datepicker-header{position:relative;padding:0}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}
.ui-datepicker .ui-datepicker-prev{left:2px}
.ui-datepicker .ui-datepicker-next{right:2px}
.ui-datepicker .ui-datepicker-prev-hover{left:1px}
.ui-datepicker .ui-datepicker-next-hover{right:1px}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-2px;top:50%;margin-top:-4px}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;padding:.1em 0;font-weight:bold;cursor:pointer}
.ui-datepicker .ui-datepicker-title select{float:left;font-size:1em;margin:1px 0}
.ui-datepicker select.ui-datepicker-month-year{width:100%}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year{float:right}
.ui-datepicker table{width:100%;border-collapse:collapse;margin:0 0 .4em}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}
.ui-datepicker td{border:0;padding:1px}
.ui-datepicker td span,.ui-datepicker td a{display:block;text-align:center;text-decoration:none;width:100%;line-height:25px}
.ui-datepicker tr.month td a,.ui-datepicker tr.year td a{line-height:54px}
.ui-datepicker tr.decade td a{line-height:1;padding:14px 0}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}
.ui-datepicker.ui-datepicker-multi{width:auto}
.ui-datepicker-multi .ui-datepicker-group{float:left}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}
.ui-datepicker-row-break{clear:both;width:100%}
.ui-datepicker-rtl{direction:rtl}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}
.ui-datepicker-rtl .ui-datepicker-group{float:right}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:10px}
@media all and (max-width:1020px) {
    fieldset.half{width:40%}
    input[type=text],input[type=password]{width:12.5em}
    select{width:12.65em}
    input.short,select.short{width:8em}
    input.shorter,select.shorter,input.date.short,input.time.short{width:6em}
    input.shortest,select.shortest{width:4em}
    input.long,select.long{width:15em}
    input.longer,select.longer{width:20em}
    input.longest,select.longest{width:30em}
    select.AddressStateCode{width:8em}
    input.zip{width:4.2em}
    input.date,input.physicians,input.time{width:11em}
    input.phone-short{width:3em}
    input.phone-long{width:4em}
    input.mi,input.small-digit{width:2em}
    select.hours{width:3em}
    .button-with-arrow{width:165px}
    .button-with-arrow a{width:143px}
}
@media all and (max-width:650px) {
    fieldset.half{width:auto;float:none !important;margin:.75em .75em 1.5em !important}
    .column{width:93.5%;float:none}
    input[type=text],input[type=password]{width:10em}
    select{width:10.15em}
    input.short,select.short{width:8em}
    input.shorter,select.shorter,input.date.short,input.time.short{width:6em}
    input.shortest,select.shortest{width:4em}
    input.long,select.long{width:12.5em}
    input.longer,select.longer{width:15em}
    input.longest,select.longest{width:25em}
    select.AddressStateCode{width:6.6em}
    input.zip{width:3em}
    input.date,input.physicians,input.time{width:8.5em}
    input.phone-short{width:2.35em}
    input.phone-long{width:2.75em}
    select.hours{width:3em}
    .button-with-arrow{width:132px}
    .button-with-arrow a{width:110px}
}