﻿/* -- Grid Window Background Colour -- */
.wrapper.blue,.wrapper.blue .abs-bottom{background-color:#d6e5f3}
/* -- Telerik Grid Placement Overrides -- */
.t-grid{border-color:#83a2d4 !important;border-right:none !important;border-bottom:none !important;border-left:none !important}
.t-header,.t-grid-header{border-color:#83a2d4 !important}
.t-grid-toolbar{height:2.2em}
.t-grid-content{position:absolute;height:auto !important;top:2.2em;bottom:0}
.grid-stack{position:absolute;left:0;right:0}
.grid-stack.top{top:0;bottom:50%}
.grid-stack.bottom{top:50%;bottom:0}
.grid-stack.top.pending-claims{top:6.5em;bottom:45%}
.grid-stack.bottom.pending-claims{top:55%}
.t-grid.bottom-bar .t-grid-content{bottom:1.9em !important}
.top-gap .t-grid-content{top:5em !important}
.top-gap.inbox .t-grid-content{top:7em !important}
.bottom-gap{bottom:2.3em !important}
.t-group-indicator,.t-grouping-header{display:none}
/* -- Nested in Fieldset -- */
fieldset .t-grid{position:relative}
fieldset .t-grid table{padding:0;border:.1em solid #83a2d4;border-top:0 none;width:100%;max-width:100%}
fieldset .t-grid-header tr th:last-child{border-right:0 none}
fieldset .t-grid-header .t-header,fieldset .t-grid-header .t-last-header{border-bottom-width:.1em}
/* -- Telerik Grid Filters and Search -- */
input.grid-search{width:25em;margin-left:-12.5em;position:absolute;left:50%}
.fl input.grid-search{margin-left:-10em}
.grid-controls{padding:1em;width:65em;margin:0 auto;
    box-shadow:.2em .2em .5em #aaa}
.grid-controls label,.grid-controls input,.grid-controls div,.grid-controls a{vertical-align:middle;min-width:4em}
/* -- Telerik Style Overrides -- */
.t-state-hover,.t-alt.t-state-hover,.ui-state-hover{background-color:#d5dbe6}
.t-grid .t-state-hover,.t-grid .t-alt.t-state-hover{box-shadow:inset 0 0 .1em #000}
.t-state-selected{background-color:#abb8c9;font-weight:bold;
    box-shadow:inset 0 0 .1em #000;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cad2de',endColorstr='#abb8c9');
    background-image:-moz-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-o-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#83a2d4),to(#cad2de),color-stop(.75 #abb8c9))}
.t-grid .t-state-selected td,.t-state-hover td{border:0 none}
/* -- Acore Grid -- */
.acore-grid .sortable{cursor:pointer}
.acore-grid .arrow{margin:7px}
.acore-grid ul,.acore-grid ol{border:.1em solid #888;margin:.4em .5em;
    box-shadow:0 .2em .3em #aaa;
    border-radius:.4em}
.acore-grid ul{font-weight:bold;margin:.5em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde8f5',endColorstr='#c3d8f1');
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5))}
.acore-grid h3{font-size:1.2em}
.acore-grid span{display:inline-block}
.acore-grid li{display:block;padding:.1em 1em}
.acore-grid ol{background-color:#fffcf2}
.acore-grid ol.loading{min-height:12em}
.acore-grid ol.dc{background-color:#ffeded}
.acore-grid ol li.even{background-color:#f7efd5}
.acore-grid ol.dc li.even{background-color:#f7d2d2}
.acore-grid ol li:first-child{border-radius:.4em .4em 0 0}
.acore-grid ol li:last-child{border-radius:0 0 .4em .4em}
.acore-grid ol li.hover{background-color:#b4e7c7;position:relative;
    box-shadow:0 0 .4em #004c26;
    background-image:-moz-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-o-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#b4e7c7),to(#e9f5ed))}
.acore-grid ol.dc li.hover,.acore-grid ol li.not-ready.hover{background-color:#f7b9b9;position:relative;
    box-shadow:0 0 .4em #4d2338;
    background-image:-moz-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-o-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#f7b9b9),to(#f7d2d2))}
.acore-grid a{color:#333}
.acore-grid .img{vertical-align:middle}
/* -- Column Widths -- */
.med-ls,.remit-count{width:2%}
.rap-check,.final-check,.elig-icon{width:5%}
.med-type,.final-icon{width:6%}
.med-startdate,.med-dischargedate,.rap-icon,.remit-subaction{width:8%}
.med-dcfrequency,.med-dcroute,.med-dcclassification{width:11%}
.med-frequency,.med-route,.med-classification,.allergy-action{width:12%}
.rap-mr,.final-mr,.elig-date{width:13%}
.med-name,.remit-action,.remit-id,.remit-payment,.elig-assigned,.elig-status{width:15%}
.allergy-type,.rap-episode,.final-episode,.remit-claims,.remit-action{width:20%}
.med-dcdosage,.elig-task,.elig-episode{width:25%}
.remit-date{width:26%}
.med-dosage{width:29%}
.rap-patient,.final-patient{width:30%}
.allergy-name{width:65%}
