#bar-top{background:url(/Images/gradients.png) repeat-x 0 -400px;height:23px}
#bar-bottom{background:url(/Images/gradients.png) repeat-x 0 -440px}
.buttons li{background:url(/Images/gradients.png) repeat-x 0 -480px}
.buttons li.red{background-position:0 -950px}
.buttons li.send{background-position:0 -502px;margin:3px 15px}
.ui-datepicker-calendar .month td,.ui-datepicker-calendar .year td,.ui-datepicker-calendar .decade td{width:25%}
fieldset{top:1em}
legend{position:absolute;top:-1.6em;left:.2em}
img,select,input,label,input.radio{vertical-align:middle !important}
#bar-top img{vertical-align:top !important}
.phone-short{width:3.75em !important}
input[type=checkbox]{border:0}
#bar-top ul.menu{z-index:99}
.maximized.ui-draggable-dragging{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95)}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
#shade,#idle-shade{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60)}
.window.ui-draggable-dragging,.ui-widget-overlay{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}
.ui-state-disabled,.ui-widget-content .ui-state-disabled{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=35)}
.ui-helper-zfix,.wound-note .file{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}