#bar-top{background:url(/Images/gradients.png) repeat-x 0 -400px;height:23px}
#bar-bottom{background:url(/Images/gradients.png) repeat-x 0 -440px}
.buttons li{background:url(/Images/gradients.png) repeat-x 0 -480px}
.buttons li.red{background-position:0 -950px}
.buttons li.send{background-position:0 -502px;margin:3px 15px}
fieldset{margin-top:1em;border-radius:0}
legend{position:absolute;top:-1.6em;left:.2em}