﻿body{background:#c1d0e4;width:100%;height:100%}
.wrapper{position:absolute;top:0;left:0;width:100%;height:100%}
.ui-layout-west,.ui-layout-center{position:absolute}
.ui-layout-west{top:.5em;bottom:.5em;left:.5em;width:25em}
.ui-layout-center{left:26em;right:1em;top:1em;bottom:1em}
.navigation div div{margin:.75em}
.address-block,#directions{background:#fffcf2;border:.1em solid #aaa;margin:.5em;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf2', endColorstr='#f5e9c4');
    border-radius:1em;
    box-shadow:.5em .5em 1.5em #333;
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
#map{position:absolute;top:0;left:0;width:100%;height:100%;
    border-radius:1em;
    box-shadow:.5em .5em 1.5em #333}
#directions{position:absolute;bottom:0;left:0;right:0;top:17.5em;overflow:auto;padding:.75em}
#map-start-address-select,#map-end-address,#map-start-address{width:19em}
#map-end-address-state,#map-start-address-city,#map-start-address-city,#map-end-address-city{width:7em}
#map-end-address-zip,#map-start-address-zip{width:3.6em}