﻿/* -- Email List and Recipient List -- */
.folder-selection,.compose-header{font-size:1.5em;position:absolute;top:2.9em;left:-.1em;right:-.1em;padding:.25em 1em;border:.1em solid #888;cursor:pointer;
    box-shadow:0 .25em .5em #888;
    background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#85a4d5),to(#b4c7e4))}
.compose-header{top:0;cursor:default}
.compose-header .buttons{font-size:.67em}
.folder-selection .ui-icon{margin:10px 0}
.folder-selection li{display:none}
.folder-selection .selected{display:block}
.folder-selector{position:absolute;top:5.5em;font-size:1.35em;left:.25em;right:.25em;border:.1em solid #888;overflow:hidden;cursor:pointer;
    box-shadow:0 .25em .5em #888;
    border-radius:0 0 .5em .5em;
    background-image:-moz-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-o-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#97a6be),to(#dce0e6))}
.folder-selector li{padding:.25em 1em;border-bottom:.1em dotted #888}
.folder-selector li:last-child{border-bottom:0 none}
.folder-selector .hover{background-color:rgba(94,198,237,.25)}
.message-list{background-color:#fffcf2;position:absolute;top:7.25em;right:0;bottom:0;left:0}
.message-list .t-grid-header{display:none}
.message-list .t-grid-content{top:.1em}
.read-false{font-weight:bold}
.recipient-list{position:absolute;top:0;right:0;bottom:0;left:0}
.recipient-panel{background-color:#fffcf2;overflow:auto;position:absolute;top:3.3em;right:0;bottom:0;left:0}
.recipient-panel .recipient{overflow:hidden;padding:.25em}
/* -- Message View -- */
.message-content{bottom:0;left:0;position:absolute;right:0;top:0}
.message-header-container,.message-body-container{background-color:#fffcf2;border:.1em solid #888;left:2.5em;position:absolute;right:2.5em;overflow:auto;padding:1em 3em;
    border-radius:1em;
    box-shadow:1em 1.2em .8em #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5e9c4', endColorstr='#fffcf2');
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
.message-header-container{top:3em}
.compose.message-header-container{top:4.5em}
.message-body-container{top:15em;bottom:2.5em}
.message-body-container div{position:absolute;top:1em;right:3em;left:3em;bottom:1em}
textarea#message-body{height:100%;width:100%;overflow:auto;background-color:#fffcf2;border:0 none}
.message-header-row{margin-bottom:.3em;position:relative}
.compose .message-header-row{margin-left:10em;min-height:2em}
.compose .message-header-row label{lin-height:2em}
.message-header-row span{position:absolute;left:8em;right:3em;height:1.5em;overflow:scroll}
.message-header-row a.more{position:absolute;right:2.5em}
.compose-input{position:absolute;top:0;right:0;bottom:0;left:7.5em}
.compose-input.to{position:relative;left:0;margin:-2em 0 0 7.5em}
.compose .styled-uploader-input{position:absolute;top:0;right:10em;left:0}
/* -- Token Input -- */
.recipient-list-input{overflow:hidden;width:100%;border:.1em solid #d1d1d1;cursor:text;background-color:#fff;margin:.2em}
.recipient-list-input li input{border:0;width:100%}
.recipient-list-token{margin:.25em;padding:.15em 1em;background-color:#eff2f7;color:#000;cursor:default;border:.1em solid #ccd5e4;float:left;
    border-radius:.5em;
    box-shadow:.1em .1em .25em #ccd5e4,inset .1em .1em .25em #fff}
li.recipient-list-token span{color:#a6b3cf;margin-left:5px;font-weight:bold;cursor:pointer}
li.recipient-list-token-selected{background-color:#5670a6;border:1px solid #3b5998;color:#fff}
li.recipient-list-token-input{clear:left}
div.recipient-list-select{position:relative;margin-left:150px;background-color:#fff;overflow:hidden;border:1px solid #ccc;cursor:default;font-size:11px;font-family:Verdana;width:400px}
div.recipient-list-select p{margin:0;padding:5px;font-weight:bold;color:#777;position:relative}
div.recipient-list-select ul{margin:0;padding:0}
div.recipient-list-select ul li{background-color:#fff;padding:3px}
div.recipient-list-select ul li.token-input-dropdown-item-facebook{background-color:#fff}
div.recipient-list-select ul li.token-input-dropdown-item2-facebook{background-color:#fff}
div.recipient-list-select ul li em{font-weight:bold;font-style:normal}
div.recipient-list-select ul li.token-input-selected-dropdown-item-facebook{background-color:#3b5998;color:#fff}
/* -- WYSIWYG -- */
#new-message-body-wrapper{position:absolute;top:17em;right:0;bottom:0;left:0;margin:0;padding:0;border-top:.1em solid #888}
td.cke_contents{display:block;position:absolute;top:2.5em;right:0;bottom:0;left:0}
.cke_skin_office2003 .cke_toolbar{border-radius:.5em;overflow:hidden}
.cke_skin_office2003 .cke_toolbar,.cke_skin_office2003 .cke_toolbar_start{background-color:transparent !important;background-image:none !important}
.cke_skin_office2003 .cke_top{border-width:0 !important;background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4)}
/* -- CSS Cancelling for Message Styling -- */
#message-body a{cursor:pointer}
#message-body li{list-style:disc outside none}
#message-body div{position:static}
#message-body address,#message-body blockquote,#message-body dd,#message-body div,#message-body dl,#message-body dt,#message-body fieldset,#message-body h1,#message-body h2,#message-body h3,#message-body h4,#message-body h5,#message-body h6,#message-body ol,#message-body p,#message-body ul,#message-body center,#message-body dir,#message-body hr,#message-body menu,#message-body pre{display:block;unicode-bidi:embed}
#message-body li{display:list-item}
#message-body table{display:table}
#message-body tr{display:table-row}
#message-body thead{display:table-header-group}
#message-body tbody{display:table-row-group}
#message-body tfoot{display:table-footer-group}
#message-body col{display:table-column}
#message-body colgroup{display:table-column-group}
#message-body td,#message-body th{display:table-cell}
#message-body caption{display:table-caption}
#message-body th{font-weight:bolder;text-align:center}
#message-body caption{text-align:center}
#message-body h1{font-size:2em;margin:.67em 0}
#message-body h2{font-size:1.5em;margin:.75em 0}
#message-body h3{font-size:1.17em;margin:.83em 0}
#message-body h4,#message-body p,#message-body blockquote,#message-body ul,#message-body fieldset,#message-body ol,#message-body dl,#message-body dir,#message-body menu{margin:1.12em 0}
#message-body h5{font-size:.83em;margin:1.5em 0}
#message-body h6{font-size:.75em;margin:1.67em 0}
#message-body h1,#message-body h2,#message-body h3,#message-body h4,#message-body h5,#message-body h6,#message-body b,#message-body strong{font-weight:bolder}
#message-body blockquote{margin-left:40px;margin-right:40px}
#message-body i,#message-body cite,#message-body em,#message-body var,#message-body address{font-style:italic}
#message-body pre,#message-body tt,#message-body code,#message-body kbd,#message-body samp{font-family:monospace}
#message-body pre{white-space:pre}
#message-body big{font-size:1.17em}
#message-body small,#message-body sub,#message-body sup{font-size:.83em}
#message-body sub{vertical-align:sub}
#message-body sup{vertical-align:super}
#message-body table{border-spacing:2px}
#message-body thead,#message-body tbody,#message-body tfoot{vertical-align:middle}
#message-body td,#message-body th,#message-body tr{vertical-align:inherit}
#message-body s,#message-body strike,#message-body del{text-decoration:line-through}
#message-body hr{border:1px inset}
#message-body ol,#message-body ul,#message-body dir,#message-body menu,#message-body dd{margin-left:40px}
#message-body ol{list-style-type:decimal}
#message-body ol ul,#message-body ul ol,#message-body ul ul,#message-body ol ol{margin-top:0;margin-bottom:0}
#message-body u,#message-body ins{text-decoration:underline}
#message-body br:before{content:"\A";white-space:pre-line}
#message-body center{text-align:center}
#message-body :link,#message-body :visited{text-decoration:underline}
#list-messages .t-state-selected{font-weight:normal}
/* -- Message Widget Styling -- */
.widget-message-list li{display:block;padding:.73em;display:block;border-bottom:.1em solid #aaa;cursor:pointer}
.widget-message-list input{margin:.25em 1em .25em 0;vertical-align:middle}



