﻿/* -- Remove Scroll Bars on Window Object -- */
#window_StartOfCare_content,#window_ResumptionOfCare_content,
#window_Recertification_content,#window_FollowUp_content,
#window_Recertification_content,#window_Recertification_content,
#window_TransferInPatientNotDischarged_content,#window_TransferInPatientDischarged_content,
#window_NonOasisStartOfCare_content,#window_NonOasisRecertification_content,#window_NonOasisDischarge_content{overflow:hidden}
/* -- Vertical Tabs -- */
.ui-tabs{position:absolute;height:100%;width:100%}
.ui-tabs .ui-tabs-panel{display:block}
.ui-tabs .ui-tabs-hide{display:none !important}
.vertical-tabs{background:#c3d8f1;width:18.6em;padding-top:.5em;position:absolute;top:0;bottom:0;left:0;border-right:solid .1em #888;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7bfdb', endColorstr='#e6effa');
    background-image:-moz-linear-gradient(115deg,#a7bfdb,#e6effa, #a7bfdb);
    background-image:-o-linear-gradient(115deg,#a7bfdb,#e6effa, #a7bfdb);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#a7bfdb),to(#a7bfdb),color-stop(.5,#e6effa))}
.vertical-tabs li{display:block;border:solid .1em #888;border-right:0;width:17em;height:1.75em;padding-left:.5em;margin:0 0 -.3em 1em;line-height:1.75em;
    border-radius:1em 0 0 1em;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7bfdb', endColorstr='#c3d8f1');
    background-image:-moz-linear-gradient(115deg,#a7bfdb,#e6effa,#c3d8f1);
    background-image:-o-linear-gradient(115deg,#a7bfdb,#e6effa,#c3d8f1);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#a7bfdb),to(#c3d8f1),color-stop(.5,#e6effa))}
.vertical-tabs .ui-state-hover{background:#dce6f5;border-color:#688caf;margin-left:.5em;width:17.5em}
.vertical-tabs .ui-tabs-selected{cursor:default;margin:.5em 0 .2em .2em;width:17.9em;background:#fff}
.vertical-tabs li a{cursor:pointer;color:#333 !important;display:block}
.general{overflow-y:hidden;overflow-x:auto;position:relative;height:100%;overflow:auto;margin-left:19em}
/* -- Fieldset Overrides -- */
fieldset.oasis{background:#ebfceb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e0d1', endColorstr='#d1e0d1');
    background-image:-moz-linear-gradient(115deg,#d1e0d1,#ebfceb,#d1e0d1);
    background-image:-o-linear-gradient(115deg,#d1e0d1,#ebfceb,#d1e0d1);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#d1e0d1),to(#d1e0d1),color-stop(.5,#ebfceb))}
fieldset.loc485{background:#e1e1e1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e1e1e1');
    background-image:-moz-linear-gradient(115deg,#ccc,#e3e3e3,#ccc);
    background-image:-o-linear-gradient(115deg,#ccc,#e3e3e3,#ccc);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#ccc),to(#ccc),color-stop(.5,#e3e3e3))}
fieldset.oasis legend{background:#d1e0d1}
fieldset.loc485 legend{background:#ccc}
fieldset.oasis .row .float-right{margin-right:2em}
fieldset.oasis .row .float-right.oasis{margin-right:0}
/* -- OASIS Tips -- */
.oasis-tip{margin:0 0 0 .2em;padding-right:.1em;font-weight:bold;border:.1em solid #777;background-color:#a4c9f5;color:#fff;cursor:pointer;width:1.2em;line-height:1.2em;text-align:center;display:inline-block;
    text-shadow:.05em .05em .05em #000;
    box-shadow:inset -.2em -.2em .5em #999;
    border-radius:.5em}
.oasis-tipbox h3{font-size:1.2em;font-weight:bold;text-align:center}
.oasis-tipbox .content{height:9em;margin:0 .5em;padding:.5em;background:#fff;overflow:auto;border:.1em solid #999;
    box-shadow:inset .2em .2em .5em #bbb;
    border-radius:.3em}
.oasis-tipbox .intent{height:5em}
/* -- Demographics -- */
.OasisContainer .AddressStateCode{width:8em;margin-right:.2em}
/* -- Patient History -- */
input.vitals{width:3.5em}
input.immunization,select.immunization{width:8em}
.sm-diagnoses-list{margin:0 auto;width:45em}
.sm-diagnoses-list .title{font-weight:bold}
.sm-diagnoses-list span{display:inline-block;text-align:center}
.sm-diagnoses-list .alphali{width:2em}
.sm-diagnoses-list .diagnosis-name{width:30em}
.sm-diagnoses-list .surgical-proc{width:18em}
.sm-diagnoses-list .surgical-date{width:14em}
.sm-diagnoses-list .diagnosis-code{width:12em}
.sm-diagnoses-list input{width:100%}
.sm-diagnoses-list .surgical-date input{width:10em}
.instructions{text-align:left}
.instructions p{margin:.8em 0}
.instructions li{display:block}
.instructions li p,.instructions li li{margin:0 0 0 5.2em}
.instructions li li p{margin:0 0 0 1.2em}
.oasis-diagnoses{display:block}
.oasis-diagnosis{display:block}
.diagnosis-title .h4{width:24%}
.diagnosis-title .h4 p{font-weight:bold;text-transform:uppercase;text-align:center}
.diagnosis-colwidth{display:inline-block;width:25%}
.diagnosis-title p,.diagnosis-title label{padding:.5em}
.diagnosis-item{background-color:#e0f1e0;padding:1em;margin:.5em 0;border:.1em solid #aaa;
    border-radius:1em;
    box-shadow:.1em .1em .25em #888}
.diagnosis-item .handle.sortable{cursor:move}
.oasis-m1022{clear:both}
.diagnosis-item .diagnosis-delete{float:right;margin:-1.5em}
.nonoasis .diagnosis-item{background-color:#d6dada}
.diagnosis-item input{cursor:text}
.diagnosis-item a,.diagnosis-item .diagnosis-delete span{cursor:pointer}
.diagnosis-item span,.diagnosis-item label,.diagnosis-item select{cursor:default}
.diagnosis-colwidth-double{width:100%}
.diagnosis-colwidth-double .third{display:inline-block;width:auto;margin-right:5%}
.diagnosis-up,.diagnosis-down{float:left;margin:-.3em .2em}
.diagnosis-input .oasis-tip{margin-top:-1em}
/* -- Integumentary -- */
.braden{border-spacing:.5em .5em}
.braden hr.eighty{width:80%;float:left}
.braden td,.braden th{border:solid .1em #aaa;background-color:#f5f0df;vertical-align:middle;
    border-radius:1em;
    box-shadow:.1em .1em .25em #888}
.braden td{padding:.3em;cursor:pointer}
.braden thead th{text-transform:uppercase;font-weight:bold;background-color:#c8d9ed;color:#333;
    border-radius:.8em}
.braden tbody th,.braden thead th{text-align:center;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f0fc', endColorstr='#c8d9ed');
    background-image:-moz-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-o-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c8d9ed),to(#e5f0fc))}
.braden tbody p,.braden tbody a{font-weight:normal;color:#333}
.braden td.active{border:solid .1em #9bbe9f;background-color:#edf5ee;
    box-shadow:.1em .1em .25em #d3d3d3 inset}
.braden h5{text-align:center;text-transform:uppercase}
.braden .total{border:0 none;text-align:center;vertical-align:bottom;background:transparent none;
    box-shadow:none}
.braden-score{margin:0 auto;width:155px}
.braden-score li{text-align:left;display:block;width:150px;font-weight:normal}
.braden-score li.strong,.tinetti_score li.strong{font-weight:bold;padding:.1em 1em;border:solid .1em #9bbe9f;background-color:#edf5ee;margin:0 -1em;
    border-radius:1em}
/* -- Plan of Care Overrides -- */
.cms485-diagnoses .diagnosis-item{background-color:#f5f0df;padding:.25em 2.5em .25em .5em;clear:both}
.cms485-diagnoses .diagnosis-item .diagnosis-delete{right:10px;top:5px}
.cms485-diagnoses .diagnosis-item .abs{padding:5px 0}
/* -- old wound care -- */
.old-wound-care .t-icon-calendar{display:none}
.wound-pad{line-height:2.2em}
/* -- wound care --  */
.wound-chart{background:transparent url(/Images/body_outline.png) no-repeat scroll center 0;height:515px;width:507px;position:relative}
.wound-marker{height:32px;width:25px;padding-right:25px;background:transparent url(/Images/sprite.png) no-repeat scroll -195px -31px;position:absolute;color:#fff;font-size:1.2em;font-weight:bold;text-align:center}
.wound .row{max-width:65em !important}
.wound-note{position:absolute;right:-30px;top:-40px;padding:1em .6em 1.5em;border:.1em solid #333;background-color:#aab}
.wound-note h3{text-align:center;font-size:1.2em;margin-bottom:.5em;border-bottom:0 none}
.wound-note .inner{background-color:rgba(255,255,255,.5);border:.1em solid #333;height:40em;overflow:auto;overflow-x:hidden;box-shadow:inset #888 .5em .5em 1em}
.wound-note .row{border-top-width:0;margin:0;padding:.2em .5em .2em .2em;border-bottom:.1em solid #888;width:22em !important}
.wound-note .subrow{clear:both}
.wound-note .main-label{font-weight:bold;text-align:center}
.wound-note label,.wound-note .label{font-weight:bold;display:inline-block;line-height:2em;width:9.5em !important}
.wound-note .answer{float:right;width:12em}
.wound textarea,.wound-note input,.wound-note select{border:.1em solid #555;padding:.1em .5em;width:10em}
.wound textarea{width:100%;height:8em;padding:.5em}
.wound-note select{width:11em;padding:0 0 0 .5em}
.wound-note .file{position:absolute;opacity:0}
.wound-note .dummy-file input{width:3.7em}
.wound-note .dummy-file .buttons{float:right;margin:0}
.wound-note .dummy-file .buttons a{padding:0 1em}
.wound-note .date,.wound-note .centimeter{width:8.5em}
.wound-note .percent{width:9em}
.wound-note .time{width:7.75em}
.wound-note .multitime{width:4.75em}
.wound-note .buttons{margin:1em 0 0}
.wound-care{width:100%;background-color:#e6e6fa;border-left:solid .25px #d3d3d3;border-top:solid .25px #d3d3d3}
.wound-care tr td,.wound-care tr th{text-align:left;padding-bottom:5px;border-right:solid .25px #d3d3d3;border-bottom:solid .25px #d3d3d3;padding-left:5px}
.wound-care tr td.align-center,.wound-care tr th.align-center{text-align:center}
.wound-care tr td:first-child,.wound-care tr th:first-child{padding-left:10px;padding-right:2px}
.wound-care .width{width:180px}
.wound-care select.width{width:183px}
.wound-care .width .t-input{width:161px}
.wound-care .wound-pad{margin-bottom:5px}
.wound-care input.upload-width,input.upload-width{width:100px}
table.wound-care.oasis-wound{background-color:#fffcf2}
table.wound-care.oasis-wound tr td:first-child,table.wound-care.oasis-wound tr th:first-child{width:100px}
table.wound-care.oasis-wound .t-input{width:auto}