﻿/* -- Blue Modal -- */
.modal-blue .window-content{background-color:#6f95d4;
    background-image:-moz-linear-gradient(90deg,transparent,rgba(255,255,255,.4));
    background-image:-o-linear-gradient(90deg,transparent,rgba(255,255,255,.4));
    background-image:-webkit-gradient(linear,left bottom,left top,from(transparent),to(rgba(255,255,255,.4)))}
.modal-blue .window-content{color:#fff;padding:0 10px 10px;text-align:center;text-shadow:0 2px 3px #333}
.modal-blue h3{font-size:24px;padding-top:10px}
.modal-blue ul{text-align:left;margin:5px 40px}
.modal-blue ul li{padding:5px;list-style:none}
.modal-blue ul li a{color:#fff;font-size:1.3em;vertical-align:text-bottom}
.modal-blue ul li a:hover{color:#fdd;text-shadow:0 2px 5px #833}
/*-- Load Print Views --*/
#print-box,#validation-box{position:absolute;top:0;right:0;bottom:42px;left:0;background-color:#d3d3d3}
#printview,#oasis-validation{width:100%;height:100%;overflow-x:hidden;border:0 none}
#print-controls,#oasis-validation-controls{position:absolute;right:0;bottom:0;left:0;padding:5px 2px;background-color:#eee;line-height:20px;border-top:solid 1px #aaa}
#print-return-reason{position:fixed;left:50%;margin-left:-290px;bottom:9.5%;background:#fffcf2;width:580px;height:200px;display:none;border:solid 1px #aaa;text-align:center}
#print-return-reason textarea{width:560px;height:160px}
#print-return-reason label{font-size:14px;line-height:14px;margin:5px;display:block}
/*-- User Calendar --*/
.cal.big{width:75%;float:none;margin:0 auto}
.cal.big tbody td{height:4em;padding:1.5em}
/* -- Note Modal -- */
.note-modal{position:absolute;top:50%;left:50%;width:40em;height:40em;z-index:12;margin-left:-20em;margin-top:-20em;border:.1em solid #000;background-color:#ffff2d;
    box-shadow:1em 1em 2em #000;
    background-image:-moz-linear-gradient(300deg,#ffff87,#b8b108);
    background-image:-o-linear-gradient(300deg,#ffff87,#b8b108);
    background-image:-webkit-gradient(linear,top left,bottom right,from(#ffff87),to(#b8b108))}
.note-modal.blue{background-color:#49b1ff;
    background-image:-moz-linear-gradient(300deg,#b6e0ff,#0d78e0);
    background-image:-o-linear-gradient(300deg,#b6e0ff,#0d78e0);
    background-image:-webkit-gradient(linear,top left,bottom right,from(#b6e0ff),to(#0d78e0))}
.note-modal.red{background-color:#ff2828;
    background-image:-moz-linear-gradient(300deg,#ff8787,#b80707);
    background-image:-o-linear-gradient(300deg,#ff8787,#b80707);
    background-image:-webkit-gradient(linear,top left,bottom right,from(#ff8787),to(#b80707))}
.note-modal div,.note-modal p{clear:right;text-align:justify;padding:1em 1em 0}
.note-modal div{float:right;font-size:9pt;font-weight:bold;cursor:pointer}
.note-modal.bottom{
    -moz-transform:rotate(4deg);
    -webkit-transform:rotate(4deg)}
.note-modal.middle{
    -moz-transform:rotate(2deg);
    -webkit-transform:rotate(2deg)}
/* -- Reports Center -- */
#window_reportcenter .fl{width:33.33%}