﻿@media print{
    html,body{margin:.1em 0;background:none !important;font-size:1em !important}
    .page,div{page-break-inside:avoid}
    .page{height:73.95em !important;box-shadow:none !important;-moz-box-shadow:none !important;-webkit-box-shadow:none !important;page-break-after:always;margin-bottom:0 !important;padding:0 !important;border:0 !important}
    .print{display:block !important}
    h1,h2{margin:0 !important;border-bottom:0 !important}
    h2,h3{margin:0 !important;border-top:0 !important}
    .page img.axxess{bottom:0 !important;left:0 !important;display:none}
    .page img.acore{bottom:0 !important;right:0 !important;display:none}
    .screen{display:none !important}
    .print{display:block !important}
    span{font-size:1em !important}
    div.header{border-top:solid .25em #000}
    span.customtext{font-size:1.35em !important}
}
.abs{position:absolute}
.print{display:none}
.screen{display:block}
html,body{background-color:#bbc;background-attachment:fixed;color:#000;
    background-image:-moz-linear-gradient(285deg,#d3d3d3,#99a,#727288);
    background-image:-o-linear-gradient(285deg,#d3d3d3,#99a,#727288);
    background-image:-webkit-linear-gradient(285deg,#d3d3d3,#99a,#727288)}
body{width:40.625em;margin:0 auto;font-size:1.3em;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif}
a{color:#000}
h1,h2,h3,div{font-size:.75em;margin:-.1em 0 0 0;border:.1em solid #000;padding:.1em;line-height:1em}
.print485 .header{border:0 none}
.print485 .footer{border:0 none;position:absolute;right:4em;bottom:3em;left:4em}
.border487{border:solid .1em #000;position:absolute;top:5.4em;right:4.5em;bottom:4.55em;left:4.5em}
div h3{font-size:.9em}
td h3{border-width:.1em 0}
.largerfont h1,.largerfont h2,.largerfont h3,.largerfont div{font-size:.85em}
.commnote h1,.commnote h2,.commnote h3,.commnote div{font-size:1em}
.commnote table.noborders{font-size:1.2em;line-height:normal}
.print485 h1,.print485 h2,.print485 h3,.print485 div{font-size:.9em}
.print485 div.content{margin:-.1em .2em 0}
h1,h2,h3{text-align:center;padding:.2em}
h1{font-size:.85em}
ol{padding:0 .5em 0 2em}
ol li{line-height:2em;font-size:1.3em}
span{position:relative;display:inline-block;padding:0;margin:0;vertical-align:top;width:100%;line-height:1.45em;font-size:.95em}
span.pagenum{width:auto;font-size:auto}
span span{font-size:1em}
strong{margin-right:.4em}
table{padding:0;border-collapse:collapse;width:100%;border:0}
td,th{border-top:.1em solid #333;border-left:.1em solid #333;vertical-align:top;border-collapse:collapse;position:relative;overflow:hidden;padding:0}
table tr:first-child th,table tr:first-child td{border-top:0}
table tr th:first-child,table tr td:first-child{border-left:0}
table.noborders{margin:0}
table.noborders td{border:0 !important}
em{font-weight:normal}
ul{list-style:none;margin:0;padding:0 1em}
th.h1{font-size:1.33em;line-height:1.1em;vertical-align:middle;text-transform:uppercase}
.bicol span{width:49%}
td span{padding-bottom:1px}
td .bicol span{width:49%}
.tricol span{width:32.5%}
td .tricol span{width:32%}
.quadcol span{width:24%}
.pentcol span{width:19%}
.hexcol span{width:16%}
.septcol span{width:14%}
.octocol span{width:12%}
.novcol span{width:10.8%}
.labeledrow{width:96.9%}
.noborders .checklabel{width:37em}
.checklabel{margin:0 0 0 1.3em;width:64em}
td .checklabel{width:auto}
.content td .checklabel{width:100%}
.bicol .checklabel{width:47% !important}
td .bicol .checklabel{width:42% !important}
.bicol .bicol .checklabel{width:44.5% !important}
td .bicol .bicol .checklabel{width:42% !important}
.bicol .bicol .bicol .checklabel{width:41% !important}
td.bicol .checklabel{width:45% !important}
.tricol .checklabel{width:30.5% !important}
td .tricol .checklabel{width:25.35% !important}
.bicol .tricol .checklabel{width:28% !important}
td .bicol .tricol .checklabel{width:25.5% !important}
.bicol .bicol .tricol .checklabel{width:24% !important}
.quadcol .checklabel{width:22% !important}
.bicol .quadcol .checklabel{width:19.7% !important}
td .quadcol .checklabel{width:20.5% !important}
.pentcol .checklabel{width:17% !important}
td .pentcol .checklabel{width:16.5% !important}
.hexcol .checklabel{width:14% !important}
td .hexcol .checklabel{width:13% !important}
.septcol .checklabel{width:12% !important}
.octocol .checklabel{width:10% !important}
.novcol .checklabel{width:9% !important}
.checkbox{position:absolute;left:-1.4em;top:.2em;border:.1em solid #333;height:1em;width:1em !important;margin:0 !important;font-size:.9em;line-height:1em;text-align:center;overflow:visible;padding-bottom:0;font-weight:bold}
.page{background-color:#fff;border:solid .1em #aaa;height:75em;padding:3.5em 3.5em 5em;box-shadow:1em .8em 1em #333;-moz-box-shadow:1em .8em 1em #333;-webkit-box-shadow:1em .8em 1em #333;-o-box-shadow:1em .8em 1em #333;-khtml-box-shadow:1em .8em 1em #333;margin:2em 0;position:relative;overflow:hidden}
.oasis.page{height:65em}
img.axxess{position:absolute;bottom:3.5em;left:3.5em;display:none}
img.acore{position:absolute;bottom:3.5em;right:3.5em;display:none}
.instructions{text-align:left;display:block}
.instructions span{width:auto !important}
.instructions p{display:block;margin:.4em 0;text-align:justify}
.instructions ul{margin:0;padding:0}
.instructions li{display:block}
.instructions li li{margin-left:5.25em}
.instructions li p{margin:0 0 0 5.25em}
.instructions li li p{margin:0 0 0 1.2em}
.float-left{float:left;width:auto}
.float-right{float:right}
.clear{clear:both;margin:0;border:0}
.fixed{table-layout:fixed}
.auto{width:auto !important}
.fill{width:100% !important}
.align-left{text-align:left;margin:0 auto}
.align-center{text-align:center}
.align-right{text-align:right;margin:0 auto}
.blank{width:6em !important;border-bottom:solid .1em #d3d3d3;height:1.5em}
.blank.noline{border-bottom:0 none !important}
.blank.short{width:2.5em !important}
.blank_line{height:1.5em;border-bottom:solid .1em #d3d3d3;width:95% !important}
.print485 .blank_line{border-bottom:0 none}
.small{font-size:.8em;border:0}
.medium{font-size:1.1em;width:auto;font-weight:bold}
.big{font-size:1.33em;width:auto;font-weight:bold}
.short{width:3em}
.bottom{position:absolute;bottom:0}
.mono{height:1.1em;overflow:hidden}
.dual{height:2.2em;overflow:hidden}
.trip{height:3.3em;overflow:hidden}
.quad{height:4.4em;overflow:hidden}
.pent{height:5.5em;overflow:hidden}
.hexa{height:6.6em;overflow:hidden}
.sept{height:7.7em;overflow:hidden}
.octo{height:8.8em;overflow:hidden}
.nove{height:9.9em;overflow:hidden}
.deca{height:11em;overflow:hidden}
.mega487{height:15em;overflow:hidden}
.trnt{height:33em}
span.float-right.small{width:auto}
.overflow{overflow:auto !important}
.align-center{text-align:center}
.align-left{text-align:left}
.align-right{text-align:right}
table tr.padleft td span{padding-left:.4em}
table tr td span.strong{font-weight:bold}
.margin{padding:.3em .2em 0 1.8em;width:auto}
.mediumtext{width:auto;padding-left:1.2em}
.customtext{font-size:1.35em;line-height:1.6}
span.line{border-top:solid .1em #999;margin-top:2em} 