﻿/* -- Telerik -- */
.t-tabstrip-items .t-item{border-radius:1em 1em 0 0}
.t-animation-container{border:solid .1em #aaa;margin-top:-4px}
.t-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3em;text-decoration:none;font-size:100%;list-style:none}
.tOverview,.tGrid,.tMenu,.tPanelBar,.tTabStrip,.tCalendar,.tDatePicker,.tTreeView,.tNumericTextBox{background:transparent url(/Images/sprite.png) no-repeat 0 0}
.tOverview{background-position:0 -47px}
.tGrid{background-position:-16px -47px}
.tMenu{background-position:-32px -47px}
.tPanelBar{background-position:-48px -47px}
.tTabStrip{background-position:-64px -47px}
.tCalendar{background-position:-80px -47px}
.tTreeView{background-position:-96px -47px}
.tDatePicker{background-position:-112px -47px}
.tNumericTextBox{background-position:-128px -47px}
.t-widget{border-width:1px;border-style:solid}
.t-link{cursor:pointer;outline:none}
.t-button{display:block;cursor:pointer;text-decoration:none;outline:none;text-align:center;padding:2px 4px;line-height:18px;border-width:1px;border-style:solid}
*+html .t-button{padding:1px 4px}
.t-button .t-icon{vertical-align:top;margin-right:3px;margin-left:-6px}
.t-grid-rtl .t-button .t-icon{margin-left:3px;margin-right:-6px}
.t-header .t-link{text-decoration:none}
.t-state-disabled,.t-state-disabled .t-link{cursor:default;outline:none}
.t-icon,.t-sprite,.ui-icon{display:inline-block;vertical-align:middle !important;width:16px;height:16px;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;margin-right:4px}
* html .t-icon,.t-sprite{text-indent:0}
*+html .t-icon,.t-sprite{text-indent:0}
.t-image{border:0}
.t-tabstrip{clear:both;margin:0;padding:0}
.t-tabstrip .t-reset{padding:0 .3em}
.t-tabstrip .t-item{list-style-type:none;display:inline-block;border-width:1px;border-style:solid;margin:.1em 0 0 0;position:relative;top:1px}
.t-tabstrip .t-link{padding:.3em 1.1em;display:inline-block;outline:0}
.t-tabstrip .t-item .t-icon{margin:-1px 4px 0 -3px;vertical-align:top}
.t-tabstrip .t-item .t-image,.t-tabstrip .t-item .t-sprite{vertical-align:middle !important;margin:-4px 3px 0 -3px}
* html .t-tabstrip .t-item .t-image,* html .t-tabstrip .t-item .t-sprite{vertical-align:top;margin-top:-1px}
*+html .t-tabstrip .t-item .t-image,*+html .t-tabstrip .t-item .t-sprite{vertical-align:top;margin-top:-1px}
.t-tabstrip .t-content{border-width:1px;border-style:solid;margin:0 .3em .3em;padding:0 1em;display:none}
.t-tabstrip-rtl{direction:rtl}
.t-tabstrip-rtl .t-item .t-icon{margin:-1px -3px 0 4px}
.t-tabstrip-rtl .t-item .t-image,.t-tabstrip-rtl .t-item .t-sprite{margin:-4px -3px 0 3px}
.t-menu{cursor:default}
.t-menu,.t-menu .t-group{list-style:none;padding:0;margin:0}
.t-menu .t-group .t-link{padding-right:2em}
.t-menu .t-item{position:relative;display:inline-block;border-width:0 1px 0 0;border-style:solid;vertical-align:top}
.t-menu-vertical .t-item{display:block;border-width:0}
.t-menu .t-image,.t-menu .t-sprite{margin:0 4px 0 -4px;vertical-align:top}
.t-menu .t-link{text-decoration:none;padding:.25em .97em;display:block}
.t-menu .t-group{display:none;white-space:nowrap;border-style:solid;border-width:1px;overflow:visible}
.t-menu .t-group .t-item{display:block;border-width:0}
.t-menu .t-arrow-down{margin-left:2px;margin-right:-10px;vertical-align:top}
.t-menu .t-arrow-next{position:absolute;right:0;top:3px}
.t-menu .t-animation-container,.t-menu .t-group{left:-1px;position:absolute}
.t-menu .t-animation-container .t-animation-container,.t-menu .t-group .t-group{left:100%;top:-1px}
.t-menu-vertical .t-animation-container,.t-menu-vertical .t-group{left:100%;top:-1px}
.t-menu .t-animation-container .t-group{left:auto;top:auto}
.t-menu-rtl{direction:rtl}
.t-menu-rtl .t-group .t-link{padding-left:2em;padding-right:.97em}
.t-menu-rtl .t-item{border-width:0 0 0 1px}
.t-menu-rtl .t-image,.t-menu-rtl .t-sprite{margin:0 -4px 0 4px}
.t-menu-rtl .t-arrow-down{margin-left:-10px;margin-right:2px}
.t-menu-rtl .t-arrow-next{right:auto;left:0}
.t-menu-rtl .t-animation-container,.t-menu-rtl .t-group{left:auto;right:-1px}
.t-menu-rtl .t-animation-container .t-animation-container,.t-menu-rtl .t-group .t-group{right:100%;left:auto}
.t-menu-vertical-rtl .t-animation-container,.t-menu-vertical-rtl .t-group{right:100%;left:auto}
.t-menu-rtl .t-animation-container .t-group{right:auto}
.t-grid{position:absolute;top:0;right:0;bottom:0;left:0}
.t-grid table{width:100%;border-collapse:separate;empty-cells:show;border:0}
.t-grid .t-header{text-align:left}
.t-grid .t-header,.t-grid .t-last-header{padding:.3em .6em;border-width:0 1px 1px 0;border-style:solid;white-space:nowrap;overflow:hidden}
.t-grid .t-last-header{border-right-width:0}
.t-grid .t-header .t-link{display:block;margin:-.3em -.6em;padding:.3em 2.4em .3em .6em}
.t-grid .t-state-hover{cursor:pointer}
.t-grid td{padding:.25em .6em;border:0;line-height:1.6em;overflow:hidden}
.t-grid .t-last{border-right-width:0;border-bottom-width:0}
.t-grid-header-wrap{position:relative;overflow:hidden;width:100%}
.t-grid-header{padding-right:17px;border-bottom-width:1px;border-bottom-style:solid}
.t-grid-header .t-header,.t-grid-header .t-last-header{border-bottom-width:0}
.t-grid-header .t-last-header{border-right-width:1px}
.t-grid-content{overflow:auto;overflow-x:hidden;overflow-y:scroll;width:100%}
.t-grid-header table,.t-grid-content table{table-layout:fixed}
* html .t-grid-content table{width:auto}
*+html .t-grid-content table{width:auto}
.t-grid .t-footer,.t-grid-footer{border-style:solid;border-width:1px 0 0;position:absolute;right:0;bottom:0;left:0}
.t-grid .t-footer{padding:.2em .6em;line-height:1.8em;overflow:auto;position:absolute;right:0;left:0;bottom:0}
* html .t-footer input{vertical-align:middle !important}
*+html .t-footer input{vertical-align:middle !important}
.t-grid .t-pager,.t-grid .t-status,.t-grid .t-status-text,.t-pager .t-numeric,.t-pager .t-page-i-of-n,.t-pager .t-link,.t-pager span,.t-pager input,.t-grouping-row p{display:inline-block;vertical-align:middle !important}
.t-grid .t-status{float:left;margin:-.2em .6em -.2em -.6em;height:1.85em;border-right-width:1px;border-right-style:solid}
.t-grid .t-pager{float:left;cursor:default}
.t-grid .t-status-text{float:right;margin-right:.5em;line-height:22px}
.t-pager .t-link{text-decoration:none;padding:1px;margin-top:.125em}
.t-pager .t-state-active,.t-pager .t-state-hover{padding:0;border-width:1px;border-style:solid}
.t-pager .t-numeric,.t-pager .t-page-i-of-n{margin:0 7px;vertical-align:top}
.t-numeric .t-link,.t-numeric .t-state-active{margin-top:0;padding:0 5px;line-height:22px;vertical-align:top}
.t-numeric .t-state-active,.t-numeric .t-state-hover{padding:0 4px;line-height:20px}
.t-page-i-of-n input{width:2em;vertical-align:baseline;font-size:1em}
.t-footer .t-status .t-icon{vertical-align:top;margin-top:3px}
.t-grid-filter{float:right;height:18px;margin:-1.8em -.6em -.3em 3px;padding:.3em .2em;position:relative;display:inline-block}
.t-grid-filter .t-icon{vertical-align:top}
.t-grid .t-animation-container{position:absolute}
.t-filter-options{position:absolute;border-width:1px;border-style:solid;padding:3px;width:148px}
.t-filter-options .t-filter-help-text,.t-filter-options select,.t-filter-options input,.t-filter-options .t-button,.t-filter-options .t-datepicker{display:block;margin-bottom:4px}
.t-filter-options .t-button,.t-filter-options select{width:148px}
.t-filter-options input{width:142px}
.t-filter-options .t-filter-button{margin-bottom:0}
.t-grouping-row .t-icon{margin:0 4px}
.t-grouping-row p{padding:0 .6em;margin-left:-.6em}
.t-grid td.t-groupcell{border-right:0}
.t-grid .t-groupcol{width:30px}
.t-drag-clue{border-width:1px;border-style:solid;font-size:.9em;padding:.05em .15em}
.t-grouping-header,.t-grouping-dropclue{height:24px;line-height:24px}
.t-grouping-dropclue{position:absolute;width:6px}
.t-grouping-header .t-group-indicator{display:inline-block;border-width:1px;border-style:solid;line-height:1.5em;padding:.15em .15em .15em .4em;margin:0 3px}
.t-grouping-header .t-link{text-decoration:none}
.t-grouping-header .t-button{padding:0;border:0;background:transparent}
.t-grouping-header .t-icon{vertical-align:top}
.t-grouping-header .t-link .t-icon{margin:0 0 0 -3px}
.t-grouping-header .t-button .t-icon{margin:0 0 0 3px}
.t-grouping-header a,.t-grouping-header .t-button{display:inline-block;vertical-align:baseline}
.t-grouping-header,.t-grid-toolbar{cursor:default;margin:0;padding:.25em;border-bottom-width:1px;border-bottom-style:solid}
.t-grid .t-edit-container{padding:0;border-right:0}
.t-edit-form{padding:0;margin:0}
.t-edit-form td{border-top:0;border-bottom:0}
.t-edit-container .text-box,.t-edit-container .t-numerictextbox,.t-edit-container .t-datepicker{vertical-align:middle !important;width:5em;max-width:90%;min-width:90%;margin:-.35em -.3em -.15em}
* html .t-grid .text-box{width:90%}
.t-grid .field-validation-error{display:block}
.t-grid .input-validation-error{border-style:ridge;border-color:#f00;background-color:#ffc0cb}
.t-grid-toolbar .t-button,.t-grid-actions,.t-grid-action{display:inline-block;vertical-align:middle !important;font-size:1em;line-height:1.417em}
.t-grid-action,.t-grid-toolbar .t-button{margin:0 .2em;min-width:45px}
.t-grid-toolbar .t-button,button.t-grid-action,#ie8#fix{min-width:75px}
.t-grid-rtl{direction:ltr}
.t-grid-rtl .t-grid-header,.t-grid-rtl .t-grid-content,.t-grid-rtl .t-grid-footer,.t-grid-rtl .t-filter-options{direction:rtl}
.t-grid-rtl table{border-collapse:separate}
.t-grid-rtl .t-grid-header{padding-right:0;padding-left:17px;text-align:right}
.t-grid-rtl .t-header{text-align:right;border-width:0 0 1px 1px}
.t-grid-rtl .t-header .t-link{padding:.3em .6em .3em 2.4em}
.t-grid-rtl .t-grid-filter{float:left;margin:-1.8em 3px -.3em -.6em}
.t-grid-rtl .t-pager{direction:ltr;float:right}
.t-grid-rtl .t-status{float:right;border-right-width:0;border-left-style:solid;border-left-width:1px;margin:-.2em -.6em -.2em .6em}
.t-grid-rtl .t-status-text{float:left}
.t-panelbar .t-item{list-style-type:none}
.t-panelbar .t-image,.t-panelbar .t-sprite{vertical-align:middle !important;margin-right:5px;margin-top:4px;float:left}
.t-panelbar .t-group .t-image,.t-panelbar .t-group .t-sprite{margin-top:1px}
.t-panelbar .t-link{line-height:2.05em;padding:0 1em;border-bottom:1px solid;display:block;position:relative;text-decoration:none}
.t-panelbar .t-arrow-up,.t-panelbar .t-arrow-down{position:absolute;top:5px;right:2px}
.t-panelbar .t-group,.t-panelbar .t-content{position:relative;padding:0;margin:0;border-bottom-width:1px;border-bottom-style:solid}
.t-panelbar .t-group .t-link{line-height:1.7em;border-bottom:0;font-size:.95em}
.t-panelbar .t-group .t-arrow-up,.t-panelbar .t-group .t-arrow-down{top:2px}
.t-panelbar .t-group .t-group .t-link{padding-left:2em}
.t-panelbar .t-last .t-link{border-bottom:0}
.t-panelbar .t-group .t-group{border-bottom:0}
.t-panelbar-rtl{direction:rtl}
.t-panelbar-rtl .t-image,.t-panelbar-rtl .t-sprite{margin-right:0;margin-left:5px;float:right}
.t-panelbar-rtl .t-arrow-up,.t-panelbar-rtl .t-arrow-down{right:auto;left:2px}
.t-panelbar-rtl .t-group .t-group .t-link{padding-left:0;padding-right:2em}
.t-calendar,.ui-datepicker{display:inline-block;width:203px;overflow:hidden}
.t-calendar .t-link,.ui-datepicker .ui-link{text-decoration:none}
.t-calendar .t-action-link{text-decoration:underline}
.t-calendar .t-header,.ui-datepicker-header{padding:.4em 0;text-align:center;position:relative}
.t-calendar .t-nav-prev,.t-calendar .t-nav-next,.ui-datepicker-prev,.ui-datepicker-next{position:absolute;top:.3em}
.t-calendar .t-nav-prev,.ui-datepicker-prev{left:1%}
.t-calendar .t-nav-next,.ui-datepicker-next{right:1%}
.t-calendar .t-content,.ui-datepicker-calendar{text-align:right;width:100%;height:169px;table-layout:fixed}
.t-calendar .t-animation-container .t-content{height:100%}
.t-calendar .t-nav-fast,.ui-datepicker-title{display:inline-block;width:75%}
.t-calendar .t-nav-fast .t-icon,.ui-icon{vertical-align:top}
.t-calendar th,.ui-datepicker-calendar th{border-bottom-style:solid;border-bottom-width:1px;font-weight:normal;cursor:default}
.t-calendar td,.ui-datepicker-calendar td{cursor:pointer;padding:1px}
.t-calendar .t-state-focus,.ui-datepicker-current-day{border-width:1px;border-style:dotted;padding:0}
.t-calendar .t-content .t-link{display:block;overflow:hidden;position:relative}
.t-calendar th,.t-calendar .t-content .t-link{padding:.25em .45em .3em .1em}
.t-calendar .t-meta-view .t-link{padding:.25em 0 .3em;text-align:center}
.t-datepicker{border:0;white-space:nowrap}
div.t-datepicker{background-color:transparent}
.t-datepicker,.t-datepicker .t-input,.t-datepicker .t-icon-calendar,.ui-datepicker{display:inline-block;vertical-align:middle !important}
.t-datepicker-calendar,.ui-datepicker{z-index:50000}
div.t-treeview{border-width:0;background:none;white-space:nowrap;overflow:auto}
.t-treeview .t-item{padding-left:16px}
.t-treeview .t-group,.t-treeview .t-content{list-style-type:none;background:none;margin:0;padding:0}
.t-treeview .t-icon,.t-treeview .t-image,.t-treeview .t-in{display:inline-block;vertical-align:top}
.t-treeview .t-plus,.t-treeview .t-minus,.t-treeview .t-plus-disabled,.t-treeview .t-minus-disabled{margin-left:-16px;margin-top:2px}
.t-treeview .t-plus,.t-treeview .t-minus{cursor:pointer}
.t-treeview .t-plus-disabled,.t-treeview .t-minus-disabled{cursor:default}
.t-treeview .t-image{margin-right:3px}
.t-treeview .t-in{margin:1px 0;padding:2px 4px 2px 3px;text-decoration:none;line-height:16px;margin-left:2px}
.t-treeview span.t-in{cursor:default}
.t-treeview .t-state-hover,.t-treeview .t-state-selected{padding:1px 3px 1px 2px;border-width:1px;border-style:solid}
.t-treeview .t-drop-clue{width:80px;visibility:hidden;height:5px;position:absolute;margin-top:-3px;z-index:10000;background-color:transparent;background-repeat:no-repeat}
.t-treeview-lines .t-top{background-position:-91px 0}
.t-treeview-lines .t-bot{background-position:-69px -22px}
.t-treeview-lines .t-mid{background-position:-47px -44px}
.t-treeview-lines .t-last .t-top{background-position:-25px -66px}
.t-treeview-lines .t-item{background-repeat:no-repeat}
.t-treeview-lines .t-first{background-repeat:no-repeat;background-position:0 16px}
div.t-numerictextbox{display:inline-block;vertical-align:middle !important;white-space:nowrap;border:0;background:transparent}
.t-numerictextbox .t-icon{margin-left:-16px}
.t-numerictextbox .t-arrow-up{vertical-align:top;margin-top:1px;height:10px}
.t-numerictextbox .t-arrow-down{vertical-align:bottom;margin-bottom:1px;height:11px}
.t-drag-clue{position:absolute;z-index:10000;padding:1px 3px 1px 2px;white-space:nowrap;cursor:default}
.t-drag-status{margin-right:4px;vertical-align:top}
.t-status{margin:0 .5em !important;padding:0 .5em 0 0}
.t-grid .t-hierarchy-col{width:30px}