﻿/* -- Visit Note -- */
.note h3{text-align:center}
.note ol,.note ul{clear:both}
.note li.quarter{width:25%;float:left}
.note li.third{width:33.33%;float:left}
.note li.half{width:50%;float:left}
.note li .wrapper{border:.1em solid #888;background-color:#fffcf2;padding:.5em;margin:.5em;
    border-radius:.5em;
    box-shadow:0 .2em .3em #aaa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf2', endColorstr='#f5e9c4');
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
.note ul li .wrapper{font-weight:bold;padding:.2em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde8f5',endColorstr='#c3d8f1');
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5))}
.note .quarter .row,.note .third .row,.note .half .row{max-width:40em}