﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
    printview.addsection(
        printview.span("(M2030) Management of Injectable Medications: Patient&rsquo;s current ability to prepare and take all prescribed injectable medications reliably and safely, including administration of correct dosage at the appropriate times/intervals. Excludes IV medications.",true) +
        printview.checkbox("0 &ndash; Able to independently take the correct medication(s) and proper dosage(s) at the correct times.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("00") ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to take injectable medication(s) at the correct times if: %3Cul%3E%3Cli%3E(a) individual syringes are prepared in advance by another person; OR%3C/li%3E%3Cli%3E(b) another person develops a drug diary or chart.%3C/li%3E%3C/ul%3E",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to take medication(s) at the correct times if given reminders by another person based on the frequency of the injection",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("02") ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Unable to take injectable medication unless administered by another person.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("03") ? "true" : "false"%>) +
        printview.checkbox("NA &ndash; No injectable medications prescribed.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
</script>