﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
    printview.addsection(
        printview.col(4,
            printview.span("Column 1",true) +
            printview.span("Column 2",true) +
            printview.span("Column 3",true) +
            printview.span("Column 4",true) +
            printview.span("(M1020) Primary Diagnosis",true) +
            printview.span("ICD-9-C M and Severity",true) +
            printview.span("(M1024) Description/ ICD-9-C M",true) +
            printview.span("(M1024) Description/ ICD-9-C M",true)) +
        "%3Cspan class=%22float_left%22%3Ea.%3C/span%3E%3Cspan class=%22labeledrow%22%3E" +
        printview.col(4,
            printview.span("<%= data != null && data.ContainsKey("M1020PrimaryDiagnosis") && data["M1020PrimaryDiagnosis"].Answer.IsNotNullOrEmpty() ? data["M1020PrimaryDiagnosis"].Answer : ""%><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis") && data["485ExacerbationOrOnsetPrimaryDiagnosis"].Answer == "2" ? " Onset " : "" %><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis") && data["485ExacerbationOrOnsetPrimaryDiagnosis"].Answer == "1" ? " Exacerbation " : "" %><%= data != null && data.ContainsKey("M1020PrimaryDiagnosisDate") && data["M1020PrimaryDiagnosisDate"].Answer.IsNotNullOrEmpty() ? data["M1020PrimaryDiagnosisDate"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1020ICD9M") && data["M1020ICD9M"].Answer.IsNotNullOrEmpty() ? data["M1020ICD9M"].Answer : ""%><%= data != null && data.ContainsKey("M1020SymptomControlRating") && data["M1020SymptomControlRating"].Answer.IsNotNullOrEmpty() ? " Severity " + data["M1020SymptomControlRating"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesA3") && data["M1024PaymentDiagnosesA3"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesA3"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MA3") && data["M1024ICD9MA3"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MA3"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesA4") && data["M1024PaymentDiagnosesA4"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesA4"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MA4") && data["M1024ICD9MA4"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MA4"].Answer : ""%>",false,1)) +
        "%3C/span%3E" +
        printview.span("(M1022) Other Diagnoses",true) +
        "%3Cspan class=%22float_left%22%3Eb.%3C/span%3E%3Cspan class=%22labeledrow%22%3E" +
        printview.col(4,
            printview.span("<%= data != null && data.ContainsKey("M1022PrimaryDiagnosis1") && data["M1022PrimaryDiagnosis1"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosis1"].Answer : ""%><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis1") && data["485ExacerbationOrOnsetPrimaryDiagnosis1"].Answer == "2" ? " Onset " : "" %><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis1") && data["485ExacerbationOrOnsetPrimaryDiagnosis1"].Answer == "1" ? " Exacerbation " : "" %><%= data != null && data.ContainsKey("M1022PrimaryDiagnosisDate1") && data["M1022PrimaryDiagnosisDate1"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosisDate1"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1022ICD9M1") && data["M1022ICD9M1"].Answer.IsNotNullOrEmpty() ? data["M1022ICD9M1"].Answer : ""%><%= data != null && data.ContainsKey("M1022OtherDiagnose1Rating") && data["M1022OtherDiagnose1Rating"].Answer.IsNotNullOrEmpty() ? " Severity " + data["M1022OtherDiagnose1Rating"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesB3") && data["M1024PaymentDiagnosesB3"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesB3"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MB3") && data["M1024ICD9MB3"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MB3"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesB4") && data["M1024PaymentDiagnosesB4"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesB4"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MB4") && data["M1024ICD9MB4"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MB4"].Answer : ""%>",false,1)) +
        "%3C/span%3E%3Cspan class=%22float_left%22%3Ec.%3C/span%3E%3Cspan class=%22labeledrow%22%3E" +
        printview.col(4,
            printview.span("<%= data != null && data.ContainsKey("M1022PrimaryDiagnosis2") && data["M1022PrimaryDiagnosis2"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosis2"].Answer : ""%><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis2") && data["485ExacerbationOrOnsetPrimaryDiagnosis2"].Answer == "2" ? " Onset " : "" %><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis2") && data["485ExacerbationOrOnsetPrimaryDiagnosis2"].Answer == "1" ? " Exacerbation " : "" %><%= data != null && data.ContainsKey("M1022PrimaryDiagnosisDate2") && data["M1022PrimaryDiagnosisDate2"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosisDate2"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1022ICD9M2") && data["M1022ICD9M2"].Answer.IsNotNullOrEmpty() ? data["M1022ICD9M2"].Answer : ""%><%= data != null && data.ContainsKey("M1022OtherDiagnose2Rating") && data["M1022OtherDiagnose2Rating"].Answer.IsNotNullOrEmpty() ? " Severity " + data["M1022OtherDiagnose2Rating"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesC3") && data["M1024PaymentDiagnosesC3"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesC3"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MC3") && data["M1024ICD9MC3"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MC3"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesC4") && data["M1024PaymentDiagnosesC4"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesC4"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MC4") && data["M1024ICD9MC4"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MC4"].Answer : ""%>",false,1)) +
        "%3C/span%3E%3Cspan class=%22float_left%22%3Ed.%3C/span%3E%3Cspan class=%22labeledrow%22%3E" +
        printview.col(4,
            printview.span("<%= data != null && data.ContainsKey("M1022PrimaryDiagnosis3") && data["M1022PrimaryDiagnosis3"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosis3"].Answer : ""%><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis3") && data["485ExacerbationOrOnsetPrimaryDiagnosis3"].Answer == "2" ? " Onset " : "" %><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis3") && data["485ExacerbationOrOnsetPrimaryDiagnosis3"].Answer == "1" ? " Exacerbation " : "" %><%= data != null && data.ContainsKey("M1022PrimaryDiagnosisDate3") && data["M1022PrimaryDiagnosisDate3"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosisDate3"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1022ICD9M3") && data["M1022ICD9M3"].Answer.IsNotNullOrEmpty() ? data["M1022ICD9M3"].Answer : ""%><%= data != null && data.ContainsKey("M1022OtherDiagnose3Rating") && data["M1022OtherDiagnose3Rating"].Answer.IsNotNullOrEmpty() ? " Severity " + data["M1022OtherDiagnose3Rating"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesD3") && data["M1024PaymentDiagnosesD3"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesD3"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MD3") && data["M1024ICD9MD3"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MD3"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesD4") && data["M1024PaymentDiagnosesD4"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesD4"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MD4") && data["M1024ICD9MD4"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MD4"].Answer : ""%>",false,1)) +
        "%3C/span%3E%3Cspan class=%22float_left%22%3Ee.%3C/span%3E%3Cspan class=%22labeledrow%22%3E" +
        printview.col(4,
            printview.span("<%= data != null && data.ContainsKey("M1022PrimaryDiagnosis4") && data["M1022PrimaryDiagnosis4"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosis4"].Answer : ""%><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis4") && data["485ExacerbationOrOnsetPrimaryDiagnosis4"].Answer == "2" ? " Onset " : "" %><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis4") && data["485ExacerbationOrOnsetPrimaryDiagnosis4"].Answer == "1" ? " Exacerbation " : "" %><%= data != null && data.ContainsKey("M1022PrimaryDiagnosisDate4") && data["M1022PrimaryDiagnosisDate4"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosisDate4"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1022ICD9M4") && data["M1022ICD9M4"].Answer.IsNotNullOrEmpty() ? data["M1022ICD9M4"].Answer : ""%><%= data != null && data.ContainsKey("M1022OtherDiagnose4Rating") && data["M1022OtherDiagnose4Rating"].Answer.IsNotNullOrEmpty() ? " Severity " + data["M1022OtherDiagnose4Rating"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesE3") && data["M1024PaymentDiagnosesE3"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesE3"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9ME3") && data["M1024ICD9ME3"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9ME3"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesE4") && data["M1024PaymentDiagnosesE4"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesE4"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9ME4") && data["M1024ICD9ME4"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9ME4"].Answer : ""%>",false,1)) +
        "%3C/span%3E%3Cspan class=%22float_left%22%3Ef.%3C/span%3E%3Cspan class=%22labeledrow%22%3E" +
        printview.col(4,
            printview.span("<%= data != null && data.ContainsKey("M1022PrimaryDiagnosis5") && data["M1022PrimaryDiagnosis5"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosis5"].Answer : ""%><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis5") && data["485ExacerbationOrOnsetPrimaryDiagnosis5"].Answer == "2" ? " Onset " : "" %><%= data != null && data.ContainsKey("485ExacerbationOrOnsetPrimaryDiagnosis5") && data["485ExacerbationOrOnsetPrimaryDiagnosis5"].Answer == "1" ? " Exacerbation " : "" %><%= data != null && data.ContainsKey("M1022PrimaryDiagnosisDate5") && data["M1022PrimaryDiagnosisDate5"].Answer.IsNotNullOrEmpty() ? data["M1022PrimaryDiagnosisDate5"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1022ICD9M5") && data["M1022ICD9M5"].Answer.IsNotNullOrEmpty() ? data["M1022ICD9M5"].Answer : ""%><%= data != null && data.ContainsKey("M1022OtherDiagnose5Rating") && data["M1022OtherDiagnose5Rating"].Answer.IsNotNullOrEmpty() ? " Severity " + data["M1022OtherDiagnose5Rating"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesF3") && data["M1024PaymentDiagnosesF3"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesF3"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MF3") && data["M1024ICD9MF3"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MF3"].Answer : ""%>",false,1) +
            printview.span("<%= data != null && data.ContainsKey("M1024PaymentDiagnosesF4") && data["M1024PaymentDiagnosesF4"].Answer.IsNotNullOrEmpty() ? data["M1024PaymentDiagnosesF4"].Answer : ""%><%= data != null && data.ContainsKey("M1024ICD9MF4") && data["M1024ICD9MF4"].Answer.IsNotNullOrEmpty() ? " " + data["M1024ICD9MF4"].Answer : ""%>",false,1)) +
        "%3C/span%3E");
    printview.addsection(
        printview.span("(M1030) Therapies the patient receives at home",true) +
        printview.col(2,
            printview.checkbox("1 &ndash; Intravenous or infusion therapy (excludes TPN)",<%= data != null && data.ContainsKey("M1030HomeTherapiesInfusion") && data["M1030HomeTherapiesInfusion"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("2 &ndash; Parenteral nutrition (TPN or lipids)",<%= data != null && data.ContainsKey("M1030HomeTherapiesParNutrition") && data["M1030HomeTherapiesParNutrition"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("3 &ndash; Enteral nutrition",<%= data != null && data.ContainsKey("M1030HomeTherapiesEntNutrition") && data["M1030HomeTherapiesEntNutrition"].Answer == "1" ? "true" : "false"%>) +
            printview.checkbox("4 &ndash; None of the above",<%= data != null && data.ContainsKey("M1030HomeTherapiesNone") && data["M1030HomeTherapiesNone"].Answer == "1" ? "true" : "false"%>)));
</script>