﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<VisitNoteViewData>" %>
<%  var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<%  string[] interventions = data.AnswerArray("GenericInterventions"); %>
<%= Html.Hidden(Model.Type + "_GenericInterventions", string.Empty, new { @id = Model.Type + "_GenericInterventionsHidden" })%>
<table class="fixed"><tbody>
    <tr>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions1' class='float-left radio' name='{0}_GenericInterventions' value='1' type='checkbox' {1} />", Model.Type, interventions.Contains("1").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions1" class="radio">Skilled Observation/Assessment</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions2' class='float-left radio' name='{0}_GenericInterventions' value='2' type='checkbox' {1} />", Model.Type, interventions.Contains("2").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions2" class="radio">Instructed on Safety Precautions</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions3' class='float-left radio' name='{0}_GenericInterventions' value='3' type='checkbox' {1} />", Model.Type, interventions.Contains("3").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions3" class="radio">Medication Adminstration</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions4' class='float-left radio' name='{0}_GenericInterventions' value='4' type='checkbox' {1} />", Model.Type, interventions.Contains("4").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions4" class="radio">Diabetic Monitoring/Care</label></div></td>
    </tr><tr>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions5' class='float-left radio' name='{0}_GenericInterventions' value='5' type='checkbox' {1} />", Model.Type, interventions.Contains("5").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions5" class="radio">Foley Change</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions6' class='float-left radio' name='{0}_GenericInterventions' value='6' type='checkbox' {1} />", Model.Type, interventions.Contains("6").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions6" class="radio">IV Tubing Change</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions7' class='float-left radio' name='{0}_GenericInterventions' value='7' type='checkbox' {1} />", Model.Type, interventions.Contains("7").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions7" class="radio">Patient/CG teaching</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions8' class='float-left radio' name='{0}_GenericInterventions' value='8' type='checkbox' {1} />", Model.Type, interventions.Contains("8").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions8" class="radio">Instructed on Emergency Preparedness</label></div></td>
    </tr><tr>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions9' class='float-left radio' name='{0}_GenericInterventions' value='9' type='checkbox' {1} />", Model.Type, interventions.Contains("9").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions9" class="radio">Prep./Admin. Insulin</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions10' class='float-left radio' name='{0}_GenericInterventions' value='10' type='checkbox' {1} />", Model.Type, interventions.Contains("10").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions10" class="radio">Administer Enteral nutrition</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions11' class='float-left radio' name='{0}_GenericInterventions' value='11' type='checkbox' {1} />", Model.Type, interventions.Contains("11").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions11" class="radio">Glucometer calibration</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions12' class='float-left radio' name='{0}_GenericInterventions' value='12' type='checkbox' {1} />", Model.Type, interventions.Contains("12").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions12" class="radio">Trachea care</label></div></td>
    </tr><tr>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions13' class='float-left radio' name='{0}_GenericInterventions' value='13' type='checkbox' {1} />", Model.Type, interventions.Contains("13").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions13" class="radio">IV Site Dressing Change</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions14' class='float-left radio' name='{0}_GenericInterventions' value='14' type='checkbox' {1} />", Model.Type, interventions.Contains("14").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions14" class="radio">IM Injection / SQ Injection</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions15' class='float-left radio' name='{0}_GenericInterventions' value='15' type='checkbox' {1} />", Model.Type, interventions.Contains("15").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions15" class="radio">Peg/GT Tube Site care</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions16' class='float-left radio' name='{0}_GenericInterventions' value='16' type='checkbox' {1} />", Model.Type, interventions.Contains("16").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions16" class="radio">Foot care performed</label></div></td>
    </tr><tr>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions17' class='float-left radio' name='{0}_GenericInterventions' value='17' type='checkbox' {1} />", Model.Type, interventions.Contains("17").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions17" class="radio">Wound Care / Dressing Change</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions18' class='float-left radio' name='{0}_GenericInterventions' value='18' type='checkbox' {1} />", Model.Type, interventions.Contains("18").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions18" class="radio">IV Site Change</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions19' class='float-left radio' name='{0}_GenericInterventions' value='19' type='checkbox' {1} />", Model.Type, interventions.Contains("19").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions19" class="radio">Foley Irrigation</label></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions20' class='float-left radio' name='{0}_GenericInterventions' value='20' type='checkbox' {1} />", Model.Type, interventions.Contains("20").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions20" class="float-left inline-radio light">Diet Teaching</label><%= Html.TextBox(Model.Type + "_GenericDietTeaching", data.AnswerOrEmptyString("GenericDietTeaching"), new { @id = Model.Type + "_GenericDietTeaching", @class = "float-left oe" })%></div></td>
    </tr><tr>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions21' class='float-left radio' name='{0}_GenericInterventions' value='21' type='checkbox' {1} />", Model.Type, interventions.Contains("21").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions21" class="float-left inline-radio light">Venipuncture/Lab:</label><%= Html.TextBox(Model.Type + "_GenericVenipuncture", data.AnswerOrEmptyString("GenericVenipuncture"), new { @id = Model.Type + "_GenericVenipuncture", @class = "float-left oe" })%></div></td>
        <td><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions22' class='float-left radio' name='{0}_GenericInterventions' value='22' type='checkbox' {1} />", Model.Type, interventions.Contains("22").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions22" class="float-left inline-radio light">Instructed on Medication</label><%= Html.TextBox(Model.Type + "_GenericInstructedOnMedication", data.AnswerOrEmptyString("GenericInstructedOnMedication"), new { @id = Model.Type + "_GenericInstructedOnMedication", @class = "float-left oe" })%></div></td>
        <td colspan="2"><div class="align-left"><%= string.Format("<input id='{0}_GenericInterventions23' class='float-left radio' name='{0}_GenericInterventions' value='23' type='checkbox' {1} />", Model.Type, interventions.Contains("23").ToChecked()) %><label for="<%= Model.Type %>_GenericInterventions23" class="float-left inline-radio light">Instructed on Disease Process to include:</label><%= Html.TextBox(Model.Type + "_GenericInstructedOnDiseaseProcess", data.AnswerOrEmptyString("GenericInstructedOnDiseaseProcess"), new { @id = Model.Type + "_GenericInstructedOnDiseaseProcess", @class = "float-left oe" })%></div></td>
    </tr>
</tbody></table>