﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<GridViewData>" %>
<div class="top"></div>
<div class="bottom"><% Html.RenderPartial("Managed/Center/Claims", Model, ViewData); %></div>   
