﻿/* -- Forms -- */
.green,a.green{color:#368c36;}
fieldset.oasis{background:#ebfceb;}
fieldset.loc485{background:#e3e3e3;border-color:#ccc;}
fieldset input,fieldset select,.notes input,.notes select{width:200px;margin:3px;vertical-align:middle;}
fieldset table input,fieldset table select{width:184px;}
fieldset textarea{width:98%;height:50px;}
fieldset.half{width:45%;}
fieldset.half .column,fieldset .wide_column{width:95%;padding:10px 2.5%;}
fieldset.half.float-left{margin:10px 0 10px 10px;}
fieldset.half.float-right{margin:10px 10px 10px 0;}
fieldset .column{width:46%;padding:10px;float:left;}
fieldset .column .row:first-child,fieldset .wide_column .row:first-child,fieldset .wide_column .column .row:first-child{border-top:none;}
fieldset .row,fieldset .wide_column .column .row{width:100% !important;clear:both;max-width:450px;position:relative;display:block;padding:2px 0;margin:2px auto;border-top:dotted 1px #ddd;}
fieldset .wide_column .row{max-width:1500px;}
fieldset .wide_column .row .width200{width:200px;}
fieldset table{width:100%;padding:10px;table-layout:fixed;text-align:left;}
fieldset table.layout_auto{table-layout:auto;}
table.borders{border:solid 1px #d3d3d3;border-collapse:collapse;}
.borders td{border:solid 1px #d3d3d3;border-collapse:collapse;}
fieldset table td{vertical-align:top;}
fieldset table tr.linesep td,fieldset table tr.linesep th{border-top:dotted 1px #ddd;padding-top:5px;}
fieldset table tr.linesepvert td{border-left:dotted 1px #ddd;padding-left:5px;vertical-align:bottom;}
fieldset table tr.linesepvert td:first-child{border-left:0;}
fieldset.oasis .row .float-right{margin-right:24px;}
fieldset.oasis .row .float-right.oasis{margin-right:0;}
fieldset label{width:auto !important;vertical-align:middle;}
fieldset label.radio,fieldset span.radio{display:block;margin-left:25px;}
fieldset .more{display:inline-block !important;margin-left:2px !important;width:240px !important;vertical-align:top;}
fieldset .more.small{width:140px !important;}
label.radio.fixed,label.inlineradio.fixed{width:105px !important;display:inline-block;}
fieldset label.inlineradio{margin-right:22.5px;vertical-align:top;display:inline-block;}
fieldset label.inlineradio.fixed.small{width:25px !important;margin-right:0;}
fieldset h3{font-weight:bold;border-bottom:.05em dotted #d3d3d3;}
fieldset h4{font-weight:bold;text-transform:uppercase;}
fieldset h5{font-weight:bold;}
.legendinput{width:200px !important}
.normal{font-weight:normal;display:block;text-align:justify;}
.margin{margin-left:45px;margin-bottom:5px;}
.AddressStateCode{width:138px;}
.name_short{width:167px;}
.OasisContainer .AddressStateCode{width:120px;margin-right:2px;}
#StartOfCare_M0014BranchState,#Recertification_M0014BranchState,#ResumptionOfCare_M0014BranchState,#FollowUp_M0014BranchState,#DischargeFromAgencyDeath_M0014BranchState,#DischargeFromAgency_M0014BranchState{width:200px;margin-right:5px;}
.password,.loc{width:120px !important;}
.passgen,.st{width:77px;}
.mapaddr{width:100%;margin-bottom:2px;}
.mapcity{width:35%;}
.mapzip{width:20%;float:right;}
.rates {width:50px;}
.sn, table .sn {width:40px;}
.icd,.icdwidth{width:50px;}
.mid_length{width:25%;}
.pad{width:20%;}
.width200{width:200px}
.severity {width:35px;}
.oe{width:105px !important;}
.padDiagnosis{padding-left:13px;}
.padDiagnosis .third{width:32%;float:left;}
.icdtext{width:50% !important;}
table .halfOfTd{width:50%; float:left;}
table .quarter{width:25%}
table .t-input{width:80%;}
table .date{width:70%;margin-right:0;}
.notes .date{width:208px;}
table.claim .date{width:100%;}
.noborders td,.noborders th{border:0; padding: 2px 12px;}
#StartOfCare_GenericEyesLastEyeExamDate,#Recertification_GenericEyesLastEyeExamDate,#ResumptionOfCare_GenericEyesLastEyeExamDate{width:50%;}
.vitals{width:45px !important;}
.procedureDiagnosis,.diagnosis{width:45%;}
table .diagnosisDate {width:100px; padding-left:13px;}
.fill{width:100%;}
td .fill{width:94%;}
.green_button,.red_button,.grey_button{margin:0;border:0;height:23px;font-weight:bold;vertical-align:top;color:#fff;padding-bottom:4px;width:auto !important;}
.zip{width:54px;}
.phone_short{width:52px !important;vertical-align:middle;}
.phone_long{width:60px !important;vertical-align: middle;}
fieldset select,.t-datepicker{margin-right:5px;}
.t-input,.notes .t-input{width:176px;}
.mi{width:25px;}
.firstvisit { background-color: #fff; padding: 10px; width: 500px;}
.missedvisitmodal { background-color: #fff; padding: 10px; width: 750px;}
.patienteligibility { background-color: #fff; padding: 10px; width: 800px;}
.resetsignature { background-color: #fff; padding: 10px; width: 470px;}
.newphysicianmodal { background-color: #fff; padding: 10px; width: 900px;}
.newphotomodal { background-color: #fff; padding: 10px; width: 400px;}
.newadmitpatientmodal { background-color: #fff; padding: 10px; width: 900px;}
.multidayscheduler { background-color: #fff; padding: 10px; width: 90%;}
.newnonadmitpatientmodal,.newepisodemodal ,.editepisodemodal ,.claimupdatemodal, .claimnewmodal ,.dischargepatientmodal{ background-color: #fff; padding: 10px; width: 900px;}
.planofcaremedicationmodal { background-color: #fff; padding: 10px; width: 950px;}
input.radio{border:0;height:auto;width:auto;margin:2px 5px;padding:0;}
.alphali{display:inline-block;width:15px;}
.contact{border:0;padding:2px;vertical-align:baseline;}
ul.buttons{list-style:none;text-align:center;margin:0 1px 0 5px;}
ul.buttons li{height:25px;display:inline;line-height:normal;margin-right:2px;}
form img{padding:0;margin:0;border:0;}
div.buttons{text-align:center;}
div.buttons ul{list-style:none;display:inline-block;margin:0 .5em .5em;}
.row div.buttons ul{margin:0;}
div.buttons li{float:left;margin:1px 5px;background:url(/Images/gradients.png) repeat-x 0 -480px;}
div.buttons li a{overflow:hidden;border:solid 1px #495668;display:block;padding:1px 25px;color:#fff !important;height:19px;line-height:19px;text-shadow:0 1px 1px #000;font-weight:bold;cursor:pointer}
div.buttons li.send{background-position:0 -502px;margin:3px 15px;}
div.buttons li.send a{padding:25px 15px 35px;}
div.buttons li.send a:active{padding:23px 17px 37px 13px;}
.ancillary_button{width:198px;height:23px;margin:3px;background:url(/Images/sprite.png) no-repeat 0 -63px;}
.ancillary_button a{border:solid 1px #495668;display:block;width:177px;height:20px;padding:1px 10px;color:#fff;text-shadow:0 1px 1px #000;font-weight:bold;}
.ancillary_button a:hover,div.buttons li a:hover{background:url(/Images/sprite.png) no-repeat center -133px;}
.ancillary_button a:active,div.buttons li a:active{background:url(/Images/sprite.png) no-repeat center -157px;color:#ddd !important;border-color:#333 #aaa #aaa #333;padding:0 26px 2px 24px;}
.ancillary_button a:active{padding:0 11px 2px 9px;}
form label.error{position:absolute;color:#fc3c21;font-size:10px;clear:both;font-weight:normal;top:5px;left:-50px;width:50px !important;}
form table label.error{top:80%;left:90%;}
form input.error{border:1px solid #fccac3; background: #ecbab3;}
form input.error:focus{border:1px solid #ea5338; background: #ecbab3;}
form select.error{border:1px dotted #ea5338;background: #ecbab3;}
.Physicians{width:175px;margin-right:28px;}
.row.hidden{display:none;}
span.radio a{color:#00c;text-decoration:underline;}
.nocolborder td{border-right-width:0;border-left-width:0;}
.border-right{border-right:solid 1px #d3d3d3 !important;}
.rowbottomborder{border-bottom:solid 2px black;}
.fixedSmall{width:60px;display:inline-block;}
.paddingBellow{padding-bottom:5px;}
ul.fixedheight li{display:block;height:25px;}
.clearanchor{text-decoration:underline; color:Blue !important; padding-top:6px; padding-left:6px;}
.smalltextbox {width:100%; height:25px;}