﻿#printview .page{background:#fff url(/Images/Print/Billing/BillingFinal.jpeg) no-repeat center center}
#printview .patientname,#printview .mcare,#printview .record,#printview .gender,#printview .dob,#printview .hipps,#printview .matchkey,#printview .episode,#printview .soc,#printview .billvisit,#printview .phys,#printview .physnpi,#printview .hippspay,#printview .diag1,#printview .diag2,#printview .diag3,#printview .diag4,#printview .diag5,#printview .diag6{font-size:12pt;height:1.5em}
#printview .patientname,#printview .patient{left:3em;width:20em}
#printview .patientname{top:8em;font-weight:bold}
#printview .patient{font-size:12pt;top:9.5em;height:5em}
#printview .mcare,#printview .record,#printview .gender,#printview .dob,#printview .phys,#printview .physnpi,#printview .hippspay{left:34em;width:13.5em}
#printview .mcare{top:6.4em}
#printview .record{top:8.7em}
#printview .gender{top:10.8em}
#printview .dob{top:13em}
#printview .hipps,#printview .matchkey,#printview .episode,#printview .soc,#printview .billvisit{left:12em;width:11em}
#printview .hipps,#printview .phys{top:15.4em}
#printview .matchkey,#printview .physnpi{top:17.7em}
#printview .episode,#printview .hippspay{top:19.8em}
#printview .billvisit{top:22em}
#printview .diag1,#printview .diag2,#printview .diag3,#printview .diag4,#printview .diag5,#printview .diag6{top:27.8em;width:7em}
#printview .diag1{left:2em}
#printview .diag2{left:9.8em}
#printview .diag3{left:17.6em}
#printview .diag4{left:25.4em}
#printview .diag5{left:33.2em}
#printview .diag6{left:41em}
#printview .content,#printview-buffer .content{font-size:12pt;top:30em;right:1.6em;bottom:2em;left:1.7em}
#printview .content table,#printview-buffer .content table{border-bottom:.1em solid #000}
#printview .content .col0,#printview .content .col1,#printview .content .col2,#printview .content .col3,#printview .content .col4,#printview-buffer .content .col0,#printview-buffer .content .col1,#printview-buffer .content .col2,#printview-buffer .content .col3,#printview-buffer .content .col4{border-right:.1em solid #000}
#printview .content .col0,#printview-buffer .content .col0{width:3em}
#printview .content .col2,#printview-buffer .content .col2{width:10.5em}
#printview .content .col3,#printview .content .col5,#printview-buffer .content .col3,#printview-buffer .content .col5{width:7em}
#printview .content .col4,#printview-buffer .content .col4{width:6.5em}