﻿#printview .page{background:#fff url(/Images/Print/Billing/BillingClaims.jpeg) no-repeat center center}
#printview .content,#printview-buffer .content{top:7.5em;right:2em;bottom:2em;left:2em;font-size:10pt}
#printview .content h3,#printview-buffer .content h3{font-weight:bold;text-align:center}
#printview .content tr,#printview-buffer .content tr{border-bottom:solid .1em #000}
#printview .content tr td:first-child,#printview-buffer .content tr td:first-child{border-left:0}
#printview .content td,#printview-buffer .content td{padding:.2em .5em;border-left:solid .1em #000}
#printview .content .col0,#printview .content .col1,#printview .content .col2,#printview .content-buffer .col0,#printview-buffer .content .col1,#printview-buffer .content .col2{width:12em}
#printview .content .col1,#printview-buffer .content .col1{width:8em}