﻿#printview .page{background:#fff url(/Images/Print/Billing/BillingRap.jpeg) no-repeat center center}
#printview .patientname,#printview .patient,#printview .mcare,#printview .record,#printview .gender,#printview .dob,#printview .type,#printview .admitdate,#printview .admitsource,#printview .status,#printview .cond18,#printview .cond19,#printview .cond20,#printview .cond21,#printview .cond22,#printview .cond23,#printview .cond24,#printview .cond25,#printview .cond26,#printview .cond27,#printview .cond28,#printview .hipps,#printview .matchkey,#printview .startdate,#printview .billvisit,#printview .phys,#printview .physnpi,#printview .hippspay,#printview .diag1,#printview .diag2,#printview .diag3,#printview .diag4,#printview .diag5,#printview .diag6,#printview .content{font-size:12pt}
#printview .patientname,#printview .mcare,#printview .record,#printview .gender,#printview .dob,#printview .type,#printview .admitdate,#printview .admitsource,#printview .status,#printview .cond18,#printview .cond19,#printview .cond20,#printview .cond21,#printview .cond22,#printview .cond23,#printview .cond24,#printview .cond25,#printview .cond26,#printview .cond27,#printview .cond28,#printview .hipps,#printview .matchkey,#printview .startdate,#printview .billvisit,#printview .phys,#printview .physnpi,#printview .hippspay,#printview .diag1,#printview .diag2,#printview .diag3,#printview .diag4,#printview .diag5,#printview .diag6{height:1.5em}
#printview .patientname,#printview .patient{left:3em;width:20em}
#printview .patientname{top:9em;font-weight:bold}
#printview .patient{top:11em}
#printview .mcare,#printview .record,#printview .gender,#printview .dob,#printview .type,#printview .admitdate,#printview .admitsource,#printview .status{left:32em;width:16em}
#printview .mcare{top:6.3em}
#printview .record{top:8.3em}
#printview .gender{top:10.3em}
#printview .dob{top:12.4em}
#printview .type{top:14.4em}
#printview .admitdate{top:16.4em}
#printview .admitsource{top:18.5em}
#printview .status{top:20.5em}
#printview .cond18,#printview .cond19,#printview .cond20,#printview .cond21,#printview .cond22,#printview .cond23,#printview .cond24,#printview .cond25,#printview .cond26,#printview .cond27,#printview .cond28{top:25em;width:3.5em}
#printview .cond18{left:2em}
#printview .cond19{left:6.2em}
#printview .cond20{left:10.4em}
#printview .cond21{left:14.6em}
#printview .cond22{left:18.8em}
#printview .cond23{left:23em}
#printview .cond24{left:27.2em}
#printview .cond25{left:31.4em}
#printview .cond26{left:35.6em}
#printview .cond27{left:39.8em}
#printview .cond28{left:44em}
#printview .hipps,#printview .matchkey,#printview .startdate,#printview .billvisit{left:14.5em;width:8.5em}
#printview .phys,#printview .physnpi,#printview .hippspay{left:35em;width:10em}
#printview .hipps,#printview .phys{top:27.2em}
#printview .matchkey,#printview .physnpi{top:29.2em}
#printview .startdate,#printview .hippspay{top:31.3em}
#printview .billvisit{top:33.3em}
#printview .diag1,#printview .diag2,#printview .diag3,#printview .diag4,#printview .diag5,#printview .diag6{top:38.8em;width:7em}
#printview .diag1{left:2em}
#printview .diag2{left:9.8em}
#printview .diag3{left:17.6em}
#printview .diag4{left:25.4em}
#printview .diag5{left:33.2em}
#printview .diag6{left:41em}
#printview .content,#printview-buffer .content{top:43em;right:2em;bottom:2em;left:2em}