﻿#printview .page{background:#fff url(/Images/Print/Billing/Remittance.jpeg) no-repeat center center}
#printview div.content,#printview-buffer div.content{top:23.5em;right:2em;bottom:2em;left:2em;font-size:10pt}
#printview div.content table,#printview-buffer div.content table{border-bottom:.1em solid #000}
#printview div.content th{font-weight:bold;border:0}
printview .checknum,#printview .total,#printview .claims,#printview .date,#printview .PayerName,#printview .PayerAddress1,#printview .PayerAddress2,#printview .PayerCity,#printview .PayerState,#printview .PayerZip,#printview .PayerLabel1,#printview .PayerAnswer1,#printview .PayeeName,#printview .PayeeAddress1,#printview .PayeeAddress2,#printview .PayeeCity,#printview .PayeeState,#printview .PayeeZip,#printview .PayeeLabel1,#printview .PayeeAnswer1,#printview .PayeeLabel2,#printview .PayeeAnswer2{height:1.5em}
#printview .checknum,#printview .total,#printview .claims,#printview .date{top:8.5em}
#printview .checknum{left:7.5em;width:10.5em}
#printview .total{left:26em;width:7.5em}
#printview .claims{left:40.25em;width:8.5em}
#printview .date{left:58em;width:6em}
#printview .PayerName,#printview .PayerAddress1,#printview .PayerAddress2,#printview .PayerCity,#printview .PayerState,#printview .PayerZip,#printview .PayerAnswer1{left:14em;width:19em}
#printview .PayeeName,#printview .PayeeAddress1,#printview .PayeeAddress2,#printview .PayeeCity,#printview .PayeeState,#printview .PayeeZip,#printview .PayeeAnswer1,#printview .PayeeAnswer2{left:45em;width:19em}
#printview .PayerLabel1,#printview .PayeeLabel1,#printview .PayeeLabel2{width:11em;text-align:right;font-weight:bold}
#printview .PayerLabel1{left:2.5em}
#printview .PayeeLabel1,#printview .PayeeLabel2{left:33.5em}
#printview .PayerName,#printview .PayeeName{top:12.5em}
#printview .PayerAddress1,#printview .PayeeAddress1{top:13.9em}
#printview .PayerAddress2,#printview .PayeeAddress2{top:15.3em}
#printview .PayerCity,#printview .PayeeCity{top:16.65em}
#printview .PayerState,#printview .PayeeState{top:18.05em}
#printview .PayerZip,#printview .PayeeZip{top:19.5em}
#printview .PayerLabel1,#printview .PayerAnswer1,#printview .PayeeLabel1,#printview .PayeeAnswer1{top:21em}
#printview .PayeeLabel2,#printview .PayeeAnswer2{top:22.5em}
