﻿#printview .page{background:#fff url(/Images/Print/Billing/Remittances.jpeg) no-repeat center center}
#printview div.content,#printview-buffer div.content{top:9.25em;right:2em;bottom:2em;left:2em;font-size:10pt}
#printview .content tr,#printview-buffer .content tr{border-bottom:solid .1em #000}
#printview .content td,#printview-buffer .content td{padding:.2em .5em}
#printview .content .col0,#printview-buffer .content .col0{width:1.5em}
#printview .content .col1,#printview-buffer .content .col1{width:14.5em}
#printview .content .col2,#printview-buffer .content .col2{width:12.75em}
#printview .content .col3,#printview-buffer .content .col3{width:12.25em}