﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<VisitNoteViewData>" %>
<span class="wintitle">Driver/Transportation Log | <%= Model.Patient.DisplayName %></span>
<div class="wrapper main note">
<%  var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<%  var maxDate = DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate ? DateTime.Now : Model.EndDate; %>
<%  var date = data.ContainsKey("SignatureDate") && data["SignatureDate"].Answer.IsNotNullOrEmpty() && data["SignatureDate"].Answer.IsValidDate() && data["SignatureDate"].Answer.ToDateTime() >= Model.StartDate && data["SignatureDate"].Answer.ToDateTime() <= maxDate ? data["SignatureDate"].Answer.ToDateTime() : (Model != null && Model.VisitDate.IsNotNullOrEmpty() && Model.VisitDate.IsValidDate() ? Model.VisitDate.ToDateTime() : Model.EndDate); %>
<%  using (Html.BeginForm("Notes", "Schedule", FormMethod.Post, new { @id = Model.Type + "_Form" })) { %>
    <%= Html.Hidden(Model.Type + "_PatientId", Model.PatientId, new { @id = Model.Type + "_PatientId" })%>
    <%= Html.Hidden(Model.Type + "_EpisodeId", Model.EpisodeId, new { @id = Model.Type + "_EpisodeId" })%>
    <%= Html.Hidden(Model.Type + "_EventId", Model.EventId)%>
    <%= Html.Hidden("Type", Model.Type)%>
    <%= Html.Hidden("DisciplineTask", Model.DisciplineTask)%>
    <fieldset>
        <legend>
            Details
    <%  if (Model.StatusComment.IsNotNullOrEmpty()) { %>
            <a class="sticky-note-icon red" onclick="Acore.ReturnReason('<%= Model.EventId %>','<%= Model.PatientId %>');return false"></a>
    <%  } %>
        </legend>
        <div class="column">
            <div class="row">
                <label for="" class="fl strong">Patient</label>
                <div class="fr"><%= Model.Patient.DisplayNameWithMi %> (<%= Model.Patient.PatientIdNumber %>)</div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_VisitDate" class="fl strong">Visit Date</label>
                <div class="fr"><input type="text" id ="Text2" class="date-picker required" value="<%= Model.VisitDate %>" maxdate="<%= Model.EndDate.ToShortDateString()%>" mindate="<%= Model.StartDate.ToShortDateString()%>"/></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_TimeIn" class="fl strong">Time In</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_TimeIn", data.ContainsKey("TimeIn") ? data["TimeIn"].Answer : string.Empty, new { @id = Model.Type + "_TimeIn", @class = "complete-required time-picker" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_TimeOut" class="fl strong">Time Out</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_TimeOut", data.ContainsKey("TimeOut") ? data["TimeOut"].Answer : string.Empty, new { @id = Model.Type + "_TimeOut", @class = "complete-required time-picker" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_PickUpDate" class="fl strong">Pick Up Date</label>
                <div class="fr"><input type="text" class="date-picker" name="<%= Model.Type %>_PickUpDate" value="<%= data.AnswerOrEmptyString("PickUpDate") %>" id="<%= Model.Type %>_PickUpDate" /></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_PickUpTime" class="fl strong">Pick Up Time</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_PickUpTime", data.AnswerOrEmptyString("PickUpTime"), new { @id = Model.Type + "_PickUpTime", @class = "time-picker" })%></div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <label for="<%= Model.Type %>_AssociatedMileage" class="fl strong">Associated Mileage</label>
               <div class="fr"><%= Html.TextBox(Model.Type + "_AssociatedMileage", data.ContainsKey("AssociatedMileage") ? data["AssociatedMileage"].Answer : string.Empty, new { @id = Model.Type + "_AssociatedMileage", @class = "" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_Surcharge" class="fl strong">Surcharge</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_Surcharge", data.ContainsKey("Surcharge") ? data["Surcharge"].Answer : string.Empty, new { @id = Model.Type + "_Surcharge", @class = "" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_AppointmentTime" class="fl strong">Appointment Time</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_AppointmentTime", data.AnswerOrEmptyString("AppointmentTime"), new { @id = Model.Type + "_AppointmentTime", @class = "time-picker" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_AppointmentType" class="fl strong">Appointment Type</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_AppointmentType", data.AnswerOrEmptyString("AppointmentType"), new { @id = Model.Type + "_AppointmentType" })%></div>
            </div>
        </div>
    </fieldset>
    <fieldset class="fl half">
        <legend>Pick Up Location</legend>
        <div class="column">
            <div class="row">
                <label for="<%= Model.Type %>_PickUpAddressLine1" class="fl strong">Address Line 1</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_PickUpAddressLine1", data.AnswerOrEmptyString("PickUpAddressLine1"), new { @id = Model.Type + "_PickUpAddressLine1", @maxlength = "50" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_PickUpAddressLine2" class="fl strong"> Address Line 2</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_PickUpAddressLine2", data.AnswerOrEmptyString("PickUpAddressLine2"), new { @id = Model.Type + "_PickUpAddressLine2", @maxlength = "50" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_PickUpAddressCity" class="fl strong">City</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_PickUpAddressCity", data.AnswerOrEmptyString("PickUpAddressCity"), new { @id = Model.Type + "_PickUpAddressCity", @maxlength = "50" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_PickUpAddressStateCode" class="fl strong">State, Zip</label>
                <div class="fr">
                    <%= Html.LookupSelectList(SelectListTypes.States, "DriverOrTransportationNote_PickUpAddressStateCode", data.AnswerOrEmptyString("PickUpAddressStateCode"), new { @id = Model.Type + "_PickUpAddressStateCode", @class = "state" })%>
                    <%= Html.TextBox(Model.Type + "_PickUpAddressZipCode", data.AnswerOrEmptyString("PickUpAddressZipCode"), new { @id = Model.Type + "_PickUpAddressZipCode", @class = "digits isValidUSZip zip", @maxlength = "9" })%>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="fr half">
        <legend>Drop Off Location</legend>
        <div class="column">
            <div class="row">
                <label for="<%= Model.Type %>_DropOffAddressLine1" class="fl strong">Address Line 1</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_DropOffAddressLine1", data.AnswerOrEmptyString("DropOffAddressLine1"), new { @id = Model.Type + "_DropOffAddressLine1", @maxlength = "50" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_DropOffAddressLine2" class="fl strong"> Address Line 2</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_DropOffAddressLine2", data.AnswerOrEmptyString("DropOffAddressLine2"), new { @id = Model.Type + "_DropOffAddressLine2", @maxlength = "50" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_DropOffAddressCity" class="fl strong">City</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_DropOffAddressCity", data.AnswerOrEmptyString("DropOffAddressCity"), new { @id = Model.Type + "_DropOffAddressCity", @maxlength = "50" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_DropOffAddressStateCode" class="fl strong">State, Zip</label>
                <div class="fr">
                    <%= Html.LookupSelectList(SelectListTypes.States, "DriverOrTransportationNote_DropOffAddressStateCode", data.AnswerOrEmptyString("DropOffAddressStateCode"), new { @id = Model.Type + "_DropOffAddressStateCode", @class = "state" })%>
                    <%= Html.TextBox(Model.Type + "_DropOffAddressZipCode", data.AnswerOrEmptyString("DropOffAddressZipCode"), new { @id = Model.Type + "_DropOffAddressZipCode", @class = "digits isValidUSZip zip", @maxlength = "9" })%>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="clr"></div>
    <fieldset>
        <legend>Mileage Log</legend>
        <div class="column">
            <div class="row">
                <label for="<%= Model.Type %>_StartMileage" class="fl strong">Start</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_StartMileage", data.AnswerOrEmptyString("StartMileage"), new { @id = Model.Type + "_StartMileage" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_StartMileage" class="fl strong">Pick up home</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_PickUpHomeMileage", data.AnswerOrEmptyString("PickUpHomeMileage"), new { @id = Model.Type + "_PickUpHomeMileage" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_StartMileage" class="fl strong">Drop off appt.</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_DropOffApptMileage", data.AnswerOrEmptyString("DropOffApptMileage"), new { @id = Model.Type + "_DropOffApptMileage" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_StartMileage" class="fl strong">Return pick up</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_ReturnPickUpMileage", data.AnswerOrEmptyString("ReturnPickUpMileage"), new { @id = Model.Type + "_ReturnPickUpMileage" })%></div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <label for="<%= Model.Type %>_StartMileage" class="fl strong">Return home</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_ReturnHomeMileage", data.AnswerOrEmptyString("ReturnHomeMileage"), new { @id = Model.Type + "_ReturnHomeMileage" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_StartMileage" class="fl strong">Return office</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_ReturnOfficeMileage", data.AnswerOrEmptyString("ReturnOfficeMileage"), new { @id = Model.Type + "_ReturnOfficeMileage" })%></div>
            </div>
            <div class="row">
                <label for="<%= Model.Type %>_StartMileage" class="fl strong">Total</label>
                <div class="fr"><%= Html.TextBox(Model.Type + "_TotalMileage", data.AnswerOrEmptyString("TotalMileage"), new { @id = Model.Type + "_TotalMileage" })%></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Electronic Signature</legend>
        <div class="column">
            <div class="row">
                <label for="<%= Model.Type %>_Clinician" class="fl strong">Driver Signature</label>
                <div class="fr"><%= Html.Password(Model.Type + "_Clinician", "", new { @id = Model.Type + "_Clinician", @class = "complete-required" })%></div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <label for="<%= Model.Type %>_SignatureDate" class="fl strong">Date</label>
                <div class="fr"><input type="text" class="date-picker complete-required" name="<%= Model.Type %>_SignatureDate" value="<%= date.ToShortDateString() %>" id="Text1" /></div>
            </div>
        </div>
        <%  if (Current.HasRight(Permissions.AccessCaseManagement) && !Current.UserId.ToString().IsEqual(Model.UserId.ToString())) {  %>
        <div class="column wide">
            <div class="row narrowest">
                <div class="checkgroup wide">
                    <div class="option">
                        <%= string.Format("<input class='radio' id='{0}_ReturnForSignature' name='{0}_ReturnForSignature' type='checkbox' />", Model.Type)%>
                        <label for="<%= Model.Type %>_ReturnForSignature">Return to Clinician for Signature</label>
                    </div>
                </div>
            </div>
        </div>
        <%  } %>
    </fieldset>
    <input type="hidden" name="button" value="" id="<%= Model.Type %>_Button" />
    <div class="buttons">
        <ul>
            <li><a href="javascript:void(0);" onclick="Schedule.Visit.<%= Model.Type %>.Submit($(this))">Save</a></li>
            <li><a href="javascript:void(0);" onclick="Schedule.Visit.<%= Model.Type %>.Submit($(this),true)">Complete</a></li>
    <%  if (Current.HasRight(Permissions.AccessCaseManagement)) {  %>
            <li><a href="javascript:void(0);" onclick="Schedule.Visit.<%= Model.Type %>.Submit($(this))">Approve</a></li>
        <%  if (!Current.UserId.ToString().IsEqual(Model.UserId.ToString())) { %>
            <li><a href="javascript:void(0);" onclick="Schedule.Visit.<%= Model.Type %>.Submit($(this))">Return</a></li>
        <%  } %>
    <%  } %>
            <li><a href="javascript:void(0);" onclick="$(this).closest('.window').Close()">Exit</a></li>
        </ul>
    </div>
<%  } %>
</div>