﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<VisitNoteViewData>" %>
<% var data = Model != null && Model.Questions!=null  ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title><%= Model.Agency.Name.IsNotNullOrEmpty() ? Model.Agency.Name.ToTitleCase() + " | " : "" %>Home Health Aide Care Plan<%= Model.Patient != null ? (" | " + Model.Patient.LastName + ", " + Model.Patient.FirstName + " " + Model.Patient.MiddleInitial).ToTitleCase() : "" %></title>
    <%= Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("print.css").Combined(true).Compress(true)) %>
</head>
<body>
    <div class="page largerfont"><img src="/Images/axxess_print.png" class="axxess" /><img src="/Images/acore_print.png" class="acore" />
        <div>
            <table class="fixed"><tbody>
                <tr>
                    <td colspan="2">
                        <%= Model.Agency.Name.IsNotNullOrEmpty() ? Model.Agency.Name.ToTitleCase() + "<br />" : "" %>
                        <%= Model.Agency.MainLocation.AddressLine1.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressLine1.ToTitleCase() : ""%> <%= Model.Agency.MainLocation.AddressLine2.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressLine2.ToTitleCase() : ""%><br />
                        <%= Model.Agency.MainLocation.AddressCity.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressCity.ToTitleCase() + ", " : ""%><%= Model.Agency.MainLocation.AddressStateCode.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressStateCode.ToString().ToUpper() + "&nbsp; " : ""%><%= Model.Agency.MainLocation.AddressZipCode.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressZipCode : ""%>
                    </td><th class="h1">Home Health Aide<br />Care Plan</th>
                </tr><tr>
                    <td colspan="3">
                        <span class="big">Patient Name: <%= Model.Patient != null ? (Model.Patient.LastName + ", " + Model.Patient.FirstName + " " + Model.Patient.MiddleInitial).ToTitleCase() : "" %></span><br />
                        <span class="quadcol">
                            <span><strong>HHA Frequency:</strong></span>
                            <span class="dual"><%= data != null && data.ContainsKey("HHAFrequency") ? data["HHAFrequency"].Answer : "" %></span>
                            <span><strong>Episode Period:</strong></span>
                            <span class="dual"><%= data != null ? string.Format(" {0} &ndash; {1}", Model.StartDate.ToShortDateString(), Model.EndDate.ToShortDateString()) : "" %></span>
                            <span><strong>MR#</strong></span>
                            <span class="dual"><%= Model.Patient != null ? Model.Patient.PatientIdNumber : "" %></span>
                            <span><strong>Primary Diagnosis:</strong></span>
                            <span class="dual"><%= data != null && data.ContainsKey("PrimaryDiagnosis") ? data["PrimaryDiagnosis"].Answer : ""%></span>
                            <span><strong>Secondary Diagnosis:</strong></span>
                            <span class="dual"><%= data != null && data.ContainsKey("PrimaryDiagnosis1") ? data["PrimaryDiagnosis1"].Answer : ""%></span>
                        </span>
                    </td>
                </tr>
            </tbody></table>
        </div>
        <div>
            <span class="tricol">
                <span><strong>DNR:</strong><%= data != null && data.ContainsKey("DNR") && data["DNR"].Answer == "1" ? "Yes" : "" %><%= data != null && data.ContainsKey("DNR") && data["DNR"].Answer == "0" ? "No" : "" %></span><% string[] diet = data != null && data.ContainsKey("IsDiet") && data["IsDiet"].Answer != "" ? data["IsDiet"].Answer.Split(',') : null; %><% string[] allergies = data != null && data.ContainsKey("Allergies") && data["Allergies"].Answer != "" ? data["Allergies"].Answer.Split(',') : null; %>
                <span class="checklabel"><span class="checkbox"><%= diet != null && diet.Contains("1") ? "&#x2713;" : "" %></span><strong>Diet:</strong><span class="auto dual"><%= data != null && data.ContainsKey("Diet") ? data["Diet"].Answer : "" %></span></span>
                <span class="checklabel"><span class="checkbox"><%= allergies != null && allergies.Contains("1") ? "&#x2713;" : "" %></span><strong>Allergies:</strong><span class="auto dual"><%= data != null && data.ContainsKey("AllergiesDescription") ? data["AllergiesDescription"].Answer : "" %></span></span>
            </span>
        </div>
        <h3>Vital Sign Parameters</h3>
        <div><% string[] isVitalSignParameter = data != null && data.ContainsKey("IsVitalSignParameter") && data["IsVitalSignParameter"].Answer != "" ? data["IsVitalSignParameter"].Answer.Split(',') : null; %>
            <span class="checklabel"><span class="checkbox"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("1") ? "&#x2713;" : "" %></span><strong>N/A</strong></span>
        </div><div>
            <table class="fixed"><tbody>
                <tr><th></th><th>SBP</th><th>DBP</th><th>HR</th><th>Resp</th><th>Temp</th><th>Weight</th></tr>
                <tr>
                    <td><strong>greater than (&gt;)</strong></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("SystolicBPGreaterThan") ? data["SystolicBPGreaterThan"].Answer : "" %></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("DiastolicBPGreaterThan") ? data["DiastolicBPGreaterThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("PulseGreaterThan") ? data["PulseGreaterThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("RespirationGreaterThan") ? data["RespirationGreaterThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("TempGreaterThan") ? data["TempGreaterThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("WeightGreaterThan") ? data["WeightGreaterThan"].Answer : ""%></td>
                </tr><tr>
                    <td><strong>or less than (&lt;)</strong></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("SystolicBPLessThan") ? data["SystolicBPLessThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("DiastolicBPLessThan") ? data["DiastolicBPLessThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("PulseLessThan") ? data["PulseLessThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("RespirationLessThan") ? data["RespirationLessThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("TempLessThan") ? data["TempLessThan"].Answer : ""%></td>
                    <td class="dual"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("WeightLessThan") ? data["WeightLessThan"].Answer : ""%></td>
                </tr>
            </tbody></table>
        </div>
        <h3>Safety Precautions</h3>
        <div><%string[] safetyMeasure = data != null && data.ContainsKey("SafetyMeasures") && data["SafetyMeasures"].Answer != "" ? data["SafetyMeasures"].Answer.Split(',') : null; %>
            <span class="tricol">
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("1") ? "&#x2713;" : "" %></span>Anticoagulant Precautions</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("5") ? "&#x2713;" : "" %></span>Keep Side Rails Up</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("9") ? "&#x2713;" : "" %></span>Safety in ADLs</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("13") ? "&#x2713;" : "" %></span>Standard Precautions/Infection Control</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("2") ? "&#x2713;" : "" %></span>Emergency Plan Developed</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("6") ? "&#x2713;" : "" %></span>Neutropenic Precautions</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("10") ? "&#x2713;" : "" %></span>Seizure Precautions</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("14") ? "&#x2713;" : "" %></span>Support During Transfer &amp; Ambulation</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("3") ? "&#x2713;" : "" %></span>Fall Precautions</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("7") ? "&#x2713;" : "" %></span>O<sub>2</sub> Precautions</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("11") ? "&#x2713;" : "" %></span>Sharps Safety</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("15") ? "&#x2713;" : "" %></span>Use of Assistive Devices</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("4") ? "&#x2713;" : "" %></span>Keep Pathway Clear</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("8") ? "&#x2713;" : "" %></span>Proper Position During Meals</span>
                <span class="checklabel"><span class="checkbox"><%= safetyMeasure != null && safetyMeasure.Contains("12") ? "&#x2713;" : "" %></span>Slow Position Change</span>
            </span>
            <span class="dual"><strong>Other:</strong></span>
        </div>
        <div>
            <table class="fixed">
                <tbody>
                    <tr><th>Functional Limitations</th><th>Activities Permitted</th></tr>
                    <tr>
                        <td class="bicol"><% string[] functionLimitations = data != null && data.ContainsKey("FunctionLimitations") && data["FunctionLimitations"].Answer != "" ? data["FunctionLimitations"].Answer.Split(',') : null; %>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("1") ? "&#x2713;" : "" %></span>Amputation</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("6") ? "&#x2713;" : "" %></span>Endurance</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("2") ? "&#x2713;" : "" %></span>Bowel/Bladder Incontinence</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("7") ? "&#x2713;" : "" %></span>Ambulation</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("3") ? "&#x2713;" : "" %></span>Contracture</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("8") ? "&#x2713;" : "" %></span>Speech</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("4") ? "&#x2713;" : "" %></span>Hearing</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("9") ? "&#x2713;" : "" %></span>Legally Blind</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("5") ? "&#x2713;" : "" %></span>Paralysis</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("A") ? "&#x2713;" : "" %></span>Dyspnea</span>
                            <span class="checklabel"><span class="checkbox"><%= functionLimitations != null && functionLimitations.Contains("B") ? "&#x2713;" : "" %></span>Other (Specify) <span class="auto dual"><%= data != null && data.ContainsKey("FunctionLimitationsOther") ? ": " + data["FunctionLimitationsOther"].Answer : "" %></span></span>
                        </td><td class="bicol"><% string[] activitiesPermitted = data != null && data.ContainsKey("ActivitiesPermitted") && data["ActivitiesPermitted"].Answer != "" ? data["ActivitiesPermitted"].Answer.Split(',') : null; %>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("1") ? "&#x2713;" : "" %></span>Complete bed rest</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("7") ? "&#x2713;" : "" %></span>Independent at home</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("2") ? "&#x2713;" : "" %></span>Bed rest with BRP</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("8") ? "&#x2713;" : "" %></span>Crutches</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("3") ? "&#x2713;" : "" %></span>Up as tolerated</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("9") ? "&#x2713;" : "" %></span>Cane</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("4") ? "&#x2713;" : "" %></span>Transfer bed-chair</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("10") ? "&#x2713;" : "" %></span>Wheelchair</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("5") ? "&#x2713;" : "" %></span>Exercise prescribed</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("11") ? "&#x2713;" : "" %></span>Walker</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("6") ? "&#x2713;" : "" %></span>Partial weight bearing</span>
                            <span class="checklabel"><span class="checkbox"><%= activitiesPermitted != null && activitiesPermitted.Contains("12") ? "&#x2713;" : "" %></span>Other (Specify) <span class="auto trip"><%= data != null && data.ContainsKey("ActivitiesPermittedOther") ? ": " + data["ActivitiesPermittedOther"].Answer : "" %></span></span>
                        </td>
                    </tr><tr>
                        <td class="align_center">
                            <table><tbody>
                                <tr><th class="align_left">Assignment</th><th colspan="4">Status</th></tr>
                                <tr><th class="align_left">Vital Signs</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                                <tr><td class="align_left">Temperature</td><td><%= data != null && data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsTemperature") && data["VitalSignsTemperature"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Blood Presure</td><td><%= data != null && data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsBloodPressure") && data["VitalSignsBloodPressure"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Heart Rate</td><td><%= data != null && data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsHeartRate") && data["VitalSignsHeartRate"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Respirations</td><td><%= data != null && data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsRespirations") && data["VitalSignsRespirations"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Weight</td><td><%= data != null && data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("VitalSignsWeight") && data["VitalSignsWeight"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><th class="align_left">Personal Care</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                                <tr><td class="align_left">Bed Bath</td><td><%= data != null && data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Assist with Chair Bath</td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Tub Bath</td><td><%= data != null && data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Shower</td><td><%= data != null && data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Shower w/Chair</td><td><%= data != null && data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Shampoo Hair</td><td><%= data != null && data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Hair Care/Comb Hair</td><td><%= data != null && data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Oral Care</td><td><%= data != null && data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Skin Care</td><td><%= data != null && data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Pericare</td><td><%= data != null && data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Nail Care</td><td><%= data != null && data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Shave</td><td><%= data != null && data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Assist with Dressing</td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                            </tbody></table>
                        </td><td>
                            <table><tbody>
                                <tr><th class="align_left">Assignment</th><th colspan="4">Status</th></tr>
                                <tr><th class="align_left">Elimination</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                                <tr><td class="align_left">Assist with Bed Pan/Urinal</td><td><%= data != null && data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Assist with BSC</td><td><%= data != null && data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Incontinence Care</td><td><%= data != null && data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Empty Drainage Bag</td><td><%= data != null && data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Record Bowel Movement</td><td><%= data != null && data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Catheter Care</td><td><%= data != null && data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><th class="align_left">Activity</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                                <tr><td class="align_left">Dangle on Side of Bed</td><td><%= data != null && data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Turn &amp; Position</td><td><%= data != null && data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Assist with Transfer</td><td><%= data != null && data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Range of Motion</td><td><%= data != null && data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Assist with Ambulation</td><td><%= data != null && data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><th class="align_left">Household Task</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                                <tr><td class="align_left">Make Bed</td><td><%= data != null && data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Change Linen</td><td><%= data != null && data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Light Housekeeping</td><td><%= data != null && data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><th class="align_left">Nutrition</th><th>QV</th><th>QW</th><th>PR</th><th>N/A</th></tr>
                                <tr><td class="align_left">Meal Set-up</td><td><%= data != null && data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                                <tr><td class="align_left">Assist with Feeding</td><td><%= data != null && data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "3" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                            </tbody></table>
                        </td>
                    </tr><tr>
                        <td colspan="2" class="align_right"><em class="small">* QV = Every Visit; QW = Every Week; PR = Patient Request; N/A = Not Applicable</em></td>
                    </tr>
                </tbody>
            </table>
        </div><div>
            <span><strong>Comments:</strong></span>
            <span class="trip"><%= data != null && data.ContainsKey("Comment") && data["Comment"].Answer.IsNotNullOrEmpty() ? data["Comment"].Answer : ""%></span>
        </div><div class="bicol">
            <span class="dual"><strong>Clinician Signature:</strong><%= Model != null && Model.SignatureText.IsNotNullOrEmpty() ? Model.SignatureText : ""%></span>
            <span class="dual"><strong>Date:</strong><%= Model != null && Model.SignatureDate.IsNotNullOrEmpty() ? Model.SignatureDate : ""%></span>
        </div>
    </div>
</body>
</html>