﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<PatientVisitLog>>" %>
<% string pagename = "ElectronicVisitVerificationLog"; %>

        <% =Html.Telerik().Grid(Model).Name(pagename + "Grid")        
                 .Columns(columns =>
                 {
                     columns.Bound(m => m.TaskId).Width(20).Template(m => "<a href=\"javascript:void(0);\" onclick=\"Acore.Open('verifiedvisit', '/Schedule/VerificationInformation',undefined,{eventId: '" + m.TaskId + "', patientId: '" + m.PatientId + "', episodeId: '" + m.EpisodeId +"' });\"><span class=\"verified\"></span></a>").Sortable(false).Title("");
                     columns.Bound(m => m.PatientName).Title("Patient").Width(70);
                     columns.Bound(m => m.TaskName).Title("Task").Width(50);
                     columns.Bound(m => m.UserName).Title("Assigned To").Width(70);
                     columns.Bound(m => m.DateRange).Title("Episode").Width(100);
                     columns.Bound(m => m.PatientAddress).Sortable(false).Title("Patient Address").Width(100);
                     columns.Bound(m => m.VerifiedAddress).Sortable(false).Title("Verified Address").Width(100);
                     columns.Bound(m => m.VerifiedDateTime).Sortable(false).Title("Verified Time").Width(70);
                     columns.Bound(m => m.Signature).Sortable(false).Title("Signature").Width(40);
                     columns.Bound(m => m.PatientUnableToSignReason).Sortable(false).Title("Reason").Width(45);
                
               })
               //.DataBinding(dataBinding => dataBinding.Ajax().Select(pagename + "Content", "Report", new { BranchId=Guid.Empty, StartDate = DateTime.Now.AddDays(-60), EndDate = DateTime.Now }))
              .Sortable(sorting =>
              sorting.SortMode(GridSortMode.SingleColumn)
                  .OrderBy(order =>
                  {
                      var sortName = ViewData["SortColumn"] != null ? ViewData["SortColumn"].ToString() : string.Empty;
                      var sortDirection = ViewData["SortDirection"] != null ? ViewData["SortDirection"].ToString() : string.Empty;
                      if (sortName == "PatientName")
                      {
                          if (sortDirection == "ASC")
                          {
                              order.Add(o => o.PatientName).Ascending();
                          }
                          else if (sortDirection == "DESC")
                          {
                              order.Add(o => o.PatientName).Descending();
                          }

                      }
                      else if (sortName == "TaskName")
                      {
                          if (sortDirection == "ASC")
                          {
                              order.Add(o => o.TaskName).Ascending();
                          }
                          else if (sortDirection == "DESC")
                          {
                              order.Add(o => o.TaskName).Descending();
                          }

                      }
                      else if (sortName == "UserName")
                      {
                          if (sortDirection == "ASC")
                          {
                              order.Add(o => o.UserName).Ascending();
                          }
                          else if (sortDirection == "DESC")
                          {
                              order.Add(o => o.UserName).Descending();
                          }

                      }
                  })
                  )
               .Scrollable().Footer(false)  %>
   
<script type="text/javascript">
    $("#<%= pagename %>Grid div.t-grid-header div.t-grid-header-wrap table tbody tr th.t-header a.t-link").each(function() {
        var link = $(this).attr("href");
        $(this).attr("href", "javascript:void(0)").attr("onclick", "Report.RebindReportGridContent('<%= pagename %>','ElectronicVisitVerificationLogContent',{  BranchCode : \"" + $('#<%= pagename %>_BranchCode').val() + "\", StartDate : \"" + $('#<%= pagename %>_StartDate').val() + "\", EndDate : \"" + $('#<%= pagename %>_EndDate').val() + "\" },'" + U.ParameterByName(link, '<%= pagename %>Grid-orderBy') + "');");
    });
    $('#<%= pagename %>Grid .t-grid-content').css({ 'height': 'auto' }); 
</script>