﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<MedicationProfileViewData>" %>
<%= string.Format("{0}{1}{2}",
        "<script type='text/javascript'>acore.renamewindow('Medication Profile | ",
            (Model.Patient.LastName + ", " + Model.Patient.FirstName).ToTitleCase(),
        "','medicationprofile');</script>")%>
<% using (Html.BeginForm("SaveMedicationProfile", "Patient", FormMethod.Post, new { @id = "newMedicationProfileForm" })) { %>
<% var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, Question>(); %>
<% = Html.Hidden("Id", Model.MedicationProfile.Id, new  {@id="medicationProfileHistroyId" })%>
<% = Html.Hidden("PatientId", Model.MedicationProfile.PatientId)%>
<div class="visitContainer">
    <table class="visitNote" style="border-top: solid 0.25px #8B8878;" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <div class="newRow">
                        <div class="two">
                            <label for="HHACarePlan_PatientName">
                                Patient Name:</label>
                             <%=Html.Label(Model.Patient.FirstName+" "+ Model.Patient.LastName ) %>  (<%=Html.Label(Model != null && Model.Patient != null && Model.Patient.PatientIdNumber.IsNotNullOrEmpty() ? Model.Patient.PatientIdNumber : string.Empty)%>)
                        </div>
                            <div class="two">
                            <label for="HHACarePlan_MR">
                                Episode/Period:</label>
                            <%= Html.Label(string.Format(" {0} - {1}", Model!=null&&Model.StartDate!=null? Model.StartDate.ToShortDateString():string.Empty, Model!=null&&Model.StartDate!=null?Model.EndDate.ToShortDateString():string.Empty))%>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="newRow">
                        <div class="three">
                            <label for="TransferSummary_PrimaryDiagnosis">Primary Diagnosis:</label><%= Html.Label(data.ContainsKey("PrimaryDiagnosis") ? data["PrimaryDiagnosis"].Answer : string.Empty)%>
                          </div>
                         <div class="three">
                           <label for="TransferSummary_PrimaryDiagnosis">Secondary Diagnosis:</label>
                            <%= Html.Label(data.ContainsKey("PrimaryDiagnosis1") ? data["PrimaryDiagnosis1"].Answer : string.Empty)%>
                          </div>
                         <div class="three">  
                            <label for="TransferSummary_PrimaryDiagnosis">Tertiary Diagnosis:</label><%= Html.Label(data.ContainsKey("PrimaryDiagnosis2") ? data["PrimaryDiagnosis2"].Answer : string.Empty)%>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="newRow">
                        <div class="two">
                        <label>Allergies :</label>
                            <%= Html.Label(data.ContainsKey("485AllergiesDescription") ? data["485AllergiesDescription"].Answer : string.Empty)%>
                        </div>
                        <div class="two">
                            <div class="two">
                                Pharmacy Name:
                                <%= Html.TextBox("PharmacyName", Model.PharmacyName, new { @id = "MedicationProfile_PharmacyName" })%>
                            </div>
                            <div class="two">
                                Pharmacy Phone:<%= Html.TextBox("PharmacyPhone", Model.PharmacyPhone, new { @id = "MedicationProfile_PharmacyPhone" })%>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="buttons" style="text-align: right;"><ul>
        <li><a href="javascript:void(0);" onmouseover="$(this).addClass('t-state-hover');" onmouseout="$(this).removeClass('t-state-hover');" onclick="Patient.loadMedicationProfileSnapshot('<%= Model.Patient.Id%>');">Sign Medication Profile</a></li>
        <li><a href="javascript:void(0);" onmouseover="$(this).addClass('t-state-hover');" onmouseout="$(this).removeClass('t-state-hover');" onclick="acore.openprintview('/Patient/MedicationProfilePrint/<%=Model.Patient.Id %>');">Print Medication Profile</a></li>
    </ul></div>
    <div class="newRow one medication">
        <%= Html.Telerik().Grid<Medication>()
        .Name("MedicatonProfileGridActive")
        .DataKeys(keys => {
            keys.Add(M => M.Id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).HtmlAttributes(new { id = "MedicatonProfileGridInsertButton", style = "margin-left:0" }))
        .DataBinding(dataBinding => {
            dataBinding.Ajax()
                .Select("Medication", "Patient", new { MedId = Model.MedicationProfile.Id, medicationCategory = "Active" })
                .Insert("InsertMedication", "Patient", new { MedId = Model.MedicationProfile.Id, medicationCategory = "Active" })
                .Update("UpdateMedication", "Patient", new { MedId = Model.MedicationProfile.Id, medicationCategory = "Active" })
                .Delete("DeleteMedication", "Patient", new { MedId = Model.MedicationProfile.Id, medicationCategory = "Active" });
        })
        .Columns(columns => {
            columns.Bound(M => M.IsLongStanding).ClientTemplate("<input type='checkbox' disabled='disabled' name='IsLongStanding' <#=IsLongStanding? checked='checked' : '' #> />").Width(30);
            columns.Bound(M => M.StartDate).Format("{0:d}").Width(90);
            columns.Bound(M => M.MedicationDosage).Title("Medication & Dosage");
            columns.Bound(M => M.Route).Title("Route");
            columns.Bound(M => M.Frequency).Title("Frequency");
            columns.Bound(M => M.MedicationType).ClientTemplate("<label><#=MedicationType!=null&&MedicationType!=''? MedicationType.Text : ''#> </label>");
            columns.Bound(M => M.Classification);
            columns.Bound(M => M.DCDate).Format("{0:d}").Title("Discharge").Width(100); ;
            columns.Command(commands => {
                commands.Edit();
                commands.Delete();
            }).Width(120).Title("Commands");
        }).ClientEvents(e => e.OnEdit("Patient.onMedicationProfileEdit").OnRowDataBound("Patient.onMedicationProfileRowDataBound").OnDataBound("Patient.OnDataBound"))
        .Editable(editing => editing.Mode(GridEditMode.InLine)).Pageable().Sortable().Footer(false) 
        %>
    </div>
    <div class="newRow one medication">
        <%= Html.Telerik().Grid<Medication>()
        .Name("MedicatonProfileGridDC")
        .DataKeys(keys => {
            keys.Add(M => M.Id);
        })
        .DataBinding(dataBinding => {
            dataBinding.Ajax()
                .Select("Medication", "Patient", new { MedId = Model.MedicationProfile.Id, medicationCategory = "DC" })
                .Update("UpdateMedication", "Patient", new { MedId = Model.MedicationProfile.Id, medicationCategory = "DC" })
                .Delete("DeleteMedication", "Patient", new { MedId = Model.MedicationProfile.Id, medicationCategory = "DC" });
        })
        .Columns(columns => {
            columns.Bound(M => M.IsLongStanding).ClientTemplate("<input type='checkbox' disabled='disabled' name='IsLongStanding' <#=IsLongStanding? checked='checked' : '' #> />").Width(30);
            columns.Bound(M => M.StartDate).Format("{0:d}").Width(90);
            columns.Bound(M => M.MedicationDosage).Title("Medication & Dosage");
            columns.Bound(M => M.Route).Title("Route");
            columns.Bound(M => M.Frequency).Title("Frequency");
            columns.Bound(M => M.MedicationType).ClientTemplate("<label><#=MedicationType!=null&&MedicationType!=''? MedicationType.Text : ''#> </label>");
            columns.Bound(M => M.Classification);
            columns.Bound(M => M.DCDate).Format("{0:d}").Title("Date").Width(100); ;
            columns.Command(commands => {
                commands.Edit();
                commands.Delete();
            }).Width(120).Title("Commands");
        }).ClientEvents(e => e.OnEdit("Patient.onMedicationProfileEdit").OnRowDataBound("Patient.onMedicationProfileRowDataBound"))
        .Editable(editing => editing.Mode(GridEditMode.InLine)).Pageable().Sortable().Footer(false) 
        %>
    </div>
    <div class="newRow one medication">
    <table class="visitNote" style="border-top: solid 0.25px #8B8878;" cellpadding="0">
        <tfoot>
            <tr>
                <td>
                    <div>
                        <div class="buttons"><ul>
                            <li><a href="javascript:void(0);" onclick="$(this).closest('form').submit();">Save</a></li>
                            <li><a href="javascript:void(0);" onclick="UserInterface.CloseWindow('medicationprofile');">Close</a></li>
                        </ul></div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
</div>
<%} %>
<div id="dischargeMedicationProfileDialog" class="hidden dischargeMedication">
    <form id="dischargeMedicationProfileForm" action="/Patient/UpdateMedicationForDischarge"
    method="post">
    <fieldset>
        <legend>Discharge Medication</legend>
        <br />
        <div class="wide_column">
            <div class="row">
                <label for="">
                    Enter the discharge date:</label><div class="float_right">
                        <%= Html.Telerik().DatePicker().Name("DischargeDate").Value(DateTime.Today).HtmlAttributes(new { @id = "MedicationProfile_DischargeDate", @class = "text date" })%></div>
            </div>
        </div>
    </fieldset>
    <div class="buttons"><ul>
        <li><a href="javascript:void(0);" onclick="$(this).closest('form').submit();">Save</a></li>
        <li><a href="javascript:void(0);" onclick="U.closeDialog('');">Cancel</a></li>
    </ul></div>
    </form>
</div>
<script type="text/javascript">
    $("#MedicatonProfileGridInsertButton").html("<span class=\"t-add t-icon\"></span>Add New Medication");
</script>