﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<ScheduleEvent>>" %>
<% string pagename = "ScheduleVisitsByStatus"; %>
<div class="wrapper main">
    <fieldset>
         <legend> Visits By Status</legend>
         <div class="column">
            <div class="row"><label  class="float-left">Branch:</label><div class="float-right"><%= Html.LookupSelectList(SelectListTypes.BranchesReport, "BranchCode", "", new { @id = pagename + "_BranchCode", @class = "AddressBranchCode report_input valid" })%></div> </div>
            <div class="row"><label  class="float-left">Date Range:</label><div class="float-right"><input type="text" class="date-picker shortdate" name="StartDate" value="<%= DateTime.Now.AddDays(-59).ToShortDateString() %>" id="<%= pagename %>_StartDate" /> To <input type="text" class="date-picker shortdate" name="EndDate" value="<%= DateTime.Now.ToShortDateString() %>" id="<%= pagename %>_EndDate" /></div></div>
            <div class="row"><label  class="float-left">Status:</label><div class="float-right"><%= Html.VisitStatus("Status", "", 1,true,"-- Select Status --","0", new { @id = pagename + "_Status", @class = " report_input valid" })%></div></div>
            <div class="row"><label  class="float-left">Patient:</label><div class="float-right"><%= Html.Patients("Patients", "", 1, "All", new { @id = pagename + "_Patient", @class = " report_input valid" }) %></div></div>
            <div class="row"><label  class="float-left">Assigned To:</label><div class="float-right"><%= Html.Users("Clinicians", "", "All", new { @id = pagename + "_Clinician", @class = " report_input valid" }) %></div></div>
        </div>
         <% var sortParams= string.Format("{0}-{1}",ViewData["SortColumn"],ViewData["SortDirection"]);%>
        <div class="buttons"><ul><li><%= string.Format("<a href=\"javascript:void(0);\" onclick=\"Report.RebindReportGridContent('{0}','ScheduleVisitsByStatusContent',{{ BranchCode: $('#{0}_BranchCode').val(), PatientId: $('#{0}_Patient').val(), ClinicianId: $('#{0}_Clinician').val(), StartDate: $('#{0}_StartDate').val(), EndDate: $('#{0}_EndDate').val(), Status: $('#{0}_Status').val() }},'{1}');\">Generate Report</a>", pagename, sortParams)%></li></ul></div>
        <div class="buttons"><ul><li><%= Html.ActionLink("Export to Excel", "ExportScheduleVisitsByStatus", new { BranchCode = Guid.Empty, PatientId = Guid.Empty, ClinicianId = Guid.Empty, StartDate = DateTime.Now.AddDays(-59), EndDate = DateTime.Now, Status = 405 }, new { id = pagename + "_ExportLink" })%></li></ul></div>
    </fieldset>
     <div id="<%= pagename %>GridContainer" class="report-grid">
       <% Html.RenderPartial("Schedule/Content/VisitsByStatus", Model); %>
    </div>
</div>
