﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<VisitNoteViewData>" %>
<%  var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<%--<%if (Model.DisciplineTask == 120)
  { %>
    <table class="fixed nursing">
        <tr>
            <td>
				<div class="button">
					<a onclick="VitalSign.New('<%= Model.PatientId %>','<%= Model.EventId %>')">Add Vital Signs</a>
				</div>
            </td>
        </tr>
    </table>

<%}
  else
  { %>
  <div class="button">
	  <a onclick="VitalSign.New('<%= Model.PatientId %>','<%= Model.EventId %>')">Add Vital Signs</a>
  </div>
<%} %>--%>