﻿#printview .page{background:#fff url(/Images/Print/Patient/allergyprofile.jpeg) no-repeat center center}
#printview .content,#printview-buffer .content{top:12.25em;right:2em;bottom:2em;left:2em;font-size:10pt}
#printview .content tr,#printview-buffer .content tr{border-bottom:solid .1em #000}
#printview .content td,#printview-buffer .content td{padding:.2em .5em}
#printview .content .col0,#printview-buffer .content .col0{width:33.75em;font-size:12pt}
#printview .patientname{top:4.6em;left:8em;font-size:16pt;width:16em;height:1.5em}
#printview .mr{top:4.6em;left:27em;font-size:16pt;width:9em;height:1.5em}