﻿#printview .page{background:#fff url(/Images/Print/Patient/Authorization.jpeg) no-repeat center center}
#printview .content,#printview-buffer .content{top:23.5em;right:2em;bottom:2em;left:2em;font-size:10pt}
#printview .patientname{top:4.6em;left:7.4em;font-size:16pt;width:11em;height:1.5em}
#printview .patientname,#printview .mr,#printview .dob,#printview .branch,#printview .start,#printview .end,#printview .insurance,#printview .status,#printview .auth1,#printview .auth2,#printview .auth3,#printview .sn,#printview .pt,#printview .ot,#printview .st,#printview .msw,#printview .hha,#printview .dietician,#printview .rn,#printview .lvn{height:1.5em}
#printview .mr,#printview .dob,#printview .start,#printview .end{width:9em}
#printview .auth1,#printview .auth2,#printview .auth3,#printview .sn,#printview .pt,#printview .ot,#printview .st,#printview .msw,#printview .hha,#printview .dietician,#printview .rn,#printview .lvn{width:10em}
#printview .branch,#printview .insurance,#printview .status{width:19em}
#printview .mr,#printview .dob{top:8.5em}
#printview .branch,#printview .start,#printview .end{top:10.5em}
#printview .insurance,#printview .status{top:12.5em}
#printview .auth1,#printview .auth2,#printview .auth3{top:14.6em}
#printview .sn,#printview .pt,#printview .ot{top:17.3em}
#printview .st,#printview .msw,#printview .hha{top:19.3em}
#printview .dietician,#printview .rn,#printview .lvn{top:21.3em}
#printview .insurance,#printview .branch,#printview .auth1,#printview .sn,#printview .st,#printview .dietician{left:13em}
#printview .auth2,#printview .pt,#printview .msw,#printview .rn{left:33em}
#printview .mr,#printview .start,#printview .status{left:40em}
#printview .dob,#printview .end{left:55em}
#printview .auth3,#printview .ot,#printview .hha,#printview .lvn{left:54em}