﻿#printview .page{background:#fff url(/Images/Print/Patient/HospitalizationLog.jpeg) no-repeat center center}
#printview .content,#printview-buffer .content{top:10.5em;right:2.1em;bottom:2.2em;left:2.3em;line-height:1.5;border-top:.1em solid #000}
#printview .content td{padding:.25em}
#printview .patientname,#printview .episode,#printview .user{top:8.55em;width:12em;height:1.5em}
#printview .patientname{left:10.5em}
#printview .episode{left:30.5em}
#printview .user{left:45.5em}