﻿#printview .page{background:#fff url(/Images/Print/Patient/MedicationProfile.jpeg) no-repeat center center}
#printview h3{font-weight:bold;text-align:center}
#printview .content,#printview-buffer .content{top:14.6em;right:1.9em;bottom:10em;left:2.05em;font-size:1.1em}
#printview .content .col0,#printview-buffer .content .col0{width:1.7em;padding:0;border-right:.1em solid #000}
#printview .content .col1,#printview-buffer .content .col1{width:6.2em;border-right:.2em solid #000}
#printview .content .col2,#printview-buffer .content .col2{width:17.4em;border-right:.1em solid #000}
#printview .content .col3,#printview-buffer .content .col3{width:9.2em;border-right:.1em solid #000}
#printview .content .col4,#printview-buffer .content .col4{width:6.9em;border-right:.1em solid #000}
#printview .content .col5,#printview-buffer .content .col5{width:1em;border-right:.1em solid #000}
#printview .content .col6,#printview-buffer .content .col6{width:11.5em}
#printview .content table,#printview-buffer .content table{border-bottom:.1em solid #000}
#printview .content td,#printview-buffer .content td{padding:.2em}
#printview .patientname,#printview .mr,#printview .physician,#printview .episode,#printview .pharmacy,#printview .pharmphone,#printview .pridiagnosis,#printview .secdiagnosis,#printview .allergies,#printview .sign,#printview .signdate{height:1.5em}
#printview .patientname,#printview .mr,#printview .physician{top:8.55em}
#printview .patientname{left:11.5em;width:10.5em}
#printview .mr{left:26.3em;width:15.5em}
#printview .physician{left:49.2em;width:14em}
#printview .episode,#printview .pharmacy,#printview .pharmphone{top:10.55em}
#printview .episode{left:11.9em;width:11em}
#printview .pharmacy{left:29em;width:13em}
#printview .pharmphone{left:52.5em;width:11em}
#printview .pridiagnosis,#printview .secdiagnosis{top:12.55em}
#printview .pridiagnosis{left:13.5em;width:19em}
#printview .secdiagnosis{left:45.5em;width:17em}
#printview .allergies{top:14.55em;left:9em;width:50em}
#printview .sign,#printview .signdate{top:82em}
#printview .sign{left:3em;width:43em}
#printview .signdate{left:51.4em;width:11em}