﻿#printview .page{background:#fff url(/Images/Print/Patient/PhysicianOrder.jpeg) no-repeat center center}
#printview .content,#printview-buffer .content{top:25em;right:3em;bottom:14em;left:3em;line-height:1.5}
#printview .patientname,#printview .physicianname,#printview .orderdate,#printview .ordernum,#printview .episode,#printview .dob,#printview .mr,#printview .allergies,#printview .summary,#printview .IsOrderReadAndVerified,#printview .clinsign,#printview .clinsigndate,#printview .physsign,#printview .physsigndate{height:1.5em}
#printview .patientname,#printview .physicianname{top:5.25em;font-size:14pt;font-weight:bold;width:15em}
#printview .patientname{left:6em}
#printview .physicianname{left:26em}
#printview .patient,#printview .physician{top:10em;height:7.5em}
#printview .patient{left:3em;width:16em}
#printview .physician{left:33.75em;width:30em}
#printview .mr,#printview .dob{left:23em;width:10em}
#printview .mr{top:11em}
#printview .dob{top:13em}
#printview .orderdate,#printview .ordernum,#printview .episode{top:18.6em}
#printview .orderdate,#printview .allergies,#printview .summary{left:11em}
#printview .orderdate,#printview .ordernum{width:8em}
#printview .ordernum{left:25em}
#printview .episode{left:46em;width:17.5em}
#printview .allergies,#printview .summary{width:52.5em}
#printview .allergies{top:20.6em}
#printview .summary{top:22.6em}
#printview .IsOrderReadAndVerified{top:72.75em;left:3.25em;width:1.5em}
#printview .clinsign,#printview .clinsigndate{top:77em}
#printview .physsign,#printview .physsigndate{top:82em}
#printview .clinsign,#printview .physsign{left:3em;width:45em}
#printview .clinsigndate,#printview .physsigndate{left:50.5em;width:13em}