﻿#printview .page{background:#fff url(/Images/Print/Patient/PatientProfile.jpeg) no-repeat center center}
#printview .content,#printview-buffer .content{top:62em;right:2.5em;bottom:3em;left:3em;line-height:1.5}
#printview .patientname{top:8.5em;left:7em;width:23em;height:1.5em}
#printview .patient{top:10em;left:3.5em;height:6em;width:26.5em}
#printview .ssn{top:15.8em;left:6em;height:1.5em;width:8em}
#printview .id{top:17.3em;left:6em;height:1.5em;width:8em}
#printview .mcare{top:17.3em;left:21em;height:1.5em;width:10em}
#printview .soc{top:8.5em;left:40em;height:1.5em;width:8em}
#printview .bday{top:8.5em;left:53em;height:1.5em;width:9em}
#printview .sex{top:10.2em;left:40em;height:1.5em;width:8em}
#printview .marital{top:10.2em;left:53em;height:1.5em;width:9em}
#printview .office{top:12em;left:40em;height:1.5em;width:23em}
#printview .race{top:13.6em;left:40em;height:1.5em;width:23em}
#printview .height{top:15.4em;left:40em;height:1.5em;width:8em}
#printview .weight{top:15.4em;left:53em;height:1.5em;width:9em}
#printview .cert{top:17.1em;left:40em;height:1.5em;width:23em}
#printview .triage{top:21em;left:11em;height:1.5em;width:41em;font-size:.9em}
#printview .refdate{top:18.9em;left:55em;height:1.5em;width:9em}
#printview .priins{top:22.5em;left:9em;height:2.5em;width:15em}
#printview .priinsnum{top:22.5em;left:24.5em;height:2.5em;width:8em}
#printview .secins{top:25.2em;left:9em;height:2.5em;width:15em}
#printview .secinsnum{top:25.2em;left:24.5em;height:2.5em;width:8em}
#printview .terins{top:28em;left:9em;height:2.5em;width:15em}
#printview .terinsnum{top:28em;left:24.5em;height:2.5em;width:8em}
#printview .ecname{top:24em;left:33.75em;height:1.5em;width:13em}
#printview .ecphone{top:24em;left:46.9em;height:5em;width:8.5em}
#printview .ecralation{top:24em;left:55.7em;height:5em;width:8em}
#printview .ecname2{top:25.5em;left:33.75em;height:1.5em;width:13em}
#printview .ecphone2{top:25.5em;left:46.9em;height:1.5em;width:8.5em}
#printview .ecralation2{top:25.5em;left:55.7em;height:1.5em;width:8em}
#printview .ecname3{top:27em;left:33.75em;height:1.5em;width:13em}
#printview .ecphone3{top:27em;left:46.9em;height:1.5em;width:8.5em}
#printview .ecralation3{top:27em;left:55.7em;height:1.5em;width:8em}
#printview .ecname4{top:28.5em;left:33.75em;height:1.5em;width:13em}
#printview .ecphone4{top:28.5em;left:46.9em;height:1.5em;width:8.5em}
#printview .ecralation4{top:28.5em;left:55.7em;height:1.5em;width:8em}
#printview .allergies{top:32.5em;left:3em;height:4.75em;width:29.5em}
#printview .pharm{top:32.7em;left:38em;height:1.5em;width:25em}
#printview .pharmphone{top:34.6em;left:38em;height:1.5em;width:25em}
#printview .pridiag{top:39.2em;left:14em;height:1.5em;width:16.5em}
#printview .secdiag{top:41.2em;left:14em;height:1.5em;width:16.5em}
#printview .clinician{top:43.2em;left:14em;height:1.5em;width:16.5em}
#printview .caseman{top:45.2em;left:14em;height:1.5em;width:16.5em}
#printview .startofcare{top:47.2em;left:14em;height:1.5em;width:16.5em}
#printview .freq{top:49.2em;left:14em;height:5em;width:16.5em}
#printview .phys{top:39.2em;left:40em;height:1.5em;width:21em}
#printview .physaddress{top:41.2em;left:40em;height:3.5em;width:21em}
#printview .physphone{top:45.2em;left:40em;height:1.5em;width:21em}
#printview .physfax{top:47.2em;left:40em;height:1.5em;width:21em}
#printview .physnpi{top:49.2em;left:40em;height:5em;width:21em}
#printview .services{top:56.4em;left:3em;height:3.5em;width:29.5em}
#printview .dme{top:56.4em;left:34em;height:3.5em;width:29.5em}