﻿#printview .page{background:#fff url(/Images/Print/Patient/TriageClassification.jpeg) no-repeat center center}
#printview .patientname,#printview .mr,#printview .dob,#printview .ecname,#printview .ecphone,#printview .tri1,#printview .tri2,#printview .tri3,#printview .tri4{height:1.5em}
#printview .patientname,#printview .mr,#printview .dob{top:8.5em}
#printview .patient,#printview .ecname{top:10.5em}
#printview .ecphone{top:12em}
#printview .ecname,#printview .ecphone{left:47.5em;width:16em}
#printview .patientname{left:11em;width:21em}
#printview .patient{top:10em;left:3.5em;height:6em;width:26.5em}
#printview .mr{left:36em;width:12.5em}
#printview .dob{left:52em;width:12.5em}
#printview .tri1,#printview .tri2,#printview .tri3,#printview .tri4{left:3.7em;width:1.5em}
#printview .tri1{top:18.5em}
#printview .tri2{top:37.7em}
#printview .tri3{top:53.7em}
#printview .tri4{top:69.7em}
