﻿/* -- General -- */
a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,figure,footer,form,h1,h2,h3,h4,h5,h6,hFeader,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0;margin:0;outline:0;padding:0}
html,body{overflow:hidden;height:100%}
a{text-decoration:none}
a.hidden,.sf-sub-indicator{display:none}
img{font-size:0}
body,h1,h2,h3,h4,h5,h6,textarea{font:12px/1 'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif}
li{list-style:none}
label{color:#333;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px}
label.float-left{font-weight:bold}
em{font-weight:normal;font-size:10px}
.largefont{font-size:16px}
.center{margin-left:auto;margin-right:auto}
fieldset{position:relative;margin:10px 10px 20px;background-color:#fffcf2;border:solid 1px #aaa}
legend{font-weight:bold}
input,textarea,select{border:1px solid #d1d1d1}
.abs,.abs-left,.abs-right,.abs_bottom,.abs_top{position:absolute;top:auto;left:auto;right:auto;bottom:auto;cursor:default}
.abs-left,.abs_bottom,.abs_top{left:0}
.abs-right,.abs_bottom,.abs_top{right:0}
.abs_bottom{bottom:0;}
.abs_top{top:0;}
.rel{position:relative;display:inline-block}
.hidden{display:none}
.very-hidden{display:none !important}
.align-left{text-align:left}
.align-center{text-align:center !important}
.align-right{text-align:right}
.float-left{float:left}
.float-right{float:right;position:relative}
.clear{clear:both}
.clear-left{clear:left}
.clear-right{clear:right}
.clear.auto{height:auto}
.light{font-weight:normal !important}
.strong{font-weight:bold}
.fixed{table-layout:fixed}
.error-message{color:#fc3c21}
.half{width:45%}
.pointer{cursor:pointer}
/* -- Desktop -- */
#wallpaper{margin:auto}
#desktop{overflow:hidden;top:29px;right:0;bottom:33px;left:0;background:#d7d7d7 url(/Images/wallpaper.jpeg) no-repeat center center}
/* -- Menu and Taskbar -- */
#bar-top,#bar-bottom{font-weight:bold;padding:0 10px;left:0;right:0}
#tab{position:absolute;top:3px;left:0;width:207px;height:63px;background:url(/Images/logos.png) no-repeat 0 0;z-index:11}
#bar-top{line-height:25px;text-shadow:#fff 0 1px 1px;background:url(/Images/gradients.png) repeat-x 0 -400px;border-bottom:solid 1px #333;padding-left:204px;height:25px;top:0;border-top:solid 3px #af1e2d;color:#999;z-index:10}
.ie-shadow{display:none}
#bar-bottom{font-size:13px;line-height:22px;background:url(/Images/gradients.png) repeat-x 0 -440px;border-top:solid 1px #333;overflow:hidden;padding:2px 0;height:25px;bottom:0;border-bottom:solid 3px #af1e2d;color:#333}
#bar-top li,#bar-bottom li{float:left}
#bar-top li a,#bar-bottom li a{cursor:default;display:block;padding:0 8px;border-left:1px solid #bbb}
#bar-top .img{vertical-align:top;margin:1px 3px 1px 1px}
#bar-top a{overflow:hidden;height:25px;min-height:1px;color:#333}
#bar-top li.active{text-shadow:none;background:url(/Images/gradients.png) repeat-x 0 -360px}

#bar-top ul.menu{border:1px solid #bbb;border-top-width:0;border-bottom-width:0;display:none;margin:1px;position:absolute;min-width:175px;z-index:30;background-color:#fffcf2}
#bar-top ul.menu ul.menu{border-top-width:1px;display:none;z-index:31;left:217px;top:0}
#bar-top ul.menu li{float:none;position:relative}
#bar-top ul.menu a{background:#fff;border-left:0 none;border-bottom:solid 1px #bbb;min-width:200px}
#bar-top ul.menu a:hover{background:url(/Images/gradients.png) repeat-x 0 -250px;color:#fff;text-shadow:-1px 1px 2px #333}

#scheduleTop ul.menu,#patientTop ul.menu{border:1px solid #bbb;border-top-width:0;border-bottom-width:0;display:none;margin:1px;position:absolute;min-width:175px;z-index:30;background-color:#fffcf2}
#scheduleTop ul.menu ul.menu,#patientTop ul.menu ul.menu{border-top-width:1px;display:none;z-index:31;left:217px;top:0}
#scheduleTop ul.menu li,#patientTop ul.menu li{float:none;position:relative}
#scheduleTop ul.menu a,#patientTop ul.menu a{background:#fff;border-left:0 none;border-bottom:solid 1px #bbb;min-width:200px}
#scheduleTop ul.menu a:hover,#patientTop ul.menu a:hover{background:url(/Images/gradients.png) repeat-x 0 -250px;color:#fff;text-shadow:-1px 1px 2px #333}

ul.context-menu ul.menu{display:none;}
#mainmenu ul a.menu-trigger .img{position:absolute;right:0;top:4px}
#bar-bottom li a{margin:1px 0 0 5px;text-shadow:#000 0 1px 1px;background:#aaa;color:#fff;border:solid 1px #333;overflow:hidden;padding:0 10px;height:23px}
#bar-bottom a:hover{border-color:#af1e2d;background-color:#ac8383}
#bar-bottom a:active{background-color:#ac8383}
#bar-bottom li a .img{float:left;margin:1px 5px 0 -5px}
#bar-bottom .float-left .img,#bar-bottom .float-right .img{display:block;padding:0}
#bar-bottom span.float-right{margin-right:10px}
#bar-bottom span.float-right{font-size:10px}
.img.icon{width:22px;height:22px;display:inline-block;background:url(/Images/sprite.png) no-repeat 0 -86px}
.img.icon.axxess{width:28px;background-position:-220px -12px}
.img.icon.more{width:5px;height:9px;background-position:-189px -50px;margin:4px !important}
.img.icon.find{width:16px;height:16px;background-position:-84px -47px}
.img.icon.clock{width:16px;height:16px;background-position:-105px -86px}
.img.acorelogo{width:290px;height:31px;display:inline-block;background:url(/Images/logos.png) no-repeat 0 -258px}
div.context-menu-closer{display:fixed;z-index:12;top:0;left:0;width:100%;height:100%}
ul.context-menu{background-color:#fff;position:fixed;border:solid .1em #555;z-index:12}
ul.context-menu li{width:125px;padding:.5em;border-bottom:solid .1em #bbb;cursor:pointer;font-weight:bold;position:relative}
ul.context-menu li.hover{color:#fff;text-shadow:.1em .1em .1em #000;background-color:#96c1d9}
ul.context-menu li:last-child{border-bottom:none 0 transparent}
ul.context-menu a{color:#333}
ul.context-menu a .img{vertical-align:sub;margin-right:.4em}
ul.context-menu li.hover a{color:#fff}
ul.context-menu li.hover ul a{color:#333;text-shadow:none}
ul.context-menu ul{position:absolute;left:138px;top:-1px;background-color:#fff;border:solid .1em #555;z-index:12;width:187px}
ul.context-menu ul ul{left:187px}
ul.context-menu ul li{width:175px}
/* -- Windows -- */
.window,.ui-dialog{border:solid 1px #aaa;z-index:2;background-color:#fff;color:#000}
.window.active,.ui-dialog{border-color:#777}
.window.minimized{z-index:-1}
.loading{background:#fff url(/Images/loading.gif) no-repeat scroll center center}
.window.active,.window.ui-draggable-dragging{z-index:10}
.window.ui-draggable-dragging{opacity:.5}
.window.ui-draggable-dragging .window-content,.window.ui-draggable-dragging .window-bottom{display:none}
.maximized.ui-draggable-dragging{opacity:1}
.maximized.ui-draggable-dragging .window-content,.maximized.ui-draggable-dragging .window-bottom{display:block}
.window-top,.ui-dialog-titlebar{text-align:center;background:url(/Images/gradients.png) repeat-x 0 -40px;padding:0 10px;height:25px;overflow:hidden;color:#fff}
.window.active .window-top,.ui-dialog-titlebar{background:url(/Images/gradients.png) repeat-x 0 0}
.window-top .img{float:left;margin:2px 5px 0 0}
.window-top .abs,.ui-dialog-title{margin:auto;font-weight:bold;line-height:25px;text-shadow:#fff 0 1px 1px;top:0;right:100px;left:40px;cursor:default;color:#000}
.window-bottom{background:url(/Images/gradients.png) repeat-x 0 -400px;border-top:solid 1px #bbb;overflow:hidden;height:20px;right:0;bottom:0;left:0;font-size:11px;font-weight:bold;line-height:20px;text-align:center;text-shadow:#fff 0 1px 1px}
.window-min,.window-resize,.window-close,.ui-dialog-titlebar-close{background:url(/Images/sprite.png) no-repeat;float:left;margin:4px 0 0 2px;width:28px;height:15px}
.window-min{background-position:0 -33px}
.window-min:hover{background-position:0 -48px}
.window-resize{background-position:-28px -33px}
.window-resize:hover{background-position:-28px -48px}
.window-close,.ui-dialog-titlebar-close{background-position:-56px -33px}
.window-close:hover,.ui-dialog-titlebar-close:hover{background-position:-56px -48px}
.window-inner{top:0;left:0;right:0;bottom:0}
.ui-dialog{padding:1px}
.maximized{border:0}
.window_aside h3{margin:0 0 0 5px}
.window_main{background-color:#fff}
.window-content{color:#333;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;line-height:1.5;overflow:auto;top:25px;right:0;left:0}
#window_error{position:absolute;top:50%;left:50%;width:400px;height:40px;background-color:#fccac3;margin:-70px -250px;border:solid .1em #dbb3ad;padding:50px;color:#9e7a75}
#window_error h1{display:inline-block;margin:.1em;text-align:center;font-size:1.65em;width:364px}
#window_error p{display:inline-block;text-align:center;width:395px}
#window_error .buttons{position:relative;top:75px}
.main{padding:10px}
.ajaxerror{margin-top:20%;text-align:center}
.ajaxerror h1{line-height:32px;display:inline;vertical-align:super}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px}
.ui-resizable{position:absolute}
.ui-resizable-handle{position:absolute;font-size:.1px;z-index:99999;display:block}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;background:url(/Images/sprite.png) no-repeat -134px -47px !important}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.maximized .ui-resizable-handle{display:none}
.fit-window{position:absolute;top:0;right:0;bottom:0;left:0;height:100%;width:100%}
/* -- jGrowl/Notification System -- */
.jGrowl{position:fixed;padding:10px;z-index:9999;color:#333;font-size:12px}
.jGrowl.top-right{right:0;top:30px}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{background:#ddd;opacity:.95;width:235px;padding:10px;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;border:solid 1px #bbb}
.jGrowl div.jGrowl-notification{min-height:40px}
.jGrowl div.jGrowl-notification div.header{font-weight:bold;font-size:.85em}
.jGrowl div.jGrowl-notification div.close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer}
.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center}
.jGrowl div.error{background:#fccac3;color:#333}
.jGrowl div.success{background:#b6d4b6;color:#333}
.jGrowl div.warning{background:#fff8d8;color:#333}
/* -- Idle Modal -- */
#idlemodal{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#fffcf2;color:#333;padding:2px 10px;font-size: 1.2em;text-align:center}
#idlemodal .buttons{margin:10px}
/*-- Windows Without Overflow --*/
#window_StartOfCare_content,#window_NonOasisStartOfCare_content,#window_NonOasisRecertification_content,#window_NonOasisDischarge_content,#window_Recertification_content,#window_ResumptionOfCare_content,#window_FollowUp_content,#window_DischargeFromAgencyDeath_content,#window_DischargeFromAgency_content,#window_TransferInPatientDischarged_content,#window_TransferInPatientNotDischarged_content,#window_newmessage_content,#window_final{overflow:hidden}