﻿/* -- Telerik Grid Placement Overrides -- */
.fixedGridHeight{height:286px;position:relative;}
.absoluteGrid{position:absolute;left:0;right:0;bottom:0;top:287px;height:auto;}
#window_listagencylocations .t-grid-content,
#window_listlogins .t-grid-content,
#window_listagencies .t-grid-content,
#window_listfacetoface .t-grid-content,
#window_listagencyusers .t-grid-content {top:60px;bottom:23px;}
.img.icon{display:inline-block}
.img.icon.expand{background:url(/Images/sprite.png) no-repeat -190px 0;width:16px;height:16px}
.img.icon.collapse{background:url(/Images/sprite.png) no-repeat -190px -16px;width:16px;height:16px}
.img.icon.paperclip{background:url(/Images/sprite.png) no-repeat -148px -31px;width:16px;height:16px}
.img.icon.print{background:url(/Images/sprite.png) no-repeat -84px -31px;width:16px;height:16px}
.img.icon.money{background:url(/Images/sprite.png) no-repeat -99px -47px;width:16px;height:16px}
.img.icon.success{background:url(/Images/sprite.png) no-repeat -64px 0;width:32px;height:31px}
.img.icon.error{background:url(/Images/sprite.png) no-repeat -128px 0;width:32px;height:31px}
.img.icon.success-small{background:url(/Images/sprite.png) no-repeat -150px -47px;width:16px;height:16px}
.img.icon.error-small{background:url(/Images/sprite.png) no-repeat -166px -47px;width:16px;height:16px}
.img.icon.send{background:url(/Images/sprite.png) no-repeat -190px -17px;width:29px;height:14px}
.img.icon.note{background:url(/Images/sprite.png) no-repeat -132px -31px;width:16px;height:16px;margin-right:5px;margin-left:5px}
.img.icon.note-blue{background:url(/Images/sprite.png) no-repeat -116px -31px;width:16px;height:16px;margin-right:5px;margin-left:5px}
.img.icon.note-red{background:url(/Images/sprite.png) no-repeat -100px -31px;width:16px;height:16px;margin-right:5px;margin-left:5px}
.img.info.icon{background-position:-96px 0;width:32px;height:32px}
.img{vertical-align:text-bottom}
/* -- Return Comments -- */
#window_ReturnReason_content{background-color:#fccac3;height:29.2em;overflow:hidden;
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea))}
#window_ReturnReason_content .main{background:url(/Images/logo-ghost.png) no-repeat -1.5em 105%}
#window_ReturnReason_content textarea{background-color:rgba(255,255,255,.8);border:.1em solid #b88e88;width:100%;height:7.5em}
.tall{height:7.5em}
#window_ReturnReason_content .return-comments{background-color:rgba(255,255,255,.4);border:.1em solid #b88e88;height:15em;overflow:auto;padding:.5em;margin-bottom:1em}
.return-comments hr,.note_modal hr{margin:.5em 0;border-top:.1em solid #b88e88;border-bottom:0}
.note_modal hr{border-top-color:#333}
#Schedule_Detail_ReturnComments hr{border-top-color:#aaa}
.return-comments .user,.note_modal .user,#tooltip .user{font-weight:bold;margin-right:.5em}
.return-comments .time,.note_modal .time,#tooltip .time{font-weight:bold;font-size:.8em;vertical-align:text-bottom;font-style:italic}
.return-comments .reason,.note_modal .reason,#tooltip span{display:block;line-height:1.1}
#Schedule_Detail_ReturnComments .return-comments{max-height:20em;overflow:auto;border:.1em solid #aaa;float:left;padding:.5em;width:97% !important}
.edit-controls{float:right}
.note_modal .edit-controls,#tooltip .edit-controls{display:none}
.edit-controls .img.icon,task-controls .img.icon{width:22px;height:22px;cursor:pointer}
.img.edit-comment{background-position:-227px -129px}
.img.edit-schedule-comment{background-position:-227px -194px}
.img.missed-visit-comment{background-position:-227px -216px}
.img.delete-comment{background-position:-118px -108px}
.img.print-comment{background-position:-227px -151px}
/*-- Order Management --*/
#orderListContent .t-grid,#List_FaceToFace .t-grid,#List_CompleteOrders .t-grid,#cpoListContent .t-grid{top:30px}
#orderListContent .t-grid-content,#List_FaceToFace .t-grid-content,#List_CompleteOrders .t-grid-content,#List_CPO .t-grid-content{height:auto !important;top:26px;bottom:22px}
#List_FaceToFace .t-grid-content{top:26px}
.wintitle,#orderListContent .t-grouping-header,#List_FaceToFace .t-button,#List_CPO .t-grouping-header{display:none}
#window_listorders_content,#window_listcpo_content {background-color:#d6e5f3}
.orders-filter{padding:.4em 1em 0;width:760px;margin:.5em auto}
/* -- jQuery Layout -- */
.layout_resizer{background:#fff;width:1px !important;border-left:solid 1px #eee;border-right:solid 1px #ddd;height:100% !important;}
.layout{position:absolute;top:0;right:0;bottom:0;left:0;}
.layout_pane{overflow:hidden;height:100% !important;}
.layout_main{width:auto !important;}
/* -- Patient/Scheduling Center -- */
.layout_left .top{padding:0 0.3em;}
.layout_left .top .row{display:table;margin:2px;width:100%;}
.layout_left .top .heading{text-align:left;font-weight: bold;font-size:12.5px;margin-bottom:0; margin-top: 6px;}
.layout_left .top .row label{float:left;}
.layout_left .top .row div{display:block;margin-left:50px;padding-right:6px;}
.layout_left .top select,.layout_left .top input{width:100%;}
.layout_left .bottom{position:absolute;top:135px;right:2px;bottom:0;left:0;}
.layout_main .tabcontents{position:relative;}
.layout_main .tabcontents tbody td{border-bottom:1px solid #dce6f5;padding:5px 2px;text-align:center;}
.layout_main .tabcontents tbody .lastrow td,#multipleScheduleTable td{border-bottom:none;}
.layout_main .tabcontents .daterange{width:415px;}
.layout_main .scheduleTables select,.layout_main .scheduleTables tbody input{width:100%;}
.layout_main .scheduleTables{width:76%;}
.layout_main .scheduleTables .currentDate,.layout_main .scheduleTables .t-input{width:120px;}
.layout_main .scheduleTables .action a{cursor:pointer;text-decoration:underline;}
.layout_main .scheduleTables .lastrow .action{display:none;}
.tabcontents .buttons{position:absolute;bottom:-5px;right:-15px;}
.layout_main .bottom{position:absolute;top:283px;right:0;bottom:0;left:0;}
.layout_main .bottom .above{position:absolute;top:-27px;right:0;left:0;border:solid 1px #d3d3d3;padding-top:3px;height:23px;background-color:#D6E5F3;}
.above label,.above select,.above input{margin:0 5px;}
.winmenu{width:100%;background:#c3d8f1 url(/css/Office2007/sprite.png) repeat-x scroll 0 -352px;height:25px;border:solid 1px #d3d3d3;}
.winmenu ul li{float:left;color:#333;}
.winmenu ul li a{cursor:pointer;display:block;line-height:25px;padding:0 10px;color:#333;border-right:solid 1px #d3d3d3;}
.twothirds{height: 158px; float:left;background-color:#fffcf2;border:solid 1px #d3d3d3;margin:5px;padding:10px;width:69%;}
.twothirds img{margin-right:10px;}
.layout_main .top a{color:#333;cursor:pointer;}
.onethird{width:25%;}
.encapsulation{float:right;padding:5px;}
.encapsulation ul{background:#fffcf2;}
.encapsulation h4{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;width:90%;text-align:center;font-size:12px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.encapsulation li a{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;border-top:0;width:90%;}
.bigtext{font-size:17px;font-weight:bold;font-family:Arial}

.notes .t-header{width:100%}
.notes{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.notessub{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.notes label,.notessub label{text-align:left}
.notes th,.notessub th,.t-state-selected{background:url(/Images/gradients.png) repeat-x 0 -678px;border:1px solid #9bb6cf;font-weight:bold;padding:2px}

.notes{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.notessub{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.notes label,.notessub label{text-align:left}
.notes th,.notessub th,.t-state-selected{background:url(/Images/gradients.png) repeat-x 0 -678px;border:1px solid #9bb6cf;font-weight:bold;padding:2px}
.telerik-back{background:#c3d8f1 url("/Content/Office2007/sprite.png") repeat-x scroll 0 -352px !important}
.notes th.tall{background:#d6e5f3 !important}
.t-state-selected{background-color:#dae7ed !important}
.notes th em,.notessub th em{position:absolute;right:30px}
.notes td,.notessub td{border:1px solid #aaa;padding:5px;background-color:#fffcf2}
.notes .third,.notessub .third{width:30%;padding:0 5px;display:inline-block}
.notes .half,.notessub .half{width:45%;padding:0 5px;display:inline-block}
.notes table td,.notes table th,.notessub table td,.notessub table th{background:none;border:0 none;padding:0 5px}
.notes table,.notessub table{width:100%}
.notes label.float-left { display: block; width: 200px !important; }
/* -- Dashboard -- */
.notes ol{font-weight:normal}
.notes ol.loading{height:150px}
.notes ol.loading li{display:none}
.notes ul,.notes ol{border:1px solid #888;margin:5px 2px}
.notes ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.notes ul li{font-weight:bold}
.notes li span{display:inline-block}
.notes li{display:block;padding:1px 10px}
.notes ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none}
.notes li.even{background-color:#f7efd5}
.notes li.hover{border-color:#888;background-color:#dcf5e5;position:relative}
.notes li img{vertical-align:middle}
.notes li .name{width:65%}
.notes li .type{width:20%}
.notes li .action{width:12%}
.notes h3{font-weight:bold;font-size:14px;line-height:16px}
.notes ul{margin-top:5px}

/* -- Dashboard -- */
.modal-gray{background-color:#6f95d4;color:#fff;padding:0 10px 10px;text-align:center;font-size:24px;text-shadow:0 2px 3px #333;}
.modal-gray h3{font-size:24px;background:url(/Images/gradients.png) repeat-x 0 -280px;padding-top:10px;}
#intro_widget ul,.modal-gray ul{text-align:left;margin:5px 40px;}
#intro_widget ul li,.modal-gray ul li{padding:5px;list-style:none;}
.img.icon.greenarrow{background:url(/Images/sprite.png) no-repeat -69px -108px;width:29px;height:20px;}
#intro_widget ul li a{color:#368c36;font-size:18px;position:relative;top:-3px;line-height:18px;}
.modal-gray ul li a{color:#fff;}
#intro_widget ul li a:hover{color:#2fa32f;}
.widget-content h1 { font-family: Sans-Serif; font-size: 17px; font-weight: bold; color: #3C78B5; }
.widget-content .underline { border-top: solid 1px #3C78B5; margin-bottom: 5px; }
.widget-content .mailcontrols,#messagesWidgetContent div{border-bottom:solid 1px #d6e5f3;}
.widget-content .mailcontrols,.widget-content .message{padding:3px;line-height:20px;display:block;}
.widget-content a.message{color:#333;}
.widget-content .message input{margin:3px 10px 0 3px;}
.widget-content .faux-grid{position:absolute;font-weight:normal !important;color:#333;bottom:0;left:0;right:0;top:0;}
.widget-content .faux-grid table{width:100%;}
.widget-content .faux-grid-header{width:100%;background:url(/Images/gradients.png) repeat-x 0 -120px;border-color:#d3d3d3;color:#333;font-weight:bold;border-bottom-style:solid;border-bottom-width:1px;padding-right:17px;}
.widget-content .faux-grid-header th{border-bottom-width:0;border-style:solid;border-width:0 1px 1px 0;overflow:hidden;padding:.3em .6em;white-space:nowrap;text-align:left;background:url(/Images/gradients.png) repeat-x 0 -120px;border-color:#d3d3d3;color:#333;font-weight:bold;}
.widget-content .faux-grid-content{max-height:181px;width:100%;}
.widget-content .faux-grid-content td{border-width:0 1px 0 0;border-right:1px solid #d6e5f3;line-height:1.6em;overflow:hidden;padding:.25em .6em;vertical-align:top;}
.modal-gray ul li a:hover{color:#fdd;text-shadow:0 2px 5px #833;}
.img.icon.stop{background:url(/Images/sprite.png) no-repeat 0 -109px;width:20px;height:20px;margin-left:7px;}
#messagesWidgetContent div{height:26px;overflow:hidden;}
.widgets{width:450px;float:left;}
.widget{border:solid 1px #aaa;margin:10px;overflow:hidden;position:relative;height:235px;}
.widget a:hover{text-decoration:underline;}
.widget-head{background:url(/Images/gradients.png) repeat-x 0 -678px;border-bottom:solid 1px #d3d3d3;color:#943a43;height:24px;text-align:center;}
.widget-head h5{font-weight:bold;line-height:22px;}
#intro_widget .widget-content div{padding:5px 10px;}
.widget-content{display:block;background:#fffcf2;height:210px;position:absolute;font-weight:normal !important;left:0;right:0;}
.widget-more{position:absolute;bottom:-1px;right:20px;padding:4px;background-color:#eee;border:solid 1px #aaa;}
.widget-more a{color:#af1e2d;}
.widget-more a:hover{display:block;margin:5px;font-weight:bold;}
.weatherFeed{color:#94461e;}
.widget-content .t-grid{font-weight:normal !important;}
.widget-placeholder{border:2px dashed;margin-bottom:10px;}
.content .widgets{margin:0 10px;}
.widget-head a{height:16px;outline:none;position:absolute;text-indent:-9999em;top:5px;width:16px;}
/* Custom Dashboard Message Reset */
#customMessageWidget div{position:relative;}
#customMessageWidget address,#customMessageWidget blockquote,#customMessageWidget dd,#customMessageWidget div,#customMessageWidget dl,#customMessageWidget dt,#customMessageWidget fieldset,#customMessageWidget h1,#customMessageWidget h2,#customMessageWidget h3,#customMessageWidget h4,#customMessageWidget h5,#customMessageWidget h6,#customMessageWidget ol,#customMessageWidget p,#customMessageWidget ul,#customMessageWidget center,#customMessageWidget dir,#customMessageWidget hr,#customMessageWidget menu,#customMessageWidget pre{display:block;unicode-bidi:embed;}
#customMessageWidget li{display:list-item;}
#customMessageWidget table{display:table;}
#customMessageWidget tr{display:table-row;}
#customMessageWidget thead{display:table-header-group;}
#customMessageWidget tbody{display:table-row-group;}
#customMessageWidget tfoot{display:table-footer-group;}
#customMessageWidget col{display:table-column;}
#customMessageWidget colgroup{display:table-column-group;}
#customMessageWidget td,#customMessageWidget th{display:table-cell;}
#customMessageWidget caption{display:table-caption;}
#customMessageWidget th{font-weight:bolder;text-align:center;}
#customMessageWidget caption{text-align:center;}
#customMessageWidget h1{font-size:2em;margin:.67em 0;}
#customMessageWidget h2{font-size:1.5em;margin:.75em 0;}
#customMessageWidget h3{font-size:1.17em;margin:.83em 0;}
#customMessageWidget h4,#customMessageWidget p,#customMessageWidget blockquote,#customMessageWidget ul,#customMessageWidget fieldset,#customMessageWidget ol,#customMessageWidget dl,#customMessageWidget dir,#customMessageWidget menu{margin:1.12em 0;}
#customMessageWidget h5{font-size:.83em;margin:1.5em 0;}
#customMessageWidget h6{font-size:.75em;margin:1.67em 0;}
#customMessageWidget h1,#customMessageWidget h2,#customMessageWidget h3,#customMessageWidget h4,#customMessageWidget h5,#customMessageWidget h6,#customMessageWidget b,#customMessageWidget strong{font-weight:bolder;}
#customMessageWidget blockquote{margin-left:40px;margin-right:40px;}
#customMessageWidget i,#customMessageWidget cite,#customMessageWidget em,#customMessageWidget var,#customMessageWidget address{font-style:italic;}
#customMessageWidget pre,#customMessageWidget tt,#customMessageWidget code,#customMessageWidget kbd,#customMessageWidget samp{font-family:monospace;}
#customMessageWidget pre{white-space:pre;}
#customMessageWidget big{font-size:1.17em;}
#customMessageWidget small,#customMessageWidget sub,#customMessageWidget sup{font-size:.83em;}
#customMessageWidget sub{vertical-align:sub;}
#customMessageWidget sup{vertical-align:super;}
#customMessageWidget table{border-spacing:2px;}
#customMessageWidget thead,#customMessageWidget tbody,#customMessageWidget tfoot{vertical-align:middle;}
#customMessageWidget td,#customMessageWidget th,#customMessageWidget tr{vertical-align:inherit;}
#customMessageWidget s,#customMessageWidget strike,#customMessageWidget del{text-decoration:line-through;}
#customMessageWidget hr{border:1px inset;}
#customMessageWidget ol,#customMessageWidget ul,#customMessageWidget dir,#customMessageWidget menu,#customMessageWidget dd{margin-left:40px;}
#customMessageWidget ol{list-style-type:decimal;}
#customMessageWidget ol ul,#customMessageWidget ul ol,#customMessageWidget ul ul,#customMessageWidget ol ol{margin-top:0;margin-bottom:0;}
#customMessageWidget u,#customMessageWidget ins{text-decoration:underline;}
#customMessageWidget br:before{content:"\A";white-space:pre-line;}
#customMessageWidget center{text-align:center;}
#customMessageWidget :link,#customMessageWidget :visited{text-decoration:underline;}
#customMessageWidget :focus{outline:thin dotted invert;}
.error-box{position:absolute;background-color:#fccac3;border:.1em solid #dbb3ad;color:#594542;width:35em;top:50%;left:50%;margin:-2em -20em;padding:1.5em 2.5em;
    border-radius:2em;
    box-shadow:0 0 3em #9e7a75;
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea))}
.error-box.warning{background-color:#fff8d8;border-color:#9e9875;color:#595442;
    box-shadow:0 0 3em #9e9875;
    background-image:-moz-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-o-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fff0b2),to(#fff8d8))}
.error-box.info{background-color:#e3e8f3;border-color:#7d879e;color:#424959;
    box-shadow:0 0 3em #3e4554;
    background-image:-moz-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-o-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#cad5ee),to(#e3e8f3))}
.error-box.success{background-color:#e3f3e4;border-color:#7d9e7f;color:#425943;
    box-shadow:0 0 3em #3e543f;
    background-image:-moz-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-o-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#caeecc),to(#e3f3e4))}
.error-page .error-box{box-shadow:0 0 3em #555}
.error-box .logo{position:absolute;background:url(/Images/logo-ghost.png) no-repeat -1.5em center;left:0;top:0;width:100%;height:100%;
    border-radius:2em}
.error-box .img{position:relative}
.error-box h1{display:inline-block;font-size:1.5em;line-height:1.75em;margin:0 3em 0 1em;text-align:center;width:17.5em}
.error-box p{position:relative;width:35em;text-align:center;display:inline-block;margin:.2em 0;border-top:.1em solid #9e7a75;cursor:default}
.error-box.warning p{border-color:#9e9875}
.error-box.info p{border-color:#7d879e}
.error-box.success p{border-color:#7d9e7f}
.error-box em{float:right}
.error.buttons{position:absolute;bottom:30%}
/* -- Datepicker -- */
.ui-datepicker{background:#fff;border:0.1em solid #AAAAAA}
.ui-datepicker .ui-datepicker-header{position:relative;padding:0}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}
.ui-datepicker .ui-datepicker-prev{left:2px}
.ui-datepicker .ui-datepicker-next{right:2px}
.ui-datepicker .ui-datepicker-prev-hover{left:1px}
.ui-datepicker .ui-datepicker-next-hover{right:1px}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;hight:12px;width:10px}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;padding:.1em 0;font-weight:bold;cursor:pointer}
.ui-datepicker .ui-datepicker-title select{float:left;font-size:1em;margin:1px 0}
.ui-datepicker select.ui-datepicker-month-year{width:100%}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year{float:right}
.ui-datepicker table{width:100%;border-collapse:collapse;margin:0 0 .4em}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}
.ui-datepicker td{border:0;padding:1px}
.ui-datepicker td span,.ui-datepicker td a{display:block;text-align:center;text-decoration:none;width:100%;line-height:25px}
.ui-datepicker tr.month td a,.ui-datepicker tr.year td a{line-height:54px}
.ui-datepicker tr.decade td a{line-height:1;padding:14px 0}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}
.ui-datepicker.ui-datepicker-multi{width:auto}
.ui-datepicker-multi .ui-datepicker-group{float:left}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}
.ui-datepicker-row-break{clear:both;width:100%}
.ui-datepicker-rtl{direction:rtl}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}
.ui-datepicker-rtl .ui-datepicker-group{float:right}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:10px}
/*-- Load Print Views --*/
#shade,#idleshade{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;z-index:11;opacity:.6;cursor:wait}
#print-box,#validation-box{position:absolute;top:0;right:0;bottom:42px;left:0;background-color:#d3d3d3}
#printview,#oasis_validation{width:100%;height:100%;overflow-x:hidden;border:0 none}
#print-controls,#oasis-validation-controls{position:absolute;right:0;bottom:0;left:0;padding:5px 2px;background-color:#eee;line-height:20px;border-top:solid 1px #aaa;height:2.6em}
#print-return-reason{position:fixed;left:50%;margin-left:-290px;bottom:9.5%;background:#fffcf2;width:580px;height:200px;display:none;border:solid 1px #aaa;text-align:center}
#print-return-reason textarea{width:560px;height:160px}
#print-return-reason label{font-size:14px;line-height:14px;margin:5px;display:block}

#window_Alert_content{background:#b4c3db url(/Images/logo-ghost.png) no-repeat -5px 33%}
#window_Alert_content.error{background-color:#fccac3}
.ui-shade{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#000;cursor:wait;opacity:.6;z-index:8}
.abs-bottom.buttons{position:absolute;bottom:0;left:0;right:0}
.ui-triangle-s{background:url(/Images/sprite.png) no-repeat -186px -54px;width:8px;height:4px;margin:2px 4px;display:inline-block}