﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% using (Html.BeginForm("Assessment", "Oasis", FormMethod.Post, new { @id = "newOasisRecertificationRiskAssessmentForm" }))%>
<%  { %>
<%var data = Model.ToDictionary(); %>
<%= Html.Hidden("Recertification_Id", Model.Id)%>
<%= Html.Hidden("Recertification_Action", "Edit")%>
<%= Html.Hidden("Recertification_PatientGuid", Model.PatientId)%>
<%= Html.Hidden("assessment", "Recertification")%>

<div class="row485">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th colspan="5">
                Most Recent Immunizations
            </th>
        </tr>
        <tr>
            <td>
                Pneumonia
            </td>
            <td>
                <%=Html.Hidden("Recertification_485Pnemonia", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485Pnemonia", "Yes", data.ContainsKey("485Pnemonia") && data["485Pnemonia"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485Pnemonia", "No", data.ContainsKey("485Pnemonia") && data["485Pnemonia"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485Pnemonia", "UK", data.ContainsKey("485Pnemonia") && data["485Pnemonia"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485PnemoniaDate", data.ContainsKey("485PnemoniaDate") ? data["485PnemoniaDate"].Answer : "", new { @id = "Recertification_485PnemoniaDate" })%>
            </td>
        </tr>
        <tr>
            <td>
                Flu
            </td>
            <td>
                <%=Html.Hidden("Recertification_485Flu", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485Flu", "Yes", data.ContainsKey("485Flu") && data["485Flu"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485Flu", "No", data.ContainsKey("485Flu") && data["485Flu"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485Flu", "UK", data.ContainsKey("485Flu") && data["485Flu"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485FluDate", data.ContainsKey("485FluDate") ? data["485FluDate"].Answer : "", new { @id = "Recertification_485FluDate" })%>
            </td>
        </tr>
        <tr>
            <td>
                Tetanus
            </td>
            <td>
                <%=Html.Hidden("Recertification_485Tetanus", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485Tetanus", "Yes", data.ContainsKey("485Tetanus") && data["485Tetanus"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485Tetanus", "No", data.ContainsKey("485Tetanus") && data["485Tetanus"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485Tetanus", "UK", data.ContainsKey("485Tetanus") && data["485Tetanus"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485TetanusDate", data.ContainsKey("485TetanusDate") ? data["485TetanusDate"].Answer : "", new { @id = "Recertification_485TetanusDate" })%>
            </td>
        </tr>
        <tr>
            <td>
                TB
            </td>
            <td>
                <%=Html.Hidden("Recertification_485TB", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485TB", "Yes", data.ContainsKey("485TB") && data["485TB"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485TB", "No", data.ContainsKey("485TB") && data["485TB"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485TB", "UK", data.ContainsKey("485TB") && data["485TB"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485TBDate", data.ContainsKey("485TBDate") ? data["485TBDate"].Answer : "", new { @id = "Recertification_485TBDate" })%>
            </td>
        </tr>
        <tr>
            <td>
                TB Exposure
            </td>
            <td>
                <%=Html.Hidden("Recertification_485TBExposure", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485TBExposure", "Yes", data.ContainsKey("485TBExposure") && data["485TBExposure"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485TBExposure", "No", data.ContainsKey("485TBExposure") && data["485TBExposure"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485TBExposure", "UK", data.ContainsKey("485TBExposure") && data["485TBExposure"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485TBExposureDate", data.ContainsKey("485TBExposureDate") ? data["485TBExposureDate"].Answer : "", new { @id = "Recertification_485TBExposureDate" })%>
            </td>
        </tr>
        <tr>
            <td>
                Hepatitis B
            </td>
            <td>
                <%=Html.Hidden("Recertification_485HepatitisB", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485HepatitisB", "Yes", data.ContainsKey("485HepatitisB") && data["485HepatitisB"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485HepatitisB", "No", data.ContainsKey("485HepatitisB") && data["485HepatitisB"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485HepatitisB", "UK", data.ContainsKey("485HepatitisB") && data["485HepatitisB"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485HepatitisBDate", data.ContainsKey("485HepatitisBDate") ? data["485HepatitisBDate"].Answer : "", new { @id = "Recertification_485HepatitisBDate" })%>
            </td>
        </tr>
        <tr>
            <th colspan="5">
                Additional Immunizations
            </th>
        </tr>
        <tr>
            <td>
                <%=Html.TextBox("Recertification_485AdditionalImmunization1Name", data.ContainsKey("485AdditionalImmunization1Name") ? data["485AdditionalImmunization1Name"].Answer : "", new { @id = "Recertification_485AdditionalImmunization1Name" })%>
            </td>
            <td>
                <%=Html.Hidden("Recertification_485AdditionalImmunization1", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485AdditionalImmunization1", "Yes", data.ContainsKey("485AdditionalImmunization1") && data["485AdditionalImmunization1"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485AdditionalImmunization1", "No", data.ContainsKey("485AdditionalImmunization1") && data["485AdditionalImmunization1"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485AdditionalImmunization1", "UK", data.ContainsKey("485AdditionalImmunization1") && data["485AdditionalImmunization1"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485AdditionalImmunization1Date", data.ContainsKey("485AdditionalImmunization1Date") ? data["485AdditionalImmunization1Date"].Answer : "", new { @id = "Recertification_485AdditionalImmunization1Date" })%>
            </td>
        </tr>
        <tr>
            <td>
                <%=Html.TextBox("Recertification_485AdditionalImmunization2Name", data.ContainsKey("485AdditionalImmunization2Name") ? data["485AdditionalImmunization2Name"].Answer : "", new { @id = "Recertification_485AdditionalImmunization2Name" })%>
            </td>
            <td>
                <%=Html.Hidden("Recertification_485AdditionalImmunization2", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485AdditionalImmunization2", "Yes", data.ContainsKey("485AdditionalImmunization2") && data["485AdditionalImmunization2"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485AdditionalImmunization2", "No", data.ContainsKey("485AdditionalImmunization2") && data["485AdditionalImmunization2"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
            <td>
                <%=Html.RadioButton("Recertification_485AdditionalImmunization2", "UK", data.ContainsKey("485AdditionalImmunization2") && data["485AdditionalImmunization2"].Answer == "UK" ? true : false, new { @id = "" })%>
                Unknown
            </td>
            <td>
                Date:
                <%=Html.TextBox("Recertification_485AdditionalImmunization2Date", data.ContainsKey("485AdditionalImmunization2Date") ? data["485AdditionalImmunization2Date"].Answer : "", new { @id = "Recertification_485AdditionalImmunization2Date" })%>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                Comments:<br />
                <%=Html.TextArea("Recertification_485ImmunizationComments", data.ContainsKey("485ImmunizationComments") ? data["485ImmunizationComments"].Answer : "", 5, 70, new { @id = "Recertification_485ImmunizationComments", @style = "width: 99%;" })%>
            </td>
        </tr>
    </table>
</div>
<div class="row485">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th colspan="2">
                Health Screening
            </th>
        </tr>
        <tr>
            <td style="width: 40%;">
                Last Cholesterol Level:
            </td>
            <td>
                <%=Html.TextBox("Recertification_485LastCholesterolLevel", data.ContainsKey("485LastCholesterolLevel") ? data["485LastCholesterolLevel"].Answer : "", new { @id = "Recertification_485LastCholesterolLevel",@size="20", @maxlength="20" })%>
            </td>
        </tr>
        <tr>
            <td>
                Last Mammogram:
            </td>
            <td>
                <%=Html.TextBox("Recertification_485LastMammogram", data.ContainsKey("485LastMammogram") ? data["485LastMammogram"].Answer : "", new { @id = "Recertification_485LastMammogram", @size = "20", @maxlength = "20" })%>
            </td>
        </tr>
        <tr>
            <td>
                Does patient perform monthly self breast exams?
            </td>
            <td>
                <%=Html.Hidden("Recertification_485PerformMonthlySelfBreastExams", " ", new { @id = "" })%>
                <%=Html.RadioButton("Recertification_485PerformMonthlySelfBreastExams", "Yes", data.ContainsKey("485PerformMonthlySelfBreastExams") && data["485PerformMonthlySelfBreastExams"].Answer == "Yes" ? true : false, new { @id = "" })%>
                Yes
                <%=Html.RadioButton("Recertification_485PerformMonthlySelfBreastExams", "No", data.ContainsKey("485PerformMonthlySelfBreastExams") && data["485PerformMonthlySelfBreastExams"].Answer == "No" ? true : false, new { @id = "" })%>
                No
            </td>
        </tr>
        <tr>
            <td>
                Last Pap Smear:
            </td>
            <td>
                <%=Html.TextBox("Recertification_485LastPapSmear", data.ContainsKey("485LastPapSmear") ? data["485LastPapSmear"].Answer : "", new { @id = "Recertification_485LastPapSmear", @size = "20", @maxlength = "20" })%>
            </td>
        </tr>
        <tr>
            <td>
                Last PSA:
            </td>
            <td>
                <%=Html.TextBox("Recertification_485LastPSA", data.ContainsKey("485LastPSA") ? data["485LastPSA"].Answer : "", new { @id = "Recertification_485LastPSA", @size = "20", @maxlength = "20" })%>
            </td>
        </tr>
        <tr>
            <td>
                Last Prostate Exam:
            </td>
            <td>
                <%=Html.TextBox("Recertification_485LastProstateExam", data.ContainsKey("485LastProstateExam") ? data["485LastProstateExam"].Answer : "", new { @id = "Recertification_485LastProstateExam", @size = "20", @maxlength = "20" })%>
            </td>
        </tr>
        <tr>
            <td>
                Last Colonoscopy:
            </td>
            <td>
                <%=Html.TextBox("Recertification_485LastColonoscopy", data.ContainsKey("485LastColonoscopy") ? data["485LastColonoscopy"].Answer : "", new { @id = "Recertification_485LastColonoscopy", @size = "20", @maxlength = "20" })%>
            </td>
        </tr>
    </table>
</div>
<div class="row485">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th colspan="2">
                Interventions
            </th>
        </tr>
        <tr>
            <td width="15px">
                <input type="hidden" name="Recertification_485RiskAssessmentIntervention" value=" " />
                <input name="Recertification_485RiskAssessmentIntervention" value="1" type="checkbox" '<% if( data.ContainsKey("485RiskAssessmentIntervention") && data["485RiskAssessmentIntervention"].Answer == "1" ){ %>checked="checked"<% }%>'" />
            </td>
            <td>
                SN to assist patient to obtain ERS button
            </td>
        </tr>
        <tr>
            <td width="15px">
                <input name="Recertification_485RiskAssessmentIntervention" value="2" type="checkbox" '<% if( data.ContainsKey("485RiskAssessmentIntervention") && data["485RiskAssessmentIntervention"].Answer == "2" ){ %>checked="checked"<% }%>'" />
            </td>
            <td>
                SN to develop individualized emergency plan with patient
            </td>
        </tr>
        <tr>
            <td width="15px">
                <input name="Recertification_485RiskAssessmentIntervention" value="3" type="checkbox" '<% if( data.ContainsKey("485RiskAssessmentIntervention") && data["485RiskAssessmentIntervention"].Answer == "3" ){ %>checked="checked"<% }%>'" />
            </td>
            <td>
                SN to instruct patient on importance of receiving influenza and pneumococcal vaccines
            </td>
        </tr>
        <tr>
            <td width="15px">
                <input name="Recertification_485RiskAssessmentIntervention" value="4" type="checkbox" '<% if( data.ContainsKey("485RiskAssessmentIntervention") && data["485RiskAssessmentIntervention"].Answer == "4" ){ %>checked="checked"<% }%>'" />
            </td>
            <td>
                SN to administer influenza vaccination as follows:
                <br />
                <%=Html.TextBox("Recertification_485AdministerVaccinationDetails", data.ContainsKey("485AdministerVaccinationDetails") ? data["485AdministerVaccinationDetails"].Answer : "", new { @id = "Recertification_485AdministerVaccinationDetails", @size = "60", @maxlength = "75" })%>
            </td>
        </tr>
        <tr>
            <td width="15px">
                <input name="Recertification_485RiskAssessmentIntervention" value="5" type="checkbox" '<% if( data.ContainsKey("485RiskAssessmentIntervention") && data["485RiskAssessmentIntervention"].Answer == "5" ){ %>checked="checked"<% }%>'" />
            </td>
            <td>
                SN to administer pneumococcal vaccination as follows:
                <br />
                <%=Html.TextBox("Recertification_485AdministerPneumococcalVaccineDetails", data.ContainsKey("485AdministerPneumococcalVaccineDetails") ? data["485AdministerPneumococcalVaccineDetails"].Answer : "", new { @id = "Recertification_485AdministerPneumococcalVaccineDetails", @size = "60", @maxlength = "75" })%>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Additional Orders:
                <%var riskInterventionTemplates = new SelectList(new[] { new SelectListItem { Text = "Sample Template", Value = "0" }, new SelectListItem { Text = "-----------", Value = "-2" }, new SelectListItem { Text = "Erase", Value = "-1" } }, "Value", "Text", data.ContainsKey("485RiskInterventionTemplates") && data["485RiskInterventionTemplates"].Answer != "" ? data["485RiskInterventionTemplates"].Answer : "0");%>
                <%= Html.DropDownList("Recertification_485RiskInterventionTemplates", riskInterventionTemplates)%>
                <br />
                <%=Html.TextArea("Recertification_485RiskInterventionComments", data.ContainsKey("485RiskInterventionComments") ? data["485RiskInterventionComments"].Answer : "", 5, 70, new { @id = "Recertification_485RiskInterventionComments", @style = "width: 99%;" })%>
            </td>
        </tr>
    </table>
</div>
<div class="row485">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th colspan="2">
                Goals
            </th>
        </tr>
        <tr>
            <td width="15px">
                <input type="hidden" name="Recertification_485RiskAssessmentGoals" value=" " />
                <input name="Recertification_485RiskAssessmentGoals" value="1" type="checkbox" '<% if( data.ContainsKey("485RiskAssessmentGoals") && data["485RiskAssessmentGoals"].Answer == "1" ){ %>checked="checked"<% }%>'" />
            </td>
            <td>
                The patient will have no hospitalizations during the certification period
            </td>
        </tr>
        <tr>
            <td width="15px">
                <input name="Recertification_485RiskAssessmentGoals" value="2" type="checkbox" '<% if( data.ContainsKey("485RiskAssessmentGoals") && data["485RiskAssessmentGoals"].Answer == "2" ){ %>checked="checked"<% }%>'" />
            </td>
            <td>
                The
                <%var verbalizeEmergencyPlanPerson = new SelectList(new[]
               { 
                   new SelectListItem { Text = "Patient/Caregiver", Value = "Patient/Caregiver" },
                   new SelectListItem { Text = "Patient", Value = "Patient" },
                   new SelectListItem { Text = "Caregiver", Value = "Caregiver"}
                   
               }
                   , "Value", "Text", data.ContainsKey("485VerbalizeEmergencyPlanPerson") && data["485VerbalizeEmergencyPlanPerson"].Answer != "" ? data["485VerbalizeEmergencyPlanPerson"].Answer : "Patient/Caregiver");%>
                <%= Html.DropDownList("Recertification_485VerbalizeEmergencyPlanPerson", verbalizeEmergencyPlanPerson)%>
                will verbalize understanding of individualized emergency plan by:
                <input type="text" size="20" maxlength="12" name="Recertification_485VerbalizeEmergencyPlanDate"
                    id="Recertification_485VerbalizeEmergencyPlanDate" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Additional Goals:
                <%var riskGoalTemplates = new SelectList(new[] { new SelectListItem { Text = "Sample Template", Value = "0" }, new SelectListItem { Text = "-----------", Value = "-2" }, new SelectListItem { Text = "Erase", Value = "-1" } }, "Value", "Text", data.ContainsKey("485RiskGoalTemplates") && data["485RiskGoalTemplates"].Answer != "" ? data["485RiskGoalTemplates"].Answer : "0");%>
                <%= Html.DropDownList("Recertification_485RiskGoalTemplates", riskGoalTemplates)%>
                <br />
                <%=Html.TextArea("Recertification_485RiskGoalComments", data.ContainsKey("485RiskGoalComments") ? data["485RiskGoalComments"].Answer : "", 5, 70, new { @id = "Recertification_485RiskGoalComments", @style = "width: 99%;" })%>
            </td>
        </tr>
    </table>
</div>
<div class="rowOasisButtons">
    <ul>
        <li style="float: left">
            <input type="button" value="Save/Continue" class="SaveContinue" onclick="Recertification.FormSubmit($(this));" /></li>
        <li style="float: left">
            <input type="button" value="Save/Exit" onclick="Recertification.FormSubmit($(this));" /></li>
    </ul>
</div>
<%} %>
