﻿.page{background:#fff url(/Images/Print/Schedule/Nursing/sixtyday.jpeg) no-repeat center center}
.content{top:160px;right:37px;bottom:183px;left:38px;overflow-y:auto;font-size:10pt;line-height:1.5;border-top:.1em solid #000}
.content th{padding:4px 0}
.mr,.patientname,.episode,.physician,.dob,.dnr,.sign,.signdate{height:1.5em;font-size:10pt}
.mr,.patientname,.dob{top:113px;width:18.5em;font-size:12pt;font-weight:bold}
.mr{left:340px}
.dob{left:620px}
.patientname{left:140px}
.episode,.physician,.dnr{top:138px}
.episode{left:150px;width:12.5em}
.physician{left:375px;width:12.5em}
.dnr{left:620px;width:14.5em}
.sign,.signdate{top:995px;font-size:12pt}
.sign{left:45px;width:43em}
.signdate{left:627px;width:11em}
.subject{top:40px;right:50px;bottom:950px;left:550px;font-size:12pt; font-weight:bold;}