﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>
<%@ Import Namespace="Axxess.Core.Infrastructure" %>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
        <link href="/Images/favicon.ico" rel="shortcut icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <style type="text/css">
            #wrapper{position:absolute;top:0;right:0;bottom:0;left:0}
        </style>
    </head>
    <body>
        <div id="wrapper">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
            <p>Dimensions: <script type="text/javascript"> document.write(document.getElementById("wrapper").offsetWidth + " x " + document.getElementById("wrapper").offsetHeight); </script></p>
        </div>
    </body>
</html>
