﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<VisitNoteViewData>" %>
<%  var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<fieldset>
	<legend>Nutrition Status</legend>
	<div class="column">
		<div class="row">
			<label class="fl">Appetite</label>
			<div class="fr">
				<%  var nutritionStatus = new SelectList(new[] {
						new SelectListItem { Text = "", Value = "" },
						new SelectListItem { Text = "Improved", Value = "Improved" },
						new SelectListItem { Text = "Same", Value = "Same" },
						new SelectListItem { Text = "Decreased", Value = "Decreased" },
					}, "Value", "Text", data.AnswerOrDefault("GenericNutritionStatus1", "0")); %>
				<%= Html.DropDownList(Model.Type + "_GenericNutritionStatus1", nutritionStatus, new { @id = Model.Type + "_GenericNutritionStatus1" })%>
			</div>
		</div>
		<div class="row">
			<label class="fl">Fluid Intake</label>
			<div class="fr">
				<%  var nutritionStatus2 = new SelectList(new[] {
						new SelectListItem { Text = "", Value = "" },
						new SelectListItem { Text = "Improved", Value = "Improved" },
						new SelectListItem { Text = "Same", Value = "Same" },
						new SelectListItem { Text = "Decreased", Value = "Decreased" },
					}, "Value", "Text", data.AnswerOrDefault("GenericNutritionStatus2", "0")); %>
				<%= Html.DropDownList(Model.Type + "_GenericNutritionStatus2", nutritionStatus2, new { @id = Model.Type + "_GenericNutritionStatus2" })%>
			</div>
		</div>
		<div class="row">
			<label for="<%= Model.Type %>_GenericNutritionStatusComment">Comments</label>
			<div class="ac">
				<%= Html.TextArea(Model.Type + "_GenericNutritionStatusComment", data.AnswerOrEmptyString("GenericNutritionStatusComment"), new { @id = Model.Type + "_GenericNutritionStatusComment" })%>
			</div>
		</div>
	</div>
</fieldset>
