﻿.page{background:#fff url(/Images/Print/Schedule/MSW/transportation.jpeg) no-repeat center center}
.content,.patientname,.mr,.visitdate,.timein,.timeout,.sign,.signdate{font-size:10pt;line-height:1.5;font-weight:normal}
.content{top:135px;right:37px;bottom:81px;left:38px;overflow-y:auto;border-top:.1em solid #000}
.content td{padding:2px}
.content th{border-bottom:.1em solid #000;border-right:0 none}
.patientname,.mr,.visitdate,.timein,.timeout{top:113px;height:20px;width:70px}
.patientname{left:140px;width:140px}
.mr{left:307px}
.visitdate{left:450px}
.timein{left:575px}
.timeout{left:710px}
.sign,.signdate{top:995px;height:20px}
.sign{left:45px;width:575px}
.signdate{left:627px;width:150px}