﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<PayrollDetail>>" %>
<%
if (Model.Count > 0) {
    foreach (var detail in Model) {
        Html.RenderPartial("Detail", detail); %><br /><%
    }
}
%>