﻿/* -- jQuery Layout -- */
.ui-layout-resizer{background-color:#bacfee;width:.2em;border:.1em solid #83a2d4;border-top:none;border-bottom:none;height:100% !important}
.ui-layout-container{position:absolute;top:0;right:0;bottom:0;left:0}
.ui-layout-pane{overflow:hidden;height:100% !important}
.ui-layout-center{width:auto !important}
.ui-layout-toggler{display:none !important}
/* -- Patient Selector -- */
.ui-layout-west .top{padding:0 .3em}
.ui-layout-west .top .row{display:table;margin:0;padding:0;width:100%}
.ui-layout-west .top .heading{text-align:left;font-weight:bold;font-size:12.5px;margin-bottom:0;margin-top:6px}
.ui-layout-west .top .row label{float:left;line-height:2em}
.ui-layout-west .top .row div{display:block;margin-left:6em;padding-right:.5em}
.ui-layout-west .top select,.ui-layout-west .top input{width:100%}
.ui-layout-west .bottom{position:absolute;top:9em;right:0;bottom:0;left:0}
.ui-layout-west .bottom.new-patient{top:12em}
.ui-layout-west .bottom .t-grid td{border:0 none}
/* -- Window Top Menu -- */
.winmenu{width:100%;background-color:#c3d8f1;height:2em;border-bottom:.1em solid #83a2d4;overflow:hidden;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f0fc', endColorstr='#c8d9ed');
    background-image:-moz-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-o-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c8d9ed),to(#e5f0fc))}
.winmenu ul li{float:left;border-right:.1em solid #83a2d4;font-weight:bold;cursor:pointer;}
.winmenu ul li a{display:block;line-height:2em;padding:0 1em;color:#333;text-decoration:none}
.winmenu ul li a:hover{color:#fff;text-shadow:.1em .1em .1em #000;
    background-image:-moz-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-o-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#435f8e),to(#7096d5),color-stop(.49,#5c7db3),color-stop(.5,#6c8fc7))}
/* -- Patient Summary -- */
.patient-summary{width:69%;min-width:30em;min-height:1.75em;margin:0;padding:.5em}
.patient-summary .abs-right{top:15%;right:1em}
.patient-summary .column{float:none;margin:auto;width:45%}
.patient-summary .wide.column{width:100%}
/* -- Quick Reports -- */
.reports{height:auto}
.quick.reports{width:25%}
.reports ul{background-color:#fffcf2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf2', endColorstr='#f5e9c4');
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
.reports a{border-top:.1em solid #aaa;display:block;color:#333;padding:.1em .5em;font-weight:bold;cursor:pointer}
.reports ul li:first-child{border-top:none}
.reports .hover{background-color:#d5dbe6}
/* -- Activities -- */
.ui-layout-center .bottom{position:absolute;top:26.5em;right:0;bottom:0;left:0;z-index:1}
.ui-layout-center .bottom .above{position:absolute;top:-2.5em;right:0;left:0;border-top:.1em solid #83a2d4;padding:.25em;height:2em;line-height:2em;background-color:#d6e5f3;font-weight:bold}
.ui-layout-center .bottom .t-grid-content a,.ui-layout-center .bottom .t-grid-content a .icon{vertical-align:middle;cursor:pointer}
.ui-layout-center .bottom td,.ui-layout-center .bottom span{cursor:default;vertical-align:middle}
#window_billingHistory .ui-layout-center .bottom,#window_managedclaims .ui-layout-center .bottom{top:15em}
/* -- Calendar and Legend -- */
#window_schedulecenter .ui-layout-center .wrapper{position:absolute;left:0;width:100%;height:auto}
.trical{text-align:center}
.cal{width:28%;display:inline-block;margin:10px 2.5%;text-align:center;overflow:hidden;vertical-align:top;
     box-shadow:.2em .2em .5em #888;
     border-radius:1em 1em 0 0}
.cal table{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;table-layout:fixed}
.cal thead,.fc-border-separate thead{background-color:#c3d8f1;font-weight:bold;cursor:default;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f0fc', endColorstr='#c8d9ed');
    background-image:-moz-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-o-linear-gradient(90deg,#c8d9ed,#e5f0fc)}
.cal thead tr:first-child{background-image:-webkit-gradient(linear,left bottom,left top,from(#dae6f4),to(#e5f0fc))}
.cal thead tr:last-child{background-image:-webkit-gradient(linear,left bottom,left top,from(#c8d9ed),to(#dae6f4))}
.caltitle{cursor:default}
.cal thead th{width:14%}
.cal tbody td,.fc-widget-content{background-color:#fffcf2;cursor:pointer;vertical-align:top;border:.1em solid #d3d3d3;height:2em;text-align:center}
.cal tbody th{font-weight:bold;vertical-align:middle}
.cal tbody td a{font-weight:normal;text-decoration:none;font-family:Tahoma;font-size:.9em;line-height:2em;display:block}
.cal.bigtd tbody td{height:50px;cursor:pointer}
.cal.bigtd tbody td a{height:50px}
.cal.bigtd tbody td .datelabel{height:100%}
.cal .inactive,.fc-other-month{cursor:default;background-color:#f5f5f5}
.cal .hover{border-color:#555;color:#fff;font-weight:bold;background-color:#778198;
    text-shadow:.1em .1em .1em #000;
    box-shadow:inset 0 0 .2em #333,0 0 .5em #000;
    background-image:-moz-radial-gradient(50% 50%,rgba(255,255,255,.6),transparent);
    background-image:-webkit-gradient(radial, 50% 50%,from(rgba(255,255,255,.6)),to(transparent))}
.cal.big{width:75%;float:none;margin:0 auto}
.cal.big tbody td{height:2em;padding:1.5em}
.legend .scheduled,.cal .scheduled,.cal .selected{background-color:#3e799c;color:#fff}
.legend .completed,.cal .status425,.cal .status330,.cal .status220,.cal .status225,.cal .status135{background-color:#3ea123}
.legend .missed,.cal .status400,.cal .missed{background-color:#b20e0e}
.legend .multi,.cal .multi{background-color:#5d43ba}
.cal .hover a,.cal .selected a{font-weight:bold;color:#fff}
.cal .status425 a,.cal .status330 a,.cal .status220 a,.cal .status225 a,.cal .status135 a,.cal .scheduled a,.cal .status400 a,.cal .multi a{color:#fff}
.legend{padding:.5em;margin:.3em auto;display:inline-block;
    box-shadow:.2em .2em .5em #888}
.legend li{float:left;padding:0 .75em;font-weight:bold;border-left:.1em solid #d3d3d3;cursor:default}
.legend ul li:first-child{border-left:none}
.legend li div{display:inline-block;width:.8em;height:.8em;border:.2em ridge #555;margin-right:.5em;vertical-align:text-top;
    box-shadow:inset .1em .1em .3em #555}
.legend li .icon{margin-right:.5em;vertical-align:text-top;font-size:1em}
/* -- Scheduler Tabs -- */
#ScheduleCenter_Collapsed{position:relative;height:.3em;border-top:.1em solid #83a2d4;background-color:#cfdff1}
.show-scheduler{color:#333;background-color:#cfdff1;border:.1em solid #83a2d4;border-bottom:0 none;position:absolute;font-weight:bold;top:-2.3em;right:1.2em;padding:.4em 1em;cursor:pointer;
    border-radius:1em 1em 0 0}
#ScheduleCenter_TabStrip .add-schedule tbody tr{display:none}
#ScheduleCenter_TabStrip .add-schedule tbody tr.visible{display:table-row}
/* -- Tooltips -- */
#tooltip{border:.1em solid #555;width:auto;height:auto;padding:.75em;background:#abb8c9;line-height:1.25em;position:fixed;z-index:99;max-width:30em;
    border-radius:1em;
    box-shadow:.2em .2em .5em #888;
    background-image:-moz-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-o-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#83a2d4),to(#cad2de),color-stop(.75 #abb8c9))}
#tooltip.error{background:#d2aba6;
    background-image:-moz-linear-gradient(90deg,#d48c83,#d2aba6 75%,#deccca);
    background-image:-o-linear-gradient(90deg,#d48c83,#d2aba6 75%,#deccca);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#d48c83),to(#deccca),color-stop(.75 #d2aba6))}.sticky-note{background:url(/Images/sticky-note-yellow.png) no-repeat top left;line-height:18px;position:fixed;z-index:99;width:142px;padding:25px;height:141px}
#tooltip.sticky-note{background:url(/Images/sticky-note-yellow.png) no-repeat top left;width:142px;padding:2em;height:141px;border:0;
    box-shadow:none}
#tooltip.sticky-note.blue{background-image:url(/Images/sticky-note-blue.png)}
#tooltip.sticky-note.red{background-image:url(/Images/sticky-note-red.png)}
#tooltip.sticky-note .body{max-height:147px;overflow:hidden}
.t-grid tr.completed{color:#0c710c}
.t-grid td.error{color:#71160c}
@media all and (max-width:1020px) {
    .patient-summary.ma{width:30em}
    .button a.previous-episode,.button a.next-episode{padding:.1em .5em}
    #ScheduleCenter_Collapsed,#ScheduleCenter_TabStrip{display:none !important}
}