﻿html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none}
body{line-height:1.5;color:#1a1a1a;background:#aaa url(/Images/wallpaper-shiny.png) no-repeat fixed center center;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;overflow:hidden;color:#333;font-size:.75em}
body.error-page{background:#ddd}
.hidden,.wintitle{display:none}
.very-hidden{display:none !important}
.transparent{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0}
.light{font-weight:normal}
.strong{font-weight:bold}
.align-left,.al{text-align:left}
.align-justify,.aj{text-align:justify}
.align-center,.ac{text-align:center}
.align-right,.ar{text-align:right}
.float-left,.fl{float:left}
.float-right,.fr{float:right}
.no-float{float:none !important}
.clear-left,.cl{clear:left}
.clear-right,.cr{clear:right}
.clear,.clr{clear:both}
.abs,.abs-left,.abs-right,.abs-bottom,.abs-top{position:absolute;top:auto;left:auto;right:auto;bottom:auto;cursor:default}
.abs-left,.abs-bottom,.abs-top{left:0}
.abs-right,.abs-bottom,.abs-top{right:0}
.abs-bottom{bottom:0;}
.abs-top{top:0;}
.rel{position:relative;display:inline-block}
.pointer{cursor:pointer}
a{text-decoration:none}
a.link{color:#3c5a98;cursor:pointer}
a .print{cursor:pointer}
a.link:hover{border-bottom:.1em solid #748098}
img{font-size:0}
em{font-weight:normal;font-size:.8em;font-style:italic;cursor:default}
.largefont{font-size:1.5em;vertical-align:middle;margin:0 .25em}
table.fixed{table-layout:fixed;width:100%}
table.ui-layout-auto{table-layout:auto}
.loading{background:#fff url(/Images/loading.gif) no-repeat scroll center center}
.loading *{display:none !important}
.green,a.green{color:#368c36}
hr{border-color:#bbb;border-width:0 0 .1em 0;width:99%}
.wrapper.main{padding:1em;display:block}
.wrapper.main.note{padding-top:1.5em}
h1,h2{color:#333;display:block;text-align:center;font-size:1.4em;font-weight:bold;vertical-align:top}
h1.blue,h2.blue{color:#3c5a98}
.margin{margin-left:2em;display:block}
.tall-line{line-height:3em}
.margin-auto,.ma{margin-left:auto !important;margin-right:auto !important}
.characters-remaining{display:block;text-align:center}
.addrem{font-size:2em;padding:.15em;top:.2em;right:-1.5em;line-height:.5em;background-color:#5c7db3;border:.05em solid #333;color:#fff;cursor:pointer;display:block;font-weight:bolder;height:.6em;width:.6em;text-align:center;
    text-shadow:.05em .05em .05em #333;
    border-radius:.5em;
    background-image:-moz-linear-gradient(90deg, #435f8e, #5c7db3 49%, #6c8fc7 50%, #7096d5);
    background-image:-o-linear-gradient(90deg, #435f8e, #5c7db3 49%, #6c8fc7 50%, #7096d5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#435f8e),to(#7096d5),color-stop(49%,#5c7db3),color-stop(50%,#6c8fc7))}
.addrem.ecks{line-height:.6em}
.error-box{position:absolute;background-color:#fccac3;border:.1em solid #b88e88;color:#594542;width:35em;top:50%;left:50%;margin:-2em -20em;padding:1.5em 2.5em;
    border-radius:2em;
    box-shadow:0 0 3em #9e7a75;
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea))}
.error-box h1{color:#594542}
.error-box.warning{background-color:#fff8d8;border-color:#9e9875;color:#595442;
    box-shadow:0 0 3em #9e9875;
    background-image:-moz-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-o-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fff0b2),to(#fff8d8))}
.error-box.warning h1{color:#66624c}
.error-box.info{background-color:#e3e8f3;border-color:#7d879e;color:#545b6b;
    box-shadow:0 0 3em #3e4554;
    background-image:-moz-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-o-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#cad5ee),to(#e3e8f3))}
.error-box.info h1{color:#545b6b}
.error-box.success{background-color:#e3f3e4;border-color:#7d9e7f;color:#425943;
    box-shadow:0 0 3em #3e543f;
    background-image:-moz-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-o-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#caeecc),to(#e3f3e4))}
.error-box.success h1{color:#e3f3e4}
.error-page .error-box{box-shadow:0 0 3em #555}
.error-box .logo{position:absolute;background:url(/Images/logo-ghost.png) no-repeat -1.5em center;left:0;top:0;width:100%;height:100%;
    border-radius:2em}
.error-box .buttons{position:relative}
.error-box .img{position:relative}
.error-box h1{display:inline-block;font-size:1.5em;line-height:1.75em;margin:0 3em 0 1em;text-align:center;width:17.5em;background:transparent !important;border:0 !important;padding:0 !important}
.error-box p{position:relative;width:35em;text-align:center;display:inline-block;margin:.2em 0;border-top:.1em solid #9e7a75;cursor:default}
.error-box.warning p{border-color:#9e9875}
.error-box.info p{border-color:#7d879e}
.error-box.success p{border-color:#7d9e7f}
.error-box em{float:right}
#shade,#idle-shade{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:.6;cursor:wait;z-index:12}
.icon.activity{margin:1em;font-size:1em;cursor:pointer}
.loading-modal{background-color:#fff;border:0 none;top:50%;left:50%;margin:-10em;width:20em;height:20em;position:fixed;z-index:99;cursor:wait;
    border-radius:20em;
    box-shadow:-.3em -.5em 3em #000 inset}
@media all and (max-width:1020px) {
    body{background-size:75%}
    .opt-text{display:none}
}
