/*-- Desktop --*/
#bar-top{background:url(/Images/gradients.png) repeat-x 0 -400px;height:23px}
#bar-bottom{background:url(/Images/gradients.png) repeat-x 0 -440px}
/*-- Dashborad --*/
.widget-message-list li{padding:.5em .73em}
/*-- Forms -- */
fieldset.half{margin-top:1em}
fieldset .checkgroup .option > input[type=checkbox],fieldset .checkgroup .option > input[type=radio]{margin-top:-.75em}
input.phone-short{width:3.7em}
input.zip{width:4.8em}
.button-with-arrow a{width:175px;height:19px}
.buttons li{background:url(/Images/gradients.png) repeat-x 0 -480px}
.buttons li.red{background-position:0 -950px}
.buttons li.send{background-position:0 -502px;margin:3px 15px}
/*-- Disable Border Radius on elements with background overflow issue --*/
.window,fieldset,.buttons li,.note legend{border-radius:0}
