﻿input[type=submit]{display:none}
#reflection{position:absolute;top:20em;right:0;width:34.2em;height:16.2em;margin:8.5em 3em;
    opacity:.5;
    border-radius:1em;
    background:-moz-element(#reflected-box) bottom left no-repeat;
    -moz-transform:scaleY(-1)}
#agency-selection-links li{background-color:#54709e;border:.1em solid #333;color:#fff;font-size:1.25em;margin:.5em 0;padding:.25em 2em;text-align:center;font-weight:bold;cursor:pointer;
    border-radius:2.5em;
    box-shadow:.25em .25em .75em #9bb1d6 inset,.25em .25em .75em #333}
#agency-selection-links li.hover{background-color:#739ad9}
#agency-selection-links em,#agency-selection-links span{font-weight:normal;display:block;font-size:.75em;cursor:pointer}
.promo-container{position:fixed;top:5em;right:45em;bottom:5em;left:5em;padding:2em;display:none;background-color:#fff;overflow:auto;border:solid .1em #333;
    box-shadow:.5em .5em 1em #333;
    opacity:.9}
.login-bar{position:fixed;top:0;right:-50em;width:40em;height:100%;background-color:#7f94b8;border-left:.1em solid #333;
    background-image:-moz-linear-gradient(165deg,#3a4d6d,#9bb1d6 65%,#54709e);
    background-image:-o-linear-gradient(165deg,#3a4d6d,#9bb1d6 65%,#54709e);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#3a4d6d),color-stop(65%,#9bb1d6),to(#54709e));
    box-shadow:-1em 0 5em #333}
.login-container{position:absolute;top:20em;right:0;width:30em;height:12em;margin:-8em 3em;padding:2em;background:#eee url(/Images/logo-ghost.png) no-repeat 1em center;border:.1em solid #333;
    -webkit-box-reflect:below .5em -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(255,255,255,.3)));
    border-radius:1em;
    box-shadow:0 0 3em #aaa inset}
.login-forgot{position:absolute;bottom:2em;right:2em}
.login-contact{position:absolute;bottom:5em;right:0;margin:0 8em;width:20em;padding:2em;background-color:#eee;border:.1em solid #333;
    border-radius:1em;
    box-shadow:0 0 3em #aaa inset}
.logo.axxess{margin-top:5em}
.login-promt{position:fixed;top:20em;left:50%;width:30em;background-color:#fffcf2;padding:2em;margin:-10em -17em;z-index:99;display:none;
    border-radius:1em;
    opacity:.8;
    box-shadow:0 0 2em #000,inset 0 0 2em #423d2d}
.forgot-password{width:37em;margin:-10em -20.5em}
h3{text-align:center;font-size:2em;font-weight:bold;border-bottom:.05em solid #423d2d;margin-bottom:1em}
.login-promt p{font-size:1.2em;margin-bottom:1.67em}
.facebook{margin:1.5em .5em 0;
    box-shadow:.1em .1em .5em #333;
    border-radius:.2em}
label{line-height:3em}
@media all and (max-height:650px) {
    .login-contact{display:none}
}
@media all and (max-height:330px) {
    .login-promt{top:11em;bottom:11em;height:auto}
    .logo.axxess{margin-top:0}
    .login-container{top:auto;bottom:9em}
    #reflection{display:none}
}
@media all and (max-width:500px) {
    .login-promt{left:18em;right:18em;width:auto}
    .login-bar{left:0;width:auto}
    .login-container{left:1em;right:1em;width:auto;height:auto}
    .login-forgot{bottom:.5em}
    #reflection{display:none}
}
