﻿body{background:#c1d0e4;width:100%;height:100%}
.navigation{position:absolute;top:1em;bottom:1em;left:1em;width:20em}
.address-block{background:#fffcf2;border:.1em solid #aaa;padding:.75em;margin-bottom:.5em;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf2', endColorstr='#f5e9c4');
    border-radius:1em;
    box-shadow:.5em .5em 1.5em #333;
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
#map{position:absolute;top:1em;right:1em;bottom:1em;left:22em;
    border-radius:1em;
    box-shadow:.5em .5em 1.5em #333}
#directions{position:absolute;bottom:0;left:0;right:0;top:19em;overflow:auto;margin-bottom:0}
.address{width:19em}
.city,.state{width:7em}
.zip{width:3.6em}