﻿/* -- Email List and Recipient List -- */
.folder-selection,.compose-header{font-size:1.5em;top:2em;padding:.25em 1em;cursor:pointer}
.folder-selection,.compose-header,.message-header-container{position:absolute;left:-.1em;right:-.1em;border:.1em solid #888;
    box-shadow:0 .25em .5em #888;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c7e4', endColorstr='#85a4d5');
    background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#85a4d5),to(#b4c7e4))}
.compose-header{top:0;cursor:default}
.compose-header .buttons{font-size:.67em}
.folder-selection .ui-icon-circle-triangle-s{margin:10px 0}
.folder-selection li{display:none}
.folder-selection .selected{display:block}
.folder-selector{position:absolute;top:4.5em;font-size:1.35em;left:.25em;right:.25em;border:.1em solid #888;overflow:hidden;cursor:pointer;
    box-shadow:0 .25em .5em #888;
    border-radius:0 0 .5em .5em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce0e6', endColorstr='#97a6be');
    background-image:-moz-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-o-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#97a6be),to(#dce0e6))}
.folder-selector li{padding:.25em 1em;border-bottom:.1em dotted #888}
.folder-selector li:last-child{border-bottom:0 none}
.folder-selector .hover{background-color:rgba(94,198,237,.25)}
.message-list{background-color:#fffcf2;position:absolute;top:6em;right:0;bottom:0;left:0}
.message-list .t-grid-header{display:none}
.message-list .t-grid-content{top:.1em}
.read-false{font-weight:bold}
.recipient-list{position:absolute;top:0;right:0;bottom:0;left:0}
.recipient-panel{background-color:#fffcf2;overflow:auto;position:absolute;top:3.3em;right:0;bottom:0;left:0}
.recipient-panel .recipient{overflow:hidden;padding:.25em}
/* -- Message View -- */
.message-content{bottom:0;left:0;position:absolute;right:0;top:0}
.message-header-container,.message-body-container{padding:1em 3em}
.message-body-container{overflow:auto;top:11.75em;bottom:0;left:0;right:0;position:absolute}
.message-body-container div{position:absolute;top:1em;right:3em;left:3em;bottom:1em}
textarea#NewMessage_Body{height:100%;width:100%;overflow:auto;background-color:#fffcf2;border:0 none}
.message-header-row{margin-bottom:.3em;position:relative}
.compose.message-header-container{top:3.2em}
.compose .message-header-row{margin-left:10em;min-height:2em}
.compose .message-header-row label{lin-height:2em}
.message-header-row span{position:absolute;left:8em;right:3em;height:1.5em;overflow:scroll}
.message-header-row a.more{position:absolute;right:2.5em}
.compose-input{position:absolute;top:0;right:0;bottom:0;left:7.5em}
.compose-input.to{position:relative;left:0;margin:-2em 0 0 7.5em}
.compose .styled-uploader-input{position:absolute;top:0;right:10em;left:0}
/* -- Token Input -- */
.recipient-list-input{overflow:hidden;width:100%;border:.1em solid #d1d1d1;cursor:text;background-color:#fff;margin:.2em}
.recipient-list-input li input{border:0;width:100%}
.recipient-list-token{margin:.25em;padding:.15em 1em;background-color:#eff2f7;color:#000;cursor:default;border:.1em solid #ccd5e4;float:left;
    border-radius:.5em;
    box-shadow:.1em .1em .25em #ccd5e4,inset .1em .1em .25em #fff}
li.recipient-list-token span{color:#a6b3cf;margin-left:5px;font-weight:bold;cursor:pointer}
li.recipient-list-token-selected{background-color:#5670a6;border:1px solid #3b5998;color:#fff}
li.recipient-list-token-input{clear:left}
div.recipient-list-select{position:relative;margin-left:150px;background-color:#fff;overflow:hidden;border:1px solid #ccc;cursor:default;font-size:11px;font-family:Verdana;width:400px}
div.recipient-list-select p{margin:0;padding:5px;font-weight:bold;color:#777;position:relative}
div.recipient-list-select ul{margin:0;padding:0}
div.recipient-list-select ul li{background-color:#fff;padding:3px}
div.recipient-list-select ul li.token-input-dropdown-item-facebook{background-color:#fff}
div.recipient-list-select ul li.token-input-dropdown-item2-facebook{background-color:#fff}
div.recipient-list-select ul li em{font-weight:bold;font-style:normal}
div.recipient-list-select ul li.token-input-selected-dropdown-item-facebook{background-color:#3b5998;color:#fff}
/* -- WYSIWYG -- */
#NewMessage_BodyWrapper{position:absolute;top:13.5em;right:0;bottom:0;left:0;margin:0;padding:0;border-top:.1em solid #888}
td.cke_contents{display:block;position:absolute;top:2.5em;right:0;bottom:0;left:0}
.cke_skin_office2003 .cke_toolbar{border-radius:.5em;overflow:hidden}
.cke_skin_office2003 .cke_toolbar,.cke_skin_office2003 .cke_toolbar_start{background-color:transparent !important;background-image:none !important}
.cke_skin_office2003 .cke_top{border-width:0 !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c7e4', endColorstr='#85a4d5');
    background-image:-moz-linear-gradient(95deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(95deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#85a4d5),to(#b4c7e4))}
.wysiwyg{height:20em}
.wysiwyg div{width:100% !important}
.wysiwyg .nic-edit-panel div{width:18px !important}
/* -- CSS Cancelling for Message Styling -- */
#NewMessage_Body a{cursor:pointer}
#NewMessage_Body li{list-style:disc outside none}
#NewMessage_Body div{position:static}
#NewMessage_Body address,#NewMessage_Body blockquote,#NewMessage_Body dd,#NewMessage_Body div,#NewMessage_Body dl,#NewMessage_Body dt,#NewMessage_Body fieldset,#NewMessage_Body h1,#NewMessage_Body h2,#NewMessage_Body h3,#NewMessage_Body h4,#NewMessage_Body h5,#NewMessage_Body h6,#NewMessage_Body ol,#NewMessage_Body p,#NewMessage_Body ul,#NewMessage_Body center,#NewMessage_Body dir,#NewMessage_Body hr,#NewMessage_Body menu,#NewMessage_Body pre{display:block;unicode-bidi:embed}
#NewMessage_Body li{display:list-item}
#NewMessage_Body table{display:table}
#NewMessage_Body tr{display:table-row}
#NewMessage_Body thead{display:table-header-group}
#NewMessage_Body tbody{display:table-row-group}
#NewMessage_Body tfoot{display:table-footer-group}
#NewMessage_Body col{display:table-column}
#NewMessage_Body colgroup{display:table-column-group}
#NewMessage_Body td,#NewMessage_Body th{display:table-cell}
#NewMessage_Body caption{display:table-caption}
#NewMessage_Body th{font-weight:bolder;text-align:center}
#NewMessage_Body caption{text-align:center}
#NewMessage_Body h1{font-size:2em;margin:.67em 0}
#NewMessage_Body h2{font-size:1.5em;margin:.75em 0}
#NewMessage_Body h3{font-size:1.17em;margin:.83em 0}
#NewMessage_Body h4,#NewMessage_Body p,#NewMessage_Body blockquote,#NewMessage_Body ul,#NewMessage_Body fieldset,#NewMessage_Body ol,#NewMessage_Body dl,#NewMessage_Body dir,#NewMessage_Body menu{margin:1.12em 0}
#NewMessage_Body h5{font-size:.83em;margin:1.5em 0}
#NewMessage_Body h6{font-size:.75em;margin:1.67em 0}
#NewMessage_Body h1,#NewMessage_Body h2,#NewMessage_Body h3,#NewMessage_Body h4,#NewMessage_Body h5,#NewMessage_Body h6,#NewMessage_Body b,#NewMessage_Body strong{font-weight:bolder}
#NewMessage_Body blockquote{margin-left:40px;margin-right:40px}
#NewMessage_Body i,#NewMessage_Body cite,#NewMessage_Body em,#NewMessage_Body var,#NewMessage_Body address{font-style:italic}
#NewMessage_Body pre,#NewMessage_Body tt,#NewMessage_Body code,#NewMessage_Body kbd,#NewMessage_Body samp{font-family:monospace}
#NewMessage_Body pre{white-space:pre}
#NewMessage_Body big{font-size:1.17em}
#NewMessage_Body small,#NewMessage_Body sub,#NewMessage_Body sup{font-size:.83em}
#NewMessage_Body sub{vertical-align:sub}
#NewMessage_Body sup{vertical-align:super}
#NewMessage_Body table{border-spacing:2px}
#NewMessage_Body thead,#NewMessage_Body tbody,#NewMessage_Body tfoot{vertical-align:middle}
#NewMessage_Body td,#NewMessage_Body th,#NewMessage_Body tr{vertical-align:inherit}
#NewMessage_Body s,#NewMessage_Body strike,#NewMessage_Body del{text-decoration:line-through}
#NewMessage_Body hr{border:1px inset}
#NewMessage_Body ol,#NewMessage_Body ul,#NewMessage_Body dir,#NewMessage_Body menu,#NewMessage_Body dd{margin-left:40px}
#NewMessage_Body ol{list-style-type:decimal}
#NewMessage_Body ol ul,#NewMessage_Body ul ol,#NewMessage_Body ul ul,#NewMessage_Body ol ol{margin-top:0;margin-bottom:0}
#NewMessage_Body u,#NewMessage_Body ins{text-decoration:underline}
#NewMessage_Body br:before{content:"\A";white-space:pre-line}
#NewMessage_Body center{text-align:center}
#NewMessage_Body :link,#NewMessage_Body :visited{text-decoration:underline}
#list-messages .t-state-selected{font-weight:normal}