﻿#printview,#printview-buffer{background-color:#bbc;background-attachment:fixed;color:#000;margin:0 auto;font-family:Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;overflow:auto;
    background-image:-moz-linear-gradient(285deg,#d3d3d3,#99a,#727288);
    background-image:-o-linear-gradient(285deg,#d3d3d3,#99a,#727288);
    background-image:-webkitlinear-gradient(285deg,#d3d3d3,#99a,#727288)}
#printview-buffer{visibility:hidden}
#printview p,#printview-buffer p{margin:0}
#printview #loading{position:absolute;top:50%;left:50%;width:10em;height:10em;background:#fff url(/Images/loading.gif) no-repeat center center;margin:-5em;
    box-shadow:0 0 1em #333;
    border-radius:5em}
#printview .checkbox,#printview-buffer .checkbox{border:.1em solid #333;height:1em;width:1em;margin:.5em;font-size:.7em;line-height:1em;text-align:center;font-weight:bold;display:inline-block !important}
#printview .page,#printview-buffer .page{background-color:#fff;border:solid .1em #aaa;width:66em;height:86em;position:relative;overflow:hidden;margin:1.5em auto;
    box-shadow:1em .8em 1em #333}
#printview .label,#printview-buffer .label{font-weight:bold}
#printview .content span,#printview-buffer .content span{display:block}
#printview .blank,#printview-buffer .blank{border-bottom:solid 1px #000}
#printview .fl,#printview .fr,#printview-buffer .fl,#printview-buffer .fr{width:50%}
#printview .fixed,#printview-buffer .fixed{table-layout:fixed}
#printview .auto,#printview-buffer .auto{width:auto !important}
#printview .page div,#printview-buffer .page div{position:absolute;overflow:hidden}
#printview-buffer .page div.content{overflow-y:auto}
#printview table,#printview tbody,#printview thead,#printview tfoot,#printview tr,#printview th,#printview td,#printview-buffer table,#printview-buffer tbody,#printview-buffer thead,#printview-buffer tfoot,#printview-buffer tr,#printview-buffer th,#printview-buffer td{margin:0;padding:0}
#printview table,#printview-buffer table{border-collapse:collapse;width:100%;table-layout:fixed}
#printview td,#printview th,#printview-buffer td,#printview-buffer th{vertical-align:top}
#printview .pad,#printview-buffer .pad{padding:.1em .3em}
#printview th,#printview-buffer th{border-right:solid .1em #000;border-top:solid .1em #000}
#printview .section .section,#printview-buffer .section .section{border-right:solid .1em #000;border-top:solid .1em #000;border-collapse:collapse}
#printview .section .section th,#printview-buffer .section .section th{border-bottom:solid .1em #000}
#printview .section td,#printview-buffer .section td{padding-bottom:.1em}
#printview tbody tr td:last-child th,#printview tbody tr td:last-child table,#printview-buffer tbody tr td:last-child th,#printview-buffer tbody tr td:last-child table{border-right:0 none}
#printview .agency,#printview-buffer .agency{top:2.2em;left:3em;width:40em;height:6em}
#printview .pagenum,#printview-buffer .pagenum{font-size:.8em;bottom:1em;right:3em}