﻿.ui-tabs{border:0 none;height:10em;position:relative;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfdff1', endColorstr='#abcbf1');
    background-image:-moz-linear-gradient(90deg,#abcbf1,#dbe5f1,#cfdff1);
    background-image:-o-linear-gradient(90deg,#abcbf1,#dbe5f1,#cfdff1);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#abcbf1),to(#cfdff1),color-stop(.5,#dbe5f1))}
.scheduler.ui-tabs{display:none}
.final.ui-tabs{position:absolute;top:0;left:0;width:100%;height:100%;display:block}
.ui-tabs-nav{margin-left:.4em;position:relative;z-index:1}
.ui-tabs-nav li{float:left;border:.1em solid #b8b8b8;border-bottom-color:#688caf;margin:.1em;padding:.25em 1em;
    border-radius:1em 1em 0 0}
.ui-tabs-nav li.ui-tabs-selected{background-color:#fff;border-color:#688caf;border-bottom-color:#fff}
.scheduler .ui-tabs-nav li.ui-tabs-selected{background-color:#fffcf2;border-bottom-color:#fffcf2}
.ui-tabs-nav li a{color:#333;font-weight:bold}
.tab-content{position:absolute;top:2.2em;right:.5em;bottom:.5em;left:.5em;overflow:auto;border:.1em solid #688caf;background-color:#fff;padding:.5em}
.final.tab-content{top:4em;bottom:1.2em}
.scheduler.tab-content{background-color:#fffcf2}