﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<%  var data = Model.ToDictionary(); %>
<span class="wintitle">OASIS-C Recertification | <%= (data.ContainsKey("M0040LastName") ? data["M0040LastName"].Answer.Clean() : "") + (data.ContainsKey("M0040FirstName") ? ", " + data["M0040FirstName"].Answer.Clean() : "") %></span>
<div id="<%= Model.TypeName %>_Tabs" class="tabs vertical-tabs vertical-tabs-left OasisContainer">
    <ul class="vertical-tabs strong">
        <li><a href="#<%= Model.TypeName %>_Demographics" tooltip="M0010 &#8211; M0150">Clinical Record Items</a></li>
        <li><a href="#<%= Model.TypeName %>_PatientHistory" tooltip="M1020 &#8211; M1030">Patient History &#38; Diagnoses</a></li>
        <li><a href="#<%= Model.TypeName %>_Prognosis">Prognosis</a></li>
        <li><a href="#<%= Model.TypeName %>_SupportiveAssistance">Supportive Assistance</a></li>
        <li><a href="#<%= Model.TypeName %>_Sensory" tooltip="M1200">Sensory Status</a></li>
        <li><a href="#<%= Model.TypeName %>_Pain" tooltip="M1242">Pain</a></li>
        <li><a href="#<%= Model.TypeName %>_Integumentary" tooltip="M1306 &#8211; M1350">Integumentary Status</a></li>
        <li><a href="#<%= Model.TypeName %>_Respiratory" tooltip="M1400">Respiratory Status</a></li>
        <li><a href="#<%= Model.TypeName %>_Endocrine">Endocrine</a></li>
        <li><a href="#<%= Model.TypeName %>_Cardiac">Cardiac Status</a></li>
        <li><a href="#<%= Model.TypeName %>_Elimination" tooltip="M1610 &#8211; M1630">Elimination Status</a></li>
        <li><a href="#<%= Model.TypeName %>_Nutrition">Nutrition</a></li>
        <li><a href="#<%= Model.TypeName %>_NeuroBehavioral">Neuro/Behaviourial Status</a></li>
        <li><a href="#<%= Model.TypeName %>_AdlIadl" tooltip="M1810 &#8211; M1910">ADL/IADLs</a></li>
        <li><a href="#<%= Model.TypeName %>_SuppliesDme">Supplies Worksheet</a></li>
        <li><a href="#<%= Model.TypeName %>_Medications" tooltip="M2030">Medications</a></li>
        <li><a href="#<%= Model.TypeName %>_TherapyNeed" tooltip="M2200">Therapy Need &#38; Plan of Care</a></li>
        <li><a href="#<%= Model.TypeName %>_OrdersDiscipline">Orders for Discipline &#38; Treatment</a></li>
    </ul>
    <div id="<%= Model.TypeName %>_Demographics" class="general">
        <% Html.RenderPartial("~/Views/Oasis/Assessments/Tabs/Demographics.ascx", Model); %>
    </div>
    <div id="<%= Model.TypeName %>_PatientHistory" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Prognosis" class="general loading"></div>
    <div id="<%= Model.TypeName %>_SupportiveAssistance" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Sensory" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Pain" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Integumentary" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Respiratory" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Endocrine" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Cardiac" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Elimination" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Nutrition" class="general loading"></div>
    <div id="<%= Model.TypeName %>_NeuroBehavioral" class="general loading"></div>
    <div id="<%= Model.TypeName %>_AdlIadl" class="general loading"></div>
    <div id="<%= Model.TypeName %>_SuppliesDme" class="general loading"></div>
    <div id="<%= Model.TypeName %>_Medications" class="general loading"></div>
    <div id="<%= Model.TypeName %>_TherapyNeed" class="general loading"></div>
    <div id="<%= Model.TypeName %>_OrdersDiscipline" class="general loading"></div>
</div>