﻿<script type="text/C#" runat="server">
    protected override void OnLoad(EventArgs e)
    {
        base.OnLoad(e);
        Response.StatusCode = (int) System.Net.HttpStatusCode.Unauthorized;
    }
</script>
<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Axxess&#8482; AgencyCore&#8482; | 401 - Access Denied</title>
    <style type="text/css">
        html{height:100%;}
        body{overflow:hidden;background:#d7d7d7;}
        div{position:fixed;top:45%;left:50%;width:32em;height:10em;background-color:#fff;margin:-6em 0 0 -16em;text-align:center;border-radius:1em;-moz-border-radius:1em;-webkit-border-radius:1em;font:1em 'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;padding:1em;box-shadow:0 10px 25px #333;-moz-box-shadow:0 10px 25px #333;-webkit-box-shadow:0 10px 25px #333;-o-box-shadow:0 10px 25px #333;-khtml-box-shadow:0 10px 25px #333;border:5px solid #fff;border-bottom-colors:#aaa #bbb #ccc #ddd #eee;-moz-border-bottom-colors:#aaa #bbb #ccc #ddd #eee;-webkit-border-bottom-colors:#aaa #bbb #ccc #ddd #eee;-o-border-bottom-colors:#aaa #bbb #ccc #ddd #eee;-khtml-border-bottom-colors:#aaa #bbb #ccc #ddd #eee;border-left-colors:#aaa #bbb #ccc #ddd #eee;-moz-border-left-colors:#aaa #bbb #ccc #ddd #eee;-webkit-border-left-colors:#aaa #bbb #ccc #ddd #eee;-o-border-left-colors:#aaa #bbb #ccc #ddd #eee;-khtml-border-left-colors:#aaa #bbb #ccc #ddd #eee;border-top-colors:#aaa #bbb #ccc #ddd #eee;-moz-border-top-colors:#aaa #bbb #ccc #ddd #eee;-webkit-border-top-colors:#aaa #bbb #ccc #ddd #eee;-o-border-top-colors:#aaa #bbb #ccc #ddd #eee;-khtml-border-top-colors:#aaa #bbb #ccc #ddd #eee;border-right-colors:#aaa #bbb #ccc #ddd #eee;-moz-border-right-colors:#aaa #bbb #ccc #ddd #eee;-webkit-border-right-colors:#aaa #bbb #ccc #ddd #eee;-o-border-right-colors:#aaa #bbb #ccc #ddd #eee;-khtml-border-right-colors:#aaa #bbb #ccc #ddd #eee;}
        #logo{float:left;margin:.75em 0;}
        em{position:absolute;bottom:1em;right:1em;font-size:.7em;}
        .axxesslogo{float:left;background:url(/Images/logos.png) no-repeat 0 -119px;display:inline-block;height:141px;width:156px;margin:20px;}
        .erroricon{width:32px;height:32px;display:inline-block;background:url(/Images/sprite.png) no-repeat -128px 0;vertical-align:middle;}
    </style>
</head>
<body>
    <div>
        <span class="axxesslogo"></span>
        <h1><span class="erroricon"></span> Access Denied</h1>
        <hr />
        <p>You are not authorized to view this resource.</p>
        <em>HTTP 401</em>
    </div>
</body>
</html>
