﻿/* -- Globals -- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
body{line-height:1.5;color:#1a1a1a;background:#888 url(/Images/Login/texture.jpeg) repeat fixed center center;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;overflow:hidden}
.hidden{display:none}
/* -- Top Section -- */
#top_wrapper{position:absolute;top:0;right:0;left:0;height:67px;border-bottom:solid .1em #333;text-align:center;
    background:-webkit-gradient(linear, left bottom, left top, from(#ccc), to(#fff));
    background:-moz-linear-gradient(90deg,#ccc,#fff);
    -webkit-box-shadow:#333 .1em 0 1em;
    -moz-box-shadow:#333 .1em 0 1em}
#top_wrapper .logo{width:400px;height:67px;background:transparent url(/Images/logo-mobile.png) no-repeat scroll 0 0;margin: .25em 1em}
#top_wrapper .mobile{position:fixed;top:.35em;right:.5em;font-size:2em;font-style:italic;text-shadow:-.05em -.05em .1em #333}
/* -- Main Section -- */
#login_wrapper{position:absolute;top:50%;left:50%;width:20em;padding:1.5em 1.5em 2.5em;margin-left:-10.5em;margin-top:-5em;border:solid .1em #888;border-radius:.3em;
    background:-webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, .7)), to(rgba(255, 255, 255, .8)), color-stop(0.5, rgba(255, 255, 255, .9)));
    background:-moz-linear-gradient(120deg,rgba(255, 255, 255, .7),rgba(255, 255, 255, .9),rgba(255, 255, 255, .8));
    -webkit-box-shadow:#999 0 0 5em;
    -moz-box-shadow:#999 0 0 5em}
#login_wrapper.reset{width:27em;margin-left:-14em;margin-top:-7em;padding-bottom:1.5em}
#login_wrapper.reset #EmailAddress{width:20em}
#recaptcha_table{border:0 none !important;clear:left}
input{border-radius:.5em;border:solid .1em #888}
.row{clear:both}
.row label{float:left;font-size:.9em;padding:.3em}
.row input[type=checkbox]{float:left;margin:.6em .3em}
.row input[type=text],.row input[type=password]{float:right;padding:.3em;width:15em;
    -webkit-box-shadow:inset #333 .1em .1em .5em;
    -moz-box-shadow:inset #333 .1em .1em .5em}
#login_wrapper.reset .row input[type=text]{width:20em}
.button{cursor:pointer;font-weight:bold;text-decoration:none;text-shadow:#000 .1em .1em .3em;vertical-align:baseline;color:#e9e9e9;width:90px;padding:.3em 1.2em;float:right;border-radius:1.5em;
    -moz-box-shadow:inset 0 -.5em 1em 0 #2b3f61,inset 0 -.5em 0 .55em #5480c7,inset 0 -3em 1.2em -1em #8293b0;
    -webkit-box-shadow:inset 0 -.5em 1em 0 #2b3f61,inset 0 -.5em 0 .55em #5480c7,inset 0 -3em 1.2em -1em #8293b0;
    background:-webkit-gradient(linear, left top, left bottom, from(#9bb1d5), to(#5f718e), color-stop(0.48, #93a7c7), color-stop(0.52, #7f93b3))}
.button:active{color:#afafaf;position:relative;top:1px;-webkit-box-shadow:inset 0 0 3em #435f8e}
#login_wrapper.reset .button{margin-top:1em}
.forgot{position:absolute;right:1.5em;bottom:1em;font-size:.75em}
.forgot a{text-decoration:none}
/* -- jGrowl/Notification System -- */
.jGrowl{position:fixed;padding:1em;z-index:99;color:#333;font-size:.75em}
.jGrowl.top-right{right:0;top:70px}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{background:#ddd;opacity:.95;width:18em;padding:.8em;margin:.3em 0;font-family:Tahoma,Arial,Helvetica,sans-serif;text-align:left;display:none;border:solid .1em #bbb}
.jGrowl div.jGrowl-notification{min-height:3.5em}
.jGrowl div.jGrowl-notification div.header{font-weight:bold;font-size:.85em}
.jGrowl div.jGrowl-notification div.close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer}
.jGrowl div.jGrowl-closer{cursor:pointer;font-weight:bold;text-align:center}
.jGrowl div.error{background:#fccac3;color:#333}
.jGrowl div.success{background:#b6d4b6;color:#333}
/* -- Portrait Overrides -- */
@media all and (max-width:450px) {
    #recaptcha_area table,#recaptcha_area tbody,#recaptcha_area tr,#recaptcha_area td{display:block;clear:both}
    #recaptcha_reload_btn,#recaptcha_switch_audio_btn,#recaptcha_switch_img_btn,#recaptcha_whatsthis_btn{display:inline-block;float:left;margin:0 .2em;background:#034dad !important;-webkit-border-radius:.2em;-moz-border-radius:.2em;overflow:hidden;height:1.1em}
    #recaptcha_logo,#recaptcha_tagline{position:absolute;bottom:.5em;left:.5em}
    #recaptcha_tagline{left:5em}
    #login_wrapper.reset{width:20em;margin-left:-10.5em}
    #login_wrapper.reset #EmailAddress{width:15em !important}
}
/* -- Landscape Overrides -- */
@media all and (max-height:300px) {
    #login_wrapper{margin-top:0em;top:75px}
}
