﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<VisitNoteViewData>" %>
<% Html.RenderPartial("Shared/VitalSigns/FormRev3", Model); %>
<% Html.RenderPartial("Therapy/PTVisit/ContentRev2", Model, ViewData); %>