﻿<%@ Page Language="C#" MasterPageFile="~/Tool/Tool.Master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ToolHeader">Axxess Message Send Page</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="ToolContent">
        <%= string.Format("Implementation Specialist: {0}", ImplementationSpecialist.Instance.NextName()) %>
</asp:Content>
    