﻿<%@ Page Language="C#" MasterPageFile="~/Tool/Tool.Master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ToolHeader">Insert Upload Types</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="ToolContent">
        <% Container.Resolve<Axxess.AgencyManagement.Repositories.IAgencyManagementDataProvider>().AgencyRepository.InsertUploadTypes("ca846a95-fc47-4a45-b50b-e5bc3b3474fd".ToGuid()); %>
</asp:Content>
    