﻿.page{background:#fff url(/Images/Print/Schedule/HHA/homemaker.jpg) no-repeat center center}
.content{top:160px;right:37px;bottom:80px;left:38px;overflow-y:auto;font-size:10pt;line-height:1.5;border-top:.1em solid #000}
.content th{padding:4px 0}
.mr,.patientname,.episode,.physician,.dob,.dnr,.sign,.signdate,.visitdate,.timein,.timeout,.surcharge,.mileage{height:1.5em;font-size:10pt}
.mr,.patientname,.dob{top:113px;width:18.5em;font-weight:bold}
.mr{left:310px}
.visitdate{top:113px;left:450px}
.timein{top:113px;left:575px}
.timeout{top:113px;left:710px}
.surcharge{top:140px;left:450px}
.mileage{top:140px;left:650px}
.patientname{left:140px}
.episode,.physician,.dnr{top:138px}
.episode{left:150px;width:10.5em}
.physician{left:365px;width:12.5em}
.dnr{left:580px;width:14.5em}
.sign,.signdate{top:995px;font-size:12pt}
.sign{left:45px;width:43em}
.signdate{left:627px;width:11em}
th{border-right: 0px;}