﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<UserVisit>>" %>
<% string pagename = "EmployeeVisitByDateRange"; %>
 <%= Html.Telerik().Grid(Model).Name(pagename+"Grid").Columns(columns =>
           {
               columns.Bound(s => s.UserDisplayName).Title("Employee").ReadOnly();
               columns.Bound(s => s.PatientName).Title("Patient");
               columns.Bound(s => s.TaskName).Title("Task").ReadOnly();
               columns.Bound(s => s.ScheduleDate).Title("Schedule Date").Width(90).ReadOnly();
               columns.Bound(s => s.VisitDate).Title("Visit Date").Width(90).ReadOnly();
               columns.Bound(s => s.StatusName).Title("Status").Sortable(false).ReadOnly();
           })
                .Sortable(sorting =>
                      sorting.SortMode(GridSortMode.SingleColumn)
                          .OrderBy(order =>
                          {
                              var sortName = ViewData["SortColumn"] != null ? ViewData["SortColumn"].ToString() : string.Empty;
                              var sortDirection = ViewData["SortDirection"] != null ? ViewData["SortDirection"].ToString() : string.Empty;
                              if (sortName == "UserDisplayName")
                              {
                                  if (sortDirection == "ASC")
                                  {
                                      order.Add(o => o.UserDisplayName).Ascending();
                                  }
                                  else if (sortDirection == "DESC")
                                  {
                                      order.Add(o => o.UserDisplayName).Descending();
                                  }
                              }
                              else if (sortName == "PatientName")
                              {
                                  if (sortDirection == "ASC")
                                  {
                                      order.Add(o => o.PatientName).Ascending();
                                  }
                                  else if (sortDirection == "DESC")
                                  {
                                      order.Add(o => o.PatientName).Descending();
                                  }
                              }
                              else if (sortName == "TaskName")
                              {
                                  if (sortDirection == "ASC")
                                  {
                                      order.Add(o => o.TaskName).Ascending();
                                  }
                                  else if (sortDirection == "DESC")
                                  {
                                      order.Add(o => o.TaskName).Descending();
                                  }
                              }
                              else if (sortName == "VisitDate")
                              {
                                  if (sortDirection == "ASC")
                                  {
                                      order.Add(o => o.VisitDate).Ascending();
                                  }
                                  else if (sortDirection == "DESC")
                                  {
                                      order.Add(o => o.VisitDate).Descending();
                                  }
                              }
                              else if (sortName == "ScheduleDate")
                              {
                                  if (sortDirection == "ASC")
                                  {
                                      order.Add(o => o.ScheduleDate).Ascending();
                                  }
                                  else if (sortDirection == "DESC")
                                  {
                                      order.Add(o => o.ScheduleDate).Descending();
                                  }
                              }

                          })
                      )
               .Scrollable()
               .Footer(false)
        %>

