﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<PrintViewData<PhysicianOrder>>" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title><%= Model != null && Model.LocationProfile != null && Model.LocationProfile.Name.IsNotNullOrEmpty() ? Model.LocationProfile.Name + " | " : "" %>Physician Order<%= Model != null && Model.PatientProfile != null ? (" | " + (Model.PatientProfile.LastName.IsNotNullOrEmpty() ? Model.PatientProfile.LastName.ToTitleCase() + ", " : "") + (Model.PatientProfile.FirstName.IsNotNullOrEmpty() ? Model.PatientProfile.FirstName.ToTitleCase() + " " : "") + (Model.PatientProfile.MiddleInitial.IsNotNullOrEmpty() ? Model.PatientProfile.MiddleInitial.ToUpper() : "")) : "" %></title>
    <%= Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("pdfprint.css").Add("Print/Patient/physorder.css").Combined(true).Compress(true).CacheDurationInDays(1).Version(Current.AssemblyVersion))%>
</head>
<body>
<% Html.Telerik().ScriptRegistrar().jQuery(false).Globalization(true).DefaultGroup(group => group
        .Add("jquery-1.7.1.min.js")
        .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "pdfprint.js")
        .Compress(true).Combined(true).CacheDurationInDays(5)
    ).OnDocumentReady(() => { %>
        PdfPrint.Fields = {
            "agency": "<%= (Model != null && Model.LocationProfile != null ? (Model.LocationProfile.Name.IsNotNullOrEmpty() ? Model.LocationProfile.Name + "<br />" : "") + (Model.LocationProfile != null ? (Model.LocationProfile.AddressLine1.IsNotNullOrEmpty() ? Model.LocationProfile.AddressLine1.Clean() : "") + (Model.LocationProfile.AddressLine2.IsNotNullOrEmpty() ? ", "+Model.LocationProfile.AddressLine2.Clean() + "<br />" : "<br />") + (Model.LocationProfile.AddressCity.IsNotNullOrEmpty() ? Model.LocationProfile.AddressCity.Clean() + ", " : "") + (Model.LocationProfile.AddressStateCode.IsNotNullOrEmpty() ? Model.LocationProfile.AddressStateCode.ToString().ToUpper() + "  " : "") + (Model.LocationProfile.AddressZipCode.IsNotNullOrEmpty() ? Model.LocationProfile.AddressZipCode.Clean() : "") + (Model.LocationProfile.PhoneWorkFormatted.IsNotNullOrEmpty() ? "<br />Phone: " + Model.LocationProfile.PhoneWorkFormatted : "") + (Model.LocationProfile.FaxNumberFormatted.IsNotNullOrEmpty() ? " | Fax: " + Model.LocationProfile.FaxNumberFormatted : "") : "") : "").Clean()%>",
            "patientname": "<%= (Model != null && Model.PatientProfile != null ? (Model.PatientProfile.LastName.IsNotNullOrEmpty() ? Model.PatientProfile.LastName.ToLower().ToTitleCase() + ", " : "") + (Model.PatientProfile.FirstName.IsNotNullOrEmpty() ? Model.PatientProfile.FirstName.ToLower().ToTitleCase() + " " : "") + (Model.PatientProfile.MiddleInitial.IsNotNullOrEmpty() ? Model.PatientProfile.MiddleInitial.ToUpper() + "<br />" : "<br />") : "").Clean() %>",
            "patient": "<%= (Model != null && Model.PatientProfile != null ? (Model.PatientProfile.Address.Line1.IsNotNullOrEmpty() ? Model.PatientProfile.Address.Line1.Clean() + "<br />" : "") + (Model.PatientProfile.Address.Line2.IsNotNullOrEmpty() ? Model.PatientProfile.Address.Line2.Clean() + "<br />" : "") + (Model.PatientProfile.Address.City.IsNotNullOrEmpty() ? Model.PatientProfile.Address.City.Clean() + ", " : "") + (Model.PatientProfile.Address.StateCode.IsNotNullOrEmpty() ? Model.PatientProfile.Address.StateCode.ToTitleCase() + "  " : "") + (Model.PatientProfile.Address.ZipCode.IsNotNullOrEmpty() ? Model.PatientProfile.Address.ZipCode + "<br />" : "") + (Model.PatientProfile.Phone.IsNotNullOrEmpty() ? Model.PatientProfile.Phone + "<br />" : "") + (Model.PatientProfile.MedicareNumber.IsNotNullOrEmpty() ? "HIC: " + Model.PatientProfile.MedicareNumber : "") : "").Clean() %>",
            "physicianname": "<%= (Model != null && Model.Data.Physician != null && Model.Data.Physician.DisplayName.IsNotNullOrEmpty() ? Model.Data.Physician.DisplayName.Clean() : string.Empty) %>",
            "physician": "<%= (Model != null && Model.Data.Physician != null ? (Model.Data.Physician.AddressLine1.IsNotNullOrEmpty() ? Model.Data.Physician.AddressLine1.Clean() : "") + (Model.Data.Physician.AddressLine2.IsNotNullOrEmpty() ? ", " + Model.Data.Physician.AddressLine2.Clean() + "<br />" : "<br />") + (Model.Data.Physician.AddressCity.IsNotNullOrEmpty() ? Model.Data.Physician.AddressCity.Clean() + ", " : "") + (Model.Data.Physician.AddressStateCode.IsNotNullOrEmpty() ? Model.Data.Physician.AddressStateCode.ToTitleCase() + "  " : "") + (Model.Data.Physician.AddressZipCode.IsNotNullOrEmpty() ? Model.Data.Physician.AddressZipCode + "<br />" : "") + (Model.Data.Physician.PhoneWork.IsNotNullOrEmpty() ? "Phone: " + Model.Data.Physician.PhoneWork.ToPhone() : "") + (Model.Data.Physician.FaxNumber.IsNotNullOrEmpty() ? " | Fax: " + Model.Data.Physician.FaxNumber.ToPhone() + "<br />" : "<br />") + (Model.Data.Physician.NPI.IsNotNullOrEmpty() ? "NPI: " + Model.Data.Physician.NPI : "") : "").Clean() %>",
            "orderdate": "<%= (Model != null && Model.Data.OrderDate.IsValid() ? Model.Data.OrderDate.ToShortDateString() : "").Clean() %>",
            "ordernum": "<%= (Model != null && Model.Data.OrderNumber.ToString().IsNotNullOrEmpty() && Model.Data.OrderNumber.ToString().ToInteger() != 0 ? Model.Data.OrderNumber.ToString() : "").Clean() %>",
            "episode": "<%= (Model != null && Model.Data.EpisodeStartDate.IsValidDate() ? Model.Data.EpisodeStartDate + "&#8212;" : string.Empty).Clean() + (Model != null && Model.Data.EpisodeEndDate.IsValidDate() ? Model.Data.EpisodeEndDate : string.Empty).Clean()%>",
            "dob": "<%= (Model != null && Model.PatientProfile != null && Model.PatientProfile.DOB.IsValid() ? Model.PatientProfile.DOB.ToShortDateString() : string.Empty).Clean() %>",
            "mr": "<%= (Model != null && Model.PatientProfile != null && Model.PatientProfile.PatientIdNumber.IsNotNullOrEmpty() ? Model.PatientProfile.PatientIdNumber : string.Empty).Clean()%>",
            "allergies": "<%= (Model != null && Model.Data.Allergies.IsNotNullOrEmpty() ? Model.Data.Allergies : "").Clean() %>",
            "summary": "<%= (Model != null && Model.Data.Summary.IsNotNullOrEmpty() ? Model.Data.Summary : "").Clean() %>",
            "IsOrderReadAndVerified": "<%= (Model != null && Model.Data.IsOrderReadAndVerified ? "X" : "").Clean()%>",
            "clinsign": "<%= (Model != null && Model.Data.SignatureText.IsNotNullOrEmpty() ? Model.Data.SignatureText : "").Clean() %>",
            "clinsigndate": "<%= (Model != null && Model.Data.SignatureDate.IsValid() ? Model.Data.SignatureDate.ToShortDateString() : "").Clean() %>",
            "physsign": "<%= (Model != null && Model.Data.PhysicianSignatureText.IsNotNullOrEmpty() ? Model.Data.PhysicianSignatureText : "").Clean() %>",
            "physsigndate": "<%= (Model != null && Model.Data.PhysicianSignatureDate.IsValid() ? Model.Data.PhysicianSignatureDate.ToShortDateString() : "").Clean()%>"
        };
        PdfPrint.BuildBasic("<%= Model != null && Model.Data.Text.IsNotNullOrEmpty() ? Model.Data.Text.Clean() : "" %>"); <%
    }).Render(); %>
</body>
</html>