﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Axxess.Membership.Domain.Login>" %>
<iframe style="position:absolute;top:0;left:0;height:100%;width:100%" src="<%= string.Format("http://esign.axxessweb.com/?user={0}&name={1}", HttpUtility.UrlEncode(Model.EmailAddress), HttpUtility.UrlEncode(Model.DisplayName)) %>"></iframe>