﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<Bill>>" %>
<% if (Model != null && Model.Count>0){ %><% foreach( var data in Model){ %><% Html.RenderPartial(data.ClaimType != ClaimTypeSubCategory.ManagedCare ? data.ClaimType.ToString().ToTitleCase() + "Grid" : "Managed/ManagedGrid", data); %><%}%><%} else{%>No Data found for current filter.<%} %>