﻿.page{background:#fff url(/Images/Print/Schedule/UAP/woundcare.jpeg) no-repeat center center}
.content{top:185px;right:37px;bottom:81px;left:38px;overflow-y:auto;font-size:10pt;line-height:1.5;border-top:.1em solid #000}
.content th{padding:4px 0}
.mr,.patientname,.episode,.visitdate,.timein,.timeout,.sign,.signdate,.surcharge,.mileage{height:1.5em;font-size:10pt}
.mr,.patientname,.visitdate{top:113px}
.patientname{left:140px;width:18.5em;font-size:12pt;font-weight:bold}
.mr{left:360px;width:7em}
.visitdate{left:550px;width:14em}
.episode,.timein,.timeout{top:138px}
.episode{left:150px;width:24em}
.timein{left:530px;width:5em}
.timeout{left:670px;width:5em}
.sign,.signdate{top:995px;font-size:12pt}
.sign{left:35px;width:43em}
.signdate{left:627px;width:9em}
.surcharge{top:162px;left:175px}
.mileage{top:162px;left:370px}