﻿/* -- General -- */
a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,figure,footer,form,h1,h2,h3,h4,h5,h6,hFeader,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0;margin:0;outline:0;padding:0;}
html,body{height:100%;overflow:hidden;}
a{text-decoration:none;}
a.hidden{display:none;}
img{font-size:0;}
body,h1,h2,h3,h4,h5,h6,textarea{font:12px/1 'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;}
li{list-style:none;}
label{color:#333;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;}
label.float_left{font-weight:bold;}
em{font-weight:normal;font-size:10px;}
.largefont{font-size:16px;}
fieldset{position:relative;margin:10px 10px 20px;background-color:#fffcf2;border:solid 1px #d3d3d3;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
legend{font-weight:bold;}
input,textarea,select{border:1px solid #d1d1d1;}
.abs,.abs_left,.abs_right{position:absolute;top:auto;left:auto;right:auto;bottom:auto;cursor:default;}
.abs_left{left:0;}
.abs_right{right:0;}
.rel{position:relative;display:inline-block;}
.hidden{display:none;}
.very_hidden{display:none !important;}
.align_left{text-align:left;}
.align_center{text-align:center !important;}
.align_right{text-align:right;}
.float_left{float:left;}
.float_right{float:right;position:relative;}
.clear{clear:both;}
.clear_left{clear:left;}
.clear_right{clear:right;}
.light{font-weight:normal;}
.strong{font-weight:bold;}
.fixed{table-layout:fixed;}
.errormessage{color:#fc3c21;}
.half{width:45%;}
/* -- Desktop -- */
#wallpaper{margin:auto;}
#desktop{overflow:hidden;top:29px;right:0;bottom:33px;left:0;background:#d7d7d7 url(../images/gui/logo_back.jpeg) no-repeat center center;}
/* -- Menu and Taskbar -- */
#bar_top,#bar_bottom{font-weight:bold;padding:0 10px;left:0;right:0;}
#tab{position:absolute;top:3px;left:0;width:207px;height:63px;background:transparent url(../images/gui/menu-logo.png) no-repeat top right;z-index:11;}
#bar_top{line-height:25px;text-shadow:#fff 0 1px 1px;background:#fff url(/images/gui/bar_top.png) repeat-x left bottom;border-bottom:solid 1px #333;padding-left:204px;height:25px;top:0;border-top:solid 3px #af1e2d;color:#999;box-shadow:0 1px 5px #333;-moz-box-shadow:0 1px 5px #333;-webkit-box-shadow:0 1px 5px #333;z-index:10;}
.ie-shadow{display:none;}
#bar_bottom{font-size:13px;line-height:22px;background:#fff url(/images/gui/bar_bottom.png) repeat-x left top;border-top:solid 1px #333;overflow:hidden;padding:2px 0;height:25px;bottom:0;border-bottom:solid 3px #af1e2d;color:#333;}
#bar_top li,#bar_bottom li{float:left;}
#bar_top li a,#bar_bottom li a{cursor:default;display:block;padding:0 8px;border-left:1px solid #bbb;}
#bar_top img{vertical-align:top;margin:1px 3px 1px 1px;}
#bar_top a{overflow:hidden;height:25px;min-height:1px;color:#333;}
#bar_top li.active{text-shadow:none;background:#d9f7ff url(/images/gui/bar_top_hover.png) repeat-x bottom;}
#bar_top ul.menu{border:1px solid #bbb;border-top-width:0;border-bottom-width:0;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;display:none;margin:1px;position:absolute;min-width:175px;z-index:30;box-shadow:-1px 1px 5px #333;-moz-box-shadow:-1px 1px 5px #333;-webkit-box-shadow:-1px 1px 5px #333;background-color:#fffcf2;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=225,Color=#333333)";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=225,Color=#333333);}
#bar_top ul.menu ul.menu{border-top-width:1px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:none;z-index:31;left:217px;top:0px;}
#bar_top ul.menu li{float:none;position:relative;}
#bar_top ul.menu a{background:#fff;border-left:0 none;border-bottom:solid 1px #bbb;min-width:200px;}
#bar_top ul.menu a:hover{background:#7fa6c7 url(/Images/gui/menu_hover.png) repeat-x center center;color:#fff;text-shadow:-1px 1px 2px #333;}
#bar_top ul.menu li:last-child a{border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}
#bar_top ul.menu li:last-child li a{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
#bar_top ul.menu ul li:first-child a{border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
#bar_top ul.menu ul li:last-child a{border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}
#mainmenu ul a.menu_trigger img{position:absolute;right:0;top:4px;}
#bar_bottom li{margin:1px 0 0 5px;}
#bar_bottom li a{text-shadow:#000 0 1px 1px;background:#aaa;color:#fff;width:150px;min-width:150px;border:solid 1px #333;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;overflow:hidden;padding:0 10px;height:23px;}
#bar_bottom a:hover{border-color:#c60;background:#ccc;}
#bar_bottom a:active{background:#c60;border-color:#fff;}
#bar_bottom li a img{float:left;margin:1px 5px 0 -5px;}
#bar_bottom .float_left img,#bar_bottom .float_right img{display:block;padding:0;}
#bar_bottom span.float_right{margin-right:10px;}
#bar_bottom span.float_right{font-size:10px;}
/* -- Windows -- */
.window,.ui-dialog{box-shadow:0 0 2px #555;-moz-box-shadow:0 0 2px #555;-webkit-box-shadow:0 0 2px #555;border:solid 1px #333;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;z-index:2;background:#fff;color:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color=#333333)";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color=#333333);}
.window.window_stack,.ui-dialog{box-shadow:2px 2px 5px #555;-moz-box-shadow:2px 2px 5px #555;-webkit-box-shadow:2px 2px 5px #555;}
.loading{background:#fff url(/Images/gui/loading_icon.gif) no-repeat scroll center center;}
.window.window_stack,.window.ui-draggable-dragging{z-index:10;}
.window.ui-draggable-dragging{opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';}
.window.ui-draggable-dragging .window_content,.window.ui-draggable-dragging .window_bottom{display:none;}
.window_full.ui-draggable-dragging{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
.window_full.ui-draggable-dragging .window_content,.window_full.ui-draggable-dragging .window_bottom{display:block;}
.window_top,.ui-dialog-titlebar{text-align:center;background:#aaa url(/images/gui/window_title_lighter.png) repeat-x;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;padding:0 10px;height:25px;overflow:hidden;color:#fff;}
.window.window_stack .window_top,.ui-dialog-titlebar{background:#6f95d4 url(../images/gui/window_title_blue.png) repeat-x;}
.window_top img{float:left;margin:2px 5px 0 0;}
.window_top .abs,.ui-dialog-title{margin:auto;font-weight:bold;line-height:25px;text-shadow:#fff 0 1px 1px;top:0;right:100px;left:40px;cursor:default;color:#000;}
.window_bottom{background:#fff url(../images/gui/bar_top.png) repeat-x left bottom;border-top:solid 1px #bbb;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;overflow:hidden;height:20px;right:1px;bottom:1px;left:1px;font-size:11px;font-weight:bold;line-height:20px;text-align:center;text-shadow:#fff 0 1px 1px;}
.window_min,.window_resize,.window_close,.ui-dialog-titlebar-close{background:url(../images/gui/window_buttons.gif) no-repeat;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;float:left;margin:4px 0 0 2px;width:28px;height:15px;font-size:0;}
.window_min:hover{background-position:0 -15px;}
.window_resize{background-position:-28px 0;}
.window_resize:hover{background-position:-28px -15px;}
.window_close,.ui-dialog-titlebar-close{background-position:-56px 0;}
.window_close:hover,.ui-dialog-titlebar-close:hover{background-position:-56px -15px;box-shadow:#f00 0 0 10px;-moz-box-shadow:#f00 0 0 10px;-webkit-box-shadow:#f00 0 0 10px;}
.window_min:hover,.window_resize:hover{box-shadow:#09f 0 0 10px;-moz-box-shadow:#09f 0 0 10px;-webkit-box-shadow:#09f 0 0 10px;}
.window_inner{padding:1px;top:0;left:0;right:0;bottom:0;}
.ui-dialog{padding:1px;}
.window_full{border:0;}
.window_full,.window_full .window_top,.window_full .window_bottom{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.window_aside h3{margin:0 0 0 5px;}
.window_main{background-color:#fff;}
.window_content{color:#333;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;line-height:1.5;overflow:auto;top:27px;right:2px;bottom:23px;left:2px;} 
.main{padding:10px;}
.ajaxerror{margin-top:20%;text-align:center;}
.ajaxerror h1{line-height:32px;display:inline;vertical-align:super;}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}
.ui-resizable{position:absolute;}
.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block;}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0px;}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0px;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0px;height:100%;}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0px;height:100%;}
.ui-resizable-se{cursor:se-resize;width:22px;height:22px;right:-5px;bottom:-5px;background:url(/Images/icons/resize.png) no-repeat top left;}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.window_full .ui-resizable-handle{display:none;}
/* -- jQuery Layout -- */
.layout_resizer{background:#fff;width:1px !important;border-left:solid 1px #eee;border-right:solid 1px #ddd;height:100% !important;}
.layout{position:absolute;top:0;right:0;bottom:0;left:0;}
.layout_pane{overflow:hidden;height:100% !important;}
.layout_main{width:auto !important;}
/* -- jGrowl/Notification System -- */
.jGrowl{position:fixed;padding:10px;z-index:9999;color:#333;font-size:12px;}
.jGrowl.top-right{right:0;top:30px;}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{background:#ddd;opacity:.85;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);zoom:1;width:235px;padding:10px;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:3px 3px 5px #bbb;-moz-box-shadow:3px 3px 5px #bbb;-webkit-box-shadow:3px 3px 5px #bbb;border:solid 1px #bbb;}
.jGrowl div.jGrowl-notification{min-height:40px;}
.jGrowl div.jGrowl-notification div.header{font-weight:bold;font-size:.85em;}
.jGrowl div.jGrowl-notification div.close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer;}
.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center;}
.jGrowl div.error{background:#fccac3;color:#333;}
.jGrowl div.success{background:#b6d4b6;color:#333;}
/* -- Forms -- */
.green,a.green{color:#368c36;}
fieldset.oasis{background:#ebfceb;}
fieldset.loc485{background:#e3e3e3;border-color:#ccc;}
fieldset input,fieldset select,.claim input,.claim select,.claim .t-input,.nursing input,.nursing select{width:200px;margin:3px;vertical-align:middle;}
fieldset table input,fieldset table select{width:184px;}
fieldset textarea{width:98%;height:50px;}
fieldset.half{width:45%;}
fieldset.half .column,fieldset .wide_column{width:95%;padding:10px 2.5%;}
fieldset.half.float_left{margin:10px 0 10px 10px;}
fieldset.half.float_right{margin:10px 10px 10px 0;}
fieldset .column{width:46%;padding:10px;float:left;}
fieldset .column .row:first-child,fieldset .wide_column .row:first-child,fieldset .wide_column .column .row:first-child{border-top:none;}
fieldset .row,fieldset .wide_column .column .row{width:100% !important;clear:both;max-width:450px;position:relative;display:block;padding:2px 0;margin:2px auto;border-top:dotted 1px #ddd;}
fieldset .wide_column .row{max-width:1500px;}
fieldset table{width:100%;padding:10px;table-layout:fixed;text-align:left;}
fieldset table.layout_auto{table-layout:auto;}
table.borders{border:solid 1px #d3d3d3;border-collapse:collapse;}
.borders td{border:solid 1px #d3d3d3;border-collapse:collapse;}
fieldset table td{vertical-align:top;}
fieldset table tr.linesep td,fieldset table tr.linesep th{border-top:dotted 1px #ddd;padding-top:5px;}
fieldset table tr.linesepvert td{border-left:dotted 1px #ddd;padding-left:5px;vertical-align:bottom;}
fieldset table tr.linesepvert td:first-child{border-left:0;}
fieldset.oasis .row .float_right{margin-right:24px;}
fieldset.oasis .row .float_right.oasis{margin-right:0;}
fieldset label{width:auto !important;}
fieldset label.radio,fieldset span.radio{display:block;margin-left:25px;}
fieldset .more{display:inline-block !important;margin-left:2px !important;width:240px !important;vertical-align:top;}
fieldset .more.small{width:140px !important;}
label.radio.fixed,label.inlineradio.fixed{width:105px !important;display:inline-block;}
fieldset label.inlineradio{margin-right:22.5px;vertical-align:top;display:inline-block;}
fieldset label.inlineradio.fixed.small{width:25px !important;margin-right:0;}
fieldset h4{font-weight:bold;text-transform:uppercase;}
fieldset h5{font-weight:bold;}
.normal{font-weight:normal;display:block;text-align:justify;}
.margin{margin-left:45px;margin-bottom:5px;}
.AddressStateCode{width:138px;}
.name_short{width:167px;}
.OasisContainer .AddressStateCode{width:120px;margin-right:2px;}
#StartOfCare_M0014BranchState,#Recertification_M0014BranchState,#ResumptionOfCare_M0014BranchState,#FollowUp_M0014BranchState,#DischargeFromAgencyDeath_M0014BranchState,#DischargeFromAgency_M0014BranchState{width:200px;margin-right:5px;}
.password,.loc{width:120px !important;}
.passgen,.st{width:77px;}
.rates {width:50px;}
.sn{width:40px;}
.icd,.icdwidth{width:50px;}
.mid_length{width:25%;}
.pad{width:20%;}
.severity {width:35px;}
.oe{width:105px !important;}
.padDignosis {padding-left:13px;}
.icdtext{width:50% !important;}
table .halfOfTd{width:50%; float:left;}
table .quarter{width:25%}
table .t-input{width:80%;}
table .date{width:70%;margin-right:0;}
.nursing .date{width:208px;}
table.claim .date{width:100%;}
.noborders td,.noborders th{border:0; padding: 2px 12px;}
#StartOfCare_GenericEyesLastEyeExamDate,#Recertification_GenericEyesLastEyeExamDate,#ResumptionOfCare_GenericEyesLastEyeExamDate{width:50%;}
.vitals{width:45px !important;}
.procedureDiagnosis,.diagnosis{width:80%;}
table .diagnosisDate {width:100px; padding-left:13px;}
.fill{width:100%;}
td .fill{width:94%;}
.green_button,.red_button,.grey_button{margin:0;border:0;height:23px;font-weight:bold;vertical-align:top;color:#fff;padding-bottom:4px;width:auto !important;}
.zip{width:54px;}
.phone_short{width:52px !important;vertical-align:middle;}
.phone_long{width:60px !important;vertical-align: middle;}
fieldset select,.t-datepicker{margin-right:5px;}
.t-input,.nursing .t-input{width:176px;}
.mi{width:25px;}
.firstvisit { background-color: #fff; padding: 10px; width: 470px;}
.missedvisitmodal { background-color: #fff; padding: 10px; width: 750px;}
.resetSignature { background-color: #fff; padding: 10px; width: 470px;}
.newphysicianmodal { background-color: #fff; padding: 10px; width: 900px;}
.newphotomodal { background-color: #fff; padding: 10px; width: 400px;}
.newadmitpatientmodal { background-color: #fff; padding: 10px; width: 900px;}
.newnonadmitpatientmodal,.newepisodemodal ,.editepisodemodal{ background-color: #fff; padding: 10px; width: 900px;}
.planofcaremedicationmodal { background-color: #fff; padding: 10px; width: 950px;}
input.radio{border:0;height:auto;width:auto;margin:2px 5px;padding:0;}
.alphali{display:inline-block;width:15px;}
.contact{border:0;padding:2px;vertical-align:baseline;}
ul.buttons{list-style:none;text-align:center;margin:0 1px 0 5px;}
ul.buttons li{height:25px;display:inline;line-height:normal;margin-right:2px;}
form img{padding:0;margin:0;border:0;}
ul.buttons input{border:0;height:23px;font-weight:bold;vertical-align:top;color:#fff;padding-bottom:4px;}
.green_button{background:url(/Images/forms/green_middle.jpeg) repeat-x;}
.red_button{background:url(/Images/forms/red_middle.jpeg) repeat-x;}
.grey_button{background:url(/Images/forms/grey_middle.jpeg) repeat-x;}
div.buttons{text-align:center;}
div.buttons ul{list-style:none;display:inline-block;margin:0 .5em .5em;}
.row div.buttons ul{margin:0;}
div.buttons li{float:left;margin:1px 5px;background:url(/Images/forms/vista_button_bg.jpeg) repeat-x top left;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.buttons li a{overflow:hidden;border:solid 1px #495668;display:block;padding:1px 25px;color:#fff !important;height:19px;line-height:19px;text-shadow:0 1px 1px #000;font-weight:bold;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;}
div.buttons li.send{background-image:url(/Images/forms/send_button_bg.jpeg);margin:3px 15px;}
div.buttons li.send a{padding:25px 15px 35px;}
div.buttons li.send a:active{padding:23px 17px 37px 13px;}
.ancillary_button{width:198px;height:23px;margin:3px;background:url(/Images/forms/ancillary_button.png);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.ancillary_button a{border:solid 1px #495668;display:block;width:177px;height:20px;padding:1px 10px;color:#fff;text-shadow:0 1px 1px #000;font-weight:bold;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;}
.ancillary_button a:hover,div.buttons li a:hover{background:url(/Images/forms/hover.png) no-repeat center center;box-shadow:0 0 .7em #44608f;-moz-box-shadow:0 0 .7em #44608f;-webkit-box-shadow:0 0 .7em #44608f;}
.ancillary_button a:active,div.buttons li a:active{background-image:url(/Images/forms/active.png);color:#ddd !important;border-color:#333 #aaa #aaa #333;padding:0 26px 2px 24px;box-shadow:0 0 .5em #000;-moz-box-shadow:0 0 .5em #000;-webkit-box-shadow:0 0 .5em #000;}
.ancillary_button a:active{padding:0 11px 2px 9px;}
form label.error{position:absolute;color:#fc3c21;font-size:10px;clear:both;font-weight:normal;top:5px;left:-50px;width:50px !important;}
form table label.error{top:80%;left:90%;}
form input.error{border:1px solid #fccac3;}
.plus{background:url(/Images/icons/plus.png) no-repeat center center;display:block;height:25px;width:25px;position:absolute;left:180px;top:0;}
.minus{background:url(/Images/icons/minus.png) no-repeat center center;display:block;height:25px;width:25px;position:absolute;left:180px;top:0;}
.Physicians{width:175px;margin-right:28px;}
.row.hidden{display:none;}
span.radio a{color:#00c;text-decoration:underline;}
.nocolborder td{border-right-width:0;border-left-width:0;}
.border-right{border-right:solid 1px #d3d3d3 !important;}
.rowbottomborder {border-bottom:solid 2px black; }
.fixedSmall {width:60px; display:inline-block;}
.paddingBellow {padding-bottom:5px;}
ul.fixedheight li{display:block;height:25px;}
.fixedGridHeight { height: 286px; position: relative; }
.absoluteGrid { position: absolute; left: 0; right: 0; bottom: 0; top: 287px; height: auto; }
/* -- Telerik Grid Placement Overrides -- */
#window_listreferrals .t-grid-content,
#window_messageinbox .t-grid-content,
/*#window_listuserschedule .t-grid-content,*/
#window_listcontacts .t-grid-content,
#window_listhospitals .t-grid-content,
#window_listinsurances .t-grid-content,
#window_listlocations .t-grid-content,
#window_listalluserschedule .t-grid-content,
#window_listphysicians .t-grid-content,
#window_listpatients .t-grid-content,
#window_listagencies .t-grid-content,
#window_listpendingpatients .t-grid-content,
#window_listusers .t-grid-content {top:60px;bottom:23px;}
#window_listpastduerecerts .t-grid-content,
#window_medicationprofilesnapshothistory .t-grid-content,
#window_listupcomingrecerts .t-grid-content {top:25px;bottom:23px;}
/* -- Patient/Scheduling Center -- */
.layout_left .top .row{display:table;margin:2px;width:100%;}
.layout_left .top .heading{text-align:left;font-weight: bold;font-size:12.5px;margin-bottom:0; margin-top: 6px;}
.layout_left .top .row label{float:left;}
.layout_left .top .row div{display:block;margin-left:50px;padding-right:6px;}
.layout_left .top select,.layout_left .top input{width:100%;}
.layout_left .bottom{position:absolute;top:130px;right:2px;bottom:0;left:0;}
.layout_main .tabcontents{position:relative;}
.layout_main .tabcontents tbody td{border-bottom:1px solid #dce6f5;padding:5px 2px;text-align:center;}
.layout_main .tabcontents tbody .lastrow td,#multipleScheduleTable td{border-bottom:none;}
.layout_main .tabcontents .daterange{width:415px;}
.layout_main .scheduleTables select,.layout_main .scheduleTables tbody input{width:100%;}
.layout_main .scheduleTables{width:76%;}
.layout_main .scheduleTables .currentDate,.layout_main .scheduleTables .t-input{width:120px;}
.layout_main .scheduleTables .action a{cursor:pointer;text-decoration:underline;}
.layout_main .scheduleTables .lastrow .action{display:none;}
.tabcontents .buttons{position:absolute;bottom:-5px;right:-15px;}
.layout_main .bottom{position:absolute;top:275px;right:0;bottom:0;left:0;}
.layout_main .bottom .above{position:absolute;top:-27px;right:0;left:0;border:solid 1px #d3d3d3;padding-top:3px;height:23px;background-color:#D6E5F3;}
.above label,.above select,.above input{margin:0 5px;}
.winmenu{width:100%;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;height:25px;border:solid 1px #d3d3d3;}
.winmenu ul li{float:left;color:#333;}
.winmenu ul li a{cursor:pointer;display:block;line-height:25px;padding:0 10px;color:#333;border-right:solid 1px #d3d3d3;}
.twothirds{height: 158px; float:left;background-color:#fffcf2;border:solid 1px #d3d3d3;margin:5px;padding:10px;width:69%;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.twothirds img{margin-right:10px;}
.layout_main .top a{color:#333;cursor:pointer;}
.onethird{width:25%;}
.encapsulation{float:right;padding:5px;}
.encapsulation ul{background:#fffcf2;}
.encapsulation h4{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;width:90%;text-align:center;font-size:12px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;}
.encapsulation li a{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;border-top:0;width:90%;}
.modal-gray{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;background:#6F95D4 url("../images/gui/dialog_blue.png") repeat-x;color:#fff;padding:10px;text-align:center;font-size:24px;text-shadow:0 2px 3px #333;}
#intro_widget ul,.modal-gray ul{text-align:left;margin:5px 40px;}
#intro_widget ul li,.modal-gray ul li{padding:5px;list-style:none inside url("/images/icons/green_arrow.png");}
#intro_widget ul li a{color:#368c36;font-size:18px;position:relative;top:-3px;line-height:18px;}
.modal-gray ul li a{color:#fff;}
#intro_widget ul li a:hover{color:#2fa32f;}
.widget-content h1 { font-family: Sans-Serif; font-size: 17px; font-weight: bold; color: #3C78B5; }
.widget-content .underline { border-top: solid 1px #3C78B5; margin-bottom: 5px; }
.widget-content .mailcontrols,.widget-content .message{padding:3px;line-height:20px;border-bottom:solid 1px #d6e5f3;display:block;}
.widget-content a.message{color:#333;}
.widget-content .message input{margin:3px 10px 0 3px;}
.widget-content .faux-grid{position:absolute;font-weight:normal !important;color:#333;bottom:0;left:0;right:0;top:0;}
.widget-content .faux-grid table{width:100%;}
.widget-content .faux-grid-header{width:100%;background:url("/Images/gui/widget_grid_header.png") repeat-x scroll center top #f2e7e6;border-color:#d3d3d3;color:#333;font-weight:bold;border-bottom-style:solid;border-bottom-width:1px;padding-right:17px;}
.widget-content .faux-grid-header th{border-bottom-width:0;border-style:solid;border-width:0 1px 1px 0;overflow:hidden;padding:.3em .6em;white-space:nowrap;text-align:left;background:url("/Images/gui/widget_grid_header.png") repeat-x scroll center top #f2e7e6;border-color:#d3d3d3;color:#333;font-weight:bold;}
.widget-content .faux-grid-content{max-height:181px;width:100%;}
.widget-content .faux-grid-content td{border-width:0 1px 0 0;border-right:1px solid #d6e5f3;line-height:1.6em;overflow:hidden;padding:.25em .6em;vertical-align:top;}
.modal-gray ul li a:hover{color:#fdd;text-shadow:0 2px 5px #833;}
.modal-gray ul li.close{list-style:none inside url("/images/icons/stop.png");margin-left:7px;}
.daterange span{margin:0 3px 0 0;}
.CustomDateRange .date {width:90px;}
.CustomDateRange .date .t-input {width:65px;}
#schedule_collapsed{position:relative;height:5px;border:solid 1px #d3d3d3;background:#C3D8F1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;border-bottom:0 none;}
.show_scheduler{background:#DDE8F5;border:solid 1px #d3d3d3;border-bottom:0 none;position:absolute;font-weight:bold;top:-29px;right:35px;padding:5px 20px;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-khtml-border-radius:10px 10px 0 0;}
#ScheduleTabStrip{border-top:0 none;display:none;}
/* -- Calendar -- */
.trical{text-align:center;}
.trical .abs_left a,.trical .abs_right a,.edit_eps a{text-decoration:none !important;font-weight:bold !important;color:#333;text-shadow:1px 1px 1px #fff;background:url(/Content/Office2007/sprite.png) repeat-x scroll 0pt -352px rgb(195, 216, 241);border-radius:0 0 20px 0;-moz-border-radius:0 0 20px 0;-webkit-border-radius:0 0 20px 0;-khtml-border-radius:0 0 20px 0;padding:1px 10px 3px 5px;border:solid 1px #d3d3d3;display:inline-block;}
.trical .abs_left a:hover,.trical .abs_right a:hover,.edit_eps a:hover{color:#fff;text-shadow:1px 1px 1px #000;background:#7096d5 url("/Images/forms/vista_button_bg.jpeg") repeat-x scroll left bottom;}
.trical .abs_right a{border-radius:0 0 0 20px;-moz-border-radius:0 0 0 20px;-webkit-border-radius:0 0 0 20px;-khtml-border-radius:0 0 0 20px;padding:1px 5px 3px 10px;}
.edit_eps a{border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;-webkit-border-radius:0 0 20px 20px;-khtml-border-radius:0 0 20px 20px;padding:1px 10px 3px 10px;}
.trical a{cursor:pointer;text-decoration:underline;color:blue;font-weight:normal;}
.cal{width:28%;display:inline-block;margin:10px 2.5%;float:left;text-align:center;}
.cal table{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;}
.cal thead{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;font-weight:bold;}
.cal thead th{width:14.285%;}
.cal tbody td{background-color:#fffcf2;cursor:pointer;vertical-align:top;border:solid 1px #d3d3d3;width:135px;height:22px;text-align:center;}
.cal tbody td a{font-weight:normal;text-decoration:none;font-family:Tahoma;font-size:11px;line-height:22px;}
.cal .inactive{cursor:default;background-color:#f5f5f5;}
.cal .active{background-color:#666;}
.callegend .scheduled,.cal .scheduled{background-color:#3e799c;}
.callegend .completed,.cal .status425,.cal .status330,.cal .status220,.cal .status225,.cal .status135{background-color:#3ea123;}
.callegend .missed,.cal .status400, .cal .missed {background-color:#b20e0e;}
.callegend .multi,.cal .multi{background-color:#5d43ba;}
.cal .active{box-shadow:0 0 10px #333;-moz-box-shadow:0 0 10px #333;-webkit-box-shadow:0 0 10px #333;border-color:#888;background-image:url(/Images/forms/hover.png);background-repeat:no-repeat;background-position:center center;}
.cal .active a{font-weight:bold;color:#fff;}
.cal .status425 a,.cal .status330 a,.cal .status220 a,.cal .status225 a,.cal .status135 a,.cal .scheduled a,.cal .status400 a,.cal .multi a{color:#fff;}
.callegend{padding:5px;width:420px;position:relative;left:50%;margin:0 0 5px -210px;}
.callegend li{float:left;margin:0 15px;}
.callegend li div{display:inline-block;float:left;width:12px;height:12px;border:1px solid #d3d3d3;margin:0 2px;vertical-align:text-top;}
/* -- OASIS -- */
.verttab{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;width:220px;padding-top:10px;position:absolute;top:0;bottom:0;left:0;border:solid 1px #b8b8b8;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.verttab li{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;display:block;border:solid 1px #b8b8b8;border-right:0;width:205px;height:22px;padding-left:5px;border-radius:10px 0 0 10px;-moz-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;margin:0 0 0 9px;line-height:22px;}
.verttab .ui-state-hover{background:#dce6f5;border-color:#688caf;margin-left:6px;width:208px;}
.verttab .ui-tabs-selected{cursor:default;margin-left:2px;width:213px;background:#fff;}
.verttab li a{cursor:pointer;color:#333 !important;display:block;width:205px;height:22px;}
.general{position:relative;height:100%;overflow:auto;margin-left:222px;border:solid 1px #b8b8b8;border-left:0;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;z-index:99;}
fieldset .tobacco,fieldset .cancer{width:100px !important;margin:0 5px;}
fieldset .instructions{text-align:left;}
fieldset .instructions p{margin:10px 0;}
fieldset .instructions li{display:block;}
fieldset .instructions li li{margin-left:70px;}
fieldset .instructions li p{display:block;margin:0 0 0 65px;}
fieldset .instructions li li p{margin:0 0 0 15px;}
.OasisContainer .ui-slider{width:355px;}
table.icdCodes td{  border-top:solid 1px DarkGray; padding:5px 0px 5px 0px; vertical-align:bottom;}
table.bordergrid td {  border-top:solid 1px DarkGray; padding:5px 5px 5px 5px; vertical-align:bottom;}
table.bordergrid th{  border-top:solid 1px DarkGray; padding:5px 5px 5px 5px; vertical-align:bottom;}
table.bordergrid td { border-right:solid 1px DarkGray;}
table.bordergrid th { border-right:solid 1px DarkGray; }
table.bordergrid td:last-child ,table.bordergrid th:last-child{border-right:0px;}
table.bordergrid th.fiexdwidthsamll {width:70px;}
table.bordergrid {border:solid 1px DarkGray;border-collapse:collapse;}
fieldset .shade{position:absolute;top:0;right:17px;bottom:0;left:0;background:url(/Images/gui/shade.png);border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;z-index:1;}
fieldset div .shade{right:0;}
/* Oasis export */
.oasisExport {border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:20px;}
.oasisExport thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.oasisExport thead td{background:#fff;}
.oasisExport thead th{border:solid 1px #aaa;}
.oasisExport.noborders thead th{border:0 none;}
.oasisExport td{border:solid 1px #d3d3d3;padding:2px;}
.oasisExport td.align_center{width:100px;}
.oasisExport .odd td{background:#fffcf2;}
.oasisExport .even td{background:#e6f6ff;}
#generateOasis table,#generateExportedOasis table{background-color:#d6e5f3;}
/* -- Tooltip -- */
#tooltip{background:url(/Images/gui/tooltip_note.png) no-repeat top left;line-height:18px;position:fixed;z-index:99;width:142px;padding:25px;height:141px;opacity:0.85;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';}
#tooltip.blue_note{background-image:url(/Images/gui/tooltip_note_blue.png);}
#tooltip.red_note{background-image:url(/Images/gui/tooltip_note_red.png);}
#tooltip .body{max-height:147px;overflow:hidden;}
#tooltip.calday{width:auto;height:auto;padding:10px;-moz-border-radius:10px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;-moz-box-shadow:5px 5px 5px #888;}
.tooltip_oasis{margin:0 0 0 3px;font-weight:bold;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:solid 1px #aaa;background-color:#c3d8f1;color:#fff;cursor:pointer;width:16px;line-height:16px;text-align:center;display:inline-block;}
.tooltip{background:url(/Images/icons/note.png) no-repeat top left;height:16px;width:16px;display:block;}
.tooltip.blue_note{background-image:url(/Images/icons/note_blue.png);}
.tooltip.red_note{background-image:url(/Images/icons/note_red.png);}
.tooltipbox{box-shadow:2px 2px 10px #555;-moz-box-shadow:2px 2px 10px #555;-webkit-box-shadow:2px 2px 10px #555;border:solid 1px #d3d3d3;margin:-200px 0 0 -250px;padding:10px;overflow:hidden;position:fixed;width:500px;height:400px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;top:50%;left:50%;z-index:100;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;color:#333;}
.tooltipbox .closer{position:absolute;top:5px;right:5px;cursor:pointer;width:15px;height:15px;line-height:15px;text-align:center;font-weight:bold;}
.tooltipbox h3{margin:3.5px 0;font-size:13px;}
.tooltipbox .content{height:120px;padding:5px;background:#fffcf2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;overflow:auto;}
.tooltipbox .intent{height:65px;}
/* -- Dashboard -- */
.widgets{width:33.33%;float:left;}
.widget{box-shadow:2px 2px 5px #333;-moz-box-shadow:2px 2px 5px #333;-webkit-box-shadow:2px 2px 5px #333;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border:solid 1px #aaa;margin:10px;overflow:hidden;}
.widget a:hover{text-decoration:underline;}
.widget-head{border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;background:#d4e6fc url(/Images/gui/widget_title.png) repeat-x top;border-bottom:solid 1px #d3d3d3;color:#943a43;height:24px;text-align:center;}
.widget-head h5{font-weight:bold;line-height:22px;}
#intro_widget .widget-content div{padding:5px 10px;}
.widget-content{background:#fffcf2;height:210px;position:relative;font-weight:normal !important;}
.widget-more{position:absolute;bottom:-1px;right:20px;padding:4px;background-color:#eee;border:solid 1px #aaa;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;}
.widget-more a{color:#af1e2d;}
.widget-more a:hover{display:block;margin:5px;font-weight:bold;}
.weatherFeed{color:#94461e;}
.widget-content .t-grid{font-weight:normal !important;}
.widget-placeholder{border:2px dashed;margin-bottom:10px;}
.content .widgets{margin:0 10px;}
.widget-head a{height:16px;outline:none;position:absolute;text-indent:-9999em;top:5px;width:16px;}
.weatherFeed{position:relative;max-width:350px;margin:0 auto;padding-left:20px;}
.weatherItem{background-position:center center;background-repeat:no-repeat;height:180px;width:100%;position:absolute;top:-60px;left:10%;z-index:100;}
.weatherTemp{font-size:2.2em;position:absolute;right:20px;top:-10px;font-weight:bold;}
.weatherRange,.weatherWind{font-size:0.8em;position:absolute;right:20px;}
.weatherRange{top:42px;}
.weatherWind{top:28px;}
.weatherFeed a{color:#94461e;text-decoration:underline;}
.weatherCity{font-size:1.2em;text-transform:uppercase;font-weight:bold;}
.weatherDesc{margin-bottom:0.4em;font-weight:bold;}
.weatherLink{text-align:left;font-size:0.8em;}
#plugin_container{width:285px;height:140px;position:relative;overflow:hidden;font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;color:#fff;margin:0 auto;}
#digital_container{width:285px;height:140px;position:absolute;top:0;left:0;z-index:98;}
#clock{float:left;}
#hours,#minutes{width:140px;height:140px;float:left;position:relative;}
#minutes{margin-left:4px;}
#hours_bg,#minutes_bg{width:100%;height:100%;position:absolute;top:2;left:0;z-index:99;}
.first_digit{width:50px;height:100%;position:absolute;top:2;left:20px;z-index:100;}
.second_digit{width:50px;height:100%;position:absolute;top:2;left:70px;z-index:100;}
.line{width:120px;height:2px;background:#efefef;position:absolute;top:69px;left:10px;z-index:101;font-size:1px;}
#am_pm{position:absolute;top:110px;left:90px;z-index:110;}
#messages_widget .t-grid-header{display:none;}
.widget .t-grid-header,.widget .t-header{background:#f2e7e6 url(/Images/gui/widget_grid_header.png) repeat-x top center;}
#newsfeed_widget{padding:4px;}
#newsfeed_widget .title{font-size:12px;font-weight:bold;}
#newsfeed_widget .date{color:#333;font-style:italic;font-size:11px;}
#newsfeed_widget .post{overflow:hidden;height:94px;border-top:solid 1px #ccc;position:relative;padding:0;}
#newsfeed_widget ul li:first-child{border-top:0;}
#newsfeed_widget .post a{border:solid 1px #fffcf2;display:block;height:96px;padding:0 2px 5px;}
#newsfeed_widget .post a:hover{border-color:#ccc;text-decoration:none;background-color:#dce6f5;}
#newsfeed_widget .summary{color:#333;}
#messagesWidgetContent input.radio{margin-top:6px;}
/* -- Billing Center --*/
.claim{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:10px; float:left}
.claim thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.claim thead td{background:#fff;}
.claim thead th{border:solid 1px #aaa;}
.claim.noborders thead th{border:0 none;}
.claim td{border:solid 1px #d3d3d3;padding:2px;}
.claim td.align_center{width:100px;}
.claim .odd td{background:#fffcf2;}
.claim .even td{background:#e6f6ff;}
#FinalTabStrip{position:absolute;top:0;right:0;bottom:0;left:0;}
/* -- Visit Note -- */
table.visitNote{width:100%;border-right:solid 0.25px #8B8878;border-bottom:solid 0.25px #8B8878;border-left:solid 0.25px #8B8878;}
table.visitNote  th ,table.visitNote  tr.titleTr td,table.visitNote  td { text-align:center; border-right:solid 1px #CDC8B1; border-bottom:0px; }
table.visitNote  tr.titleTr td {background:#F0F8FF;}
table.visitNote  th{background:#F0F8FF; margin:0px; vertical-align:middle;}
table.visitNote  td{ text-align:left; padding-left:10px; padding-right:10px; border-bottom:solid 0.25px #8B8878;border-right:0px; }
table.visitNote tr:last-child  th , table.visitNote tr:last-child td{ vertical-align:top;}
table.visitNote  th:last-child { border-bottom:solid 0.25px #8B8878;border-right:0px; }
table.visitNote tr:last-child td:last-child{ border-bottom:0px;border-right:0px; }
table.visitNote.two th, table.visitNote.two td {width:50%;}
table.visitNote.three  th , table.visitNote.three  td{ width:33.33333%; }
table.visitNote.four  th , table.visitNote.four  td{ width:25%; }
th div.five,td div.five{width:20%; display:block; float:left; padding-top:5px; padding-bottom:5px; }
th div.four ,td div.four{width:25%; height:100%; display:block; float:left; padding-top:5px; padding-bottom:5px; }
th.four ,td.four{width:25%; height:100%; display:block; float:left; padding-top:5px; padding-bottom:5px; }
th div.twoThird,td div.twoThird{width:66.66%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.three,td div.three{width:33.33333%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.two,td div.two{width:49.9%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.seven,td div.six{width:16.0%; display:block; float:left; padding-top:5px; padding-bottom:5px; text-align:center;}
th div.seven,td div.seven{width:14%; display:block; float:left; padding-top:5px; padding-bottom:5px; text-align:center;}
th div.eight,td div.eight{width:12.5%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.one,td div.one{width:100%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
td div.comment {  padding-top:5px;}
td div.newRow{ display:block; float:left; width:100%; padding-top:5px;}
table.visitNote tr td div.newRow:first-child {border-top: 0px; }
td div.break{display:block; float:left; width:100%}
.visitContainer{padding:5px 20px 5px 20px; height:auto; display:block;}
table.visitNote label {color:#595959; font-weight:normal;}
table.visitNote {color:#595959;}
table.visitNote th {color:black;}
table.visitNote tbody span{width:90px; display:block;float:left; text-align:left;}
table.visitNote tbody span.visitTitle{ border-top:0px; width:100%; text-align:center; font-weight:bold; color:Black; height:20px;}
table.visitNote tfoot tr td:first-child{ border-top:solid 0.25px #8B8878; }
table.visitNote tfoot tr td:last-child{padding:5px; border-bottom:0px; border-right:0px; border-left:0px;width:100%; text-align:center;}
table.visitNote tbody span.timeEntry_wrap{display:block; width:auto; float:left;}
table.innerTable {width:100%; border:0px; padding-bottom:5px;}
table.visitNote table.innerTable th , table.visitNote table.innerTable td {border:0px; text-align:center; padding:3px 0 0px 0;}
table.visitNote tr td .date {width:100px;}
table.hha {width:100%;border-bottom:solid 0.25px #8B8878;border-left:solid 0.25px #8B8878; margin:2px 0px 2px 0px;}
table.hha td ,table.hha th {border-top:solid 0.25px #8B8878;border-right:solid 0.25px #8B8878; }
table.hha td {padding:2px 0px 2px 0px; text-align:center;}
table.hha th.fixedWidth {width:65px;padding:2px 0px 2px 0px;}
table.hha tr td.left {text-align:left; padding-left:10px;}
table.hha tr td .date {width:100px;}
table.hha th ,table.visitNote th ,table.hha tr td.titleTr{color:black; font-weight:bold; padding:2px 0px 2px 0px;background:#F0F8FF;}
div.rightBorder {border-right:solid 0.25px #8B8878;}
.diagnosisBox{width:150px; border-color:White;}
div.buttons li input {background:transparent; color:White;border:1px solid #51614A;color:#FFFFFF;display:block;height:19px;padding:1px 10px; margin-bottom:10px;}
.vitalWidth{width:86px;}
.painWidth{width:100px;}
.skinWidth{width:100px;}
table.nostyle{background-color:White; }
table.nostyle th ,table.nostyle td { border:0px;background:White;}
table.nostyle tfoot tr td:first-child, table.nostyle tr:last-child th,table.nostyle tr:last-child td,table.nostyle tr td { border:0px; }
table.nostyle tfoot tr td:last-child{ border:0px;}
.noteTextArea {padding-right:5px;}
.noteTextArea textarea {width:93%;}
.visitNote .margin {margin-left:20px;}
.indent {padding-right:5px; padding-left:5px;}
.devider {border-right:solid 0.5px Lightgray;  height:100% !important; display:inline-block;}
.visitNote .fixed {padding-right:5px;}
/* -- medication -- */
.medicationbmargin { margin-bottom: 5px;}
.medication .t-grid-content{top:65px !important;}
.medication{height:auto;background-color:#d6e5f3;padding:0;}
.medication legend{margin-left:10px;}
#OasisMedicatonGrid {width:100%; display:block; height:285px; float:left;}
#485MedicationGrid {width:100%; display:block; height:285px;}
.t-grid-add {float:left;}
.medication .t-grid table {border:0 none; border-collapse:separate; empty-cells:show; width:100%; padding:2px 0px 2px 0px}
.medication .t-grid-header table , .t-grid-content table {table-layout:fixed;}
.medication table input,.medication table select {width:100%;}
.medication .t-grid{position:relative!important;height:auto;min-height:200px; border-radius:0 0 9px 9px;-moz-border-radius:0 0 9px 9px;-webkit-border-radius:0 0 9px 9px;left:0px;right:7px;border-top-width:0;}
.medication .t-grid-footer{border-radius:0 0 9px 9px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px;}
.report_links { padding: 4px;}
.report_links .title{font-size:12px;font-weight:bold;}
.report_links .link{overflow:hidden;height:22px;position:relative;padding:0;}
.report_links ul li:first-child{border-top:0;}
.report_links .link a{border:solid 1px #fffcf2;display:block;height:15px;padding:0 2px 5px;}
.report_links .link a:hover{border-color:#ccc;text-decoration:none;background-color:#dce6f5;}
.medication table input,.medication table select {width:auto;}
#OasisMedicatonGridform input[name='StartDate']{width:65px;}
#window_medicationdischarge {width:250px; height:250px;}
.dischargeMedication { background-color: #fff; padding: 10px; width: 470px;}
.red {background-color:#F08080;}
.req_red{color:#a71111;font-weight:bold;top:0;right:20px;font-size:1.4em;}
.row .req_red{right:-5px;}
.req_legend{top:0;left:0;right:0;text-align:center;font-weight:bold;}
.t-grid-new-row #DCDate {display:none;}
.medication .t-grid .t-status {margin:0px;}
.medication .fixedinputWidth{width:50px;}
.woundCare{width:100%;  background-color:lavender;border-left:solid 0.25px LightGrey; border-top:solid 0.25px LightGrey;}
.woundCare tr td , .woundCare tr th {text-align:left; padding-bottom:5px; border-right:solid 0.25px LightGrey; border-bottom:solid 0.25px LightGrey; padding-left:5px;}
.woundCare tr td.align_center , .woundCare tr th.align_center{text-align:center;}
.woundCare tr td:first-child , .woundCare tr th:first-child{padding-left:10px;padding-right:2px;}
.woundCare .width {width:180px;}
.woundCare select.width {width:183px;}
.woundCare .width .t-input {width:161px;}
.woundCare .woundPad{margin-bottom:5px;}
.woundCare input.uploadWidth,input.uploadWidth {width:100px;}
table.woundCare.oasisWound {background-color:#FFFCF2;}
table.woundCare.oasisWound tr td:first-child , table.woundCare.oasisWound tr th:first-child{width:100px;}
table.woundCare.oasisWound .t-input {width:auto;}
/* -- validation -- */
div.validationContainer table.form thead tr:first-child th {text-align:center; border-bottom:1px dotted #DDDDDD;}
div.validationContainer table.form tbody tr td,div.validationContainer table.form thead tr th {text-align:left; border-bottom:1px dotted #DDDDDD; margin:2px auto; padding:2px 0;}

/*--case management--*/
#caseManagementContentId .t-grid-content{position:relative; top:0;}
#caseManagementContentId .t-grid {top:24px;}
/*-- Load Print Views --*/
#shade{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;z-index:11;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';}
#printbox,#oasis_validation{position:fixed;height:85%;top:5%;z-index:12;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;padding:2px;background-color:#d3d3d3;width:950px;left:50%;margin-left:-475px;box-shadow:15px 15px 20px #000;-moz-box-shadow:15px 15px 20px #000;-webkit-box-shadow:15px 15px 20px #000;}
#oasis_validation{background-color:#fff;}
#oasis_validation.loading{background-color:#fff;}
#oasis_validation{overflow:auto;overflow-x:hidden;}
#printview{width:100%;height:100%;overflow-x:hidden;border:0 none;}
#printcontrols,#oasis_validation_controls{position:fixed;z-index:12;top:90.5%;height:25px;left:50%;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;padding:5px 2px;width:950px;margin-left:-475px;background-color:#eee;line-height:20px;border-top:solid 1px #aaa;box-shadow:15px 15px 20px #000;-moz-box-shadow:15px 15px 20px #000;-webkit-box-shadow:15px 15px 20px #000;}
#printreturnreason{position:fixed;left:50%;margin-left:-290px;bottom:9.5%;background:#fffcf2;width:580px;height:200px;display:none;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-khtml-border-radius:10px 10px 0 0;box-shadow:2px 2px 5px #333;-moz-box-shadow:2px 2px 5px #333;-webkit-box-shadow:2px 2px 5px #333;-khtml-box-shadow:2px 2px 5px #333;border:solid 1px #aaa;text-align:center;}
#printreturnreason textarea{width:560px;height:160px;}
#printreturnreason label{font-size:14px;line-height:14px;margin:5px;display:block;}
/*-- Patient Info Popup --*/
#patientinfo { background-color: White; }
.bigtext { font-size: 17px; font-weight: bold; font-family: Arial; }
.shortrow { width:400px;}
.shortrow label { width:120px;}
.patient-widget{}

/*-- Windows Without Overflow --*/
#window_startofcare_content,
#window_recertification_content,
#window_resumptionofcare_content,
#window_followup_content,
#window_deathathome_content,
#window_discharge_content,
#window_transferfordischarge_content,
#window_transfernotdischarge_content,
#window_reportcenter_content,
#window_newmessage_content{overflow:hidden;}

.oasis_val{width:100%;color:#333;border-spacing:1px 5px;}
.oasis_val th{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:url(/Images/forms/nursing-th.jpeg) repeat-x scroll center top #f0f8ff;font-weight:normal;padding:5px;text-align:center;}
.oasis_val tr{display:table-row-group;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 2px 3px #666;-moz-box-shadow:0 2px 3px #666;-webkit-box-shadow:0 2px 3px #666;border:1px solid #888;padding:5px;background-color:#fffcf2;overflow:hidden;}
.oasis_val tr.red{background-color:#f08080 !important;}
.oasis_val td{padding:5px;border: 0 none;}
.oasis_val th,.oasis_val td.full-width{width:900px;}
span.hipps{text-align:left;display:inline-block;width: 225px;}

.nursing{text-align:center;width:100%;color:#333;border-spacing:10px 3px;}
.nursing label{text-align:left;}
.nursing th{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 2px 3px #aaa;-moz-box-shadow:0 2px 3px #aaa;-webkit-box-shadow:0 2px 3px #aaa;background:url(/Images/forms/nursing-th.jpeg) repeat-x scroll center top #f0f8ff;border:1px solid #9bb6cf;font-weight:bold;padding:2px;}
.nursing th em{position:absolute;right:30px;}
.nursing td{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 2px 3px #aaa;-moz-box-shadow:0 2px 3px #aaa;-webkit-box-shadow:0 2px 3px #aaa;border:1px solid #aaa;padding:5px;}
.nursing .third{width:30%;padding:0 5px;display:inline-block;}
.nursing .half{width:45%;padding:0 5px;display:inline-block;}
.nursing table td,.nursing table th{background:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border:0 none;padding:0 5px;}
.nursing table{width:100%;}
.medDiv {margin:10px 10px 20px 10px; position:relative;}
.mediumWidth { width:120px;}
fieldset label.smallFont {font-size:11.25px; font-style:italic;}
table.masterCalendar{ border-top: 0; width: 100%; background-color: white;}
table.masterCalendar h2{ padding: 0;}
table.masterCalendar th{font-weight: bold;line-height:95%;border: solid 1px #ccc;border-bottom: none;border-right: none;}
table.masterCalendar td{padding: 1px 5px;/*vertical-align: top; */}
table.masterCalendar th{padding: 3px 5px;/*vertical-align: top; */}
table.masterCalendar tbody th{padding: 8px 5px;}
table.masterCalendar td{text-align: center;border: solid 1px #ccc;width:150px;}
table.masterCalendar td span{font-size:10px;width:100%;color:#474747;}
table.masterCalendar tr td:first-child{text-align: left;border: solid 1px #ccc;background: #F7F8FC url(/images/text-tabs-bg.gif) repeat-x;text-align: center;font-weight:bold; vertical-align:middle;}
table.masterCalendar th{background: #F7F8FC url(/images/text-tabs-bg.gif) repeat-x;text-align: center;}
table.masterCalendar.oasisCalendar td {height:30px;}
table.masterCalendar.oasisCalendar td span {font-size:11.5px;}
.events {display: none;text-align:left;position:relative;}
.events ul {text-align: left;position: absolute;padding: 5px;background: #E7ECF2 url(../img/popup.png) no-repeat;color: white;border: 1px solid black;font-size: 15px;width: 200px;z-index:999999;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;-border-radius: 3px;	list-style: none;color: #444444;-webkit-box-shadow: 0px 8px 8px #333;}
.events li {padding-bottom: 5px;}
.events li span {display: block;font-size: 12px;text-align: left;}
.events li span.eventTitle {font-weight: bold;color: #222;}
/*-- Insurance --*/
table.insurance { border-collapse:collapse; }
table.insurance th.borderRight ,table.insurance td.borderRight{ border-right:solid 1px black;}
table.insurance th.borderBottom ,table.insurance td.borderBottom{ border-bottom:solid 1px black;}
form table.insurance td label.error { position:relative; float:left; width:2px !important; display:none;}

#window_hhasVisit form label.error,#window_lvnsVisit label.error {position:relative; float:left;}