﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<div class="faux-grid">
	<table cellspacing="0">
		<thead class="faux-grid-header">
			<tr>
				<th style="width: 27%;">Patient Name</th>
				<th style="width: 35%;">Task</th>
				<th style="width: 25%;">Status</th>
				<th style="width: 18%;">Date</th>
			</tr>
        </thead>
	    <tbody id="scheduleWidgetContent" class="faux-grid-content"></tbody>
    </table>
</div>
<div id="userScheduleWidgetMore" class="widget-more"><a onclick="UserInterface.ShowUserTasks();" href="javascript:void(0);">More &raquo;</a></div>