﻿#message-body{padding:1em}
#message-body a{cursor:pointer}
#message-body li{list-style:disc outside none}
#message-body div{position:static}
#message-body address,#message-body blockquote,#message-body dd,#message-body div,#message-body dl,#message-body dt,#message-body fieldset,#message-body h1,#message-body h2,#message-body h3,#message-body h4,#message-body h5,#message-body h6,#message-body ol,#message-body p,#message-body ul,#message-body center,#message-body dir,#message-body hr,#message-body menu,#message-body pre{display:block;unicode-bidi:embed}
#message-body li{display:list-item}
#message-body table{display:table}
#message-body tr{display:table-row}
#message-body thead{display:table-header-group}
#message-body tbody{display:table-row-group}
#message-body tfoot{display:table-footer-group}
#message-body col{display:table-column}
#message-body colgroup{display:table-column-group}
#message-body td,#message-body th{display:table-cell}
#message-body caption{display:table-caption}
#message-body th{font-weight:bolder;text-align:center}
#message-body caption{text-align:center}
#message-body h1{font-size:2em;margin:.67em 0}
#message-body h2{font-size:1.5em;margin:.75em 0}
#message-body h3{font-size:1.17em;margin:.83em 0}
#message-body h4,#message-body p,#message-body blockquote,#message-body ul,#message-body fieldset,#message-body ol,#message-body dl,#message-body dir,#message-body menu{margin:1.12em 0}
#message-body h5{font-size:.83em;margin:1.5em 0}
#message-body h6{font-size:.75em;margin:1.67em 0}
#message-body h1,#message-body h2,#message-body h3,#message-body h4,#message-body h5,#message-body h6,#message-body b,#message-body strong{font-weight:bolder}
#message-body blockquote{margin-left:40px;margin-right:40px}
#message-body i,#message-body cite,#message-body em,#message-body var,#message-body address{font-style:italic}
#message-body pre,#message-body tt,#message-body code,#message-body kbd,#message-body samp{font-family:monospace}
#message-body pre{white-space:pre}
#message-body big{font-size:1.17em}
#message-body small,#message-body sub,#message-body sup{font-size:.83em}
#message-body sub{vertical-align:sub}
#message-body sup{vertical-align:super}
#message-body table{border-spacing:2px}
#message-body thead,#message-body tbody,#message-body tfoot{vertical-align:middle}
#message-body td,#message-body th,#message-body tr{vertical-align:inherit}
#message-body s,#message-body strike,#message-body del{text-decoration:line-through}
#message-body hr{border:1px inset}
#message-body ol,#message-body ul,#message-body dir,#message-body menu,#message-body dd{margin-left:40px}
#message-body ol{list-style-type:decimal}
#message-body ol ul,#message-body ul ol,#message-body ul ul,#message-body ol ol{margin-top:0;margin-bottom:0}
#message-body u,#message-body ins{text-decoration:underline}
#message-body br:before{content:"\A";white-space:pre-line}
#message-body center{text-align:center}
#message-body :link,#message-body :visited{text-decoration:underline}
#messaging-container{margin:0;text-align:left;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px}
.inbox-header{padding:15px 5px}
.inbox-header div{float:right;padding:5px 0}
.inbox-header div a{color:#ffd800}
.inbox-header img,.nav-panel img,.nav-select img{vertical-align:middle;margin:0 5px 0 0;border:none}
.clear{clear:both;float:none;height:0}
.bold,.false{font-weight:bold}
.normal,.true,div.message-body-container span{font-weight:normal}
.inbox-body{margin:0;text-align:left;font-family:Tahoma,Arial,Helvetica,sans-serif}
.inbox-header{padding:15px 5px}
.inbox-header div{float:right;padding:5px 0}
.inbox-header div a{color:#ffd800}
.inbox-subheader{padding:1px 5px;background:url(/Images/gradients.png) repeat-x 0 -200px;height:28px}
.inbox-subheader span{font-size:14px;line-height:24px;font-weight:bold;color:#10428c}
.inbox-title{font-size:18px;font-weight:bold;padding:0 5px}
/* MESSAGE LIST */
.message-list{background-color:#fffcf2;position:absolute;top:0;right:0;bottom:0;left:0}
.message-panel{padding:1px;overflow:auto}
div.message{overflow:hidden;padding:3px}
.message-panel a,.message-panel a:visited{padding:5px;display:block;color:#000;border:solid 1px #fff;text-decoration:none}
.message-panel a:hover{background-color:#FFE88C;border:solid 1px #D69C00}
.nav-separator{height:10px}
.nav-select{position:absolute;bottom:0;width:100%}
.nav-select a{height:22px;display:block;padding:5px;font-weight:bold;text-decoration:none;color:#000000}
/* MESSAGE CONTENT */
.message-content{background:#d6e5f3;bottom:0;left:0;position:absolute;right:0;top:0}
.message-content-panel div.message-header-container,.message-content-panel div.message-body-container{background-color:#fffcf2;border:solid 1px #d3d3d3;left:15px;position:absolute;right:15px;overflow:auto}
.message-content-panel div.message-header-container{padding:15px 15px 5px;top:5px}
.message-content-panel div.message-body-container{top:190px;bottom:10px}
.message-content-panel div.message-body-container div{position:absolute;top:15px;right:15px;left:15px;bottom:15px}
textarea#message-body{height:100%;width:100%;overflow:auto;background-color:#fffcf2;border:0 none}
div.message-header-row{margin-bottom:3px;position:relative}
div.message-header-row label{width:100px;text-align:left;font-weight:normal;display:inline-block}
div.message-header-row input.button{font-size:9px;width:60px;height:20px;font-weight:bold}
div.message-header-row span{position:absolute;left:115px;right:50px;height:18px;overflow:scroll}
div.message-header-row a.more{position:absolute;right:15px}
/* RECIPIENT LIST */
.recipient-list{background-color:#d6e5f3;vertical-align:bottom;position:absolute;top:0;right:0;bottom:0;left:0}
.recipient-panel{overflow:auto;position:absolute;top:30px;right:0;bottom:0;left:0}
.recipient-panel div.recipient{border-bottom:solid 1px #ccc;overflow:hidden;padding:3px}
/* NEW MESSAGE CONTENT */
.new-message-content{background-color:#d6e5f3;vertical-align:top;position:absolute;top:0;right:0;bottom:0;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px}
.new-message-content-panel{margin-left:100px}
.send{position:absolute}
div.new-message-row{margin-bottom:5px}
div.new-message-row label{width:100px;text-align:left;float:left;display:inline-block}
ul.token-input-list-facebook,div.new-message-row input,div.new-message-row select{width:80%;overflow:auto;height:22px;border:solid 1px #8496ba;cursor:text;font-size:12px;font-family:Verdana;min-height:1px;display:inline-block;vertical-align:middle;max-height:53px}
ul.token-input-list-facebook input{height:53px}
#new-message-body-div{position:absolute;top:190px;right:1px;bottom:2px;left:-1px;margin:0;padding:0}
#new-message-body-div textarea{font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:16px}
#New_Message_Body{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana}
#window_MessageCenter_content{overflow:hidden}
.message-header-buttons{margin:10px 0}
.message-header-buttons span{margin-right:10px}
#new-message-recipient-ids,.message-id{display:none}
/* WYSIWYG */
td.cke_contents{display:block;position:absolute;top:29px;right:0;bottom:0;left:0}