#reports-side_menu{width:200px;float:left}
#reports-main{float:right}
#reports-tabs .general{border:1px solid #D9EAF5;height:100%;left:0;margin-left:180px;overflow:auto;right:0}
#reports-tabs ul.vertical-tab-list{background:none}
#reports-tabs ul.vertical-tab-list li{background-color:#C3D8F1;height:40px;line-height:40px;margin:2px;padding:5px 0 5px 5px;position:relative;width:169px;font-size:16px}
#reports-tabs div.tabs{display:none;left:183px;padding:20px;position:absolute;top:-4px;width:460px;z-index:101}
#reports-tabs div.tabs li a{width:200px;margin:5px 10px;background-color:#FDF5CE;float:left;font-size:12px}
#reports-tabs div.tabs li a:hover{width:200px;margin:5px 10px;background-color:#DAE0D2}
#reports-tabs ul.vertical-tab-list li:hover{background-color:#FDF5CE!important;padding:5px 10px 5px 5px;z-index:103}
#reports-tabs li:hover div.tabs{display:block;background-color:#FDF5CE}
#report-addressbook table{width:100%}
#report-addressbook .report-button-bar{width:100%;text-align:right}
.report-main_page_boxes_header{display:inline-block;margin:1%;width:29%}
.report-main_page_boxes h3{text-indent:10px;text-align:center;background-color:#C3D8F1}
.report-main_page_boxes .report_main_page_box_list{padding:10px 10px 10px 20px;border:1px solid #d3d3d3;background-color:#FFFCF2}
#report-emergency-contact{background-color:White}
.report-main-page-boxes .report-main-page-box-list a{display:block;font-weight:normal;color:#333333;text-decoration:underline;margin:5px 0}
.left-menu-top{clear:both;display:block;}
.c1{background-color:#C3D8F1;display:block;overflow:hidden}
.r2,.r3,.r4,.r5{height:1px}
.r2,.r3,.r4,.r5{height:1px}
.r4{margin:0 5px}
.r3{margin:0 3px}
.r2{margin:0 2px}
.r1{height:2px;margin:0 1px}
.r0{height:1px}
.red-text{color:Red!important}
.right-align{text-align:right}
#report-patient .report-main-page-boxes-header {width:98%}
#window_ReportCenter .tabs a{font-size:12px;float:left}
#window_ReportCenter .tabs a.t-link{float:none}
.reports-container{overflow:hidden;position:absolute;top:0pt;right:0pt;bottom:0pt;left:0pt}
.reports-grid{position:absolute;top:160px;right:0;bottom:0;left:0}
#reports-tabs .general fieldset .row{width:400px !important}
.main-menu a{width:200px;display:block;float:left} 
.report-home > .float-left{width:33.3%}
#report-output.loading{position:absolute;top:0;right:0;bottom:0;left:0}