.ui-datepicker-calendar .month td,.ui-datepicker-calendar .year td,.ui-datepicker-calendar .decade td{width:25%}
.ancillary_button a{width:176px}
legend{position:absolute;top:-.5em;left:.2em}
fieldset table{width:96% !important;margin:0 auto}
fieldset.medication .t-grid table{width:100% !important}
fieldset table tr:first-child td,fieldset table tr:first-child th,fieldset .column{padding-top:20px !important}
fieldset table.braden tr:first-child td,fieldset table.braden tr:first-child th{padding-top:0 !important}
fieldset table{margin-bottom:20px !important}
img,select,input,label,input.radio{vertical-align:middle !important}
#bar_top img{vertical-align:top !important}
.phone_short{width:50px}
fieldset.medication .t-grid{left:-1px !important;top:15px}
fieldset.medication .t-grid-content{overflow-x:auto}
.medication .t-grid-header-wrap{height:28px}
.medication table{padding:0;margin:0;width:100%}
.medication .t-grid-header-wrap th{height:26px !important}
fieldset.medication table tr:first-child td,fieldset.medication table tr:first-child th{padding-top:0 !important}
.medication{height:auto}
.nicEdit-panelContain,.nicEdit-main{width:100% !important}
input[type=checkbox]{border:0}
.ie-shadow{display:block;position:fixed;top:1px;width:100%;height:25px;z-index:10;background:#333;filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4',MakeShadow='true',ShadowOpacity='0.80');-ms-filter:"progid:DXImageTransform.Microsoft.Blur(PixelRadius='4',MakeShadow='true',ShadowOpacity='0.80')";}
fieldset .shade{right:0}
.img.icon.send{margin-left:-15px}
.nursing td{vertical-align:top}
#bar_top ul.menu a:hover{color:#333}
#bar_top ul.menu{z-index:99}
.maximized.ui-draggable-dragging{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
#shade,#idleshade{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';}
.window.ui-draggable-dragging,.ui-widget-overlay{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';}
.ui-state-disabled, .ui-widget-content .ui-state-disabled{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=35);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";}
.ui-widget-shadow{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
.ui-helper-zfix,.wound-note .file{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
#widget-calendar{width:4.75em}
#widget-calendar .year{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";width:auto;height:auto;color:#000;background-color:#fff;top:.5em;right:-.7em}