﻿#messageBody{padding:1em}
#messageBody a{cursor:pointer}
#messageBody li{list-style:disc outside none}
#messageBody div{position:static}
#messageBody address,#messageBody blockquote,#messageBody dd,#messageBody div,#messageBody dl,#messageBody dt,#messageBody fieldset,#messageBody h1,#messageBody h2,#messageBody h3,#messageBody h4,#messageBody h5,#messageBody h6,#messageBody ol,#messageBody p,#messageBody ul,#messageBody center,#messageBody dir,#messageBody hr,#messageBody menu,#messageBody pre{display:block;unicode-bidi:embed}
#messageBody li{display:list-item}
#messageBody table{display:table}
#messageBody tr{display:table-row}
#messageBody thead{display:table-header-group}
#messageBody tbody{display:table-row-group}
#messageBody tfoot{display:table-footer-group}
#messageBody col{display:table-column}
#messageBody colgroup{display:table-column-group}
#messageBody td,#messageBody th{display:table-cell}
#messageBody caption{display:table-caption}
#messageBody th{font-weight:bolder;text-align:center}
#messageBody caption{text-align:center}
#messageBody h1{font-size:2em;margin:.67em 0}
#messageBody h2{font-size:1.5em;margin:.75em 0}
#messageBody h3{font-size:1.17em;margin:.83em 0}
#messageBody h4,#messageBody p,#messageBody blockquote,#messageBody ul,#messageBody fieldset,#messageBody ol,#messageBody dl,#messageBody dir,#messageBody menu{margin:1.12em 0}
#messageBody h5{font-size:.83em;margin:1.5em 0}
#messageBody h6{font-size:.75em;margin:1.67em 0}
#messageBody h1,#messageBody h2,#messageBody h3,#messageBody h4,#messageBody h5,#messageBody h6,#messageBody b,#messageBody strong{font-weight:bolder}
#messageBody blockquote{margin-left:40px;margin-right:40px}
#messageBody i,#messageBody cite,#messageBody em,#messageBody var,#messageBody address{font-style:italic}
#messageBody pre,#messageBody tt,#messageBody code,#messageBody kbd,#messageBody samp{font-family:monospace}
#messageBody pre{white-space:pre}
#messageBody big{font-size:1.17em}
#messageBody small,#messageBody sub,#messageBody sup{font-size:.83em}
#messageBody sub{vertical-align:sub}
#messageBody sup{vertical-align:super}
#messageBody table{border-spacing:2px}
#messageBody thead,#messageBody tbody,#messageBody tfoot{vertical-align:middle}
#messageBody td,#messageBody th,#messageBody tr{vertical-align:inherit}
#messageBody s,#messageBody strike,#messageBody del{text-decoration:line-through}
#messageBody hr{border:1px inset}
#messageBody ol,#messageBody ul,#messageBody dir,#messageBody menu,#messageBody dd{margin-left:40px}
#messageBody ol{list-style-type:decimal}
#messageBody ol ul,#messageBody ul ol,#messageBody ul ul,#messageBody ol ol{margin-top:0;margin-bottom:0}
#messageBody u,#messageBody ins{text-decoration:underline}
#messageBody br:before{content:"\A";white-space:pre-line}
#messageBody center{text-align:center}
#messageBody :link,#messageBody :visited{text-decoration:underline}
#messagingContainer{margin:0;text-align:left;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px}
.inboxHeader{padding:15px 5px}
.inboxHeader div{float:right;padding:5px 0}
.inboxHeader div a{color:#ffd800}
.inboxHeader img,.navPanel img,.navSelect img{vertical-align:middle;margin:0 5px 0 0;border:none}
.clear{clear:both;float:none;height:0}
.bold,.false{font-weight:bold}
.normal,.true,div.messageBodyContainer span{font-weight:normal}
.inboxBody{margin:0;text-align:left;font-family:Tahoma,Arial,Helvetica,sans-serif}
.inboxHeader{padding:15px 5px}
.inboxHeader div{float:right;padding:5px 0}
.inboxHeader div a{color:#ffd800}
.inboxSubHeader{padding:1px 5px;background:url(/Images/gradients.png) repeat-x 0 -200px;height:28px}
.inboxSubHeader span{font-size:14px;line-height:24px;font-weight:bold;color:#10428c}
.inboxTitle{font-size:18px;font-weight:bold;padding:0 5px}
/* MESSAGE LIST */
.messageList{background-color:#fffcf2;position:absolute;top:0;right:0;bottom:0;left:0}
.messagePanel{padding:1px;overflow:auto}
div.message{overflow:hidden;padding:3px}
.messagePanel a,.messagePanel a:visited{padding:5px;display:block;color:#000;border:solid 1px #fff;text-decoration:none}
.messagePanel a:hover{background-color:#FFE88C;border:solid 1px #D69C00}
.navSeparator{height:10px}
.navSelect{position:absolute;bottom:0;width:100%}
.navSelect a{height:22px;display:block;padding:5px;font-weight:bold;text-decoration:none;color:#000000}
/* MESSAGE CONTENT */
.messageContent{background:#d6e5f3;bottom:0;left:0;position:absolute;right:0;top:0}
.messageContentPanel div.messageHeaderContainer,.messageContentPanel div.messageBodyContainer{background-color:#fffcf2;border:solid 1px #d3d3d3;left:15px;position:absolute;right:15px;overflow:auto}
.messageContentPanel div.messageHeaderContainer{padding:15px 15px 5px;top:5px}
.messageContentPanel div.messageBodyContainer{top:190px;bottom:10px}
.messageContentPanel div.messageBodyContainer div{position:absolute;top:15px;right:15px;left:15px;bottom:15px}
textarea#messageBody{height:100%;width:100%;overflow:auto;background-color:#fffcf2;border:0 none}
div.messageHeaderRow{margin-bottom:3px;position:relative}
div.messageHeaderRow label{width:100px;text-align:left;font-weight:normal;display:inline-block}
div.messageHeaderRow input.button{font-size:9px;width:60px;height:20px;font-weight:bold}
div.messageHeaderRow span{position:absolute;left:115px;right:50px;height:18px;overflow:scroll}
div.messageHeaderRow a.more{position:absolute;right:15px}
/* RECIPIENT LIST */
.recipientList{background-color:#d6e5f3;vertical-align:bottom;position:absolute;top:0;right:0;bottom:0;left:0}
.recipientPanel{overflow:auto;position:absolute;top:30px;right:0;bottom:0;left:0}
.recipientPanel div.recipient{border-bottom:solid 1px #ccc;overflow:hidden;padding:3px}
/* NEW MESSAGE CONTENT */
.newMessageContent{background-color:#d6e5f3;vertical-align:top;position:absolute;top:0;right:0;bottom:0;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px}
.newMessageContentPanel{margin-left:100px}
.send{position:absolute}
div.newMessageRow{margin-bottom:5px}
div.newMessageRow label{width:100px;text-align:left;float:left;display:inline-block}
ul.token-input-list-facebook,div.newMessageRow input,div.newMessageRow select{width:80%;overflow:auto;height:22px;border:solid 1px #8496ba;cursor:text;font-size:12px;font-family:Verdana;min-height:1px;display:inline-block;vertical-align:middle;max-height:53px}
ul.token-input-list-facebook input{height:53px}
#newMessageBodyDiv{position:absolute;top:190px;right:1px;bottom:2px;left:-1px;margin:0;padding:0}
#newMessageBodyDiv textarea{font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:16px}
#New_Message_Body{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana}
#window_messageinbox_content{overflow:hidden}
.messageHeaderButtons{margin:10px 0}
.messageHeaderButtons span{margin-right:10px}
#newMessageRecipientIds,.message-id{display:none}
/* WYSIWYG */
td.cke_contents{display:block;position:absolute;top:29px;right:0;bottom:0;left:0}