#reports_side_menu{width:200px;float:left}
#reports_main{float:right}
#reportTabs .general{border:1px solid #D9EAF5;height:100%;left:0;margin-left:180px;overflow:auto;right:0}
#reportTabs ul.verttab{background:none}
#reportTabs ul.verttab li{background-color:#C3D8F1;height:40px;line-height:40px;margin:2px;padding:5px 0 5px 5px;position:relative;width:169px;font-size:16px}
#reportTabs div.tabs{display:none;left:183px;padding:20px;position:absolute;top:-4px;width:460px;z-index:101}
#reportTabs div.tabs li a{width:200px;margin:5px 10px;background-color:#FDF5CE;float:left;font-size:12px}
#reportTabs div.tabs li a:hover{width:200px;margin:5px 10px;background-color:#DAE0D2}
#reportTabs ul.verttab li:hover{background-color:#FDF5CE!important;padding:5px 10px 5px 5px;z-index:103}
#reportTabs li:hover div.tabs{display:block;background-color:#FDF5CE}
#report_addressbook table{width:100%}
#report_addressbook .report_button_bar{width:100%;text-align:right}
.report_main_page_boxes_header{display:inline-block;margin:1%;width:29%}
.report_main_page_boxes h3{text-indent:10px;text-align:center;background-color:#C3D8F1}
.report_main_page_boxes .report_main_page_box_list{padding:10px 10px 10px 20px;border:1px solid #d3d3d3;background-color:#FFFCF2}
#report_emergency_contact{background-color:White}
.report_main_page_boxes .report_main_page_box_list a{display:block;font-weight:normal;color:#333333;text-decoration:underline;margin:5px 0}
.left_menu_top{clear:both;display:block;}
.c1{background-color:#C3D8F1;display:block;overflow:hidden}
.r2,.r3,.r4,.r5{height:1px}
.r2,.r3,.r4,.r5{height:1px}
.r4{margin:0 5px}
.r3{margin:0 3px}
.r2{margin:0 2px}
.r1{height:2px;margin:0 1px}
.r0{height:1px}
.red_text{color:Red!important}
.right_align{text-align:right}
#report_patient .report_main_page_boxes_header {width:98%}
#window_reportcenter .tabs a{font-size:12px;float:left}
#window_reportcenter .tabs a.t-link{float:none}
.ReportContainer{overflow:hidden;position:absolute;top:0pt;right:0pt;bottom:0pt;left:0pt}
.ReportGrid{position:absolute;top:160px;right:0;bottom:0;left:0}
#reportTabs .general fieldset .row{width:400px !important}
.main_menu a{width:200px;display:block;float:left} 