﻿a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,figure,footer,form,h1,h2,h3,h4,h5,h6,hFeader,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0;margin:0;outline:0;padding:0;font:12px/1 'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif}
strong{font-weight:bold}
.main{padding:10px}
.main div{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-khtml-border-radius:5px;box-shadow:0 2px 3px #666;-moz-box-shadow:0 2px 3px #666;-webkit-box-shadow:0 2px 3px #666;-o-box-shadow:0 2px 3px #666;-khtml-box-shadow:0 2px 3px #666;border:1px solid #888;padding:4px 5px 3px;margin:5px 0}
.title{background:url(/Images/gradients.png) repeat-x 0 -678px !important;text-align:center}
.error-anchor{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-khtml-border-radius:5px;display:block;text-decoration:none;color:#000;background-color:#fffcf2}
.error-anchor:hover{background:url(/Images/gradients.png) repeat-x 0 -120px !important}
.description{display:inline-block;float:right;padding:0 5px;width:615px;height:30px;overflow:hidden}
.red{background-color:#f08080}
.hipps,.oasissignature{background-color:#fffcf2;text-align:center}
.hipps span{display:block}
.hipps label,.hipps strong{text-align:left;display:inline-block;width:225px;padding:0 10px}
.hipps label{text-align:right}
.bigtext{font-size:17px;font-weight:bold;font-family:Arial}
.mediumtext{font-size:14px;font-weight:normal;font-family:Arial}
.main table div{position:relative;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;-khtml-border-radius:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;-khtml-box-shadow:none;border:0 ;padding:0;margin:0 0}
.img.icon{background:url(/Images/sprite.png) no-repeat 0 0;width:32px;height:31px;vertical-align:middle;margin:0 5px}
.img.icon.error{background-position:-128px 0}
table{width:100%}
table td{min-width:50px}
.float_left{float:left}
.float_right{float:right}
label.error{color:#a71111;position:absolute;right:180px;top:5px;font-size:8pt;display:block;width:60px}
form input.error{border:1px solid #fccac3;background:#ecbab3}
form input.error:focus{border:1px solid #ea5338;background:#ecbab3}
input{width:198px}
input[type=text]{width:200px}
input[type=password]{width:217px}