﻿/* CSS Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
body{line-height:1.5}
/* Base */
html{font-size:100.01%}
body{font-size:75%;color:#1a1a1a;background:#d7d7d7;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif}
.fl{float:left}
.fr{float:right}
.strong{font-weight:bold}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
.cl{clear:both}
.hidden{display:none}
/* Page Blocks */
.box{background:#fff;border:1px solid #9d9d9d;margin-bottom:15px;padding:15px;border-top:0; min-height: 160px;}
.box a{color:#1f92ff;text-decoration:none}
.box a:hover{color:#1f92ff;text-decoration:underline}
.box-header{background:url(/Images/gradients.png) repeat-x 0 -80px;padding:0 10px;height:25px;overflow:hidden;font-weight:bold;line-height:22px;text-align:center;color:#fff;text-shadow:#000 0 1px 1px}
.box-header .img{float:left;margin:2px 0 0 0}
.title{margin-right:30px}
.box-header .fr a{color:#333;text-decoration:none;font-size:12px;padding:0 5px}
.box-header .fr a:hover{color:#1f92ff}
.img.icon{width:22px;height:22px;display:inline-block;background:url(/Images/sprite.png) no-repeat 0 -86px}
.img.icon.axxess{width:28px;background-position:-219px -12px}
.img.axxesslogo{width:156px;height:141px;display:inline-block;background:url(/Images/logos.png) no-repeat 0 -119px;position:absolute;right:20px}
/* Notifications */
.notification span{display:block;margin-left:45px;font-size:1.2em;}
.notification .icon{height:31px;width:32px;background:url(/Images/sprite.png) no-repeat 0 0;display:block;float:left;margin-left:0}
.notification.success{background-color:#effeb9;border-color:#98c700}
.notification.success .icon{background-position:-64px 0}
.notification.error{background:#fccac3;border-color:#ea5338}
.notification.error .icon{background-position:-128px 0}
.notification.warning{background:#ffeaa7;border-color:#f9b418}
.notification.info{background:#d1e4f3;border-color:#4d8fcc}
.notification.info .icon{background-position:-96px 0}
.notification.tip{background:#feeac9;border-color:#d38e49}
.notification.tip .icon{background-position:-32px 0}
.notification{min-height:31px;border-width:1px;border-style:solid;padding:17px;margin-bottom:15px}
/* Forms */
form label{padding:0;margin:0;display:block;color:#454545;font-size:13px;font-weight:bold}
form label.error{color:Red;font-size:10px;clear:both;font-weight:normal}
form p{margin-bottom:10px;padding-bottom:20px}
form div.row{clear:both;margin-bottom:5px}
form div.step{clear:both;margin-bottom:5px;font-size:14px;color:Red}
form .row label{width:150px}
form .row .checkbox,form .row .radio{width:auto}
form input,form textarea,form select{background:url(/Images/gradients.png) repeat-x 0 -765px;border:1px solid #c7c6c6;outline:medium none;padding:7px 6px 6px;margin:0}
form input.error{border:1px solid #fccac3}
form input.error:focus{border:1px solid #ea5338}
form input[type=checkbox],form input[type=radio]{float:left;border:none;background:none;margin-right:5px;padding:0;margin-top:3px}
form input[type=checkbox]:focus,form input[type=radio]:focus{border:none;background:none}
form label.checkbox,form label.radio{font-weight:bold;margin:0;padding:0 20px 0 6px;vertical-align:bottom}
form input:focus,form textarea:focus,form select:focus{border:1px solid #d0e1f7}
form optgroup{background:#f7f7f7}
fieldset{margin-bottom:15px}
/* Buttons */
.button{cursor:pointer;font:14px/100% Arial,Helvetica,sans-serif;outline:medium none;text-decoration:none;text-shadow:#333 0 1px 1px;vertical-align:baseline;background:url(/Images/gradients.png) repeat-x 0 -582px;color:#e9e9e9;width:90px !important}
.button:hover{background:url(/Images/gradients.png) repeat-x 0 -646px;text-decoration:none}
.button:active{background:url(/Images/gradients.png) repeat-x 0 -614px;color:#afafaf;position:relative;top:1px}
.forgot{position:absolute;right:5px;bottom:20px}
/* Login Page */
#login-wrapper{position:absolute;top:0;right:0;bottom:0;left:0; overflow: hidden;}
#login-window{width:500px;position:fixed;bottom:20%;left:50%;margin-left:-250px;margin-bottom:150px}
#javascript-window{width:500px;position:fixed;top:50%;left:50%;margin-left:-200px;margin-top:-200px}
#browser-window{width:550px;position:fixed;top:50%;left:50%;margin-left:-200px;margin-top:-200px}
#logo{position:absolute;right:10px}
.box-header.login{font-size:19px;padding:10px 15px}
form.login label{width:145px}
form.login input{width:200px}
/* Change Password Page */
#changepassword-wrapper{width:500px;position:absolute;top:0;right:0;bottom:0;left:0}
#changepassword-window{width:500px;position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-200px}
.box-header.changePassword{font-size:19px;padding:10px 15px}
form.changepassword label{width:200px;float:left}
form.changepassword input{width:200px}
/* Forgot Password Page */
#forgotPassword-wrapper{width:500px;position:absolute;top:0;right:0;bottom:0;left:0}
#forgotpassword-window{position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-200px; width: 500px;}
.box-header.forgotPassword{font-size:19px;padding:10px 15px}
form.forgotPassword label{width:145px}
form.forgotPassword input{width:200px}
/* Activate Account Page */
#activateaccount-wrapper{width:550px;position:absolute;top:0;right:0;bottom:0;left:0}
#activateaccount-window{position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-200px; width: 550px;}
.box-header.activateAccount{font-size:19px;padding:10px 15px}
form.activateaccount label{width:200px;float:left}
form.activateaccount input{width:200px}
/* Link Account Page */
#linkaccount-wrapper{width:550px;position:absolute;top:0;right:0;bottom:0;left:0}
#linkaccount-window{position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-200px;width:550px;}
.box-header.linkAccount{font-size:19px;padding:10px 15px}
form.linkaccount label{width:200px;float:left}
form.linkaccount input{width:200px}
h1{font-size:16px;font-weight:bold}
.box h1{font-size:16px}
.box h2{font-size:14px}
/* Password Strength */
#iSM{margin:0 0 15px 0;padding:0;height:14px;float:left}
#iSM ul{border:0;margin:4px 0 0 0;padding:0;list-style-type:none;text-align:center}
#iSM ul li{display:block;float:left;text-align:center;padding:1px 0 0 0;margin:0;height:14px}
#iWeak,#iMedium,#iStrong{width:71px;font-size:.7em;color:#adadad;text-align:center;padding:2px;background-color:#F1F1F1;display:block}
#iWeak,#iMedium{border-right:solid 1px #DEDEDE}
#iMedium{width:70px}
#iMedium,#iStrong{border-left-width:0}
/* -- Agency Selection Links */
.agencySelection{background-color:#d3d3d3;padding:10px}
#agencySelectionLinks ul{list-style-type:none;width:400px}
#agencySelectionLinks li{border:.1em solid #333;margin:5px 0;background:#b9c8d5;}
#agencySelectionLinks li a{color:#990000;display:block;font:bold 120% Arial,Helvetica,sans-serif;padding:5px;text-decoration:none}
* html #agencySelectionLinks li a{width:400px}
#agencySelectionLinks li a:hover{background:#ffffcc}
#agencySelectionLinks a em{color:#333;display:block;font:normal 85% Verdana,Arial,Helvetica,sans-serif;line-height:125%}
#agencySelectionLinks a span{color:#125F15;font:normal 70% Verdana,Arial,Helvetica,sans-serif;line-height:150%}
/* -- Bottom Adspace -- */
#bottom_wrapper{position:absolute;background:transparent url(/Images/Dashboard/pinkplaid.png) repeat fixed 0 0;bottom:0;left:0;right:0;height:150px}
#bottom_gradient_box{width:100%;height:100%;text-align:center}
#bottom_image_box{background-image:url(/Images/home-health-training.png);width:700px;height:247px;position:absolute;bottom:0;left:50%;margin-left:-350px}
#bottom_button{display:inline-block;margin:8.5em;position:relative;background-color:#b82b3c}
#bottom_button a{display:inline-block;font-size:1.2em;padding:.5em 2em;font-weight:bolder;text-shadow:.1em .1em .1em #000;text-decoration:none;color:#fff}
#bottom_button a:hover{background:url(/Images/sprite.png) no-repeat center -133px}
/* -- jGrowl/Notification System -- */
.jGrowl{position:fixed;padding:10px;z-index:9999;color:#333;font-size:12px}
.jGrowl.top-right{right:0;top:30px}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{background:#ddd;opacity:.95;width:235px;padding:10px;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;border:solid 1px #bbb}
.jGrowl div.jGrowl-notification{min-height:40px}
.jGrowl div.jGrowl-notification div.header{font-weight:bold;font-size:.85em}
.jGrowl div.jGrowl-notification div.close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer}
.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center}
.jGrowl div.error{background:#fccac3;color:#333}
.jGrowl div.success{background:#b6d4b6;color:#333}
.jGrowl div.warning{background:#fff8d8;color:#333}