﻿.page{background:#fff url(/Images/Print/Patient/comnote.jpeg) no-repeat center center}
.content{top:260px;right:50px;bottom:150px;left:50px;overflow-y:auto;line-height:1.5}
.patientname{top:112px;right:415px;bottom:920px;left:110px;font-size:14pt;font-weight:bold}
.patient{top:140px;right:415px;bottom:835px;left:50px;font-size:10pt}
.physicianname{top:112px;right:40px;bottom:920px;left:495px;font-size:14pt;font-weight:bold}
.physician{top:140px;right:50px;bottom:835px;left:415px;font-size:10pt}
.dob{top:167px;right:415px;bottom:869px;left:285px}
.mr{top:142px;right:415px;bottom:795px;left:285px}
.date{top:234px;right:580px;bottom:795px;left:100px}
.sign{top:990px;right:210px;bottom:45px;left:50px}
.signdate{top:990px;right:50px;bottom:45px;left:610px}