﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
    printview.addsection(
        printview.span("(M1800) Grooming: Current ability to tend safely to personal hygiene needs (i.e., washing face and hands, hair care, shaving or make up, teeth or denture care, fingernail care).",true) +
        printview.checkbox("0 &ndash; Able to groom self unaided, with or without the use of assistive devices or adapted methods.",<%= data != null && data.ContainsKey("M1800Grooming") && data["M1800Grooming"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Grooming utensils must be placed within reach before able to complete grooming activities.",<%= data != null && data.ContainsKey("M1800Grooming") && data["M1800Grooming"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Someone must assist the patient to groom self.",<%= data != null && data.ContainsKey("M1800Grooming") && data["M1800Grooming"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Patient depends entirely upon someone else for grooming needs.",<%= data != null && data.ContainsKey("M1800Grooming") && data["M1800Grooming"].Answer == "03" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1810) Current Ability to Dress Upper Body safely (with or without dressing aids) including undergarments, pullovers, front-opening shirts and blouses, managing zippers, buttons, and snaps:",true) +
        printview.checkbox("0 &ndash; Able to get clothes out of closets and drawers, put them on and remove them from the upper body without assistance.",<%= data != null && data.ContainsKey("M1810CurrentAbilityToDressUpper") && data["M1810CurrentAbilityToDressUpper"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to dress upper body without assistance if clothing is laid out or handed to the patient.",<%= data != null && data.ContainsKey("M1810CurrentAbilityToDressUpper") && data["M1810CurrentAbilityToDressUpper"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Someone must help the patient put on upper body clothing.",<%= data != null && data.ContainsKey("M1810CurrentAbilityToDressUpper") && data["M1810CurrentAbilityToDressUpper"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Patient depends entirely upon another person to dress the upper body",<%= data != null && data.ContainsKey("M1810CurrentAbilityToDressUpper") && data["M1810CurrentAbilityToDressUpper"].Answer == "03" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1820) Current Ability to Dress Lower Body safely (with or without dressing aids) including undergarments, slacks, socks or nylons, shoes:",true) +
        printview.checkbox("0 &ndash; Able to obtain, put on, and remove clothing and shoes without assistance.",<%= data != null && data.ContainsKey("M1820CurrentAbilityToDressLower") && data["M1820CurrentAbilityToDressLower"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to dress lower body without assistance if clothing and shoes are laid out or handed to the patient.",<%= data != null && data.ContainsKey("M1820CurrentAbilityToDressLower") && data["M1820CurrentAbilityToDressLower"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Someone must help the patient put on undergarments, slacks, socks or nylons, and shoes.",<%= data != null && data.ContainsKey("M1820CurrentAbilityToDressLower") && data["M1820CurrentAbilityToDressLower"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Patient depends entirely upon another person to dress lower body.",<%= data != null && data.ContainsKey("M1820CurrentAbilityToDressLower") && data["M1820CurrentAbilityToDressLower"].Answer == "03" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1830) Bathing: Current ability to wash entire body safely. Excludes grooming (washing face, washing hands, and shampooing hair).",true) +
        printview.checkbox("0 &ndash; Able to bathe self in shower or tub independently, including getting in and out of tub/shower.",<%= data != null && data.ContainsKey("M1830CurrentAbilityToBatheEntireBody") && data["M1800GrM1830CurrentAbilityToBatheEntireBodyooming"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; With the use of devices, is able to bathe self in shower or tub independently, including getting in and out of the tub/shower.",<%= data != null && data.ContainsKey("M1830CurrentAbilityToBatheEntireBody") && data["M1830CurrentAbilityToBatheEntireBody"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to bathe in shower or tub with the intermittent assistance of another person:%3Cul%3E%3Cli%3E(a) for intermittent supervision or encouragement or reminders, OR%3C/li%3E%3Cli%3E(b) to get in and out of the shower or tub, OR%3C/li%3E%3Cli%3E(c) for washing difficult to reach areas.%3C/li%3E%3C/ul%3E",<%= data != null && data.ContainsKey("M1830CurrentAbilityToBatheEntireBody") && data["M1830CurrentAbilityToBatheEntireBody"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Able to participate in bathing self in shower or tub, but requires presence of another person throughout the bath for assistance or supervision.",<%= data != null && data.ContainsKey("M1830CurrentAbilityToBatheEntireBody") && data["M1830CurrentAbilityToBatheEntireBody"].Answer == "03" ? "true" : "false"%>) +
        printview.checkbox("4 &ndash; Unable to use the shower or tub, but able to bathe self independently with or without the use of devices at the sink, in chair, or on commode.",<%= data != null && data.ContainsKey("M1830CurrentAbilityToBatheEntireBody") && data["M1830CurrentAbilityToBatheEntireBody"].Answer == "04" ? "true" : "false"%>) +
        printview.checkbox("5 &ndash; Unable to use the shower or tub, but able to participate in bathing self in bed, at the sink, in bedside chair, or on commode, with the assistance or supervision of another person throughout the bath.",<%= data != null && data.ContainsKey("M1830CurrentAbilityToBatheEntireBody") && data["M1830CurrentAbilityToBatheEntireBody"].Answer == "05" ? "true" : "false"%>) +
        printview.checkbox("6 &ndash; Unable to participate effectively in bathing and is bathed totally by another person.",<%= data != null && data.ContainsKey("M1830CurrentAbilityToBatheEntireBody") && data["M1830CurrentAbilityToBatheEntireBody"].Answer == "06" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1840) Toilet Transferring: Current ability to get to and from the toilet or bedside commode safely and transfer on and off toilet/commode.",true) +
        printview.checkbox("0 &ndash; Able to get to and from the toilet and transfer independently with or without a device.",<%= data != null && data.ContainsKey("M1840ToiletTransferring") && data["M1840ToiletTransferring"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; When reminded, assisted, or supervised by another person, able to get to and from the toilet and transfer.",<%= data != null && data.ContainsKey("M1840ToiletTransferring") && data["M1840ToiletTransferring"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Unable to get to and from the toilet but is able to use a bedside commode (with or without assistance).",<%= data != null && data.ContainsKey("M1840ToiletTransferring") && data["M1840ToiletTransferring"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Unable to get to and from the toilet or bedside commode but is able to use a bedpan/urinal independently.",<%= data != null && data.ContainsKey("M1840ToiletTransferring") && data["M1840ToiletTransferring"].Answer == "03" ? "true" : "false"%>) +
        printview.checkbox("4 &ndash; Is totally dependent in toileting.",<%= data != null && data.ContainsKey("M1840ToiletTransferring") && data["M1840ToiletTransferring"].Answer == "04" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1845) Toileting Hygiene: Current ability to maintain perineal hygiene safely, adjust clothes and/or incontinence pads before and after using toilet, commode, bedpan, urinal. If managing ostomy, includes cleaning area around stoma, but not managing equipment.",true) +
        printview.checkbox("0 &ndash; Able to manage toileting hygiene and clothing management without assistance.",<%= data != null && data.ContainsKey("M1845ToiletingHygiene") && data["M1845ToiletingHygiene"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to manage toileting hygiene and clothing management without assistance if supplies/implements are laid out for the patient.",<%= data != null && data.ContainsKey("M1845ToiletingHygiene") && data["M1845ToiletingHygiene"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Someone must help the patient to maintain toileting hygiene and/or adjust clothing.",<%= data != null && data.ContainsKey("M1845ToiletingHygiene") && data["M1845ToiletingHygiene"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Patient depends entirely upon another person to maintain toileting hygiene.",<%= data != null && data.ContainsKey("M1845ToiletingHygiene") && data["M1845ToiletingHygiene"].Answer == "03" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1850) Transferring: Current ability to move safely from bed to chair, or ability to turn and position self in bed if patient is bedfast.",true) +
        printview.checkbox("0 &ndash; Able to independently transfer.",<%= data != null && data.ContainsKey("M1850Transferring") && data["M1850Transferring"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to transfer with minimal human assistance or with use of an assistive device.",<%= data != null && data.ContainsKey("M1850Transferring") && data["M1850Transferring"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to bear weight and pivot during the transfer process but unable to transfer self.",<%= data != null && data.ContainsKey("M1850Transferring") && data["M1850Transferring"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Unable to transfer self and is unable to bear weight or pivot when transferred by another person.",<%= data != null && data.ContainsKey("M1850Transferring") && data["M1850Transferring"].Answer == "03" ? "true" : "false"%>) +
        printview.checkbox("4 &ndash; Bedfast, unable to transfer but is able to turn and position self in bed.",<%= data != null && data.ContainsKey("M1850Transferring") && data["M1850Transferring"].Answer == "04" ? "true" : "false"%>) +
        printview.checkbox("5 &ndash; Bedfast, unable to transfer and is unable to turn and position self.",<%= data != null && data.ContainsKey("M1850Transferring") && data["M1850Transferring"].Answer == "05" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1860) Ambulation/Locomotion: Current ability to walk safely, once in a standing position, or use a wheelchair, once in a seated position, on a variety of surfaces.",true) +
        printview.checkbox("0 &ndash; Able to independently walk on even and uneven surfaces and negotiate stairs with or without railings (i.e., needs no human assistance or assistive device).",<%= data != null && data.ContainsKey("M1860AmbulationLocomotion") && data["M1860AmbulationLocomotion"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; With the use of a one-handed device (e.g. cane, single crutch, hemi-walker), able to independently walk on even and uneven surfaces and negotiate stairs with or without railings.",<%= data != null && data.ContainsKey("M1860AmbulationLocomotion") && data["M1860AmbulationLocomotion"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Requires use of a two-handed device (e.g., walker or crutches) to walk alone on a level surface and/or requires human supervision or assistance to negotiate stairs or steps or uneven surfaces.",<%= data != null && data.ContainsKey("M1860AmbulationLocomotion") && data["M1860AmbulationLocomotion"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Able to walk only with the supervision or assistance of another person at all times.",<%= data != null && data.ContainsKey("M1860AmbulationLocomotion") && data["M1860AmbulationLocomotion"].Answer == "03" ? "true" : "false"%>) +
        printview.checkbox("4 &ndash; Chairfast, unable to ambulate but is able to wheel self independently.",<%= data != null && data.ContainsKey("M1860AmbulationLocomotion") && data["M1860AmbulationLocomotion"].Answer == "04" ? "true" : "false"%>) +
        printview.checkbox("5 &ndash; Chairfast, unable to ambulate and is unable to wheel self.",<%= data != null && data.ContainsKey("M1860AmbulationLocomotion") && data["M1860AmbulationLocomotion"].Answer == "05" ? "true" : "false"%>) +
        printview.checkbox("6 &ndash; Bedfast, unable to ambulate or be up in a chair.",<%= data != null && data.ContainsKey("M1860AmbulationLocomotion") && data["M1860AmbulationLocomotion"].Answer == "06" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1870) Feeding or Eating: Current ability to feed self meals and snacks safely. Note: This refers only to the process of eating, chewing, and swallowing, not preparing the food to be eaten.",true) +
        printview.checkbox("0 &ndash; Able to independently feed self.",<%= data != null && data.ContainsKey("M1870FeedingOrEating") && data["M1870FeedingOrEating"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to feed self independently but requires:%3Cul%3E%3Cli%3E(a) meal set-up; OR%3C/li%3E%3Cli%3E(b) intermittent assistance or supervision from another person; OR%3C/li%3E%3Cli%3E(c) a liquid, pureed or ground meat diet.%3C/li%3E%3C/ul%3E",<%= data != null && data.ContainsKey("M1870FeedingOrEating") && data["M1870FeedingOrEating"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Unable to feed self and must be assisted or supervised throughout the meal/snack.",<%= data != null && data.ContainsKey("M1870FeedingOrEating") && data["M1870FeedingOrEating"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Able to take in nutrients orally and receives supplemental nutrients through a nasogastric tube or gastrostomy.",<%= data != null && data.ContainsKey("M1870FeedingOrEating") && data["M1870FeedingOrEating"].Answer == "03" ? "true" : "false"%>) +
        printview.checkbox("4 &ndash; Unable to take in nutrients orally and is fed nutrients through a nasogastric tube or gastrostomy.",<%= data != null && data.ContainsKey("M1870FeedingOrEating") && data["M1870FeedingOrEating"].Answer == "04" ? "true" : "false"%>) +
        printview.checkbox("5 &ndash; Unable to take in nutrients orally or by tube feeding.",<%= data != null && data.ContainsKey("M1870FeedingOrEating") && data["M1870FeedingOrEating"].Answer == "05" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1880) Current Ability to Plan and Prepare Light Meals (e.g., cereal, sandwich) or reheat delivered meals safely:",true) +
        printview.checkbox("0 &ndash; %3Cul%3E%3Cli%3E(a) Able to independently plan and prepare all light meals for self or reheat delivered meals; OR%3C/li%3E%3Cli%3E(b) Is physically, cognitively, and mentally able to prepare light meals on a regular basis but has not routinely performed light meal preparation in the past (i.e., prior to this home care admission).%3C/li%3E%3C/ul%3E",<%= data != null && data.ContainsKey("M1880AbilityToPrepareLightMeal") && data["M1880AbilityToPrepareLightMeal"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Unable to prepare light meals on a regular basis due to physical, cognitive, or mental limitations.",<%= data != null && data.ContainsKey("M1880AbilityToPrepareLightMeal") && data["M1880AbilityToPrepareLightMeal"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Unable to prepare any light meals or reheat any delivered meals.",<%= data != null && data.ContainsKey("M1880AbilityToPrepareLightMeal") && data["M1880AbilityToPrepareLightMeal"].Answer == "02" ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M1890) Ability to Use Telephone: Current ability to answer the phone safely, including dialing numbers, and effectively using the telephone to communicate.",true) +
        printview.checkbox("0 &ndash; Able to dial numbers and answer calls appropriately and as desired.",<%= data != null && data.ContainsKey("M1890AbilityToUseTelephone") && data["M1890AbilityToUseTelephone"].Answer == "00" ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to use a specially adapted telephone (i.e., large numbers on the dial, teletype phone for the deaf) and call essential numbers.",<%= data != null && data.ContainsKey("M1890AbilityToUseTelephone") && data["M1890AbilityToUseTelephone"].Answer == "01" ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to answer the telephone and carry on a normal conversation but has difficulty with placing calls.",<%= data != null && data.ContainsKey("M1890AbilityToUseTelephone") && data["M1890AbilityToUseTelephone"].Answer == "02" ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Able to answer the telephone only some of the time or is able to carry on only a limited conversation.",<%= data != null && data.ContainsKey("M1890AbilityToUseTelephone") && data["M1890AbilityToUseTelephone"].Answer == "03" ? "true" : "false"%>) +
        printview.checkbox("4 &ndash; Unable to answer the telephone at all but can listen if assisted with equipment.",<%= data != null && data.ContainsKey("M1890AbilityToUseTelephone") && data["M1890AbilityToUseTelephone"].Answer == "04" ? "true" : "false"%>) +
        printview.checkbox("5 &ndash; Totally unable to use the telephone.",<%= data != null && data.ContainsKey("M1890AbilityToUseTelephone") && data["M1890AbilityToUseTelephone"].Answer == "05" ? "true" : "false"%>) +
        printview.checkbox("NA &ndash; Patient does not have a telephone.",<%= data != null && data.ContainsKey("M1890AbilityToUseTelephone") && data["M1890AbilityToUseTelephone"].Answer == "NA" ? "true" : "false"%>));
</script>