﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
    printview.addsection(
        printview.span("(M2004) Medication Intervention: If there were any clinically significant medication issues since the previous OASIS assessment, was a physician or the physician-designee contacted within one calendar day of the assessment to resolve clinically significant medication issues, including reconciliation?",true) +
        printview.col(2,
            printview.checkbox("0 &ndash; No",<%= data != null && data.ContainsKey("M2004MedicationIntervention") && data["M2004MedicationIntervention"].Answer.Split(',').Contains("00") ? "true" : "false"%>) +
            printview.checkbox("1 &ndash; Yes",<%= data != null && data.ContainsKey("M2004MedicationIntervention") && data["M2004MedicationIntervention"].Answer.Split(',').Contains("01") ? "true" : "false"%>)) +
        printview.checkbox("NA &ndash; No clinically significant medication issues identified since the previous OASIS assessment",<%= data != null && data.ContainsKey("M2004MedicationIntervention") && data["M2004MedicationIntervention"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M2015) Patient/Caregiver Drug Education Intervention: Since the previous OASIS assessment, was the patient/caregiver instructed by agency staff or other health care provider to monitor the effectiveness of drug therapy, drug reactions, and side effects, and how and when to report problems that may occur?",true) +
        printview.col(2,
            printview.checkbox("0 &ndash; No",<%= data != null && data.ContainsKey("M2015PatientOrCaregiverDrugEducationIntervention") && data["M2015PatientOrCaregiverDrugEducationIntervention"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
            printview.checkbox("1 &ndash; Yes",<%= data != null && data.ContainsKey("M2015PatientOrCaregiverDrugEducationIntervention") && data["M2015PatientOrCaregiverDrugEducationIntervention"].Answer.Split(',').Contains("01") ? "true" : "false"%>)) +
        printview.checkbox("NA &ndash; Patient not taking any drugs",<%= data != null && data.ContainsKey("M2015PatientOrCaregiverDrugEducationIntervention") && data["M2015PatientOrCaregiverDrugEducationIntervention"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M2020) Management of Oral Medications: Patient&rsquo;s current ability to prepare and take all oral medications reliably and safely, including administration of the correct dosage at the appropriate times/intervals. Excludes injectable and IV medications. (NOTE: This refers to ability, not compliance or willingness.) ",true) +
        printview.checkbox("0 &ndash; Able to independently take the correct oral medication(s) and proper dosage(s) at the correct times.",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to take medication(s) at the correct times if:<ul><li>(a) individual dosages are prepared in advance by another person; OR</li><li>(b) another person develops a drug diary or chart.</li></ul>",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to take medication(s) at the correct times if given reminders by another person at the appropriate times",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("02") ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Unable to take medication unless administered by another person.",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("03") ? "true" : "false"%>) +
        printview.checkbox("NA &ndash; No oral medications prescribed.",<%= data != null && data.ContainsKey("M2020ManagementOfOralMedications") && data["M2020ManagementOfOralMedications"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
    printview.addsection(
        printview.span("(M2030) Management of Injectable Medications: Patient&rsquo;s current ability to prepare and take all prescribed injectable medications reliably and safely, including administration of correct dosage at the appropriate times/intervals. Excludes IV medications.",true) +
        printview.checkbox("0 &ndash; Able to independently take the correct medication(s) and proper dosage(s) at the correct times.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("00") ? "true" : "false"%>) +
        printview.checkbox("1 &ndash; Able to take injectable medication(s) at the correct times if: %3Cul%3E%3Cli%3E(a) individual syringes are prepared in advance by another person; OR%3C/li%3E%3Cli%3E(b) another person develops a drug diary or chart.%3C/li%3E%3C/ul%3E",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("01") ? "true" : "false"%>) +
        printview.checkbox("2 &ndash; Able to take medication(s) at the correct times if given reminders by another person based on the frequency of the injection",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("02") ? "true" : "false"%>) +
        printview.checkbox("3 &ndash; Unable to take injectable medication unless administered by another person.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("03") ? "true" : "false"%>) +
        printview.checkbox("NA &ndash; No injectable medications prescribed.",<%= data != null && data.ContainsKey("M2030ManagementOfInjectableMedications") && data["M2030ManagementOfInjectableMedications"].Answer.Split(',').Contains("NA") ? "true" : "false"%>));
</script>