﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <%= Html.Telerik()
        .StyleSheetRegistrar()
        .DefaultGroup(group => group
        .Add("jquery-ui-1.7.1.custom.css")
        .Add("desktop.css")
        .Add("forms.css")
        .Add("Site.css")
        .Add("system.css")
        .Add("css3.css")
        .Add("telerik.common.css")
        .Add("telerik.office2007.css")
        .Combined(true)
        .Compress(true)
        .CacheDurationInDays(1)
        .Version(Current.AssemblyVersion))
    %>
    <link rel="stylesheet" href="/Content/css3.aspx" type="text/css" />
    <!--[if gte IE 7]><link rel="stylesheet" href="/Content/ie.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/Content/ie7.css" /><![endif]-->
    <link href="/images/icons/favicon.ico" rel="shortcut icon" />
</head>
<body>
    <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
    <%  Html.Telerik().ScriptRegistrar().jQuery(false).Globalization(true).DefaultGroup(group => group
                
            // jQuery
            .Add("jquery-1.7.1.min.js")

            // jQuery UI Plugins
            .Add("Plugins/jQueryUI/jquery.ui.core.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.widget.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.mouse.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.position.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.autocomplete.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.datepicker.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.dialog.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.draggable.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.droppable.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.resizable.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.selectable.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.sortable.min.js")
            .Add("Plugins/jQueryUI/jquery.ui.tabs.min.js")

            // Other Plugins
            .Add("Plugins/Other/alphanumeric.min.js")
            .Add("Plugins/Other/autotab.min.js")
            .Add("Plugins/Other/blockui.min.js")
            .Add("Plugins/Other/form.min.js")
            .Add("Plugins/Other/hoverintent.js")
            .Add("Plugins/Other/jgrowl.min.js")
            .Add("Plugins/Other/superfish.js")
            .Add("Plugins/Other/tooltip.min.js")
            .Add("Plugins/Other/validate.min.js")

            // Telerik Plugins
            .Add("Plugins/Telerik/telerik.common.min.js")
            .Add("Plugins/Telerik/telerik.calendar.min.js")
            .Add("Plugins/Telerik/telerik.combobox.min.js")
            .Add("Plugins/Telerik/telerik.datepicker.min.js")
            .Add("Plugins/Telerik/telerik.draganddrop.min.js")
            .Add("Plugins/Telerik/telerik.grid.min.js")
            .Add("Plugins/Telerik/telerik.grid.editing.min.js")
            .Add("Plugins/Telerik/telerik.grid.filtering.min.js")
            .Add("Plugins/Telerik/telerik.grid.grouping.min.js")
            .Add("Plugins/Telerik/telerik.list.min.js")
            .Add("Plugins/Telerik/telerik.menu.min.js")
            .Add("Plugins/Telerik/telerik.panelbar.min.js")
            .Add("Plugins/Telerik/telerik.tabstrip.min.js")
            .Add("Plugins/Telerik/telerik.textbox.min.js")
            
            // Custom Plugins
            .Add("Plugins/Custom/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Acore.js")
            .Add("Plugins/Custom/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "DatePicker.js")
            .Add("Plugins/Custom/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "FormElements.js")

            // Modules            
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Lookup.js")
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Order.js")
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "UserInterface.js")
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Utility.js")

            .Compress(true)
            .Combined(true)
            .CacheDurationInDays(1)
            .Version(Current.AssemblyVersion)).OnDocumentReady(() => { %> window.CKEDITOR_BASEPATH = '/Scripts/Plugins/ckeditor/'; <%  }).Render(); %>
<% Html.RenderPartial("Menu"); %>
</body>
</html>
