﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Final>" %>
<% using (Html.BeginForm("SupplyVerify", "Billing", FormMethod.Post, new { @id = "billingSupply" }))%>
<%  { %>
<div class="wrapper main">
    <div class="buttons">
        <ul>
            <li><a href="javascript:void(0);" onclick="Billing.NavigateBack(1);">Back</a></li>
            <li><a href="javascript:void(0);" onclick="Billing.Navigate(1,'#billingSupply');">Verify and Next</a></li>
        </ul>
    </div>
</div>
<% } %>