﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Assessment>" %>
<% var data = Model.ToDictionary(); %>
<script type="text/javascript">
    printview.addsection(
        printview.col(3,
            printview.checkbox("WNL (Within Normal Limits)",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("1") ? "true" : "false"%>,true) +
            printview.checkbox("Dysphagia",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("2") ? "true" : "false"%>,true) +
            printview.checkbox("Appetite",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("3") ? "true" : "false"%>,true)) +
        printview.col(4,
            printview.checkbox("Weight",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("4") ? "true" : "false"%>,true) +
            printview.span("") + printview.checkbox("Loss",<%= data != null && data.ContainsKey("GenericNutritionWeightGainLoss") && data["GenericNutritionWeightGainLoss"].Answer == "Loss" ? "true" : "false"%>) +
            printview.checkbox("Gain",<%= data != null && data.ContainsKey("GenericNutritionWeightGainLoss") && data["GenericNutritionWeightGainLoss"].Answer == "Gain" ? "true" : "false"%>) +
            printview.checkbox("Diet",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("5") ? "true" : "false"%>,true) +
            printview.span("") + printview.checkbox("Adequate",<%= data != null && data.ContainsKey("GenericNutritionDietAdequate") && data["GenericNutritionDietAdequate"].Answer == "Adequate" ? "true" : "false"%>) +
            printview.checkbox("Inadequate",<%= data != null && data.ContainsKey("GenericNutritionDietAdequate") && data["GenericNutritionDietAdequate"].Answer == "Inadequate" ? "true" : "false"%>) +
            printview.checkbox("Enteral Feeding",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("6") ? "true" : "false"%>,true) +
            printview.checkbox("NG",<%= data != null && data.ContainsKey("") && data["GenericNutritionEnteralFeeding"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
            printview.checkbox("PEG",<%= data != null && data.ContainsKey("GenericNutritionEnteralFeeding") && data["GenericNutritionEnteralFeeding"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
            printview.checkbox("Dobhoff",<%= data != null && data.ContainsKey("GenericNutritionDietAdequate") && data["GenericNutritionEnteralFeeding"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
            printview.checkbox("Tube Placement Checked",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("7") ? "true" : "false"%>,true) +
            printview.span("") + printview.checkbox("Residual Checked",<%= data != null && data.ContainsKey("GenericNutrition") && data["GenericNutrition"].Answer.Split(',').Contains("8") ? "true" : "false"%>,true) +
            printview.span("Amount: <%= data != null && data.ContainsKey("") && data["GenericNutritionResidualCheckedAmount"].Answer.IsNotNullOrEmpty() ? data["GenericNutritionResidualCheckedAmount"].Answer + "ml" : "<span class='short blank'></span>ml"%>")) +
        printview.span("Comments:",true) +
        printview.span("<%= data != null && data.ContainsKey("GenericNutritionComments") && data["GenericNutritionComments"].Answer.IsNotNullOrEmpty() ? data["GenericNutritionComments"].Answer : ""%>",false,2),
        "Nutrition");
    printview.addsection(
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EWithout reason, has lost more than 10 lbs, in the last 3 months%3C/span%3E%3Cspan class=%22auto float_right%22%3E15%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EHas an illness or condition that made pt change the type and/or amount of food eaten%3C/span%3E%3Cspan class=%22auto float_right%22%3E10%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EHas open decubitus, ulcer, burn or wound%3C/span%3E%3Cspan class=%22auto float_right%22%3E10%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EEats fewer than 2 meals a day%3C/span%3E%3Cspan class=%22auto float_right%22%3E10%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EHas a tooth/mouth problem that makes it hard to eat%3C/span%3E%3Cspan class=%22auto float_right%22%3E10%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EHas 3 or more drinks of beer, liquor or wine almost every day%3C/span%3E%3Cspan class=%22auto float_right%22%3E10%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EDoes not always have enough money to buy foods needed%3C/span%3E%3Cspan class=%22auto float_right%22%3E10%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("7") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EEats few fruits or vegetables, or milk products%3C/span%3E%3Cspan class=%22auto float_right%22%3E5%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("8") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EEats alone most of the time%3C/span%3E%3Cspan class=%22auto float_right%22%3E5%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("9") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3ETakes 3 or more prescribed or OTC medications a day%3C/span%3E%3Cspan class=%22auto float_right%22%3E5%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("10") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EIs not always physically able to cook and/or feed self and has no caregiver to assist%3C/span%3E%3Cspan class=%22auto float_right%22%3E5%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("11") ? "true" : "false"%>) +
        printview.checkbox("%3Cspan class=%22auto float_left%22%3EFrequently has diarrhea or constipation%3C/span%3E%3Cspan class=%22auto float_right%22%3E5%3C/span%3E",<%= data != null && data.ContainsKey("GenericNutritionalHealth") && data["GenericNutritionalHealth"].Answer.Split(',').Contains("12") ? "true" : "false"%>) +
        printview.col(3,
            printview.checkbox("Good Nutritional Status (Score 0 &ndash; 25)",<%= data != null && data.ContainsKey("GenericGoodNutritionScore") && data["GenericGoodNutritionScore"].Answer == "1" ? "true,true" : "false,false"%>) +
            printview.checkbox("Moderate Nutritional Risk (Score 25 &ndash; 55)",<%= data != null && data.ContainsKey("GenericGoodNutritionScore") && data["GenericGoodNutritionScore"].Answer == "2" ? "true,true" : "false,false"%>) +
            printview.checkbox("High Nutritional Risk (Score 55 &ndash; 100)",<%= data != null && data.ContainsKey("GenericGoodNutritionScore") && data["GenericGoodNutritionScore"].Answer == "3" ? "true,true" : "false,false"%>)) +
        printview.span("Nutritional Status Comments:",true) +
        printview.span("<%= data != null && data.ContainsKey("GenericNutritionalStatusComments") && data["GenericNutritionalStatusComments"].Answer.IsNotNullOrEmpty() ? data["GenericNutritionalStatusComments"].Answer : ""%>",false,2) +
        printview.col(2,
            printview.checkbox("Non-compliant with prescribed diet",<%= data != null && data.ContainsKey("GenericNutritionDiffect") && data["GenericNutritionDiffect"].Answer.Split(',').Contains("1") ? "true,true" : "false,false"%>) +
            printview.checkbox("Over/under weight by 10%",<%= data != null && data.ContainsKey("GenericNutritionDiffect") && data["GenericNutritionDiffect"].Answer.Split(',').Contains("2") ? "true,true" : "false,false"%>) +
            printview.span("Meals prepared by:",true) +
            printview.span("<%= data != null && data.ContainsKey("GenericMealsPreparedBy") && data["GenericMealsPreparedBy"].Answer.IsNotNullOrEmpty() ? data["GenericMealsPreparedBy"].Answer : ""%>",false,1)),
        "Nutritional Health Screen");
    printview.addsection(
        printview.col(4,
            printview.checkbox("Regular",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
            printview.checkbox("Mechanical Soft",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("8") ? "true" : "false"%>) +
            printview.checkbox("Heart Healthy",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("16") ? "true" : "false"%>) +
            printview.checkbox("Low Cholesterol",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("17") ? "true" : "false"%>) +
            printview.checkbox("Low Fat",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("18") ? "true" : "false"%>) +
            printview.checkbox("<%= data != null && data.ContainsKey("485NutritionalReqsSodiumAmount") && data["485NutritionalReqsSodiumAmount"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsSodiumAmount"].Answer : "<span class='blank;></span>"%> Sodium",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
            printview.checkbox("No Added Salt",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
            printview.checkbox("<%= data != null && data.ContainsKey("485NutritionalReqsCalorieADADietAmount") && data["485NutritionalReqsCalorieADADietAmount"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsCalorieADADietAmount"].Answer : "<span class='blank;></span>"%> Calorie ADA Diet",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
            printview.checkbox("No Concentrated Sweets",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("15") ? "true" : "false"%>) +
            printview.checkbox("Coumadin Diet",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("12") ? "true" : "false"%>) +
            printview.checkbox("Renal Diet",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("11") ? "true" : "false"%>) +
            printview.checkbox("Other: <%= data != null && data.ContainsKey("485NutritionalReqsPhyDietOtherName") && data["485NutritionalReqsPhyDietOtherName"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsPhyDietOtherName"].Answer : "<span class='blank;></span>"%>",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("14") ? "true" : "false"%>) +
            printview.checkbox("Supplement: <%= data != null && data.ContainsKey("485NutritionalReqsSupplementType") && data["485NutritionalReqsSupplementType"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsSupplementType"].Answer : "<span class='blank;></span>"%>",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("10") ? "true" : "false"%>) +
            printview.checkbox("Fluid Restriction: <%= data != null && data.ContainsKey("485NutritionalReqsFluidResAmount") && data["485NutritionalReqsFluidResAmount"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsFluidResAmount"].Answer + "ml/24 hours" : "<span class='blank;></span>"%>",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("13") ? "true" : "false"%>)) +
        printview.col(5,
            printview.checkbox("Enteral Nutrition",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("19") ? "true" : "false"%>) +
            printview.span("") + printview.span("") +  printview.span("Formula: <%= data != null && data.ContainsKey("485NutritionalReqsEnteralDesc") && data["485NutritionalReqsEnteralDesc"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsEnteralDesc"].Answer : "<span class='blank;></span>"%>") +
            printview.span("Amount: <%= data != null && data.ContainsKey("485NutritionalReqsEnteralAmount") && data["485NutritionalReqsEnteralAmount"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsEnteralAmount"].Answer = "ml/day" : "<span class='blank;></span>"%>") +
            printview.span("Per:") + 
            printview.checkbox("PEG",<%= data != null && data.ContainsKey("485NutritionalReqsEnteral") && data["485NutritionalReqsEnteral"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
            printview.checkbox("NG",<%= data != null && data.ContainsKey("485NutritionalReqsEnteral") && data["485NutritionalReqsEnteral"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
            printview.checkbox("Dobhoff",<%= data != null && data.ContainsKey("485NutritionalReqsEnteral") && data["485NutritionalReqsEnteral"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
            printview.checkbox("Other <%= data != null && data.ContainsKey("485NutritionalReqsEnteralOtherName") && data["485NutritionalReqsEnteralOtherName"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsEnteralOtherName"].Answer : ""%>",<%= data != null && data.ContainsKey("485NutritionalReqsEnteral") && data["485NutritionalReqsEnteral"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
            printview.span("Via:") + 
            printview.span("") + printview.checkbox("Pump",<%= data != null && data.ContainsKey("485NutritionalReqsEnteral") && data["485NutritionalReqsEnteral"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
            printview.checkbox("Gravity",<%= data != null && data.ContainsKey("485NutritionalReqsEnteral") && data["485NutritionalReqsEnteral"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
            printview.checkbox("Bolus",<%= data != null && data.ContainsKey("485NutritionalReqsEnteral") && data["485NutritionalReqsEnteral"].Answer.Split(',').Contains("7") ? "true" : "false"%>)) +
        printview.col(2,
            printview.checkbox("TPN",<%= data != null && data.ContainsKey("485NutritionalReqs") && data["485NutritionalReqs"].Answer.Split(',').Contains("20") ? "true" : "false"%>) +
            printview.span("<%= data != null && data.ContainsKey("485NutritionalReqsTPNAmount") && data["485NutritionalReqsTPNAmount"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsTPNAmount"].Answer + "@ml/hr via " : ""%><%= data != null && data.ContainsKey("485NutritionalReqsTPNVia") && data["485NutritionalReqsTPNVia"].Answer.IsNotNullOrEmpty() ? data["485NutritionalReqsTPNVia"].Answer : ""%>",false,1)),
        "Physician&rsquo;s Orders or Diet Requirements");
    printview.addsection(
        printview.checkbox("SN to instruct <%= data != null && data.ContainsKey("485InstructOnDietPerson") && data["485InstructOnDietPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructOnDietPerson"].Answer : "<span class='blank'></span>"%> on <%= data != null && data.ContainsKey("485InstructOnDietDesc") && data["485InstructOnDietDesc"].Answer.IsNotNullOrEmpty() ? data["485InstructOnDietDesc"].Answer : "<span class='blank'></span>"%> diet.",<%= data != null && data.ContainsKey("485NutritionInterventions") && data["485NutritionInterventions"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("SN to assess patient for diet compliance.",<%= data != null && data.ContainsKey("485NutritionInterventions") && data["485NutritionInterventions"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct on proper technique for tube feeding, aspiration precautions and care of feeding tube site.",<%= data != null && data.ContainsKey("485NutritionInterventions") && data["485NutritionInterventions"].Answer.Split(',').Contains("3") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructEnteralNutritionPerson") && data["485InstructEnteralNutritionPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructEnteralNutritionPerson"].Answer : "<span class='blank'></span>"%> on enteral nutrition and the care/use of equipment.",<%= data != null && data.ContainsKey("485NutritionInterventions") && data["485NutritionInterventions"].Answer.Split(',').Contains("4") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructCareOfTubePerson") && data["485InstructCareOfTubePerson"].Answer.IsNotNullOrEmpty() ? data["485InstructCareOfTubePerson"].Answer : "<span class='blank'></span>"%> on proper care of <%= data != null && data.ContainsKey("485InstructCareOfTubeDesc") && data["485InstructCareOfTubeDesc"].Answer.IsNotNullOrEmpty() ? data["485InstructCareOfTubeDesc"].Answer : "<span class='blank'></span>"%> tube.",<%= data != null && data.ContainsKey("485NutritionInterventions") && data["485NutritionInterventions"].Answer.Split(',').Contains("5") ? "true" : "false"%>) +
        printview.checkbox("SN to instruct the <%= data != null && data.ContainsKey("485InstructFreeWaterPerson") && data["485InstructFreeWaterPerson"].Answer.IsNotNullOrEmpty() ? data["485InstructFreeWaterPerson"].Answer : "<span class='blank'></span>"%> to give <%= data != null && data.ContainsKey("485InstructFreeWaterAmount") && data["485InstructFreeWaterAmount"].Answer.IsNotNullOrEmpty() ? data["485InstructFreeWaterAmount"].Answer : "<span class='blank'></span>"%>cc of free water every <%= data != null && data.ContainsKey("485InstructFreeWaterEvery") && data["485InstructFreeWaterEvery"].Answer.IsNotNullOrEmpty() ? data["485InstructFreeWaterEvery"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485NutritionInterventions") && data["485NutritionInterventions"].Answer.Split(',').Contains("6") ? "true" : "false"%>) +
        printview.span("Additional Orders:",true) +
        printview.span("<%= data != null && data.ContainsKey("485NutritionComments") && data["485NutritionComments"].Answer.IsNotNullOrEmpty() ? data["485NutritionComments"].Answer : ""%>",false,2),
        "Interventions");
    printview.addsection(
        printview.checkbox("Patient will maintain <%= data != null && data.ContainsKey("485MaintainDietComplianceType") && data["485MaintainDietComplianceType"].Answer.IsNotNullOrEmpty() ? data["485MaintainDietComplianceType"].Answer : "<span class='blank'></span>"%> diet compliance during the episode.",<%= data != null && data.ContainsKey("485NutritionGoals") && data["485NutritionGoals"].Answer.Split(',').Contains("1") ? "true" : "false"%>) +
        printview.checkbox("The <%= data != null && data.ContainsKey("") && data["485DemonstrateEnteralNutritionPerson"].Answer.IsNotNullOrEmpty() ? data["485DemonstrateEnteralNutritionPerson"].Answer : "<span class='blank'></span>"%> will demonstrate proper care/use of enteral nutrition equipment by <%= data != null && data.ContainsKey("485DemonstrateEnteralNutritionDate") && data["485DemonstrateEnteralNutritionDate"].Answer.IsNotNullOrEmpty() ? data["485DemonstrateEnteralNutritionDate"].Answer : "<span class='blank'></span>"%>.",<%= data != null && data.ContainsKey("485NutritionGoals") && data["485NutritionGoals"].Answer.Split(',').Contains("2") ? "true" : "false"%>) +
        printview.span("Additional Goals:",true) +
        printview.span("<%= data != null && data.ContainsKey("485NutritionGoalComments") && data["485NutritionGoalComments"].Answer.IsNotNullOrEmpty() ? data["485NutritionGoalComments"].Answer : ""%>",false,2),
        "Goals");
</script>