﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Patient>" %>
<div class="window-menu">
    <ul>
    </ul>
</div>
<div class="two-thirds">
</div>
<div class="one-third encapsulation">
    <h4>Related <span class="mobile_hidden">Documents</span></h4>
    <ul>
    </ul>
</div>
