﻿#messaging-container{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.inbox-header{padding:15px 5px;}
.inbox-header div{float:right;padding:5px 0px;}
.inbox-header div a{color:#ffd800;}
.inbox-header img,.nav-panel img,.nav-select img{vertical-align:middle;margin:0 5px 0 0;border:none;}
.clear{clear:both;float:none;height:0;}
.bold,.false{font-weight:bold;}
.normal,.true,div.message-body-container span{font-weight:normal;}
.inbox-body{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;}
.inbox-header{padding:15px 5px;}
.inbox-header div{float:right;padding:5px 0;}
.inbox-header div a{color:#ffd800;}
.inbox-subheader{padding:1px 5px;background:url(/Images/gradients.png) repeat-x 0 -200px;height:28px;}
.inbox-subheader span{font-size:14px;line-height:24px;font-weight:bold;color:#10428c;}
.inbox-title{font-size:18px;font-weight:bold;padding:0 5px;}
/* MESSAGE LIST */
.message-list{background-color:#fffcf2;position:absolute;top:0;right:0;bottom:0;left:0;}
.message-panel{padding:1px;overflow:auto;}
div.message { overflow: hidden;padding:3px;}
.message-panel a,.message-panel a:visited{padding:5px;display:block;color:#000;border:solid 1px #fff;text-decoration:none;}
.message-panel a:hover { background-color: #FFE88C; border: solid 1px #D69C00; }
.nav-separator { height: 10px; }
.nav-select { position: absolute; bottom: 0px; width: 100%; }
.nav-select a { height: 22px; display: block; padding: 5px; font-weight: bold; text-decoration: none; color: #000000; }
/* MESSAGE CONTENT */
.message-content{background:#d6e5f3;bottom:0;left:0;position:absolute;right:0;top:0;}
.message-content-panel div.message-header-container,.message-content-panel div.message-body-container{background-color:#fffcf2;border:solid 1px #d3d3d3;left:15px;position:absolute;right:15px;}
.message-content-panel div.message-header-container{padding:15px 15px 5px;top:5px;}
.message-content-panel div.message-body-container{top:185px;bottom:10px;}
.message-content-panel div.message-body-container div{position:absolute;top:15px;right:15px;left:15px;bottom:15px;}
textarea#message-body{height:100%;width:100%;overflow:auto;background-color:#fffcf2;border:0 none;}
div.message-header-row{margin-bottom:3px;position:relative;}
div.message-header-row label{width:100px;text-align:left;font-weight:normal;display:inline-block;}
div.message-header-row input.button{font-size:9px;width:60px;height:20px;font-weight:bold;}
div.message-header-row span{position:absolute;left:115px;right:50px;height:20px;overflow:scroll;}
div.message-header-row a.more{position:absolute;right:15px;}
/* RECIPIENT LIST */
.recipient-list{background-color:#d6e5f3;vertical-align:bottom;position:absolute;top:0;right:0;bottom:0;left:0;}
.recipient-panel{overflow:auto;position:absolute;top:30px;right:0;bottom:0;left:0;}
.recipient-panel div.recipient{border-bottom:solid 1px #ccc;overflow:hidden;padding:3px;}
/* NEW MESSAGE CONTENT */
.new-message-content{background-color:#d6e5f3;height: 125px;vertical-align:top;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.new-message-content-panel{margin-left:100px;}
.send{position:absolute;}
div.new-message-row{margin-bottom:5px;}
div.new-message-row label{width:100px;text-align:left;float:left;display:inline-block;}
ul.token-input-list-facebook,div.new-message-row input,div.new-message-row select{width:80%;overflow:auto;height:22px;border:solid 1px #8496ba;cursor:text;font-size:12px;font-family:Verdana;min-height:1px;display:inline-block;vertical-align:middle;max-height:53px;}
#new-message-body-div{position:absolute;top:125px;right:1px;bottom:2px;left:-1px;margin:0;padding:0;}
#new-message-body-div textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:16px;}
#NewSystemMessageBody{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana;}
#window_Inbox_content{overflow:hidden;}
.message-header-buttons{margin:10px 0;}
.message-header-buttons span{margin-right:10px;}
#new-message-recipient-ids,.message-id{display:none;}
/* WYSIWYG */
td.cke_contents{display:block;position:absolute;top:29px;right:0;bottom:0;left:0;}