﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<PhysicianOrder>" %>
<%  var location = Model.Agency.GetBranch(Model.Patient != null ? Model.Patient.AgencyLocationId : Guid.Empty); %>
<%  if (location == null) location = Model.Agency.GetMainOffice(); %>
<%= Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("printpreview.css").Add("Print/Patient/physorder.css").Combined(true).Compress(true).CacheDurationInDays(1).Version(Current.AssemblyVersion)) %>
<script type="text/javascript">
    PrintPreview.Fields = {
        agency:                 "<%= (Model != null && Model.Agency != null ? (Model.Agency.Name.IsNotNullOrEmpty() ? Model.Agency.Name + "<br />" : "") + (location != null ? (location.AddressLine1.IsNotNullOrEmpty() ? location.AddressLine1.ToTitleCase() : "") + (location.AddressLine2.IsNotNullOrEmpty() ? location.AddressLine2.ToTitleCase() + "<br />" : "<br />") + (location.AddressCity.IsNotNullOrEmpty() ? location.AddressCity.ToTitleCase() + ", " : "") + (location.AddressStateCode.IsNotNullOrEmpty() ? location.AddressStateCode.ToString().ToUpper() + "  " : "") + (location.AddressZipCode.IsNotNullOrEmpty() ? location.AddressZipCode.Clean() : "") + (location.PhoneWorkFormatted.IsNotNullOrEmpty() ? "<br />Phone: " + location.PhoneWorkFormatted : "") + (location.FaxNumberFormatted.IsNotNullOrEmpty() ? " | Fax: " + location.FaxNumberFormatted : "") : "") : "").Clean()%>",
        patientname:            "<%= (Model != null && Model.Patient != null ? (Model.Patient.LastName.IsNotNullOrEmpty() ? Model.Patient.LastName.ToLower().ToTitleCase() + ", " : "") + (Model.Patient.FirstName.IsNotNullOrEmpty() ? Model.Patient.FirstName.ToLower().ToTitleCase() + " " : "") + (Model.Patient.MiddleInitial.IsNotNullOrEmpty() ? Model.Patient.MiddleInitial.ToUpper() + "<br />" : "<br />") : "").Clean() %>",
        patient:                "<%= (Model != null && Model.Patient != null ? (Model.Patient.AddressLine1.IsNotNullOrEmpty() ? Model.Patient.AddressLine1.ToTitleCase() + "<br />" : "") + (Model.Patient.AddressLine2.IsNotNullOrEmpty() ? Model.Patient.AddressLine2.ToTitleCase() + "<br />" : "") + (Model.Patient.AddressCity.IsNotNullOrEmpty() ? Model.Patient.AddressCity.ToTitleCase() + ", " : "") + (Model.Patient.AddressStateCode.IsNotNullOrEmpty() ? Model.Patient.AddressStateCode.ToTitleCase() + "  " : "") + (Model.Patient.AddressZipCode.IsNotNullOrEmpty() ? Model.Patient.AddressZipCode + "<br />" : "") + (Model.Patient.PhoneHome.IsNotNullOrEmpty() ? Model.Patient.PhoneHome.ToPhone() + "<br />" : "") + (Model.Patient.MedicareNumber.IsNotNullOrEmpty() ? "HIC: " + Model.Patient.MedicareNumber : "") : "").Clean() %>",
        physicianname:          "<%= (Model != null && Model.Physician != null && Model.Physician.DisplayName.IsNotNullOrEmpty() ? Model.Physician.DisplayName.Clean() : string.Empty) %>",
        physician:              "<%= (Model != null && Model.Physician != null ? (Model.Physician.AddressLine1.IsNotNullOrEmpty() ? Model.Physician.AddressLine1.ToTitleCase() : "") + (Model.Physician.AddressLine2.IsNotNullOrEmpty() ? ", " + Model.Physician.AddressLine2.ToTitleCase() + "<br />" : "<br />") + (Model.Physician.AddressCity.IsNotNullOrEmpty() ? Model.Physician.AddressCity.ToTitleCase() + ", " : "") + (Model.Physician.AddressStateCode.IsNotNullOrEmpty() ? Model.Physician.AddressStateCode.ToTitleCase() + "  " : "") + (Model.Physician.AddressZipCode.IsNotNullOrEmpty() ? Model.Physician.AddressZipCode + "<br />" : "") + (Model.Physician.PhoneWork.IsNotNullOrEmpty() ? "Phone: " + Model.Physician.PhoneWork.ToPhone() : "") + (Model.Physician.FaxNumber.IsNotNullOrEmpty() ? " | Fax: " + Model.Physician.FaxNumber.ToPhone() + "<br />" : "<br />") + (Model.Physician.NPI.IsNotNullOrEmpty() ? "NPI: " + Model.Physician.NPI : "") : "").Clean() %>",
        orderdate:              "<%= (Model != null && Model.OrderDate.IsValid() ? Model.OrderDate.ToShortDateString() : "").Clean() %>",
        ordernum:               "<%= (Model != null && Model.OrderNumber.ToString().IsNotNullOrEmpty() && Model.OrderNumber.ToString().ToInteger() != 0 ? Model.OrderNumber.ToString() : "").Clean() %>",
        episode:                "<%= (Model != null && Model.EpisodeStartDate.IsValidDate() ? Model.EpisodeStartDate + "&#8212;" : string.Empty).Clean() + (Model != null && Model.EpisodeEndDate.IsValidDate() ? Model.EpisodeEndDate : string.Empty).Clean()%>",
        dob:                    "<%= (Model != null && Model.Patient != null && Model.Patient.DOB.IsValid() ? Model.Patient.DOB.ToShortDateString() : string.Empty).Clean() %>",
        mr:                     "<%= (Model != null && Model.Patient != null && Model.Patient.PatientIdNumber.IsNotNullOrEmpty() ? Model.Patient.PatientIdNumber : string.Empty).Clean()%>",
        allergies:              "<%= (Model != null && Model.Allergies.IsNotNullOrEmpty() ? Model.Allergies : "").Clean() %>",
        summary:                "<%= (Model != null && Model.Summary.IsNotNullOrEmpty() ? Model.Summary : "").Clean() %>",
        IsOrderReadAndVerified: "<%= (Model != null && Model.IsOrderReadAndVerified ? "X" : "").Clean()%>",
        clinsign:               "<%= (Model != null && Model.SignatureText.IsNotNullOrEmpty() ? Model.SignatureText : "").Clean() %>",
        clinsigndate:           "<%= (Model != null && Model.SignatureDate.IsValid() ? Model.SignatureDate.ToShortDateString() : "").Clean() %>",
        physsign:               "<%= (Model != null && Model.PhysicianSignatureText.IsNotNullOrEmpty() ? Model.PhysicianSignatureText : "").Clean() %>",
        physsigndate:           "<%= (Model != null && Model.PhysicianSignatureDate.IsValid() ? Model.PhysicianSignatureDate.ToShortDateString() : "").Clean()%>"
    };
    PrintPreview.BuildBasic("<%= Model != null && Model.Text.IsNotNullOrEmpty() ? Model.Text.Clean() : "" %>");
</script>