﻿/* -- Telerik Grid Placement Overrides -- */
.fixed-grid-height{height:286px;position:relative;}
.absolute-grid{position:absolute;left:0;right:0;bottom:0;top:287px;height:auto;}
#window_listagencylocations .t-grid-content,
#window_listlogins .t-grid-content,
#window_listagencies .t-grid-content,
#window_listagencyphysicians .t-grid-content,
#window_listagencynotes .t-grid-content,
#window_listagencyusers .t-grid-content {top:60px;bottom:23px;}
.img.icon{display:inline-block;}
.img.icon.paperclip{background:url(/Images/sprite2.png) no-repeat -101px -31px;width:16px;height:16px;}
.img.icon.print{background:url(/Images/sprite2.png) no-repeat -84px -31px;width:16px;height:16px;}
.img.icon.success{background:url(/Images/sprite2.png) no-repeat -64px 0;width:32px;height:31px;}
.img.icon.error{background:url(/Images/sprite2.png) no-repeat -128px 0;width:32px;height:31px;}
.img.icon.success-small{background:url(/Images/sprite2.png) no-repeat -112px -108px;width:16px;height:16px;}
.img.icon.error-small{background:url(/Images/sprite2.png) no-repeat -128px -108px;width:16px;height:16px;}
.img.icon.send{background:url(/Images/sprite2.png) no-repeat -166px -32px;width:29px;height:14px;}
.img.icon.note{background:url(/Images/sprite2.png) no-repeat -149px -31px;width:16px;height:16px;margin-right: 5px; margin-left: 5px;}
.img.icon.note-blue{background:url(/Images/sprite2.png) no-repeat -133px -31px;width:16px;height:16px;margin-right: 5px; margin-left: 5px;}
.img.icon.note-red{background:url(/Images/sprite2.png) no-repeat -116px -31px;width:16px;height:16px;margin-right: 5px; margin-left: 5px;}
.img{vertical-align:text-bottom;}
/* -- jQuery Layout -- */
.ui-layout-resizer{background:#fff;border-left:.1empx solid #eee;border-right:.1em solid #ddd;height:100% !important;width:.1em !important}
.ui-layout-container{position:absolute;top:0;right:0;bottom:0;left:0}
.ui-layout-pane{overflow:hidden;height:100% !important}
.ui-layout-center{width:auto !important}
/* -- Patient/Scheduling Center -- */
.ui-layout-west .top{padding:0 0.3em;}
.ui-layout-west .top .row{display:table;margin:2px;width:100%;}
.ui-layout-west .top .heading{text-align:left;font-weight: bold;font-size:12.5px;margin-bottom:0; margin-top: 6px;}
.ui-layout-west .top .row label{float:left;}
.ui-layout-west .top .row div{display:block;margin-left:50px;padding-right:6px;}
.ui-layout-west .top select,.ui-layout-west .top input{width:100%;}
.ui-layout-west .bottom{position:absolute;top:135px;right:2px;bottom:0;left:0;}
.ui-layout-center .tab-contents{position:relative;}
.ui-layout-center .tab-contents tbody td{border-bottom:1px solid #dce6f5;padding:5px 2px;text-align:center;}
.ui-layout-center .tab-contents tbody .last-row td,#multiple-schedule-table td{border-bottom:none;}
.ui-layout-center .tab-contents .date-range{width:415px;}
.ui-layout-center .schedule-tables select,.ui-layout-center .schedule-tables tbody input{width:100%;}
.ui-layout-center .schedule-tables{width:76%;}
.ui-layout-center .schedule-tables .current-date,.ui-layout-center .schedule-tables .t-input{width:120px;}
.ui-layout-center .schedule-tables .action a{cursor:pointer;text-decoration:underline;}
.ui-layout-center .schedule-tables .last-row .action{display:none;}
.tab-contents .buttons{position:absolute;bottom:-5px;right:-15px;}
.ui-layout-center .bottom{position:absolute;top:283px;right:0;bottom:0;left:0;}
.ui-layout-center .bottom .above{position:absolute;top:-27px;right:0;left:0;border:solid 1px #d3d3d3;padding-top:3px;height:23px;background-color:#D6E5F3;}
.above label,.above select,.above input{margin:0 5px;}
.window-menu{width:100%;background:#c3d8f1 url(/css/Office2007/sprite2.png) repeat-x scroll 0 -352px;height:25px;border:solid 1px #d3d3d3;}
.window-menu ul li{float:left;color:#333;}
.window-menu ul li a{cursor:pointer;display:block;line-height:25px;padding:0 10px;color:#333;border-right:solid 1px #d3d3d3;}
.two-thirds{height: 158px; float:left;background-color:#fffcf2;border:solid 1px #d3d3d3;margin:5px;padding:10px;width:69%;}
.two-thirds img{margin-right:10px;}
.ui-layout-center .top a{color:#333;cursor:pointer;}
.one-third{width:25%;}
.encapsulation{float:right;padding:5px;}
.encapsulation ul{background:#fffcf2;}
.encapsulation h4{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;width:90%;text-align:center;font-size:12px;background:#c3d8f1 url(/Content/Office2007/sprite2.png) repeat-x scroll 0 -352px;}
.encapsulation li a{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;border-top:0;width:90%;}
/* -- Dashboard -- */
.modal-gray{background-color:#6f95d4;color:#fff;padding:0 10px 10px;text-align:center;font-size:24px;text-shadow:0 2px 3px #333;}
.modal-gray h3{font-size:24px;background:url(/Images/gradients.png) repeat-x 0 -280px;padding-top:10px;}
#intro-widget ul,.modal-gray ul{text-align:left;margin:5px 40px;}
#intro-widget ul li,.modal-gray ul li{padding:5px;list-style:none;}
.img.icon.green-arrow{background:url(/Images/sprite2.png) no-repeat -69px -108px;width:29px;height:20px;}
#intro-widget ul li a{color:#368c36;font-size:18px;position:relative;top:-3px;line-height:18px;}
.modal-gray ul li a{color:#fff;}
#intro-widget ul li a:hover{color:#2fa32f;}
.widget-content h1 { font-family: Sans-Serif; font-size: 17px; font-weight: bold; color: #3C78B5; }
.widget-content .underline { border-top: solid 1px #3C78B5; margin-bottom: 5px; }
.widget-content .mail-controls,#messages-widget-content div{border-bottom:solid 1px #d6e5f3;}
.widget-content .mail-controls,.widget-content .message{padding:3px;line-height:20px;display:block;}
.widget-content a.message{color:#333;}
.widget-content .message input{margin:3px 10px 0 3px;}
.widget-content .faux-grid{position:absolute;font-weight:normal !important;color:#333;bottom:0;left:0;right:0;top:0;}
.widget-content .faux-grid table{width:100%;}
.widget-content .faux-grid-header{width:100%;background:url(/Images/gradients.png) repeat-x 0 -120px;border-color:#d3d3d3;color:#333;font-weight:bold;border-bottom-style:solid;border-bottom-width:1px;padding-right:17px;}
.widget-content .faux-grid-header th{border-bottom-width:0;border-style:solid;border-width:0 1px 1px 0;overflow:hidden;padding:.3em .6em;white-space:nowrap;text-align:left;background:url(/Images/gradients.png) repeat-x 0 -120px;border-color:#d3d3d3;color:#333;font-weight:bold;}
.widget-content .faux-grid-content{max-height:181px;width:100%;}
.widget-content .faux-grid-content td{border-width:0 1px 0 0;border-right:1px solid #d6e5f3;line-height:1.6em;overflow:hidden;padding:.25em .6em;vertical-align:top;}
.modal-gray ul li a:hover{color:#fdd;text-shadow:0 2px 5px #833;}
.img.icon.stop{background:url(/Images/sprite2.png) no-repeat 0 -109px;width:20px;height:20px;margin-left:7px;}
#messages-widget-content div{height:26px;overflow:hidden;}
.widgets{width:450px;float:left;}
.widget{border:solid 1px #aaa;margin:10px;overflow:hidden;position:relative;height:235px;}
.widget a:hover{text-decoration:underline;}
.widget-head{background:url(/Images/gradients.png) repeat-x 0 -678px;border-bottom:solid 1px #d3d3d3;color:#943a43;height:24px;text-align:center;}
.widget-head h5{font-weight:bold;line-height:22px;}
#intro-widget .widget-content div{padding:5px 10px;}
.widget-content{display:block;background:#fffcf2;height:210px;position:absolute;font-weight:normal !important;left:0;right:0;}
.widget-more{position:absolute;bottom:-1px;right:20px;padding:4px;background-color:#eee;border:solid 1px #aaa;}
.widget-more a{color:#af1e2d;}
.widget-more a:hover{display:block;margin:5px;font-weight:bold;}
.weather-feed{color:#94461e;}
.widget-content .t-grid{font-weight:normal !important;}
.widget-place-holder{border:2px dashed;margin-bottom:10px;}
.content .widgets{margin:0 10px;}
.widget-head a{height:16px;outline:none;position:absolute;text-indent:-9999em;top:5px;width:16px;}
/* Custom Dashboard Message Reset */
#custom-message-widget div{position:relative;}
#custom-message-widget address,#custom-message-widget blockquote,#custom-message-widget dd,#custom-message-widget div,#custom-message-widget dl,#custom-message-widget dt,#custom-message-widget fieldset,#custom-message-widget h1,#custom-message-widget h2,#custom-message-widget h3,#custom-message-widget h4,#custom-message-widget h5,#custom-message-widget h6,#custom-message-widget ol,#custom-message-widget p,#custom-message-widget ul,#custom-message-widget center,#custom-message-widget dir,#custom-message-widget hr,#custom-message-widget menu,#custom-message-widget pre{display:block;unicode-bidi:embed;}
#custom-message-widget li{display:list-item;}
#custom-message-widget table{display:table;}
#custom-message-widget tr{display:table-row;}
#custom-message-widget thead{display:table-header-group;}
#custom-message-widget tbody{display:table-row-group;}
#custom-message-widget tfoot{display:table-footer-group;}
#custom-message-widget col{display:table-column;}
#custom-message-widget colgroup{display:table-column-group;}
#custom-message-widget td,#custom-message-widget th{display:table-cell;}
#custom-message-widget caption{display:table-caption;}
#custom-message-widget th{font-weight:bolder;text-align:center;}
#custom-message-widget caption{text-align:center;}
#custom-message-widget h1{font-size:2em;margin:.67em 0;}
#custom-message-widget h2{font-size:1.5em;margin:.75em 0;}
#custom-message-widget h3{font-size:1.17em;margin:.83em 0;}
#custom-message-widget h4,#custom-message-widget p,#custom-message-widget blockquote,#custom-message-widget ul,#custom-message-widget fieldset,#custom-message-widget ol,#custom-message-widget dl,#custom-message-widget dir,#custom-message-widget menu{margin:1.12em 0;}
#custom-message-widget h5{font-size:.83em;margin:1.5em 0;}
#custom-message-widget h6{font-size:.75em;margin:1.67em 0;}
#custom-message-widget h1,#custom-message-widget h2,#custom-message-widget h3,#custom-message-widget h4,#custom-message-widget h5,#custom-message-widget h6,#custom-message-widget b,#custom-message-widget strong{font-weight:bolder;}
#custom-message-widget blockquote{margin-left:40px;margin-right:40px;}
#custom-message-widget i,#custom-message-widget cite,#custom-message-widget em,#custom-message-widget var,#custom-message-widget address{font-style:italic;}
#custom-message-widget pre,#custom-message-widget tt,#custom-message-widget code,#custom-message-widget kbd,#custom-message-widget samp{font-family:monospace;}
#custom-message-widget pre{white-space:pre;}
#custom-message-widget big{font-size:1.17em;}
#custom-message-widget small,#custom-message-widget sub,#custom-message-widget sup{font-size:.83em;}
#custom-message-widget sub{vertical-align:sub;}
#custom-message-widget sup{vertical-align:super;}
#custom-message-widget table{border-spacing:2px;}
#custom-message-widget thead,#custom-message-widget tbody,#custom-message-widget tfoot{vertical-align:middle;}
#custom-message-widget td,#custom-message-widget th,#custom-message-widget tr{vertical-align:inherit;}
#custom-message-widget s,#custom-message-widget strike,#custom-message-widget del{text-decoration:line-through;}
#custom-message-widget hr{border:1px inset;}
#custom-message-widget ol,#custom-message-widget ul,#custom-message-widget dir,#custom-message-widget menu,#custom-message-widget dd{margin-left:40px;}
#custom-message-widget ol{list-style-type:decimal;}
#custom-message-widget ol ul,#custom-message-widget ul ol,#custom-message-widget ul ul,#custom-message-widget ol ol{margin-top:0;margin-bottom:0;}
#custom-message-widget u,#custom-message-widget ins{text-decoration:underline;}
#custom-message-widget br:before{content:"\A";white-space:pre-line;}
#custom-message-widget center{text-align:center;}
#custom-message-widget :link,#custom-message-widget :visited{text-decoration:underline;}
#custom-message-widget :focus{outline:thin dotted invert;}
.redrow, .redrow a{color:#FF0000; font-weight: bold;}
.bluerow, .bluerow a{color:	#4169E1; font-weight: bold;}
.blackrow, .blackrow a {color: #000; font-weight: bold; }
/* -- Tooltips -- */
.tooltip{background:url(/Images/sprite2.png) no-repeat -132px -31px;height:16px;width:16px;display:block}
.tooltip.blue-note{background-position:-116px -31px}
.tooltip.red-note{background-position:-100px -31px}
.tooltip-box{border:solid 1px #d3d3d3;margin:-200px 0 0 -250px;padding:10px;overflow:hidden;position:fixed;width:500px;height:400px;background:#c3d8f1 url(/css/Office2007/sprite2.png) repeat-x scroll 0 -352px;top:50%;left:50%;z-index:100;color:#333}
.tooltip-box .closer{position:absolute;top:8px;right:8px;cursor:pointer;width:15px;height:15px;line-height:15px;text-align:center;font-weight:bold}
.tooltip-box h3{margin:3.5px 0;font-size:13px}
.tooltip-box .content{height:120px;padding:5px;background:#fffcf2;overflow:auto}
.tooltip-box .intent{height:65px}