﻿#messaging-container{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.clear{clear:both;float:none;height:0;}
.bold,.false{font-weight:bold;}
.normal,.true,div.message-body-container span{font-weight:normal;}
.inbox-subheader{padding:1px 5px;background:url(/Images/gradients.png) repeat-x 0 -200px;height:28px;}
.inbox-subheader span{font-size:14px;line-height:24px;font-weight:bold;color:#10428c;}
.recipient-panel div.recipient{border-bottom:solid 1px #ccc;overflow:hidden;padding:3px;}
/* NEW SYSTEM MESSAGE CONTENT */
.new-message-content{background-color:#d6e5f3;height: 125px;vertical-align:top;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.new-message-content-panel{margin-left:100px;}
.send{position:absolute;}
div.new-message-row{margin-bottom:5px;}
div.new-message-row label{width:100px;text-align:left;float:left;display:inline-block;}
div.new-message-row input,div.new-message-row select{width:80%;overflow:auto;height:22px;border:solid 1px #8496ba;cursor:text;font-size:12px;font-family:Verdana;min-height:1px;display:inline-block;vertical-align:middle;max-height:53px;}
#new-message-body-div{position:absolute;top:125px;right:1px;bottom:2px;left:-1px;margin:0;padding:0;}
#new-message-body-div textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:16px;}
#NewSystemMessageBody{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana;}
.message-header-buttons{margin:10px 0;}
.message-header-buttons span{margin-right:10px;}
#new-message-recipient-ids,.message-id{display:none;}
/* NEW DASHBOARD MESSAGE CONTENT */
#dashboard-message-container{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.new-dashboard-content{background-color:#d6e5f3;height: 125px;vertical-align:top;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.new-dashboard-contentPanel{margin-left:100px;}
#new-dashboard-message-body-div{position:absolute;top:125px;right:1px;bottom:2px;left:-1px;margin:0;padding:0;}
#new-dashboard-message-body-div textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:16px;}
#NewDashboardMessageBody{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana;}

/* WYSIWYG */
td.cke_contents{display:block;position:absolute;top:29px;right:0;bottom:0;left:0;}