﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Patient>" %>
<%if(Model!=null && Model.Profile!=null){ %>
 <%if (!Model.RequestedService.IsNull())
   {%>
      <div id="Admit_Referral_<%= Model.RequestedService.ToString() %>" ><% Html.RenderPartial(string.Format("Admit/{0}", Model.RequestedService.ToString()), Model.Profile); %></div>
    <%} %>
    
<%} %>