﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<VisitNoteViewData>" %>
<% var data = Model != null && Model.Questions != null ? Model.Questions : new Dictionary<string, NotesQuestion>(); %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title><%= Model.Agency.Name.IsNotNullOrEmpty() ? Model.Agency.Name.ToTitleCase() + " | " : "" %>Home Health Aide Care Plan<%= Model.Patient != null ? (" | " + Model.Patient.LastName + ", " + Model.Patient.FirstName + " " + Model.Patient.MiddleInitial).ToTitleCase() : "" %></title>
    <%= Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("print.css").Combined(true).Compress(true)) %>
</head>
<body>
    <div class="page largerfont"><img src="/Images/axxess_print.png" class="axxess" /><img src="/Images/acore_print.png" class="acore" />
        <div>
            <table class="fixed"><tbody>
                <tr>
                    <td colspan="2">
                        <%= Model.Agency.Name.IsNotNullOrEmpty() ? Model.Agency.Name.ToTitleCase() + "<br />" : "" %>
                        <%= Model.Agency.MainLocation.AddressLine1.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressLine1.ToTitleCase() : ""%> <%= Model.Agency.MainLocation.AddressLine2.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressLine2.ToTitleCase() : ""%><br />
                        <%= Model.Agency.MainLocation.AddressCity.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressCity.ToTitleCase() + ", " : ""%><%= Model.Agency.MainLocation.AddressStateCode.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressStateCode.ToString().ToUpper() + "&nbsp; " : ""%><%= Model.Agency.MainLocation.AddressZipCode.IsNotNullOrEmpty() ? Model.Agency.MainLocation.AddressZipCode : ""%>
                    </td><th class="h1">Home Health Aide<br />Progress Note</th>
                </tr><tr>
                    <td colspan="3">
                        <span class="big dual">Patient Name: <%= Model.Patient != null ? (Model.Patient.LastName + ", " + Model.Patient.FirstName + " " + Model.Patient.MiddleInitial).ToTitleCase() : "" %></span><br />
                        <span class="quadcol">
                            <span><strong>HHA Frequency:</strong></span>
                            <span class="trip"><%= data != null && data.ContainsKey("HHAFrequency") ? data["HHAFrequency"].Answer : "" %></span>
                            <span><strong>Episode Period:</strong></span>
                            <span class="trip"><%= data != null ? string.Format(" {0} &ndash; {1}", Model.StartDate.ToShortDateString(), Model.EndDate.ToShortDateString()) : "" %></span>
                            <span><strong>MR#</strong></span>
                            <span class="trip"><%= Model.Patient != null ? Model.Patient.PatientIdNumber : "" %></span>
                            <span><strong>Primary Diagnosis:</strong></span>
                            <span class="trip"><%= data != null && data.ContainsKey("PrimaryDiagnosis") ? data["PrimaryDiagnosis"].Answer : ""%></span>
                            <span><strong>Secondary Diagnosis:</strong></span>
                            <span class="trip"><%= data != null && data.ContainsKey("PrimaryDiagnosis1") ? data["PrimaryDiagnosis1"].Answer : ""%></span>
                        </span>
                    </td>
                </tr>
            </tbody></table>
        </div>
        <h3>Vital Sign Parameters</h3>
        <div><% string[] isVitalSignParameter = data != null && data.ContainsKey("IsVitalSignParameter") && data["IsVitalSignParameter"].Answer != "" ? data["IsVitalSignParameter"].Answer.Split(',') : null; %>
            <span class="checklabel"><span class="checkbox"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("1") ? "&#x2713;" : "" %></span><strong>N/A</strong></span>
        </div><div>
            <table class="fixed"><tbody>
                <tr><th></th><th>SBP</th><th>DBP</th><th>HR</th><th>Resp</th><th>Temp</th><th>Weight</th></tr>
                <tr>
                    <td><strong>greater than (&gt;)</strong></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("SystolicBPGreaterThan") ? data["SystolicBPGreaterThan"].Answer : "" %></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("DiastolicBPGreaterThan") ? data["DiastolicBPGreaterThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("PulseGreaterThan") ? data["PulseGreaterThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("RespirationGreaterThan") ? data["RespirationGreaterThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("TempGreaterThan") ? data["TempGreaterThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("WeightGreaterThan") ? data["WeightGreaterThan"].Answer : ""%></td>
                </tr><tr>
                    <td><strong>or less than (&lt;)</strong></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("SystolicBPLessThan") ? data["SystolicBPLessThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("DiastolicBPLessThan") ? data["DiastolicBPLessThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("PulseLessThan") ? data["PulseLessThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("RespirationLessThan") ? data["RespirationLessThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("TempLessThan") ? data["TempLessThan"].Answer : ""%></td>
                    <td class="trip"><%= isVitalSignParameter != null && isVitalSignParameter.Contains("0") && data.ContainsKey("WeightLessThan") ? data["WeightLessThan"].Answer : ""%></td>
                </tr>
            </tbody></table>
        </div>
        <h3>Vital Signs</h3>
        <div>
            <table class="fixed"><tbody>
                <tr><th></th><th>BP</th><th>HR</th><th>Temp</th><th>Resp</th><th>Weight</th></tr>
                <tr>
                    <td><strong>Val</strong></td>
                    <td class="trip"><%= data != null && data.ContainsKey("VitalSignBPVal") ? data["VitalSignBPVal"].Answer : ""%></td>
                    <td class="trip"><%= data != null && data.ContainsKey("VitalSignHRVal") ? data["VitalSignHRVal"].Answer : ""%></td>
                    <td class="trip"><%= data != null && data.ContainsKey("VitalSignTempVal") ? data["VitalSignTempVal"].Answer : ""%></td>
                    <td class="trip"><%= data != null && data.ContainsKey("VitalSignRespVal") ? data["VitalSignRespVal"].Answer : ""%></td>
                    <td class="trip"><%= data != null && data.ContainsKey("VitalSignWeightVal") ? data["VitalSignWeightVal"].Answer : ""%></td>
                </tr>
            </tbody></table>
        </div><div>
            <table class="align_center"><tbody>
                <tr><th colspan="3">Assignment</th><th colspan="3">Status</th><th colspan="3">Assignment</th><th>Status</th></tr>
                <tr><th colspan="3">Personal Care</th><th>Completed</th><th>Refuse</th><th>N/A</th><th colspan="3">Elimination</th><th>Completed</th><th>Refuse</th><th>N/A</th></tr>
                <tr><td class="align_left" colspan="3">Bed Bath</td><td><%= data != null && data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareBedBath") && data["PersonalCareBedBath"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Assist with Bed Pan/Urinal</td><td><%= data != null && data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistWithBedPan") && data["EliminationAssistWithBedPan"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Assist with Chair Bath</td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithChairBath") && data["PersonalCareAssistWithChairBath"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Assist with BSC</td><td><%= data != null && data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationAssistBSC") && data["EliminationAssistBSC"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Tub Bath</td><td><%= data != null && data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareTubBath") && data["PersonalCareTubBath"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Incontinence Care</td><td><%= data != null && data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationIncontinenceCare") && data["EliminationIncontinenceCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Shower</td><td><%= data != null && data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShower") && data["PersonalCareShower"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Empty Drainage Bag</td><td><%= data != null && data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationEmptyDrainageBag") && data["EliminationEmptyDrainageBag"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Shower w/Chair</td><td><%= data != null && data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShowerWithChair") && data["PersonalCareShowerWithChair"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Record Bowel Movement</td><td><%= data != null && data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationRecordBowelMovement") && data["EliminationRecordBowelMovement"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Shampoo Hair</td><td><%= data != null && data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShampooHair") && data["PersonalCareShampooHair"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Catheter Care</td><td><%= data != null && data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("EliminationCatheterCare") && data["EliminationCatheterCare"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Hair Care/Comb Hair</td><td><%= data != null && data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareHairCare") && data["PersonalCareHairCare"].Answer == "0" ? "&#x2713;" : "" %></td><th colspan="3">Activity</th><th>Completed</th><th>Refuse</th><th>N/A</th></tr>
                <tr><td class="align_left" colspan="3">Oral Care</td><td><%= data != null && data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareOralCare") && data["PersonalCareOralCare"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Dangle on Side of Bed</td><td><%= data != null && data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityDangleOnSideOfBed") && data["ActivityDangleOnSideOfBed"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Skin Care</td><td><%= data != null && data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareSkinCare") && data["PersonalCareSkinCare"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Turn &amp; Position</td><td><%= data != null && data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityTurnPosition") && data["ActivityTurnPosition"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Pericare</td><td><%= data != null && data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCarePericare") && data["PersonalCarePericare"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Assist with Transfer</td><td><%= data != null && data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithTransfer") && data["ActivityAssistWithTransfer"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Nail Care</td><td><%= data != null && data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareNailCare") && data["PersonalCareNailCare"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Assist with Ambulation</td><td><%= data != null && data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityAssistWithAmbulation") && data["ActivityAssistWithAmbulation"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Shave</td><td><%= data != null && data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareShave") && data["PersonalCareShave"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Range of Motion</td><td><%= data != null && data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("ActivityRangeOfMotion") && data["ActivityRangeOfMotion"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Assist with Dressing</td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("PersonalCareAssistWithDressing") && data["PersonalCareAssistWithDressing"].Answer == "0" ? "&#x2713;" : "" %></td><th colspan="3">Household Task</th><th>Completed</th><th>Refuse</th><th>N/A</th></tr>
                <tr><th colspan="3">Nutrition</th><th>Completed</th><th>Refuse</th><th>N/A</th><td class="align_left" colspan="3">Make Bed</td><td><%= data != null && data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskMakeBed") && data["HouseholdTaskMakeBed"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Meal Set-up</td><td><%= data != null && data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritionMealSetUp") && data["NutritionMealSetUp"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Change Linen</td><td><%= data != null && data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskChangeLinen") && data["HouseholdTaskChangeLinen"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="3">Assist with Feeding</td><td><%= data != null && data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("NutritioAssistWithFeeding") && data["NutritioAssistWithFeeding"].Answer == "0" ? "&#x2713;" : "" %></td><td class="align_left" colspan="3">Light Housekeeping</td><td><%= data != null && data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "2" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "1" ? "&#x2713;" : "" %></td><td><%= data != null && data.ContainsKey("HouseholdTaskLightHousekeeping") && data["HouseholdTaskLightHousekeeping"].Answer == "0" ? "&#x2713;" : "" %></td></tr>
                <tr><td class="align_left" colspan="12">Other (Describe):<span class="pent"><%= data != null && data.ContainsKey("HouseholdTaskOther") ? data["HouseholdTaskOther"].Answer : "" %></span></td></tr>
            </tbody></table>
        </div><div>
            <span><strong>Comments:</strong></span>
            <span class="octo"><%= data != null && data.ContainsKey("Comment") && data["Comment"].Answer.IsNotNullOrEmpty() ? data["Comment"].Answer : "" %></span>
        </div><div class="bicol">
            <span class="quad"><strong>Clinician Signature:</strong><%= Model != null && Model.SignatureText.IsNotNullOrEmpty() ? Model.SignatureText : ""%></span>
            <span class="quad"><strong>Date:</strong><%= Model != null && Model.SignatureDate.IsNotNullOrEmpty() ? Model.SignatureDate : ""%></span>
        </div>
    </div>
</body>
</html>