﻿#messagingContainer{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.inboxHeader{padding:15px 5px;}
.inboxHeader div{float:right;padding:5px 0px;}
.inboxHeader div a{color:#ffd800;}
.inboxHeader img,.navPanel img,.navSelect img{vertical-align:middle;margin:0 5px 0 0;border:none;}
.clear{clear:both;float:none;height:0;}
.bold,.false{font-weight:bold;}
.normal,.true,div.messageBodyContainer span{font-weight:normal;}
.inboxBody{margin:0;text-align:left;font-family:Tahoma, Arial, Helvetica, sans-serif;}
.inboxHeader{padding:15px 5px;}
.inboxHeader div{float:right;padding:5px 0;}
.inboxHeader div a{color:#ffd800;}
.inboxSubHeader{padding:1px 5px;background:transparent url('/Images/subheader_bg.png') repeat-x top;height:28px;}
.inboxSubHeader span{font-size:14px;line-height:24px;font-weight:bold;color:#10428c;}
.inboxTitle{font-size:18px;font-weight:bold;padding:0 5px;}
/* MESSAGE LIST */
.messageList{background-color:#fffcf2;position:absolute;top:0;right:0;bottom:0;left:0;}
.messagePanel{padding:1px;overflow:auto;}
div.message { overflow: hidden;padding:3px;}
.messagePanel a,.messagePanel a:visited{padding:5px;display:block;color:#000;border:solid 1px #fff;text-decoration:none;}
.messagePanel a:hover { background-color: #FFE88C; border: solid 1px #D69C00; }
.navSeparator { height: 10px; background-image: url('/Images/nav_separator.png'); background-repeat: repeat-x; background-position: center; }
.navSelect { position: absolute; bottom: 0px; width: 100%; }
.navSelect a { height: 22px; display: block; padding: 5px; background-image: url('/Images/nav_link.png'); background-repeat: repeat-x; font-weight: bold; text-decoration: none; color: #000000; }
.navSelect a:hover { background: url('/Images/nav_link_hover.png') repeat-x; }
/* MESSAGE CONTENT */
.messageContent{background:#c8d9ed url(/Images/gui/widget_title.png) repeat-x scroll center top;bottom:0;left:0;position:absolute;right:0;top:0;}
.messageContentPanel div.messageHeaderContainer,.messageContentPanel div.messageBodyContainer{background-color:#fffcf2;border:solid 1px #d3d3d3;left:15px;position:absolute;right:15px;}
.messageContentPanel div.messageHeaderContainer{padding:15px 15px 5px;top:5px;}
.messageContentPanel div.messageBodyContainer{top:185px;bottom:10px;}
.messageContentPanel div.messageBodyContainer div{position:absolute;top:15px;right:15px;left:15px;bottom:15px;}
textarea#messageBody{height:100%;width:100%;overflow:auto;background-color:#fffcf2;border:0 none;}
div.messageHeaderRow{margin-bottom:3px;}
div.messageHeaderRow label{width:100px;text-align:left;font-weight:normal;display:inline-block;}
div.messageHeaderRow input.button{font-size:9px;width:60px;height:20px;font-weight:bold;}
/* RECIPIENT LIST */
.recipientList{background-color:#d6e5f3;vertical-align:bottom;position:absolute;top:0;right:0;bottom:0;left:0;}
.recipientPanel{overflow:auto;position:absolute;top:28px;right:0;bottom:0;left:0;}
.recipientPanel div.recipient{border-bottom:solid 1px #ccc;overflow:hidden;padding:3px;}
/* NEW MESSAGE CONTENT */
.newMessageContent{background-color:#d6e5f3;vertical-align:top;position:absolute;top:0;right:0;bottom:0;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;}
.newMessageContentPanel{margin-left:100px;}
.send{position:absolute;}
div.newMessageRow{margin-bottom:5px;}
div.newMessageRow label{width:100px;text-align:left;float:left;display:inline-block;}
ul.token-input-list-facebook,div.newMessageRow input,div.newMessageRow select{width:80%;overflow:auto;height:22px;border:solid 1px #8496ba;cursor:text;font-size:12px;font-family:Verdana;min-height:1px;display:inline-block;vertical-align:middle;max-height:53px;}
#newMessageBodyDiv{position:absolute;top:125px;right:1px;bottom:2px;left:-1px;margin:0;padding:0;}
#newMessageBodyDiv textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:16px;}
#New_Message_Body{position:absolute;height:100%;width:100%;overflow:scroll;border:1px solid #8496ba;cursor:text;font-size:12px;font-family:Verdana;}
#window_messageinbox_content{overflow:hidden;}
.messageHeaderButtons{margin:10px 0;}
.messageHeaderButtons span{margin-right:10px;}
#newMessageRecipientIds,.message-id{display:none;}
/* WYSIWYG */
td.cke_contents{display:block;position:absolute;top:29px;right:0;bottom:0;left:0;}