﻿/* -- jQuery Layout -- */
.layout_resizer{background:#fff;width:1px !important;border-left:solid 1px #eee;border-right:solid 1px #ddd;height:100% !important;}
.layout{position:absolute;top:0;right:0;bottom:0;left:0;}
.layout_pane{overflow:hidden;height:100% !important;}
.layout_main{width:auto !important;}
.fixedGridHeight{height:286px;position:relative;}
.absoluteGrid{position:absolute;left:0;right:0;bottom:0;top:287px;height:auto;}
/* -- Telerik Grid Placement Overrides -- */
#window_listreferrals .t-grid-content,
/*#window_listuserschedule .t-grid-content,*/
#window_listcontacts .t-grid-content,
#window_listhospitals .t-grid-content,
#window_listinsurances .t-grid-content,
#window_listlocations .t-grid-content,
#window_listalluserschedule .t-grid-content,
#window_listphysicians .t-grid-content,
#window_listpatients .t-grid-content,
#window_listagencies .t-grid-content,
#window_listpendingpatients .t-grid-content,
#window_listusers .t-grid-content {top:60px;bottom:23px;}
#window_listpastduerecerts .t-grid-content,
#window_medicationprofilesnapshothistory .t-grid-content,
#window_listupcomingrecerts .t-grid-content {top:25px;bottom:23px;}
#window_messageinbox .t-grid-content{top:73px;bottom:23px;}
#MedicatonProfileGridActive{height:265px;}
#MedicatonProfileGridDC,#MedicatonProfileGrid{height:230px;}
#MedicatonProfileGridDC .t-grid-content,#MedicatonProfileGrid .t-grid-content{top:30px !important;}
/* -- Patient/Scheduling Center -- */
.layout_left .top{padding:0 0.3em;}
.layout_left .top .row{display:table;margin:2px;width:100%;}
.layout_left .top .heading{text-align:left;font-weight: bold;font-size:12.5px;margin-bottom:0; margin-top: 6px;}
.layout_left .top .row label{float:left;}
.layout_left .top .row div{display:block;margin-left:50px;padding-right:6px;}
.layout_left .top select,.layout_left .top input{width:100%;}
.layout_left .bottom{position:absolute;top:135px;right:2px;bottom:0;left:0;}
.layout_main .tabcontents{position:relative;}
.layout_main .tabcontents tbody td{border-bottom:1px solid #dce6f5;padding:5px 2px;text-align:center;}
.layout_main .tabcontents tbody .lastrow td,#multipleScheduleTable td{border-bottom:none;}
.layout_main .tabcontents .daterange{width:415px;}
.layout_main .scheduleTables select,.layout_main .scheduleTables tbody input{width:100%;}
.layout_main .scheduleTables{width:76%;}
.layout_main .scheduleTables .currentDate,.layout_main .scheduleTables .t-input{width:120px;}
.layout_main .scheduleTables .action a{cursor:pointer;text-decoration:underline;}
.layout_main .scheduleTables .lastrow .action{display:none;}
.tabcontents .buttons{position:absolute;bottom:-5px;right:-15px;}
.layout_main .bottom{position:absolute;top:275px;right:0;bottom:0;left:0;}
.layout_main .bottom .above{position:absolute;top:-27px;right:0;left:0;border:solid 1px #d3d3d3;padding-top:3px;height:23px;background-color:#D6E5F3;}
.above label,.above select,.above input{margin:0 5px;}
.winmenu{width:100%;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;height:25px;border:solid 1px #d3d3d3;}
.winmenu ul li{float:left;color:#333;}
.winmenu ul li a{cursor:pointer;display:block;line-height:25px;padding:0 10px;color:#333;border-right:solid 1px #d3d3d3;}
.twothirds{height: 158px; float:left;background-color:#fffcf2;border:solid 1px #d3d3d3;margin:5px;padding:10px;width:69%;}
.twothirds img{margin-right:10px;}
.layout_main .top a{color:#333;cursor:pointer;}
.onethird{width:25%;}
.encapsulation{float:right;padding:5px;}
.encapsulation ul{background:#fffcf2;}
.encapsulation h4{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;width:90%;text-align:center;font-size:12px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.encapsulation li a{display:block;line-height:20px;padding:0 10px;color:#333;border:solid 1px #d3d3d3;border-top:0;width:90%;}
.modal-gray{background:#6F95D4 url("../images/gui/dialog_blue.png") repeat-x;color:#fff;padding:10px;text-align:center;font-size:24px;text-shadow:0 2px 3px #333;}
#intro_widget ul,.modal-gray ul{text-align:left;margin:5px 40px;}
#intro_widget ul li,.modal-gray ul li{padding:5px;list-style:none inside url("/images/icons/green_arrow.png");}
#intro_widget ul li a{color:#368c36;font-size:18px;position:relative;top:-3px;line-height:18px;}
.modal-gray ul li a{color:#fff;}
#intro_widget ul li a:hover{color:#2fa32f;}
.widget-content h1 { font-family: Sans-Serif; font-size: 17px; font-weight: bold; color: #3C78B5; }
.widget-content .underline { border-top: solid 1px #3C78B5; margin-bottom: 5px; }
.widget-content .mailcontrols,#messagesWidgetContent div{border-bottom:solid 1px #d6e5f3;}
.widget-content .mailcontrols,.widget-content .message{padding:3px;line-height:20px;display:block;}
.widget-content a.message{color:#333;}
.widget-content .message input{margin:3px 10px 0 3px;}
.widget-content .faux-grid{position:absolute;font-weight:normal !important;color:#333;bottom:0;left:0;right:0;top:0;}
.widget-content .faux-grid table{width:100%;}
.widget-content .faux-grid-header{width:100%;background:url("/Images/gui/widget_grid_header.png") repeat-x scroll center top #f2e7e6;border-color:#d3d3d3;color:#333;font-weight:bold;border-bottom-style:solid;border-bottom-width:1px;padding-right:17px;}
.widget-content .faux-grid-header th{border-bottom-width:0;border-style:solid;border-width:0 1px 1px 0;overflow:hidden;padding:.3em .6em;white-space:nowrap;text-align:left;background:url("/Images/gui/widget_grid_header.png") repeat-x scroll center top #f2e7e6;border-color:#d3d3d3;color:#333;font-weight:bold;}
.widget-content .faux-grid-content{max-height:181px;width:100%;}
.widget-content .faux-grid-content td{border-width:0 1px 0 0;border-right:1px solid #d6e5f3;line-height:1.6em;overflow:hidden;padding:.25em .6em;vertical-align:top;}
.modal-gray ul li a:hover{color:#fdd;text-shadow:0 2px 5px #833;}
.modal-gray ul li.close{list-style:none inside url("/images/icons/stop.png");margin-left:7px;}
#messagesWidgetContent div{height:26px;overflow:hidden;}
.daterange span{margin:0 3px 0 0;}
.CustomDateRange .date {width:90px;}
.CustomDateRange .date .t-input {width:65px;}
#schedule_collapsed{position:relative;height:5px;border:solid 1px #d3d3d3;background:#C3D8F1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;border-bottom:0 none;}
.show_scheduler{background:#DDE8F5;border:solid 1px #d3d3d3;border-bottom:0 none;position:absolute;font-weight:bold;top:-29px;right:35px;padding:5px 20px;}
#ScheduleTabStrip{border-top:0 none;display:none;}
#ScheduleTabStrip .t-content{overflow:auto;overflow-x:hidden;max-height:100px;}
.notelegend{left:auto;position:absolute;right:2%;width:140px;top:135px;}
.notelegend img{margin:0 5px;vertical-align:middle;}
/* -- Calendar -- */
.trical{text-align:center;}
.trical .abs_left a,.trical .abs_right a,.edit_eps a{text-decoration:none !important;font-weight:bold !important;color:#333;text-shadow:1px 1px 1px #fff;background:url(/Content/Office2007/sprite.png) repeat-x scroll 0pt -352px rgb(195, 216, 241);padding:1px 10px 3px 5px;border:solid 1px #d3d3d3;display:inline-block;}
.trical .abs_left a:hover,.trical .abs_right a:hover,.edit_eps a:hover{color:#fff;text-shadow:1px 1px 1px #000;background:#7096d5 url("/Images/forms/vista_button_bg.jpeg") repeat-x scroll left bottom;}
.trical .abs_right a{padding:1px 5px 3px 10px;}
.edit_eps a{padding:1px 10px 3px 10px;}
.trical a{cursor:pointer;text-decoration:underline;color:blue;font-weight:normal;}
.cal{width:28%;display:inline-block;margin:10px 2.5%;float:left;text-align:center;}
.cal table{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;}
.cal thead{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;font-weight:bold;}
.cal thead th{width:14.285%;}
.cal tbody td{background-color:#fffcf2;cursor:pointer;vertical-align:top;border:solid 1px #d3d3d3;width:135px;height:22px;text-align:center;}
.cal tbody td a{font-weight:normal;text-decoration:none;font-family:Tahoma;font-size:11px;line-height:22px;}
.cal .inactive{cursor:default;background-color:#f5f5f5;}
.cal .active{background-color:#666;}
.callegend .scheduled,.cal .scheduled{background-color:#3e799c;}
.callegend .completed,.cal .status425,.cal .status330,.cal .status220,.cal .status225,.cal .status135{background-color:#3ea123;}
.callegend .missed,.cal .status400, .cal .missed {background-color:#b20e0e;}
.callegend .multi,.cal .multi{background-color:#5d43ba;}
.cal .active{border-color:#888;background-image:url(/Images/forms/hover.png);background-repeat:no-repeat;background-position:center center;}
.cal .active a{font-weight:bold;color:#fff;}
.cal .status425 a,.cal .status330 a,.cal .status220 a,.cal .status225 a,.cal .status135 a,.cal .scheduled a,.cal .status400 a,.cal .multi a{color:#fff;}
.callegend{padding:5px;width:420px;position:relative;left:50%;margin:0 0 5px -210px;}
.callegend li{float:left;margin:0 15px;}
.callegend li div{display:inline-block;float:left;width:12px;height:12px;border:1px solid #d3d3d3;margin:0 2px;vertical-align:text-top;}
/* -- OASIS -- */
.verttab{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;width:220px;padding-top:10px;position:absolute;top:0;bottom:0;left:0;border:solid 1px #b8b8b8;}
.verttab li{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;display:block;border:solid 1px #b8b8b8;border-right:0;width:205px;height:22px;padding-left:5px;margin:0 0 0 9px;line-height:22px;}
.verttab .ui-state-hover{background:#dce6f5;border-color:#688caf;margin-left:6px;width:208px;}
.verttab .ui-tabs-selected{cursor:default;margin-left:2px;width:213px;background:#fff;}
.verttab li a{cursor:pointer;color:#333 !important;display:block;width:205px;height:22px;}
.general{position:relative;height:100%;overflow:auto;margin-left:222px;border:solid 1px #b8b8b8;border-left:0;z-index:99;}
fieldset .tobacco,fieldset .cancer{width:100px !important;margin:0 5px;}
fieldset .instructions{text-align:left;}
fieldset .instructions p{margin:10px 0;}
fieldset .instructions li{display:block;}
fieldset .instructions li li{margin-left:70px;}
fieldset .instructions li p{display:block;margin:0 0 0 65px;}
fieldset .instructions li li p{margin:0 0 0 15px;}
.OasisContainer .ui-slider{width:355px;}
table.icdCodes td{  border-top:solid 1px DarkGray; padding:5px 0px 5px 0px; vertical-align:bottom;}
table.bordergrid td {  border-top:solid 1px DarkGray; padding:5px 5px 5px 5px; vertical-align:bottom;}
table.bordergrid th{  border-top:solid 1px DarkGray; padding:5px 5px 5px 5px; vertical-align:bottom;}
table.bordergrid td { border-right:solid 1px DarkGray;}
table.bordergrid th { border-right:solid 1px DarkGray; }
table.bordergrid td:last-child ,table.bordergrid th:last-child{border-right:0px;}
table.bordergrid th.fiexdwidthsamll {width:70px;}
table.bordergrid {border:solid 1px DarkGray;border-collapse:collapse;}
fieldset .shade{position:absolute;top:0;right:17px;bottom:0;left:0;background:url(/Images/gui/shade.png);z-index:1;}
fieldset div .shade{right:0;}
/* Oasis export */
.oasisExport {border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:20px;}
.oasisExport thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.oasisExport thead td{background:#fff;}
.oasisExport thead th{border:solid 1px #aaa;}
.oasisExport.noborders thead th{border:0 none;}
.oasisExport td{border:solid 1px #d3d3d3;padding:2px;}
.oasisExport td.align_center{width:100px;}
.oasisExport tr.odd td{background:#fffcf2;}
.oasisExport tr.even td{background:#e6f6ff;}
#generateOasis table,#generateExportedOasis table{background-color:#d6e5f3;}
/* -- Tooltip -- */
#tooltip{background:url(/Images/gui/tooltip_note.png) no-repeat top left;line-height:18px;position:fixed;z-index:99;width:142px;padding:25px;height:141px;opacity:0.85;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';}
#tooltip.blue_note{background-image:url(/Images/gui/tooltip_note_blue.png);}
#tooltip.red_note{background-image:url(/Images/gui/tooltip_note_red.png);}
#tooltip .body{max-height:147px;overflow:hidden;}
#tooltip.calday{width:auto;height:auto;padding:10px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.tooltip_oasis{margin:0 0 0 3px;font-weight:bold;border:solid 1px #aaa;background-color:#c3d8f1;color:#fff;cursor:pointer;width:16px;line-height:16px;text-align:center;display:inline-block;}
.tooltip{background:url(/Images/icons/note.png) no-repeat top left;height:16px;width:16px;display:block;}
.tooltip.blue_note{background-image:url(/Images/icons/note_blue.png);}
.tooltip.red_note{background-image:url(/Images/icons/note_red.png);}
.tooltipbox{border:solid 1px #d3d3d3;margin:-200px 0 0 -250px;padding:10px;overflow:hidden;position:fixed;width:500px;height:400px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;top:50%;left:50%;z-index:100;color:#333;}
.tooltipbox .closer{position:absolute;top:5px;right:5px;cursor:pointer;width:15px;height:15px;line-height:15px;text-align:center;font-weight:bold;}
.tooltipbox h3{margin:3.5px 0;font-size:13px;}
.tooltipbox .content{height:120px;padding:5px;background:#fffcf2;overflow:auto;}
.tooltipbox .intent{height:65px;}
/* -- Dashboard -- */
.widgets{width:33.33%;float:left;}
.widget{border:solid 1px #aaa;margin:10px;overflow:hidden;}
.widget a:hover{text-decoration:underline;}
.widget-head{background:#d4e6fc url(/Images/gui/widget_title.png) repeat-x top;border-bottom:solid 1px #d3d3d3;color:#943a43;height:24px;text-align:center;}
.widget-head h5{font-weight:bold;line-height:22px;}
#intro_widget .widget-content div{padding:5px 10px;}
.widget-content{background:#fffcf2;height:210px;position:relative;font-weight:normal !important;}
.widget-more{position:absolute;bottom:-1px;right:20px;padding:4px;background-color:#eee;border:solid 1px #aaa;}
.widget-more a{color:#af1e2d;}
.widget-more a:hover{display:block;margin:5px;font-weight:bold;}
.weatherFeed{color:#94461e;}
.widget-content .t-grid{font-weight:normal !important;}
.widget-placeholder{border:2px dashed;margin-bottom:10px;}
.content .widgets{margin:0 10px;}
.widget-head a{height:16px;outline:none;position:absolute;text-indent:-9999em;top:5px;width:16px;}
.weatherFeed{position:relative;max-width:350px;margin:0 auto;padding-left:20px;}
.weatherItem{background-position:center center;background-repeat:no-repeat;height:180px;width:100%;position:absolute;top:-60px;left:10%;z-index:100;}
.weatherTemp{font-size:2.2em;position:absolute;right:20px;top:-10px;font-weight:bold;}
.weatherRange,.weatherWind{font-size:0.8em;position:absolute;right:20px;}
.weatherRange{top:42px;}
.weatherWind{top:28px;}
.weatherFeed a{color:#94461e;text-decoration:underline;}
.weatherCity{font-size:1.2em;text-transform:uppercase;font-weight:bold;}
.weatherDesc{margin-bottom:0.4em;font-weight:bold;}
.weatherLink{text-align:left;font-size:0.8em;}
#plugin_container{width:285px;height:140px;position:relative;overflow:hidden;font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;color:#fff;margin:0 auto;}
#digital_container{width:285px;height:140px;position:absolute;top:0;left:0;z-index:98;}
#clock{float:left;}
#hours,#minutes{width:140px;height:140px;float:left;position:relative;}
#minutes{margin-left:4px;}
#hours_bg,#minutes_bg{width:100%;height:100%;position:absolute;top:2;left:0;z-index:99;}
.first_digit{width:50px;height:100%;position:absolute;top:2;left:20px;z-index:100;}
.second_digit{width:50px;height:100%;position:absolute;top:2;left:70px;z-index:100;}
.line{width:120px;height:2px;background:#efefef;position:absolute;top:69px;left:10px;z-index:101;font-size:1px;}
#am_pm{position:absolute;top:110px;left:90px;z-index:110;}
#messages_widget .t-grid-header{display:none;}
.widget .t-grid-header,.widget .t-header{background:#f2e7e6 url(/Images/gui/widget_grid_header.png) repeat-x top center;}
#newsfeed_widget{padding:4px;}
#newsfeed_widget .title{font-size:12px;font-weight:bold;}
#newsfeed_widget .date{color:#333;font-style:italic;font-size:11px;}
#newsfeed_widget .post{overflow:hidden;height:94px;border-top:solid 1px #ccc;position:relative;padding:0;}
#newsfeed_widget ul li:first-child{border-top:0;}
#newsfeed_widget .post a{border:solid 1px #fffcf2;display:block;height:96px;padding:0 2px 5px;}
#newsfeed_widget .post a:hover{border-color:#ccc;text-decoration:none;background-color:#dce6f5;}
#newsfeed_widget .summary{color:#333;}
#messagesWidgetContent input.radio{margin-top:6px;}
/* -- Billing Center --*/
.claim{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:10px; float:left}
.claim thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.claim thead td{background:#fff;}
.claim thead th{border:solid 1px #aaa;}
.claim.noborders thead th{border:0 none;}
.claim td{border:solid 1px #d3d3d3;padding:2px;}
.claim td.align_center{width:100px;}
.claim tr.odd td{background:#fffcf2;}
.claim tr.even td{background:#e6f6ff;}
#FinalTabStrip{position:absolute;top:0;right:0;bottom:0;left:0;}
#FinalTabStrip li.t-state-active{z-index:2;}
#FinalTabStrip .t-state-active{background-color:#fff;}
#FinalTabStrip .t-content{min-height:250px;z-index:1;position:absolute;top:42px;right:0;bottom:0;left:0;overflow:auto;}
/* -- NEW -- */
.billing ol{font-weight:normal;}
.billing ul,.billing ol{border:1px solid #888;margin:5px 2px;}
.billing ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;}
.billing ul li,.billing .discpiline-title{font-weight:bold;}
.billing li span{display:inline-block;}
.billing li{display:block;padding:1px 20px;}
.billing ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none;}
.billing li a{color:#000;}
.billing li.even,.billing .discpiline-title{background-color:#f7efd5;}
.billing li.hover{border-color:#888;}
.billing li.ready.hover{background:#d7f2db url(/Images/gui/bill_ready.png) repeat-x scroll center top;}
.billing li.notready.hover{background:#f2d9d7 url(/Images/gui/widget_grid_header.png) repeat-x scroll center top;}
.billing li img{vertical-align:middle;}
.billing li .rapcheck,.billing li .visitunits,.billing li .visitcharge{width:5%;}
.billing li .rapname,.billing li .sumdesc{width:30%;}
.billing li .supply{width:50%;}
.billing ol .rapname,.billing h3{font-weight:bold;font-size:14px;line-height:16px;}
.billing li .rapid,.billing li .visitdate,.billing li .visithcpcs{width:15%;}
.billing li .rapeps{width:20%;}
.billing li .rapicon{width:9%;text-align:center;}
.billing li .finalicon{width:6%;text-align:center;}
.billing ul{margin-top:20px;}
.billing .ready .rapname{color:#00f;text-decoration:underline;}
.billing li .visittype,.billing li .visitstatus{width:25%;}
#FinalTabStrip li.t-item{font-weight:normal !important;margin:0 5px -42px 0;font-size:14px;}
#FinalTabStrip li.t-item strong{font-weight:bold !important;text-align:center;}
#FinalTabStrip fieldset{border:1px solid #888;}
/* -- Visit Note -- */
table.visitNote{width:100%;border-right:solid 0.25px #8B8878;border-bottom:solid 0.25px #8B8878;border-left:solid 0.25px #8B8878;}
table.visitNote  th ,table.visitNote  tr.titleTr td,table.visitNote  td { text-align:center; border-right:solid 1px #CDC8B1; border-bottom:0px; }
table.visitNote  tr.titleTr td {background:#F0F8FF;}
table.visitNote  th{background:#F0F8FF; margin:0px; vertical-align:middle;}
table.visitNote  td{ text-align:left; padding-left:10px; padding-right:10px; border-bottom:solid 0.25px #8B8878;border-right:0px; }
table.visitNote tr:last-child  th , table.visitNote tr:last-child td{ vertical-align:top;}
table.visitNote  th:last-child { border-bottom:solid 0.25px #8B8878;border-right:0px; }
table.visitNote tr:last-child td:last-child{ border-bottom:0px;border-right:0px; }
table.visitNote.two th, table.visitNote.two td {width:50%;}
table.visitNote.three  th , table.visitNote.three  td{ width:33.33333%; }
table.visitNote.four  th , table.visitNote.four  td{ width:25%; }
th div.five,td div.five{width:20%; display:block; float:left; padding-top:5px; padding-bottom:5px; }
th div.four ,td div.four{width:25%; height:100%; display:block; float:left; padding-top:5px; padding-bottom:5px; }
th.four ,td.four{width:25%; height:100%; display:block; float:left; padding-top:5px; padding-bottom:5px; }
th div.twoThird,td div.twoThird{width:66.66%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.three,td div.three{width:33.33333%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.two,td div.two{width:49.9%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.seven,td div.six{width:16.0%; display:block; float:left; padding-top:5px; padding-bottom:5px; text-align:center;}
th div.seven,td div.seven{width:14%; display:block; float:left; padding-top:5px; padding-bottom:5px; text-align:center;}
th div.eight,td div.eight{width:12.5%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
th div.one,td div.one{width:100%; display:block; float:left; padding-top:5px; padding-bottom:5px;}
td div.comment {  padding-top:5px;}
td div.newRow{ display:block; float:left; width:100%; padding-top:5px;}
table.visitNote tr td div.newRow:first-child {border-top: 0px; }
td div.break{display:block; float:left; width:100%}
.visitContainer{padding:5px 20px 5px 20px; height:auto; display:block;}
table.visitNote label {color:#595959; font-weight:normal;}
table.visitNote {color:#595959;}
table.visitNote th {color:black;}
table.visitNote tbody span{width:90px; display:block;float:left; text-align:left;}
table.visitNote tbody span.visitTitle{ border-top:0px; width:100%; text-align:center; font-weight:bold; color:Black; height:20px;}
table.visitNote tfoot tr td:first-child{ border-top:solid 0.25px #8B8878; }
table.visitNote tfoot tr td:last-child{padding:5px; border-bottom:0px; border-right:0px; border-left:0px;width:100%; text-align:center;}
table.visitNote tbody span.timeEntry_wrap{display:block; width:auto; float:left;}
table.innerTable {width:100%; border:0px; padding-bottom:5px;}
table.visitNote table.innerTable th , table.visitNote table.innerTable td {border:0px; text-align:center; padding:3px 0 0px 0;}
table.visitNote tr td .date {width:100px;}
table.hha {width:100%;border-bottom:solid 0.25px #8B8878;border-left:solid 0.25px #8B8878; margin:2px 0px 2px 0px;}
table.hha td ,table.hha th {border-top:solid 0.25px #8B8878;border-right:solid 0.25px #8B8878; }
table.hha td {padding:2px 0px 2px 0px; text-align:center;}
table.hha th.fixedWidth {width:65px;padding:2px 0px 2px 0px;}
table.hha tr td.left {text-align:left; padding-left:10px;}
table.hha tr td .date {width:100px;}
table.hha th ,table.visitNote th ,table.hha tr td.titleTr{color:black; font-weight:bold; padding:2px 0px 2px 0px;background:#F0F8FF;}
div.rightBorder {border-right:solid 0.25px #8B8878;}
.diagnosisBox{width:150px; border-color:White;}
div.buttons li input {background:transparent; color:White;border:1px solid #51614A;color:#FFFFFF;display:block;height:19px;padding:1px 10px; margin-bottom:10px;}
.vitalWidth{width:86px;}
.painWidth{width:100px;}
.skinWidth{width:100px;}
table.nostyle{background-color:White; }
table.nostyle th ,table.nostyle td { border:0px;background:White;}
table.nostyle tfoot tr td:first-child, table.nostyle tr:last-child th,table.nostyle tr:last-child td,table.nostyle tr td { border:0px; }
table.nostyle tfoot tr td:last-child{ border:0px;}
.noteTextArea {padding-right:5px;}
.noteTextArea textarea {width:93%;}
.visitNote .margin {margin-left:20px;}
.indent {padding-right:5px; padding-left:5px;}
.devider {border-right:solid 0.5px Lightgray;  height:100% !important; display:inline-block;}
.visitNote .fixed {padding-right:5px;}
/* -- User Licenses -- */
.currentlicenses { margin: 10px 10px 20px; position: relative; height: auto; display: block; min-height: 150px; }
.currentlicenses .t-grid { left: 0; right: 0;}
.currentlicenses .t-grid-content { height: auto !important;overflow: auto; top: 27px; }
/* -- medication -- */
.medicationbmargin { margin-bottom: 5px;}
.medication .t-grid-content{top:65px !important;}
.medication{height:auto;background-color:#d6e5f3;padding:0;}
.medication legend{margin-left:10px;}
#OasisMedicatonGrid {width:100%; display:block; height:285px; float:left;}
#485MedicationGrid {width:100%; display:block; height:285px;}
.t-grid-add {float:left;}
.medication .t-grid table {border:0 none; border-collapse:separate; empty-cells:show; width:100%; padding:2px 0px 2px 0px}
.medication .t-grid-header table , .t-grid-content table {table-layout:fixed;}
.medication table input,.medication table select {width:100%;}
.medication .t-grid{position:relative!important;height:auto;min-height:200px;left:0px;right:7px;border-top-width:0;}
.report_links { padding: 4px;}
.report_links .title{font-size:12px;font-weight:bold;}
.report_links .link{overflow:hidden;height:22px;position:relative;padding:0;}
.report_links ul li:first-child{border-top:0;}
.report_links .link a{border:solid 1px #fffcf2;display:block;height:15px;padding:0 2px 5px;}
.report_links .link a:hover{border-color:#ccc;text-decoration:none;background-color:#dce6f5;}
.medication table input,.medication table select {width:auto;}
#OasisMedicatonGridform input[name='StartDate']{width:65px;}
#window_medicationdischarge {width:250px; height:250px;}
.dischargeMedication { background-color: #fff; padding: 10px; width: 470px;}
.darkgreen { color: #238e23; }
.red {background-color:#f08080;}
.req_red{color:#a71111;font-weight:bold;top:0;right:20px;font-size:1.4em;}
.row .req_red{right:-5px;}
.req_legend{top:0;left:0;right:0;text-align:center;font-weight:bold;}
.t-grid-new-row #DCDate {display:none;}
.medication .t-grid .t-status {margin:0px;}
.medication .fixedinputWidth{width:50px;}
.woundCare{width:100%;background-color:#e6e6fa;border-left:solid 0.25px #d3d3d3; border-top:solid 0.25px #d3d3d3;}
.woundCare tr td , .woundCare tr th {text-align:left; padding-bottom:5px; border-right:solid 0.25px #d3d3d3; border-bottom:solid 0.25px #d3d3d3; padding-left:5px;}
.woundCare tr td.align_center , .woundCare tr th.align_center{text-align:center;}
.woundCare tr td:first-child , .woundCare tr th:first-child{padding-left:10px;padding-right:2px;}
.woundCare .width {width:180px;}
.woundCare select.width {width:183px;}
.woundCare .width .t-input {width:161px;}
.woundCare .woundPad{margin-bottom:5px;}
.woundCare input.uploadWidth,input.uploadWidth {width:100px;}
table.woundCare.oasisWound {background-color:#fffcf2;}
table.woundCare.oasisWound tr td:first-child , table.woundCare.oasisWound tr th:first-child{width:100px;}
table.woundCare.oasisWound .t-input {width:auto;}
/* -- validation -- */
div.validationContainer table.form thead tr:first-child th {text-align:center; border-bottom:1px dotted #ddd;}
div.validationContainer table.form tbody tr td,div.validationContainer table.form thead tr th {text-align:left; border-bottom:1px dotted #ddd; margin:2px auto; padding:2px 0;}
/*--case management & user schedule tasks--*/
#caseManagementContentId .t-grid-content,#myScheduledTasksContentId .t-grid-content{position:relative; top:0;}
#caseManagementContentId .t-grid,#myScheduledTasksContentId .t-grid{top:30px;}
#window_caseManagement_content .buttons,#window_listuserschedule_content .buttons{background-color:#d6e5f3;}
/*-- Load Print Views --*/
#shade{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;z-index:11;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';}
#printbox,#validationbox{position:fixed;height:85%;top:5%;z-index:12;padding:2px;background-color:#d3d3d3;width:950px;left:50%;margin-left:-475px;}
#printview,#oasis_validation{width:100%;height:100%;overflow-x:hidden;border:0 none;}
#printcontrols,#oasis_validation_controls{position:fixed;z-index:12;top:90.5%;height:25px;left:50%;padding:5px 2px;width:950px;margin-left:-475px;background-color:#eee;line-height:20px;border-top:solid 1px #aaa;margin-top:-3px;}
#printreturnreason{position:fixed;left:50%;margin-left:-290px;bottom:9.5%;background:#fffcf2;width:580px;height:200px;display:none;border:solid 1px #aaa;text-align:center;}
#printreturnreason textarea{width:560px;height:160px;}
#printreturnreason label{font-size:14px;line-height:14px;margin:5px;display:block;}
/*-- Patient Info Popup --*/
#patientinfo{background-color:#fff;}
.bigtext{font-size:17px;font-weight:bold;font-family:Arial;}
.shortrow{width:400px;}
.shortrow label{width:120px;}
/*-- Nursing Visit Forms --*/
.nursing{text-align:center;width:100%;color:#333;border-spacing:10px 3px;}
.nursing label{text-align:left;}
.nursing th{background:url(/Images/forms/nursing-th.jpeg) repeat-x scroll center top #f0f8ff;border:1px solid #9bb6cf;font-weight:bold;padding:2px;}
.nursing th em{position:absolute;right:30px;}
.nursing td{border:1px solid #aaa;padding:5px;}
.nursing .third{width:30%;padding:0 5px;display:inline-block;}
.nursing .half{width:45%;padding:0 5px;display:inline-block;}
.nursing table td,.nursing table th{background:none;border:0 none;padding:0 5px;}
.nursing table{width:100%;}
/*-- Misc --*/
.medDiv{margin:10px 10px 20px 10px;position:relative;}
.mediumWidth{width:120px;}
fieldset label.smallFont{font-size:11.25px;font-style:italic;}
table.masterCalendar{border-top:0;width:100%;background-color:#fff;}
table.masterCalendar h2{padding:0;}
table.masterCalendar th{font-weight:bold;line-height:95%;border:solid 1px #ccc;border-bottom:none;border-right:none;}
table.masterCalendar td{padding:1px 5px;}
table.masterCalendar th{padding:3px 5px;}
table.masterCalendar tbody th{padding:8px 5px;}
table.masterCalendar td{text-align:center;border:solid 1px #ccc;width:150px;}
table.masterCalendar td span{font-size:10px;width:100%;color:#474747;}
table.masterCalendar tr td:first-child{text-align:left;border:solid 1px #ccc;background:#f7f8fc url(/images/text-tabs-bg.gif) repeat-x;text-align:center;font-weight:bold;vertical-align:middle;}
table.masterCalendar th{background:#f7f8fc url(/images/text-tabs-bg.gif) repeat-x;text-align:center;}
table.masterCalendar.oasisCalendar td{height:30px;}
table.masterCalendar.oasisCalendar td span{font-size:11.5px;}
.events{display:none;text-align:left;position:relative;}
.events ul{text-align:left;position:absolute;padding:5px;background:#e7ecf2 url(../img/popup.png) no-repeat;color:#fff;border:1px solid #000;font-size:15px;width:200px;z-index:999999;list-style:none;color:#444;}
.events li{padding-bottom:5px;}
.events li span{display:block;font-size:12px;text-align:left;}
.events li span.eventTitle{font-weight:bold;color:#222;}
/*-- Insurance --*/
table.insurance { border-collapse:collapse; }
table.insurance th.borderRight ,table.insurance td.borderRight{ border-right:solid 1px black;}
table.insurance th.borderBottom ,table.insurance td.borderBottom{ border-bottom:solid 1px black;}
form table.insurance td label.error { position:relative; float:left; width:2px !important; display:none;}

#window_hhasVisit form label.error,#window_lvnsVisit label.error {position:relative; float:left;}

.redLink {color:Red;}
.blueLink {color:Blue; text-decoration:underline;}