﻿a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,figure,footer,form,h1,h2,h3,h4,h5,h6,hFeader,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0;margin:0;outline:0;padding:0;font:12px/1 'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;}
strong{font-weight:bold;}
.main{padding:10px;}
.main div{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-khtml-border-radius:5px;box-shadow:0 2px 3px #666;-moz-box-shadow:0 2px 3px #666;-webkit-box-shadow:0 2px 3px #666;-o-box-shadow:0 2px 3px #666;-khtml-box-shadow:0 2px 3px #666;border:1px solid #888;padding:5px;margin:5px 0;}
.title{background:#f0f8ff url(/Images/forms/nursing-th.jpeg) repeat-x scroll center top !important;text-align:center;}
a{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-khtml-border-radius:5px;display:block;text-decoration:none;color:#000;background-color:#fffcf2;}
a:hover{background-color:#d4d7d9;}
img{vertical-align:middle;padding:0 5px;}
.description{display:inline-block;float:right;padding:0 5px;width:620px;height:46px;overflow:hidden;}
.red{background-color:#f08080;}
.hipps{background-color:#fffcf2;text-align:center;}
.hipps span{display:block;}
.hipps label,.hipps strong{text-align:left;display:inline-block;width: 225px;padding:0 10px;}
.hipps label{text-align:right;}
