﻿.page{background:#fff url(/Images/Print/Patient/comnote.jpeg) no-repeat center center}
.content{top:255px;right:50px;bottom:150px;left:50px;overflow-y:auto;line-height:1.5}
.patient{top:140px;right:415px;bottom:835px;left:50px;font-size:10pt}
.physicianname{top:115px;right:50px;bottom:920px;left:555px;font-size:14pt;font-weight:bold}
.physician{top:140px;right:50px;bottom:835px;left:415px;font-size:10pt}
.date{top:228px;right:555px;bottom:795px;left:95px}
.sign{top:990px;right:210px;bottom:45px;left:50px}
.signdate{top:990px;right:50px;bottom:45px;left:610px}