﻿.page{background:#fff url(/Images/Print/Patient/profile.jpeg) no-repeat center center}
.content{top:745px;right:50px;bottom:45px;left:50px;overflow-y:auto;line-height:1.5}
.patientname{top:113px;right:410px;bottom:915px;left:190px;font-size:16pt}
.patient{top:140px;right:415px;bottom:835px;left:50px;font-size:12pt}
.id{top:219px;right:630px;bottom:815px;left:75px;font-size:12pt}
.mcare{top:219px;right:410px;bottom:815px;left:268px;font-size:12pt}
.soc{top:118px;right:235px;bottom:916px;left:460px;font-size:12pt}
.bday{top:118px;right:50px;bottom:916px;left:655px;font-size:12pt}
.sex{top:139px;right:235px;bottom:895px;left:460px;font-size:12pt}
.marital{top:139px;right:50px;bottom:895px;left:655px;font-size:12pt}
.office{top:159px;right:50px;bottom:875px;left:460px;font-size:12pt}
.race{top:179px;right:50px;bottom:855px;left:460px;font-size:12pt}
.height{top:200px;right:235px;bottom:835px;left:460px;font-size:12pt}
.weight{top:200px;right:50px;bottom:835px;left:655px;font-size:12pt}
.cert{top:219px;right:50px;bottom:815px;left:510px;font-size:12pt}
.triage{top:243px;right:235px;bottom:797px;left:145px;font-size:9pt}
.refdate{top:240px;right:40px;bottom:797px;left:689px;font-size:12pt}
.priins{top:287px;right:410px;bottom:748px;left:130px;font-size:12pt}
.secins{top:317px;right:410px;bottom:717px;left:130px;font-size:12pt}
.terins{top:347px;right:410px;bottom:686px;left:130px;font-size:12pt}
.ecname{top:287px;right:50px;bottom:748px;left:515px;font-size:12pt}
.ecphone{top:317px;right:50px;bottom:717px;left:515px;font-size:12pt}
.ecralation{top:347px;right:50px;bottom:686px;left:515px;font-size:12pt}
.allergies{top:414px;right:410px;bottom:585px;left:47px;font-size:12pt}
.pharm{top:414px;right:50px;bottom:616px;left:515px;font-size:12pt}
.pharmphone{top:444px;right:50px;bottom:589px;left:515px;font-size:12pt}
.pridiag{top:508px;right:410px;bottom:524px;left:210px;font-size:12pt}
.secdiag{top:538px;right:410px;bottom:495px;left:210px;font-size:12pt}
.clinician{top:568px;right:410px;bottom:462px;left:210px;font-size:12pt}
.caseman{top:598px;right:410px;bottom:432px;left:160px;font-size:12pt}
.startofcare{top:628px;right:410px;bottom:402px;left:160px;font-size:12pt}
.freq{top:656px;right:410px;bottom:344px;left:160px;font-size:12pt}
.phys{top:508px;right:50px;bottom:524px;left:515px;font-size:12pt}
.physaddress{top:538px;right:50px;bottom:462px;left:515px;font-size:12pt}
.physphone{top:598px;right:50px;bottom:432px;left:515px;font-size:12pt}
.physfax{top:628px;right:50px;bottom:402px;left:515px;font-size:12pt}
.physnpi{top:656px;right:50px;bottom:372px;left:515px;font-size:12pt}