﻿<%@ Page Language="C#" MasterPageFile="~/Tool/Tool.Master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ToolHeader">Axxess Tool Page</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="ToolContent">
        <% string password = "Axxess235";
            var saltedHash = new SaltedHash();
            string newSalt = string.Empty;
            string newHash = string.Empty;

            saltedHash.GetHashAndSalt(password, out newHash, out newSalt);
             %><br />
        <%= newHash %><br />
        <%= newSalt%>
</asp:Content>
    