﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<ScheduleEvent>>" %>
<% string pagename = "ScheduleDeviation"; %>

        <% =Html.Telerik().Grid(Model).Name(pagename + "Grid")        
             .Columns(columns =>
             {
             columns.Bound(m => m.PatientIdNumber).Title("MRN").Width(70);
             columns.Bound(m => m.DisciplineTaskName).Sortable(false).Title("Task");
             columns.Bound(m => m.PatientName).Title("Patient");
             columns.Bound(m => m.StatusName).Sortable(false).Title("Status");
             columns.Bound(p => p.UserName).Title("Employee").Width(155);
             columns.Bound(m => m.EventDate).Sortable(false).Title("Schedule Date").Format("{0:MM/dd/yyyy}").Width(90);
             columns.Bound(m => m.VisitDate).Sortable(false).Title("Visit Date").Format("{0:MM/dd/yyyy}").Width(80);
           })
                //   .DataBinding(dataBinding => dataBinding.Ajax().Select("ScheduleDeviation", "Report", new { BranchId = Guid.Empty, StartDate = DateTime.Now.AddDays(-59), EndDate = DateTime.Now }))
                       .Sortable(sorting =>
                          sorting.SortMode(GridSortMode.SingleColumn)
                              .OrderBy(order =>
                              {
                                  var sortName = ViewData["SortColumn"] != null ? ViewData["SortColumn"].ToString() : string.Empty;
                                  var sortDirection = ViewData["SortDirection"] != null ? ViewData["SortDirection"].ToString() : string.Empty;
                                  if (sortName == "PatientIdNumber")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.PatientIdNumber).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.PatientIdNumber).Descending();
                                      }

                                  }
                                  else if (sortName == "PatientName")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.PatientName).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.PatientName).Descending();
                                      }

                                  }
                                  else if (sortName == "UserName")
                                  {
                                      if (sortDirection == "ASC")
                                      {
                                          order.Add(o => o.UserName).Ascending();
                                      }
                                      else if (sortDirection == "DESC")
                                      {
                                          order.Add(o => o.UserName).Descending();
                                      }

                                  }

                              })
                              )
                   .Scrollable().Footer(false) %>
  
<script type="text/javascript">
    $("#<%= pagename %>Grid div.t-grid-header div.t-grid-header-wrap table tbody tr th.t-header a.t-link").each(function() {
        var link = $(this).attr("href");
        $(this).attr("href", "javascript:void(0)").attr("onclick", "Report.RebindReportGridContent('<%= pagename %>','DeviationContent',{  BranchCode : \"" + $('#<%= pagename %>_BranchCode').val() + "\", StartDate : \"" + $('#<%= pagename %>_StartDate').val() + "\", EndDate : \"" + $('#<%= pagename %>_EndDate').val() + "\" },'" + U.ParameterByName(link, '<%= pagename %>Grid-orderBy') + "');");
    });
    $('#<%= pagename %>Grid .t-grid-content').css({ 'height': 'auto' }); 
</script>