﻿ 
.pagebreak
{
	page-break-before:always;
}

H2
{
	font-size :120%;
	color :#333399;
	font-weight :bold;
}

.Title, .title
{
	font-size :10pt;
	font-weight :bold;
}

.times
{
	font-size: 8pt;
	font-family:Times New Roman;
}

.Commentborder
{
	border :1px solid #313A6A;
}

.draft
{
	background-image:url("/images/draft50.jpg");
	background-repeat:no-repeat;
	background-position: center;
}

.RedComment
{
	font-family :Arial;
	font-size: 12pt;
	border :1px solid #fab19c;
	background :#fab19c;
}

.greenshade
{
}

.OasisNoRight
{
	border-bottom :1px solid;
	border-top :1px solid;
	border-right :none;
	border-left :1px solid;
}

.OasisNoTop
{
	border-bottom :1px solid;
	border-top :none;
	border-right :1px solid;
	border-left :1px solid;
}

.OasisNoBottom
{
	border-bottom :none;
	border-top :1px solid;
	border-right :1px solid;
	border-left :1px solid;
}

.OasisNoLeft
{
	border-bottom :1px solid;
	border-top :1px solid;
	border-right :1px solid;
	border-left :none;
}

.OasisBorder
{
	border-bottom :1px solid;
	border-top :1px solid;
	border-right :1px solid;
	border-left :1px solid;
}

.OasisNoLeftComment
{
	border-bottom :1px solid;
	border-top :1px solid;
	border-right :1px solid;
	border-left :none;
	background :#e1e1e1;
}

.OasisNoTopComment
{
	border-bottom :1px solid;
	border-top :none;
	border-right :1px solid;
	border-left :1px solid;
	background :#e1e1e1;
}

.OASISComment
{
	background :#e1e1e1;
}

.tr0
{
	background-color :#eeeedd;
}

.tr1
{
	background-color :#ffffff;
}

.redtext
{
	color :#cc3300;
}

td
{
	font-size:10px;
	font-family:Arial;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
}

.AdditionalData
{
	font-size:8px;
	font-family:Arial;
	color:#000000;
}

.OASISheader
{
	font-family :Arial, Geneva, Helvetica, sans-serif;
	font-size: 10pt;
}

.NOD
{
	font-size:11px;
font-family:lucida console, lucida sans typewriter, monospace;
	color:#000000;
}

.OasisData
{
	font-size:12px;
	font-family:lucida console, lucida sans typewriter, monospace;
	color:#000000;
}

.485Data
{
	font-size:11px;
	font-family: Lucida console, lucida sans typewriter, monospace;
	color:#000000;
}

.OasisHeading
{
	font-family :Arial, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight :bold;
	background-color:#ededed;
}

.RedInputButton
{
	font-family :Arial;
	font-size: 7pt;
	font-weight :bold;
	border :1px solid #993333;
	background :#cc3333;
}

.OASIS485Border
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	vertical-align: top;
}

.small
{
	font-size: 9px;
	font-family: Arial, Arial, Helvetica, sans-serif;
}

.OASIS485times
{
	font-size: 12px;
	font-family:lucida console, lucida sans typewriter, monospace;
	word-wrap: break-word;
}

.Signature
{
	font-size:13px;
	font-family:lucida console, lucida sans typewriter, monospace;
	color:#000000;
}

.ClaimData
{
	font-size:12px;
	font-family:lucida console, lucida sans typewriter, monospace;
	color:#000000;
	font-weight :bold;
	text-decoration:underline;
}

.UBData
{
	font-size:12px;
font-family:lucida console, lucida sans typewriter, monospace;
	color:#000000;
	font-weight :bold;
}

.NoBorder
{
	border:none;
}

.pTitle
{
	font-size :14pt;
	font-weight :bold;
}

.pForm
{
	font-size :10pt;
	font-weight :bold;
}

.pContent
{
	font-size :10pt;
font-family: lucida console, lucida sans typewriter, monospace;
}

H2
{
	font-size: 120%;
	color: #333399;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

h3
{
	font-size: 100%;
	font-weight: bold;
	color: #333399;
	font-family :Arial, sans-serif;
}

h1
{
	font-size: 140%;
	font-weight: bold;
	color: #333399;
	font-family: Arial, sans-serif;
}

.cellBorder
{
	border-style: solid solid solid solid;
	border-width:1px;
	border-color:#000000;
}

.cellBorderRightOpen
{
	border-top:solid Black;
	border-bottom:solid Black;
	border-left:solid Black;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
}

.cellBorderLeftOpen
{
	border-top:solid Black;
	border-bottom:solid Black;
	border-right:solid Black;
	border-top-width:1px;
	border-bottom-width:1px;
	border-right-width:1px
}

.cellBorderNoTop
{
	border-right:solid Black;
	border-bottom:solid Black;
	border-bottom-width:1px;
	border-right-width:1px;
}

.cellBorderNoBottom
{
	border-right:solid Black;
	border-right-width:1px;
	border-left:solid Black;
	border-left-width:1px;
	border-top:solid Black;
	border-top-width:1px;
}

.cellBorderNoTopOrBottom
{
	border-right:solid Black;
	border-right-width:1px;
	border-left:solid Black;
	border-left-width:1px;
}

.cellBorderNoLeftOrRight
{
	border-top:solid Black;
	border-top-width:1px;
	border-bottom:solid Black;
	border-bottom-width:1px;
}

.cellBorderRight
{
	border-right:solid Black;
	border-right-width:1px;
}

.cellBorderNoBottomOrLeft
{
	border-right:solid Black;
	border-right-width:1px;
	border-top:solid Black;
	border-top-width:1px;
}

.cellBorderNoBottomOrRight
{
	border-left:solid Black;
	border-left-width:1px;
	border-top:solid Black;
	border-top-width:1px;
}

.cellBorderLeft
{
	border-left:solid Black;
	border-left-width:1px;
}

.cellBorderBottom
{
	border-bottom:solid Black;
	border-bottom-width:1px;
}

.cellBorderTop
{
	border-top:solid Black;
	border-top-width:1px;
}

.cellBorderNoLeftOrTop
{
	border-right:solid Black;
	border-right-width:1px;
	border-bottom:solid Black;
	border-bottom-width:1px;
}

.cellBorderNoRightOrTop
{
	border-left:solid Black;
	border-left-width:1px;
	border-bottom:solid Black;
	border-bottom-width:1px;
}

.cellBorderThickBottom
{
	border-style: solid solid solid solid;
	border-width:1px 1px 2px 1px;
	border-color:#000000;
}

#formContainer
{
	width: 750px;
	border: 1px solid black;
}

.formDivider
{
	color: white;
	background-color: #4659A3;
	font-weight: bold;
	text-align: center;
}

.alignedCheckBoxes
{
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

.nowrap
{
	white-space: nowrap;
}

.hr
{
	height: 1px;
	width: 100%;
	color: #8D8D8D;
	background-color: #8D8D8D;
	border: 0;
}

.blackHr
{
	height: 1px;
	width: 100%;
	color: #000000;
	background-color: #000000;
	border: 0;
}

.yellowFormDivider
{
	color: black;
	background-color: #c7c99c;
	font-weight: bold;
	text-align: center;
}

.yellowFormDivider td
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
/*
Funky names were made so not to interfer with possible other CSS already in use. 
I do not recommend using this same CSS once we move over to new look. We may have a better naming convention in place by then.
*/

.formContainerWide table, .formContainerWide td, .formContainerWide th {vertical-align:top;}

/* Typography */

.formContainerWide a {color:#003399;text-decoration:none; font-weight:bold}
.formContainerWide a:focus, a:hover {color:#000;}

.form-bolded{font-weight:bold;}
.form-bolded14{font-weight:bold; font-size:12px}
/* End Typography */

/*general styles*/
table{margin:0px; padding:0px;}
.formContainerWide {width: 725px;border: 1px solid #999; vertical-align:baseline;}

/* section headers */
.formHeader{background:#f1f3f5; margin:0; padding:0; width: 750px;}
.formSectionHeaderBlue{font-size:14px; font-weight:bold; padding:5px 0 0 10px; background-color:#dce3f1; height:22px;border-top: 1px solid #fff; border-bottom: 1px solid #B0BCD9; width:740px; margin:0}

.formSectionHeader, .formSectionHeaderLeft, .formSectionHeaderLeftHalf, .formSectionHeaderHalf, .formSectionHeaderINNER, .formSectionHeaderFull {background-color: #cecea1; width:180px; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #ADAB72; border-bottom: 1px solid #ADAB72; margin:0px}

.formSectionHeader, .formSectionHeaderLeft, .formSectionHeaderLeftHalf, .formSectionHeaderHalf, .formSectionHeaderINNER, .formSectionHeaderFull {font-size:12px; font-weight:bold; height: 16px; padding:3px 0 0 10px;}

.formSectionHeaderINNER{border-left: none; border-right: none; width:198px;}

.formSectionHeaderLeft{border-left: none;width:180px;}

.formSectionHeaderLeftHalf{border-left: none; width:397px;}

.formSectionHeaderHalf{width:378px;}

.formSectionHeaderFull{border-left: none; width:725px;}

/*column widths  AND HEADERS for Custom Forms for print view!*/
table.three-column-width1 {width:240px}
table.three-column-width2 {width:240px}

.formSectionHeaderCF, .formSectionHeaderLeftCF, .formSectionHeaderCF2 {background-image:url(./images/task-header-grad-bg.png); background-position: bottom right; background-repeat:repeat-x; width:240px; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #ADAB72; border-bottom: 1px solid #ADAB72; margin:0px;background-color:#e0e0c1}

.formSectionHeaderCF, .formSectionHeaderLeftCF, .formSectionHeaderCF2{font-size:12px; font-weight:bold; height: 24px; padding:3px 0 0 10px;}

.formSectionHeaderLeftCF{border-left: none;width:248px;}
.formSectionHeaderCF{border-left: none;width:264px;}
.formSectionHeaderCF2{border-left: none;width:266px;}

/*column widths 
these are needed because they will be changed for print view!*/
table.vs-width {width:180px}
table.card-width{width:178px}
table.resp-width{width:177px}
table.neu-width{width:177px}

table.gu-width {width:180px}
table.mu-width{width:178px}
table.ps-width{width:187px}
table.pain-width{width:174px}

table.dnl-width {width:368px}
table.dnr-width{width:360px}

table.si-width {}
table.sil-width{width:368px}
table.sir-width{width:364px}

table.cpl-width {width:368px}
table.cpr-width{width:360px}

/*border Styles and HR*/
.form-td-indent{padding:0 0 0 20px;}

.formPaddingLeft{padding:5px 0 0 5px;}
.formPaddingLeftNoPaddingTop{padding:0px 0 0 5px;}
.formBorderLeft{border-left: 1px solid #bdc9e0; padding: 5px 5px 0 5px;}
.formBorder{border-left: 1px solid #bdc9e0; border-right: 1px solid #bdc9e0; padding: 5px 5px 0 5px;}

.formBorderLeftNoPaddingTop{border-left: 1px solid #bdc9e0; padding: 0px 5px 0 5px;}

/* hr */
.formSectionDivider{ border-top:1px solid #bdc9e0;}
.formSectionDividerThick{ border-top:3px solid #bdc9e0;}

/* These are the HRs that sit right above the headers */
.formSectionDividerNoSpace{ border-top:1px solid #bdc9e0;}
.formSectionDividerNoSpaceThick{ border-top:3px solid #bdc9e0;}

/* padding for top and bottom of tables if needed */
.form-paddingTop{padding-top:10px}
.form-paddingBottom{padding-bottom:10px}

/* not being used */
thead { display: table-header-group;}
tfoot { display: table-footer-group; }

.subscript{font-size:9px; vertical-align:bottom;}