@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: local('Fjalla One'), 
        local('FjallaOne-Regular'),
        url(../Content/fjallaone.woff) 
        format('woff');
}

/* GENERAL */
html {
    max-height: 100%;
    height: 100%;
}
body { margin:0; 
overflow-y: auto;

padding:60px 0px 20px 0px; 

font-family: Helvetica, sans-serif;  font-size: 14px;}
.fjalla { font-family: 'Fjalla One'; }
p { margin: 0 0 10px; }
iframe { border:none; }
form {margin:0;}

.table { max-width: none; }
.table .numeric { text-align:right; }
.table th .numeric { text-align:left;}
.table th.header-right { text-align:right;}

.title-yearly { width:2em; text-align:center; }
.title-monthly { width:8em; text-align:center; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.input-daterange input {margin:5px 0px;}
.add-on{line-height:30px;height:30px;background-color:#d6d6d6;display:block;margin:8px 0px;}

#update-account { margin-bottom:1em; }

#loading{
    position:absolute;top:0;bottom:0;right:0;left:0;background-color:rgba(0,0,0,0.5);z-index:2000;
}
#loading .animation{
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
    left:50%;
    background-color:#fff;
    border:1px solid black;
}

.animation i{font-size:50px;line-height:100px;width:100px;text-align:center;color:#888;}


/* BOOTSTRAP */
.form-inline .add-on { margin-top: 0; margin-bottom: 0; }
.form-inline .btn, .form-inline .btn-group { margin-top: 5px; margin-bottom:0;}
/* Modal */
.update-account-modal:hover { text-decoration: none; }
body.modal-open { overflow: hidden; }
@media (min-width: 767px) { .modal {width:50%;margin-left: -25%; } }
.modal-body{padding-right:30px;/*height:100%;*/}
.modal {bottom:10%;}
.modal-body td input {width:100%;}

/* ModalLeft */
#modalLeft {top:0;left:0;bottom:0; width:50%;margin-left:0%; }
#modalLeft .modal-body {position:absolute;height:initial;max-height:none;padding:0px 30px 0px 15px;bottom:60px;top:0;left:0;right:0;}
#modalLeft.modal.fade { left: -25%; -webkit-transition: opacity 0.3s linear, left 0.3s ease-out; -moz-transition: opacity 0.3s linear, left 0.3s ease-out; -o-transition: opacity 0.3s linear, left 0.3s ease-out; transition: opacity 0.3s linear, left 0.3s ease-out; }
#modalLeft.modal.fade.in {left:0;top:0;}
#modalLeft .modal-footer {position:absolute;bottom:0;right:0;left:0;}

/* ModalRight */
#modalRight .modal-header,#modalRight .modal-footer {display:none;}
#modalRight {top:0;right:0;bottom:0; width:50%;margin-right:0%; }
#modalRight .modal-body {height:100%;max-height:100%;padding:0px 30px 0px 15px;}
#modalRight.modal.fade { right: -25%; -webkit-transition: opacity 0.3s linear, right 0.3s ease-out; -moz-transition: opacity 0.3s linear, right 0.3s ease-out; -o-transition: opacity 0.3s linear, right 0.3s ease-out; transition: opacity 0.3s linear, right 0.3s ease-out; }
#modalRight.modal.fade.in {right:0;top:0%;}

/*
.my-modal {
    width:600px;
    height:300px;

    .modal-header {
        background-color:#ccc;
        button {
            font-size:30px;
        }
    }
    .modal-body {
        overflow-y: hidden;
        height: 100%;
        max-height:190px;
    }
}

.modal{position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}
*/

#manager-form-nav { position:absolute; }

/* APP SPECIFIC */
#chart0, #chart1 {
	width: 1020px;
	margin: 20px auto;
}

/* deprecated? */
#header th,#header-fixed th,#footer th,#footer-fixed th {background-color:#eef; color:#333}
.table th { text-align:center;}

#header td,#header-fixed td,#footer td,#footer-fixed td {font-weight:bold;text-align:center;background-color:#eeeeee;}

#header-fixed { position: fixed; 
display:none; 
top: 41px; 
width:auto; 
border-bottom: 1px solid #DDDDDD;
}
#footer-fixed { position: fixed; 
/*
display:none; 
*/
bottom: -20px; 
width:auto;
border-bottom: 1px solid #DDDDDD;
/*
left:20px;right:20px;
background-color:#aea; 
color:green;
*/
}
/* 
.table-bordered td:first-child ,table-bordered th:first-child { border-left-width:1px; }
.table-bordered ,.table-bordered td , .table-bordered th{border-color:green; }
tr td:not(:first-child) { border-left-color:#fff;}
tr:nth-child(odd) td { background-color:#ecf2ff;}
tr:nth-child(odd) td:not(:first-child) { border-left-color:#ecf2ff;}
th { background-color:#aea;color:green;border-color:green;}
#header-fixed th:first-child {
border-collapse:separate;
}
td , th { border: 1px solid green; }
*/

#controls { background: rgb(50,50,55); }
/*
#navBarInner {width:276px;float:left;display:none;background: rgb(0,100,130); padding:10px; border-bottom-right-radius: 5px;}
#navBarSide {background-color: rgb(0,100,130); border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; color: white; float: left;  padding:10px;cursor:pointer;}
.navBarhover{width: 300px !important;}
.navBarhover #navBarInner{display:block;}
.tabsd { cursor: pointer; color:rgb(150,150,150); background: rgb(50,50,55); padding: 4px 7px; }
.tab.active { background: rgb(240,240,245); color:black;  }
.tab-content {background:rgb(240,240,245); display:none; text-decoration:none; color:black; padding:10px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.tab-content.active { display:block; }
.mselect-list {display:block; height:200px !important;}
.mselect { width: auto !important; }
.ui-widget { font-size: inherit !important; font-family: inherit; text-transform:capitalize; }
.ui-widget-content { border: 1px solid rgb(200,200,200); }
.mselect-list-item { padding:1px; }
*/

#export { position: absolute; top:0px; right: 10px; z-index: 10; }


