﻿/* -- Grid Window Background Colour -- */
.wrapper.blue,.wrapper.blue .abs-bottom,.wrapper.blue h1{background-color:#d6e5f3;padding:.3em 0;border-top:.1em solid #83a2d4}
.wrapper.blue h1{padding:.3em 11em}
/* -- Telerik Grid Placement Overrides -- */
.t-grid{border-color:#83a2d4 !important;border-right:none !important;border-bottom:none !important;border-left:none !important}
.t-grid.position-relative{position:relative !important;top:1.5em}
.t-header,.t-grid-header{border-color:#83a2d4 !important}
.t-grid-toolbar{height:2.2em}
.t-grid-content{position:absolute;height:auto !important;top:2.2em;bottom:0}
.grid-stack{position:absolute;left:0;right:0}
.grid-stack.top{top:0;bottom:50%}
.grid-stack.bottom{top:50%;bottom:0}
.grid-stack.top.pending-claims{top:6.5em;bottom:45%}
.grid-stack.bottom.pending-claims{top:55%}
.grid-stack .buttons li{margin:.3em 0}
.t-grid.bottom-bar .t-grid-content{bottom:1.9em !important}
.top-gap{top:3em !important}
.top-gap.inbox .t-grid-content{top:7em !important}
.bottom-gap{bottom:3em !important}
.t-group-indicator,.t-grouping-header{display:none}
/* -- Nested in Fieldset -- */
fieldset .t-grid{position:relative;box-shadow:.1em .1em .5em #9da4ac}
fieldset .t-grid table{padding:0;border:.1em solid #83a2d4;border-top:0 none;width:100%;max-width:100%}
fieldset .t-grid-header tr th:last-child{border-right:0 none}
fieldset .t-grid-header .t-header,fieldset .t-grid-header .t-last-header{border-bottom-width:.1em}
/* -- Telerik Grid Filters and Search -- */
.grid-controls{padding:1em;width:65em;margin:0 auto 1em;
    box-shadow:.2em .2em .5em #aaa}
.grid-controls.short{width:35em}
.grid-controls label,.grid-controls input,.grid-controls div,.grid-controls a{vertical-align:middle}
.grid-controls .filter{display:inline-block;padding:0 1em}
.grid-controls .filter input,.grid-controls .filter select,.grid-controls .filter .multiSelect{width:10em}
.grid-controls.short .filter input,.grid-controls.short .filter select{width:20em}
.grid-controls .filter label{margin:0 .5em}
.grid-controls .filter .checkgroup label{margin:0;text-align:left}
/* -- Telerik Style Overrides -- */
.t-state-hover,.t-alt.t-state-hover,.ui-state-hover,.ui-accordion-content h6:hover{background-color:#d5dbe6}
.t-grid .t-state-hover,.t-grid .t-alt.t-state-hover{box-shadow:inset 0 0 .1em #000}
.t-state-selected{background-color:#abb8c9;font-weight:bold;
    box-shadow:inset 0 0 .1em #000;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cad2de',endColorstr='#abb8c9');
    background-image:-moz-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-o-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#83a2d4),to(#cad2de),color-stop(.75 #abb8c9))}
.t-grid .t-state-selected td,.t-state-hover td{border:0 none}
.t-grid-content .icon{cursor:pointer}
/* -- Acore Grid -- */
.acore-grid .sortable{cursor:pointer}
.acore-grid .arrow{margin:7px}
.acore-grid ul,.acore-grid ol{border:.1em solid #888;margin:0 1em 1em;
    box-shadow:.2em .2em .3em #aaa;
    border-radius:.4em}
.acore-grid ul{font-weight:bold;margin:.5em 1em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde8f5',endColorstr='#c3d8f1');
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5))}
.acore-grid h3{font-size:1.2em}
.acore-grid li > span{display:inline-block}
.acore-grid li{display:block;padding:.1em 1em}
.acore-grid ol{background-color:#fffcf2}
.acore-grid ol.loading{min-height:12em}
.acore-grid ol.dc{background-color:#ffeded}
.acore-grid ol li.even{background-color:#f7efd5}
.acore-grid ol.dc li.even{background-color:#f7d2d2}
.acore-grid ol li:first-child{border-top-left-radius:.4em;border-top-right-radius:.4em}
.acore-grid ol li:last-child{border-bottom-left-radius:.4em;border-bottom-right-radius:.4em}
.acore-grid ol li.hover{background-color:#b4e7c7;position:relative;
    box-shadow:0 0 .4em #004c26;
    background-image:-moz-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-o-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#b4e7c7),to(#e9f5ed))}
.acore-grid ol.dc li.hover,.acore-grid ol li.notready.hover{background-color:#f7b9b9;position:relative;
    box-shadow:0 0 .4em #4d2338;
    background-image:-moz-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-o-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#f7b9b9),to(#f7d2d2))}
.acore-grid .img{vertical-align:middle}
.acore-grid .sort-value{display:none}
.acore-grid input[type="checkbox"], .acore-grid input[type="radio"] {
    margin: 0.25em 0;
}
/* -- Column Widths -- */
.med-ls,.remit-count{width:2%}
.med-check,.grid-icon,.grid-number{width:3%}
.hosplog-icon,.elig-icon{width:5%}
.med-type{width:6%}
.med-startdate,.med-dischargedate,.remit-subaction,.grid-labeled-icon{width:8%}
.med-dcfrequency,.med-dcroute,.med-dcclassification{width:11%}
.med-frequency,.med-route,.med-classification,.allergy-action,.grid-12{width:12%}
.hosplog-date,.rap-mr,.final-mr,.elig-date{width:13%}
.med-name,.remit-action,.remit-id,.remit-payment,.elig-assigned,.elig-status,.rap-id{width:15%}
.med-interaction{width:18%}
.allergy-type,.rap-episode,.final-episode,.remit-claims,.remit-action,.grid-20{width:20%}
.med-dcdosage,.elig-task,.elig-episode,.final-name,.final-episode,.grid-25{width:25%}
.remit-date{width:26%}
.med-dosage{width:29%}
.hosplog-user,.final-patient,.episode-action,.grid-third{width:40%}
.hosplog-source,.med-interaction-name{width:40%}
.allergy-name,.episode-range{width:65%}
@media all and (max-width:1020px) {
    .grid-controls{width:55em;margin:0 1em 1em}
    .grid-controls.short{width:35em;margin:0 1em 1em}
}
@media all and (max-width:875px) {
    .blue .fr{float:none}
    .blue .fr br{display:none}
    .grid-controls,.grid-controls.short{width:auto;margin:1em}
    .grid-controls.short .filter input,.grid-controls.short .filter select{width:10em}
}

/*-- Grid Link Style -- */
.t-button + .t-button:before, .t-grid a.link+a.link:before,.acore-grid a.link+a.link:before{
	content: " | ";
	color:#333333;
	position: absolute;
	margin-left: -0.6em;
}
.t-button, .t-grid a.link, .acore-grid a.link {
	margin: 0 0.6em 0 0.5em;
}
.t-button:first-child, .t-grid a.link:first-child, .acore-grid  a.link:first-child {
	margin: 0 0.5em 0 0;
}
.grid-action {
    background-color: #BCCDE8;
    border: 1px solid #83A2D4;
    border-radius: 100px;
    cursor: pointer;
    height: 21px;
    text-align: center;
}
.grid-action.hover {
    background-color: #4A77C0;
}

.grid-action > .pointer {
    position: relative;
    vertical-align:middle;
    font-size: inherit;
}

.grid-action > .pointer.down {
    bottom: -0.8em;
}
.grid-action > .pointer.right {
    bottom: -0.56em;
}

ul.action-menu {
	border: 0.1em solid #333333;
	-webkit-box-shadow: 0.1em 0.1em 0.4em #222222;
	-ms-box-shadow: 0.1em 0.1em 0.4em #222222;
	box-shadow: 0.1em 0.1em 0.4em #222222;  
	background:#FFFFFF;
	z-index:10000;
	position:fixed;
}
.grid-action:hover ul{
	display:block;
}
ul.action-menu li{
	display:block;
	position: relative;
	border-bottom: 1px dotted grey; 
}
ul.action-menu li:last-child{
	border-bottom: 0 none; 
}
ul.action-menu li a{
	display:block;
	padding:0.25em 1em;
	letter-spacing:0.15em;
	font-weight:600;
	white-space: nowrap;
	margin: 0;
}
ul.action-menu li a:hover {
	border: none;
	background-color: #EBF0F5; 
}
ul.action-menu .icon {
	margin-right: 0.5em;
	vertical-align: top;
}