﻿.jGrowl{position:fixed;z-index:9999;color:#333}
.jGrowl.top-right{right:1em;top:2.5em}
.jGrowl .jGrowl-notification,.jGrowl .jGrowl-closer{background:#ddd url(/Images/logo-ghost.png) no-repeat -2em -2em;width:18em;padding:1em 1.5em 1em 1em;margin:.5em 0;display:none;border:.1em solid #333;font-weight:bold;
    border-radius:.75em;
    box-shadow:.1em .1em .4em #222;
    opacity:.75}
.jGrowl .message{font-size:1.1em;padding:0}
.jGrowl .jGrowl-notification{min-height:3.5em}
.jGrowl .jGrowl-notification .header{font-weight:bold;font-size:.85em}
.jGrowl .jGrowl-notification .close{z-index:99;position:absolute;top:.5em;right:0;padding:.75em;font-weight:bold;font-size:1em;cursor:pointer}
.jGrowl .jGrowl-closer{padding:.5em 2.2em;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center;background-image:none}
.jGrowl .error{background-color:#fccac3}
.jGrowl .success{background-color:#b6d4b6}
.jGrowl .warning{background-color:#fff8d8}