﻿span.redrow,span.bluerow,span.blackrow,span.tab{border:.1em solid #aaa;display:inline-block;padding:.2em;width:12em;margin:.5em;cursor:pointer;
    border-radius:.5em;
    box-shadow:.1em .1em .5em #999}
span.redrow.selected,span.bluerow.selected,span.blackrow.selected,span.tab.selected{
    box-shadow:inset .1em .1em .5em #999}
tr.redrow,tr.redrow a,span.redrow{background-color:#ffe2e2;color:Red}
tr.redrow.t-alt,tr.redrow.t-alt a{background-color:#ffd4d4}
tr.bluerow,tr.bluerow a,span.bluerow{background-color:#e2e2ff;color:Blue}
tr.bluerow.t-alt,tr.bluerow.t-alt a{background-color:#d6d6ff}
tr.greenrow, tr.greenrow a, span.greenrow{background-color:#e2ffe2;Color:Green}
span.tab{background-color:#e2e2ff;color:Blue}
.wysiwyg{height:22.5em}
.wysiwyg div{width:100% !important}
.wysiwyg .cke_wrapper{background-color:#85a4d5 !important}
.divider{position:absolute; left:50.5%; top:20%; bottom:5%; border-left:1px solid black;}
.divided{width:49%;}

/* -- CustomerNotes -- */
.dev-comments h3{border:0px; text-decoration:underline;}
.dev-comments li{margin-bottom:2em;}
.dev-comments b{margin-right:1em;}