﻿/* -- Basic Style -- */
.icon,.t-icon,.ui-icon,.sticky-note-icon,.ui-resizable-se,.input-directions,.button-with-arrow,.facebook{display:inline-block;background-image:url(/Images/sprite.png);background-repeat:no-repeat}
.icon,.t-icon,.ui-icon,.sticky-note-icon,.ui-resizable-se{font-size:0}
.img.logo{background-image:url(/Images/logos.png);display:inline-block}
/* -- Dimensions -- */
.t-arrow-prev,.ui-icon.ui-icon-circle-triangle-w,.t-arrow-next,.ui-icon.ui-icon-circle-triangle-e,#bar-top .icon.more,.context-menu .icon.more{width:4px;height:8px}
.ui-icon-circle-triangle-n,.ui-icon-circle-triangle-s{width:8px;height:4px;margin:7px}
.icon.note,.icon.note-blue,.icon.note-red,.sticky-note-icon,.icon.paperclip{width:14px;height:14px}
.icon.expand,.icon.collapse,.icon.print,.icon.find,.icon.success-small,.icon.error-small,.icon.clock{width:16px;height:16px}
.icon.money{width:8px;height:16px;margin:0 4px}
.icon.greenarrow{width:28px;height:20px}
.icon.activity{width:19px;height:23px}
.icon.closer,icon.diagnosis-up,icon.diagnosis-down{height:22px;width:22px}
.icon.send{width:29px;height:14px}
.icon.success,.icon.error,.icon.warning,.icon.info{width:32px;height:31px}
.button-with-arrow{width:198px;height:23px}
.img.facebook{width:100px;height:25px}
.img.logo.acore{height:31px;width:290px}
.img.logo.axxess{height:21px;width:158px}
.img.logo.support{height:65px;width:200px}
.img.logo.heart{height:59px;width:83px}
/* -- Sprite Positions -- */
.icon.info{background-position:-97px 0}
.window-min{background-position:0 -33px}
.icon.error{background-position:-128px 0}
.img.facebook{background-position:0 -86px}
.icon.expand{background-position:-190px 0}
.icon.success{background-position:-64px 0}
.img.logo.acore{background-position:0 -81px}
.icon.send{background-position:-190px -17px}
.icon.note{background-position:-126px -33px}
.img.logo.heart{background-position:-207px 0}
.icon.print{background-position:-100px -86px}
.icon.clock{background-position:-84px -111px}
.icon.find{background-position:-100px -103px}
.icon.money{background-position:-76px -111px}
.img.logo.axxess{background-position:0 -60px}
.window-min:hover{background-position:0 -48px}
.img.logo.support{background-position:0 -112px}
.button-with-arrow{background-position:0 -63px}
.window-resize{background-position:-28px -33px}
.icon.note-red{background-position:-140px -33px}
.icon.collapse{background-position:-190px -16px}
.icon.activity{background-position:-57px -111px}
.input-directions{background-position:-190px 6px}
.diagnosis-down{background-position:-197px -62px}
.icon.note-blue{background-position:-112px -33px}
.icon.paperclip{background-position:-154px -33px}
.ui-resizable-se{background-position:-134px -47px}
.icon.greenarrow{background-position:-162px -20px}
.sticky-note-icon{background-position:-126px -33px}
.icon.error-small{background-position:-166px -47px}
.icon.success-small{background-position:-150px -47px}
.window-resize:hover{background-position:-28px -48px}
.sticky-note-icon.red{background-position:-140px -33px}
.sticky-note-icon.blue{background-position:-112px -33px}
.maximized .window-resize{background-position:-56px -33px}
.ui-icon-circle-triangle-n{background-position:-186px -50px}
.ui-icon-circle-triangle-s{background-position:-186px -54px}
.diagnosis-up,.diagnosis-down{background-position:-219px -62px}
.maximized .window-resize:hover{background-position:-56px -48px}
.window-close,.ui-dialog-titlebar-close{background-position:-84px -33px}
.t-arrow-prev,.ui-icon-circle-triangle-w{background-position:-186px -50px}
.t-arrow-next,.ui-icon-circle-triangle-e{background-position:-190px -50px}
.window-close:hover,.ui-dialog-titlebar-close:hover{background-position:-84px -48px}
.diagnosis-item .diagnosis-delete .img.icon.closer{background-position:-118px -108px}
/* -- Animated Icons -- */
.icon.processing{background-image:url(/Images/indicator.gif);height:24px;width:20px;margin:0 5px;vertical-align:sub}
@media all and (max-width:1020px) {
    .button-with-arrow{background-position:-33px -63px}
}
@media all and (max-width:650px) {
    .button-with-arrow{background-position:-65px -63px}
}
.pointer.up.img,span.ui-icon-triangle-1-n{background-position:-186px -50px;width:8px;height:4px;margin:0 4px;}
.pointer.down.img,span.ui-icon-triangle-1-s{background-position:-186px -54px;width:8px;height:4px;margin:0 4px;}
.pointer.left.img,span.ui-icon-triangle-1-w{background-position:-186px -50px;width:4px;height:8px;margin:0 6px;}
.pointer.right.img,span.ui-icon-triangle-1-e{background-position:-190px -50px;width:4px;height:8px;margin:0 6px;}


