﻿body{background:#fff;overflow:auto}
.img{vertical-align:middle}
a{color:#333}
.wrapper{overflow:auto}
div.error,.title{padding:.5em;margin:.5em;border:.1em solid #555;background-color:#fffcf2;
    border-radius:1em;
    box-shadow:.2em .2em .5em #333;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf2',endColorstr='#f5e9c4');
    background-image:-moz-linear-gradient(90deg,#f5e9c4,#fffcf2);
    background-image:-o-linear-gradient(90deg,#f5e9c4,#fffcf2);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#f5e9c4),to(#fffcf2))}
.title{background-color:#c3d8f1;text-align:center;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde8f5',endColorstr='#c3d8f1');
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5))}
.error-name{display:inline-block;height:100%;font-weight:bold;width:20em}
.description{display:block;height:100%;min-height:3em;font-size:.9em;margin:-3em 0 0 25em}