﻿/* -- Parent Window Object -- */
.window,.ui-dialog{position:absolute !important;border:solid .1em #999;background-color:#c5c7c9;
    border-radius:.5em;
    box-shadow:.1em .1em .4em #222;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef0f3',endColorstr='#c5c7c9');
    background-image:-moz-linear-gradient(-90deg,#eef0f3,#e9ebee .6em,#d0d1d4 2em,#dadbde 40%,#d0d1d4 42%,#c5c7c9);
    background-image:-o-linear-gradient(-90deg,#eef0f3,#e9ebee .6em,#d0d1d4 2em,#dadbde 40%,#d0d1d4 42%,#c5c7c9);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#eef0f3),to(#c5c7c9),color-stop(.01,#e9ebee),color-stop(.4,#d0d1d4),color-stop(.42,#c5c7c9))}
.window.active,.ui-dialog{border-color:#777;background-color:#c5d8f3;
    box-shadow:.1em .1em .4em #222;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5d8f3', endColorstr='#cad2de');
    background-image:-moz-linear-gradient(-90deg,#c5d8f3,#bacfee .6em,#83a2d4 2em,#d5d8de 40%,#83a2d4 42%,#abb8c9 98%,#cad2de);
    background-image:-o-linear-gradient(-90deg,#c5d8f3,#bacfee .6em,#83a2d4 2em,#d5d8de 40%,#83a2d4 42%,#abb8c9 98%,#cad2de);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#c5d8f3),to(#cad2de),color-stop(.01,#bacfee),color-stop(.4,#d5d8de),color-stop(.42,#83a2d4),color-stop(.98,#abb8c9))}
.ui-dialog{height:400px !important}
.window.minimized *{display:none}
.window.ui-draggable-dragging{
    opacity:.5}
.window.maximized.ui-draggable-dragging{
    opacity:1}
.window.maximized{border:0}
/* -- Top Bar -- */
.window-top,.ui-dialog-titlebar{padding:.15em .5em;height:2em;overflow:hidden;color:#333;text-align:center}
.window-top .icon{width:22px;height:22px;float:left}
.window-top .title,.ui-dialog-title{margin:0 auto;padding-left:5em;font-weight:bold;cursor:default;color:#000;position:absolute;top:.3em;left:2.5em;right:7.5em}
.window-min,.window-resize,.window-close,.ui-dialog-titlebar-close{background:url(/Images/sprite.png) no-repeat;float:left;margin:.3em 0;width:28px;height:15px}
.ui-icon.ui-icon-closethick{display:none}
/* -- Status Bar/Resize Handles -- */
.window-bottom{position:absolute;overflow:hidden;height:2em;right:0;bottom:0;left:0;line-height:2em;font-size:.9em;font-weight:bold;text-align:center}
.ui-resizable{position:absolute}
.ui-resizable-handle{position:absolute;font-size:.1px;z-index:99999;display:block}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:.5em;top:0;left:.5em;right:.5em}
.ui-resizable-s{cursor:s-resize;height:.5em;bottom:0;left:.5em;right:.5em}
.ui-resizable-e{cursor:e-resize;width:.5em;right:0;top:.5em;bottom:2em}
.ui-resizable-w{cursor:w-resize;width:.5em;left:0;top:.5em;bottom:2em}
.ui-resizable-se{cursor:se-resize !important;width:2em;height:2em;right:-4px;bottom:0}
.ui-resizable-sw{cursor:sw-resize;width:2em;height:2em;left:0;bottom:0}
.ui-resizable-nw{cursor:nw-resize;width:.5em;height:.5em;left:0;top:0}
.ui-resizable-ne{cursor:ne-resize;width:.5em;height:.5em;right:0;top:0}
.maximized .ui-resizable-handle{display:none !important}
.maximized .window-bottom{font-size:0}
/* -- Content Pane -- */
.window-content,.ui-dialog-content{border:.1em solid #999;position:absolute;top:2em;right:.4em;bottom:.4em;left:.4em;background-color:#fff;color:#333;font-family:'Lucida Grande',Arial,'Liberation Sans',FreeSans,sans-serif;overflow:auto;width:auto !important;
    box-shadow:inset .2em .2em .5em #bbb;
    border-radius:.3em}
.window-content iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.window-content iframe.hidden{width:0;height:0}
.active .window-content{border-color:#777}
.window.ui-draggable-dragging .window-content div,.window.ui-draggable-dragging .window-bottom{display:none}
.maximized.ui-draggable-dragging .window-content div,.maximized.ui-draggable-dragging .window-bottom{display:block}
.maximized .window-content{left:0;right:0;bottom:0 !important;
    box-shadow:inset 0 0 .5em #aaa;
    border-radius:0}
#window_Final_content{overflow:hidden}
@media all and (max-width:1020px) {
    .window-resize,.ui-resizable-handle{display:none !important}
    .window.mobile-max{top:0 !important;right:0 !important;bottom:0 !important;left:0 !important;width:100% !important;height:100% !important}
    .window-content:not(#window_Alert_content){bottom:.4em !important}
    .window-bottom{font-size:0}
}
/*
@media all and (max-height:650px) {
    .window-resize,.ui-resizable-handle{display:none !important}
    .window.mobile-max{top:0 !important;right:0 !important;bottom:0 !important;left:0 !important;width:100% !important;height:100% !important}
    .window-content{bottom:.4em !important}
    .window-bottom{font-size:0}
}*/
