﻿/* Newer Design */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Open Sans' , Helvetica, sans-serif;
	background-image: url(/Images/Login/debut_light.png);
	background-repeat: repeat;
}

hr {
	color: #DDDDDD;
	background-color: #DDDDDD;
	border: 0 none;
	height: 1px;
}

a {
	color: #2287B9;
	text-decoration: none;
}

h4.hint {
	font-weight: 100;
}

.centered-window {
	position: relative;
	top: 5%;
	left: 50%;
	margin-left: -250px;
	text-align: center;
	width: 500px;
    font-size: 0.95em;
}

#login:before, #login:after {
	content: " ";
	display: table;
}
#login:after {
	clear: both;
}
#login .login-left {
	display: block;
	float: left;
	width: 66.66667%;
	text-align: center;
    overflow-x: hidden;
}
#login .login-left:last-child {
	margin-right: 0;
}
#login .login-left {
	padding-top: 5em;
}
#login .login-left .logo, .centered-window > .logo {
	margin-bottom: 2em;
}
.centered-window > .logo {
	margin-top: 2em;
}
#login .login-left .alert {
	width: 550px;
	margin: auto;
}
#changePasswordForm table td h2, #activateAccountForm table td h2 {
	text-align: left;
	margin: 1em 0;
}
.form-wrapper {
	width: 500px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background: white;
	-webkit-box-shadow: 0 0 3px #888;
	-ms-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	margin: 1em auto;
	position: relative;
	padding-bottom: 0.1px;
}

.form-wrapper div.padded {
	padding: 1em;
}
.form-wrapper table {
	width: 100%;
}
.form-wrapper table td {
	text-align: right;
}
.form-wrapper table td.label {
	text-align: left;
	font-size: 1.5em;
	font-weight: 300;
}
.form-wrapper .hint {
	font-size: .59em;
	font-weight: inherit;
}
.form-wrapper p {
	margin: 1em 0;
}
.form-wrapper-header {
	background: url(/Images/gradients.png) repeat-x 0 -80px;
	padding: 0 10px;
	height: 25px;
	overflow: hidden;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
	color: #fff;
	-ms-text-shadow: #000 0 1px 1px;
	text-shadow: #000 0 1px 1px;
}

.form-wrapper-header .img {
	float: left;
	margin: 2px 0 0 0;
}
.form-wrapper-header .fr a {
	color: #333;
	text-decoration: none;
	font-size: 12px;
	padding: 0 5px;
}
.form-wrapper-header .fr a:hover {
	color: #1f92ff;
}

input[type="text"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ddd;
	outline: none;
	padding: .5em;
	font-size: 1.7em;
	font-weight: 100;
	width: 100%;
	margin: 0;
}

#activateAccountForm input, #changePasswordForm input, #forgotPasswordForm input {
	font-size: 1.3em;
}

input[type="text"] {
	font-family: inherit;
}

input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	display: block;
	background: #af1e2d;
	color: white;
	font-size: 1.3em;
	border: none;
	width: 100%;
	margin: 0;
	padding: 1em;
	border-top: 1px solid #580f17;
	-ms-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

input[type="submit"]:hover {
	background: #831722;
	cursor: pointer;
}
input[disabled] {
    color: black;
    background-color: #ffff99;
}
.login-loading {
	display: none;
	width: 500px;
	margin: auto;
	line-height: 3em;
	color: #af1e2d;
	background: white;
	-webkit-box-shadow: 0 0 3px #888;
	-ms-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	-ms-border-radius: 4px;
	border-radius: 4px;
	padding: 1em;
}

.login-loading i {
	vertical-align: middle;
}
#login .login-left .login-message, #login .login-left .login-agency-selection {
	display: none;
	width: 500px;
	margin: 1em auto;
	text-align: left;
	padding: 1em;
	background: white;
	-webkit-box-shadow: 0 0 3px #888;
	-ms-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

#login .login-left .login-message h3, #login .login-left .login-message p {
	margin: 0 0 1em 0;
}
#login .login-left .login-message .countdown {
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	margin: 1em 0;
	font-weight: 700;
}
#login .login-left .login-message .btn-custom {
	-moz-min-width: 100px;
	-ms-min-width: 100px;
	-o-min-width: 100px;
	-webkit-min-width: 100px;
	min-width: 100px;
	margin-right: 1em;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

#login .login-left .login-message .btn-wrapper {
	margin-top: 2em;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-cancel {
	background: #f2dede;
	color: #b94a48;
	border-color: #eed3d7;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-cancel:hover {
	background: #f9f0f0;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-ok {
	background: #dff0d8;
	color: #468847;
	border-color: #d6e9c6;
}
#login .login-left .login-message .btn-wrapper .btn-custom.btn-ok:hover {
	background: #eef7ea;
}
#login .ad {
	margin: 1em 0;
}
#login .ad img {
	-webkit-box-shadow: 0 0 2px #333;
	-ms-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}

#login .login-left footer {
	padding: 1em;
}
#login .login-left footer .referral {
	background: white;
	border: 1px solid #ccc;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 1em 2em 1em 200px;
	margin: 0 auto;
	position: relative;
	font-size: 1.2em;
	display: inline-block;
	background: #333;
	color: White;
}

#login .login-left footer .referral h3 {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #af1e2d;
	padding: 1em 2em;
	font-weight: 100;
	color: White;
	-ms-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	border-right: 1px solid #812;
}

#login .login-left footer .rights {
	font-size: .8em;
	color: #555;
	margin-bottom: 0;
}
#login .login-right {
	display: block;
	float: left;
	width: 33.33333%;
	padding: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#login .login-right:last-child {
	margin-right: 0;
}

.didyouknow {
	margin: 2em 0;
}
.didyouknow h2 {
	font-weight: 300;
	margin-bottom: .5em;
}
.didyouknow h2 b {
	font-weight: 800;
}
.didyouknow > div {
	height: 2em;
	position: relative;
}
.didyouknow p {
	height: 2em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	display: none;
}
.didyouknow p strong {
	color: #af1e2d;
	font-size: 1.5em;
	vertical-align: middle;
}

.upcoming-events {
	padding: 0;
	background: #f8f8f8;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #ccc;
	position: relative;
}

.upcoming-events h1 {
	margin: 0 0 .5em 0;
	padding: .3em .5em;
	font-weight: 300;
	font-size: 2em;
	line-height: 1.2em;
	background: #7c7cad;
	color: White;
	-ms-text-shadow: 0 -1px #558;
	text-shadow: 0 -1px #558;
	text-align: center;
	border-width: 1px 0;
	border-style: solid;
	border-color: #558;
}

.upcoming-events h1 i {
	font-size: 2em;
	float: right;
}
.upcoming-events .series {
	padding: .5em 1em;
	border-top: 1px solid #eee;
}
.upcoming-events > div > .series:first-child {
	border-top: none;
}
.upcoming-events .series h4 {
	margin: .5em 0;
}
.upcoming-events .series h4 a {
	text-decoration: none;
	color: black;
}
.upcoming-events .series ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 1em;
}
.upcoming-events .series ul a {
	display: block;
	padding: .2em;
	text-decoration: none;
	color: #333;
	-ms-border-radius: 1px;
	border-radius: 1px;
}

.upcoming-events .series ul a:hover {
	background: #af1e2d;
	color: white;
}
.upcoming-events .series .date {
	float: right;
}

.btn-wrapper {
	text-align: center;
	margin: 1em 0;
}
.btn-wrapper .btn-custom {
	-ms-text-shadow: none;
	text-shadow: none; /* 0 -1px 0 #777 */
	-webkit-font-smoothing: antialiased;
	background: #b8223b;
	color: #fff;
	padding: .5em 2em;
	border: 1px solid #640000;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px #aaa;
	-ms-box-shadow: 0 1px 1px #aaa;
	box-shadow: 0 1px 1px #aaa;
	text-decoration: none;
	display: inline-block;
	font-weight: 700;
}

.btn-wrapper .btn-custom:hover {
	background: #a8122b;
	color: white;
}
.btn-wrapper .btn-custom:active {
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

@media (max-width: 800px) {
	#login .login-left {
		width: 100%;
	}
	#login .login-left {
		margin-right: 0;
	}
	#login .login-right {
		display: none;
	}
}

@media (max-width: 630px) {
	.ad img {
		width: 100%;
	}
}

em.bold {
	font-weight: 600;
}

/* New Design */
img {
	border: 0;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
ul {
	list-style-type: square;
	padding: 0 0 0 1.5em;
}
input[type=checkbox] {
	height: 1.5em;
	vertical-align: middle;
}
label {
	line-height: 2em;
}
.upper {
	text-transform: uppercase;
}
.hidden {
	display: none;
}
.sm {
	font-size: .9em;
}
.xs {
	font-size: .75em;
}
.xl {
	font-size: 1.4em;
}
.clr {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.no-text {
	font-size: 0;
}
.main {
	width: 40em;
	padding: 2em 1em;
}
.right {
	width: 19.6em;
	padding: 2em 1em;
}
.more-button {
	background-color: #b8b8b8;
	padding: .1em 1em .3em;
	font-size: .75em;
}
.title {
	padding: 1em 5em;
	width: 275px;
	margin: 0 auto;
}
.row {
	clear: both;
}
.footer {
	background-color: #2d2d2d;
	color: #fff;
	font-size: .625em;
	line-height: 2;
	position: absolute;
	bottom: 0;
	width: 100%;
	letter-spacing: 1px;
}
#bXStyle {
	margin: 0 auto;
}
#axxessEventsBox .sws {
	width: 19.6em !important;
}
#bxHdr div {
	left: 0 !important;
	top: 4px !important;
}
.blockUI {
	font-size: .75em;
}
/* Page Blocks */
.box {
	background: #fff;
	border: 1px solid #9d9d9d;
	margin-bottom: 15px;
	padding: 15px;
	border-top: 0;
	min-height: 160px;
}
.box a {
	color: #1f92ff;
	text-decoration: none;
}
.box a:hover {
	color: #1f92ff;
	text-decoration: underline;
}
/* Notifications */
.notification .img {
    margin-right: 1em;
}
.notification.success {
	background-color: #effeb9;
	border-color: #98c700;
}
.notification.error {
	background: #fccac3;
	border-color: #ea5338;
}
.notification.warning {
	background: #ffeaa7;
	border-color: #f9b418;
    margin-bottom: 1em;
}
.notification.info {
	background: #d1e4f3;
	border-color: #4d8fcc;
}
.notification.tip {
	background: #feeac9;
	border-color: #d38e49;
}
.notification {
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	padding: 17px;
	margin: 1em 1.5em 0 1.5em;
	-ms-border-radius: .25em;
	border-radius: .25em;
    display: inline-block;
    width: 85%;
}

h1 {
	font-size: 16px;
	font-weight: bold;
}
/* Password Strength */
#iSM {
	margin: 0 0 15px 0;
	padding: 0;
	height: 14px;
	float: left;
}
#iSM ul {
	border: 0;
	margin: 4px 0 0 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#iSM ul li {
	display: block;
	float: left;
	text-align: center;
	padding: 1px 0 0 0;
	margin: 0;
	height: 14px;
}
#iWeak, #iMedium, #iStrong {
	width: 71px;
	font-size: .7em;
	color: #adadad;
	text-align: center;
	padding: 2px;
	background-color: #F1F1F1;
	display: block;
}
#iWeak, #iMedium {
	border-right: solid 1px #DEDEDE;
}
#iMedium {
	width: 70px;
}
#iMedium, #iStrong {
	border-left-width: 0;
}
/* -- Agency Selection Links */
.agencySelection {
	background-color: #d3d3d3;
	padding: 10px;
}
#agencySelectionLinks ul {
	list-style-type: none;
	max-height: 22em;
	overflow: auto;
	padding: 0;
	border: 1px solid #ccc;
}
#agencySelectionLinks li {
	margin: 0;
	border-bottom: 1px solid #dde;
}
#agencySelectionLinks li:nth-child(odd) {
	background: #f8f8ff;
}
#agencySelectionLinks li a {
	color: black;
	display: block;
	padding: 5px;
	text-decoration: none;
}
* html #agencySelectionLinks li a {
	width: 400px;
}
#agencySelectionLinks li a:hover {
	background: #af1e2d;
	color: white;
}
#agencySelectionLinks span {
	display: block;
}
#agencySelectionLinks span.agency-name {
	font-weight: bold;
}

/* -- Error Message -- */
input.error, select.error, textarea.error, .recipient-list-token-input.error, .t-grid td.error, button.ui-multiselect.error {
	background-image: linear-gradient(50deg,#fcf8f7 0,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
	background-image: -moz-linear-gradient(140deg,#fcf8f7 0,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
	background-image: -ms-linear-gradient(140deg,#fcf8f7 0,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
	background-image: -o-linear-gradient(140deg,#fcf8f7 0,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
	background-image: -webkit-gradient(linear,right bottom,left top,from(#fcf8f7),to(#fcebe8),color-stop(.09,#fcf8f7),color-stop(.1,#fcebe8),color-stop(.19,#fcebe8),color-stop(.2,#fcf8f7),color-stop(.29,#fcf8f7),color-stop(.3,#fcebe8),color-stop(.39,#fcebe8),color-stop(.4,#fcf8f7),color-stop(.49,#fcf8f7),color-stop(.5,#fcebe8),color-stop(.59,#fcebe8),color-stop(.6,#fcf8f7),color-stop(.69,#fcf8f7),color-stop(.7,#fcebe8),color-stop(.79,#fcebe8),color-stop(.8,#fcf8f7),color-stop(.89,#fcf8f7),color-stop(.9,#fcebe8));
	background-image: -webkit-linear-gradient(140deg,#fcf8f7 0,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
	background-position: left top;
	border: .1em solid #be2d19;
	-ms-box-shadow: 0 0 1em #ecc5c0 inset;
	-moz-box-shadow: 0 0 1em #ecc5c0 inset;
	-o-box-shadow: 0 0 1em #ecc5c0 inset;
	-webkit-box-shadow: 0 0 1em #ecc5c0 inset;
	box-shadow: 0 0 1em #ecc5c0 inset;
}

label.error {
	background-color: #ecd5d2;
	border: .1em solid #841f11;
	-ms-box-shadow: .1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
	-moz-box-shadow: .1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
	-o-box-shadow: .1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
	-webkit-box-shadow: .1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
	box-shadow: .1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
	color: #333;
	font-size: .8em;
	-ms-opacity: .85;
	opacity: .85;
	padding: .1em .4em;
	position: absolute;
	right: -2.5em;
	margin-top: -1.6em;
	z-index: 1;
}

input.error + label.error {
	display: inline-block !important;
}
div.jGrowl .jGrowl-message {
    font-size:.9em;
    padding:0;
}