﻿/* -- Error Messaging -- */
.error-box {
	background-position:0 0 !important;
    border:.1em solid;
	-ms-border-radius:2em;
	-moz-border-radius:2em;
    -webkit-border-radius:2em;
    -o-border-radius:2em;
	border-radius:2em;
	left:50%;
    margin:-4em -20em;
    position:absolute;
    top:50%;
    width:40em;
}

.inline-error {
    left:0;
    margin:1em auto;
    position:relative;
    top:0;
}
.error-box.error {
	background-color:#fccac3;
    background-image:linear-gradient(225deg,#fcedea,#fcb6ac);
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-ms-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea));
    background-image:-webkit-linear-gradient(315deg,#fcedea,#fcb6ac);
    border-color:#dbb3ad;
	-ms-box-shadow:0 0 3em #9e7a75;
	-moz-box-shadow:0 0 3em #9e7a75;
    -webkit-box-shadow:0 0 3em #9e7a75;
    -o-box-shadow:0 0 3em #9e7a75;
	box-shadow:0 0 3em #9e7a75;
	color:#594542;
}

.error-box.warning {
	background-color:#fff8d8;
    background-image:linear-gradient(225deg,#fff8d8,#fff0b2);
    background-image:-moz-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-ms-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-o-linear-gradient(315deg,#fff8d8,#fff0b2);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fff0b2),to(#fff8d8));
    background-image:-webkit-linear-gradient(315deg,#fff8d8,#fff0b2);
    border-color:#9e9875;
	-ms-box-shadow:0 0 3em #9e9875;
	-moz-box-shadow:0 0 3em #9e9875;
    -webkit-box-shadow:0 0 3em #9e9875;
    -o-box-shadow:0 0 3em #9e9875;
	box-shadow:0 0 3em #9e9875;
	color:#595442;
}

.error-box.info {
	background-color:#e3e8f3;
    background-image:linear-gradient(225deg,#e3e8f3,#cad5ee);
    background-image:-moz-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-ms-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-o-linear-gradient(315deg,#e3e8f3,#cad5ee);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#cad5ee),to(#e3e8f3));
    background-image:-webkit-linear-gradient(315deg,#e3e8f3,#cad5ee);
	background-position: 0 0;
    border-color:#7d879e;
    color:#424959;
	-ms-box-shadow:0 0 3em #3e4554;
	-moz-box-shadow:0 0 3em #3e4554;
    -webkit-box-shadow:0 0 3em #3e4554;
    -o-box-shadow:0 0 3em #3e4554;
	box-shadow:0 0 3em #3e4554;
}

.error-box.success {
	background-color:#e3f3e4;
    background-image:linear-gradient(225deg,#e3f3e4,#caeecc);
    background-image:-moz-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-ms-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-o-linear-gradient(315deg,#e3f3e4,#caeecc);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#caeecc),to(#e3f3e4));
    background-image:-webkit-linear-gradient(315deg,#e3f3e4,#caeecc);
    border-color:#7d9e7f;
    color:#425943;
	-ms-box-shadow:0 0 3em #3e543f;
	-moz-box-shadow:0 0 3em #3e543f;
    -webkit-box-shadow:0 0 3em #3e543f;
    -o-box-shadow:0 0 3em #3e543f;
	box-shadow:0 0 3em #3e543f;
}

.error-box .logo {
	background:url(/Images/logo-ghost.png) no-repeat -1.5em center;
	-ms-border-radius:2em;
	-moz-border-radius:2em;
    -o-border-radius:2em;
    -webkit-border-radius:2em;
	border-radius:2em;
	padding:1.5em 2.5em;
}

.error-box h1 {
	display:inline-block;
    font-size:1.75em;
	-webkit-font-variant:small-caps;
	-moz-font-variant:small-caps;
	-ms-font-variant:small-caps;
	-o-font-variant:small-caps;
	font-variant:small-caps;
    letter-spacing:.2em;
    line-height:2em;
    margin:0 2em 0 .5em;
    text-align:center;
	-ms-text-shadow:.05em .05em 0 #c0c0c0;
	-moz-text-shadow:.05em .05em 0 #c0c0c0;
    -webkit-text-shadow:.05em .05em 0 #c0c0c0;
    -o-text-shadow:.05em .05em 0 #c0c0c0;
	text-shadow:.05em .05em 0 #c0c0c0;
	width:15em;
}

.error-box p {
    border-top:.1em solid #9e7a75;
    cursor:default;
    display:inline-block;
    margin:.2em 0;
    text-align:center;
    position:relative;
    width:35em;
}
.error-box.warning p {
    border-color:#9e9875;
}
.error-box.info p {
    border-color:#7d879e;
}
.error-box.success p {
    border-color:#7d9e7f;
}
#window_Alert_content {
    background:#b4c3db url(/Images/logo-ghost.png) no-repeat -5px 33%;
}
#window_Alert_content.error {
    background-color:#fccac3;
}
#window_Alert_content.exclamation {
    background-color:#f2e091;
}
/* -- Growl -- */
.jGrowl {
    color:#333;
    position:fixed;
    z-index:9999;
}
.jGrowl.top-right {
    right:1em;
    top:2.5em;
}
.jGrowl .jGrowl-notification,.jGrowl .jGrowl-closer {
	background:#ddd url(/Images/logo-ghost.png) no-repeat -2em -2em;
    border:.1em solid #333;
	-ms-border-radius:.75em;
	-moz-border-radius:.75em;
    -webkit-border-radius:.75em;
    -o-border-radius:.75em;
	border-radius:.75em;
	-ms-box-shadow:.1em .1em .4em #222;
	-moz-box-shadow:.1em .1em .4em #222;
    -webkit-box-shadow:.1em .1em .4em #222;
    -o-box-shadow:.1em .1em .4em #222;
	box-shadow:.1em .1em .4em #222;
	display:none;
    font-weight:bold;
    margin:.5em 0;
	-ms-opacity:.95;
	opacity:.95;
    padding:1em 1.5em 1em 1em;
    width:18em;
}

.jGrowl .jGrowl-message {
    font-size:1.1em;
    padding:0;
}
.jGrowl .jGrowl-notification {
    min-height:3.5em;
}
.jGrowl .jGrowl-notification .jGrowl-header {
    font-size:.85em;
    font-weight:bold;
}
.jGrowl .jGrowl-notification .jGrowl-close {
    cursor:pointer;
    font-size:1em;
    font-weight:bold;
    padding:.75em;
    position:absolute;
    right:0;
    top:.5em;
    z-index:99;
}
.jGrowl .jGrowl-closer {
    background-image:none;
    cursor:pointer;
    font-size:.9em;
    font-weight:bold;
    padding:.5em 2.2em;
    text-align:center;
}
.jGrowl .error {
    background-color:#fccac3;
}
.jGrowl .success {
    background-color:#b6d4b6;
}
.jGrowl .warning {
    background-color:#fff8d8;
}