﻿/* -- jQuery Layout -- */
.ui-layout-resizer {
    background-color:#bacfee;
    border-left:.1em solid #83a2d4;
    border-right:.1em solid #83a2d4;
}
.ui-layout-container {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.ui-layout-toggler {
    display:none !important;
}
/* -- Patient Selector -- */
.ui-layout-west {
    background-color:#dde8f5;
}
.ui-layout-west .top {
    padding:0 .5em;
}
.center-filter {
    clear:left;
    position:relative;
}
.center-filter > label {
    line-height:2.5em;
    font-weight:700;
}
.center-filter > .filter-fill {
    left:4em;
    position:absolute;
    right:0;
    top:0;
}
.center-filter > .filter-fill.text {
    right:.2em;
}
.center-filter > .filter-fill > input, .center-filter > .filter-fill > select {
    width:100%;
}
.ui-layout-west .bottom {
    position:absolute;
    top:10em;
    right:0;
    bottom:0;
    left:0;
}

.ui-layout-west .bottom.four-filter
{
	top:13em;
}


.ui-layout-west .bottom.service {
    top:12.5em;
}
.ui-layout-west .bottom.new-patient {
    top:15.25em;
}
/* -- Window Menu -- */
.window-menu {
    background-color:#c3d8f1;
    background-image:linear-gradient(0,#c3d8f1,#dde8f5);
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5));
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-ms-linear-gradient(90deg,#c3d8f1,#dde8f5);
    border-bottom:.1em solid #83a2d4;
    height:2.25em;
}
.window-menu > ul > li, .window-menu > li {
    float:left;
}
.window-menu > ul > li > a, .window-menu > li > a {
    border-left:.1em solid #83a2d4;
    color:#333;
    cursor:pointer;
    display:inline-block;
    font-size:10pt;
    font-weight:700;
    line-height:2em;
    padding:0 1em;
    -ms-text-shadow:.1em .1em 0 #cedcf2;
    -moz-text-shadow:.1em .1em 0 #cedcf2;
    -o-text-shadow:.1em .1em 0 #cedcf2;
    -webkit-text-shadow:.1em .1em 0 #cedcf2;
    text-shadow:.1em .1em 0 #cedcf2;
}

.window-menu > ul > li:first-child > a, .window-menu > li:first-child > a {
    border-left:none;
}
.window-menu > ul > li.sfHover > a, .window-menu > li.sfHover > a, .window-menu > ul > li > a:hover, .window-menu > li > a:hover {
    background-color:#ebf0f5;
    border-bottom:none;
}
.window-menu, .window-menu .menu {
    -ms-box-shadow:.1em .1em .4em #aab;
    -moz-box-shadow:.1em .1em .4em #aab;
    -webkit-box-shadow:.1em .1em .4em #aab;
    -o-box-shadow:.1em .1em .4em #aab;
    box-shadow:.1em .1em .4em #aab;
}

.window-menu .menu, .window-menu .menu a {
    border-color:#83a2d4;
}
/* -- Top Information -- */
h2.patient, h2.billing {
    color:#338;
    font-family:Georgia,Serif;
    font-size:2em;
    font-weight:500;
    letter-spacing:.1em;
    margin:.5em 0;
    -ms-text-shadow:.05em .05em .05em #338;
    -moz-text-shadow:.05em .05em .05em #338;
    -o-text-shadow:.05em .05em .05em #338;
    -webkit-text-shadow:.05em .05em .05em #338;
    text-shadow:.05em .05em .05em #338;
}

.patient-info, .billing-info {
    background-color:rgba(255,255,255,.75);
    margin-right:16em;
    padding:1em 0;
}
.patient-info.schedule {
    margin:1.5em 0;
    padding:.5em 1em;
}
.patient-info, .billing-info, #patientTop .reports {
    -ms-box-shadow:0.1em 0.1em 1em #333;
    -moz-box-shadow:0.1em 0.1em 1em #333;
    -o-box-shadow:0.1em 0.1em 1em #333;
    -webkit-box-shadow:0.1em 0.1em 1em #333;
    box-shadow:0.1em 0.1em 1em #333;
}

.patient-info > div.fl {
    margin:0 2em;
}
.boundary {
    margin:0 auto;
    max-width:80em;
}
.patient-info > div, .billing-info > div {
    font-weight:700;
    margin:.25em 2em .25em auto;
    max-width:40em;
}
.patient-info > div {
    margin:.25em 2em .25em auto;
}
.billing-info > div {
    margin:.25em auto;
}
.patient-info > div.calendar {
    max-width:100%;
}
.patient-info > div > .fr, .billing-info > div > .fr {
    font-weight:500;
}
fieldset.centers {
    margin:0;
}
.centers .row > label {
    line-height:normal;
}
#PatientMainResult .wrapper.main {
    background-image:url(/Images/patient-charts.jpeg);
    -ms-background-size:100%;
    background-size:100%;
}

#ScheduleMainResult .wrapper.main {
    background-image:url(/Images/schedule-center.jpeg);
    -ms-background-size:100%;
    background-size:100%;
}

#MedicareBillingMainResult .wrapper.main, #ManagedBillingMainResult .wrapper.main {
    background-image:url(/Images/billing-history.jpeg);
    background-position:bottom;
    -ms-background-size:100%;
    background-size:100%;
}

.note-legend {
    background-color:#c3d8f1;
    background-image:linear-gradient(0,#c3d8f1,#dde8f5);
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5));
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-ms-linear-gradient(90deg,#c3d8f1,#dde8f5);
    border-color:#83a2d4;
    -ms-border-radius:.5em .5em 0 0;
    -moz-border-radius:.5em .5em 0 0;
    -o-border-radius:.5em .5em 0 0;
    -webkit-border-radius:.5em .5em 0 0;
    border-radius:.5em .5em 0 0;
    -ms-box-shadow:.1em .1em .4em #aab;
    -moz-box-shadow:.1em .1em .4em #aab;
    -webkit-box-shadow:.1em .1em .4em #aab;
    -o-box-shadow:.1em .1em .4em #aab;
    box-shadow:.1em .1em .4em #aab;
    margin:0;
    padding:0;
    position:absolute;
    right:24.3em;
    top:0;
    width:14.9em;
}

.note-legend .img {
    margin:.25em;
    vertical-align:sub;
}
.note-legend li {
    display:block;
    padding:0 .25em;
}
.icon-overlay {
    bottom:0;
    display:none;
    position:absolute;
    top:0;
    width:15.1em;
    z-index:0;
}
.icon-overlay.hover {
    border:.1em solid #83a2d4;
    border-bottom:none;
    -ms-box-shadow:.1em .1em .4em #aab;
    -moz-box-shadow:.1em .1em .4em #aab;
    -webkit-box-shadow:.1em .1em .4em #aab;
    -o-box-shadow:.1em .1em .4em #aab;
    box-shadow:.1em .1em .4em #aab;
    width:14.9em;
}

.t-grid-content .img {
    position:relative;
    z-index:1;
}
/* -- Patient Summary -- */
.patient-summary {
    margin:0;
    min-height:1.75em;
    -moz-min-width:30em;
    -ms-min-width:30em;
    -o-min-width:30em;
    -webkit-min-width:30em;
    min-width:30em;
    padding:.5em;
    width:69%;
}

.patient-summary .abs-right {
    right:1em;
    top:15%;
}
.patient-summary .column {
    float:none;
    margin:auto;
    width:45%;
}
.patient-summary .wide-column {
    width:100%;
}
/* -- Quick Reports -- */
.reports ul {
    background-color:#fffcf2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf2', endColorstr='#f5e9c4');
    background-image:-moz-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-o-linear-gradient(115deg,#f5e9c4,#fffcf2,#f5e9c4);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#f5e9c4),to(#f5e9c4),color-stop(.5,#fffcf2))}
.reports a {
    border-top:.1em dotted #b2afa8;
    display:block;
    color:#333;
    padding:.1em 1em;
    font-weight:500;
    cursor:pointer;
}
.reports li:first-child a {
    border-top:none;
}
.reports a:hover {
    background-color:#ebf0f5;
    border-bottom:none;
}
/* -- Activities -- */
.grid-resize {
    display:inline-block;
    margin:.3em;
}
.grid-resize:hover {
    -webkit-box-shadow:0 0 .5em #83a2d4;
    -ms-box-shadow:0 0 .5em #83a2d4;
    box-shadow:0 0 .5em #83a2d4;
}

.ui-layout-center .bottom {
    position:absolute;
    top:27.5em;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
}
.ui-layout-center .bottom .above {
    position:absolute;
    top:-2.6em;
    right:0;
    left:0;
    border-top:.1em solid #83a2d4;
    padding:.1em;
    background-color:#d6e8f5;
}
.ui-layout-center .bottom .above.scheduler-toggle {
    border:none;
}
.ui-layout-center .bottom .above select, .ui-layout-center .bottom .above input {
    width:9em;
}
.list-container {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
}
/* -- Calendar and Legend -- */
.cal {
    border:solid .1em #83a2d4;
    -ms-border-radius:.5em .5em 0 0;
    -moz-border-radius:.5em .5em 0 0;
    -o-border-radius:.5em .5em 0 0;
    -webkit-border-radius:.5em .5em 0 0;
    border-radius:.5em .5em 0 0;
    -ms-box-shadow:.25em .25em .5em #aaa;
    -moz-box-shadow:.25em .25em .5em #aaa;
    -o-box-shadow:.25em .25em .5em #aaa;
    -webkit-box-shadow:.25em .25em .5em #aaa;
    box-shadow:.25em .25em .5em #aaa;
    display:inline-block;
    margin:1em 2.5%;
    overflow:hidden;
    text-align:center;
    vertical-align:top;
    width:26%;
}

.cal table {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}
.cal thead, .fc-border-separate thead {
    background-color:#c3d8f1;
    background-image:linear-gradient(0,#c8d9ed,#e5f0fc);
    background-image:-moz-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-o-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    font-weight:700;
    cursor:default;
}
.cal thead tr:first-child {
    background-image:-webkit-gradient(linear,left top,left bottom,from(#e5f0fc),to(#d7e5f5));
    background-image:-webkit-linear-gradient(90deg,#d7e5f5,#e5f0fc);
}
.cal thead tr:last-child {
    background-image:-webkit-gradient(linear,left top,left bottom,from(#d7e5f5),to(#c8d9ed));
    background-image:-webkit-linear-gradient(90deg,#c8d9ed,#d7e5f5);
}
.cal td {
    background-color:#fffcf2;
    border:.1em solid #d3d3d3;
    cursor:pointer;
    height:2em;
    text-align:center;
    vertical-align:middle;
}
.cal.full td, .fc-widget-content {
    background-color:#fffcf2;
    border:.1em solid #d3d3d3;
    cursor:pointer;
    height:2em;
    text-align:right;
    vertical-align:top;
}
.cal tbody tr:first-child td {
    border-top:solid .1em #83a2d4;
}
.cal tbody th {
    background-color:#c8d9ed;
    border-right:.1em solid #83a2d4;
    font-weight:700;
    vertical-align:middle;
}
.cal .inactive, .fc-other-month {
    background-color:#f2efe6;
    color:#ccc9c1;
    cursor:default;
}
.cal.big {
    margin:0 1em;
    width:auto;
}
.cal.big .datelabel {
    float: right;
    height:100%;
}
.cal.big td{
    height:5em;
    padding:.5em;
}
.cal.big.oasis-calendar td{
    height:1em;
}
.cal.full {
    margin:0 auto;
    width:100%;
}
.cal.full td {
    height:2em;
    padding:.2em;
}
.cal td:hover {
    background-color:#778198;
    background-image:radial-gradient(50% 50%,rgba(255,255,255,.6),transparent);
    background-image:-moz-radial-gradient(50% 50%,rgba(255,255,255,.6),transparent);
    background-image:-ms-radial-gradient(50% 50%,rgba(255,255,255,.6),transparent);
    background-image:-o-radial-gradient(50% 50%,rgba(255,255,255,.6),transparent);
    background-image:-webkit-gradient(radial, 50% 50%,from(rgba(255,255,255,.6)),to(transparent));
    background-image:-webkit-radial-gradient(50% 50%,rgba(255,255,255,.6),transparent);
	border-color:#555;
    -ms-box-shadow:inset 0 0 .2em #333,0 0 .5em #000;
    -moz-box-shadow:inset 0 0 .2em #333,0 0 .5em #000;
    -o-box-shadow:inset 0 0 .2em #333,0 0 .5em #000;
    -webkit-box-shadow:inset 0 0 .2em #333,0 0 .5em #000;
    box-shadow:inset 0 0 .2em #333,0 0 .5em #000;
    color:#fff;
	font-weight:700;
    -ms-text-shadow:.1em .1em .1em #000;
    -moz-text-shadow:.1em .1em .1em #000;
    -o-text-shadow:.1em .1em .1em #000;
    -webkit-text-shadow:.1em .1em .1em #000;
    text-shadow:.1em .1em .1em #000;
}

.cal td:hover a {
	color:#fff;
}
.cal td.inactive:hover {
    background:#f2efe6;
    border:none;
    -ms-box-shadow:none;
    -moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
    box-shadow:none;
    color:#ccc9c1;
    -ms-text-shadow:none;
    -moz-text-shadow:none;
	-o-text-shadow:none;
	-webkit-text-shadow:none;
    text-shadow:none;
}

.cal td:hover a {
    color:#fff;
    font-weight:700;
}
.cal .status.completed  a,.cal .status425 a, .cal .status330 a, .cal .status220 a, .cal .status225 a, .cal .status135 a, .cal .scheduled a, .cal .status400 a, .cal .multi a {
    color:#fff;
}
.legend .scheduled, .cal td.scheduled {
    background-color:#3e799c;
    color:#fff;
}
.legend .completed, .cal td.status.completed, .cal td.status425, .cal td.status330, .cal td.status220, .cal td.status225, .cal td.status135 {
    background-color:#3ea123;
}
.legend .missed, .cal td.status400, .cal td.missed {
    background-color:#b20e0e;
}
.legend .multi, .cal td.multi {
    background-color:#5d43ba;
}
.legend {
    -ms-box-shadow:.25em .25em .5em #aaa;
    -moz-box-shadow:.25em .25em .5em #aaa;
    -o-box-shadow:.25em .25em .5em #aaa;
    -webkit-box-shadow:.25em .25em .5em #aaa;
    box-shadow:.25em .25em .5em #aaa;
    display:inline-block;
    margin:.3em auto;
    padding:.5em;
}

.legend li {
    border-left:.1em solid #d3d3d3;
    cursor:default;
    float:left;
    font-weight:700;
    padding:0 .75em;
}
.legend ul li:first-child {
    border-left:none;
}
.legend li div {
    border:.2em ridge #5d5d5d;
    -ms-box-shadow:inset .1em .1em .1em #5d5d5d;
    -moz-box-shadow:inset .1em .1em .1em #5d5d5d;
    -o-box-shadow:inset .1em .1em .1em #5d5d5d;
    -webkit-box-shadow:inset .1em .1em .1em #5d5d5d;
    box-shadow:inset .1em .1em .1em #5d5d5d;
    display:inline-block;
    height:.8em;
    margin-right:.5em;
    vertical-align:text-top;
    width:.8em;
}

.legend li .icon {
    font-size:1em;
    margin-right:.5em;
    vertical-align:text-top;
}
/* -- Scheduler Tabs -- */
#ScheduleCenter_Collapsed, .list-collapsed {
    background-color:#d6e8f5;
    border-top:.1em solid #83a2d4;
    height:.3em;
    position:relative;
}
.list-collapsed {
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    z-index:8;
}
.show-scheduler, .show-list, .hide-list {
    background-color:#d6e8f5;
    border:.1em solid #83a2d4;
    border-bottom:0 none;
    -ms-border-radius:1em 1em 0 0;
    border-radius:1em 1em 0 0;
    color:#333;
    cursor:pointer;
    font-weight:700;
    padding:.4em 1em;
    position:absolute;
    top:-2.35em;
    right:1.2em;
}

.show-list,.hide-list {
    z-index: 8;
}
.show-list:hover, .hide-list:hover {
    border-bottom:none;
}
.schedule-list {
    background-color:#fff;
    bottom:0;
    height:0;
    left:0;
    position:absolute;
    right:0;
    z-index:8;
}
.scheduler.loading {
    background-color:#fff;
}
.scheduler.ui-tabs {
    display:none;
    height:13em;
    position:relative;
    top:-1.6em;
}
.horizontal-tabs .scheduler.tab-content {
    top:2.2em;
}
#ScheduleCenter_Collapsed {
    background-color:#d6e8f5;
    border-top:.1em solid #83a2d4;
    height:.3em;
    position:relative;
    top:-1.5em;
}
.show-scheduler {
    background-color:#d6e8f5;
    border:.1em solid #83a2d4;
    border-bottom:0 none;
    -ms-border-radius:1em 1em 0 0;
    border-radius:1em 1em 0 0;
    color:#333;
    cursor:pointer;
    font-weight:700;
    padding:.4em 1em;
    position:absolute;
    right:1.2em;
    top:-2.3em;
}

.scheduler .delete {
    margin:.4em 0;
}
.scheduler input[type=text], .scheduler select {
    width:80%;
}
.scheduler input[type=text].schedule-date-range {
    width:35%;
}
.scheduler .acore-grid {
    margin-right:7em;
}

/* -- Maps -- */
.address-block {
    margin:.5em .25em;
}
.address-block input[type="text"], .address-block select {
    width: 100%;
}
.address-block select.short {
    width: 50%;
}
.address-block input.shorter {
    width: 25%;
}
#PatientMapDirections {
    background-color:#f5e9c4;
    background-image:linear-gradient(25deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-moz-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-ms-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-o-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-webkit-gradient(linear,left top,bottom right, from(#f5e9c4), to(#f5e9c4), color-stop(#fffcf2 .5));
    background-image:-webkit-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    border:.1em solid #888;
    overflow:auto;
}

/* -- Report Center -- */
.report-output.loading {
    bottom:1em;
    left:1em;
    position:absolute;
    right:1em;
    top:1em;
}

/* -- Tooltips -- */
.ui-tooltip {
    background-color:#abb8c9;
    background-image:linear-gradient(0,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-moz-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-ms-linear-gradient(0,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-o-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#83a2d4),to(#cad2de),color-stop(.75 #abb8c9));
    background-image:-webkit-linear-gradient(90deg,#83a2d4,#abb8c9 75%,#cad2de);
    border:.1em solid #555;
    -ms-border-radius:1em;
    -moz-border-radius:1em;
    -o-border-radius:1em;
    -webkit-border-radius:1em;
    border-radius:1em;
    -ms-box-shadow:.25em .25em .5em #aaa;
    -moz-box-shadow:.25em .25em .5em #aaa;
    -o-box-shadow:.25em .25em .5em #aaa;
    -webkit-box-shadow:.25em .25em .5em #aaa;
    box-shadow:.25em .25em .5em #aaa;
    height:auto;
    line-height:1.25em;
    max-width:30em;
    padding:.75em;
    position:fixed;
    width:auto;
    z-index:99;
}

.ui-tooltip.error {
    background-color:#d2aba6;
    background-image:linear-gradient(0,#d48c83,#d2aba6 75%,#deccca);
    background-image:-moz-linear-gradient(90deg,#d48c83,#d2aba6 75%,#deccca);
    background-image:-ms-linear-gradient(0,#d48c83,#d2aba6 75%,#deccca);
    background-image:-o-linear-gradient(90deg,#d48c83,#d2aba6 75%,#deccca);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#d48c83),to(#deccca),color-stop(.75 #d2aba6));
    background-image:-webkit-linear-gradient(90deg,#d48c83,#d2aba6 75%,#deccca);
}
.ui-tooltip.sticky-note {
    background:url(/Images/notes.png) no-repeat top left;
    border:0;
    -ms-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    height:191px;
    padding:2em;
    width:142px;
}

.ui-tooltip.sticky-note.blue {
    background-position:-191px 0;
}
.ui-tooltip.sticky-note.red {
    background-position:-382px 0;
}
.ui-tooltip.sticky-note .body {
    max-height:147px;
    overflow:hidden;
}
.t-grid tr.completed {
    color:#0c710c;
}
.t-grid td.error {
    color:#71160c;
}
@media all and (max-width:1020px) {
    .patient-summary.ma {
        width:30em;
    }
    .button a.previous-episode, .button a.next-episode {
        padding:.1em .5em;
    }
    #ScheduleCenter_Collapsed, #ScheduleCenter_TabStrip {
        display:none !important;
    }
}