﻿/* -- Widget -- */
.widget, .reports {
    border:.1em solid #b2afa8;
    border-radius:1em 1em 0 0;
    -moz-border-radius:1em 1em 0 0;
    -webkit-border-radius:1em 1em 0 0;
    -o-border-radius:1em 1em 0 0;
    box-shadow:.2em .2em .3em #aaa;
    -moz-box-shadow:.2em .2em .3em #aaa;
    -webkit-box-shadow:.2em .2em .3em #aaa;
    -o-box-shadow:.2em .2em .3em #aaa;
    margin:0 .5em 1em;
    overflow:hidden;
    position:relative;
}
.widget-head, .reports-head {
    background-color:#c8d9ed;
    background-image:linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-moz-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c8d9ed),to(#e5f0fc));
    background-image:-o-linear-gradient(90deg,#c8d9ed,#e5f0fc);
    border-bottom:.1em solid #b2afa8;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f0fc', endColorstr='#c8d9ed');
    border-radius:.85em .85em 0 0;
    -moz-border-radius:.85em .85em 0 0;
    -webkit-border-radius:.85em .85em 0 0;
    -o-border-radius:.85em .85em 0 0;
    color:#943a43;
    font-weight:600;
    height:2em;
    letter-spacing:.1em;
    line-height:2em;
    padding:0 1.5em;
    text-align:center;
}
.stationary .widget-head {
    cursor:default;
}
.widgets {
    float:left;
    width:33.33%;
}
.widget-content {
    background:#fffcf2;
    display:block;
    font-weight:500 !important;
    height:17.5em;
    position:relative;
}
.widget-content h1 {
    padding:4.25em 0;
}
.widget-more {
    bottom:.4em;
    left:1em;
    position:absolute;
    right:1em;
    text-align:right;
}
.widget-more a {
    background-color:#eee;
    border:.1em solid #aaa;
    border-radius:1em 1em 0 0;
    -moz-border-radius:1em 1em 0 0;
    -webkit-border-radius:1em 1em 0 0;
    -o-border-radius:1em 1em 0 0;
    color:#af1e2d;
    cursor:pointer;
    margin:0 .25em;
    padding:.5em;
}
.widget-more a:hover {
    font-weight:600;
    padding:.75em;
    text-decoration:underline;
}
.widget-placeholder {
    border:.1em dashed #aaa;
    border-radius:1em 1em 0 0;
    -moz-border-radius:1em 1em 0 0;
    -webkit-border-radius:1em 1em 0 0;
    -o-border-radius:1em 1em 0 0;
    margin:.75em .5em;
}
@media all and (max-width:1020px) {
    .widgets {
        display:inline;
        float:none;
        width:auto;
    }
    .widget {
        float:left;
        width:48%;
    }
}
@media all and (max-width:750px) {
    .widgets, .widget {
        float:none;
        width:100%;
    }
}

/* -- Faux Grid -- */
.widget-content .faux-grid {
    bottom:0;
    color:#333;
    font-weight:500;
    left:0;
    position:absolute;
    right:0;
    top:0;
}
.widget-content .faux-grid th, .widget-content .faux-grid td {
    cursor:default;
}
.widget-content .faux-grid table {
    width:100%;
}
.widget-content .faux-grid-header {
    background-color:#f2d9d7;
    background-image:-moz-linear-gradient(90deg,#f2d9d7,#f2e7e6);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#f2d9d7),to(#f2e7e6));
    background-image:-o-linear-gradient(90deg,#f2d9d7,#f2e7e6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2e7e6', endColorstr='#f2d9d7');
    border-bottom:.1em solid #d3d3d3;
    color:#333;
    font-weight:600;
    padding-right:1.2em;
    width:100%;
}
.widget-content .faux-grid-header th {
    border-bottom:.1em solid #d8c1c0;
    border-left:.1em solid #d8c1c0;
    color:#333;
    font-weight:600;
    overflow:hidden;
    padding:.3em .6em;
    text-align:left;
}
.widget-content .faux-grid-header tr > th:first-child {
    border-left:0 none;
}
.widget-content .faux-grid-content {
    max-height:15.4em;
    width:100%;
}
.widget-content .faux-grid-content td {
    border-left:.1em solid #d3ccb6;
    line-height:1.5em;
    overflow:hidden;
    padding:.25em .6em;
    vertical-align:top;
}
.widget-content .faux-grid-content tr > td:first-child {
    border-left:0 none;
}
.widget-content .faux-grid-content tr:nth-child(even) {
    background-color:#f7efd5;
}

/* -- Local Widget -- */
#weather-image {
    background-position:left top;
    background-repeat:no-repeat;
    height:10em;
    left:50%;
    margin-left:-7.5em;
    position:absolute;
    top:6em;
    width:15em;
}
#weather-info {
    color:#7d5352;
    position:relative;
    max-width:35em;
    margin:0 auto;
    padding-left:1.5em;
    cursor:default;
}
#weather-info a {
    color:#7d5352;
    text-decoration:underline;
}
#weather-info .temp {
    font-size:2.2em;
    font-weight:600;
    position:absolute;
    right:.5em;
    top:0;
}
#weather-info .range, #weather-info .wind {
    font-size:.9em;
    position:absolute;
    right:1.5em;
}
#weather-info .range {
    top:4.2em;
}
#weather-info .wind {
    top:2em;
}
#weather-info .city {
    font-size:1.5em;
    font-weight:600;
}
#weather-info .desc {
    font-weight:600;
}
#weather-info .link {
    font-size:.8em;
    text-align:left;
}
.clock_digit {
    background-image:url(/Images/clock.png);
    display:inline-block;
    height:125px;
    margin:5px 0;
    width:50px;
}
.clock_bg {
    background:url(/Images/clock.png) no-repeat 0 0;
    display:inline-block;
    height:140px;
    width:140px;
}
#plugin_container {
    color:#fff;
    height:140px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    width:285px;
}
#digital_container {
    height:140px;
    left:0;
    position:absolute;
    top:0;
    width:285px;
}
#clock {
    float:left;
}
#hours, #minutes {
    height:140px;
    float:left;
    position:relative;
    width:140px;
}
#minutes {
    margin-left:4px;
}
#hours_bg, #minutes_bg {
    height:100%;
    position:absolute;
    width:100%;
}
.first_digit {
    height:100%;
    left:20px;
    position:absolute;
    width:50px;
}
.second_digit {
    height:100%;
    left:70px;
    position:absolute;
    width:50px;
}
.line {
    background-color:#efefef;
    height:2px;
    left:10px;
    position:absolute;
    top:69px;
    width:120px;
    z-index:1;
}
#am_pm {
    background:url(/Images/clock.png) no-repeat -650px -515px;
    display:inline-block;
    height:26px;
    left:90px;
    position:absolute;
    top:110px;
    width:40px;
    z-index:1;
}
#am_pm.pm {
    background-position:-690px -515px;
}
.clock_digit.clock00 {
    background-position:0 -140px;
}
.clock_digit.clock10 {
    background-position:-50px -140px;
}
.clock_digit.clock20 {
    background-position:-100px -140px;
}
.clock_digit.clock30 {
    background-position:-150px -140px;
}
.clock_digit.clock01 {
    background-position:-200px -140px;
}
.clock_digit.clock11 {
    background-position:-250px -140px;
}
.clock_digit.clock21 {
    background-position:-300px -140px;
}
.clock_digit.clock31 {
    background-position:-350px -140px;
}
.clock_digit.clock02 {
    background-position:-400px -140px;
}
.clock_digit.clock12 {
    background-position:-450px -140px;
}
.clock_digit.clock22 {
    background-position:-500px -140px;
}
.clock_digit.clock32 {
    background-position:-550px -140px;
}
.clock_digit.clock03 {
    background-position:-600px -140px;
}
.clock_digit.clock13 {
    background-position:-650px -140px;
}
.clock_digit.clock23 {
    background-position:-700px -140px;
}
.clock_digit.clock33 {
    background-position:-750px -140px;
}
.clock_digit.clock04 {
    background-position:-800px -140px;
}
.clock_digit.clock14 {
    background-position:-850px -140px;
}
.clock_digit.clock24 {
    background-position:-900px -140px;
}
.clock_digit.clock34 {
    background-position:-950px -140px;
}
.clock_digit.clock05 {
    background-position:0 -265px;
}
.clock_digit.clock15 {
    background-position:-50px -265px;
}
.clock_digit.clock25 {
    background-position:-100px -265px;
}
.clock_digit.clock35 {
    background-position:-150px -265px;
}
.clock_digit.clock06 {
    background-position:-200px -265px;
}
.clock_digit.clock16 {
    background-position:-250px -265px;
}
.clock_digit.clock26 {
    background-position:-300px -265px;
}
.clock_digit.clock36 {
    background-position:-350px -265px;
}
.clock_digit.clock07 {
    background-position:-400px -265px;
}
.clock_digit.clock17 {
    background-position:-450px -265px;
}
.clock_digit.clock27 {
    background-position:-500px -265px;
}
.clock_digit.clock37 {
    background-position:-550px -265px;
}
.clock_digit.clock08 {
    background-position:-600px -265px;
}
.clock_digit.clock18 {
    background-position:-650px -265px;
}
.clock_digit.clock28 {
    background-position:-700px -265px;
}
.clock_digit.clock38 {
    background-position:-750px -265px;
}
.clock_digit.clock09 {
    background-position:-800px -265px;
}
.clock_digit.clock19 {
    background-position:-850px -265px;
}
.clock_digit.clock29 {
    background-position:-900px -265px;
}
.clock_digit.clock39 {
    background-position:-950px -265px;
}
.clock_digit.clock111 {
    background-position:0 -390px;
}
.clock_digit.clock211 {
    background-position:-50px -390px;
}
.clock_digit.clock311 {
    background-position:-100px -390px;
}
.clock_digit.clock121 {
    background-position:-150px -390px;
}
.clock_digit.clock221 {
    background-position:-200px -390px;
}
.clock_digit.clock321 {
    background-position:-250px -390px;
}
.clock_digit.clock131 {
    background-position:-300px -390px;
}
.clock_digit.clock231 {
    background-position:-350px -390px;
}
.clock_digit.clock331 {
    background-position:-400px -390px;
}
.clock_digit.clock141 {
    background-position:-450px -390px;
}
.clock_digit.clock241 {
    background-position:-500px -390px;
}
.clock_digit.clock341 {
    background-position:-550px -390px;
}
.clock_digit.clock151 {
    background-position:-600px -390px;
}
.clock_digit.clock251 {
    background-position:-650px -390px;
}
.clock_digit.clock351 {
    background-position:-700px -390px;
}
.clock_digit.clock1111 {
    background-position:-750px -390px;
}
.clock_digit.clock2111 {
    background-position:-800px -390px;
}
.clock_digit.clock3111 {
    background-position:-850px -390px;
}
.clock_digit.clock1211 {
    background-position:-900px -390px;
}
.clock_digit.clock2211 {
    background-position:-950px -390px;
}
.clock_digit.clock3211 {
    background-position:0 -515px;
}
.clock_digit.clock1311 {
    background-position:-50px -515px;
}
.clock_digit.clock2311 {
    background-position:-100px -515px;
}
.clock_digit.clock3311 {
    background-position:-150px -515px;
}
.clock_digit.clock1511 {
    background-position:-200px -515px;
}
.clock_digit.clock2511 {
    background-position:-250px -515px;
}
.clock_digit.clock3511 {
    background-position:-300px -515px;
}
.clock_digit.clock201 {
    background-position:-350px -515px;
}
.clock_digit.clock101 {
    background-position:-400px -515px;
}
.clock_digit.clock3001 {
    background-position:-450px -515px;
}
.clock_digit.clock1001 {
    background-position:-500px -515px;
}
.clock_digit.clock2001 {
    background-position:-550px -515px;
}
.clock_digit.clock301 {
    background-position:-600px -515px;
}
/* -- Custom Dashboard Mesasge Reset -- */
#custom-message-widget .widget-content div {
    position:relative;
}
#custom-message-widget .widget-content address, #custom-message-widget .widget-content blockquote, #custom-message-widget .widget-content dd, #custom-message-widget .widget-content div, #custom-message-widget .widget-content dl, #custom-message-widget .widget-content dt, #custom-message-widget .widget-content fieldset, #custom-message-widget .widget-content h1, #custom-message-widget .widget-content h2, #custom-message-widget .widget-content h3, #custom-message-widget .widget-content h4, #custom-message-widget .widget-content h5, #custom-message-widget .widget-content h6, #custom-message-widget .widget-content ol, #custom-message-widget .widget-content p, #custom-message-widget .widget-content ul, #custom-message-widget .widget-content center, #custom-message-widget .widget-content dir, #custom-message-widget .widget-content hr, #custom-message-widget .widget-content menu, #custom-message-widget .widget-content pre {
    display:block;
    unicode-bidi:embed;
}
#custom-message-widget .widget-content li {
    display:list-item;
}
#custom-message-widget .widget-content table {
    display:table;
}
#custom-message-widget .widget-content tr {
    display:table-row;
}
#custom-message-widget .widget-content thead {
    display:table-header-group;
}
#custom-message-widget .widget-content tbody {
    display:table-row-group;
}
#custom-message-widget .widget-content tfoot {
    display:table-footer-group;
}
#custom-message-widget .widget-content col {
    display:table-column;
}
#custom-message-widget .widget-content colgroup {
    display:table-column-group;
}
#custom-message-widget .widget-content td, #custom-message-widget .widget-content th {
    display:table-cell;
}
#custom-message-widget .widget-content caption {
    display:table-caption;
}
#custom-message-widget .widget-content th {
    font-weight:800;
    text-align:center;
}
#custom-message-widget .widget-content caption {
    text-align:center;
}
#custom-message-widget .widget-content h1 {
    font-size:2em;
    margin:.67em 0;
}
#custom-message-widget .widget-content h2 {
    font-size:1.5em;
    margin:.75em 0;
}
#custom-message-widget .widget-content h3 {
    font-size:1.17em;
    margin:.83em 0;
}
#custom-message-widget .widget-content h4, #custom-message-widget .widget-content p, #custom-message-widget .widget-content blockquote, #custom-message-widget .widget-content ul, #custom-message-widget .widget-content fieldset, #custom-message-widget .widget-content ol, #custom-message-widget .widget-content dl, #custom-message-widget .widget-content dir, #custom-message-widget .widget-content menu {
    margin:1.12em 0;
}
#custom-message-widget .widget-content h5 {
    font-size:.83em;
    margin:1.5em 0;
}
#custom-message-widget .widget-content h6 {
    font-size:.75em;
    margin:1.67em 0;
}
#custom-message-widget .widget-content h1, #custom-message-widget .widget-content h2, #custom-message-widget .widget-content h3, #custom-message-widget .widget-content h4, #custom-message-widget .widget-content h5, #custom-message-widget .widget-content h6, #custom-message-widget .widget-content b, #custom-message-widget .widget-content strong {
    font-weight:800;
}
#custom-message-widget .widget-content blockquote {
    margin-left:40px;
    margin-right:40px;
}
#custom-message-widget .widget-content i, #custom-message-widget .widget-content cite, #custom-message-widget .widget-content em, #custom-message-widget .widget-content var, #custom-message-widget .widget-content address {
    font-style:italic;
}
#custom-message-widget .widget-content pre, #custom-message-widget .widget-content tt, #custom-message-widget .widget-content code, #custom-message-widget .widget-content kbd, #custom-message-widget .widget-content samp {
    font-family:monospace;
}
#custom-message-widget .widget-content pre {
    white-space:pre;
}
#custom-message-widget .widget-content big {
    font-size:1.17em;
}
#custom-message-widget .widget-content small, #custom-message-widget .widget-content sub, #custom-message-widget .widget-content sup {
    font-size:.83em;
}
#custom-message-widget .widget-content sub {
    vertical-align:sub;
}
#custom-message-widget .widget-content sup {
    vertical-align:super;
}
#custom-message-widget .widget-content table {
    border-spacing:2px;
}
#custom-message-widget .widget-content thead, #custom-message-widget .widget-content tbody, #custom-message-widget .widget-content tfoot {
    vertical-align:middle;
}
#custom-message-widget .widget-content td, #custom-message-widget .widget-content th, #custom-message-widget .widget-content tr {
    vertical-align:inherit;
}
#custom-message-widget .widget-content s, #custom-message-widget .widget-content strike, #custom-message-widget .widget-content del {
    text-decoration:line-through;
}
#custom-message-widget .widget-content hr {
    border:1px inset;
}
#custom-message-widget .widget-content ol, #custom-message-widget .widget-content ul, #custom-message-widget .widget-content dir, #custom-message-widget .widget-content menu, #custom-message-widget .widget-content dd {
    margin-left:40px;
}
#custom-message-widget .widget-content ol {
    list-style-type:decimal;
}
#custom-message-widget .widget-content ol ul, #custom-message-widget .widget-content ul ol, #custom-message-widget .widget-content ul ul, #custom-message-widget .widget-content ol ol {
    margin-top:0;
    margin-bottom:0;
}
#custom-message-widget .widget-content u, #custom-message-widget .widget-content ins {
    text-decoration:underline;
}
#custom-message-widget .widget-content br:before {
    content:"\A";
    white-space:pre-line;
}
#custom-message-widget .widget-content center {
    text-align:center;
}
#custom-message-widget .widget-content :link, #custom-message-widget .widget-content :visited {
    text-decoration:underline;
}

/* -- News Widget -- */
#newsfeed-widget ul {
    overflow:hidden;
}
#newsfeed-widget .post {
    border-top:.1em dotted #d3d3d3;
}
#newsfeed-widget ul > .post:first-child {
    border-top:0 none;
}
#newsfeed-widget .post a {
    border:.1em solid #fffcf2;
    border-radius:.5em;
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    -o-border-radius:.5em;
    color:#333;
    display:block;
    height:6.5em;
    margin:.5em;
    overflow:hidden;
    padding:.5em 1em;
    position:relative;
}
#newsfeed-widget .post a:hover {
    background-image:linear-gradient(280deg,#e5eaf1,#a7b7c9);
    background-image:-moz-linear-gradient(280deg,#e5eaf1,#a7b7c9);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#e5eaf1),to(#a7b7c9));
    background-image:-o-linear-gradient(280deg,#e5eaf1,#a7b7c9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5eaf1',endColorstr='#a7b7c9');
    border-color:#909caa;
    box-shadow:inset -.5em .5em 1em #e5eaf1,inset .5em -.5em 1em #a7b7c9;
    -moz-box-shadow:inset -.5em .5em 1em #e5eaf1,inset .5em -.5em 1em #a7b7c9;
    -webkit-box-shadow:inset -.5em .5em 1em #e5eaf1,inset .5em -.5em 1em #a7b7c9;
    -o-box-shadow:inset -.5em .5em 1em #e5eaf1,inset .5em -.5em 1em #a7b7c9;
    text-decoration:none;
}
#newsfeed-widget .post a:active {
    background-image:linear-gradient(280deg,#a7b7c9,#e5eaf1);
    background-image:-moz-linear-gradient(280deg,#a7b7c9,#e5eaf1);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#a7b7c9),to(#e5eaf1));
    background-image:-o-linear-gradient(280deg,#a7b7c9,#e5eaf1);
    box-shadow:inset -.5em .5em 2em #a7b7c9;
    -moz-box-shadow:inset -.5em .5em 2em #a7b7c9;
    -webkit-box-shadow:inset -.5em .5em 2em #a7b7c9;
    -o-box-shadow:inset -.5em .5em 2em #a7b7c9;
    padding:.6em 1.1em .4em .9em;
    text-decoration:none;
}
#newsfeed-widget .title {
    font-weight:600;
    letter-spacing:.1em;
    text-transform:uppercase;
}
#newsfeed-widget .date {
    font-style:italic;
}
/* -- Message Widget Styling -- */
.widget-message-list li {
    border-bottom:.1em solid #aaa;
    cursor:pointer;
    display:block;
    line-height:2.4em;
    padding:0 1em;
}
.widget-message-list li.hover {
    background-color:#d8deeb;
    box-shadow:0 0 .1em #000 inset, 0 0 2em #888 inset;
}
.widget-message-list input {
    margin:.25em 1em .25em 0;
    vertical-align:middle;
}