﻿.ui-datepicker {
    background-color:#fff;
    border:.1em solid #83a2d4;
    box-shadow:.25em .25em .5em #aaa;
    cursor:default;
    margin:.25em 0;
    width:18em;
}
.ui-datepicker-header {
    background-color:#c3d8f1;
    background-image:linear-gradient(0deg,#c3d8f1,#dde8f5);
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5));
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-ms-linear-gradient(90deg,#c3d8f1,#dde8f5);
    border-bottom:.1em solid #83a2d4;
}
.ui-datepicker-prev {
    float:left;
}
.ui-datepicker-next {
    float:right;
}
.ui-datepicker-title {
    font-weight:700;
    line-height:2em;
    text-align:center;
}
.ui-datepicker-calendar {
    border-collapse:collapse;
    margin:.25em;
    table-layout:fixed;
    text-align:center;
    width:17.5em;
}
.ui-datepicker-calendar tbody {
    background-color:#fffcf2;
}
.ui-datepicker-calendar tbody td {
    border:.1em solid #ccc9c1;
}
.ui-datepicker a {
    color:#333;
    display:block;
    padding:.4em 0;
}
.ui-datepicker a:hover {
    background-color:#e6ebf2;
    border-bottom:none;
    box-shadow:.1em .1em .25em #b8bfcc;
    -moz-box-shadow:.1em .1em .25em #b8bfcc;
    -o-box-shadow:.1em .1em .25em #b8bfcc;
    -webkit-box-shadow:.1em .1em .25em #b8bfcc;
}
.ui-datepicker-other-month {
    background-color:#f2efe6;
}
.ui-datepicker-other-month a {
    color:#ccc9c1;
}
.ui-datepicker-current-day {
    background-color:#dae7ed;
}