﻿/* -- Telerik Grid Placement Overrides -- */
.loading-layout-override{ width:100%; height:auto; bottom: 75px; top: 175px; position: absolute; left: 0}
.centered-unpadded-cell{padding:0px !important; text-align:center !important;}
.fixed-grid-height{height:286px;position:relative}
.absolute-grid{position:absolute;left:0;right:0;bottom:0;top:287px;height:auto}
#MedicatonProfileGridActive{height:265px}
#MedicatonProfileGridDC,#MedicatonProfileGrid{height:230px}
#MedicatonProfileGridDC .t-grid-content,#MedicatonProfileGrid .t-grid-content{top:30px !important}
.img.icon{display:inline-block}
.img.icon.expand{background:url(/Images/sprite.png) no-repeat -190px 0;width:16px;height:16px}
.img.icon.collapse{background:url(/Images/sprite.png) no-repeat -190px -16px;width:16px;height:16px}
/*.img.icon.paperclip{background:url(/Images/sprite.png) no-repeat -148px -31px;width:16px;height:16px}
.img.icon.print{background:url(/Images/sprite.png) no-repeat -84px -31px;width:16px;height:16px}*/
.img.icon.money{background:url(/Images/sprite.png) no-repeat -99px -47px;width:16px;height:16px}
.img.icon.success{background:url(/Images/sprite.png) no-repeat -64px 0;width:32px;height:31px}
.img.icon.error{background:url(/Images/sprite.png) no-repeat -128px 0;width:32px;height:31px}
.img.icon.success-small{background:url(/Images/sprite.png) no-repeat -150px -47px;width:16px;height:16px}
.img.icon.error-small{background:url(/Images/sprite.png) no-repeat -166px -47px;width:16px;height:16px}
.img.icon.send{background:url(/Images/sprite.png) no-repeat -190px -17px;width:29px;height:14px}
.img.info.icon{background-position:-96px 0;width:32px;height:32px}

input.grid-search{width:300px;margin-left:-150px;position:absolute;left:50%}
.grid-search.rel input.grid-search{position:relative;left: inherit;}
.orders-filter{padding:.4em 1em 0;width:760px;margin:.5em auto}
.orders-filter label,.orders-filter input,.orders-filter div,.orders-filter a{vertical-align:middle}
.no-left-margin .grid-search{margin-left:0px}
.activity-log a{display:block;text-decoration:none;width:80px;height:33px;padding:0 5px 0 15px;font-weight:bold;color:#00271e;line-height:33px;text-shadow:#aaa .2em .2em .4em}
/* -- OASIS -- */
fieldset .tobacco,fieldset .cancer{width:100px !important;margin:0 5px}
fieldset .instructions{text-align:left}
fieldset .instructions p{margin:10px 0}
fieldset .instructions li{display:block}
fieldset .instructions li li{margin-left:70px}
fieldset .instructions li p{display:block;margin:0 0 0 65px}
fieldset .instructions li li p{margin:0 0 0 15px}
.oasis-container .ui-slider{width:355px}
table.icdCodes td{ border-top:solid 1px DarkGray;padding:5px 0 5px 0;vertical-align:bottom}
table.bordergrid td{ border-top:solid 1px DarkGray;padding:5px 5px 5px 5px;vertical-align:bottom}
table.bordergrid th{ border-top:solid 1px DarkGray;padding:5px 5px 5px 5px;vertical-align:bottom}
table.bordergrid td{border-right:solid 1px DarkGray}
table.bordergrid th{border-right:solid 1px DarkGray}
table.bordergrid td:last-child,table.bordergrid th:last-child{border-right:0}
table.bordergrid th.fiexdwidthsamll{width:70px}
table.bordergrid{border:solid 1px DarkGray;border-collapse:collapse}
fieldset div .shade{right:0}
.oasisExport{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:20px}
.oasisExport thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.oasisExport thead td{background:#fff}
.oasisExport thead th{border:solid 1px #aaa}
.oasisExport.noborders thead th{border:0 none}
.oasisExport td{border:solid 1px #d3d3d3;padding:2px}
.oasisExport td.ac{width:100px}
.oasisExport tr.odd td{background:#fffcf2}
.oasisExport tr.even td{background:#e6f6ff}
/*#generateOasis table,#generateExportedOasis table{background-color:#d6e5f3}*/
/* -- Tooltips -- */
.tooltip_oasis{margin:0 0 0 3px;padding-right:2px;font-weight:bold;border:solid 1px #777;background-color:#c3d8f1;color:#fff;cursor:pointer;width:14px;line-height:16px;text-align:center;display:inline-block;text-shadow:.1em .1em .1em #333}
.tooltip{background:url(/Images/sprite.png) no-repeat -132px -31px;height:16px;width:16px;display:inline-block;font-size:0}
.tooltip hr{border:none}
.tooltip.blue-note{background-position:-116px -31px}
.tooltip.red-note{background-position:-100px -31px}
.tooltip-box{border:solid 1px #d3d3d3;margin:-200px 0 0 -250px;padding:10px;overflow:hidden;position:fixed;width:500px;height:400px;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;top:50%;left:50%;z-index:100;color:#333}
.tooltip-box .closer{position:absolute;top:8px;right:8px;cursor:pointer;width:15px;height:15px;line-height:15px;text-align:center;font-weight:bold}
.tooltip-box h3{margin:3.5px 0;font-size:13px}
.tooltip-box .content{height:120px;padding:5px;background:#fffcf2;overflow:auto}
.tooltip-box .intent{height:65px}
/* -- Billing Center --*/
.claim{border:solid 1px #d3d3d3;border-collapse:collapse;width:100%;margin-bottom:10px;float:left}
.claim thead{text-align:center;background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.claim thead td{background:#fff}
.claim thead th{border:solid 1px #aaa}
.claim.noborders thead th{border:0 none}
.claim td{border:solid 1px #d3d3d3;padding:2px}
.claim td.ac{width:100px}
.claim tr.odd td{background:#fffcf2}
.claim tr.even td{background:#f7efd5}
.claim input,.claim select,.claim .t-input{margin:3px;vertical-align:middle}
.claim .t-input{width:70%}
#final-tabs,#ManagedClaimTabStrip,#SecondaryClaimTabStrip{position:absolute;top:0;right:0;bottom:0;left:0}
#final-tabs li.t-state-active,#ManagedClaimTabStrip li.t-state-active, #SecondaryClaimTabStrip li.t-state-active{z-index:2}
#final-tabs .t-state-active,#ManagedClaimTabStrip .t-state-active, #SecondaryClaimTabStrip .t-state-active{background-color:#fff}
#final-tabs .t-content,#ManagedClaimTabStrip .t-content, #SecondaryClaimTabStrip .t-content{min-height:250px;position:absolute;top:42px;right:0;bottom:0;left:0;overflow:auto}
.billing ol,.payroll ol{font-weight:normal}
.billing ol.loading,.payroll ol.loading{height:150px}
.billing ol.loading li,.payroll ol.loading li{display:none}
.billing ul,.billing ol,.payroll ul,.payroll ol{border:1px solid #888;margin:5px 2px}
.billing ul,.payroll ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.billing ul li,.billing .discpiline-title,.payroll ul li{font-weight:bold}
.billing li span,.payroll li span{display:inline-block}
.billing li span.very-hidden,.payroll li span.very-hidden{display:none !important;}
.billing li,.payroll li{display:block;padding:1px 20px}
.billing ol li,.payroll ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none; }
#managedBillingVisitForm .billing ol li, #secondaryBillingVisitForm .billing ol li, #secondaryBillingRemittanceForm .billing ol li{border:solid 1px #f7efd5;border-left:0 none;border-right:0 none; border-radius:0.4em;}
.billing li a{color:#000}
.billing li.even,.billing .discpiline-title,.payroll li.even{background-color:#f7efd5}
.billing li.hover,.payroll li.hover{border-color:#888;position:relative}
.billing li.ready.hover{background:url(/Images/gradients.png) repeat-x 0 -320px}
.billing li.notready.hover{background:url(/Images/gradients.png) repeat-x 0 -120px}
.billing li img{vertical-align:middle}
.billing li .checkbox,.billing li .visitunits,.billing li .visitcharge{width:5%}
.billing li .name,.billing li .sumdesc{width:30%}
.billing li .managed-description{width:44%}
.billing li .supply{width:50%}
.billing ol .name,.billing h3{font-weight:bold;font-size:14px;line-height:16px}
.billing li .id,.billing li .visitdate,.billing li .visithcpcs,.billing li .visitmodifiers{width:10%}

.billing li .episode{width:20%}
.billing li .icon-column{width:8%;text-align:center}
.billing li .finalicon,.billing li .managedcareicon{width:6%;text-align:center}
.billing ul,.payroll ul{margin-top:20px}
.billing .ready .rap-name,.billing .ready .final-name,.billing .ready .managedcare-name{color:#00f;text-decoration:underline}
.billing li .visittype,.billing li .visitstatus{width:19%}
.billing li .icon-column{width:8%;text-align:center}

.billing li .medeligtask,.billing li .medeligepisode{width:25%}
.billing li .medeligassigned,.billing li .medeligstatus{width:15%}
.billing li .medeligcreated{width:8%}
.billing li .medeligicon{width:8%;text-align:center}

#final-tabs li.t-item,#ManagedClaimTabStrip li.t-item, #SecondaryClaimTabStrip li.t-item{font-weight:normal !important;margin:0 5px -42px 0;font-size:14px}
#final-tabs li.t-item strong{font-weight:bold !important;text-align:center}
#final-tabs fieldset{border:1px solid #888}


.payrolluser{width:78%}
.payrollfirstname{width:39%}
.payrolllastname{width:39%}
.payrollaction,.payrollcount{width:10%}
.payrollname,.payrollstatus{width:15%}
.payrolltime { width: 13%; }
.payrolldate{width:8%}
.payrolltask{width:19%}
.payroll-checkbox{width:2%}
.payrollmileage {width: 6%;}
.payrollicon{width:2%;}
.payrolltotaltime{width:6%; text-align:right; padding-right:10px;}
.payrolltotaltimetitle {width:68%; text-align:right; padding-right:20px;}
.payrolltotalhour{width:26%; text-align:left; padding-left:10px;}

/* -- Visit Note -- */

th div.five,td div.five{width:20%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.four,td div.four{width:25%;height:100%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th.four,td.four{width:25%;height:100%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.twoThird,td div.twoThird{width:66.66%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.three,td div.three{width:33.33333%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.two,td div.two{width:49.9%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.seven,td div.six{width:16.0%;display:block;float:left;padding-top:5px;padding-bottom:5px;text-align:center}
th div.seven,td div.seven{width:14%;display:block;float:left;padding-top:5px;padding-bottom:5px;text-align:center}
th div.eight,td div.eight{width:12.5%;display:block;float:left;padding-top:5px;padding-bottom:5px}
th div.one,td div.one{width:100%;display:block;float:left;padding-top:5px;padding-bottom:5px}
td div.comment{ padding-top:5px}
td div.newRow{display:block;float:left;width:100%;padding-top:5px}
td div.break{display:block;float:left;width:100%}
.visitContainer{padding:5px 20px 5px 20px;height:auto;display:block}
table.innerTable{width:100%;border:0;padding-bottom:5px}
table.hha{width:100%;border-bottom:solid .25px #8B8878;border-left:solid .25px #8B8878;margin:2px 0 2px 0}
table.hha td,table.hha th{border-top:solid .25px #8B8878;border-right:solid .25px #8B8878}
table.hha td{padding:2px 0 2px 0;text-align:center}
table.hha th.fixedWidth{width:65px;padding:2px 0 2px 0}
table.hha tr td.left{text-align:left;padding-left:10px}
table.hha tr td .date{width:100px}
table.hha th,table.visitNote th,table.hha tr td.titleTr{color:black;font-weight:bold;padding:2px 0 2px 0;background:#F0F8FF}
div.rightBorder{border-right:solid .25px #8B8878}
.diagnosisBox{width:150px;border-color:White}
.buttons > ul > li input{background:transparent;color:#fff;border:1px solid #51614a;color:#fff;display:block;height:19px;padding:1px 10px;margin-bottom:10px}
.vitalWidth{width:86px}
.painWidth{width:100px}
.skinWidth{width:100px}
table.nostyle{background-color:White}
table.nostyle th,table.nostyle td{border:0;background:White}
table.nostyle tfoot tr td:first-child,table.nostyle tr:last-child th,table.nostyle tr:last-child td,table.nostyle tr td{border:0}
table.nostyle tfoot tr td:last-child{border:0}
.noteTextArea{padding-right:5px}
.noteTextArea textarea{width:93%}
.indent{padding-right:5px;padding-left:5px}
.devider{border-right:solid .5px Lightgray; height:100% !important;display:inline-block}
/* -- User Licenses -- */
.currentlicenses{margin:10px 10px 20px;position:relative;height:auto;display:block;min-height:150px}
.currentlicenses .t-grid{left:0;right:0}
.currentlicenses .t-grid-content{height:auto !important;overflow:auto;top:27px}
.currentlicenses .t-grid-header{padding:0}

/* -- Medication -- */
.medicationbmargin{margin-bottom:5px}
.medication .t-grid-content{top:65px !important}
.medication{height:auto;background-color:#d6e5f3;padding:0}
.medication legend{margin-left:10px}
#OasisMedicatonGrid{width:100%;display:block;height:285px;float:left}
#MedicationGrid485{width:100%;display:block;height:285px}
.t-grid-add{float:left}
.medication .t-grid table{border:0 none;border-collapse:separate;empty-cells:show;width:100%;padding:2px 0 2px 0}
.medication .t-grid-header table,.t-grid-content table{table-layout:fixed}
.medication .t-grid{position:relative!important;height:auto;min-height:200px;left:0;right:7px;border-top-width:0}
/*.medication table input,.medication table select{width:auto}*/
.medication table input,.medication table select{width:100%}
.nursing .t-header{width:100%}
.report-links{padding:4px}
.report-links .title{font-size:12px;font-weight:bold}
.report-links .link{overflow:hidden;height:22px;position:relative;padding:0}
.report-links ul li:first-child{border-top:0}
.report-links .link a{border:solid 1px #fffcf2;display:block;height:15px;padding:0 2px 5px}
.report-links .link a:hover{border-color:#ccc;text-decoration:none;background-color:#dce6f5}
#OasisMedicatonGridform input[name='StartDate']{width:65px}
#window_medicationdischarge{width:250px;height:250px}
.dischargeMedication{background-color:#fff;padding:10px;width:470px}
.darkgreen{color:#238e23}
.black{color:#000000}
.darkred{color:#FF0000}
.t-grid-new-row #DCDate{display:none}
.medication .t-grid .t-status{margin:0}
.medication .fixedinputWidth{width:50px}

/*-- Case Management & User Schedule Tasks --*/
#caseManagementContentId{top:66px;right:0;bottom:31px;left:0}
#caseManagementContentId .t-grid-content{height:auto !important;}
#printQueueContentId{position:absolute;top:75px;right:0;bottom:31px;left:0}
#printQueueContentId .t-grid-content{height:auto !important;top:57px}
/*-- Load Print Views --*/
#shade,#idleshade{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;z-index:11;opacity:.6;cursor:wait}
#print-box,#validation-box{position:absolute;top:0;right:0;bottom:42px;left:0;background-color:#d3d3d3}
#printview,#oasis_validation{width:100%;height:100%;overflow-x:hidden;border:0 none}
#print-controls,#oasis-validation-controls{position:absolute;right:0;bottom:0;left:0;padding:5px 2px;background-color:#eee;line-height:20px;border-top:solid 1px #aaa;height:2.6em}
#print-return-reason{position:fixed;left:50%;margin-left:-290px;bottom:9.5%;background:#fffcf2;width:580px;height:200px;display:none;border:solid 1px #aaa;text-align:center}
#print-return-reason textarea{width:560px;height:160px}
#print-return-reason label{font-size:14px;line-height:14px;margin:5px;display:block}
/*-- Patient Info Popup --*/
#patientinfo{background-color:#fff}
.bigtext{font-size:17px;font-weight:bold;font-family:Arial}
.mediumtext{font-size:14px;font-weight:normal;font-family:Arial}
.shortrow{width:500px}
.shortrow label{width:130px}
/*-- Nursing Visit Forms --*/
.nursing{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.nursingsub{text-align:center;width:100%;color:#333;border-spacing:10px 3px}
.nursing label,.nursingsub label{text-align:left}
.nursing th,.nursingsub th,div.note-header{background:url(/Images/gradients.png) repeat-x 0 -678px;border:1px solid #9bb6cf;font-weight:bold;padding:2px}

div.note-section.padded{ padding:5px 0 5px 0; background-color:#FFFCF2;min-height:2.5em;border: 1px solid #AAAAAA;margin-bottom: 2.5px;}
.nursing div.half .note-section,.nursing div.threefourth .note-section{margin-left:10px;margin-right:5px}
.nursing div.sixth .note-section,.nursing div.fourth .note-section{margin-left:5px;margin-right:5px}
.nursing .note-section-row .sixth:last-child .note-section, .nursing .note-section-row .fourth:last-child .note-section{margin-left:5px;margin-right:10px}
.nursing div.threefourth{width:75%;display:inline-block;padding:0;margin:0}
.nursing .note-section-row div.half{width:50%;display:inline-block;padding:0;margin:0}
.nursing .note-section-row div.sixth{width:16.66%;display:inline-block;padding:0;margin:0}
.nursing .note-section-row div.fourth{width:25%;display:inline-block;padding:0;margin:0}

.nursing div.marginized{margin-left:10px;margin-right: 10px;margin-bottom: 5px; }

.telerik-back{background:#c3d8f1 url("/Content/Office2007/sprite.png") repeat-x scroll 0 -352px !important}
.nursing th.tall{background:#d6e5f3 !important}
.t-state-selected{background-color:#dae7ed !important}
.nursing th em,.nursingsub th em{position:absolute;right:30px}
.nursing td,.nursingsub td{border:1px solid #aaa;padding:5px;background-color:#fffcf2}
.nursing .third,.nursingsub .third{width:30%;padding:0 5px;display:inline-block}
.nursing .twothird{width:60%;padding:0 5px;display:inline-block}
.nursing .third-nodisplay,.nursingsub .third-nodisplay{width:33%;padding:0 5px}
.nursing .half,.nursingsub .half{width:45%;padding:0 5px;display:inline-block}
.nursing table td,.nursing table th,.nursingsub table td,.nursingsub table th{background:none;border:0 none;padding:0 5px}
.nursing table,.nursingsub table{width:100%}
table.nursing.fixed{table-layout: fixed}
.shortdate.date{width:108px}
.shortdate .t-input{width:80px}
.padnoterow{border-top:dotted 1px #d3d3d3;clear:both;margin:2px auto;min-width:200px;max-width:600px}
td .padnoterow:first-child{border:0 none}
/*-- Misc --*/
.medDiv{margin:10px 10px 20px 10px;position:relative}
.medDiv div.ac.strong{border:solid 1px #aaa;border-bottom-width:0}
.medDiv .date{width:70% !important}
.mediumWidth{width:120px}
fieldset label.smallFont{font-size:11.25px;font-style:italic}
.events{display:none;text-align:left;position:relative}
.events ul{text-align:left;position:absolute;padding:5px;background:#e7ecf2;color:#fff;border:1px solid #000;font-size:15px;width:200px;z-index:999999;list-style:none;color:#444}
.events li{padding-bottom:5px}
.events li span{display:block;font-size:12px;text-align:left}
.events li span.eventTitle{font-weight:bold;color:#222}
.grid-bg {background-color:#D6E5F3;}
/*-- Insurance --*/
table.insurance{border-collapse:collapse}
table.insurance th.borderRight,table.insurance td.borderRight{border-right:solid 1px black}
table.insurance th.borderBottom,table.insurance td.borderBottom{border-bottom:solid 1px black}
form table.insurance td label.error{position:relative;float:left;width:2px !important;display:none}
#window_hhasVisit form label.error,#window_lvnsVisit label.error{position:relative;float:left}
.redLink{color:Red}
.blueLink{color:Blue;text-decoration:underline}
/*-- Authorization --*/
.shortselect{width:100px}
/* -- Agency Selection Links */
.agencySelection{background-color:#fff;padding:10px}
#agencySelectionLinks ul{	list-style-type:none;	width:400px}
#agencySelectionLinks li{	border:1px dotted #999;border-width:1px 0;margin:5px 0}
#agencySelectionLinks li a{color:#990000;display:block;font:bold 120% Arial,Helvetica,sans-serif;padding:5px;text-decoration:none}
* html #agencySelectionLinks li a{	width:400px}
#agencySelectionLinks li a:hover{	background:#ffffcc}
#agencySelectionLinks a em{color:#333;display:block;font:normal 85% Verdana,Arial,Helvetica,sans-serif;line-height:125%}
#agencySelectionLinks a span{color:#125F15;font:normal 70% Verdana,Arial,Helvetica,sans-serif;line-height:150%}
/*-- Payroll Summary --*/
.payroll_header{width:100%;margin:0 auto}
/*-- Remittance--*/
.remittance{border-spacing:.8em .3em;width:100%}
.remittance tr td:first-child{border-left:1px solid #aaa; }
.remittance tr td:last-child {border-right:1px solid #aaa;}
.remittance tr td{ width:25%; padding-left:5px; }
.remittance tr.odd td{border:1px solid #aaa;background-color:#fffcf2}
.remittance tr.even td{border:1px solid #aaa;background-color:#f7efd5}
.remittance tr.payinfo th,.remittance tr.claiminfo th{background:url(/Images/gradients.png) repeat-x 0 -678px;border:1px solid #9bb6cf;font-weight:bold;padding:2px}
.remittance tr.payinfo td,.remittance tr.reminfo td{border:1px solid #aaa;padding:5px;background-color:#fffcf2}
.remittance tr.payinfo td td,.remittance tr.reminfo td td{border:0px;padding:5px;background-color:#fffcf2}
.remittance table.claim,.remittance table td{border:0 none !important;padding:.1em .4em !important}
.remittance table.claim table.episodes {width:100%;}
.remittance table.claim table.episodes tr td {text-align:center;font-weight:bold;}
.remittance table.claim table.episodes tr td:first-child { width:8%; }

.remittance div.half-odd-table-content{padding-left:5px;padding-right:5px; width:48.5%; background-color:#FFFCF2; border:1px solid #AAAAAA;box-shadow: 0 0.2em 0.3em #AAAAAA;border-radius: 0.4em 0.4em 0.4em 0.4em;}
.remittance div.half-odd-table-header{padding-top:2px; padding-bottom:2px; padding-left:5px;padding-right:5px; width:48.5%; background:url('/Images/gradients.png') repeat-x scroll 0 -678px transparent; border: 1px solid #9BB6CF;font-weight: bold;box-shadow: 0 0.2em 0.3em #AAAAAA;border-radius: 0.4em 0.4em 0.4em 0.4em;}
.remittance tr.payinfo td.half-odd-table-hiddentd{background-color:Transparent; border-style:none;box-shadow:none;padding:0px;}
.remittance div.half-odd-table-content table, .remittance div.half-odd-table-content div {padding-top:5px;padding-bottom:5px;}


.billing.remlist ul,.billing.remlist ol{margin:5px 3px}
.remittance .remVal {width:100%; float:left; padding-left:10px;}
.billing li .remNum{width:2%}
.billing li .remId{width:13%}
.billing li .remAmount{width:14%}
.billing li .remPayDate{width:18%}
.billing li .remDate{width:18%}
.billing li .remCount{width:15%}
.billing li .remAction{width:15%}
.billing li .remActionSub{width:7.5%}
.billing li .remAction a { color:#0276fd}
.billing li .remActionSub a { color:#0276fd}
.billing .rem-fourth-width { width:22%; display:inline-block; }
.billing .rem-half-width { width:45% }
.t-animation-container .t-popup.t-group{width:130px !important}
.billing .supplyTitle {background-color: #D6E5F3; padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #AAAAAA; border-left: 1px solid #AAAAAA; border-right: 1px solid #AAAAAA; text-align: center;}
/* Inactive episodes */
.inactiveepisodes ol{font-weight:normal}
.inactiveepisodes ol.loading{height:150px}
.inactiveepisodes ol.loading li{display:none}
.inactiveepisodes ul,.inactiveepisodes ol{border:1px solid #888;margin:5px 2px}
.inactiveepisodes ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.inactiveepisodes ul li{font-weight:bold}
.inactiveepisodes li span{display:inline-block}
.inactiveepisodes li{display:block;padding:1px 10px}
.inactiveepisodes ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none}
.inactiveepisodes li.even {background-color:#f7efd5}
.inactiveepisodes li.hover{border-color:#888;background-color:#dcf5e5;position:relative}
.inactiveepisodes li img{vertical-align:middle}
.inactiveepisodes li .range{width:50%}
.inactiveepisodes li .action{width:45%}
.inactiveepisodes h3{font-weight:bold;font-size:14px;line-height:16px}
.inactiveepisodes ul{margin-top:5px}
/* -- Round Edge Grid -- */
.standard-chart ol{font-weight:normal}
.standard-chart ol.loading{height:150px}
.standard-chart ol.loading li{display:none}
.standard-chart ul,.standard-chart ol{border:1px solid #888;margin:5px 2px}
.standard-chart ul{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px}
.standard-chart ul li{font-weight:bold}
.standard-chart li span{display:inline-block}
.standard-chart li{display:block;padding:1px 10px}
.standard-chart ol li{background-color:#fffcf2;border:solid 1px #f7efd5;border-left:0 none;border-right:0 none}
.standard-chart li.even{background-color:#f7efd5}
.standard-chart li.hover{border-color:#888;background-color:#dcf5e5;position:relative}
.standard-chart li img{vertical-align:middle}
.standard-chart h3{font-weight:bold;font-size:14px;line-height:16px}
.standard-chart ul{margin-top:5px}
/* -- Allergies -- */
.allergy-profile-active li .name, .allergy-profile-inactive li .name{width:65%}
.allergy-profile-active li .type, .allergy-profile-inactive li .type{width:20%}
.allergy-profile-active li .action, .allergy-profile-inactive li .action{width:12%}
.allergy-profile-inactive ol li.odd{background-color:#ffeded}
.allergy-profile-inactive ol li.even{background-color:#f7d2d2}
.allergy-profile-inactive ol li.hover{background-color:#f0dcf5}
.newallergy legend{font-size:1.1em}
.newallergy label.fl,.newmed .longstanding{display:block;width:150px !important}
/* -- Hospitalization -- */
#Hospitalization_list li .source{width:40%}
#Hospitalization_list li .user{width:20%}
#Hospitalization_list li .date{width:13%}
#Hospitalization_list li .printicon{width:8%}
#Hospitalization_list li .action{width:12%}

#outlierStartDate,#outlierEndDate{width:85px}
/* -- License Manager -- */
#LicenseManager_List li .firstname, #LicenseManager_List li .lastname {width:15%}
#LicenseManager_List li .issuedate,#LicenseManager_List li .expiredate{width:11%}
#LicenseManager_List li .licensetype{width:26%}
#LicenseManager_List li .isuser{width:9%; text-align: center}
#LicenseManager_List li .action{width:9%}


/* -- Recent Updates --*/
#softwareUpdates li .recentchangesdate{width:10%; vertical-align: top;}
#softwareUpdates li .recentchangescomments{width:87%}

.return-alert{background-color:#fccac3;border:.1em solid #dbb3ad;padding:0 !important;font-weight:bold;
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea))}
.return-alert>div{max-width:70em;margin:0 auto;background:url("/Images/logo-ghost.png") no-repeat scroll 0 center transparent;padding:.5em;text-align:center}

.ui-shade{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#000;cursor:wait;opacity:.6;z-index:8}
.abs-bottom.buttons{position:absolute;bottom:0;left:0;right:0}

.acore-graph{height:20em}
.half-grid{width:50%}
h3.collapsable{font-size:1.2em;font-weight:bold;text-align:center;border:.1em solid #666;margin:1em .7em -.5em;padding:.25em;cursor:pointer;
    border-radius:.5em;
    box-shadow:0 .1em .25em #888;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c7e4', endColorstr='#85a4d5');
    background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#85a4d5),to(#b4c7e4))}
    
    .width80
    {
    	width:80%;
    }
    .width70
    {
    	width:70%;
    }
    
     .width40
    {
    	width:40%;
    }
    
    .width20
    {
    	width:20%;
    }
    
    .width10
    {
    	width:10%;
    }
    
    .userpermissions .content li
    {
    	border-bottom:solid .1em #999;
    }
    
    .userpermissions .content.indent
    {
    	margin-left:20px;
    }
    
    .userpermissions ol div.center
    {
    	text-align:center;
    } 
    
    .userpermissions .half
    {
    	width:43%;
    }