﻿/* -- Top Bar -- */
#topbar {
    background-color:#fff;
    background-image:linear-gradient(90deg,#b2b2b2,#dedede 25%,#fff 70%);
    background-image:-moz-linear-gradient(90deg,#b2b2b2,#dedede 25%,#fff 70%);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#b2b2b2),to(#fff),color-stop(.25,#dedede),color-stop(.7,#fff));
    background-image:-o-linear-gradient(90deg,#b2b2b2,#dedede 25%,#fff 70%);
    border-bottom:solid .1em #333;
    border-top:solid .2em #af1e2d;
    box-shadow:.1em .1em .4em #222;
    -moz-box-shadow:.1em .1em .4em #222;
    -webkit-box-shadow:.1em .1em .4em #222;
    -o-box-shadow:.1em .1em .4em #222;
    height:2em;
    left:0;
    padding:.1em .1em .1em 17em;
    position:absolute;
    right:0;
    top:-5.25em;
}
#topbar .tab {
    left:0;
    position:absolute;
    top:.1em;
}
#topbar a,.menu a {
    color:#333;
    cursor:pointer;
}
#topbar > ul > li > a:hover {
    border-bottom:none;
}
#topbar .icon22, #mainmenu .icon22 {
    margin-right:.5em;
    vertical-align:top;
}
#mainmenu > li {
    display:inline-block;
}
#mainmenu.context-menu > li {
    display:block;
}
#mainmenu > li > a, #topbar .fr a {
    border-left:.1em solid #bbb;
    display:inline-block;
    font-size:1em;
    font-variant:small-caps;
    font-weight:600;
    letter-spacing:normal;
    line-height:1.75em;
    padding:0 .5em;
    text-shadow:.05em .05em .05em #fff;
    -moz-text-shadow:.05em .05em .05em #fff;
    -webkit-text-shadow:.05em .05em .05em #fff;
    -o-text-shadow:.05em .05em .05em #fff;
}
#mainmenu > li.sfHover {
    background-color:#fff;
}
#mainmenu.context-menu > li > a {
    display:block;
    padding:.25em 1em;
}
.menu a {
	white-space: nowrap;
}
#mainmenu ul a.sf-with-ul, #topbar .fr a.sf-with-ul, ul a.sf-with-ul {
	padding-right: 3.5em;
}
.sf-arrows ul .sf-with-ul:after {
	background-position:-211px -189px;
	width:4px;
	height: 8px;
    background-image:url(/Images/sprite.png);
    background-repeat:no-repeat;
	vertical-align: middle;
    content: " ";
    margin-right: -3px;
    margin-top: -5px;
    position: absolute;
    right: 1em;
    top: 50%;
}
.sf-sub-indicator {
    display:none;
}
@media all and (min-width:1180px) {
    #mainmenu > li > a, #topbar .fr a {
        letter-spacing:.15em;
    }    
}
@media all and (max-width:1080px) {
    #topbar .tab {
        background-position:-240px 0;
        height:48px;
        margin-left:.5em;
        width:48px;
    }
    #topbar {
        height:4em;
        padding-left:5em;
    }
    #mainmenu > li > a, #topbar .fr a {
        line-height:normal;
        padding:.5em;
    }
    #topbar .icon22 {
        display:block;
        margin:0 auto;
    }
}
@media all and (max-width:575px) {
    #topbar .tab {
        display:none;
    }
    #topbar {
        height:2em;
        padding:0;
    }
    #mainmenu > li > a, #topbar .fr a {
        border-right:1px solid #bbb;
        font-size:0;
        padding:1px 3px;
    }
}
/* -- Drop-Down Menu -- */
.menu, .context-menu {
    background-color:#fff;
    border:solid .1em #333;
    box-shadow:.1em .1em .4em #222;
    -moz-box-shadow:.1em .1em .4em #222;
    -webkit-box-shadow:.1em .1em .4em #222;
    -o-box-shadow:.1em .1em .4em #222;
    position:absolute;
    z-index:1;
}
#mainmenu > li > .menu {
    top:2.25em;
}
#mainmenu.context-menu > li > .menu {
    top:-.1em;
}
.menu li, .context-menu li {
    position: relative;
}
.menu a, .context-menu a {
    border-left:0 none;
    border-bottom:.1em dotted #aaa;
    display:block;
    font-weight:500;
    letter-spacing:.1em;
    padding:.25em 1em;    
}
.menu li:last-child > a, .context-menu li:last-child > a {
    border-bottom:0 none;
}
#topbar .menu a:hover,.context-menu a:hover,.window-menu .menu a:hover {
    background-color:#ebf0f5;
}
.menu .pointer.right, .context-menu .pointer.right {
    margin:.4em 0 0 1em;
}
.menu .menu, .context-menu .menu {
    top:-.1em;
    left:98%;
    min-width:15em;
    width:max-content;
    width:-moz-max-content;
    width:-webkit-max-content;
    width:-o-max-content;
    z-index:1;
}
@media all and (max-width:1080px) {
    #mainmenu > li > .menu {
        top:4.25em;
    }
}
@media all and (max-width:650px) {
    #mainmenu > li > .menu {
        top:2.15em;
    }
    .menu .menu, .context-menu .menu {
        left:auto;
        right:-2em;
    }
}
/* -- Desktop -- */
#desktop {
    bottom:2.5em;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:2.5em;
}
@media all and (max-width:1080px) {
    #desktop {
        top:4.5em;
    }
}
@media all and (max-width:650px) {
    #desktop {
        top:2.25em;
    }
}

/* -- Bottom Bar -- */
#bottombar {
    background-color:#dedede;
    background:linear-gradient(180deg,#b2b2b2,#dedede 25%,#fff 90%);
    background:-moz-linear-gradient(-90deg,#b2b2b2,#dedede 25%,#fff 90%);
    background:-ms-linear-gradient(-90deg,#b2b2b2,#dedede 25%,#fff 90%);
    background:-o-linear-gradient(-90deg,#b2b2b2,#dedede 25%,#fff 90%);
    background:-webkit-gradient(linear,left top,left bottom,from(#b2b2b2),to(#fff),color-stop(.25,#dedede),color-stop(.9,#fff));
    background:-webkit-linear-gradient(-90deg,#b2b2b2,#dedede 25%,#fff 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2b2b2',endColorstr='#ffffff');
    border-bottom:solid .2em #af1e2d;
    border-top:solid .1em #333;
    bottom:-2.75em;
    height:2em;
    left:0;
    line-height:2em;
    overflow:hidden;
    padding:.25em;
    position:absolute;
    right:0;
}
#bottombar .icon22 {
    margin-right:.5em;
    vertical-align:top;
}
#bottombar li {
    background-color:#ccc;
    border:.1em solid #6c6c6c;
    border-radius:.25em;
    -moz-border-radius:.25em;
    -o-border-radius:.25em;
    -webkit-border-radius:.25em;
    color:#555;
    cursor:default;
    display:inline-block;
    font-weight:500;
    height:2em;
    letter-spacing:.1em;
    margin:0 .25em;
    overflow:hidden;
    padding:0 1em;
}
#bottombar li.active {
    background-color:#cad4e6;
    box-shadow:0 -1em 1em 0 #b9bcc3 inset;
    color:#333;
    font-weight:600;
    letter-spacing:.2em;
}