﻿/* -- Fieldsets -- */
fieldset {
    background-color:#f5e9c4;
    background-image:linear-gradient(25deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-moz-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-ms-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-o-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    background-image:-webkit-gradient(linear,left top,bottom right, from(#f5e9c4), to(#f5e9c4), color-stop(#fffcf2 .5));
    background-image:-webkit-linear-gradient(115deg, #f5e9c4, #fffcf2, #f5e9c4);
    border:.1em solid #888;
    border-radius:.5em;
    -moz-border-radius:.5em;
    -o-border-radius:.5em;
    -webkit-border-radius:.5em;
    box-shadow:.25em .25em .5em #aaa;
    -moz-box-shadow:.25em .25em .5em #aaa;
    -o-box-shadow:.25em .25em .5em #aaa;
    -webkit-box-shadow:.25em .25em .5em #aaa;
    margin: 1em 1em 2.5em;
    padding:1em;
    position:relative;
}
.note fieldset {
    margin:3.5em 1em 0;
}
.note .inline-fieldset fieldset {
    margin-bottom:0;
}
legend {
    background-color:#f5e9c4;
    border:.1em solid #888;
    border-radius:.5em;
    -moz-border-radius:.5em;
    -o-border-radius:.5em;
    -webkit-border-radius:.5em;
    font:normal small-caps 600 9pt/1.5 sans-serif;
    left:2em;
    letter-spacing:.25em;
    padding:.25em 1.5em;
    position:absolute;
    text-align:center;
    top:-1em;
}
.note legend {
    background-color:#c3d8f1;
    background-image:linear-gradient(0deg,#c3d8f1,#dde8f5);
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-ms-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5));
    background-image:-webkit-linear-gradient(90deg,#c3d8f1,#dde8f5);
    box-shadow:.25em .25em .5em #d2c7a7;
    -moz-box-shadow:.25em .25em .5em #d2c7a7;
    -o-box-shadow:.25em .25em .5em #d2c7a7;
    -webkit-box-shadow:.25em .25em .5em #d2c7a7;
    left:0;
    right:0;
    top:-2.5em;
    width:auto;
}
.column, .column.half {
    width:49.5%;
    display:inline-block;
    vertical-align:top;
}
.column.two-thirds {
	width: 69%;
}
.column.one-third {
	width: 30%;
}
.column.vat {
    vertical-align:top;
}
.wide-column,fieldset.half .column {
    width:100%;
}
.column.narrow {
	width:30%;
}
.column.narrower {
	width:24%;
}
.column.narrowest {
	width:19%;
}
.row {
    clear:both;
    margin:.25em 1em;
    position:relative;
    padding:.25em 0;
    border-top:.1em dotted #ddf;
}
.subrow {
    padding-left:2em;
}
.row:first-child {
    border-top:0 none;
}
.column.two-thirds .row, .column.three-fourths .row{
    margin:.25em auto;
	max-width:80em;
}
.wide-column .row.narrow {
    margin:.25em auto;
    max-width:60em;
}
.wide-column .row.narrower {
    margin:.25em auto;
    max-width:45em;
}
.wide-column .row.narrowest {
    margin:.25em auto;
    max-width:30em;
}
.row label {
    font-weight:500;
    letter-spacing:.1em;
    line-height:2.5em;
}
.row.no-input label {
    line-height:1.5em;
}
.row > .fr > label {
    margin:0 .5em;
}
.no-input .row label {
    line-height:1.5em;
}
.row label.inline-radio {
    margin-right:2em;
}
.row > .column {
	margin: 0;
}
.row.sub {
    margin:0 auto;
    border:none;
}
.row.sub > .fl {
    margin-left:3em;
}

.row.sub:before {
  content:"";
  position:absolute;
  right:0;
  bottom:0;
  height:0.3em;
  width:95%;
  border-top:.1em dotted #ddf;
}

@media all and (max-width:940px) {
    .column {
        width:100%;
    }
    .column.narrow,.column.narrower {
        width:49.5%;
    }
    .column.narrowest  {
        width:24%;
    }
    .header-hider {
	    display: none;
    }
}
@media all and (max-width:780px) {
    .column.half,.column.narrow,.column.narrower {
	    width: 100%;
    }
     .column.narrowest {
        width:49.5%;
    }
}
@media all and (max-width:640px) {
    .column.half, .column.narrowest {
	    width: 100%;
    }
}
/* -- Inline Fieldsets -- */
.inline-fieldset, .inline-row {
    font-size:0;
}
.inline-fieldset > div, .inline-row > div {
    display:inline-block;
    margin:0;
    padding:0;
    vertical-align:top;
}
.inline-row > div {
    vertical-align:top;
}
.inline-fieldset > div > fieldset, .inline-row > div .row {
    font-size:10pt;
}
.inline-fieldset > div > fieldset.grid-controls {
    margin:1em;
    width:auto;
}
.inline-fieldset.two-wide > div, .inline-row.two-wide > div {
    width:50%;
}
.inline-fieldset.three-wide > div, .inline-row.three-wide > div {
    width:33.3%;
}
.inline-fieldset.four-wide > div, .inline-row.four-wide > div {
    width:25%;
}
.inline-fieldset .column {
    width:100%;
}
@media all and (max-width:960px) {
    .inline-fieldset.two-wide > div, .inline-fieldset.three-wide > div, .inline-row.two-wide > div, .inline-row.three-wide > div {
        width:100%;
    }
    .inline-fieldset.four-wide > div, .inline-row.four-wide > div {
        width:50%;
    }
}
/* -- Input Styling -- */
input[type=text], input[type=password], input[type=file], select, textarea, .ui-multiselect {
    border:.1em solid #aab;
    border-radius:.1em;
    -moz-border-radius:.1em;
    -o-border-radius:.1em;
    -webkit-border-radius:.1em;
    box-shadow:.1em .1em .25em #ddf inset;
    -moz-box-shadow:.1em .1em .25em #ddf inset;
    -o-box-shadow:.1em .1em .25em #ddf inset;
    -webkit-box-shadow:.1em .1em .25em #ddf inset;
    min-height:1.5em;
    margin:.25em;
    width:15em;
}
*::-moz-placeholder {
	color:#aaa;
    font:italic normal 300 .8em/2em sans-serif;
} 
*::-ms-input-placeholder {
	color:#aaa;
    font:italic normal 300 .8em/2em sans-serif;
} 
*::-webkit-input-placeholder {
	color:#aaa;
    font:italic normal 300 .8em/2em sans-serif;
}
.placeholder {
    color:#aaa;
    font:italic normal 300 sans-serif;
}
.recipient-list-token-input > input {
    display:none;
}
select {
    width:15.1em;
    height:1.75em;
    padding:.1em;
}
select[multiple] {
    width:14.4em;
}
.sub select {
    width:14.6em;
}
input:focus, select:focus, textarea:focus {
    box-shadow:0 0 .5em #cce1ff;
    -moz-box-shadow:0 0 .5em #cce1ff;
    -o-box-shadow:0 0 .5em #cce1ff;
    -webkit-box-shadow:0 0 .5em #cce1ff;
}
input[type=checkbox], input[type=radio] {
    margin:.65em .5em .35em 0;
    vertical-align:middle;
}
input.phone-short {
    width:3.5em;
}
input.phone-long {
    width:4.8em;
}
input.date, input.time, input.ajax-autocomplete {
    width:13.75em;
}
input.ajax-autocomplete.short {
    width:12.25em;
}
input.fill, select.fill {
    width:100%;
}
input.partial-fill, select.partial-fill {
    width:97%;
}
input.short.more, select.short.more {
    width:11em;
}
input.short, select.short {
    width:9em;
}
input.short.less, select.short.less {
    width:7.5em;
}
input.shorter, select.shorter, input.date.short {
    width:5.2em;
}
input.shorter.less, select.shorter.less {
    width:3.75em;
}
input.shortest, select.shortest {
    width:2.5em;
}
input.shortest.less, select.shortest.less {
    width:1.5em;
}
input.date.short {
	width:5.7em;
}
input.time.short {
    width:6.1em;
}
input.long, select.long {
    width:20em;
}
input.longer, select.longer {
    width:30em;
}
input.longest, select.longest {
    width:40em;
}
textarea {
    height:10em;
    margin:.25em auto;
    width:95%;
}
textarea.short {
    height:5em;
}
.characters-remaining {
    display:block;
    text-align:center;
}
.template-text {
    background-color:#f3eac5;
    background-image:linear-gradient(0deg,#f3eedb,#eee7ca .6em,#d9d1ad 2em,#ded6bd 60%,#ccc4a3 62%,#f3eedb);
    background-image:-moz-linear-gradient(-90deg,#f3eedb,#eee7ca .6em,#d9d1ad 2em,#ded6bd 60%,#ccc4a3 62%,#f3eedb);
    background-image:-ms-linear-gradient(-90deg,#f3eedb,#eee7ca .6em,#d9d1ad 2em,#ded6bd 60%,#ccc4a3 62%,#f3eedb);
    background-image:-o-linear-gradient(-90deg,#f3eedb,#eee7ca .6em,#d9d1ad 2em,#ded6bd 60%,#ccc4a3 62%,#f3eedb);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#f3eedb),to(#f3eedb),color-stop(.01,#d9d1ad),color-stop(.6,#ded6bd),color-stop(.62,#ccc4a3));
    background-image:-webkit-linear-gradient(-90deg,#f3eedb,#eee7ca .6em,#d9d1ad 2em,#ded6bd 60%,#ccc4a3 62%,#f3eedb);
    border:.1em solid #bfb176;
    border-radius:.25em;
    -moz-border-radius:.25em;
    -o-border-radius:.25em;
    -webkit-border-radius:.25em;
    box-shadow:.25em .25em .5em #665d38;
    -moz-box-shadow:.25em .25em .5em #665d38;
    -o-box-shadow:.25em .25em .5em #665d38;
    -webkit-box-shadow:.25em .25em .5em #665d38;
    text-align:center;
}
.loc485 .template-text {
    background-color:#f3f3f3;
    background-image:linear-gradient(0deg,#f3f3f3,#eee .6em,#d4d4d4 2em,#dedede 60%,#c7c7c7 62%,#f3f3f3);
    background-image:-moz-linear-gradient(-90deg,#f3f3f3,#eee .6em,#d4d4d4 2em,#dedede 60%,#c7c7c7 62%,#f3f3f3);
    background-image:-ms-linear-gradient(-90deg,#f3f3f3,#eee .6em,#d4d4d4 2em,#dedede 60%,#c7c7c7 62%,#f3f3f3);
    background-image:-o-linear-gradient(-90deg,#f3f3f3,#eee .6em,#d4d4d4 2em,#dedede 60%,#c7c7c7 62%,#f3f3f3);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#f3f3f3),to(#f3f3f3),color-stop(.01,#d4d4d4),color-stop(.6,#dedede),color-stop(.62,#c7c7c7));
    background-image:-webkit-linear-gradient(-90deg,#f3f3f3,#eee .6em,#d4d4d4 2em,#dedede 60%,#c7c7c7 62%,#f3f3f3);
    border:.1em solid #bfbfbf;
    box-shadow:.25em .25em .5em #666;
    -moz-box-shadow:.25em .25em .5em #666;
    -o-box-shadow:.25em .25em .5em #666;
    -webkit-box-shadow:.25em .25em .5em #666;
}
.oasis .template-text {
    background-color:#c5f3c5;
    background-image:linear-gradient(0deg,#e2f3e2,#ddeedd .6em,#bbd4bb 2em,#cedece 60%,#afc7af 62%,#e2f3e2);
    background-image:-moz-linear-gradient(-90deg,#e2f3e2,#ddeedd .6em,#bbd4bb 2em,#cedece 60%,#afc7af 62%,#e2f3e2);
    background-image:-ms-linear-gradient(-90deg,#e2f3e2,#ddeedd .6em,#bbd4bb 2em,#cedece 60%,#afc7af 62%,#e2f3e2);
    background-image:-o-linear-gradient(-90deg,#e2f3e2,#ddeedd .6em,#bbd4bb 2em,#cedece 60%,#afc7af 62%,#e2f3e2);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#e2f3e2),to(#e2f3e2),color-stop(.01,#bbd4bb),color-stop(.6,#cedece),color-stop(.62,#afc7af));
    background-image:-webkit-linear-gradient(-90deg,#e2f3e2,#ddeedd .6em,#bbd4bb 2em,#cedece 60%,#afc7af 62%,#e2f3e2);
    border:.1em solid #a8bfa8;
    box-shadow:.25em .25em .5em #5a665a;
    -moz-box-shadow:.25em .25em .5em #5a665a;
    -o-box-shadow:.25em .25em .5em #5a665a;
    -webkit-box-shadow:.25em .25em .5em #5a665a;
}
.template-text > select {
    float:right;
    margin:.5em .5% 0;
    width:50%;
}
.template-text > textarea {
    height:10em;
    margin:.5em auto;
    width:99%;
}
.template-text > .button {
    margin:.5em 0 0;
}
.inline-block.radio input[type='checkbox'], .inline-block.radio input[type='radio']  {
	margin: 0.4em;
	display: inline-block;
}
.inline-block.radio label  {
	line-height: 1.75em;
}
input[type=file] {
	background-color: white;
}
em.underline {
	text-decoration: underline;
}
.currency-symbol {
	position: absolute;
	margin: 0.5em 0 0 0.5em;
}
input.currency {
	padding-left:.6em;
	width:14.4em;
}
input.short.currency {
    width:8.4em;
}
input.shorter.currency {
    width:4.6em;
}
input.shortest.currency{
    width:1.9em;
}

/* -- Auto-Complete -- */
.ui-autocomplete-input.ui-autocomplete-loading {
    background:#fff url(/Images/loading-small.gif) no-repeat right;
}
.ui-autocomplete {
    background-color:#fff;
    border:solid .1em #aaa;
    max-height:250px;
    min-width:7.5em;
    overflow-y:auto;
    z-index:99 !important;
}
.ui-autocomplete .ui-menu-item {
    color:#333;
    padding:.2em;
}
.ui-autocomplete .ui-menu-item a {
    cursor:pointer;
    display:block;
    font-weight:700;
    line-height:1.5;
    padding:.1em .3em;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover {
    margin:-.1em;
    border:solid .1em #999;
    background-color:#dce6f5;
}

/* -- Checkgroup -- */
.checkgroup {
    font-size:0;
}
.row > .fr > .checkgroup {
    width: 208px;
}
.row > .fr > .checkgroup.long {
    width: 308px;
}
.row > .fr > .checkgroup.longer {
    width: 350px;
}
.row > .fr > .checkgroup.longest {
    width: 370px;
}


.checkgroup .option {
    display:inline-block;
    position:relative;
    vertical-align:top;
    width:33.33%;
}
.checkgroup.vat .option {
	vertical-align: top;
}
.checkgroup.one-wide > .option {
    width:100%;
}
.inline-fieldset.two-wide .wide-column .checkgroup.two-wide > .option {
	width: 100%;	
}
.checkgroup.two-wide > .option {
    width:50%
}
.checkgroup.three-wide > .option {
    width:33.33%
}
.checkgroup.four-wide > .option {
    width:25%
}
.checkgroup.five-wide > .option {
    width:20%
}
.checkgroup.six-wide > .option {
    width:16.66%
}
.checkgroup.seven-wide > .option {
    width:14.28%
}
.checkgroup.eight-wide > .option {
    width:12.5%
}
.checkgroup.nine-wide > .option {
    width:11.11%
}
.checkgroup.ten-wide > .option {
    width:10%
}
.checkgroup .option .wrapper {
    border:0.1em solid #afa17d;
    border-radius:.25em;
    -moz-border-radius:.25em;
    -o-border-radius:.25em;
    -webkit-border-radius:.25em;
    box-shadow:-.1em -.1em .5em #d9c89b inset;
    -moz-box-shadow:-.1em -.1em .5em #d9c89b inset;
    -o-box-shadow:-.1em -.1em .5em #d9c89b inset;
    -webkit-box-shadow:-.1em -.1em .5em #d9c89b inset;
    font-size:10pt;
    margin:.2em;
}
.checkgroup .option .wrapper > label, .checkgroup .option .wrapper > span {
    display:block;
    line-height:1.75em;
    padding:0 .25em 0 2.5em;
}
.checkgroup .option .wrapper > label .margin, li > .margin {
    display:block;
    margin:0 0 0 2.5em;
}
.checkgroup .option input[type=checkbox], .checkgroup .option input[type=radio] {
    float:left;
    margin:.4em .4em 0;
}
.checkgroup .option.selected > .wrapper, .checkgroup .option .more .option.selected > .wrapper {
    background-color:#dae5f2;
    background-image:linear-gradient(0deg, #dae5f2, #edf3fa);
    background-image:-moz-linear-gradient(90deg, #dae5f2, #edf3fa);
    background-image:-ms-linear-gradient(90deg, #dae5f2, #edf3fa);
    background-image:-o-linear-gradient(90deg, #dae5f2, #edf3fa);
    background-image:-webkit-gradient(linear,left top,bottom right, from(#dae5f2), to(#edf3fa));
    background-image:-webkit-linear-gradient(90deg, #dae5f2, #edf3fa);
    border-color:#b7c1cc;
    box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    position: relative;
    z-index: 1;
}
.checkgroup .option .more {
	background-color: #f2f5ff; 
    background-image:linear-gradient(0deg, #f2f5ff, #fafbff);
    background-image:-moz-linear-gradient(90deg, #f2f5ff, #fafbff);
    background-image:-ms-linear-gradient(90deg, #f2f5ff, #fafbff);
    background-image:-o-linear-gradient(90deg, #f2f5ff, #fafbff);
    background-image:-webkit-gradient(linear,left top,bottom right, from(#fafbff), to(#f2f5ff));
    background-image:-webkit-linear-gradient(90deg, #f2f5ff, #fafbff);
	border:.1em solid #ced3d9; 
	border-top:none;
	border-radius: 0 0 .25em .25em;
	-moz-border-radius: 0 0 .25em .25em;
	-o-border-radius: 0 0 .25em .25em;
	-webkit-border-radius: 0 0 .25em .25em;
	font-size:10pt;
	margin:-0.25em 1em 0.25em;
	padding:.25em 0;
}

.checkgroup .option > .wrapper > .more {
	background: inherit;
	border: none;
	padding: 0;
	margin: 0;
}
.checkgroup .option .wrapper .more > * {
	margin: 0.1em 0.25em;
	height: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.checkgroup .option .more > * {
    margin:0 1em;
    padding:0;
}
.checkgroup .option .more label {
    height:2.5em;
}
.checkgroup .option .more .fr {
    max-width:90%;
}
.checkgroup .option .more input, .checkgroup .option .more select {
    max-width:95%;
}
.checkgroup .option .more input.fill {
	margin: 0;
}
.checkgroup .option .more .option .wrapper {
    border-color:#ced3d9;
    -ms-box-shadow:-.1em -.1em .5em #e6ecf2 inset;
    -moz-box-shadow:-.1em -.1em .5em #e6ecf2 inset;
    -o-box-shadow:-.1em -.1em .5em #e6ecf2 inset;
    -webkit-box-shadow:-.1em -.1em .5em #e6ecf2 inset;
    box-shadow:-.1em -.1em .5em #e6ecf2 inset;
}

.checkgroup .option .more .option .wrapper label {
    height:auto;
}

@media all and (max-width:960px) {
    .checkgroup .option, .checkgroup.four-wide .option,  .checkgroup.three-wide .option {
        width:50%
    }
    .checkgroup.two-wide .option {
        width:100%
    }
    .checkgroup.five-wide .option, .checkgroup.six-wide .option {
        width:33.3%
    }
    .checkgroup.seven-wide .option, .checkgroup.eight-wide .option {
        width:25%
    }
    .checkgroup.nine-wide .option, .checkgroup.ten-wide .option {
        width:20%;
    }
}

/* -- Multiselect -- */
.ui-multiselect, .ui-multiselect.ui-state-hover {
    background-color:#fff;
    height:1.675em;
    overflow:hidden;
    padding:.1em;
    text-align:left;
    vertical-align:middle;
}
.ui-icon.ui-icon-triangle-2-n-s {
    background-image:url(/Images/sprite.png);
    float:right;
    margin:-2px -3px;
}
.ui-multiselect > .ui-icon {
    float:right;
}
.ui-widget-header a {
    color:#333;
}
.ui-widget-header a .ui-icon {
    margin:0 10px 0 5px;
}
.ui-multiselect-close {
    display:none;
}
.ui-multiselect-header {
    border-bottom:.1em solid #aab;
    font-size:0.9em;
    padding:.25em 0;
}
.ui-multiselect-header ul li {
    display:inline-block;
    width:49%;
}
.ui-multiselect-menu {
    background-color:#fffcf2;
    border:.1em solid #aab;
    display:none;
    position:absolute;
    z-index:99;
}
.ui-multiselect-checkboxes {
    overflow-y:auto;
}
.ui-multiselect-checkboxes li:nth-child(odd) {
    background-color:#f7efd5;
}
.ui-multiselect-checkboxes label {
    display:block;
    padding:.25em;
}

/* -- Validation -- */
.required-legend {
    right:.5em;
    top:.25em;
    z-index:1;
}
.required-red {
    color:#a71111;
    font-size:1.5em;
    line-height:.75em;
}
.row > .required-red {
    position:absolute;
    right:-.75em;
    top:.3em;
}
label.error {
    background-color:#ecd5d2;
    border:.1em solid #841f11;
    box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    -moz-box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    -o-box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    -webkit-box-shadow:.1em .1em .25em #54140b,0 0 0.25em #841f11 inset;
    color:#333;
    font-size:7pt;
    line-height:1.75em;
    opacity:.85;
    padding:.1em .4em;
    position:absolute;
    right:-2.5em;
    top:-.25em;
    z-index:1;
}
.checkgroup label.error {
    padding:.1em .4em;
}
.wide-column .checkgroup label.error {
    left:-1.75em;
    right:auto;
    top:-1.75em;
}
input.error, select.error, textarea.error, .recipient-list-token-input.error, .t-grid td.error, button.ui-multiselect.error {
    background-image:linear-gradient(50deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-moz-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-ms-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-o-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#fcf8f7),to(#fcebe8),color-stop(.09,#fcf8f7),color-stop(.1,#fcebe8),color-stop(.19,#fcebe8),color-stop(.2,#fcf8f7),color-stop(.29,#fcf8f7),color-stop(.3,#fcebe8),color-stop(.39,#fcebe8),color-stop(.4,#fcf8f7),color-stop(.49,#fcf8f7),color-stop(.5,#fcebe8),color-stop(.59,#fcebe8),color-stop(.6,#fcf8f7),color-stop(.69,#fcf8f7),color-stop(.7,#fcebe8),color-stop(.79,#fcebe8),color-stop(.8,#fcf8f7),color-stop(.89,#fcf8f7),color-stop(.9,#fcebe8));
    background-image:-webkit-linear-gradient(140deg,#fcf8f7 0%,#fcf8f7 9%,#fcebe8 10%,#fcebe8 19%,#fcf8f7 20%,#fcf8f7 29%,#fcebe8 30%,#fcebe8 39%,#fcf8f7 40%,#fcf8f7 49%,#fcebe8 50%,#fcebe8 59%,#fcf8f7 60%,#fcf8f7 69%,#fcebe8 70%,#fcebe8 79%,#fcf8f7 80%,#fcf8f7 89%,#fcebe8 90%,#fcebe8 100%);
    background-position:left top;
    border:.1em solid #be2d19;
    box-shadow:0 0 1em #ecc5c0 inset;
    -moz-box-shadow:0 0 1em #ecc5c0 inset;
    -o-box-shadow:0 0 1em #ecc5c0 inset;
    -webkit-box-shadow:0 0 1em #ecc5c0 inset;
}
.password-check, .signature-check {
    background-color:#fccac3;
    border:.1em solid #dbb3ad;
    border-radius:.25em;
    -moz-border-radius:.25em;
    -o-border-radius:.25em;
    -webkit-border-radius:.25em;
    box-shadow:.1em .1em .25em #9e7a75;
    -moz-box-shadow:.1em .1em .25em #9e7a75;
    -o-box-shadow:.1em .1em .25em #9e7a75;
    -webkit-box-shadow:.1em .1em .25em #9e7a75;
    display:inline-block;
    font-weight:600;
    padding:.5em 1em;
}
.password-check.weak, .signature-check.weak {
    background-color:#edd149;
    border-color:#7d7358;
    box-shadow:.1em .1em .25em #9c906e;
    -moz-box-shadow:.1em .1em .25em #9c906e;
    -o-box-shadow:.1em .1em .25em #9c906e;
    -webkit-box-shadow:.1em .1em .25em #9c906e;
}
.password-check.match, .signature-check.match {
    background-color:#b3eda6;
    border-color:#5f7d58;
    box-shadow:.1em .1em .25em #769c6e;
    -moz-box-shadow:.1em .1em .25em #769c6e;
    -o-box-shadow:.1em .1em .25em #769c6e;
    -webkit-box-shadow:.1em .1em .25em #769c6e;
}
.password-check > .msg, .signature-check > .msg {
    margin:0 .5em;
    vertical-align:super;
}

/* -- Buttons -- */
.buttons > ul {
    text-align:center;
}
.buttons > ul, ul.buttons {
    list-style:none;
}
.wrapper.main > .button, .wrapper.main > form > .button, .wrapper.main > .buttons, .wrapper.main > form > .buttons {
    margin:1em 1em 0;
}
.wrapper.main.blue > .button, .wrapper.main.blue > form > .button, .wrapper.main.blue > .buttons, .wrapper.main.blue > form > .buttons, .wrapper.main > .button.top, .wrapper.main > .buttons.top {
    margin:0;
}
.buttons > ul > li, .ancillary-button, .fc-button, .button, ul.buttons > li {
    background-color:#7096d5;
    background-image:linear-gradient(0deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-moz-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-ms-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-o-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#435f8e),to(#7096d5),color-stop(.49,#5c7db3),color-stop(.5,#6c8fc7));
    background-image:-webkit-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5);
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7096d5',endColorstr='#435f8e');*/
    border:.1em solid #495668;
    display:inline-block;
    margin:.25em;
}

.buttons > ul > li.disabled, .ancillary-button.disabled, .fc-button.disabled, .button.disabled, ul.buttons > li.disabled {
    background-color:#949494;
    background-image:linear-gradient(0deg,#676767,#858585 49%,#b3b3b3 50%,#e0e0e0);
    background-image:-moz-linear-gradient(90deg,#676767,#858585 49%,#b3b3b3 50%,#e0e0e0);
    background-image:-ms-linear-gradient(90deg,#676767,#858585 49%,#b3b3b3 50%,#e0e0e0);
    background-image:-o-linear-gradient(90deg,#676767,#858585 49%,#b3b3b3 50%,#e0e0e0);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#676767),to(#e0e0e0),color-stop(.49,#858585),color-stop(.5,#b3b3b3));
    background-image:-webkit-linear-gradient(90deg,#676767,#858585 49%,#b3b3b3 50%,#e0e0e0);
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7096d5',endColorstr='#435f8e');*/
    border:.1em solid #808080;
    display:inline-block;
    margin:.25em;
    cursor: not-allowed;
    
}

.buttons > ul > li.disabled a, .ancillary-button.disabled a, .fc-button.disabled a, .button.disabled a, ul.buttons > li.disabled a {
    cursor: not-allowed;
    color:#ddd;
}

.buttons > ul > li.red, .button.red, ul.buttons > li.red {
    background-color:#c76c78;
    background-image:linear-gradient(0deg,#8e434d,#b35c68 49%,#c76c78 50%,#d5707d);
    background-image:-moz-linear-gradient(90deg,#8e434d,#b35c68 49%,#c76c78 50%,#d5707d);
    background-image:-ms-linear-gradient(90deg,#8e434d,#b35c68 49%,#c76c78 50%,#d5707d);
    background-image:-o-linear-gradient(90deg,#8e434d,#b35c68 49%,#c76c78 50%,#d5707d);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#8e434d),to(#d5707d),color-stop(.49,#b35c68),color-stop(.5,#c76c78));
    background-image:-webkit-linear-gradient(90deg,#8e434d,#b35c68 49%,#c76c78 50%,#d5707d);
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5707d', endColorstr='#8e434d');*/
}
.buttons > ul > li.green, .button.green, ul.buttons > li.green {
    background-color:#559d59;
    background-image:linear-gradient(0deg,#306532,#3e7941 49%,#559d59 50%,#539e57);
    background-image:-moz-linear-gradient(90deg,#306532,#3e7941 49%,#559d59 50%,#539e57);
    background-image:-ms-linear-gradient(90deg,#306532,#3e7941 49%,#559d59 50%,#539e57);
    background-image:-o-linear-gradient(90deg,#306532,#3e7941 49%,#559d59 50%,#539e57);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#306532),to(#539e57),color-stop(.49,#3e7941),color-stop(.5,#559d59));
    background-image:-webkit-linear-gradient(90deg,#306532,#3e7941 49%,#559d59 50%,#539e57);
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#539e57', endColorstr='#306532');*/
}
.buttons > ul > li.selected, ul.buttons > li.selected, .button.selected {
    box-shadow:0 0 1em #8ba3c6;
    -moz-box-shadow:0 0 1em #8ba3c6;
    -o-box-shadow:0 0 1em #8ba3c6;
    -webkit-box-shadow:0 0 1em #8ba3c6;
    background:#93a7c7;
}
.fc-button, .buttons.continuous > ul > li, ul.buttons.continuous > li {
    margin:.25em -0.16em;
}
.buttons > ul > li, .button, ul.buttons > li {
    border-radius:.5em;
    -moz-border-radius:.5em;
    -o-border-radius:.5em;
    -webkit-border-radius:.5em;
}
.buttons.continuous > ul > li, ul.buttons.continuous > li {
    border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -webkit-border-radius:0;
    border-right-width:0;
}
.buttons.continuous > ul > li:first-child, ul.buttons.continuous > li:first-child {
    border-radius:.5em 0 0 .5em;
    -moz-border-radius:.5em 0 0 .5em;
    -o-border-radius:.5em 0 0 .5em;
    -webkit-border-radius:.5em 0 0 .5em;
}
.buttons.continuous > ul > li:last-child, ul.buttons.continuous > li:last-child {
	border-right-width:.1em;
    border-radius:0 .5em .5em 0;
    -moz-border-radius:0 .5em .5em 0;
    -o-border-radius:0 .5em .5em 0;
    -webkit-border-radius:0 .5em .5em 0;
}
.buttons > ul > li > a, .ancillary-button > a, .button > a, ul.buttons > li > a {
    color:#fff;
    display:inline-block;
    font-weight:700;
    height:1.5em;
    text-shadow:.1em .1em 0 #000;
    -moz-text-shadow:.1em .1em 0 #000;
    -o-text-shadow:.1em .1em 0 #000;
    -webkit-text-shadow:.1em .1em 0 #000;
}
/*.buttons > ul > li.selected > a, ul.buttons > li.selected > a, .button.selected {
    background:#93a7c7;
}*/
.buttons > ul > li.red > a, .button.red > a, ul.buttons > li.red > a {
    border-color:#684949;
}
.buttons > ul > li.green > a, .button.green > a {
    border-color:#49684b;
}
.button.send {
    margin-left:2em;
}
.button.send > a {
    height:auto;
    padding:2.75em 1.5em;
}
.buttons > ul > li > a, .button > a, ul.buttons > li > a {
    padding:.25em 1.5em;
}
.button.oasis-help > a, .button.report-help > a {
    padding:.1em .5em;
}
.ancillary-button > a {
    min-width:15.5em;
    padding:.25em .5em;
}
.buttons.continuous > ul > li > a, ul.buttons.continuous > li > a {
    padding:.25em 1em;
}
.buttons > ul > li > a:hover, .ancillary-button > a:hover, .button > a:hover, ul.buttons > li > a:hover,
.buttons > ul > li > a.hover, .ancillary-button > a.hover, .button > a.hover, ul.buttons > li > a.hover {
    background-image:radial-gradient(50% 50% , rgba(255,255,255,.6), transparent);
    background-image:-moz-radial-gradient(50% 50% , rgba(255,255,255,.6), transparent);
    background-image:-ms-radial-gradient(50% 50% , rgba(255,255,255,.6), transparent);
    background-image:-o-radial-gradient(50% 50% , rgba(255,255,255,.6), transparent);
    background-image:-webkit-gradient(radial, 50% 50%,from(rgba(255,255,255,.6)),to(transparent));
    background-image:-webkit-radial-gradient(50% 50% , rgba(255,255,255,.6), transparent);
    border-bottom:none;
}
.buttons > ul > li > a:active, .ancillary-button > a:active, .button > a:active, ul.buttons > li > a:active {
    box-shadow:inherit;
    -moz-box-shadow:inherit;
    -o-box-shadow:inherit;
    -webkit-box-shadow:inherit;
    color:#ddd;
}

.buttons > ul > li.disabled > a:hover, .ancillary-button.disabled > a:hover, .button.disabled > a:hover, ul.buttons > li.disabled > a:hover,
.buttons > ul > li.disabled > a.hover, .ancillary-button.disabled > a.hover, .button.disabled > a.hover, ul.buttons > li.disabled > a.hover {
    background-image: none;
}

.buttons > ul > li.disabled > a:active, .ancillary-button.disabled > a:active, .button.disabled > a:active, ul.buttons > li.disabled > a:active {
    box-shadow: inherit;
    -moz-box-shadow:inherit;
    -o-box-shadow:inherit;
    -webkit-box-shadow:inherit;
    color:#ddd;
}

.ancillary-button > a > .arrow {
    margin:.2em 0;
}
.ancillary-button > a > .separator  {
    border-right:.1em solid #495668;
    height:2em;
    margin:-.25em .5em;
}
.buttons > ul > li.processing, ul.buttons > li.processing, div.processing {
    background:none;
    border:0 none;
    font-size:.85em;
}
.img.processing {
    background: url(/Images/loading-small.gif) no-repeat center center;
    height: 20px;
    width: 20px;
}
select.processing,input.processing {
    background: #fff url(/Images/loading-small.gif) no-repeat 12em 0;
    color:#aaa;
    font-style:italic;
}
input.processing {
	background-position: right;
}

.button.top, .button.right, .button.bottom, .button.left {
    margin:0;
    position:absolute;
}
.window-menu + div.ac .button.top {
	top: auto;
}
.button.top {
    border-radius:0 0 .5em .5em;
    -moz-border-radius:0 0 .5em .5em;
    -webkit-border-radius:0 0 .5em .5em;
    -o-border-radius:0 0 .5em .5em;
    top:0;
}
.button.right {
    border-radius:.5em 0 0 .5em;
    -moz-border-radius:.5em 0 0 .5em;
    -o-border-radius:.5em 0 0 .5em;
    -webkit-border-radius:.5em 0 0 .5em;
    right:0;
}
.button.right > a {
    padding-right:.5em;
}
.button.bottom {
    border-radius:.5em .5em 0 0;
    -moz-border-radius:.5em .5em 0 0;
    -o-border-radius:.5em .5em 0 0;
    -webkit-border-radius:.5em .5em 0 0;
    bottom:0;
}
.button.left {
    border-radius:0 .5em .5em 0;
    -moz-border-radius:0 .5em .5em 0;
    -o-border-radius:0 .5em .5em 0;
    -webkit-border-radius:0 .5em .5em 0;
    left:0;
}
.button.left > a {
    padding-left:.5em;
}
.button.top.left {
    border-radius:0 0 .5em 0;
    -moz-border-radius:0 0 .5em 0;
    -o-border-radius:0 0 .5em 0;
    -webkit-border-radius:0 0 .5em 0;
}
.button.top.right {
    border-radius:0 0 0 .5em;
    -moz-border-radius:0 0 0 .5em;
    -o-border-radius:0 0 0 .5em;
    -webkit-border-radius:0 0 0 .5em;
}
.button.bottom.right {
    border-radius:.5em 0 0 0;
    -moz-border-radius:.5em 0 0 0;
    -o-border-radius:.5em 0 0 0;
    -webkit-border-radius:.5em 0 0 0;
}
.button.bottom.left {
    border-radius:0 .5em 0 0;
    -moz-border-radius:0 .5em 0 0;
    -o-border-radius:0 .5em 0 0;
    -webkit-border-radius:0 .5em 0 0;
}
.button.margin {
    margin:1em 0;
}
.dropdown-button {
    margin:0 auto;
    position:relative;
    z-index:1;
}
.dropdown-button a {
    background-color:#b4c7e4;
    background-image:linear-gradient(0deg,#85a4d5,#b4c7e4);
    background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-ms-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#85a4d5),to(#b4c7e4));
    background-image:-webkit-linear-gradient(90deg,#85a4d5,#b4c7e4);
    border:.1em solid #666;
    border-radius:.25em;
    -moz-border-radius:.25em;
    -o-border-radius:.25em;
    -webkit-border-radius:.25em;
    box-shadow:.1em .1em .25em #888;
    -moz-box-shadow:.1em .1em .25em #888;
    -o-box-shadow:.1em .1em .25em #888;
    -webkit-box-shadow:.1em .1em .25em #888;
    color:#333;
    cursor:pointer;
    display:inline-block;
    font:normal normal 600 1em/1.5em sans-serif;
    padding:.25em 1em;
    text-shadow:.1em .1em 0 #cedcf2;
    -moz-text-shadow:.1em .1em 0 #cedcf2;
    -o-text-shadow:.1em .1em 0 #cedcf2;
    -webkit-text-shadow:.1em .1em 0 #cedcf2;
}
.dropdown-button a:hover {
    background-color:#c0d1eb;
    background-image:linear-gradient(0deg,#92b0de,#c0d1eb);
    background-image:-moz-linear-gradient(90deg,#92b0de,#c0d1eb);
    background-image:-ms-linear-gradient(90deg,#92b0de,#c0d1eb);
    background-image:-o-linear-gradient(90deg,#92b0de,#c0d1eb);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#92b0de),to(#c0d1eb));
    background-image:-webkit-linear-gradient(90deg,#92b0de,#c0d1eb);
}
.dropdown-button .menu {
    background-color:#97a6be;
    background-image:linear-gradient(5deg,#97a6be,#dce0e6);
    background-image:-moz-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-ms-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-o-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#97a6be),to(#dce0e6));
    background-image:-webkit-linear-gradient(95deg,#97a6be,#dce0e6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce0e6', endColorstr='#97a6be');
    border:.1em solid #666;
    border-radius:0 0 .5em .5em;
    -moz-border-radius:0 0 .5em .5em;
    -o-border-radius:0 0 .5em .5em;
    -webkit-border-radius:0 0 .5em .5em;
    box-shadow:0 .25em .5em #888;
    -moz-box-shadow:0 .25em .5em #888;
    -o-box-shadow:0 .25em .5em #888;
    -webkit-box-shadow:0 .25em .5em #888;
    cursor:pointer;
    left:.25em;
    overflow:hidden;
    position:absolute;
    right:.25em;
    text-align:left;
    top:2.3em;
}
.dropdown-button li {
    padding:.25em 1em;
}
.dropdown-button .menu li {
    border-bottom:.1em dotted #888;
}
.dropdown-button .menu li:last-child {
    border-bottom:0 none;
}
.dropdown-button .menu .hover {
    background-color:#5ec6ed;
    background-color:rgba(94,198,237,.25);
}

.dropdown-button .img {
    vertical-align:sub;
}

.multiselect-checkbox
{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C0C0;
    height: 7em;
    overflow: auto;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.multiselect-checkbox label
{
	display:block;
}