.fc {
    direction:ltr;
    text-align:left;
}
.fc table {
    border-collapse:collapse;
    border-spacing:0;
}
html .fc,.fc table {
    font-size:1em;
}
.fc td,.fc th {
    padding:0;
    vertical-align:top;
}
.fc-header td {
    white-space:nowrap;
}
.fc-header-left {
    text-align:left;
    width:40%;
}
.fc-header-left .buttons {
    left:15em;
}
.fc-header-center {
    text-align:center;
}
.fc-header-right {
    text-align:right;
    width:40%;
}
.fc-header-title {
    display:inline-block;
    vertical-align:top;
}
.fc-header-title h2 {
    font-size:1.4em;
    font-weight:600;
    line-height:2.75em;
    margin-top:0;
    white-space:nowrap;
}
.fc .fc-header-space {
    padding-left:4px;
}
.fc-header .fc-button {
    margin:1em 0;
    vertical-align:top;
}
.fc-header .fc-button {
    margin-right:-.1em;
}
.fc-header .fc-corner-right {
    margin-right:.1em;
}
.fc-header .ui-corner-right {
    margin-right:0;
}
.fc-header .fc-state-hover, .fc-header .ui-state-hover {
    z-index:2;
}
.fc-header .fc-state-down {
    z-index:3;
}
.fc-header .fc-state-active, .fc-header .ui-state-active {
    z-index:4;
}
.fc-header td {
    padding:0 1em;
}
.fc-content {
    box-shadow:.25em .25em .5em #aaa;
    clear:both;
    margin:0 1em;
}
.fc-view {
    overflow:hidden;
    width:100%;
}
.fc-widget-header, .fc-widget-content {
    border:.1em solid #aaa;
}
.fc-cell-overlay {
    background:#9cf;
    opacity:.2;
    filter:alpha(opacity=20);
}
.fc-button {
    cursor:pointer;
    display:inline-block;
    position:relative;
}
.fc-state-default {
    border-style:solid;
    border-width:.1em 0;
}
.fc-button {
    display:inline-block;
    overflow:hidden;
    position:relative;
}
.fc-state-default .fc-button {
    border-style:solid;
    border-width:0 .1em;
}
.fc-button {
    border:.1em solid #495668;
    height:1.7em;
    line-height:1.7em;
    padding:.05em 1em;
    position:relative;
    white-space:nowrap;
}
.fc-button-today {
    padding:.05em 2em;
}
.fc-button-content .fc-icon-wrap {
    float:left;
    position:relative;
    top:50%;
}
.fc-button-content .ui-icon {
    float:left;
    margin-top:-50%;
    position:relative;
}
.fc-state-default .fc-button-effect {
    left:0;
    position:absolute;
    top:50%;
}
.fc-state-default .fc-button-effect span {
    background:#444;
    border-color:#fff;
    border-style:solid;
    border-width:10em 0 0 .1em;
    height:100px;
    left:0;
    opacity:.09;
    filter:alpha(opacity=9);
    position:absolute;
    top:-100px;
    width:500px;
}
.fc-state-default,.fc-button {
    border-color:#495668;
    border-style:solid;
    color:#fff;
    font-weight:600;
    text-shadow:0 .1em .1em #000
}
.fc-state-active {
    background:#93a7c7;
}
.fc-button.fc-state-active {
    box-shadow:0 0 1em #8ba3c6;
}
.fc-state-disabled {
    border-color:#ddd;
    color:#999;
    cursor:default;
    display:none;
}
.fc-state-disabled .fc-button-effect {
    display:none;
}
.fc-view-month .fc-widget-content.fc-today, .fc-view-agendaWeek .fc-widget-content.fc-today {
    box-shadow:0 0 10em #f8e6cc inset;
}
.fc-event {
    border-style:solid;
    border-width:0;
    cursor:default;
    box-shadow:0 .2em .5em #555;
}
a.fc-event {
    cursor:pointer;
}
.fc-event-draggable {
    cursor:move;
}
.fc-event-draggable .task-controls {
    cursor:default;
}
a.fc-event {
    text-decoration:none;
}
.fc-rtl .fc-event {
    text-align:right;
}
.fc-event-skin {
    background-color:#abbfc9;
    border-color:#507a8f;
    color:#fff;
}
.fc-event-head {
    background-color:#729bb0;
}
.fc-event-inner {
    color:#fff;
    line-height:1.5;
    overflow:hidden;
    position:relative;
}
.fc-event-time, .fc-event-title {
    display:block;
    padding: 0 .5em;
}
.fc-event-title em {
    float:right;
    margin:0 .75em;
}
.fc .ui-resizable-handle {
    display:block;
    font-size:300%;
    line-height:50%;
    overflow:hidden;
    position:absolute;
    z-index:99999;
}
.fc-event-hori {
    border-width:.1em;
    margin-bottom:.25em;
}
.fc-event-hori .ui-resizable-e {
    cursor:e-resize;
    height:100% !important;
    right:-.25em !important;
    top:0 !important;
    width:.5em !important;
}
.fc-event-hori .ui-resizable-w {
    cursor:w-resize;
    height:100% !important;
    left:-.25em !important;
    top:0 !important;
    width:.5em !important;
}
.fc-corner-left, .fc-event-start {
    border-top-left-radius:.5em;
    border-bottom-left-radius:.5em;
}
.fc-corner-right, .fc-event-end {
    border-top-right-radius:.5em;
    border-bottom-right-radius:.5em;
}
.fc-corner-left.fc-event, .fc-corner-left .fc-event-inner {
    border-top-left-radius:.3em;
    border-bottom-left-radius:.3em;
}
.fc-corner-right.fc-event, .fc-corner-right .fc-event-inner {
    border-top-right-radius:.3em;
    border-bottom-right-radius:.3em;
}
.fc-corner-top {
    margin-top:.1em;
}
.fc-corner-top .fc-event-inner {
    margin-top:-.1em;
}
.fc-corner-bottom {
    margin-bottom:.1em;
}
.fc-corner-bottom .fc-event-inner {
    margin-bottom:-.1em;
}
.fc-corner-left .fc-event-inner {
    border-left-width:.1em;
    border-top-left-radius:.3em;
    border-bottom-left-radius:.3em;
}
.fc-corner-right .fc-event-inner {
    border-right-width:.1em;
    border-top-right-radius:.3em;
    border-bottom-right-radius:.3em;
}
.fc-corner-top .fc-event-inner {
    border-top-width:.1em;
    border-top-left-radius:.3em;
    border-top-right-radius:.3em;
}
.fc-corner-bottom .fc-event-inner {
    border-bottom-width:.1em;
    border-bottom-left-radius:.3em;
    border-bottom-right-radius:.3em;
}
table.fc-border-separate {
    border-collapse:separate;
}
.fc-border-separate th, .fc-border-separate td {
    border-width:.1em 0 0 .1em;
}
.fc-border-separate thead th {
    border-width:.1em 0 .1em .1em;
}
.fc-border-separate th.fc-last, .fc-border-separate td.fc-last {
    border-right-width:.1em;
}
.fc-border-separate tr.fc-last th.fc-border-separate tr.fc-last td {
    border-bottom-width:.1em;
}
.fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th {
    border-top-width:0;
}
.fc-border-separate tbody tr.fc-first th {
    background-color:#d1e0f2;
}
.fc-grid th {
    text-align:center;
}
.fc-grid .fc-day-number {
    float:right;
    padding:0 .2em;
}
.fc-grid .fc-other-month .fc-day-number {
    opacity:.3;
    filter:alpha(opacity=30);
}
.fc-grid .fc-day-content {
    clear:both;
    padding:.2em .2em .1em;
}
.fc-grid .fc-event-time, .fc-agenda .fc-agenda-axis.fc-widget-header {
    font-weight:700;
}
.fc-grid .fc-event-time {
    display:block;
    font-weight:normal;
}
.fc-rtl .fc-grid .fc-day-number {
    float:left;
}
.fc-rtl .fc-grid .fc-event-time {
    float:right;
}
.fc-agenda table {
    border-collapse:separate;
}
.fc-agenda-days th {
    text-align:center;
}
.fc-agenda .fc-agenda-axis {
    font-weight:normal;
    padding: 0 .3em;
    text-align:right;
    vertical-align:middle;
    white-space:nowrap;
    width:4em;
}
.fc-agenda .fc-day-content {
    padding:.2em .2em .1em;
}
.fc-agenda-days .fc-agenda-axis {
    border-right-width:.1em;
}
.fc-agenda-days .fc-col0 {
    border-left-width:0;
}
.fc-agenda-allday th {
    border-width:0 .1em;
}
.fc-agenda-allday .fc-day-content {
    min-height:3em;
}
.fc-agenda-divider-inner {
    height:.2em;
    overflow:hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
    background-color:#d1e0f2;
}
.fc-agenda-slots th {
    border-width:.1em .1em 0;
}
.fc-agenda-slots td {
    background:none;
    border-width:.1em 0 0;
}
.fc-agenda-slots td div {
    height:1.5em;
}
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td {
    border-top-width:0;
}
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
    border-top-style:dotted;
}
.fc-event-vert {
    border-radius:.5em;
    border-width:.1em;
}
.fc-event-vert .fc-event-head, .fc-event-vert .fc-event-content {
    overflow:hidden;
    position:relative;
    width:100%;
    z-index:2;
}
.fc-event-vert .fc-event-time {
    white-space:nowrap;
}
.fc-event-vert .fc-event-bg {
    background:#fff;
    height:100%;
    left:0;
    opacity:.3;
    filter:alpha(opacity=30);
    position:absolute;
    top:0;
    width:100%;
    z-index:1;
}
.fc .ui-draggable-dragging .fc-event-bg, .fc-select-helper .fc-event-bg {
    display:none;
}
.fc-event-vert .ui-resizable-s {
    bottom:0 !important;
    cursor:s-resize;
    font-family:monospace;
    font-size:.9em !important;
    height:.75em !important;
    line-height:.75em !important;
    overflow:hidden !important;
    text-align:center;
    width:100% !important;
}
.fc-agenda .ui-resizable-resizing {
    overflow:hidden;
}
.task-controls {
    background-color:#78a1ba;
    border:.1em solid #333;
    border-radius:.25em;
    box-shadow:0 .2em .5em #555;
    color:#333;
    font-weight:bold;
    position:absolute;
    text-align:center;
    z-index:2;
}
.task-controls .img {
    cursor:pointer;
}
.fc-event-hori .task-controls {
    right:.25em;
}
.fc-event-vert .task-controls {
    right:-1em;
    width:2.5em;
}
.fc-event-vert .task-controls.menu, .fc-event-hori .task-controls.menu {
    width:auto;
}
.task-controls {
    display:none;
}
.fc-event:hover {
    z-index:99 !important;
}
.fc-event:hover .task-controls {
    display:block;
}
.task-controls.menu li {
    background-color:#fff;
    border-bottom:.1em solid #333;
    padding:.25em 1em;
}
.task-controls.menu li.hover {
    background-color:#99cded;
}
.task-controls.menu ul li:last-child {
    border-bottom:0;
}
.task-controls .img {
    margin:.25em;
}
.pd-wrapper {
    bottom:.5em;
    left:0;
    overflow-x:hidden;
    overflow-y:auto;
    position:absolute;
    right:0;
    top:2.3em;
}
.scheduler .fc-view td {
    cursor:pointer;
}
.fc-text-arrow {
    font-size:1.4em;
    line-height:1em;
}
.fc-event-vert .fc-event-time {
    background-color:rgba(0,0,0,.4);
}