﻿html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border:0;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    list-style:none;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
body {
    background:#aab url(/Images/wallpaper.png) no-repeat fixed center center;
    color:#333;
    font-family:Tahoma,Arial,Helvetica,sans-serif;
    font-size:.75em;
    line-height:1.5em;
    overflow:hidden;
}
::selection {
    background-color: #af1e2d;
    color:#fff;
    -ms-text-shadow:.1em .1em 0 #333;
    -o-text-shadow:.1em .1em 0 #333;
    -webkit-text-shadow:.1em .1em 0 #333;
    text-shadow:.1em .1em 0 #333;
}

::-moz-selection {
    background-color: #af1e2d;
    color:#fff;
    -ms-text-shadow:.1em .1em 0 #333;
    -moz-text-shadow:.1em .1em 0 #333;
    -webkit-text-shadow:.1em .1em 0 #333;
    text-shadow:.1em .1em 0 #333;
}

.hidden {
    display:none;
}
.hidden.important {
    display:none !important;
}
.transparent {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0;
}
.light {
    font-weight:400;
}
.strong {
    font-weight:600;
}
.al {
    text-align:left;
}
.aj {
    text-align:justify;
}
.ac {
    text-align:center;
}
.vat {
	vertical-align: top;
}
.ar {
    text-align:right;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.no-float {
    float:none !important;
}
.clear-left, .cl {
    clear:left;
}
.clear-right, .cr {
    clear:right;
}
.clear, .clr {
    clear:both;
}
.abs {
    position:absolute;
    top:auto;
    left:auto;
    right:auto;
    bottom:auto;
}
.abs.left, .abs.bottom, .abs.top {
    left:0;
}
.abs.right, .abs.bottom,.abs.top {
    right:0;
}
.abs.bottom {
    bottom:0;
}
.abs.top {
    top:0;
}
.rel {
    position:relative;
}
.pointer {
    cursor:pointer;
}
a, a.link {
    color:#4b71bf;
    text-decoration:none;
}
a.disabled {
    color:#333;
    text-decoration:none;
}
a:hover, a.link:hover {
    border-bottom:.1em solid #4b71bf;
    cursor:pointer;
}
a.img:hover, a.no-border:hover, a.disabled:hover, .ui-menu-item > a:hover {
    border-bottom:none;
}
em {
    cursor:default;
    font-size:.8em;
    font-style:italic;
    font-weight:300;
}
.large-font {
    font-size:1.5em;
    vertical-align:top;
}
.loading, .loading-visibility {
    background:#fff url(/Images/loading.gif) no-repeat scroll center center;
    min-height:12em;
    min-width:10em;
}
.loading * {
    display:none !important;
}
.loading-visibility * {
    visibility: hidden !important;
}
.green, a.green {
    color:#368c36;
}
hr {
    border-bottom:.1em solid #bbb;
    width:99%;
}
.wrapper.main {
    display:block;
    padding:1em;
}
h1, .t-no-data {
    color:#333;
    display:block;
    font-size:1.4em;
    font-weight:600;
    text-align:center;
    vertical-align:top;
}
h1.blue, .t-no-data {
    color:#3c5a98;
}
tr.t-no-data {
    background-color: inherit;
}

.margin-auto, .ma {
    margin-left:auto !important;
    margin-right:auto !important;
}
@media all and (max-width:1167px) {
    body {
        background-size:100% auto;
    }
}
.inline-block {
	display: inline-block;
}
.cal, #mainmenu li, label  {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}