﻿/* -- Telerik Grid Placement Overrides -- */
.t-grid {
    border-bottom:none !important;
    border-color:#83a2d4 !important;
    border-left:none !important;
    border-right:none !important;
}
.t-grid.position-relative {
	border-bottom:.1em solid #83a2d4 !important;
    border-left:.1em solid #83a2d4 !important;
    border-right:.1em solid #83a2d4 !important;
	-webkit-box-shadow:.25em .25em .5em #aaa;
	-ms-box-shadow:.25em .25em .5em #aaa;
	box-shadow:.25em .25em .5em #aaa;
    margin:1em 0;
	top: 0 !important;
    position:relative !important;
}
.t-grid.position-relative .loading-visibility{
	height: 12em;
}
.t-header,.t-grid-header {
    border-color:#83a2d4 !important;
}
.t-grid-toolbar {
    height:2.2em;
}
.t-toolbar.t-grid-toolbar.t-grid-top > h3 {
	line-height: 2.25em;
	text-align: center;
}
.t-toolbar.t-grid-toolbar.t-grid-top > div.buttons {
	margin-top:-2.2em;
}
.t-toolbar.t-grid-toolbar.t-grid-top > div.buttons li {
	margin:0 .2em;
}
.t-grid-content {
    bottom:0;
    height:auto !important;
    position:absolute;
    top:2.2em !important;
}
.t-grid-toolbar+.t-grid-header+.t-grid-content {
	top:5em !important;
}
.t-grid.position-relative .t-grid-content {
    position:relative;
    top:0 !important;
}
.t-grid.position-relative thead.t-grid-header th {
    border-bottom-width:.1em;
}
.t-detail-cell > .t-grid thead.t-grid-header tr th:last-child {
    border-right:0 none;
}
.t-grid.scrollable .t-grid-content {
	overflow-x: auto !important;
}
.t-grid.scrollable-y.position-relative .t-grid-content {
	overflow-y: auto !important;
	height: 200px;
	max-height: 200px;
}
.t-grid-content td {
    border-bottom:.1em solid #fffcf2;
    border-top:.1em solid #fffcf2;
}
.t-grid-content .t-alt td {
    border-bottom-color:#f7efd5;
    border-top-color:#f7efd5;
}
.grid-stack {
    left:0;
    position:absolute;
    right:0;
}
.grid-stack.top {
    bottom:50%;
    top:0;
}
.grid-stack.bottom {
    bottom:0;
    top:50%;
}
.grid-stack.top.pending-claims {
    bottom:45%;
    top:6.5em;
}
.grid-stack.bottom.pending-claims {
    top:55%;
}
.grid-stack .buttons li {
    margin:.3em 0;
}
.t-grid.bottom-bar .t-grid-content {
    bottom:2.2em !important;
}
.t-grid.button-bottom-bar .t-grid-content {
    bottom:2.8em !important;
}
.top-gap {
    top:3em !important;
}
.top-gap.inbox .t-grid-content {
    top:7em !important;
}
.bottom-gap {
    bottom:3em !important;
}
.t-group-indicator, .t-grouping-header {
    display:none;
}
.t-grid.aggregated .t-grid-content {
	bottom: 2.1em !important;
}
.t-grid.padded-footer .t-grid-footer {
	padding-top: 7px;
}
/* -- Nested in Fieldset -- */
fieldset .t-grid table {
    padding:0;
}
fieldset thead.t-grid-header tr th:last-child {
    border-right:0 none;
}
fieldset thead.t-grid-header .t-header,fieldset thead.t-grid-header .t-last-header {
    border-bottom-width:.1em;
}
/* -- Telerik Style Overrides -- */
.t-grid-content .t-state-hover td {
    background-color:#f5f7fa;
    border-color:#c3d4e6;
    border-right-color:#f5f7fa;
}
.t-grid-content .t-state-selected td {
    background-color:#dde8f5;
    border-color:#adc1d9;
    border-right-color:#dde8f5;
}
.ui-layout-west .t-grid-content .t-state-selected td {
    letter-spacing:.1em;
    font-weight:700;
}
.t-no-data div {
    position:absolute;
    top:50%;
    width:98%;
    width: -moz-available;
}
.t-grid.position-relative .t-no-data {
	display:table-cell;
	margin-top:initial;
	position:inherit;
    top:inherit;
    width:initial;
	height: 5em;
}
.t-grid.position-relative .t-no-data > td {
    display:table-cell;
}

/* -- Telerik Grid Filters and Search -- */
.grid-controls, .report-controls {
    margin:0 auto 1em;
    padding:1em;
    width:65em;
}
.grid-controls.medium {
    width:55em;
}
.grid-controls.short {
    width:35em;
}
.grid-controls label, .grid-controls input, .grid-controls div, .grid-controls a {
    vertical-align:middle;
}
.grid-controls .filter, .grid-controls .upload {
    display:inline-block;
    padding:0 1em;
}
.grid-controls input, .grid-controls select 
{
    vertical-align: middle;
    width:10em;
}
.grid-controls input.long, .grid-controls select.long {
    width:15em;
}
.grid-controls select.multiple-payment {
    width:20em;
}
.grid-controls.short .filter input, .grid-controls.short .filter select {
    width:20em;
}
.grid-controls .filter label, .grid-controls .upload label {
    margin:0 .5em;
}
.grid-controls .filter .checkgroup label {
    margin:0;
    text-align:left;
}
.grid-controls .upload {
    width:40em;
}

/* -- Acore Grid -- */
.acore-grid > ul .sortable {
    cursor:pointer;
}
.acore-grid > ul .arrow {
    margin:7px;
}
.acore-grid > ul, .acore-grid > ol {
	-ms-border-radius:.5em;
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    -o-border-radius:.5em;
	border-radius:.5em;
	-ms-box-shadow:.1em .1em .5em #aaa;
	-moz-box-shadow:.1em .1em .5em #aaa;
    -webkit-box-shadow:.1em .1em .5em #aaa;
    -o-box-shadow:.1em .1em .5em #aaa;
	box-shadow:.1em .1em .5em #aaa;
	border:.1em solid #888;
    margin:0 1em 1em;
}
.acore-grid > ul {
	background-color:#c3d8f1;
    background-image:linear-gradient(0,#c3d8f1,#dde8f5);
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-ms-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5));
    background-image:-webkit-linear-gradient(90deg,#c3d8f1,#dde8f5);
    -moz-box-shadow:.1em .1em .5em #d2c7a7;
    -o-box-shadow:.1em .1em .5em #d2c7a7;
    -webkit-box-shadow:.1em .1em .5em #d2c7a7;
	-ms-box-shadow:.1em .1em .5em #d2c7a7;
	box-shadow:.1em .1em .5em #d2c7a7;
    font-weight:600;
    margin:.5em 1em;
}
.acore-grid > ul h3, .t-grid-top > h3 {
    font:normal small-caps 600 1em/1.5em sans-serif;
    letter-spacing:.25em;
}
.acore-grid .acore-grid > ul h3 {
    font:normal small-caps 600 .9em/1.5em sans-serif;
    letter-spacing:.25em;
}
.acore-grid > ul h3 {
    display:inline-block;
}
.acore-grid > ol > li > span,.acore-grid > ul > li > span {
    display:inline-block;
}
.acore-grid > ol > li > span {
	vertical-align: top;
}
.acore-grid > ul > li, .acore-grid > ol > li {
    display:block;
    padding:.1em 1em;
}
.acore-grid > ol {
    background-color:#fffcf2;
}
.acore-grid > ol.loading {
    min-height:12em;
	background-color: white !important;
}
.acore-grid > ol.dc {
    background-color:#ffeded;
}
.acore-grid > ol li.even {
    background-color:#f7efd5;
}
.acore-grid > ol.dc li.even {
    background-color:#f7d2d2;
}
.acore-grid > ol li.warning.odd {
    background-color:#fffbe6;
}
.acore-grid > ol li.warning.even {
    background-color:#f7f0cb;
}
.acore-grid > ol > li:first-child {
	-ms-border-top-left-radius:.5em;
    -moz-border-radius-topleft:.5em;
    -webkit-border-top-left-radius:.5em;
    -o-border-top-left-radius:.5em;
	border-top-left-radius:.5em;
    -moz-border-radius-topright:.5em;
    -webkit-border-top-right-radius:.5em;
    -o-border-top-right-radius:.5em;
	-ms-border-top-right-radius:.5em;
	border-top-right-radius:.5em;    
}
.acore-grid > ol > li:last-child {
	-ms-border-bottom-left-radius:.5em;
	-moz-border-radius-bottomleft:.5em;
    -webkit-border-bottom-left-radius:.5em;
    -o-border-bottom-left-radius:.5em;
	border-bottom-left-radius:.5em;
	-ms-border-bottom-right-radius:.5em;
	-moz-border-radius-bottomright:.5em;
    -webkit-border-bottom-right-radius:.5em;
    -o-border-bottom-right-radius:.5em;
	border-bottom-right-radius:.5em;
}
.acore-grid > ol > li.hover {
	background-color:#b4e7c7;
    background-image:linear-gradient(0,#b4e7c7,#e9f5ed);
    background-image:-moz-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-ms-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-o-linear-gradient(90deg,#b4e7c7,#e9f5ed);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#b4e7c7),to(#e9f5ed));
    background-image:-webkit-linear-gradient(90deg,#b4e7c7,#e9f5ed);
	-ms-box-shadow:0 0 .4em #004c26;
	-moz-box-shadow:0 0 .4em #004c26;
    -webkit-box-shadow:0 0 .4em #004c26;
    -o-box-shadow:0 0 .4em #004c26;
	box-shadow:0 0 .4em #004c26;
	position:relative;
}
.acore-grid > ol.dc > li.hover, .acore-grid > ol > li.notready.hover {
	background-color:#f7b9b9;
    background-image:linear-gradient(0,#f7b9b9,#f7d2d2);
    background-image:-moz-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-ms-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-o-linear-gradient(90deg,#f7b9b9,#f7d2d2);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#f7b9b9),to(#f7d2d2));
    background-image:-webkit-linear-gradient(90deg,#f7b9b9,#f7d2d2);
	-ms-box-shadow:0 0 .4em #4d2338;
	-moz-box-shadow:0 0 .4em #4d2338;
    -webkit-box-shadow:0 0 .4em #4d2338;
    -o-box-shadow:0 0 .4em #4d2338;
	box-shadow:0 0 .4em #4d2338;
	position:relative;
}
.acore-grid > ol > li.warning.hover {
	background-color:#f7ebb2;
    background-image:linear-gradient(0,#f7ebb2,#f7f0cb);
    background-image:-moz-linear-gradient(90deg,#f7ebb2,#f7f0cb);
    background-image:-ms-linear-gradient(90deg,#f7ebb2,#f7f0cb);
    background-image:-o-linear-gradient(90deg,#f7ebb2,#f7f0cb);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#f7ebb2),to(#f7f0cb));
    background-image:-webkit-linear-gradient(90deg,#f7ebb2,#f7f0cb);
	-ms-box-shadow:0 0 .4em #4d4623;
	-moz-box-shadow:0 0 .4em #4d4623;
    -webkit-box-shadow:0 0 .4em #4d4623;
    -o-box-shadow:0 0 .4em #4d4623;
	box-shadow:0 0 .4em #4d4623;
}
.acore-grid > ol .img {
    vertical-align:middle;
}
.acore-grid > ol .sort-value {
    display:none;
}
.acore-grid .acore-grid > ul {
	border-bottom:0 none;
	-ms-border-radius:.4em .4em 0 0;
	-moz-border-radius:.4em .4em 0 0;
    -webkit-border-radius:.4em .4em 0 0;
    -o-border-radius:.4em .4em 0 0;
	border-radius:.4em .4em 0 0;
	margin-bottom:0;
}
.acore-grid .acore-grid > ol {
	-ms-border-radius:0 0 .4em .4em;
	-moz-border-radius:0 0 .4em .4em;
    -webkit-border-radius:0 0 .4em .4em;
    -o-border-radius:0 0 .4em .4em;
	border-radius:0 0 .4em .4em;
}
.acore-grid .acore-grid > ol > li:first-child {
	-ms-border-radius:0;
	-moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
	border-radius:0;
}
.acore-grid .acore-grid > ol > li:last-child {
	-ms-border-radius:0 0 .4em .4em;
	-moz-border-radius:0 0 .4em .4em;
    -webkit-border-radius:0 0 .4em .4em;
    -o-border-radius:0 0 .4em .4em;
	border-radius:0 0 .4em .4em;
}
.acore-grid h4 {
    color:#3c5a98;
    display:block;
    font-size:1.4em;
    font-weight:600;
	line-height: 7em;
    text-align:center;
    vertical-align:top;
}
.acore-grid input[type=checkbox],.acore-grid input[type=radio] {
	margin: 0.25em 0;
}
.acore-grid label > input[type=checkbox],.acore-grid label > input[type=radio] {
	margin: 0.25em 0.35em 0.25em 0;
}
.acore-grid .group-header {
	background-color: #F7DDD3;
	border-bottom: 0.1em solid #888888;
}
.acore-grid  > ol > li > ol > li > span {
	display: inline-block;
}
.acore-grid > ol > li > span.fl {
	line-height: 2.6em;	
}
.acore-grid > ol > li > span.delete {
	padding-left: 10px; 
	margin: -3px -10px -3px -3px;
}
.note fieldset + .acore-grid {
	margin: 1.25em 0 0;
}

/* -- Column Widths -- */
.grid-check {
    width:2em;
}
.vitals-report-value-sm {
    width:4%;
}
.grid-twentieth {
    width:5%;
}
.grid-sixteenth, .vitals-report-value {
    width:6%;
}
.grid-eleventh {
    width:8%;
}
.grid-tenth, .vitals-multi-value {
    width:10%;
}
.grid-eighth {
    width:11.5%;
}
.grid-seventh, .vitals-report-date {
    width:13%;
}
.grid-sixth,.grid-vitals-report-employee, .vitals-report-task {
    width:16%;
}
.grid-fifth, .vitals-single-value, .vitals-date {
    width:20%;
}
.grid-quarter {
    width:25%;
}
.grid-third {
    width:33%;
}
.grid-threequarters {
    width:75%;
}

/* -- Notes within Telerik Grids -- */
.t-grid a.note hr {
	visibility: hidden;
}
.t-grid a.note {
	font-size: 0;
}

/*-- Telerik Grid Column Overrides -- */
.t-grid-content td.centered-unpadded-cell {
	padding: 0 !important; 
	text-align: center !important;
}
.t-grid-content td.centered-unpadded-cell > input[type="checkbox"] {
	margin: 0;
}

/*-- Grid Loading Override -- */

.loading-layout-override {
	width:100% !important; 
	height:auto !important; 
	position: absolute !important;
	left: 0 !important;
}

#List_EntityVitalSigns .t-grid-content {
	height: 85% !important;
}

/*-- Grid Link Style -- */
.t-button + .t-button:before, .t-grid a.link+a.link:before,.acore-grid a.link+a.link:before{
	content: " | ";
	color:#333333;
	position: absolute;
	margin-left: -0.7em;
}
.t-button, .t-grid a.link, .acore-grid a.link {
	margin: 0 0.6em 0 0.5em;
}
.t-button:first-child, .t-grid a.link:first-child, .acore-grid  a.link:first-child {
	margin: 0 0.5em 0 0;
}

.t-grid td.action.menu-based {
    padding: 0 10px;
    vertical-align: middle;
}

.grid-action {
    background-color: #BCCDE8;
    border: 1px solid #83A2D4;
    border-radius: 100px;
    cursor: pointer;
    height: 21px;
    text-align: center;
}
.grid-action.hover {
    background-color: #4A77C0;
}

.grid-action > .pointer.down {
    bottom: -0.8em;
}
.grid-action > .pointer.right {
    bottom: -0.4em;
}

ul.action-menu {
	border: 0.1em solid #333333;
	-webkit-box-shadow: 0.1em 0.1em 0.4em #222222;
	-ms-box-shadow: 0.1em 0.1em 0.4em #222222;
	box-shadow: 0.1em 0.1em 0.4em #222222;  
	background:#FFFFFF;
	z-index:10000;
	position:fixed;
}
.grid-action:hover ul{
	display:block;
}
ul.action-menu li{
	display:block;
	position: relative;
	border-bottom: 1px dotted grey; 
}
ul.action-menu li:last-child{
	border-bottom: 0 none; 
}
ul.action-menu li a{
	display:block;
	padding:0.25em 1em;
	letter-spacing:0.15em;
	font-weight:600;
	white-space: nowrap;
	margin: 0;
}
ul.action-menu li a:hover {
	border: none;
	background-color: #EBF0F5; 
}
ul.action-menu .icon22 {
	margin-right: 0.5em;
	vertical-align: top;
}