#topbar {
    background:url(/Images/gradients.png) repeat-x 0 -399px;
}
@media all and (max-width:1080px) {
    #topbar {
        background:#eee;
    }
}
.window {
    border-radius:0;
}
.buttons > ul > li {
    border-radius:0;
}
.checkgroup .option input[type=checkbox], .checkgroup .option input[type=radio] {
    margin-top:.2em;
}

fieldset.medication .t-grid-content{overflow-x:auto}
#widget-calendar{width:4.75em}
#widget-calendar .year{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);width:auto;height:auto;color:#000;background-color:#fff;top:.5em;right:-.7em}
#NewMessage_BodyWrapper{top:14em}