﻿/* -- Email List and Recipient List -- */
.folder-selection, .compose-header {
    cursor:pointer;
    font-size:1.5em;
    padding:.5em 1em;
    top:3.25em;
}
.folder-selection, .compose-header, .message-header-container {
    background-image:linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-ms-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#85a4d5),to(#b4c7e4));
    background-image:-webkit-linear-gradient(90deg,#85a4d5,#b4c7e4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c7e4', endColorstr='#85a4d5');
    border:.1em solid #666;
    box-shadow:0 .1em .25em #888;
    -moz-box-shadow:0 .1em .25em #888;
    -o-box-shadow:0 .1em .25em #888;
    -webkit-box-shadow:0 .1em .25em #888;
    left:-.1em;
    position:absolute;
    right:-.1em;
}
.compose-header {
    cursor:default;
    top:0;
}
.compose-header .button {
    font-size:.67em;
    margin:-.25em;
}
.folder-selection .ui-icon-circle-triangle-s {
    margin:1em 0;
}
.selectMenu ul {
    background-image:linear-gradient(5deg,#97a6be,#dce0e6);
    background-image:-moz-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-ms-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-o-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#97a6be),to(#dce0e6));
    background-image:-webkit-linear-gradient(95deg,#97a6be,#dce0e6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce0e6', endColorstr='#97a6be');
    border:.1em solid #666;
    border-radius:0 0 .5em .5em;
    -moz-border-radius:0 0 .5em .5em;
    -o-border-radius:0 0 .5em .5em;
    -webkit-border-radius:0 0 .5em .5em;
    box-shadow:0 .25em .5em #888;
    -moz-box-shadow:0 .25em .5em #888;
    -o-box-shadow:0 .25em .5em #888;
    -webkit-box-shadow:0 .25em .5em #888;
    cursor:pointer;
    font-size:.8em;
    left:.5em !important;
    max-height:14.5em;
    overflow:auto;
    position:absolute;
    right:.5em;
    top:2.6em !important;
}
.selectMenu li {
    border-bottom:.1em dotted #888;
    padding:.25em 1em;
}
.selectMenu li:last-child {
    border-bottom:0 none;
}
.selectMenu li:hover {
    background-color:rgba(94,198,237,.25);
}
.message-list {
    background-color:#fffcf2;
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:8.1em;
}
.message-list .t-grid-header {
    display:none;
}
.read-false {
    font-weight:bold;
}
.recipient-list {
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0;
}
.recipient-panel {
    background-color:#fffcf2;
    bottom:0;
    left:0;
    overflow:auto;
    position:absolute;
    right:0;
    top:3.3em;
}
.recipient-panel .recipient {
    overflow:hidden;
    padding:.25em;
}
.recipient-panel .recipient label {
    padding-left:.5em;
    vertical-align:text-bottom;
}
/* -- Message View -- */
.message-content {
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0;
}
.message-header-container, .message-body-container {
    padding:1em 2em;
}
.message-header-container.compose {
    padding:1em 2em 0 0;
}
.message-body-container {
    bottom:0;
    left:0;
    overflow:auto;
    position:absolute;
    right:0;
    top:11.75em;
}
.message-body-container div {
    bottom:1em;
    left:3em;
    position:absolute;
    right:3em;
    top:1em;
}
textarea#NewMessage_Body {
    background-color:#fffcf2;
    border:0 none;
    height:100%;
    overflow:auto;
    width:100%;
}
.message-header-row {
    margin-bottom:.3em;
    position:relative;
}
.compose.message-header-container {
    top:3.2em;
}
.compose .message-header-row {
    margin-left:10em;
    min-height:2em;
}
.compose .message-header-row label {
    line-height:2em;
}
.message-header-row span {
    height:1.5em;
    left:8em;
    overflow:auto;
    position:absolute;
    right:3em;
}
.message-header-row a.more {
    position:absolute;
    right:2.5em;
}
.compose-input {
    bottom:0;
    left:7.5em;
    position:absolute;
    right:0;
    top:0;
}
.compose-input.to {
    left:0;
    margin:-2em 0 0 7.5em;
    position:relative;
}
.compose .styled-uploader-input {
    left:0;
    position:absolute;
    right:10em;
    top:0;
}
/* -- Token Input -- */
.recipient-list-input {
    background-color:#fff;
    border:.1em solid #aab;
    border-radius:.1em;
    -moz-border-radius:.1em;
    -o-border-radius:.1em;
    -webkit-border-radius:.1em;
    box-shadow:.1em .1em .25em #ddf inset;
    -moz-box-shadow:.1em .1em .25em #ddf inset;
    -o-box-shadow:.1em .1em .25em #ddf inset;
    -webkit-box-shadow:.1em .1em .25em #ddf inset;
    cursor:default;
    margin:0 .25em;
    max-height:5em;
    min-height:1.9em;
    overflow:auto;
    overflow-x:hidden;
    width:100%;
}
.recipient-list-input li input {
    border:0;
    width:100%;
}
.recipient-list-token {
    background-color:#eff2f7;
    border:.1em solid #ccd5e4;
    border-radius:.5em;
    -moz-border-radius:.5em;
    -o-border-radius:.5em;
    -webkit-border-radius:.5em;
    box-shadow:.1em .1em .25em #ccd5e4,inset .1em .1em .25em #fff;
    -moz-box-shadow:.1em .1em .25em #ccd5e4,inset .1em .1em .25em #fff;
    -o-box-shadow:.1em .1em .25em #ccd5e4,inset .1em .1em .25em #fff;
    -webkit-box-shadow:.1em .1em .25em #ccd5e4,inset .1em .1em .25em #fff;
    color:#000;
    cursor:default;
    float:left;
    margin:.25em;
    padding:.15em 1em;
}
li.recipient-list-token span {
    color:#a6b3cf;
    cursor:pointer;
    font-weight:bold;
    margin-left:.5em;
}
li.recipient-list-token-selected {
    background-color:#5670a6;
    border:1px solid #3b5998;
    color:#fff;
}
li.recipient-list-token-input {
    clear:left;
}
/* -- WYSIWYG -- */
#NewMessage_BodyWrapper {
    bottom:0;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
    top:13.5em;
}
.cke_toolgroup, .cke_combo_button {
    background-image:linear-gradient(90deg,#7691bd,#b4c7e4) !important;
    background-image:-moz-linear-gradient(90deg,#7691bd,#b4c7e4) !important;
    background-image:-ms-linear-gradient(90deg,#7691bd,#b4c7e4) !important;
    background-image:-o-linear-gradient(90deg,#7691bd,#b4c7e4) !important;
    background-image:-webkit-gradient(linear,right bottom,right top,from(#7691bd),to(#b4c7e4)) !important;
    background-image:-webkit-linear-gradient(90deg,#7691bd,#b4c7e4) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c7e4', endColorstr='#7691bd');
    border-color:#666 !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -o-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.cke_combo_text {
    color:#333 !important;
    font-weight:bold !important;
}
.cke_toolbar_separator {
    background-color:#666 !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -o-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.cke_top {
    border-bottom:.1em solid #666 !important;
    border-left-width:0 !important;
    border-right-width:0 !important;
    border-top-width:0 !important;
    background:#85a4d5 !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -o-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
a.cke_button:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7096d5', endColorstr='#435f8e');
    background-image:linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5) !important;
    background-image:-moz-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5) !important;
    background-image:-ms-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5) !important;
    background-image:-o-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5) !important;
    background-image:-webkit-gradient(linear,left bottom,left top,from(#435f8e),to(#7096d5),color-stop(.49,#5c7db3),color-stop(.5,#6c8fc7)) !important;
    background-image:-webkit-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5) !important;
}
.cke, .cke_inner, .cke_contents {
    bottom:0;
    left:0;
    height:auto !important;
    position:absolute;
    right:0;
    top:0;
}
.cke_contents {
    top:3.5em;
}
.cke {
    border:0 !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -o-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.cke_combopanel, .cke_menu_panel, .cke_panel {
    border:.1em solid #666 !important;
    box-shadow:.1em .1em .25em #aaa !important;
    -moz-box-shadow:.1em .1em .25em #aaa !important;
    -o-box-shadow:.1em .1em .25em #aaa !important;
    -webkit-box-shadow:.1em .1em .25em #aaa !important;
    height:12.5em !important;
}
.wysiwyg {
    height:20em;
}
.wysiwyg div {
    width:100% !important;
}
.wysiwyg .nic-edit-panel div {
    width:18px !important;
}
/* -- CSS Cancelling for Message Styling -- */
#NewMessage_Body a {
    cursor:pointer;
}
#NewMessage_Body li {
    list-style:disc outside none;
}
#NewMessage_Body div {
    position:static;
}
#NewMessage_Body address, #NewMessage_Body blockquote, #NewMessage_Body dd, #NewMessage_Body div, #NewMessage_Body dl,
#NewMessage_Body dt, #NewMessage_Body fieldset, #NewMessage_Body h1, #NewMessage_Body h2, #NewMessage_Body h3,
#NewMessage_Body h4, #NewMessage_Body h5, #NewMessage_Body h6, #NewMessage_Body ol, #NewMessage_Body p, #NewMessage_Body ul,
#NewMessage_Body center, #NewMessage_Body dir, #NewMessage_Body hr, #NewMessage_Body menu, #NewMessage_Body pre {
    display:block;
    unicode-bidi:embed;
}
#NewMessage_Body li {
    display:list-item;
}
#NewMessage_Body table {
    display:table;
}
#NewMessage_Body tr {
    display:table-row;
}
#NewMessage_Body thead {
    display:table-header-group;
}
#NewMessage_Body tbody {
    display:table-row-group;
}
#NewMessage_Body tfoot {
    display:table-footer-group;
}
#NewMessage_Body col {
    display:table-column;
}
#NewMessage_Body colgroup {
    display:table-column-group;
}
#NewMessage_Body td, #NewMessage_Body th {
    display:table-cell;
}
#NewMessage_Body caption {
    display:table-caption;
}
#NewMessage_Body th {
    font-weight:bolder;
    text-align:center;
}
#NewMessage_Body caption {
    text-align:center;
}
#NewMessage_Body h1 {
    font-size:2em;
    margin:.67em 0;
}
#NewMessage_Body h2 {
    font-size:1.5em;
    margin:.75em 0;
}
#NewMessage_Body h3 {
    font-size:1.17em;
    margin:.83em 0;
}
#NewMessage_Body h4, #NewMessage_Body p, #NewMessage_Body blockquote, #NewMessage_Body ul, #NewMessage_Body fieldset,
#NewMessage_Body ol, #NewMessage_Body dl, #NewMessage_Body dir, #NewMessage_Body menu {
    margin:1.12em 0;
}
#NewMessage_Body h5 {
    font-size:.83em;
    margin:1.5em 0;
}
#NewMessage_Body h6 {
    font-size:.75em;
    margin:1.67em 0;
}
#NewMessage_Body h1, #NewMessage_Body h2, #NewMessage_Body h3, #NewMessage_Body h4, #NewMessage_Body h5,
#NewMessage_Body h6, #NewMessage_Body b, #NewMessage_Body strong {
    font-weight:bolder;
}
#NewMessage_Body blockquote {
    margin-left:40px;
    margin-right:40px;
}
#NewMessage_Body i, #NewMessage_Body cite, #NewMessage_Body em, #NewMessage_Body var, #NewMessage_Body address {
    font-style:italic;
}
#NewMessage_Body pre, #NewMessage_Body tt, #NewMessage_Body code, #NewMessage_Body kbd, #NewMessage_Body samp {
    font-family:monospace;
}
#NewMessage_Body pre {
    white-space:pre;
}
#NewMessage_Body big {
    font-size:1.17em;
}
#NewMessage_Body small, #NewMessage_Body sub, #NewMessage_Body sup {
    font-size:.83em;
}
#NewMessage_Body sub {
    vertical-align:sub;
}
#NewMessage_Body sup {
    vertical-align:super;
}
#NewMessage_Body table {
    border-spacing:2px;
}
#NewMessage_Body thead, #NewMessage_Body tbody, #NewMessage_Body tfoot {
    vertical-align:middle;
}
#NewMessage_Body td, #NewMessage_Body th, #NewMessage_Body tr {
    vertical-align:inherit;
}
#NewMessage_Body s, #NewMessage_Body strike, #NewMessage_Body del {
    text-decoration:line-through;
}
#NewMessage_Body hr {
    border:1px inset;
}
#NewMessage_Body ol, #NewMessage_Body ul, #NewMessage_Body dir, #NewMessage_Body menu, #NewMessage_Body dd {
    margin-left:40px;
}
#NewMessage_Body ol {
    list-style-type:decimal;
}
#NewMessage_Body ol ul, #NewMessage_Body ul ol, #NewMessage_Body ul ul, #NewMessage_Body ol ol {
    margin-bottom:0;
    margin-top:0;
}
#NewMessage_Body u, #NewMessage_Body ins {
    text-decoration:underline;
}
#NewMessage_Body br:before {
    content:"\A";
    white-space:pre-line;
}
#NewMessage_Body center {
    text-align:center;
}
#NewMessage_Body :link, #NewMessage_Body :visited {
    text-decoration:underline;
}
#list-messages .t-state-selected {
    font-weight:normal;
}

/* -- Overrides to make work on old version -- */
#list-messages .t-grid-content {
    bottom:2em;
    height:auto !important;
    top:0 !important;
}
#list-messages .t-status-text {
    font-size:.8em;
}
.folder-selection .pointer.down {
    margin:.4em 0;
}
.wrapper.blue {
    background-color:#d6e5f3;
}
.abs.bottom.wrapper.blue {
    border-top:.1em solid #83a2d4;
}
.folder-selection .selectMenu {
    bottom:0;
    left:0;
    padding:.5em 1em;
    position:absolute !important;
    top:0;
    right:0;
    width:auto !important;
}
#message-view .floater {
    float:left;
    height:50%;
    margin-bottom:-22px;
}
#message-view .ajaxerror {
    clear:both;
    height:55px;
    position:relative;
}
#message-body p {
    line-height: normal;
}