﻿/* -- Fieldset Overrides -- */
fieldset.oasis {
    background-color:#d1e0d1;
    background-image:linear-gradient(25deg,#d1e0d1,#ebfceb,#d1e0d1);
    background-image:-moz-linear-gradient(115deg,#d1e0d1,#ebfceb,#d1e0d1);
    background-image:-ms-linear-gradient(115deg,#d1e0d1,#ebfceb,#d1e0d1);
    background-image:-o-linear-gradient(115deg,#d1e0d1,#ebfceb,#d1e0d1);
    background-image:-webkit-linear-gradient(115deg,#d1e0d1,#ebfceb,#d1e0d1);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#d1e0d1),to(#d1e0d1),color-stop(.5,#ebfceb));
}
fieldset.loc485 {
    background-color:#ccc;
    background-image:linear-gradient(25deg,#ccc,#f3f3f3,#ccc);
    background-image:-moz-linear-gradient(115deg,#ccc,#f3f3f3,#ccc);
    background-image:-ms-linear-gradient(115deg,#ccc,#f3f3f3,#ccc);
    background-image:-o-linear-gradient(115deg,#ccc,#f3f3f3,#ccc);
    background-image:-webkit-linear-gradient(115deg,#ccc,#f3f3f3,#ccc);
    background-image:-webkit-gradient(linear,left bottom,right top,from(#ccc),to(#ccc),color-stop(.5,#f3f3f3));
}
fieldset.oasis legend {
    background-color: #d1e0d1;
}
fieldset.loc485 legend {
    background-color:#ccc;
}
fieldset.oasis .row .fr {
    margin-right:2.6em;
}
fieldset.oasis .row .fr.oasis {
    margin-right:0;
}
fieldset.oasis .checkgroup .option .wrapper {
    border-color:#7daf7d;
    box-shadow:-.1em -.1em .5em #9bd99b inset;
    -moz-box-shadow:-.1em -.1em .5em #9bd99b inset;
    -o-box-shadow:-.1em -.1em .5em #9bd99b inset;
    -webkit-box-shadow:-.1em -.1em .5em #9bd99b inset;
}
fieldset.loc485 .checkgroup .option .wrapper {
    border-color:#afafaf;
    box-shadow:-.1em -.1em .5em #d9d9d9 inset;
    -moz-box-shadow:-.1em -.1em .5em #d9d9d9 inset;
    -o-box-shadow:-.1em -.1em .5em #d9d9d9 inset;
    -webkit-box-shadow:-.1em -.1em .5em #d9d9d9 inset;
}
fieldset.oasis .checkgroup .option.selected .wrapper, fieldset.loc485 .checkgroup .option.selected .wrapper {
    box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
}
/* -- Diagnosis List -- */
.instructions {
    text-align:left;
}
.instructions p {
    margin:.8em 0;
}
.instructions li, .oasis-diagnoses, .oasis-diagnosis {
    display:block;
}
.instructions li p, .instructions li li {
    margin:0 0 0 5.2em;
}
.instructions li li p {
    margin:0 0 0 1.2em;
}
.diagnosis-item {
    background-color:#faf1d4;
    border:.1em solid #aaa;
    border-radius:1em;
    -moz-border-radius:1em;
    -o-border-radius:1em;
    -webkit-border-radius:1em;
    box-shadow:.1em .1em .25em #888;
    -moz-box-shadow:.1em .1em .25em #888;
    -o-box-shadow:.1em .1em .25em #888;
    -webkit-box-shadow:.1em .1em .25em #888;
    margin:.5em 0;
}
.diagnoses-list .inline-row {
    clear:left;
}
.diagnosis-item .row {
    margin:0 .5em;
}
fieldset.oasis .diagnosis-item.oasis-diagnosis {
    background-color:#e0f1e0;
}
.diagnosis-item .handle.sortable {
    cursor:move;
}
.oasis-m1022 {
    clear:both;
}
.diagnosis-item .delete {
    float:right;
    margin:-.5em -1em;
}
.nonoasis .diagnosis-item {
    background-color:#d6dada;
}
.diagnosis-item input {
    cursor:text;
}
.diagnosis-item .img, .diagnosis-item .oasis-help {
    cursor:pointer;
}
.diagnosis-item label, .diagnosis-item select {
    cursor:default;
}
.diagnosis-item .arrow.up, .diagnosis-item .arrow.down {
    float:left;
    margin:-.3em .2em;
}
/*-- Score List --*/
.score-list {
    margin:0 auto;
    width:25em;
}
.score-list > li {
    color:#888;
    display:block;
    padding:.1em 2em;
}
.score-list > li > .margin {
    padding-left:1em;
}
.score-list > li.strong {
    background-color:#edf5ee;
    border:solid .1em #9bbe9f;
    border-radius:1em;
    -moz-border-radius:1em;
    -o-border-radius:1em;
    -webkit-border-radius:1em;
    color:#333;
    font-weight:700;
}
/* -- Wound Chart -- */
.wound-chart > .patient-map {
    background:transparent url(/Images/body_outline.png) no-repeat scroll center 0;
    height:515px;
    margin:0 auto;
    position:relative;
    width:507px;
}
.wound-chart.add-mode > .patient-map {
    cursor:crosshair;
}
.patient-map > em {
    display:none;
}
.patient-map.busy > em {
    bottom:0;
    display:inline-block;
    position:absolute;
    right:0;
}
.patient-map > em > .img {
    margin:0 5px;
    vertical-align:bottom;
}
.wound-chart.add-mode > .patient-map.busy, .patient-map.busy {
    cursor:progress;
}
.wound-marker {
    background:transparent url(/Images/sprite.png) no-repeat scroll -236px -155px;
    color:#fdd;
    cursor:pointer;
    font-weight:600;
    height:35px;
    line-height:1.75;
    position:absolute;
    text-align:center;
    text-shadow:.1em .1em 0 #333;
    -moz-text-shadow:.1em .1em 0 #333;
    -o-text-shadow:.1em .1em 0 #333;
    -webkit-text-shadow:.1em .1em 0 #333;
    width:20px;
}
.wound-chart.move-mode .wound-marker {
    cursor:move;
}
/* -- Pain Picker -- */
div.pain-picker {
    background:url(/Images/pain-picker.png) no-repeat center 0;
    cursor:default;
    height:3.5em;
    margin:1em auto;
    padding:50px 3px 0;
    text-align:center;
    width:361px;
}
div.pain-picker > .pain-slider {
    background-image:linear-gradient(90deg,#fff,#f04c17);
    background-image:-moz-linear-gradient(0deg,#fff,#f04c17);
    background-image:-ms-linear-gradient(90deg,#fff,#f04c17);
    background-image:-o-linear-gradient(90deg,#fff,#f04c17);
    background-image:-webkit-gradient(linear,left top,right top,from(#fff),to(#f04c17));
    background-image:-webkit-linear-gradient(90deg,#fff,#f04c17);
    border:.1em solid #333;
    box-shadow:.1em .1em .25em #333;
    -moz-box-shadow:.1em .1em .25em #333;
    -o-box-shadow:.1em .1em .25em #333;
    -webkit-box-shadow:.1em .1em .25em #333;
    cursor:pointer;
    height:2em;
    margin:0 auto;
	position: relative;
}
div.pain-picker > .pain-slider > span {
    border-right:.1em solid #333;
    display:inline-block;
    line-height:2em;
    margin:0;
    padding:0;
    text-align:center;
    font-weight:600;
}
div.pain-picker > .pain-slider > span:last-child {
    border-right:0 none;
}
.no-pain {
    width:10%;
}
.mild-pain {
    width:20%;
}
.moderate-pain {
    width:34%;
}
.severe-pain {
    width:34%;
}
.ui-slider .ui-slider-handle {
    background-color:#f47e56;
    border:.1em solid #333;
    border-radius:.25em;
    -moz-border-radius:.25em;
    -o-border-radius:.25em;
    -webkit-border-radius:.25em;
    box-shadow:.1em .1em .25em #333;
    -moz-box-shadow:.1em .1em .25em #333;
    -o-box-shadow:.1em .1em .25em #333;
    -webkit-box-shadow:.1em .1em .25em #333;
    cursor:col-resize;
    height:2.75em;
    margin-left:-.5em;
	position: absolute;
    top:-.5em;
	width:1em;
	z-index:2;
}
.pain-picker > table {
    font-weight:400;
    margin:.5em 0 .5em -15px;
    table-layout:fixed;
    width:393px;
}
.pain-picker > table td.selected {
    font-weight:600;
}
/* -- OASIS Validation -- */
ol.dc.oasis-validation > li {
    padding:0 1em;
}
ol.dc.oasis-validation a {
    color:#333;
}
ol.dc.oasis-validation h3 {
    font-weight:700;
    padding-left:4em;
    text-align:center;
}
ol.dc.oasis-validation .img.fl {
    margin:.5em 0;
}
ol.dc.oasis-validation .description {
    display:block;
    font-size:.9em;
    font-style:italic;
    padding-left:4em;
    text-align:center;
}