﻿/* -- Blue Modal -- */
.modal-blue .window-content{background-color:#6f95d4;
    background-image:-moz-linear-gradient(90deg,transparent,rgba(255,255,255,.4));
    background-image:-o-linear-gradient(90deg,transparent,rgba(255,255,255,.4));
    background-image:-webkit-gradient(linear,left bottom,left top,from(transparent),to(rgba(255,255,255,.4)))}
.modal-blue .window-content{color:#fff;padding:0 10px 10px;text-align:center;text-shadow:0 2px 3px #333}
.modal-blue h3{font-size:24px;padding-top:10px}
.modal-blue ul{text-align:left;margin:5px 40px}
.modal-blue ul li{padding:5px;list-style:none}
.modal-blue ul li a{color:#fff;font-size:1.3em;vertical-align:text-bottom}
.modal-blue ul li a:hover{color:#fdd;text-shadow:0 2px 5px #833}
/*-- Load Print Views --*/
#print-box,#validation-box{position:absolute;top:0;right:0;bottom:3.2em;left:0;background-color:#d3d3d3}
#printview,#oasis-validation{width:100%;height:100%;overflow-x:hidden;border:0 none}
#print-controls,#oasis-validation-controls{position:absolute;right:0;bottom:0;left:0;padding:5px 2px;background-color:#eee;line-height:20px;border-top:solid 1px #aaa;height:2.25em}
#print-return-reason{position:fixed;left:50%;margin-left:-290px;bottom:9.5%;background:#fffcf2;width:580px;height:200px;display:none;border:solid 1px #aaa;text-align:center}
#print-return-reason textarea{width:560px;height:160px}
#print-return-reason label{font-size:14px;line-height:14px;margin:5px;display:block}
/* -- Note Modal -- */
.note-modal {
    background-color:#ffff2d;
    background-image:linear-gradient(300deg,#ffff87,#b8b108);
    background-image:-moz-linear-gradient(300deg,#ffff87,#b8b108);
    background-image:-ms-linear-gradient(300deg,#ffff87,#b8b108);
    background-image:-o-linear-gradient(300deg,#ffff87,#b8b108);
    background-image:-webkit-gradient(linear,top left,bottom right,from(#ffff87),to(#b8b108));
    background-image:-webkit-linear-gradient(300deg,#ffff87,#b8b108);
    border:.1em solid #000;
    box-shadow:1em 1em 2em #000;
    -moz-box-shadow:1em 1em 2em #000;
    -o-box-shadow:1em 1em 2em #000;
    -webkit-box-shadow:1em 1em 2em #000;
    height:40em;
    left:50%;
    margin-left:-20em;
    margin-top:-20em;
    overflow:auto;
    position:absolute;
    top:50%;
    width:40em;
    z-index:12;
}
.note-modal.blue {
    background-color:#49b1ff;
    background-image:linear-gradient(300deg,#b6e0ff,#0d78e0);
    background-image:-moz-linear-gradient(300deg,#b6e0ff,#0d78e0);
    background-image:-ms-linear-gradient(300deg,#b6e0ff,#0d78e0);
    background-image:-o-linear-gradient(300deg,#b6e0ff,#0d78e0);
    background-image:-webkit-gradient(linear,top left,bottom right,from(#b6e0ff),to(#0d78e0));
    background-image:-webkit-linear-gradient(300deg,#b6e0ff,#0d78e0);
}
.note-modal.red {
    background-color:#ff2828;
    background-image:linear-gradient(300deg,#ff8787,#b80707);
    background-image:-moz-linear-gradient(300deg,#ff8787,#b80707);
    background-image:-ms-linear-gradient(300deg,#ff8787,#b80707);
    background-image:-o-linear-gradient(300deg,#ff8787,#b80707);
    background-image:-webkit-gradient(linear,top left,bottom right,from(#ff8787),to(#b80707));
    background-image:-webkit-linear-gradient(300deg,#ff8787,#b80707);
}
.note-close, .note-content {
    clear:right;
    padding:1em 1em 0;
    text-align:justify;
}
.note-close {
    cursor:pointer;
    float:right;
    font-size:9pt;
    font-weight:bold;
}
.note-modal.bottom {
    transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    -ms-transform:rotate(4deg);
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
}
.note-modal.middle {
    transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -webkit-transform:rotate(2deg);
}
/* -- Return Comments -- */
#window_ReturnReason_content {
    background-color:#fccac3;
    background-image:linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-ms-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-o-linear-gradient(315deg,#fcedea,#fcb6ac);
    background-image:-webkit-gradient(linear,bottom right,top left,from(#fcb6ac),to(#fcedea));
    background-image:-moz-linear-gradient(315deg,#fcedea,#fcb6ac);
}
.return-comments-container {
    background:url(/Images/logo-ghost.png) no-repeat -1.5em 105%;
}
.return-comments-container textarea {
    background-color:rgba(255,255,255,.8);
    border:.1em solid #b88e88;
    width:28.5em;
}
.return-comments {
    background-color:rgba(255,255,255,.4);
    border:.1em solid #b88e88;
    height:15.7em;
    margin-bottom:1em;
    overflow:auto;
    padding:.5em;
    width:30em;
}
.return-comments.busy div{
     background:#fff url(/Images/loading.gif) no-repeat scroll center center;
    position: absolute;
    width:30em;
    height:15.7em;
    padding:.5em;
    opacity: .5;
    margin: -6px 0 0 -6px;
}

.ui-tooltip .edit-controls, .note-modal .edit-controls {
    display: none;
}
.return-comments hr, .note-modal hr {
    border-top:.1em solid #333;
    border-bottom:0;
}
.return-comments .user, .note-modal .user, .ui-tooltip .user {
    font-weight:600;
    margin-right:.5em;
}
.return-comments .time, .note-modal .time, .ui-tooltip .time {
    font-size:.8em;
    font-style:italic;
    vertical-align:text-bottom;
}
.ui-tooltip .time {
    display:block;
    
}
.return-comments .reason, .note-modal .reason, .ui-tooltip .reason {
    display:block;
}
.return-comments .edit-controls {
    cursor:pointer;
    float:right;
}