﻿html,body{background-color:#bbc;background-attachment:fixed;background-image:-moz-linear-gradient(285deg,#d3d3d3,#99a,#727288);background-image:-webkit-linear-gradient(285deg,#d3d3d3,#99a,#727288);color:#000}
body{margin:0 auto;font-family:Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;font-size:12pt;width:816px}
p{margin:0;display:inline}
#loading{position:absolute;top:50%;left:50%;width:10em;height:10em;background:#fff url(/Images/loading.gif) no-repeat center center;margin:-5em;box-shadow:0 0 1em #333;-moz-box-shadow:0 0 1em #333;-webkit-box-shadow:0 0 1em #333;-o-box-shadow:0 0 1em #333;-khtml-box-shadow:0 0 1em #333;border-radius:5em;-moz-border-radius:5em;-webkit-border-radius:5em;-o-border-radius:5em;-khtml-border-radius:5em}
.checkbox{border:.1em solid #333;height:1em;width:1em;margin:.5em;font-size:.7em;line-height:1em;text-align:center;font-weight:bold;display:inline-block !important;}
.page{background-color:#fff;border:solid 1px #aaa;height:1056px;box-shadow:1em .8em 1em #333;-moz-box-shadow:1em .8em 1em #333;-webkit-box-shadow:1em .8em 1em #333;-o-box-shadow:1em .8em 1em #333;-khtml-box-shadow:1em .8em 1em #333;position:relative;overflow:hidden;margin:15px 0}
.fl,.fl{float:left}
.fr,.fr{float:right}
.clear,.cb{clear:both}
.label,.strong{font-weight:bold}
.content span{display:block}
.blank{border-bottom:solid 1px #000}
.fl,.fr{width:50%}
.fixed{table-layout:fixed}
.auto{width:auto !important}
.al,.al{text-align:left}
.ac,.ac{text-align:center}
.ar,.ar{text-align:right}
.page div{position:absolute;overflow:hidden}
table,tbody,thead,tfoot,tr,th,td{margin:0;padding:0}
table{border-collapse:collapse;width:100%;table-layout:fixed}
td,th{vertical-align:top}
.pad{padding:.1em .3em}
th{border-top:solid 1px #000}
th + th{border-left:solid 1px #000}
.section .section{border-right:solid 1px #000;border-top:solid 1px #000;border-collapse:collapse}
.section .section th{border-bottom:solid 1px #000;}
.section td{padding-bottom:.1em}
tbody tr td:last-child th,tbody tr td:last-child table{border-right:0 none}
.agency{top:40px;right:300px;bottom:950px;left:50px;font-size:10pt}
.patientname{top:115px;right:415px;bottom:920px;left:170px;font-size:14pt;font-weight:bold}
.pagenum{font-size:.6em;bottom:18px;right:36px}