﻿/* -- Basic Icon Dimensions and Layouts -- */
.img,.ui-icon.ui-icon-triangle-2-n-s,.ui-icon.ui-icon-check,.ui-icon.ui-icon-closethick,.ui-resizable-handle.ui-resizable-se{display:inline-block;background-image:url(/Images/sprite.png);background-repeat:no-repeat;vertical-align:middle}
.img.icon48{width:48px;height:48px}
.img.icon32{width:32px;height:32px}
.img.icon22{width:22px;height:22px}
.img.icon16{width:16px;height:16px}
.img.win{width:30px;height:15px;margin:3px 0}
.img.none{background-image: none}
.img.img-margin{margin:0 1em}
/* -- 48x48 icons -- */
.exclamation.icon48.img{background-position:0 0}
.success.icon48.img{background-position:-48px 0}
.info.icon48.img{background-position:-96px 0}
.question.icon48.img{background-position:-144px 0}
.error.icon48.img{background-position:-192px 0}
.axxess.icon48.img{background-position:-240px 0}
/* -- 32x32 icons -- */
.exclamation.img{background-position:0 -48px}
.success.img{background-position:-32px -48px}
.info.img{background-position:-64px -48px}
.question.img{background-position:-96px -48px}
.error.img{background-position:-128px -48px}
.axxess.img{background-position:-160px -48px}
.log.img{background-position:-191px -48px}
.phone.img{background-position:-224px -48px}
/* -- 22x22 icons -- */
.axxess.icon22.img{background-position:0 -80px}
.home-menu.img{background-position:-22px -80px}
.create-menu.img{background-position:-44px -80px}
.view-menu.img{background-position:-66px -80px}
.patients-menu.img{background-position:-88px -80px}
.schedule-menu.img{background-position:-110px -80px}
.billing-menu.img{background-position:-132px -80px}
.admin-menu.img{background-position:-154px -80px}
.reports-menu.img{background-position:-176px -80px}
.help-menu.img{background-position:-198px -80px}
.logout.img{background-position:-220px -80px}
.edit.img{background-position:0 -102px}
.delete.img{background-position:-22px -102px}
.print.img{background-position:-44px -102px}
.arrow.down.img{background-position:-66px -102px}
.arrow.up.img{background-position:-88px -102px}
.arrow.left.img{background-position:-110px -102px}
.arrow.right.img{background-position:-132px -102px}
.mail.img{background-position:-154px -102px}
.edit-schedule.img{background-position:-176px -102px}
.reopen-schedule.img{background-position:-220px -102px}
.delete-schedule.img{background-position:-198px -102px}
.reassign-schedule.img{background-position:-242px -102px}
/* -- 16x16 icons -- */
.print.icon16.img{background-position:0 -124px}
.note.img{background-position:-48px -124px}
.red.note.img{background-position:-16px -124px}
.blue.note.img{background-position:-32px -124px}
.paperclip.img{background-position:-64px -124px}
.money.img{background-position:-80px -124px}
.book.img{background-position:-96px -124px}
.view.icon16.img{background-position:-112px -124px}
.check.img,.ui-icon.ui-icon-check{background-position:-128px -124px}
.ecks.img,.ui-icon.ui-icon-closethick{background-position:-144px -124px}
.ui-resizable-handle.ui-resizable-se{background-position:-160px -124px}
.arrow.white.img{background-position:-176px -124px}
.clock.img{background-position:-192px -124px}
.plus.img{background-position:-208px -124px}
.edit.img.icon16{background-position:-224px -124px}
.delete.img.icon16{background-position:-240px -124px}
.refresh.img.icon16{background-position:-256px -124px}
/* -- Window Controls -- */
.win.min{background-position:0 -140px}
.win.pin{background-position:-30px -140px}
.win.pin.selected{background-position:-60px -140px}
.win.res{background-position:-90px -140px}
.win.max{background-position:-120px -140px}
.win.close{background-position:-150px -140px}
.win.min.hover{background-position:-180px -140px}
.win.pin.hover{background-position:-210px -140px}
.win.res.hover{background-position:-240px -140px}
.win.max.hover{background-position:-270px -140px}
.win.close.hover{background-position:-300px -140px}
/* -- Oblong icons -- */
.tab{background-position:0 -155px;width:207px;height:60px}
.send.img{background-position:-207px -155px;width:29px;height:14px}
.arrow.next.img{background-position:-207px -169px;width:27px;height:20px}
.pointer.up.img,.ui-icon-circle-triangle-n{background-position:-207px -189px;width:8px;height:4px}
.pointer.down.img,.ui-icon-circle-triangle-s{background-position:-207px -193px;width:8px;height:4px}
.pointer.left.img,.ui-icon-circle-triangle-w{background-position:-207px -189px;width:4px;height:8px}
.pointer.right.img,.ui-icon-circle-triangle-e{background-position:-211px -189px;width:4px;height:8px}

.pointer.up.img.big{background-position:-256px -155px;width:12px;height:6px}
.pointer.down.img.big{background-position:-256px -161px;width:12px;height:6px}
.pointer.left.img.big{background-position:-256px -155px;width:6px;height:12px}
.pointer.right.img.big{background-position:-262px -155px;width:6px;height:12px}


.select-icon.img,.ui-icon.ui-icon-triangle-2-n-s{background-position:-207px -197px;width:17px;height:18px}
.select-icon.active.img,.ui-state-active .ui-icon.ui-icon-triangle-2-n-s{background-position:-224px -197px}
.grid-expand.img,.grid-reduce{background-position:-241px -193px;width:28px;height:22px}
.grid-reduce.img{background-position:-269px -193px}
/* -- Animated icons -- */
.img.loading{display:inline-block;background:url(/Images/loading.gif) no-repeat;width:100px;height:130px}
.img.loading.small{background-image:url(/Images/loading-small.gif);width:20px;height:24px}