﻿/* -- General -- */
.ui-tabs-nav li.ui-state-default a {
	color: #333;
}
.ui-tabs-nav li.ui-state-disabled a {
	color: #8D8D8D;
}
.ui-tabs-nav li.ui-state-hover {
	background-color:#dce6f5;
	border-color: #688caf;
}
.ui-tabs-nav li a:hover {
	border-bottom: 0;
}

/* -- Vertical Tabs -- */
.vertical-tab-list {
    background-color:#c3d8f1;
    background-image:linear-gradient(25deg,#a7bfdb,#e6effa,#a7bfdb);
    background-image:-moz-linear-gradient(115deg,#a7bfdb,#e6effa,#a7bfdb);
    background-image:-ms-linear-gradient(25deg,#a7bfdb,#e6effa,#a7bfdb);
    background-image:-o-linear-gradient(115deg,#a7bfdb,#e6effa,#a7bfdb);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#a7bfdb),to(#a7bfdb),color-stop(.5,#e6effa));
    background-image:-webkit-linear-gradient(115deg,#a7bfdb,#e6effa,#a7bfdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7bfdb',endColorstr='#e6effa');
    border-right:.1em solid #83a2d4;
    bottom:0;
    left:0;
    padding:.5em 0;
    position:absolute;
    top:0;
    width:18em;
}
.vertical-tab-list li {
    background-color:#c3d8f1;
    background-image:linear-gradient(0deg,#c3d8f1,#dde8f5);
    background-image:-moz-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-ms-linear-gradient(0deg,#c3d8f1,#dde8f5);
    background-image:-o-linear-gradient(90deg,#c3d8f1,#dde8f5);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#c3d8f1),to(#dde8f5));
    background-image:-webkit-linear-gradient(90deg,#c3d8f1,#dde8f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3d8f1',endColorstr='#dde8f5');
    border-radius:.5em 0 0 .5em;
    -moz-border-radius:.5em 0 0 .5em;
    -webkit-border-radius:.5em 0 0 .5em;
    -o-border-radius:.5em 0 0 .5em;
    display:block;
    border:.1em solid #83a2d4;
    border-right:0;
    width:16.9em;
    margin:.1em 0 0 1em;
}
.vertical-tab-list .ui-state-hover {
    background:#ebf0f5;
    letter-spacing:.1em;
    margin-left:.5em;
    text-shadow:.1em .1em 0 #fff;
    width:17.4em
}
.vertical-tab-list li.ui-tabs-active {
    background:#fff;
    margin-left:.25em;
    width:17.75em;
}
.vertical-tab-list li a {
    color:#333;
    display:block;
    padding:.1em .5em;
}
.vertical-tab-list li a:hover {
    border-bottom:none;
}
.vertical-tab-list .ui-tabs-active a {
    cursor:default;
    letter-spacing:.1em;
}

.vertical-tabs .tab-content {
    bottom:0;
    left:18.1em;
    overflow:auto;
    right:0;
    position:absolute;
    top:0;
}

/* -- Horizontal Tabs -- */
.horizontal-tabs {
    background-color:#d6e8f5;
    border:0 none;
}
.horizontal-tab-list {
    margin:1px .5em !important;
    position:relative;
    z-index:1;
}
.horizontal-tab-list li {
    border:.1em solid #b8b8b8;
    border-bottom-color:#688caf;
    border-radius:1em 1em 0 0;
    display:inline-block;
    padding:.4em 1em;
}
.horizontal-tab-list li a {
    color:#888;
    font-weight:700;
}
.horizontal-tab-list li.ui-state-active {
    background-color:#fff;
    border-color:#688caf #688caf #fff;
}
.horizontal-tab-list li.ui-state-active a {
    color:#333;
}

.horizontal-tabs .required-legend {
	top: 0.5em;
}

.horizontal-tabs .tab-content {
    background-color:#fff;
    border:.1em solid #688caf;
    bottom:.5em;
    left:.5em;
    overflow:auto;
    padding:.5em;
    position:absolute;
    right:.5em;
    top:4.5em;
}
.wrapper.horizontal-tabs.blue {
    background-color:#d6e5f3;
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0;
}
