﻿/* -- Parent Window Object -- */
.window {
    background-color:#c5c7c9;
    background-image:linear-gradient(0deg,#eef0f3,#e9ebee .6em,#d0d1d4 2em,#dadbde 40%,#d0d1d4 42%,#c5c7c9);
    background-image:-moz-linear-gradient(-90deg,#eef0f3,#e9ebee .6em,#d0d1d4 2em,#dadbde 40%,#d0d1d4 42%,#c5c7c9);
    background-image:-ms-linear-gradient(-90deg,#eef0f3,#e9ebee .6em,#d0d1d4 2em,#dadbde 40%,#d0d1d4 42%,#c5c7c9);
    background-image:-o-linear-gradient(-90deg,#eef0f3,#e9ebee .6em,#d0d1d4 2em,#dadbde 40%,#d0d1d4 42%,#c5c7c9);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#eef0f3),to(#c5c7c9),color-stop(.01,#e9ebee),color-stop(.4,#d0d1d4),color-stop(.42,#c5c7c9));
    background-image:-webkit-linear-gradient(-90deg,#eef0f3,#e9ebee .6em,#d0d1d4 2em,#dadbde 40%,#d0d1d4 42%,#c5c7c9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef0f3',endColorstr='#c5c7c9');
    border:.1em solid #999;
    border-radius:.5em;
    box-shadow:.1em .1em .4em #222;
    position:absolute !important;
}
.window.active {
    border-color:#777;
    background-color:#83a2d4;
    box-shadow:.1em .1em .4em #222;
    background-image:linear-gradient(0deg,#c5d8f3,#bacfee .6em,#83a2d4 2em,#d5d8de 40%,#83a2d4 42%,#abb8c9 98%,#cad2de);
    background-image:-moz-linear-gradient(-90deg,#c5d8f3,#bacfee .6em,#83a2d4 2em,#d5d8de 40%,#83a2d4 42%,#abb8c9 98%,#cad2de);
    background-image:-ms-linear-gradient(-90deg,#c5d8f3,#bacfee .6em,#83a2d4 2em,#d5d8de 40%,#83a2d4 42%,#abb8c9 98%,#cad2de);
    background-image:-o-linear-gradient(-90deg,#c5d8f3,#bacfee .6em,#83a2d4 2em,#d5d8de 40%,#83a2d4 42%,#abb8c9 98%,#cad2de);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#83a2d4),to(#cad2de),color-stop(.01,#bacfee),color-stop(.4,#d5d8de),color-stop(.42,#83a2d4),color-stop(.98,#abb8c9));
    background-image:-webkit-linear-gradient(-90deg,#c5d8f3,#bacfee .6em,#83a2d4 2em,#d5d8de 40%,#83a2d4 42%,#abb8c9 98%,#cad2de);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#94bcf3',endColorstr='#9eb7de');
}
.window.minimized * {
    display:none;
}
.window.ui-draggable-dragging {
    opacity:.5;
}
.window.maximized.ui-draggable-dragging {
    opacity:1;
}
.window.maximized {
    border:0 none;
    border-radius:0;
}
/* -- Top Bar -- */
.window-top {
    cursor:default;
    overflow:hidden;
    padding:.15em .5em;
    text-align:center;
    text-shadow:.05em .05em .05em #fff;
    -moz-text-shadow:.05em .05em .05em #fff;
    -webkit-text-shadow:.05em .05em .05em #fff;
    -o-text-shadow:.05em .05em .05em #fff;
}
.window-top .title {
    font-variant:small-caps;
    font-weight:600;
    height:2em;
    letter-spacing:.15em;
    left:2.5em;
    margin:0 auto;
    position:absolute;
    right:10.5em;
    top:.3em;
}
.img.win.hover {
    box-shadow:0 0 .5em #08f;
    -moz-box-shadow:0 0 .5em #08f;
    -webkit-box-shadow:0 0 .5em #08f;
    -o-box-shadow:0 0 .5em #08f;
}
.img.win.min.hover {
    border-radius:.5em 0 0 .5em;
    -moz-border-radius:.5em 0 0 .5em;
    -webkit-border-radius:.5em 0 0 .5em;
    -o-border-radius:.5em 0 0 .5em;
}
.img.win.close.hover {
    border-radius:0 .5em .5em 0;
    -moz-border-radius:0 .5em .5em 0;
    -webkit-border-radius:0 .5em .5em 0;
    -o-border-radius:0 .5em .5em 0;
    box-shadow:0 0 .5em #fd6e6e;
    -moz-box-shadow:0 0 .5em #fd6e6e;
    -webkit-box-shadow:0 0 .5em #fd6e6e;
    -o-box-shadow:0 0 .5em #fd6e6e;
}
/* -- Status Bar/Resize Handles -- */
.window-bottom {
    bottom:0;
    font-size:.9em;
    font-weight:bold;
    height:2em;
    left:0;
    line-height:2em;
    overflow:hidden;
    position:absolute;
    right:0;
    text-align:center;
}
.ui-resizable, .ui-resizable-handle {
    position:absolute;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display:none;
}
.ui-resizable-n {
    cursor:n-resize;
    height:.5em;
    left:.5em;
    right:.5em;
    top:0;
}
.ui-resizable-s {
    bottom:0;
    cursor:s-resize;
    height:.5em;
    left:.5em;
    right:.5em;
}
.ui-resizable-e {
    bottom:2em;
    cursor:e-resize;
    right:0;
    top:.5em;
    width:.5em;
}
.ui-resizable-w {
    bottom:2em;
    cursor:w-resize;
    left:0;
    top:.5em;
    width:.5em;
}
.ui-resizable-se {
    bottom:0;
    cursor:se-resize;
    height:2em;
    right:0;
    width:2em;
}
.ui-resizable-sw {
    bottom:0;
    cursor:sw-resize;
    height:2em;
    left:0;
    width:2em;
}
.ui-resizable-nw {
    cursor:nw-resize;
    height:.5em;
    left:0;
    top:0;
    width:.5em;
}
.ui-resizable-ne {
    cursor:ne-resize;
    height:.5em;
    right:0;
    top:0;
    width:.5em;
}
.maximized .ui-resizable-handle, .maximized .window-bottom {
    display:none !important;
}
.maximized .pd-calendar .ui-resizable-handle
{
	display:block !important;
}

@media all and (max-width:1080px) {
    .window.mobile-max .window-resize {
        display:none !important;
    }
    .window.mobile-max {
        border:0 none;
        border-radius:0;
        bottom:0 !important;
        height:100% !important;
        left:0 !important;
        right:0 !important;
        top:0 !important;
        width:100% !important;
    }
    .window.mobile-max .img.win.max, .window.mobile-max .img.win.res {
        display:none;
    }
    .window.mobile-max .window-content {
        border-radius:0;
        bottom:0 !important;
        box-shadow:inset 0 .25em .5em #777;
        left:0;
        right:0;
    }
    .window.mobile-max .ui-resizable-handle, .window.mobile-max .window-bottom {
        display:none !important;
    }
}
/* -- Content Pane -- */
.window-content {
    background-color:#fff;
    border:.1em solid #999;
    border-radius:.3em;
    bottom:.4em;
    box-shadow:inset .1em .1em .5em #777;
    left:.4em;
    overflow:auto;
    position:absolute;
    right:.4em;
    top:2em;
}
.window-content iframe {
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}
.window-content iframe.hidden {
    height:0;
    width:0;
}
.active .window-content {
    border-color:#777;
}
.window.ui-draggable-dragging .window-content *, .window.ui-draggable-dragging .window-bottom {
    display:none;
}
.maximized.ui-draggable-dragging .window-content *, .maximized.ui-draggable-dragging .window-bottom {
    display:block;
}
.maximized .window-content {
    border-radius:0;
    bottom:0 !important;
    box-shadow:inset 0 .25em .5em #777;
    left:0;
    right:0;
}
.window-content.no-scroll {
    overflow:hidden;
}
.window-content.alert {
    background:#b4c3db url(/Images/logo-ghost.png) no-repeat -5px 33%;
}
.window-content.alert.error {
    background-color:#fccac3;
}
.window-content.transistion {
    overflow:hidden;
}
.window-content.transistion > .wrapper.main {
	height:100%;
    position:absolute;
    top:0;
    width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
