﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<input name="MedicationClassification" />
<script type="text/javascript">
    Patient.medicationClassficationtips($("input[name=MedicationClassification]"));
</script>