﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Logon>" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>Physician Login - Axxess MD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <%= Html.Telerik()
            .StyleSheetRegistrar()
            .DefaultGroup(group => group
            .Add("account.css")
            .Combined(true)
            .Compress(true)
            .CacheDurationInDays(1)
            .Version(Current.AssemblyVersion))
        %>
        <link href="/Images/favicon.ico" rel="shortcut icon" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/touch-icon-ipad-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/touch-icon-iphone-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Images/touch-icon-ipad.png" />
        <link rel="apple-touch-icon-precomposed" href="/Images/touch-icon-iphone.png" />
        <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="login">
            <div class="login-center">
                <% var browser = HttpContext.Current.Request.Browser; %>
                <% if (browser.IsBrowserAllowed()) { %>
                    <img src="/Images/Login/logo.png" class="logo">
                    <noscript>
                        <div class="alert alert-error">
                            <h4>JavaScript Check</h4>
                            <p>Your browser version does not meet our minimum browser requirements.</p>
                            <p>Our software requires JavaScript to be enabled in your browser.</p>
                            <p>Please contact Axxess for assistance on how to enable JavaScript.</p>
                        </div>
                    </noscript> 
                    <div class="form-wrapper">
                        <% using (Html.BeginForm(
                            "LogOn", 
                            "Account", 
                            FormMethod.Post, 
                            new { 
                                @id = "login-form", 
                                @class = "login", 
                                @returnUrl = Request.QueryString["returnUrl"] 
                            })) { %>
                            
                            <div style="padding:1em">
                                <table>
                                    <tr>
                                        <td class="label"><label for="Login_UserName">Email</label></td>
                                        <td><input id="Login_UserName" name="UserName" class="required" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td class="label"><label for="Login_Password">Password</label></td>
                                        <td><input id="Login_Password" name="Password" class="required" type="password"></td>
                                    </tr>
                                </table>
                            </div>
                            <p id="Login_RememberMe_Forgot">
                                <input id="Login_RememberMe" name="RememberMe" checked="checked" value="true" type="checkbox">
                                <label for="Login_RememberMe">Remember Me</label>
                                |
                                <a href="Forgot" id="Login_Forgot">Forgot your Password?</a>
                            </p>
                            <input id="Login_Submit" type="submit" value="Login" >
                        <% } %>
                    </div>

                    <div class="login-loading">
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                    </div>
                    
                    <div class="login-message">
                        <div class="message"></div>
                        <div class="btn-wrapper">
                            <a href="#" class="btn-custom btn-cancel">Cancel</a>
                            <a href="#" class="btn-custom btn-ok">OK</a>
                        </div>
                    </div>
                <% } else { %>
                    <div class="login-message">
                        <h4>Browser Compatibility Check</h4>
                        <p>Your browser version does not meet our minimum browser requirements.</p>
                        <p>Our software supports Internet Explorer 8, FireFox 3+, and Chrome.</p>
                        <p>Please download Internet Explorer 8 or Firefox by clicking on the links below.</p>
                        <ul>
                            <li><a href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx" title="Internet Explorer Download">Download Internet Explorer</a></li>
                            <li><a href="http://www.mozilla.com/en-US/firefox" title="Firefox Download">Download Firefox</a></li>
                            <li><a href="http://www.google.com/intl/en/chrome/browser/" title="Chrome Download">Download Chrome</a></li>
                        </ul>
                    </div>
                    
                <% } %>
                
               <%-- <div class="ad">
                    
                </div>--%>
                <footer>
                    <a href="http://axxessweb.com/referrals" class="referral" target="_blank">
                        <h3><b>REFERRAL</b><br>PROGRAM</h3>
                        Tell your friends about <b>AXXESS</b><br>and take advantage of our referral program!</a>
                    </a>
                    <p class="rights">Axxess | Copyright © 2008 - 2013 | All Rights Reserved | Dallas, Texas</p>
                </footer>
            </div>
        </div>
        
        <% Html.Telerik().ScriptRegistrar().jQuery(false).DefaultGroup(group => group
            .Add("jquery-1.8.3.min.js")
            .Add("Plugins/Other/form.min.js")
            .Add("Plugins/Other/validate.min.js")
            .Add("Plugins/Other/jgrowl.min.js")
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Account.js")
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Utility.js")
            .Compress(true).Combined(true).CacheDurationInDays(1).Version(Current.AssemblyVersion)
        ).OnDocumentReady(() => { %> 
            Logon.Init(); 
        <% }).Render(); %>
        
        <% if (Model.IsLocked) { %>
        
            <script type="text/javascript">
                $("#Login_UserName").attr("disabled", "disabled");
                $("#Login_Password").attr("disabled", "disabled");
                $("#Login_RememberMe").hide();
                $("#Login_Forgot").hide();
                $("#Login_Button").hide();
                $("#messages").empty().removeClass().addClass("notification error").append('<span>You have made too many failed login attempts. Please contact your Agency/Companys Administrator.</span>');
            </script>
        
        <% } %>
    </body>
</html>



<%--

<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<Logon>" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Physician Login - Axxess MD</title>
    <%= Html.Telerik()
        .StyleSheetRegistrar()
        .DefaultGroup(group => group
        .Add("account.css")
        .Combined(true)
        .Compress(true)
        .CacheDurationInDays(1)
        .Version(Current.AssemblyVersion))
    %>
    <link href="/images/icons/favicon.ico" rel="shortcut icon" />
</head>
<body>
    <div id="login-wrapper">
        <% var browser = HttpContext.Current.Request.Browser; %>
        <% if (browser.IsBrowserAllowed()) { %>
        <div id="login-window" class="hidden">
            <div class="box-header"><img src="/Images/icons/axxess_icon.png" alt="Axxess Logo" /><span class="title">Axxess&trade; MD Login</span></div>
            <div class="box">
            <div id="messages"></div>
            <% using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @id = "loginForm", @class = "login", @returnUrl = Request.QueryString["returnUrl"] })) %>
            <% { %>
            <img src="/images/gui/axxess_logo.jpeg" alt="Axxess Logo" id="logo" />
            <div class="row">
                <%= Html.LabelFor(m => m.UserName) %>
                <%= Html.TextBoxFor(m => m.UserName, new { @id="Login_UserName", @class = "required" })%>
            </div>
            <div class="row">
                <%= Html.LabelFor(m => m.Password) %>
                <%= Html.PasswordFor(m => m.Password, new { @id="Login_Password", @class = "required" })%>
            </div>
            <div id="Login_Forgot" class="forgot">
                <a href="/Forgot">Forgot your password?</a>
            </div>
            <div id="Login_RememberMe" class="row tl">
                <input type="checkbox" id="Login_RememberMe" checked="checked" class="checkbox" name="RememberMe" value="true" />
                <label class="checkbox" for="Login_RememberMe">Remember me</label>
            </div>
            <input id="Login_Button" type="button" value="Login" class="button" onclick="$(this).closest('form').submit();" />
            <div class="row">&nbsp;</div>
            <% } %>
        </div>
        </div>
        <% } else { %>
        <div id="browser-window" class="hidden">
            <div class="box-header"><img src="/Images/icons/axxess_icon.png" alt="Axxess Logo" /><span class="title">Browser Compatibility Check</span></div>
            <div class="box">
                <div class="notification info"><span>Your browser version does not meet our minimum browser requirements. <br /><br />Our software supports Internet Explorer 8 and FireFox 3+.<br /><br />Please download Internet Explorer 8 or Firefox by clicking on the links below.</span></div>
                <div>
                    <div class="fl">
                        <a style="font-size: 17px;" href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx" title="Internet Explorer 8 Download">Download Internet Explorer 8</a><br />
                        <a style="font-size: 17px;" href="http://www.mozilla.com/en-US/firefox/" title="Firefox Download">Download Firefox</a><br /><br /><br /><br /><br />
                    </div>
                    <div class="fr"><img src="/images/gui/axxess_logo.jpeg" alt="Axxess Logo" id="logo" /></div>
                </div>
                <div class="cl"></div>
            </div>
        </div>
        <% } %>
        <noscript>
            <div id="javascript-window">
            <div class="box-header"><img src="/Images/icons/axxess_icon.png" alt="Axxess Logo" /><span class="title">JavaScript Check</span></div>
            <div class="box">
                <div class="notification info"><span>Your browser version does not meet our minimum browser requirements. <br /><br /><strong>Our software requires JavaScript to be enabled in your browser.</strong><br /><br />Please contact us at support@axxessweb.com for assistance on how to enable JavaScript.</span></div>
            </div>
        </div>
        </noscript> 
    </div>
    <% Html.Telerik().ScriptRegistrar().jQuery(false).DefaultGroup(group => group
            
             // jQuery
            .Add("jquery-1.8.3.min.js")

            // Other Plugins
            .Add("Plugins/Other/blockui.min.js")
            .Add("Plugins/Other/form.min.js")
            .Add("Plugins/Other/validate.min.js")

            // Modules            
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Utility.js")
            .Add("Modules/" + (AppSettings.UseMinifiedJs ? "min/" : "") + "Account.js")
            
            .Compress(true)
            .Combined(true)
            .CacheDurationInDays(1)
            .Version(Current.AssemblyVersion))
        .OnDocumentReady(() => { %>
                Logon.Init();
    <%  }).Render(); %>
    <% if (Model.IsLocked) { %>
    <script type="text/javascript">
        $("#Login_UserName").attr("disabled", "disabled");
        $("#Login_Password").attr("disabled", "disabled");
        $("#Login_RememberMe").hide();
        $("#Login_Button").hide();
        $("#messages").empty().removeClass().addClass("notification error").append('<span>You have made too many failed login attempts. Please contact your Agency/Companys Administrator.</span>');
    </script>
    <% } %>
</body>
</html>--%>