﻿.page.cms485{background:#fff url(/Images/Print/Oasis/cms485.jpeg) no-repeat center center}
.page.cms487{background:#fff url(/Images/Print/Oasis/cms487.jpeg) no-repeat center center}
.cms48501{top:75px;right:627px;bottom:966px;left:27px;font-size:9pt}
.cms48502{top:75px;right:512px;bottom:966px;left:194px;font-size:9pt}
.cms48503a{top:75px;right:393px;bottom:966px;left:349px;font-size:9pt}
.cms48503b{top:75px;right:265px;bottom:966px;left:440px;font-size:9pt}
.cms48504{top:75px;right:128px;bottom:966px;left:554px;font-size:9pt}
.cms48505{top:75px;right:27px;bottom:966px;left:689px;font-size:9pt}
.cms48506{top:106px;right:418px;bottom:886px;left:27px;font-size:9pt}
.cms48507{top:106px;right:27px;bottom:886px;left:403px;font-size:9pt;line-height:1}
.cms48508{top:174px;right:545px;bottom:870px;left:102px;font-size:9pt}
.cms48509m{top:171px;right:483px;bottom:871px;left:322px;font-size:10pt;line-height:1}
.cms48509f{top:171px;right:443px;bottom:871px;left:359px;font-size:10pt;line-height:1}
.cms48510{top:189px;right:27px;bottom:727px;left:403px;font-size:9pt}
.cms48511a{top:203px;right:721px;bottom:838px;left:27px;font-size:9pt}
.cms48511b{top:203px;right:515px;bottom:838px;left:98px;font-size:9pt}
.cms48511boe{top:203px;right:496px;bottom:838px;left:303px;font-size:9pt}
.cms48511c{top:203px;right:416px;bottom:838px;left:322px;font-size:9pt}
.cms48512{top:0;left:0;height:1px;width:1px}
.cms48512a{top:234px;right:721px;bottom:806px;left:27px;font-size:9pt}
.cms48512b{top:234px;right:496px;bottom:806px;left:98px;font-size:9pt}
.cms48512c{top:234px;right:416px;bottom:806px;left:322px;font-size:9pt}
.cms48513{top:0;left:0;height:1px;width:1px}
.cms48513a{top:267px;right:721px;bottom:726px;left:27px;font-size:9pt}
.cms48513b{top:267px;right:515px;bottom:726px;left:98px;font-size:9pt}
.cms48513boe{top:267px;right:496px;bottom:726px;left:303px;font-size:9pt}
.cms48513c{top:267px;right:416px;bottom:726px;left:322px;font-size:9pt}
.cms48514{top:348px;right:418px;bottom:692px;left:27px;font-size:9pt}
.cms48515{top:348px;right:27px;bottom:692px;left:403px;font-size:9pt}
.cms48516{top:365px;right:418px;bottom:675px;left:116px;font-size:9pt}
.cms48517{top:365px;right:27px;bottom:675px;left:469px;font-size:9pt}*
.cms48518a1{top:397px;right:750px;bottom:645px;left:53px;font-size:10pt;line-height:1}
.cms48518a2{top:415px;right:750px;bottom:627px;left:53px;font-size:10pt;line-height:1}
.cms48518a3{top:430px;right:750px;bottom:613px;left:53px;font-size:10pt;line-height:1}
.cms48518a4{top:446px;right:750px;bottom:597px;left:53px;font-size:10pt;line-height:1}
.cms48518a5{top:397px;right:598px;bottom:645px;left:206px;font-size:10pt;line-height:1}
.cms48518a6{top:415px;right:598px;bottom:627px;left:206px;font-size:10pt;line-height:1}
.cms48518a7{top:430px;right:598px;bottom:613px;left:206px;font-size:10pt;line-height:1}
.cms48518a8{top:446px;right:598px;bottom:597px;left:206px;font-size:10pt;line-height:1}
.cms48518a9{top:397px;right:503px;bottom:645px;left:301px;font-size:10pt;line-height:1}
.cms48518aa{top:415px;right:503px;bottom:627px;left:301px;font-size:10pt;line-height:1}
.cms48518ab{top:430px;right:503px;bottom:613px;left:301px;font-size:10pt;line-height:1}
.cms48518A{top:446px;right:420px;bottom:582px;left:259px;font-size:8pt}
.cms48518b1{top:397px;right:377px;bottom:645px;left:427px;font-size:10pt;line-height:1}
.cms48518b2{top:415px;right:377px;bottom:627px;left:427px;font-size:10pt;line-height:1}
.cms48518b3{top:430px;right:377px;bottom:613px;left:427px;font-size:10pt;line-height:1}
.cms48518b4{top:446px;right:377px;bottom:597px;left:427px;font-size:10pt;line-height:1}
.cms48518b5{top:462px;right:377px;bottom:580px;left:427px;font-size:10pt;line-height:1}
.cms48518b6{top:397px;right:243px;bottom:645px;left:560px;font-size:10pt;line-height:1}
.cms48518b7{top:415px;right:243px;bottom:627px;left:560px;font-size:10pt;line-height:1}
.cms48518b8{top:430px;right:243px;bottom:613px;left:560px;font-size:10pt;line-height:1}
.cms48518b9{top:446px;right:243px;bottom:597px;left:560px;font-size:10pt;line-height:1}
.cms48518ba{top:397px;right:108px;bottom:645px;left:695px;font-size:10pt;line-height:1}
.cms48518bb{top:415px;right:108px;bottom:627px;left:695px;font-size:10pt;line-height:1}
.cms48518bc{top:430px;right:108px;bottom:613px;left:695px;font-size:10pt;line-height:1}
.cms48518bd{top:446px;right:108px;bottom:597px;left:695px;font-size:10pt;line-height:1}
.cms48518B{top:460px;right:27px;bottom:582px;left:525px;font-size:8pt}
.cms485191{top:478px;right:598px;bottom:565px;left:206px;font-size:10pt;line-height:1}
.cms485192{top:492px;right:598px;bottom:551px;left:206px;font-size:10pt;line-height:1}
.cms485193{top:478px;right:503px;bottom:565px;left:301px;font-size:10pt;line-height:1}
.cms485194{top:492px;right:503px;bottom:551px;left:301px;font-size:10pt;line-height:1}
.cms485195{top:478px;right:377px;bottom:565px;left:427px;font-size:10pt;line-height:1}
.cms485196{top:492px;right:377px;bottom:551px;left:427px;font-size:10pt;line-height:1}
.cms485197{top:478px;right:243px;bottom:565px;left:560px;font-size:10pt;line-height:1}
.cms485198{top:492px;right:243px;bottom:551px;left:560px;font-size:10pt;line-height:1}
.cms48519{top:478px;right:27px;bottom:549px;left:617px;font-size:8pt}
.cms485201{top:509px;right:598px;bottom:532px;left:206px;font-size:10pt;line-height:1}
.cms485202{top:509px;right:503px;bottom:532px;left:301px;font-size:10pt;line-height:1}
.cms485203{top:509px;right:377px;bottom:532px;left:427px;font-size:10pt;line-height:1}
.cms485204{top:509px;right:243px;bottom:532px;left:560px;font-size:10pt;line-height:1}
.cms485205{top:509px;right:108px;bottom:532px;left:695px;font-size:10pt;line-height:1}
.cms48521{top:542px;right:27px;bottom:287px;left:27px;font-size:9pt}
.cms48522{top:789px;right:27px;bottom:206px;left:27px;font-size:9pt}
.cms48523{top:866px;right:266px;bottom:173px;left:26px;font-size:10pt}
.cms48524{top:901px;right:417px;bottom:95px;left:26px;font-size:9pt}
.cms48525{top:865px;right:27px;bottom:173px;left:555px;font-size:10pt}
.cms48526a{right:359px;bottom:156px;left:427px;font-size:10pt}
.cms48526b{right:319px;bottom:156px;left:457px;font-size:10pt}
.cms48527{top:980px;right:417px;bottom:41px;left:26px;font-size:10pt}
.cms48701{top:101px;right:651px;bottom:941px;left:33px;font-size:9pt}
.cms48702{top:101px;right:534px;bottom:941px;left:171px;font-size:9pt}
.cms48703a{top:101px;right:393px;bottom:941px;left:337px;font-size:9pt}
.cms48703b{top:101px;right:287px;bottom:941px;left:440px;font-size:9pt}
.cms48704{top:101px;right:166px;bottom:941px;left:533px;font-size:9pt}
.cms48705{top:101px;right:39px;bottom:941px;left:656px;font-size:9pt}
.cms48706{top:137px;right:441px;bottom:904px;left:33px;font-size:9pt}
.cms48707{top:137px;right:39px;bottom:904px;left:378px;font-size:9pt}
.cms487physign{top:915px;right:208px;bottom:125px;left:33px;font-size:9pt}
.cms487phydate{top:915px;right:39px;bottom:125px;left:613px;font-size:9pt}
.cms487sign{top:953px;right:208px;bottom:82px;left:33px;font-size:9pt}
.cms487date{top:953px;right:39px;bottom:82px;left:613px;font-size:9pt}
.content{top:157px;right:37px;bottom:161px;left:31px;font-size:9pt}
.content span{display:block;border-bottom:solid 1px #000;padding:3px}