﻿body{font-size:.75em;font-family:Lucida Grande,Verdana,Helvetica,Sans-Serif;margin:0;padding:0;color:#333}
.header{background-color:#d9e8f4;width:100%}
.wrapper{min-width:60em;max-width:80em;margin:0 auto}
.header .menu{height:3.15em;clear:both;background:url(/Images/gradients.png) repeat-x 0 -800px;line-height:3.15em;color:#fff}
.header .menu ul{list-style:none;padding:0;margin:0}
.header .menu li{float:left}
.header .menu .float-right{font-size:1.4em}
.header .menu a{display:block;padding:0 2em;text-decoration:none;color:#fff;font-size:1.4em}
.header .menu a:hover{background:url(/Images/gradients.png) repeat-x 0 -852px}
.header img{vertical-align:bottom}
.header .phone{font-size:1.5em;font-weight:bold;vertical-align:bottom}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.block{display:block}
.openforum_maincontent .message:first-child{border-top:0 !important}
.teaser_view .message{position:relative;padding:1.5em 0;border-top:dotted .1em #aaa;height:5.5em}
.teaser_view .replies,.teaser_view .views{background:url(/Images/gradients.png) repeat-x 0 -120px;border:solid .1em #d3d3d3;margin:0 .2em;padding:.5em 1em 1em;text-align:center;min-width:3.5em;position:absolute;left:0}
.teaser_view .replies{background:url(/Images/gradients.png) repeat-x 0 -678px;left:6.5em}
.num{font-size:2em;display:block}
.teaser_view a.title{display:block;position:absolute;top:.5em;font-size:1.5em;left:9em;width:15em;height:2.5em;overflow:hidden;color:#338 !important;text-decoration:none !important;font-weight:bold}
.teaser_view a.title:hover{color:#33c !important;text-decoration:underline !important}
.teaser_view .last_activity,.teaser_view .creation{position:absolute;top:1em;right:.3em;font-size:.85em;font-style:italic;height:1.3em;max-width:27em;overflow:hidden}
.teaser_view .last_activity{top:2.5em}
.teaser_view .content{position:absolute;top:4.5em;right:.3em;left:13.5em;text-align:justify;height:3.5em;overflow:hidden}
.main{background-color:#fffcf2;width:75%;float:left;border:solid .1em #888;margin:2em 0;padding:1em 1em 0}
.right{width:20%;float:right}
.encapsulation{background:#6f95d4;border:solid .1em #888;margin:2em 0;padding:0 0 1em 0}
.encapsulation h5{font-size:1.2em;margin:0 0 1em;text-align:center;color:#fff;text-shadow:0 .1em .1em #000;background:url(/Images/gradients.png) repeat-x 0 0;padding-top:1em}
.encapsulation ul{list-style:none;margin:0;padding:0}
.encapsulation li a{background:#eee;display:block;height:3em;border-top:solid .1em #888;border-bottom:solid .1em #888;font-size:1.2em;line-height:3em;margin:-.1em 0;color:#333;text-decoration:none;text-align:center}
.encapsulation li a:hover{background:#e3cbcb}
label{font-size:1.4em;font-weight:bold}
.openforum_textbox,.openforum_textarea{margin-bottom:1em !important;width:100% !important;font-family:Lucida Grande,Verdana,Helvetica,Sans-Serif;font-size:1.4em}
.openforum_textarea{height:20em}
.post_view{position:relative}
.post_view .title{font-size:2em;font-weight:bold;color:#333;border-bottom:solid .1em #888}
.post_view .content{font-size:1.4em;text-align:justify}
.post_view .creation{position:absolute;right:2em;background:url(/Images/gradients.png) repeat-x 0 -678px;border:.1em solid #D3D3D3;height:2em;padding:1em}
.post_view span{text-align:center}
.post_view .reply_section{margin-top:4.5em}
.replies .reply:first-child{border-top:0 !important}
.post_view .reply{margin-bottom:3.5em;padding:1.5em .5em;border-top:dotted .1em #aaa}
.post_controls{background:url(/Images/gradients.png) repeat-x 0 0;border-top:.1em solid #888888;display:block;height:2.5em;list-style:none;margin:1em -1em 0;padding:0 1em}
.post_controls li.first{border-left:.2em ridge #6f95d4}
.post_controls li{border-right:.2em ridge #6f95d4;float:left}
.post_controls li a,.post_controls li span{text-decoration:none;color:#fff;font-size:1em;text-shadow:0 .1em .1em #000;font-weight:bold;display:block;height:1.5em;line-height:1.5em;padding:.5em 2em}
.post_controls li a:hover{background:url(/Images/sprite.png) no-repeat center -130px}
.hidden{display:none}
#wysiwyg div{width:100% !important}
#wysiwyg .nicEdit-panel div{width:18px !important}
.phoneicon{display:inline-block;width:31px;height:22px;background:url(/Images/sprite.png) no-repeat -161px 0}
.axxesstech{display:inline-block;width:207px;height:57px;background:url(/Images/logos.png) no-repeat 0 -61px}