﻿/* -- Email List and Recipient List -- */
.folder-selection,.compose-header{font-size:1.5em;top:2.8em;padding:.25em 1em;cursor:pointer}
.folder-selection,.compose-header,.message-header-container{position:absolute;left:-.1em;right:-.1em;border:.1em solid #666;
    box-shadow:0 .1em .25em #888;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c7e4', endColorstr='#85a4d5');
    background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#85a4d5),to(#b4c7e4))}
.compose-header{top:0;cursor:default}
.compose-header .buttons{font-size:.67em}
.folder-selection .ui-icon-circle-triangle-s{margin:10px 0}
.selectMenu ul{position:absolute;top:2.7em !important;left:.5em !important;right:.5em;border:.1em solid #666;cursor:pointer;font-size:.8em;max-height:14.5em;overflow:auto;
    box-shadow:0 .25em .5em #888;
    border-radius:0 0 .5em .5em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce0e6', endColorstr='#97a6be');
    background-image:-moz-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-o-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#97a6be),to(#dce0e6))}
.selectMenu li{padding:0 1em;border-bottom:.1em dotted #888}
.selectMenu li:last-child{border-bottom:0 none}
.selectMenu li:hover{background-color:rgba(94,198,237,.25)}
.message-list{background-color:#fffcf2;position:absolute;top:7.6em;right:0;bottom:0;left:0}
.message-list .t-grid-header{display:none}
.message-list .t-grid-content{top:0}
.read-false{font-weight:bold}
.recipient-list{position:absolute;top:0;right:0;bottom:0;left:0}
.recipient-panel{background-color:#fffcf2;overflow:auto;position:absolute;top:3.3em;right:0;bottom:0;left:0}
.recipient-panel .recipient{overflow:hidden;padding:.25em}
.recipient-panel .recipient label{padding-left:.5em;vertical-align:text-bottom}
/* -- Message View -- */
.message-content{bottom:0;left:0;position:absolute;right:0;top:0}
.message-header-container,.message-body-container{padding:1em 2em}
.message-header-container.compose{padding:1em 2em 0 0}
.message-body-container{overflow:auto;top:11.75em;bottom:0;left:0;right:0;position:absolute}
.message-body-container div{position:absolute;top:1em;right:1em;left:1em;bottom:1em}
textarea#NewMessage_Body{height:100%;width:100%;overflow:auto;background-color:#fffcf2;border:0 none}
.message-header-row{margin-bottom:.3em;position:relative}
.compose.message-header-container{top:3.2em}
.compose .message-header-row{margin-left:10em;min-height:2em}
.compose .message-header-row label{line-height:2em}
.message-header-row span{position:absolute;left:8em;right:3em;height:1.5em;overflow:auto}
.message-header-row a.more{position:absolute;right:2.5em}
.compose-input{position:absolute;top:0;right:0;bottom:0;left:7.5em}
.compose-input.to{position:relative;left:0;margin:-2em 0 0 7.5em}
.compose .styled-uploader-input{position:absolute;top:0;right:10em;left:0}
#message-body{padding:1em}
#message-body a{cursor:pointer}
#message-body li{list-style:disc outside none}
#message-body div{position:static}
#message-body address,#message-body blockquote,#message-body dd,#message-body div,#message-body dl,#message-body dt,#message-body fieldset,#message-body h1,#message-body h2,#message-body h3,#message-body h4,#message-body h5,#message-body h6,#message-body ol,#message-body p,#message-body ul,#message-body center,#message-body dir,#message-body hr,#message-body menu,#message-body pre{display:block;unicode-bidi:embed}
#message-body li{display:list-item}
#message-body table{display:table}
#message-body tr{display:table-row}
#message-body thead{display:table-header-group}
#message-body tbody{display:table-row-group}
#message-body tfoot{display:table-footer-group}
#message-body col{display:table-column}
#message-body colgroup{display:table-column-group}
#message-body td,#message-body th{display:table-cell}
#message-body caption{display:table-caption}
#message-body th{font-weight:bolder;text-align:center}
#message-body caption{text-align:center}
#message-body h1{font-size:2em;margin:.67em 0}
#message-body h2{font-size:1.5em;margin:.75em 0}
#message-body h3{font-size:1.17em;margin:.83em 0}
#message-body h4,#message-body p,#message-body blockquote,#message-body ul,#message-body fieldset,#message-body ol,#message-body dl,#message-body dir,#message-body menu{margin:1.12em 0}
#message-body h5{font-size:.83em;margin:1.5em 0}
#message-body h6{font-size:.75em;margin:1.67em 0}
#message-body h1,#message-body h2,#message-body h3,#message-body h4,#message-body h5,#message-body h6,#message-body b,#message-body strong{font-weight:bolder}
#message-body blockquote{margin-left:40px;margin-right:40px}
#message-body i,#message-body cite,#message-body em,#message-body var,#message-body address{font-style:italic}
#message-body pre,#message-body tt,#message-body code,#message-body kbd,#message-body samp{font-family:monospace}
#message-body pre{white-space:pre}
#message-body big{font-size:1.17em}
#message-body small,#message-body sub,#message-body sup{font-size:.83em}
#message-body sub{vertical-align:sub}
#message-body sup{vertical-align:super}
#message-body table{border-spacing:0px}
#message-body thead,#message-body tbody,#message-body tfoot{vertical-align:middle}
#message-body td,#message-body th,#message-body tr{vertical-align:inherit}
#message-body s,#message-body strike,#message-body del{text-decoration:line-through}
#message-body hr{border:1px inset}
#message-body ol,#message-body ul,#message-body dir,#message-body menu,#message-body dd{margin-left:40px}
#message-body ol{list-style-type:decimal}
#message-body ol ul,#message-body ul ol,#message-body ul ul,#message-body ol ol{margin-top:0;margin-bottom:0}
#message-body u,#message-body ins{text-decoration:underline}
#message-body br:before{content:"\A";white-space:pre-line}
#message-body center{text-align:center}
#message-body :link,#message-body :visited{text-decoration:underline}
#messaging-container{margin:0;text-align:left;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px}
/* -- Token Input -- */
.recipient-list-input{overflow:auto;overflow-x:hidden;width:100%;border:.1em solid #d1d1d1;cursor:text;background-color:#fff;margin:.2em 0;max-height:5em}
.recipient-list-input li input{border:0;width:100%}
.recipient-list-token{margin:.25em;padding:.15em 1em;background-color:#eff2f7;color:#000;cursor:default;border:.1em solid #ccd5e4;float:left;
    border-radius:.5em;
    box-shadow:.1em .1em .25em #ccd5e4,inset .1em .1em .25em #fff}
li.recipient-list-token span{color:#a6b3cf;margin-left:5px;font-weight:bold;cursor:pointer}
li.recipient-list-token-selected{background-color:#5670a6;border:1px solid #3b5998;color:#fff}
li.recipient-list-token-input{clear:left}
div.recipient-list-select{position:relative;margin-left:150px;background-color:#fff;overflow:hidden;border:1px solid #ccc;cursor:default;font-size:11px;font-family:Verdana;width:400px}
div.recipient-list-select p{margin:0;padding:5px;font-weight:bold;color:#777;position:relative}
div.recipient-list-select ul{margin:0;padding:0}
div.recipient-list-select ul li{background-color:#fff;padding:3px}
div.recipient-list-select ul li.token-input-dropdown-item-facebook{background-color:#fff}
div.recipient-list-select ul li.token-input-dropdown-item2-facebook{background-color:#fff}
div.recipient-list-select ul li em{font-weight:bold;font-style:normal}
div.recipient-list-select ul li.token-input-selected-dropdown-item-facebook{background-color:#3b5998;color:#fff}
/* -- WYSIWYG -- */
#NewMessage_BodyWrapper{position:absolute;top:13.5em;right:0;bottom:0;left:0;margin:0;padding:0}
.cke_toolgroup,.cke_combo_button{border-color:#666 !important;
    box-shadow:none !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c7e4', endColorstr='#7691bd');
    background-image:-moz-linear-gradient(90deg,#7691bd,#b4c7e4) !important;
    background-image:-o-linear-gradient(90deg,#7691bd,#b4c7e4) !important;
    background-image:-webkit-gradient(linear,right bottom,right top,from(#7691bd),to(#b4c7e4)) !important}
.cke_combo_text{font-weight:bold !important;color:#333 !important}
.cke_toolbar_separator{background-color:#666 !important;
    box-shadow:none !important}
.cke_top{border-top-width:0 !important;border-right-width:0 !important;border-left-width:0 !important;background:#85a4d5 !important;border-bottom:.1em solid #666 !important;
    box-shadow:none !important}
a.cke_button:hover{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7096d5', endColorstr='#435f8e');
    background-image:-moz-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5) !important;
    background-image:-o-linear-gradient(90deg,#435f8e,#5c7db3 49%,#6c8fc7 50%,#7096d5) !important;
    background-image:-webkit-gradient(linear,left bottom,left top,from(#435f8e),to(#7096d5),color-stop(.49,#5c7db3),color-stop(.5,#6c8fc7)) !important}
.cke,.cke_inner,.cke_contents{position:absolute;top:0;right:0;bottom:0;left:0;height:auto !important}
.cke_contents{top:3.5em}
.cke{border:0 !important;box-shadow:none !important}
.cke_combopanel,.cke_menu_panel,.cke_panel{height:12.5em !important;border:.1em solid #666 !important;
    box-shadow:.1em .1em .25em #aaa !important}
.wysiwyg{height:20em}
.wysiwyg div{width:100% !important}
.wysiwyg .nic-edit-panel div{width:18px !important}
/* -- CSS Cancelling for Message Styling -- */
#NewMessage_Body a{cursor:pointer}
#NewMessage_Body li{list-style:disc outside none}
#NewMessage_Body div{position:static}
#NewMessage_Body address,#NewMessage_Body blockquote,#NewMessage_Body dd,#NewMessage_Body div,#NewMessage_Body dl,#NewMessage_Body dt,#NewMessage_Body fieldset,#NewMessage_Body h1,#NewMessage_Body h2,#NewMessage_Body h3,#NewMessage_Body h4,#NewMessage_Body h5,#NewMessage_Body h6,#NewMessage_Body ol,#NewMessage_Body p,#NewMessage_Body ul,#NewMessage_Body center,#NewMessage_Body dir,#NewMessage_Body hr,#NewMessage_Body menu,#NewMessage_Body pre{display:block;unicode-bidi:embed}
#NewMessage_Body li{display:list-item}
#NewMessage_Body table{display:table}
#NewMessage_Body tr{display:table-row}
#NewMessage_Body thead{display:table-header-group}
#NewMessage_Body tbody{display:table-row-group}
#NewMessage_Body tfoot{display:table-footer-group}
#NewMessage_Body col{display:table-column}
#NewMessage_Body colgroup{display:table-column-group}
#NewMessage_Body td,#NewMessage_Body th{display:table-cell}
#NewMessage_Body caption{display:table-caption}
#NewMessage_Body th{font-weight:bolder;text-align:center}
#NewMessage_Body caption{text-align:center}
#NewMessage_Body h1{font-size:2em;margin:.67em 0}
#NewMessage_Body h2{font-size:1.5em;margin:.75em 0}
#NewMessage_Body h3{font-size:1.17em;margin:.83em 0}
#NewMessage_Body h4,#NewMessage_Body p,#NewMessage_Body blockquote,#NewMessage_Body ul,#NewMessage_Body fieldset,#NewMessage_Body ol,#NewMessage_Body dl,#NewMessage_Body dir,#NewMessage_Body menu{margin:1.12em 0}
#NewMessage_Body h5{font-size:.83em;margin:1.5em 0}
#NewMessage_Body h6{font-size:.75em;margin:1.67em 0}
#NewMessage_Body h1,#NewMessage_Body h2,#NewMessage_Body h3,#NewMessage_Body h4,#NewMessage_Body h5,#NewMessage_Body h6,#NewMessage_Body b,#NewMessage_Body strong{font-weight:bolder}
#NewMessage_Body blockquote{margin-left:40px;margin-right:40px}
#NewMessage_Body i,#NewMessage_Body cite,#NewMessage_Body em,#NewMessage_Body var,#NewMessage_Body address{font-style:italic}
#NewMessage_Body pre,#NewMessage_Body tt,#NewMessage_Body code,#NewMessage_Body kbd,#NewMessage_Body samp{font-family:monospace}
#NewMessage_Body pre{white-space:pre}
#NewMessage_Body big{font-size:1.17em}
#NewMessage_Body small,#NewMessage_Body sub,#NewMessage_Body sup{font-size:.83em}
#NewMessage_Body sub{vertical-align:sub}
#NewMessage_Body sup{vertical-align:super}
#NewMessage_Body table{border-spacing:2px}
#NewMessage_Body thead,#NewMessage_Body tbody,#NewMessage_Body tfoot{vertical-align:middle}
#NewMessage_Body td,#NewMessage_Body th,#NewMessage_Body tr{vertical-align:inherit}
#NewMessage_Body s,#NewMessage_Body strike,#NewMessage_Body del{text-decoration:line-through}
#NewMessage_Body hr{border:1px inset}
#NewMessage_Body ol,#NewMessage_Body ul,#NewMessage_Body dir,#NewMessage_Body menu,#NewMessage_Body dd{margin-left:40px}
#NewMessage_Body ol{list-style-type:decimal}
#NewMessage_Body ol ul,#NewMessage_Body ul ol,#NewMessage_Body ul ul,#NewMessage_Body ol ol{margin-top:0;margin-bottom:0}
#NewMessage_Body u,#NewMessage_Body ins{text-decoration:underline}
#NewMessage_Body br:before{content:"\A";white-space:pre-line}
#NewMessage_Body center{text-align:center}
#NewMessage_Body :link,#NewMessage_Body :visited{text-decoration:underline}
#list-messages .t-state-selected{font-weight:normal}

/* -- Overrides to make work on old version -- */
#list-messages .t-grid-content{height:auto !important;bottom:2em}
#list-messages .t-status-text{font-size:.8em}
.folder-selection .ui-triangle-s{margin:.7em 0}
.wrapper.blue{background-color:#d6e5f3}
.img.icon.email{background-position:-227px -172px;vertical-align:sub}
.dropdown-button{display:inline-block;margin:0 auto;padding:0 .5em;border:.1em solid #666;font-size:1em;font-weight:bold;position:relative;z-index:1;cursor:pointer;background-color:#b4c7e4;
    border-radius:.25em;
    box-shadow:.1em .1em .25em #888;
    background-image:-moz-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-o-linear-gradient(90deg,#85a4d5,#b4c7e4);
    background-image:-webkit-gradient(linear,right bottom,right top,from(#85a4d5),to(#b4c7e4))}
.dropdown-button .menu{left:.25em;right:.25em;border:.1em solid #666;overflow:hidden;cursor:pointer;position:absolute;top:2.3em;text-align:left;
    box-shadow:0 .25em .5em #888;
    border-radius:0 0 .5em .5em;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce0e6', endColorstr='#97a6be');
    background-image:-moz-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-o-linear-gradient(95deg,#97a6be,#dce0e6);
    background-image:-webkit-gradient(linear,right bottom,left top,from(#97a6be),to(#dce0e6))}
.dropdown-button li{padding:.25em 1em}
.dropdown-button .menu li{border-bottom:.1em dotted #888}
.dropdown-button .menu li:last-child{border-bottom:0 none}
.dropdown-button .menu .hover{background-color:rgba(94,198,237,.25)}
.folder-selection .selectMenu{position:absolute !important;width:auto !important;top:0;right:0;bottom:0;left:0;padding:.5em 1em}
