﻿/* -- General -- */
.ui-tabs-nav li.ui-state-default a {
	color: #333;
}
.ui-tabs-nav li.ui-state-disabled a {
	color: #8D8D8D;
}
.ui-tabs-nav li.ui-state-hover {
	background-color:#dce6f5;
	border-color: #688caf;
}
.ui-tabs-nav li a:hover {
	border-bottom: 0;
}

/* -- Vertical Tabs -- */
.vertical-tab-list{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;width:225px;padding-top:10px;position:absolute;top:0;bottom:0;left:0;border:solid 1px #b8b8b8}
.vertical-tab-list li{background:#c3d8f1 url(/Content/Office2007/sprite.png) repeat-x scroll 0 -352px;display:block;border:solid 1px #b8b8b8;border-right:0;width:210px;height:22px;padding-left:5px;margin:0 0 0 9px;line-height:22px}
.vertical-tab-list .ui-state-hover{background:#dce6f5;border-color:#688caf;margin-left:6px;width:213px}
.vertical-tab-list .ui-tabs-selected{cursor:default;margin-left:2px;width:218px;background:#fff}
.vertical-tab-list li a{cursor:pointer;color:#333 !important;display:block;width:205px;height:22px}
.general{position:relative;height:100%;overflow:auto;margin-left:225px;border:solid 1px #b8b8b8;border-left:0;z-index:99;}

/* -- Horizontal Tabs -- */
.horizontal-tabs {
    background-color:#d6e8f5;
    border:0 none;
}
.horizontal-tab-list {
    margin:1px .5em !important;
    position:relative;
    z-index:1;
}
.horizontal-tab-list li {
	border:.1em solid #b8b8b8;
    border-bottom-color:#688caf;
	-ms-border-radius:1em 1em 0 0;
	border-radius:1em 1em 0 0;
    display:inline-block;
    padding:.4em 1em;
}

.horizontal-tab-list li a {
    color:#888;
    font-weight:700;
}
.horizontal-tab-list li.ui-state-active {
    background-color:#fff;
    border-color:#688caf #688caf #fff;
}
.horizontal-tab-list li.ui-state-active a {
    color:#333;
}

.horizontal-tabs .required-legend {
	top: 0.5em;
}

.horizontal-tabs .tab-content {
    background-color:#fff;
    border:.1em solid #688caf;
    bottom:.5em;
    left:.5em;
    overflow:auto;
    padding:.5em;
    position:absolute;
    right:.5em;
    top:4.5em;
}
.wrapper.horizontal-tabs.blue {
    background-color:#d6e5f3;
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0;
}
