﻿/*-- border radius --*/
.trical .abs-left a,.trical .abs-right a,.edit-eps a{border-radius:0 0 1em 0;-moz-border-radius:0 0 1em 0;-webkit-border-radius:0 0 1em 0;-o-border-radius:0 0 1em 0;-khtml-border-radius:0 0 1em 0;}
.trical .abs-right a{border-radius:0 0 0 1em;-moz-border-radius:0 0 0 1em;-webkit-border-radius:0 0 0 1em;-o-border-radius:0 0 0 1em;-khtml-border-radius:0 0 0 1em;}
.edit-eps a{border-radius:0 0 1em 1em;-moz-border-radius:0 0 1em 1em;-webkit-border-radius:0 0 1em 1em;-o-border-radius:0 0 1em 1em;-khtml-border-radius:0 0 1em 1em;}
fieldset,.two-thirds,.modal-gray,fieldset .shade,#tooltip.calday,.tooltip-box,.message-content-panel div.message-header-container,.message-content-panel div.message-body-container{border-radius:.9em;-moz-border-radius:.9em;-webkit-border-radius:.9em;-o-border-radius:.9em;-khtml-border-radius:.9em;}
.encapsulation h4,.show-scheduler,.widget,.widget-more,#print-return-reason{border-radius:.9em .9em 0 0;-moz-border-radius:.9em .9em 0 0;-webkit-border-radius:.9em .9em 0 0;-o-border-radius:.9em .9em 0 0;-khtml-border-radius:.9em .9em 0 0;}
.vertical-tab-list li{border-radius:.9em 0 0 .9em;-moz-border-radius:.9em 0 0 .9em;-webkit-border-radius:.9em 0 0 .9em;-o-border-radius:.9em 0 0 .9em;-khtml-border-radius:.9em 0 0 .9em;}
.medication .t-grid{border-radius:0 0 .8em .8em;-moz-border-radius:0 0 .8em .8em;-webkit-border-radius:0 0 .8em .8em;-o-border-radius:0 0 .8em .8em;-khtml-border-radius:0 0 .8em .8em;}
.widget-head{border-radius:.7em .7em 0 0;-moz-border-radius:.7em .7em 0 0;-webkit-border-radius:.7em .7em 0 0;-o-border-radius:.7em .7em 0 0;-khtml-border-radius:.7em .7em 0 0;}
div.buttons li a,.ancillary-button a{border-radius:.6em;-moz-border-radius:.6em;-webkit-border-radius:.6em;-o-border-radius:.6em;-khtml-border-radius:.6em;}
div.buttons li,.ancillary-button{border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;-o-border-radius:.5em;-khtml-border-radius:.5em;}
.medication .t-grid-footer{border-radius:0 0 .5em .5em;-moz-border-radius:0 0 .5em .5em;-webkit-border-radius:0 0 .5em .5em;-o-border-radius:0 0 .5em .5em;-khtml-border-radius:0 0 .5em .5em;}
.tooltip_oasis,.tooltip-box .content,.nursing th,.nursing td,.nursingsub th,.nursingsub td,#bar-top ul.menu ul.menu,#bar-bottom li a,.window,.ui-dialog,.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer,.billing ul,.billing ol,.address-block,#directions{border-radius:.4em;-moz-border-radius:.4em;-webkit-border-radius:.4em;-o-border-radius:.4em;-khtml-border-radius:.4em;}
#print-box,#validation-box,#bar-top ul.menu ul li:first-child a,.window-top,.ui-dialog-titlebar,.billing li.first,.billing .discpiline-title{border-radius:.4em .4em 0 0;-moz-border-radius:.4em .4em 0 0;-webkit-border-radius:.4em .4em 0 0;-o-border-radius:.4em .4em 0 0;-khtml-border-radius:.4em .4em 0 0;}
#print-controls,#oasis-validation-controls,#bar-top ul.menu,#bar-top ul.menu li:last-child a,#bar-top ul.menu ul li:last-child a,.window-bottom,.billing li.last{border-radius:0 0 .4em .4em;-moz-border-radius:0 0 .4em .4em;-webkit-border-radius:0 0 .4em .4em;-o-border-radius:0 0 .4em .4em;-khtml-border-radius:0 0 .4em .4em;}
.events ul,.window-min,.window-resize,.window-close,.ui-dialog-titlebar-close{border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;-o-border-radius:.3em;-khtml-border-radius:.3em;}
.vertical-tab-list,.general,.nursing table td,.nursing table th,.nursingsub table td,.nursingsub table th,#bar-top ul.menu li:last-child li a,.window-full,.window-full .window-top,.window-full .window-bottom{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;-khtml-border-radius:0;}
/*-- box shadow --*/
#bar-top,#bar-top ul.menu,.message-content-panel div.message-header-container,.message-content-panel div.message-body-container{box-shadow:#333 .1em .1em .4em;-moz-box-shadow:#333 .1em .1em .4em;-webkit-box-shadow:#333 .1em .1em .4em;-o-box-shadow:#333 .1em .1em .4em;-khtml-box-shadow:#333 .1em .1em .4em;}
.window,.ui-dialog,#tooltip.calday,.tooltip-box{box-shadow:#555 .2em .2em .6em;-moz-box-shadow:#555 .2em .2em .6em;-webkit-box-shadow:#555 .2em .2em .6em;-o-box-shadow:#555 .2em .2em .6em;-khtml-box-shadow:#555 .2em .2em .6em;}
.window.window_stack,.ui-dialog{box-shadow:#333 .4em .4em 1.5em;-moz-box-shadow:#333 .4em .4em 1.5em;-webkit-box-shadow:#333 .4em .4em 1.5em;-o-box-shadow:#333 .4em .4em 1.5em;-khtml-box-shadow:#333 .4em .4em 1.5em;}
.window-close:hover,.ui-dialog-titlebar-close:hover{box-shadow:#f00 0 0 1em;-moz-box-shadow:#f00 0 0 1em;-webkit-box-shadow:#f00 0 0 1em;-o-box-shadow:#f00 0 0 1em;-khtml-box-shadow:#f00 0 0 1em;}
.window-min:hover,.window-resize:hover{box-shadow:#09f 0 0 1em;-moz-box-shadow:#09f 0 0 1em;-webkit-box-shadow:#09f 0 0 1em;-o-box-shadow:#09f 0 0 1em;-khtml-box-shadow:#09f 0 0 1em;}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{box-shadow:#bbb .3em .3em .5em;-moz-box-shadow:#bbb .3em .3em .5em;-webkit-box-shadow:#bbb .3em .3em .5em;-o-box-shadow:#bbb .3em .3em .5em;-khtml-box-shadow:#bbb .3em .3em .5em;}
.cal .active,.billing li.hover,.ancillary-button a:hover,div.buttons li a:hover,.t-state-selected{box-shadow:#888 0 0 .8em;-moz-box-shadow:#888 0 0 .8em;-webkit-box-shadow:#888 0 0 .8em;-o-box-shadow:#888 0 0 .8em;-khtml-box-shadow:#888 0 0 .8em;}
.widget,#print-return-reason,.address-block,#directions{box-shadow:#333 .2em .2em .5em;-moz-box-shadow:#333 .2em .2em .5em;-webkit-box-shadow:#333 .2em .2em .5em;-o-box-shadow:#333 .2em .2em .5em;-khtml-box-shadow:#333 .2em .2em .5em;}
#print-box,#validation-box,#print-controls,#oasis-validation-controls{box-shadow:#000 1em 1em 2em;-moz-box-shadow:#000 1em 1em 2em;-webkit-box-shadow:#000 1em 1em 2em;-o-box-shadow:#000 1em 1em 2em;-khtml-box-shadow:#000 1em 1em 2em;}
.nursing th,.nursing td,.nursingsub th,.nursingsub td,.billing ul,.billing ol,#final-tabs fieldset{box-shadow:#aaa 0 .2em .3em;-moz-box-shadow:#aaa 0 .2em .3em;-webkit-box-shadow:#aaa 0 .2em .3em;-o-box-shadow:#aaa 0 .2em .3em;-khtml-box-shadow:#aaa 0 .2em .3em;}
.events ul{box-shadow:#333 0 .7em .7em;-moz-box-shadow:#333 0 .7em .7em;-webkit-box-shadow:#333 0 .7em .7em;-o-box-shadow:#333 0 .7em .7em;-khtml-box-shadow:#333 0 .7em .7em;}
.ancillary-button a:active,div.buttons li a:active{box-shadow:#000 0 0 .5em;-moz-box-shadow:#000 0 0 .5em;-webkit-box-shadow:#000 0 0 .5em;-o-box-shadow:#000 0 0 .5em;-khtml-box-shadow:#000 0 0 .5em;}
.nursing table td,.nursing table th,.nursingsub table td,.nursingsub table th{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;-khtml-box-shadow:none;}