﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Final>" %>
<% using (Html.BeginForm("SupplyVerify", "Billing", FormMethod.Post, new { @id = "billingSupply" }))%>
<%  { %>
<fieldset>
    <div class="row">
        
    </div>
    <div class="row">
        <div style="text-align: center; vertical-align: middle; width: 100%;" class="buttons">
            <ul style="margin: 0px; width: 100%; text-align: center;">
                <li><span class="button orange_btn"><span><span>Back</span></span><input type="button"
                    name="" id=" " onclick="Billing.NavigateBack(1);"></span></li>
                <li><span class="button send_form_btn"><span><span>Verify and Finish</span></span><input
                    type="submit" name="" id="" onclick="Billing.Navigate(1,'#billingSupply');"></span></li>
            </ul>
        </div>
    </div>
</fieldset>
<%} %>