﻿/* New Design */
html,body{background-color:#b8b8b8;text-align:center;margin:0;font-family:Arial,Helvetica,sans-serif;color:#333;height:100%}
img{border:0}
a{color:#333}
a.reg{color:#b9253f}
h1,h2,h3,h4,h5{margin:0}
ul{list-style-type:square;padding:0 0 0 1.5em}
input[type=text],input[type=password]{width:15em;margin:.25em 0}
#Login_Button{width:0;height:0;border:0}
input[type=checkbox]{height:1.5em;vertical-align:middle}
label{line-height:2em}
.upper{text-transform:uppercase}
.hidden{display:none}
.sm{font-size:.9em}
.xs{font-size:.75em}
.xl{font-size:1.4em}
.clr{clear:both}
.fl{float:left}
.fr{float:right}
.no-text{font-size:0}
.wrapper{width:1020px;background:#fff url(/Images/loginback.png) repeat-y;box-shadow:0 .1em .5em #333;position:relative;margin:0 auto;min-height:100%}
.main{width:40em;padding:2em 1em}
.right{width:19.6em;padding:2em 1em}
.more-button{background-color:#b8b8b8;padding:.1em 1em .3em;font-size:.75em}
.title{padding:1em 5em;border:.1em solid #e0e0e0;width:275px;margin:0 auto}
.title legend{background:url(/Images/loginsprite.png) no-repeat -10px 0;margin-left:55px;width:157px;height:25px}
.title h1{background:url(/Images/loginsprite.png) no-repeat -10px -25px;width:268px;height:31px}
.login-box{background:#f6f6f6 url(/Images/logo-ghost.png) no-repeat 1.5em center;margin:4em auto;padding:2em;width:20em;border-radius:.5em;box-shadow:.0 0 .5em #d3d3d3 inset}
.login-button{background-color:#b9233c;color:#fff;margin:.5em 0;padding:.1em 2em .3em}
.more-button,.login-button{cursor:pointer}
.row{clear:both}
.footer{background-color:#2d2d2d;color:#fff;font-size:.625em;line-height:2;position:absolute;bottom:0;width:100%;letter-spacing:1px}
#bXStyle{margin: 0 auto}
#axxessEventsBox .sws{width:19.6em !important}
#bxHdr div{left:0 !important;top:4px !important}
.blockUI{font-size:.75em}
/* Page Blocks */
.box{background:#fff;border:1px solid #9d9d9d;margin-bottom:15px;padding:15px;border-top:0; min-height: 160px;}
.box a{color:#1f92ff;text-decoration:none}
.box a:hover{color:#1f92ff;text-decoration:underline}
.box-header{background:url(/Images/gradients.png) repeat-x 0 -80px;padding:0 10px;height:25px;overflow:hidden;font-weight:bold;line-height:22px;text-align:center;color:#fff;text-shadow:#000 0 1px 1px}
.box-header .img{float:left;margin:2px 0 0 0}
.box-header .fr a{color:#333;text-decoration:none;font-size:12px;padding:0 5px}
.box-header .fr a:hover{color:#1f92ff}
.img.icon{width:22px;height:22px;display:inline-block;background:url(/Images/sprite.png) no-repeat 0 -86px}
.img.icon.axxess{width:28px;background-position:-219px -12px}
.img.axxesslogo{width:156px;height:141px;display:inline-block;background:url(/Images/logos.png) no-repeat 0 -119px;position:absolute;right:20px}
/* Notifications */
.notification span{display:block;margin-left:45px;font-size:1.2em;}
.notification .icon{height:31px;width:32px;background:url(/Images/sprite.png) no-repeat 0 0;display:block;float:left;margin-left:0}
.notification.success{background-color:#effeb9;border-color:#98c700}
.notification.success .icon{background-position:-64px 0}
.notification.error{background:#fccac3;border-color:#ea5338}
.notification.error .icon{background-position:-128px 0}
.notification.warning{background:#ffeaa7;border-color:#f9b418}
.notification.info{background:#d1e4f3;border-color:#4d8fcc}
.notification.info .icon{background-position:-96px 0}
.notification.tip{background:#feeac9;border-color:#d38e49}
.notification.tip .icon{background-position:-32px 0}
.notification{min-height:31px;border-width:1px;border-style:solid;padding:17px;margin-bottom:15px}
/* Buttons */
.button{cursor:pointer;font:14px/100% Arial,Helvetica,sans-serif;outline:medium none;text-decoration:none;text-shadow:#333 0 1px 1px;vertical-align:baseline;background:url(/Images/gradients.png) repeat-x 0 -582px;color:#e9e9e9;width:90px !important}
.button:hover{background:url(/Images/gradients.png) repeat-x 0 -646px;text-decoration:none}
.button:active{background:url(/Images/gradients.png) repeat-x 0 -614px;color:#afafaf;position:relative;top:1px}
.forgot{position:absolute;right:5px;bottom:20px}
/* Change Password Page */
#changepassword-wrapper{width:500px;position:absolute;top:0;right:0;bottom:0;left:0}
#changepassword-window{width:500px;position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-200px}
.box-header.changePassword{font-size:19px;padding:10px 15px}
form.changepassword label{width:200px;float:left}
form.changepassword input{width:200px}
/* Forgot Password Page */
#forgotPassword-wrapper{width:500px;position:absolute;top:0;right:0;bottom:0;left:0}
#forgotpassword-window{position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-200px; width: 500px;}
.box-header.forgotPassword{font-size:19px;padding:10px 15px}
form.forgotPassword label{width:145px}
form.forgotPassword input{width:200px}
/* Activate Account Page */
#activateaccount-wrapper{width:550px;position:absolute;top:0;right:0;bottom:0;left:0}
#activateaccount-window{position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-200px; width: 550px;}
.box-header.activateAccount{font-size:19px;padding:10px 15px}
form.activateaccount label{width:200px;float:left}
form.activateaccount input{width:200px}
/* Link Account Page */
#linkaccount-wrapper{width:550px;position:absolute;top:0;right:0;bottom:0;left:0}
#linkaccount-window{position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-200px;width:550px;}
.box-header.linkAccount{font-size:19px;padding:10px 15px}
form.linkaccount label{width:200px;float:left}
form.linkaccount input{width:200px}
h1{font-size:16px;font-weight:bold}
.box h1{font-size:16px}
.box h2{font-size:14px}
/* Password Strength */
#iSM{margin:0 0 15px 0;padding:0;height:14px;float:left}
#iSM ul{border:0;margin:4px 0 0 0;padding:0;list-style-type:none;text-align:center}
#iSM ul li{display:block;float:left;text-align:center;padding:1px 0 0 0;margin:0;height:14px}
#iWeak,#iMedium,#iStrong{width:71px;font-size:.7em;color:#adadad;text-align:center;padding:2px;background-color:#F1F1F1;display:block}
#iWeak,#iMedium{border-right:solid 1px #DEDEDE}
#iMedium{width:70px}
#iMedium,#iStrong{border-left-width:0}
/* -- Agency Selection Links */
.agencySelection{background-color:#d3d3d3;padding:10px}
#agencySelectionLinks ul{list-style-type:none;width:400px}
#agencySelectionLinks li{border:.1em solid #333;margin:5px 0;background:#b9c8d5;}
#agencySelectionLinks li a{color:#990000;display:block;font:bold 120% Arial,Helvetica,sans-serif;padding:5px;text-decoration:none}
* html #agencySelectionLinks li a{width:400px}
#agencySelectionLinks li a:hover{background:#ffffcc}
#agencySelectionLinks a em{color:#333;display:block;font:normal 85% Verdana,Arial,Helvetica,sans-serif;line-height:125%}
#agencySelectionLinks a span{color:#125F15;font:normal 70% Verdana,Arial,Helvetica,sans-serif;line-height:150%}
/* -- Bottom Adspace -- */
#bottom_wrapper{position:absolute;background:transparent url(/Images/Dashboard/pinkplaid.png) repeat fixed 0 0;bottom:0;left:0;right:0;height:150px}
#bottom_gradient_box{width:100%;height:100%;text-align:center}
#bottom_image_box{background-image:url(/Images/home-health-training.png);width:700px;height:247px;position:absolute;bottom:0;left:50%;margin-left:-350px}
#bottom_button{display:inline-block;margin:8.5em;position:relative;background-color:#b82b3c}
#bottom_button a{display:inline-block;font-size:1.2em;padding:.5em 2em;font-weight:bolder;text-shadow:.1em .1em .1em #000;text-decoration:none;color:#fff}
#bottom_button a:hover{background:url(/Images/sprite.png) no-repeat center -133px}
/* -- jGrowl/Notification System -- */
.jGrowl{position:fixed;padding:10px;z-index:9999;color:#333;font-size:12px}
.jGrowl.top-right{right:0;top:30px}
.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{background:#ddd;opacity:.95;width:235px;padding:10px;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;border:solid 1px #bbb}
.jGrowl div.jGrowl-notification{min-height:40px}
.jGrowl div.jGrowl-notification div.header{font-weight:bold;font-size:.85em}
.jGrowl div.jGrowl-notification div.close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer}
.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center}
.jGrowl div.error{background:#fccac3;color:#333}
.jGrowl div.success{background:#b6d4b6;color:#333}
.jGrowl div.warning{background:#fff8d8;color:#333}

#forgotpassword-window,#activateaccount-window{font-size:12px}
#forgotpassword-window .title,#activateaccount-window .title{border:0}