﻿/* -- Forms -- */
input[type=checkbox],input[type=radio]{border:0 none !important}
.green,a.green,.ui-widget-content a.green{color:#368c36}
fieldset.oasis{background:#ebfceb}
fieldset.loc485{background:#e3e3e3}
fieldset input,fieldset select,.nursing input,.nursing select{width:200px;margin:3px;vertical-align:middle}
fieldset table input,fieldset table select{width:184px}
fieldset textarea{width:98%;height:50px}
fieldset.half{width:45%}
fieldset.half .column,fieldset .wide-column{width:95%;padding:10px 2.5%}
fieldset.half.float-left{margin:10px 0 10px 10px}
fieldset.half.float-right{margin:10px 10px 10px 0}
fieldset .column{width:46%;padding:10px;float:left}
fieldset .column.narrow{width:20%;padding:10px;float:left}
fieldset .column .row:first-child,fieldset .wide-column .row:first-child,fieldset .wide-column .column .row:first-child{border-top:none}
fieldset .row,fieldset .wide-column .column .row{width:100% !important;clear:both;max-width:450px;position:relative;display:block;padding:2px 0;margin:2px auto;border-top:dotted 1px #ddd}
fieldset .wide-column .row{max-width:1500px}
fieldset table{width:100%;padding:10px;table-layout:fixed;text-align:left}
fieldset table.layout-auto{table-layout:auto}
table.borders{border:solid 1px #d3d3d3;border-collapse:collapse}
.borders td{border:solid 1px #d3d3d3;border-collapse:collapse}
fieldset table td{vertical-align:top}
fieldset table tr.line-seperated td,fieldset table tr.line-seperated th{border-top:dotted 1px #ddd;padding-top:5px}
fieldset table tr.line-seperated-vertical td{border-left:dotted 1px #ddd;padding-left:5px;vertical-align:bottom}
fieldset table tr.line-seperated-vertical td:first-child{border-left:0}
fieldset.oasis .row .float-right{margin-right:24px}
fieldset.oasis .row .float-right.oasis{margin-right:0}
fieldset label{width:auto !important;vertical-align:middle}
label.radio,span.radio{display:block;margin-left:25px}
fieldset .more{display:inline-block !important;margin-left:2px !important;width:240px !important;vertical-align:top}
fieldset .more.small{width:140px !important}
label.radio.fixed,label.inline-radio.fixed{width:105px !important;display:inline-block;margin-left:0}
fieldset label.inline-radio{margin-right:22.5px;vertical-align:top;display:inline-block}
fieldset label.inline-radio.fixed.small{width:25px !important;margin-right:0}
fieldset h3{font-weight:bold;border-bottom:.05em dotted #d3d3d3}
fieldset h4{font-weight:bold;text-transform:uppercase}
fieldset h5{font-weight:bold}
.normal{font-weight:normal;display:block}
.margin{margin-left:50px;margin-bottom:5px}
.AddressStateCode{width:125px}
.AddressStateCode-telerik input{margin:0px; width:184px;}

.input-directions{background:#fff url(/Images/sprite.png) no-repeat -190px 6px}
.name_short{width:167px}
.oasis-container .AddressStateCode{width:120px;margin-right:2px}
#StartOfCare_M0014BranchState,#Recertification_M0014BranchState,#ResumptionOfCare_M0014BranchState,#FollowUp_M0014BranchState,#DischargeFromAgencyDeath_M0014BranchState,#DischargeFromAgency_M0014BranchState{width:200px;margin-right:5px}
.password,.loc{width:120px !important}
.passgen,.st{width:77px}
.mapaddr{width:100%;margin-bottom:2px}
.mapcity{width:35%}
.mapzip{width:20%;float:right}
.rates{width:50px}
.icd,.icdwidth,.sn,table .sn,.procedureICD{width:50px !important}
.insurance-modifier{width:42px !important}
.mid_length{width:25%}
.pad{width:20%}
.severity{width:35px}
.oe{width:105px !important}
.shortOption{width:40px !important}
.padDiagnosis{padding-left:13px}
.padDiagnosis .third{width:32%;float:left}
.icdtext{width:50% !important}
table .halfOfTd{width:50%;float:left}
table .quarter{width:25%}
table .quarterCol{width:25%; float:left !important}
table .t-input{width:80%}
input.date,input.time{width:183px}
table.claim .date{width:100%}
.hasDatepicker{width:180px}
.noborders td,.noborders th{border:0;padding:2px 12px}
.vitals{width:45px !important}
.sensory{width:120px !important}
.procedureDiagnosis,.diagnosis{width:45%}
table .diagnosisDate{width:100px;padding-left:13px}
.width100{width:100px !important}
.fill{width:100%}
td .fill{width:94%}
td .fill.date-picker{width:75%}
.green_button,.red_button,.grey_button{margin:0;border:0;height:23px;font-weight:bold;vertical-align:top;color:#fff;padding-bottom:4px;width:auto !important}
.zip{width:65px}
.longtext{width:400px}
.width200{width:200px}
.phone_short{width:52px !important;vertical-align:middle}
.phone_long{width:60px !important;vertical-align:middle}
fieldset select,.t-datepicker{margin-right:5px}
.t-input{width:176px}
.nursing .t-input{width:inherit}
.mi,.small-digit{width:25px !important}
.firstvisit{background-color:#fff;padding:10px;width:500px}
.missedvisitmodal{background-color:#fff;padding:10px;width:750px}
.patienteligibility{background-color:#fff;padding:10px;width:800px}
.resetsignature{background-color:#fff;padding:10px;width:470px}
.newphysicianmodal{background-color:#fff;padding:10px;width:900px}
.newphotomodal{background-color:#fff;padding:10px;width:400px}
.newadmitpatientmodal{background-color:#fff;padding:10px;width:900px}
.multidayscheduler{background-color:#fff;padding:10px;width:90%}
.newnonadmitpatientmodal,.newepisodemodal,.editepisodemodal,.claimupdatemodal,.claimnewmodal,.dischargepatientmodal{background-color:#fff;padding:10px;width:900px}
.reassignpatientmodal{background-color:#fff;padding:10px;width:400px;}
.ordershistoryeditmodal{background-color:#fff;padding:10px;width:400px;}
.reassignschedulepatientmodal{background-color:#fff;padding:10px;width:400px;}
.planofcaremedicationmodal{background-color:#fff;padding:10px;width:950px}
.changestatusmodal{background-color:#fff;padding:10px;width:950px}
.medprofilemodal{background-color:#fff;padding:10px;width:650px}
.allergyprofilemodal{background-color:#fff;padding:10px;width:650px}
.managedclaimepisodemodal{background-color:#fff;padding:10px;width:450px}
input.radio,input.bigradio{border:0;height:auto;width:auto;margin:2px 5px;padding:0}
input.bigradio{height:15px;width:15px}
.alphali{display:inline-block;width:13px;vertical-align:middle}
.contact{border:0;padding:2px;vertical-align:baseline}
ul.buttons{list-style:none;text-align:center;margin:0 1px 0 5px}
ul.buttons li{height:25px;display:inline;line-height:normal;margin-right:2px}
form img{padding:0;margin:0;border:0}
div.buttons{text-align:center}
div.buttons ul{list-style:none;display:inline-block;margin:0 .5em .5em}
.row div.buttons ul{margin:0}
div.buttons li{float:left;margin:1px 5px;background:url(/Images/gradients.png) repeat-x 0 -480px}
.fc-state-default .fc-button-inner{background:url(/Images/gradients.png) repeat-x 0 -480px}
div.buttons li.red{background-position:0 -950px}
div.buttons li a{overflow:hidden;border:solid 1px #495668;display:block;padding:1px 25px;color:#fff !important;height:19px;line-height:19px;text-shadow:0 1px 1px #000;font-weight:bold}
div.buttons li.red a{border-color:#684949}
div.buttons li.send{background-position:0 -502px;margin:3px 15px}
div.buttons li.send span.img.icon{position:relative}
div.buttons li.send a{padding:25px 15px 35px}
div.buttons li.send a:active{padding:23px 17px 37px 13px}
.ancillary-button{width:198px;height:23px;margin:3px;background:url(/Images/sprite.png) no-repeat 0 -63px}
.ancillary-button a{border:solid 1px #495668;display:block;width:176px;height:20px;padding:1px 10px;color:#fff;text-shadow:0 1px 1px #000;font-weight:bold}
.ancillary-button a:hover,div.buttons li a:hover{background:url(/Images/sprite.png) no-repeat center -133px}
.ancillary-button a:active,div.buttons li a:active{background:url(/Images/sprite.png) no-repeat center -157px;color:#ddd !important;border-color:#333 #aaa #aaa #333;padding:0 26px 2px 24px}
.ancillary-button a:active{padding:0 11px 2px 9px}
form label.error{position:absolute;color:#fc3c21;font-size:10px;clear:both;font-weight:normal;top:5px;left:-50px;width:50px !important}
form table label.error{top:80%;left:90%}
#newNonAdmitPatientForm table label.error{top:60%;left:90%}
form input.error{border:1px solid #fccac3;background:#ecbab3}
form input.error:focus{border:1px solid #ea5338;background:#ecbab3}
form select.error{border:1px dotted #ea5338;background:#ecbab3}
.Physicians{width:183px !important}
.row.hidden{display:none}
span.radio a{color:#00c;text-decoration:underline}
.nocolborder td{border-right-width:0;border-left-width:0}
.border-right{border-right:solid 1px #d3d3d3 !important}
.rowbottomborder{border-bottom:solid 2px black}
.fixedSmall{width:60px;display:inline-block}
.paddingBellow{padding-bottom:5px}
ul.fixedheight li{display:block;height:25px}
.clearanchor{text-decoration:underline;color:Blue !important;padding-top:6px;padding-left:6px}
.smalltextbox{width:100%;height:25px}
tr.border-bottom td{border-bottom:dotted 1px #d3d3d3 !important}
.oasis_diagnoses{display:block}
.oasis_diagnosis{display:block}
.diagnosis_title .h4{width:24%}
.diagnosis_title .h4 p{font-weight:bold;text-transform:uppercase;text-align:center}
.diagnosis_colwidth{display:inline-block;width:25%}
.diagnosis_title p,.diagnosis_title label{padding:.5em}
.diagnosis-item{background-color:#e0f1e0;padding:10px;margin:3px 0;border:solid 1px #aaa}
.diagnosis-item .handle.sortable{cursor:move}
.oasis_m1022{clear:both}
.diagnosis-item .diagnosis-delete{float:right;margin:-16px}
.diagnosis-item .diagnosis-delete .img.icon.error-small{background-position:-118px -108px;height:22px;width:22px}
.diagnosis-item .diagnosis-delete span{cursor:pointer}
.nonoasis .diagnosis-item{background-color:#d6dada}
.cms485_diagnoses .diagnosis-item{background-color:#f5f0df;padding:.25em 2.5em .25em .5em;clear:both}
.cms485_diagnoses .diagnosis-item .diagnosis-delete{right:10px;top:5px}
.cms485_diagnoses .diagnosis-item .abs{padding:5px 0}
.diagnosis-item a{cursor:pointer}
.diagnosis-item input{cursor:text}
.diagnosis-item span,.diagnosis-item label,.diagnosis-item select{cursor:default}
.diagnosis_colwidth_double{width:100%}
.diagnosis_colwidth_double .third{display:inline-block;width:auto;margin-right:5%}
.diagnosis-item .oasis{margin-right:5px !important}
.diagnosis-item .t-input{width:75px}
.diagnosis_up,.diagnosis_down{display:inline-block;width:22px;height:22px;float:left;background:url(/Images/sprite.png) no-repeat -219px -62px;margin:-3px 2px}
.diagnosis_down{background-position:-197px -62px}
.diagnosis_input .tooltip_oasis{color:#fff !important;margin-top:-14px}
.braden{border-spacing:.5em .5em}
hr{border-bottom:solid 1px #aaa}
.braden hr.eighty{width:80%;float:left}
.braden td,.braden th{border:solid .1em #aaa;background-color:#f5f0df}
.braden td{padding:.3em;cursor:pointer}
.braden td input{width:auto !important;vertical-align:sub;border:0 none}
.braden thead th{text-align:center;text-transform:uppercase;font-size:1.2em;background:#c3d8f1 url("/Content/Office2007/sprite.png") repeat-x scroll 0 -352px;color:#333;text-shadow:1px 1px 2px #fff}
.braden tbody th{text-align:center;background:#c3d8f1 url("/Content/Office2007/sprite.png") repeat-x scroll 0 -352px}
.braden tbody p{font-weight:normal}
.braden td.active{border:solid .1em #9bbe9f;background-color:#edf5ee}
.braden h5{text-align:center;text-transform:uppercase}
.braden .total{border:0 none;text-align:center;vertical-align:bottom;background:transparent none}
.braden_score{margin:0 auto;width:155px}
.braden_score li{text-align:left;display:block;width:150px;font-weight:normal}
.braden_score li.strong,.tinetti_score li.strong{font-weight:bold;padding:.1em;border:solid .1em #9bbe9f;background-color:#edf5ee}
.ins_disc,.ins_rate,.ins_type ,.ins_code{display:inline-block}
.ins_rate,.ins_code {width:18%}
.ins_disc{width:55%;}
.ins_type{width:20%;}
.ins_type select {width:90%;}
.int_edittype {width:100%;}
.addrem{margin:4px 0 0 10px;width:50px}
/* -- New SNVisit Checkgroup Layout --*/
.checkgroup li{clear:both}
.checkgroup .checkgroup{text-align:left;margin-left:25px}
.checkgroup.inline li{float:left;margin-right:.5em;clear:none}
.checkgroup.twocol li{float:left;width:50%;clear:none}
.checkgroup .option{float:left;min-height:25px}
.checkgroup.bold .option label{font-weight:bold}
.checkgroup .extra .option label{font-weight:normal}
.checkgroup .extra{float:right;text-align:right}
.checkgroup .option input{width:auto}
.inline-radio{margin-left:5px}

fieldset .checkgroup .option{width:30%;min-width:300px;padding:.5em;border:solid .1em #d3d3d3;margin:.2em}
fieldset.oasis .checkgroup .option{padding-bottom:0}
fieldset .checkgroup.wide .option{width:95%}
fieldset .checkgroup.narrow .option{width:20%;min-width:175px}
fieldset table .checkgroup .option{width:80%;min-width:50px}
fieldset .checkgroup .option.selected{background-color:#fffcf2;border-color:#dbd0ad}
fieldset.oasis .checkgroup .option.selected{background-color:#edf5ee;border-color:#9bbe9f}
fieldset.oasis .checkgroup.padfix .option{padding-bottom:.5em}
fieldset.loc485 .checkgroup .option.selected{background-color:#e3e3e3;border-color:#aaa}
fieldset .checkgroup .option input[type=checkbox],fieldset .checkgroup .option input[type=radio]{float:left;width:auto}
fieldset .checkgroup .option input.no_float{float:none}
.sm-diagnoses-list{width:500px;margin:0 auto}
.sm-diagnoses-list .title{font-weight:bold}
.sm-diagnoses-list span{text-align:center;display:inline-block}
.sm-diagnoses-list input{width:100%}
.sm-diagnoses-list input.hasDatepicker{width:120px}
.sm-diagnoses-list .alphali{width:20px}
.sm-diagnoses-list .diagnosis-name{width:350px}
.sm-diagnoses-list .surgical-proc{width:220px}
.sm-diagnoses-list .diagnosis-code{width:120px}
.sm-diagnoses-list .surgical-date{width:150px}
input.ub0481cc {width:100px;}
input.ubo4-code { width: 40px; }
input.ubo4-date { width: 85px; }

.ancillary-button.center { margin-left:auto; margin-right:auto; }

.blocked-button { box-shadow: 0 0 0.5em #000000; border-color: #333333 #AAAAAA #AAAAAA #333333; color: #DDDDDD !important;padding: 0 26px 2px 24px; background: url('/Images/sprite.png') no-repeat scroll center -157px transparent; }