﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<ul id="widget_col1" class="widgets">
    <li class="widget" id="intro_widget">
        <div class="widget-head"><h5>Hello,&nbsp;<%= Current.DisplayName %>!</h5></div>
        <div class="widget-content">
            
        </div>
    </li>
</ul>